@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model FrMezuniyetBasvurulari
@{
    var item = Model;

    var tabAdi = "";
    var tabIconClass = "";
    var durumAdi = "";
    var durumIconClass = "";
    var durumAciklama = "";
    var durumColor = "";
    var durumDetay = "";
    var durumDetayIconClass = "";
    var aciklamaDetay = "";

    if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.IptalEdildi)
    {
        tabAdi = "İptal Edildi";
        tabIconClass = "fa fa-list-alt fa-lg";
        durumAdi = "Başvuru İptal Edildi";
        durumIconClass = "fa fa-thumbs-o-down";
        durumColor = "maroon";
        durumDetay = item.MezuniyetYayinKontrolDurumAciklamasi.IsNullOrWhiteSpace() ? "" : (item.MezuniyetYayinKontrolDurumAciklamasi.Substring(0, (item.MezuniyetYayinKontrolDurumAciklamasi.Length > 45 ? 45 : item.MezuniyetYayinKontrolDurumAciklamasi.Length)) + "...");
        durumDetayIconClass = "fa fa-comments-o";
        aciklamaDetay = item.MezuniyetYayinKontrolDurumAciklamasi;
    }
    else if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KaydiSilindi)
    {
        tabAdi = "Kayıt Silindi";
        tabIconClass = "fa fa-list-alt fa-lg";
        durumAdi = "Öğrenci kaydı silindi";
        durumIconClass = "fa fa-thumbs-o-down";
        durumColor = "maroon";
        durumDetay = item.MezuniyetYayinKontrolDurumAciklamasi.IsNullOrWhiteSpace() ? "" : (item.MezuniyetYayinKontrolDurumAciklamasi.Substring(0, (item.MezuniyetYayinKontrolDurumAciklamasi.Length > 45 ? 45 : item.MezuniyetYayinKontrolDurumAciklamasi.Length)) + "...");
        durumDetayIconClass = "fa fa-comments-o";
        aciklamaDetay = item.MezuniyetYayinKontrolDurumAciklamasi;
    }
    else if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.Taslak)
    {
        tabAdi = "Yeni Başvuru";
        tabIconClass = "fa fa-list-alt fa-lg";
        durumAdi = "Başvuru taslak durumunda";
        durumIconClass = item.DurumClassName;
        durumDetayIconClass = "fa fa-exclamation-triangle";
        durumDetay = "Süreç Devamı İçin Öğrenci Onayı Gerekmekte.";
    }
    else if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.Onaylandi)
    {
        tabAdi = "Yeni Başvuru";
        tabIconClass = "fa fa-list-alt fa-lg";
        if (item.IsDanismanOnay == true)
        {
            durumAdi = "Danışman Onayladı";
            durumIconClass = "fa fa-thumbs-o-up";
            durumAciklama = "Danışman Onay Tarihi: " + item.DanismanOnayTarihi.ToFormatDateAndTime();
            durumColor = "green";
            durumDetayIconClass = "fa fa-clock-o";
            durumDetay = "EYK sürecine geçiş için enstitü onayı beklenmektedir.";
            aciklamaDetay = "Başvuru danışman tarafından " + (item.DanismanOnayTarihi.HasValue ? item.DanismanOnayTarihi.ToFormatDateAndTime() + " tarihinde" : "") + " onaylanmıştır. Mezuniyet işleminin devamı için Enstitünün onaylaması gerekmektedir.";
        }
        else if (item.IsDanismanOnay == false)
        {

            durumAdi = "Danışman Tarafından Reddedildi";
            durumIconClass = "fa fa-thumbs-o-down";
            durumAciklama = "Danışman Ret Tarihi: " + item.DanismanOnayTarihi.ToFormatDateAndTime();
            durumColor = "maroon";
            durumDetayIconClass = "fa fa-comments-o";
            durumDetay = item.DanismanOnayAciklama.IsNullOrWhiteSpace() ? "" : (item.DanismanOnayAciklama.Substring(0, (item.DanismanOnayAciklama.Length > 45 ? 45 : item.DanismanOnayAciklama.Length)) + "...");
            aciklamaDetay = item.DanismanOnayAciklama;


        }
        else
        {
            durumAdi = "Danışman Onayı Bekleniyor";
            durumIconClass = "fa fa-clock-o";
            durumColor = "green";
            durumDetay = "Enstitü, başvuru kabulü yapabilmek için danışman onayını beklemektedir.";
            durumDetayIconClass = "fa fa-clock-o";

        }
    }
    else if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi)
    {


        if (item.SrTalebi == null && item.MezuniyetBasvurulariTezDosyasi == null && !item.TeslimFormDurumu)
        {
            tabAdi = "EYK Süreci";
            tabIconClass = "fa fa-group fa-lg";

            if (item.MezuniyetJuriOneriFormu == null)
            {
                durumAdi = "Form Oluşturulmadı";
                durumIconClass = "fa fa-file-text-o";
                durumColor = "green";
                durumDetay = "EYK süreci başlangıcı için jüri öneri formu oluşturulmalı.";
                durumDetayIconClass = "fa fa-clock-o";
            }
            else
            {
                if (item.MezuniyetJuriOneriFormu.EYKDaOnaylandi.HasValue)
                {


                    if (item.MezuniyetJuriOneriFormu.EYKDaOnaylandi.Value)
                    {

                        durumAdi = "EYK'da Onaylandı";
                        durumAciklama = "EYK Tarihi: " + item.EYKTarihi.ToFormatDate();
                        durumIconClass = "fa fa-thumbs-o-up";
                        durumColor = "green";
                        durumDetay = "Öğrencinin tez sınav talebinde bulunması bekleniyor.";
                        durumDetayIconClass = "fa fa-clock-o";

                    }
                    else
                    {
                        durumAdi = "EYK'da Onaylanmadı";
                        durumAciklama = "İşlem Tarihi: " + item.MezuniyetJuriOneriFormu.EYKDaOnaylandiOnayTarihi.ToFormatDateAndTime();
                        durumIconClass = "fa fa-thumbs-o-down";
                        durumColor = "maroon";
                        durumDetay = "EYK süreci devamı için yeni jüri öneri formu oluşturulmalı.";
                        durumDetayIconClass = "fa fa-clock-o";
                    }

                }
                else
                {
                    if (item.MezuniyetJuriOneriFormu.EYKYaHazirlandi.HasValue)
                    {

                        durumAdi = "EYK'Ya Hazırlandı";
                        durumAciklama = "İşlem Tarihi: " + item.MezuniyetJuriOneriFormu.EYKYaHazirlandiIslemTarihi.ToFormatDateAndTime();
                        durumIconClass = "fa fa-thumbs-o-up";
                        durumColor = "green";
                        durumDetay = "Jüri öneri formu için enstitü tarafından EYK'da onay işlemi sonucunun girişi bekleniyor.";
                        durumDetayIconClass = "fa fa-clock-o";
                        aciklamaDetay = "Jüri öneri formu EYK'ya hazırlandı. Mezuniyet işleminin devamı için enstitünün EYK'da onay işlemini sisteme girmesi gerekmektedir.";



                    }
                    else if (item.MezuniyetJuriOneriFormu.EYKYaGonderildi.HasValue)
                    {
                        if (item.MezuniyetJuriOneriFormu.EYKYaGonderildi.Value)
                        {

                            durumAdi = "EYK'Ya Gönderildi";
                            durumAciklama = "İşlem Tarihi: " + item.MezuniyetJuriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime();
                            durumIconClass = "fa fa-thumbs-o-up";
                            durumColor = "green";
                            durumDetay = "Jüri öneri formu için enstitü tarafından EYK'ya hazırlama işlemi sonucu girişi bekleniyor.";
                            durumDetayIconClass = "fa fa-clock-o";
                            aciklamaDetay = "Jüri öneri formu EYK'ya gönderimi onaylandı. Mezuniyet işleminin devamı için enstitünün EYK'ya hazırlama işlemini gerçekleştirmesi gerekmektedir.";

                        }
                        else
                        {
                            durumAdi = "EYK'Ya Gönderimi Onaylanmadı";
                            durumAciklama = "İşlem Tarihi: " + item.MezuniyetJuriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime();
                            durumIconClass = "fa fa-thumbs-o-down";
                            durumColor = "maroon";
                            durumDetay = "Jüri öneri formu EYK'ya gönderimi onaylanmadı.";
                            durumDetayIconClass = "fa fa-comments-o";
                            aciklamaDetay = "Jüri öneri formu EYK'ya gönderim onaylanmadı. Mezuniyet işleminin devamı için enstitünün EYK'ya gönderim onay işlemi yapması gerekmektedir.";

                        }
                    }
                    else
                    {
                        durumAdi = "EYK'Ya Gönderimi Bekleniyor";
                        durumIconClass = "fa fa-clock-o";
                        durumColor = "green";
                        durumDetay = "Jüri öneri formunun enstitü tarafından EYK'ya gönderimi bekleniyor.";
                        durumDetayIconClass = "fa fa-clock-o";
                    }
                }
            }

        }
        else if (item.MezuniyetBasvurulariTezDosyasi == null && !item.TeslimFormDurumu)
        {
            tabAdi = "Sınav Süreci";
            tabIconClass = "fa fa-edit fa-lg";
            var isDanismanUzatmaSonrasiOnay = item.SrTalebi.IsDanismanUzatmaSonrasiOnay;
            var isOgrenciUzatmaSonrasiOnay = item.SrTalebi.IsOgrenciUzatmaSonrasiOnay;
            var isEnstituOnayiVar = item.SrTalebi.MezuniyetSinavDurumID > MezuniyetSinavDurumEnum.SonucGirilmedi;
            var enstituSinavDurumId = item.SrTalebi.MezuniyetSinavDurumID;
            var isJuriOnayiVar = item.SrTalebi.JuriSonucMezuniyetSinavDurumID > MezuniyetSinavDurumEnum.SonucGirilmedi;
            var juriSinavDurumId = item.SrTalebi.JuriSonucMezuniyetSinavDurumID;

            if (isDanismanUzatmaSonrasiOnay.HasValue)
            {
                if (item.SrTalebi.IsDanismanUzatmaSonrasiOnay.Value)
                {
                    durumAdi = "Uzatma Talebi";
                    durumAciklama = "Onay Tarihi: " + item.SrTalebi.DanismanOnayTarihi.ToFormatDateAndTime();
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    durumDetay = "Danışman tez kontrol onayını yaptı. Öğrenci, yeni tez sınavı talebi oluşturmalıdır.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    durumAdi = "Uzatma Talebi";
                    durumAciklama = "Onay Tarihi: " + item.SrTalebi.DanismanOnayTarihi.ToFormatDateAndTime();
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    durumDetay = "Danışman tarafından tez teslimi taahhüdü reddedildi.";
                    durumDetayIconClass = "fa fa-comments-o";
                    aciklamaDetay = item.DanismanOnayAciklama;
                }
            }
            else if (isOgrenciUzatmaSonrasiOnay.HasValue)
            {
                if (item.SrTalebi.IsOgrenciUzatmaSonrasiOnay.Value)
                {
                    durumAdi = "Uzatma Talebi";
                    durumAciklama = "Onay Tarihi: " + item.SrTalebi.OgrenciOnayTarihi.ToFormatDateAndTime();
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    durumDetay = "Öğrenci tez teslim taahhüdü yaptı. Danışman, tez kontrol onayını yapmalıdır.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    durumAdi = "Uzatma Talebi";
                    durumAciklama = "Ret Tarihi: " + item.SrTalebi.OgrenciOnayTarihi.ToFormatDateAndTime();
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    durumDetay = "Uzatma talebi sonrası öğrenci tez teslim taahhüdünü reddetti.";
                    durumDetayIconClass = "fa fa-thumbs-o-down";
                }
            }
            else if (isEnstituOnayiVar)
            {
                if (enstituSinavDurumId == MezuniyetSinavDurumEnum.Uzatma)
                {

                    durumAdi = "Uzatma Talebi";
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    if (Model.SrTalebi.SRTaleplerJuris.Any(a => !a.UnvanAdi.IsNullOrWhiteSpace()))
                    {
                        durumDetay = "Sınav sonucunu enstitü onayladı. Öğrenci, tez teslim taahhüdü yapmalıdır.";
                    }
                    else
                    {
                        durumDetay = "Sınav sonucunu enstitü onayladı. Öğrenci, yeni tez sınavı talebi yapmalıdır.";
                    }
                    durumDetayIconClass = "fa fa-comments-o";
                }
                else if (enstituSinavDurumId == MezuniyetSinavDurumEnum.Basarili)
                {
                    durumAdi = "Sınav Sonucu Başarılı";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Sınav sonucunu enstitü onayladı. Öğrenci, tez kontrolü için dosya yüklemelidir.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else if (enstituSinavDurumId == MezuniyetSinavDurumEnum.Basarisiz)
                {
                    durumAdi = "Sınav Sonucu Başarısız";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumColor = "maroon";
                    durumDetay = "Sınav sonucunu enstitü onayladı. Mezuniyet süreci başarısızlıkla sonuçlandı.";
                    durumDetayIconClass = "fa fa-comments-o";
                }

            }
            else if (isJuriOnayiVar)
            {
                if (juriSinavDurumId == MezuniyetSinavDurumEnum.Uzatma)
                {
                    durumAdi = "Uzatma Talebi";
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    durumDetay = "Jüri sınav sonucunu uzatma olarak değerlendirdi. Enstitünün onayı gerekmektedir.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else if (juriSinavDurumId == MezuniyetSinavDurumEnum.Basarili)
                {
                    durumAdi = "Jüri Üyeleri Sınav Sonucunu Başarılı Olarak Değerlendirdi";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Jüri sınav sonucunu başarılı olarak değerlendirdi. Enstitünün onayı gerekmektedir.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else if (juriSinavDurumId == MezuniyetSinavDurumEnum.Basarisiz)
                {
                    durumAdi = "Jüri Üyeleri Sınav Sonucunu Başarısız Olarak Değerlendirdi";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumColor = "maroon";
                    durumDetay = "Jüri sınav sonucunu başarısız olarak değerlendirdi. Enstitünün onayı gerekmektedir.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    durumAdi = "Sınav Talebi Onaylandı";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Tez sınav değerlendirme süreci devam ediyor.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
            }
            else
            {
                if (item.SrTalebi.SRDurumID == SrTalepDurumEnum.TalepEdildi)
                {
                    durumAdi = "Sınav Talebi Yapıldı";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Enstitü tarafından sınav talebinin onaylanması bekleniyor.";
                    durumDetayIconClass = "fa fa-comments-o";
                }
                else if (item.SrTalebi.SRDurumID == SrTalepDurumEnum.Onaylandı)
                {
                    durumAdi = "Sınav Talebi Onaylandı";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Tez sınav değerlendirme süreci devam ediyor.";
                    durumDetayIconClass = "fa fa-clock-o";

                }
                else if (item.SrTalebi.SRDurumID == SrTalepDurumEnum.Reddedildi)
                {
                    durumAdi = "Sınav Talebi Reddedildi";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumColor = "maroon";
                    durumDetay = "Enstitü tarafından sınav talebi reddedildi. Yeni sınav talebi oluşturulması bekleniyor.";
                    durumDetayIconClass = "fa fa-clock-o";
                    aciklamaDetay = "Ret Açıklaması: " + item.SrTalebi.SRDurumAciklamasi;
                }
                else if (item.SrTalebi.SRDurumID == SrTalepDurumEnum.IptalEdildi)
                {
                    durumAdi = "Sınav Talebi İptal Ededildi";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumColor = "maroon";
                    durumDetay = "Enstitü tarafından sınav talebi iptal edildi. Yeni sınav talebi oluşturulması bekleniyor.";
                    durumDetayIconClass = "fa fa-clock-o";

                }
            }
        }
        else if (!item.TeslimFormDurumu)
        {
            tabAdi = "Tez Kontrol Süreci";
            tabIconClass = "fa fa-file-text-o fa-lg";

            if (item.MezuniyetBasvurulariTezDosyasi.IsOnaylandiOrDuzeltme.HasValue)
            {
                if (item.MezuniyetBasvurulariTezDosyasi.IsOnaylandiOrDuzeltme == true)
                {
                    durumAdi = "Tez Dosyası Onaylandı";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Enstitü tarafından tez dosyası onaylandı. Tez teslim formu oluşturulmalıdır.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    durumAdi = "Düzeltme Talep Edildi";
                    durumIconClass = "fa fa-edit";
                    durumColor = "maroon";
                    durumDetay = "Enstitü tarafından tez düzeltmesi talep edildi. Yeni tez dosyası yüklenmelidir.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
            }
            else
            {
                durumAdi = "Tez Dosyası Yüklendi";
                durumIconClass = "fa fa-file-pdf-o";
                durumColor = "green";
                durumDetay = "Öğrenci tez kontrolü için dosyayı yükledi. Enstitü onayı bekleniyor.";
                durumDetayIconClass = "fa fa-clock-o";
            }

        }
        else
        {
            tabAdi = "Mezuniyet Süreci";
            tabIconClass = "fa fa-graduation-cap fa-lg";

            if (item.IsMezunOldu.HasValue)
            {
                if (item.IsMezunOldu.Value)
                {
                    durumAdi = "Öğrenci Ciltli Son Tez Teslimini Yapmıştır";
                    durumIconClass = "fa fa-graduation-cap";
                    durumColor = "green";
                    durumDetay = "Mezuniyet Tarihi: " + item.MezuniyetTarihi.ToFormatDate();
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    durumAdi = "Öğrenci Mezun Olamadı";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumColor = "maroon";
                }
            }
            else
            {
                durumAdi = "Tez Teslim Formu Oluşturuldu";
                durumIconClass = "fa fa-graduation-cap";
                durumColor = "green";
                durumDetay = "Enstitü tarafından tez teslim formu onayı bekleniyor.";
                durumDetayIconClass = "fa fa-clock-o";
            }
        }



    }



}


<table>
    <tbody>
        <tr style="color:@durumColor">
            <td>
                <i class="@tabIconClass" aria-hidden="true"></i> <span style="font-size:9pt;margin:0px;"> @tabAdi</span>  <span style="font-size:7pt;" title="@durumAciklama"><i style="font-size:8pt;" class="@durumIconClass"></i> @durumAdi</span>
            </td>
        </tr>
        <tr>
            <td>

                @if (durumDetay != "")
                {
                    <span style="font-size:7pt;" title="@aciklamaDetay"><i style="font-size:8pt;" class="@durumDetayIconClass"></i> @durumDetay</span>
                }
            </td>
        </tr>
    </tbody>
</table>

