@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos 
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model FrMezuniyetBasvurulari
@{
    var item = Model;

    var tabAdi = "";
    var tabIconClass = "";
    var durumAdi = "";
    var durumIconClass = "";
    var durumAciklama = "";
    var durumColor = "";
    var durumDetay = "";
    var durumDetayIconClass = "";
    var aciklamaDetay = "";

    if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumu.IptalEdildi)
    {
        tabAdi = "Yeni Başvuru";
        tabIconClass = "fa fa-list-alt fa-lg";
        durumAdi = "Başvuru İptal Edildi";
        durumIconClass = "fa fa-thumbs-o-down";
        durumColor = "maroon";
        durumDetay = item.MezuniyetYayinKontrolDurumAciklamasi.IsNullOrWhiteSpace() ? "" : (item.MezuniyetYayinKontrolDurumAciklamasi.Substring(0, (item.MezuniyetYayinKontrolDurumAciklamasi.Length > 45 ? 45 : item.MezuniyetYayinKontrolDurumAciklamasi.Length)) + "...");
        durumDetayIconClass = "fa fa-comments-o";
        aciklamaDetay = item.MezuniyetYayinKontrolDurumAciklamasi;
    }
    else if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumu.Taslak)
    {
        tabAdi = "Yeni Başvuru";
        tabIconClass = "fa fa-list-alt fa-lg";
        durumAdi = "Başvuru Taslak Durumunda";
        durumIconClass = item.DurumClassName;
        durumDetayIconClass = "fa fa-exclamation-triangle";
        durumDetay = "Süreç Devamı İçin Öğrenci Onayı Gerekmekte.";
    }
    else if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumu.Onaylandi)
    {
        tabAdi = "Yeni Başvuru";
        tabIconClass = "fa fa-list-alt fa-lg";
        if (item.IsDanismanOnay == true)
        {
            durumAdi = "Danışman Onayladı";
            durumIconClass = "fa fa-thumbs-o-up";
            durumAciklama = "Danışman Onay Tarihi: " + item.DanismanOnayTarihi.ToFormatDateAndTime();
            durumColor = "green";
            durumDetayIconClass = "fa fa-clock-o";
            durumDetay = "EYK Sürecine Geçiş İçin Enstitü Onayı Bekleniyor.";
            aciklamaDetay = "Başvuru danışman tarafından " + (item.DanismanOnayTarihi.HasValue ? item.DanismanOnayTarihi.ToFormatDateAndTime() + " tarihinde" : "") + " onaylanmıştır. Mezuniyet işleminin devamı için Enstitünün onaylaması gerekmektedir.";
        }
        else if (item.IsDanismanOnay == false)
        {

            durumAdi = "Danışman Tarafından Ret Edildi";
            durumIconClass = "fa fa-thumbs-o-down";
            durumAciklama = "Danışman Ret Tarihi: " + item.DanismanOnayTarihi.ToFormatDateAndTime();
            durumColor = "maroon";
            durumDetayIconClass = "fa fa-comments-o";
            durumDetay = item.DanismanOnayAciklama.IsNullOrWhiteSpace() ? "" : (item.DanismanOnayAciklama.Substring(0, (item.DanismanOnayAciklama.Length > 45 ? 45 : item.DanismanOnayAciklama.Length)) + "...");
            aciklamaDetay = item.DanismanOnayAciklama;


        }
        else
        {
            durumAdi = "Danışman Onayı Bekleniyor";
            durumIconClass = "fa fa-clock-o";
            durumColor = "green";
            durumDetay = "Enstüti Başvuru Kabülü Yapabilmesi İçin Danışman Onayı Gerekmekte.";
            durumDetayIconClass = "fa fa-clock-o";

        }
    }
    else if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumu.KabulEdildi)
    {


        if (item.SrTalebi == null && item.MezuniyetBasvurulariTezDosyasi == null && !item.TeslimFormDurumu)
        {
            tabAdi = "EYK Süreci";
            tabIconClass = "fa fa-group fa-lg";

            if (item.MezuniyetJuriOneriFormu == null)
            {
                durumAdi = "Form Oluşturulmadı";
                durumIconClass = "fa fa-file-text-o";
                durumColor = "green";
                durumDetay = "EYK Süreci Başlangıcı İçin Jüri Öneri Formu Oluşturulmalı.";
                durumDetayIconClass = "fa fa-clock-o";
            }
            else
            {
                if (item.MezuniyetJuriOneriFormu.EYKDaOnaylandi.HasValue)
                {


                    if (item.MezuniyetJuriOneriFormu.EYKDaOnaylandi.Value)
                    {

                        durumAdi = "EYK'da Onaylandı";
                        durumAciklama = "EYK Tarihi: " + item.EYKTarihi.ToFormatDate();
                        durumIconClass = "fa fa-thumbs-o-up";
                        durumColor = "green";
                        durumDetay = "Öğrenci Tarafından Tez Sınav Talebi Yapılması Bekleniyor.";
                        durumDetayIconClass = "fa fa-clock-o";

                    }
                    else
                    {
                        durumAdi = "EYK'da Onaylanmadı";
                        durumAciklama = "İşlem Tarihi: " + item.MezuniyetJuriOneriFormu.EYKDaOnaylandiOnayTarihi.ToFormatDateAndTime();
                        durumIconClass = "fa fa-thumbs-o-down";
                        durumColor = "maroon";
                        durumDetay = "EYK Süreci Devamı İçin Yeni Jüri Öneri Formu Oluşturulmalı.";
                        durumDetayIconClass = "fa fa-clock-o";
                    }

                }
                else
                {
                    if (item.MezuniyetJuriOneriFormu.EYKYaGonderildi.HasValue)
                    {
                        if (item.MezuniyetJuriOneriFormu.EYKYaGonderildi.Value)
                        {

                            durumAdi = "EYK'Ya Gönderildi";
                            durumAciklama = "İşlem Tarihi: " + item.MezuniyetJuriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime();
                            durumIconClass = "fa fa-thumbs-o-up";
                            durumColor = "green";
                            durumDetay = "Enstitü Tarafından Jüri Öneri Formu EYK'Da Onay İşlemi Sonucu Bekleniyor.";
                            durumDetayIconClass = "fa fa-clock-o";
                            aciklamaDetay = "Jüri Öneri Formu EYK'Ya gönderimi onaylandı. Mezuniyet işleminin devamı için Enstitünün EYK'Da Onay işlemini sisteme girmesi gerekmektedir.";

                        }
                        else
                        {
                            durumAdi = "EYK'Ya Gönderimi Onaylanmadı";
                            durumAciklama = "İşlem Tarihi: " + item.MezuniyetJuriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime();
                            durumIconClass = "fa fa-thumbs-o-down";
                            durumColor = "maroon";
                            durumDetay = "Jüri Öneri Formu EYK'Ya Gönderimi Onaylanmadı.";
                            durumDetayIconClass = "fa fa-comments-o";
                            aciklamaDetay = "Jüri Öneri Formu EYK'Ya gönderim onaylanmadı. Mezuniyet işleminin devamı için Enstitünün EYK'Ya Gönderim onay işlemi yapması gerekmektedir.";

                        }
                    }
                    else
                    {
                        durumAdi = "EYK'Ya Gönderimi Bekleniyor";
                        durumIconClass = "fa fa-clock-o";
                        durumColor = "green";
                        durumDetay = "Jüri Öneri Formunun Enstitü Tarafından EYK'Ya Gönderimi Bekleniyor";
                        durumDetayIconClass = "fa fa-clock-o";
                    }
                }
            }

        }
        else if (item.MezuniyetBasvurulariTezDosyasi == null && !item.TeslimFormDurumu)
        {
            tabAdi = "Sınav Süreci";
            tabIconClass = "fa fa-edit fa-lg";
            var isDanismanUzatmaSonrasiOnay = item.SrTalebi.IsDanismanUzatmaSonrasiOnay;
            var isOgrenciUzatmaSonrasiOnay = item.SrTalebi.IsOgrenciUzatmaSonrasiOnay;
            var isEnstituOnayiVar = item.SrTalebi.MezuniyetSinavDurumID > MezuniyetSinavDurum.SonucGirilmedi;
            var enstituSinavDurumId = item.SrTalebi.MezuniyetSinavDurumID;
            var isJuriOnayiVar = item.SrTalebi.JuriSonucMezuniyetSinavDurumID > MezuniyetSinavDurum.SonucGirilmedi;
            var juriSinavDurumId = item.SrTalebi.JuriSonucMezuniyetSinavDurumID;

            if (isDanismanUzatmaSonrasiOnay.HasValue)
            {
                if (item.SrTalebi.IsDanismanUzatmaSonrasiOnay.Value)
                {
                    durumAdi = "Uzatma Talebi";
                    durumAciklama = "Onay Tarihi: " + item.SrTalebi.DanismanOnayTarihi.ToFormatDateAndTime();
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    durumDetay = "Danışman Tez Kontrol Onayını Yaptı. Öğrenci Yeni Tez Sınavı Talebi Oluşturmalı.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    durumAdi = "Uzatma Talebi";
                    durumAciklama = "Onay Tarihi: " + item.SrTalebi.DanismanOnayTarihi.ToFormatDateAndTime();
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    durumDetay = "Danışman Tarafından Tez Teslimi Taahhütünü Ret Edildi.";
                    durumDetayIconClass = "fa fa-comments-o";
                    aciklamaDetay = item.DanismanOnayAciklama;
                }
            }
            else if (isOgrenciUzatmaSonrasiOnay.HasValue)
            {
                if (item.SrTalebi.IsOgrenciUzatmaSonrasiOnay.Value)
                {
                    durumAdi = "Uzatma Talebi";
                    durumAciklama = "Onay Tarihi: " + item.SrTalebi.OgrenciOnayTarihi.ToFormatDateAndTime();
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    durumDetay = "Öğrenci Tez Teslim Taahhütü Yaptı. Danışman Tez Kontrol Onayını Yapmalı.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    durumAdi = "Uzatma Talebi";
                    durumAciklama = "Ret Tarihi: " + item.SrTalebi.OgrenciOnayTarihi.ToFormatDateAndTime();
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    durumDetay = "Uzatma Talebi Sonrası Öğrenci Tez Teslim Taahhütünü Ret Etti";
                    durumDetayIconClass = "fa fa-thumbs-o-down";
                }
            }
            else if (isEnstituOnayiVar)
            {
                if (enstituSinavDurumId == MezuniyetSinavDurum.Uzatma)
                {

                    durumAdi = "Uzatma Talebi";
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    if (Model.SrTalebi.SRTaleplerJuris.Any(a => !a.UnvanAdi.IsNullOrWhiteSpace()))
                    {
                        durumDetay = "Sınav Sonucunu Enstitü Onayladı. Öğrenci Tez Teslim Taahhütü Yapmalı.";
                    }
                    else
                    { 
                        durumDetay = "Sınav Sonucunu Enstitü Onayladı. Öğrenci Yeni Tez Sınavı Talebi Yapmalı.";
                    }
                    durumDetayIconClass = "fa fa-comments-o";
                }
                else if (enstituSinavDurumId == MezuniyetSinavDurum.Basarili)
                {
                    durumAdi = "Sınav Sonucu Başarılı";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Sınav Sonucunu Enstitü Onayladı. Öğrenci Tez Kontrolü İçin Dosya Yüklemeli.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else if (enstituSinavDurumId == MezuniyetSinavDurum.Basarisiz)
                {
                    durumAdi = "Sınav Sonucu Başarısız";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumColor = "maroon";
                    durumDetay = "Sınav Sonucunu Enstitü Onayladı. Mezuniyet Süreci Başarısızlıkla Sonuçlandı.";
                    durumDetayIconClass = "fa fa-comments-o";
                }

            }
            else if (isJuriOnayiVar)
            {
                if (juriSinavDurumId == MezuniyetSinavDurum.Uzatma)
                {
                    durumAdi = "Uzatma Talebi";
                    durumIconClass = "fa fa-calendar";
                    durumColor = "maroon";
                    durumDetay = "Jüri Sınav Sonucunu Uzatma Olarak Değerlendirdi. Enstitünün Onayı Gerekmekte.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else if (juriSinavDurumId == MezuniyetSinavDurum.Basarili)
                {
                    durumAdi = "Jüri Üyeleri Sınav Sonucunu Başarılı Olarak Değerlendirdi";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Jüri Sınav Sonucunu Başarılı Olarak Değerlendirdi. Enstitünün Onayı Gerekmekte.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else if (juriSinavDurumId == MezuniyetSinavDurum.Basarisiz)
                {
                    durumAdi = "Jüri Üyeleri Sınav Sonucunu Başarısız Olarak Değerlendirdi";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumColor = "maroon";
                    durumDetay = "Jüri Sınav Sonucunu Başarısız Olarak Değerlendirdi. Enstitünün Onayı Gerekmekte.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    durumAdi = "Sınav Talebi Onaylandı";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Tez Sınav Değerlendirme Süreci Devam Ediyor.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
            }
            else
            {
                if (item.SrTalebi.SRDurumID == SRTalepDurum.TalepEdildi)
                {
                    durumAdi = "Sınav Talebi Yapıldı";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Enstitü Tarafından Sınav Talebinin Onaylanması Bekleniyor.";
                    durumDetayIconClass = "fa fa-comments-o";
                }
                else if (item.SrTalebi.SRDurumID == SRTalepDurum.Onaylandı)
                {
                    durumAdi = "Sınav Talebi Onaylandı";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Tez Sınav Değerlendirme Süreci Devam Ediyor.";
                    durumDetayIconClass = "fa fa-clock-o";

                }
                else if (item.SrTalebi.SRDurumID == SRTalepDurum.Reddedildi)
                {
                    durumAdi = "Sınav Talebi Ret Ededildi";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumColor = "maroon";
                    durumDetay = "Enstitü Tarafından Sınav Talebi Ret Edildi. Yeni Sınav Talebi Oluşturulması Bekleniyor.";
                    durumDetayIconClass = "fa fa-clock-o";
                    aciklamaDetay = "Ret Açıklaması: " + item.SrTalebi.SRDurumAciklamasi;
                }
                else if (item.SrTalebi.SRDurumID == SRTalepDurum.IptalEdildi)
                {
                    durumAdi = "Sınav Talebi İptal Ededildi";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumColor = "maroon";
                    durumDetay = "Enstitü Tarafından Sınav Talebi İptal Edildi. Yeni Sınav Talebi Oluşturulması Bekleniyor.";
                    durumDetayIconClass = "fa fa-clock-o";

                }
            }
        }
        else if (!item.TeslimFormDurumu)
        {
            tabAdi = "Tez Kontrol Süreci";
            tabIconClass = "fa fa-file-text-o fa-lg";

            if (item.MezuniyetBasvurulariTezDosyasi.IsOnaylandiOrDuzeltme.HasValue)
            {
                if (item.MezuniyetBasvurulariTezDosyasi.IsOnaylandiOrDuzeltme == true)
                {
                    durumAdi = "Tez Dosyası Onaylandı";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumColor = "green";
                    durumDetay = "Enstitü Tarafından Tez Dosyası Onaylandı. Tez Teslim Formu Oluşturulmalı.";
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    durumAdi = "Düzeltme Talep Edildi";
                    durumIconClass = "fa fa-edit";
                    durumColor = "maroon";
                    durumDetay = "Enstitü Tarafından Tez Düzeltmesi Talep Edildi. Yeni Tez Dosyası Yüklenmeli";
                    durumDetayIconClass = "fa fa-clock-o";
                }
            }
            else
            {
                durumAdi = "Tez Dosyası Yüklendi";
                durumIconClass = "fa fa-file-pdf-o";
                durumColor = "green";
                durumDetay = "Öğrenci Tez Kontrolü için Dosyayı Yükledi. Enstitü Onayı Bekleniyor";
                durumDetayIconClass = "fa fa-clock-o";
            }

        }
        else
        {
            tabAdi = "Mezuniyet Süreci";
            tabIconClass = "fa fa-graduation-cap fa-lg";

            if (item.IsMezunOldu.HasValue)
            {
                if (item.IsMezunOldu.Value)
                {
                    durumAdi = "Öğrenci Mezun Oldu";
                    durumIconClass = "fa fa-graduation-cap";
                    durumColor = "green";
                    durumDetay = "Mezuniyet Tarihi: " + item.MezuniyetTarihi.ToFormatDate();
                    durumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    durumAdi = "Öğrenci Mezun Olamadı";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumColor = "maroon";
                }
            }
            else
            {
                durumAdi = "Tez Teslim Formu Oluşturuldu";
                durumIconClass = "fa fa-graduation-cap";
                durumColor = "green";
                durumDetay = "Enstitü Tarafından Tez Teslim Formu Onayı Bekleniyor.";
                durumDetayIconClass = "fa fa-clock-o";
            }
        }



    }



}


<table>
    <tbody>
        <tr style="color:@durumColor">
            <td>
                <i class="@tabIconClass" aria-hidden="true"></i> <span style="font-size:9pt;margin:0px;"> @tabAdi</span>  <span style="font-size:7pt;" title="@durumAciklama"><i style="font-size:8pt;" class="@durumIconClass"></i> @durumAdi</span>
            </td>
        </tr>
        <tr>
            <td>

                @if (durumDetay != "")
                {
                    <span style="font-size:7pt;" title="@aciklamaDetay"><i style="font-size:8pt;" class="@durumDetayIconClass"></i> @durumDetay</span>
                }
            </td>
        </tr>
    </tbody>
</table>

