@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Models.FilterModel @using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil
@model frMezuniyetBasvurulari
@{
    var item = Model;

    var TabAdi = "";
    var TabIconClass = "";
    var DurumAdi = "";
    var DurumIconClass = "";
    var DurumAciklama = "";
    var DurumColor = "";
    var DurumDetay = "";
    var DurumDetayIconClass = "";
    var AciklamaDetay = "";

    if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumu.IptalEdildi)
    {
        TabAdi = "Yeni Başvuru";
        TabIconClass = "fa fa-list-alt fa-lg";
        DurumAdi = "Başvuru İptal Edildi";
        DurumIconClass = "fa fa-thumbs-o-down";
        DurumColor = "maroon";
        DurumDetay = item.MezuniyetYayinKontrolDurumAciklamasi.IsNullOrWhiteSpace() ? "" : (item.MezuniyetYayinKontrolDurumAciklamasi.Substring(0, (item.MezuniyetYayinKontrolDurumAciklamasi.Length > 45 ? 45 : item.MezuniyetYayinKontrolDurumAciklamasi.Length)) + "...");
        DurumDetayIconClass = "fa fa-comments-o";
        AciklamaDetay = item.MezuniyetYayinKontrolDurumAciklamasi;
    }
    else if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumu.Taslak)
    {
        TabAdi = "Yeni Başvuru";
        TabIconClass = "fa fa-list-alt fa-lg";
        DurumAdi = "Başvuru Taslak Durumunda";
        DurumIconClass = item.DurumClassName;
        DurumDetayIconClass = "fa fa-exclamation-triangle";
        DurumDetay = "Süreç Devamı İçin Öğrenci Onayı Gerekmekte.";
    }
    else if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumu.Onaylandi)
    {
        TabAdi = "Yeni Başvuru";
        TabIconClass = "fa fa-list-alt fa-lg";
        if (item.IsDanismanOnay == true)
        {
            DurumAdi = "Danışman Onayladı";
            DurumIconClass = "fa fa-thumbs-o-up";
            DurumAciklama = "Danışman Onay Tarihi: " + item.DanismanOnayTarihi.ToFormatDateAndTime();
            DurumColor = "green";
            DurumDetayIconClass = "fa fa-clock-o";
            DurumDetay = "EYK Sürecine Geçiş İçin Enstitü Onayı Bekleniyor.";
            AciklamaDetay = "Başvuru danışman tarafından " + (item.DanismanOnayTarihi.HasValue ? item.DanismanOnayTarihi.ToFormatDateAndTime() + " tarihinde" : "") + " onaylanmıştır. Mezuniyet işleminin devamı için Enstitünün onaylaması gerekmektedir.";
        }
        else if (item.IsDanismanOnay == false)
        {

            DurumAdi = "Danışman Tarafından Ret Edildi";
            DurumIconClass = "fa fa-thumbs-o-down";
            DurumAciklama = "Danışman Ret Tarihi: " + item.DanismanOnayTarihi.ToFormatDateAndTime();
            DurumColor = "maroon";
            DurumDetayIconClass = "fa fa-comments-o";
            DurumDetay = item.DanismanOnayAciklama.IsNullOrWhiteSpace() ? "" : (item.DanismanOnayAciklama.Substring(0, (item.DanismanOnayAciklama.Length > 45 ? 45 : item.DanismanOnayAciklama.Length)) + "...");
            AciklamaDetay = item.DanismanOnayAciklama;


        }
        else
        {
            DurumAdi = "Danışman Onayı Bekleniyor";
            DurumIconClass = "fa fa-clock-o";
            DurumColor = "green";
            DurumDetay = "Enstüti Başvuru Kabülü Yapabilmesi İçin Danışman Onayı Gerekmekte.";
            DurumDetayIconClass = "fa fa-clock-o";

        }
    }
    else if (item.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumu.KabulEdildi)
    {


        if (item.SrTalebi == null && item.MezuniyetBasvurulariTezDosyasi == null && !item.TeslimFormDurumu)
        {
            TabAdi = "EYK Süreci";
            TabIconClass = "fa fa-group fa-lg";

            if (item.MezuniyetJuriOneriFormu == null)
            {
                DurumAdi = "Form Oluşturulmadı";
                DurumIconClass = "fa fa-file-text-o";
                DurumColor = "green";
                DurumDetay = "EYK Süreci Başlangıcı İçin Jüri Öneri Formu Oluşturulmalı.";
                DurumDetayIconClass = "fa fa-clock-o";
            }
            else
            {
                if (item.MezuniyetJuriOneriFormu.EYKDaOnaylandi.HasValue)
                {


                    if (item.MezuniyetJuriOneriFormu.EYKDaOnaylandi.Value)
                    {

                        DurumAdi = "EYK'da Onaylandı";
                        DurumAciklama = "EYK Tarihi: " + item.EYKTarihi.ToFormatDate();
                        DurumIconClass = "fa fa-thumbs-o-up";
                        DurumColor = "green";
                        DurumDetay = "Öğrenci Tarafından Tez Sınav Talebi Yapılması Bekleniyor.";
                        DurumDetayIconClass = "fa fa-clock-o";

                    }
                    else
                    {
                        DurumAdi = "EYK'da Onaylanmadı";
                        DurumAciklama = "İşlem Tarihi: " + item.MezuniyetJuriOneriFormu.EYKDaOnaylandiOnayTarihi.ToFormatDateAndTime();
                        DurumIconClass = "fa fa-thumbs-o-down";
                        DurumColor = "maroon";
                        DurumDetay = "EYK Süreci Devamı İçin Yeni Jüri Öneri Formu Oluşturulmalı.";
                        DurumDetayIconClass = "fa fa-clock-o";
                    }

                }
                else
                {
                    if (item.MezuniyetJuriOneriFormu.EYKYaGonderildi.HasValue)
                    {
                        if (item.MezuniyetJuriOneriFormu.EYKYaGonderildi.Value)
                        {

                            DurumAdi = "EYK'Ya Gönderildi";
                            DurumAciklama = "İşlem Tarihi: " + item.MezuniyetJuriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime();
                            DurumIconClass = "fa fa-thumbs-o-up";
                            DurumColor = "green";
                            DurumDetay = "Enstitü Tarafından Jüri Öneri Formu EYK'Da Onay İşlemi Sonucu Bekleniyor.";
                            DurumDetayIconClass = "fa fa-clock-o";
                            AciklamaDetay = "Jüri Öneri Formu EYK'Ya gönderimi onaylandı. Mezuniyet işleminin devamı için Enstitünün EYK'Da Onay işlemini sisteme girmesi gerekmektedir.";

                        }
                        else
                        {
                            DurumAdi = "EYK'Ya Gönderimi Onaylanmadı";
                            DurumAciklama = "İşlem Tarihi: " + item.MezuniyetJuriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime();
                            DurumIconClass = "fa fa-thumbs-o-down";
                            DurumColor = "maroon";
                            DurumDetay = "Jüri Öneri Formu EYK'Ya Gönderimi Onaylanmadı.";
                            DurumDetayIconClass = "fa fa-comments-o";
                            AciklamaDetay = "Jüri Öneri Formu EYK'Ya gönderim onaylanmadı. Mezuniyet işleminin devamı için Enstitünün EYK'Ya Gönderim onay işlemi yapması gerekmektedir.";

                        }
                    }
                    else
                    {
                        DurumAdi = "EYK'Ya Gönderimi Bekleniyor";
                        DurumIconClass = "fa fa-clock-o";
                        DurumColor = "green";
                        DurumDetay = "Jüri Öneri Formunun Enstitü Tarafından EYK'Ya Gönderimi Bekleniyor";
                        DurumDetayIconClass = "fa fa-clock-o";
                    }
                }
            }

        }
        else if (item.MezuniyetBasvurulariTezDosyasi == null && !item.TeslimFormDurumu)
        {
            TabAdi = "Sınav Süreci";
            TabIconClass = "fa fa-edit fa-lg";
            var IsDanismanUzatmaSonrasiOnay = item.SrTalebi.IsDanismanUzatmaSonrasiOnay;
            var IsOgrenciUzatmaSonrasiOnay = item.SrTalebi.IsOgrenciUzatmaSonrasiOnay;
            var IsEnstituOnayiVar = item.SrTalebi.MezuniyetSinavDurumID > MezuniyetSinavDurum.SonucGirilmedi;
            var EnstituSinavDurumID = item.SrTalebi.MezuniyetSinavDurumID;
            var IsJuriOnayiVar = item.SrTalebi.JuriSonucMezuniyetSinavDurumID > MezuniyetSinavDurum.SonucGirilmedi;
            var JuriSinavDurumID = item.SrTalebi.JuriSonucMezuniyetSinavDurumID;

            if (IsDanismanUzatmaSonrasiOnay.HasValue)
            {
                if (item.SrTalebi.IsDanismanUzatmaSonrasiOnay.Value)
                {
                    DurumAdi = "Uzatma Talebi";
                    DurumAciklama = "Onay Tarihi: " + item.SrTalebi.DanismanOnayTarihi.ToFormatDateAndTime();
                    DurumIconClass = "fa fa-calendar";
                    DurumColor = "maroon";
                    DurumDetay = "Danışman Tez Kontrol Onayını Yaptı. Öğrenci Yeni Tez Sınavı Talebi Oluşturmalı.";
                    DurumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    DurumAdi = "Uzatma Talebi";
                    DurumAciklama = "Onay Tarihi: " + item.SrTalebi.DanismanOnayTarihi.ToFormatDateAndTime();
                    DurumIconClass = "fa fa-calendar";
                    DurumColor = "maroon";
                    DurumDetay = "Danışman Tarafından Tez Teslimi Taahhütünü Ret Edildi.";
                    DurumDetayIconClass = "fa fa-comments-o";
                    AciklamaDetay = item.DanismanOnayAciklama;
                }
            }
            else if (IsOgrenciUzatmaSonrasiOnay.HasValue)
            {
                if (item.SrTalebi.IsOgrenciUzatmaSonrasiOnay.Value)
                {
                    DurumAdi = "Uzatma Talebi";
                    DurumAciklama = "Onay Tarihi: " + item.SrTalebi.OgrenciOnayTarihi.ToFormatDateAndTime();
                    DurumIconClass = "fa fa-calendar";
                    DurumColor = "maroon";
                    DurumDetay = "Öğrenci Tez Teslim Taahhütü Yaptı. Danışman Tez Kontrol Onayını Yapmalı.";
                    DurumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    DurumAdi = "Uzatma Talebi";
                    DurumAciklama = "Ret Tarihi: " + item.SrTalebi.OgrenciOnayTarihi.ToFormatDateAndTime();
                    DurumIconClass = "fa fa-calendar";
                    DurumColor = "maroon";
                    DurumDetay = "Uzatma Talebi Sonrası Öğrenci Tez Teslim Taahhütünü Ret Etti";
                    DurumDetayIconClass = "fa fa-thumbs-o-down";
                }
            }
            else if (IsEnstituOnayiVar)
            {
                if (EnstituSinavDurumID == MezuniyetSinavDurum.Uzatma)
                {

                    DurumAdi = "Uzatma Talebi";
                    DurumIconClass = "fa fa-calendar";
                    DurumColor = "maroon";
                    if (Model.SrTalebi.SRTaleplerJuris.Any(a => !a.UnvanAdi.IsNullOrWhiteSpace()))
                    {
                        DurumDetay = "Sınav Sonucunu Enstitü Onayladı. Öğrenci Tez Teslim Taahhütü Yapmalı.";
                    }
                    else
                    { 
                        DurumDetay = "Sınav Sonucunu Enstitü Onayladı. Öğrenci Yeni Tez Sınavı Talebi Yapmalı.";
                    }
                    DurumDetayIconClass = "fa fa-comments-o";
                }
                else if (EnstituSinavDurumID == MezuniyetSinavDurum.Basarili)
                {
                    DurumAdi = "Sınav Sonucu Başarılı";
                    DurumIconClass = "fa fa-thumbs-o-up";
                    DurumColor = "green";
                    DurumDetay = "Sınav Sonucunu Enstitü Onayladı. Öğrenci Tez Kontrolü İçin Dosya Yüklemeli.";
                    DurumDetayIconClass = "fa fa-clock-o";
                }
                else if (EnstituSinavDurumID == MezuniyetSinavDurum.Basarisiz)
                {
                    DurumAdi = "Sınav Sonucu Başarısız";
                    DurumIconClass = "fa fa-celendatr-o-down";
                    DurumColor = "maroon";
                    DurumDetay = "Sınav Sonucunu Enstitü Onayladı. Mezuniyet Süreci Başarısızlıkla Sonuçlandı.";
                    DurumDetayIconClass = "fa fa-comments-o";
                }

            }
            else if (IsJuriOnayiVar)
            {
                if (JuriSinavDurumID == MezuniyetSinavDurum.Uzatma)
                {
                    DurumAdi = "Uzatma Talebi";
                    DurumIconClass = "fa fa-celendar";
                    DurumColor = "maroon";
                    DurumDetay = "Jüri Sınav Sonucunu Uzatma Olarak Değerlendirdi. Enstitünün Onayı Gerekmekte.";
                    DurumDetayIconClass = "fa fa-clock-o";
                }
                else if (JuriSinavDurumID == MezuniyetSinavDurum.Basarili)
                {
                    DurumAdi = "Jüri Üyeleri Sınav Sonucunu Başarılı Olarak Değerlendirdi";
                    DurumIconClass = "fa fa-thumbs-o-up";
                    DurumColor = "green";
                    DurumDetay = "Jüri Sınav Sonucunu Başarılı Olarak Değerlendirdi. Enstitünün Onayı Gerekmekte.";
                    DurumDetayIconClass = "fa fa-clock-o";
                }
                else if (JuriSinavDurumID == MezuniyetSinavDurum.Basarisiz)
                {
                    DurumAdi = "Jüri Üyeleri Sınav Sonucunu Başarısız Olarak Değerlendirdi";
                    DurumIconClass = "fa fa-celendatr-o-down";
                    DurumColor = "maroon";
                    DurumDetay = "Jüri Sınav Sonucunu Başarısız Olarak Değerlendirdi. Enstitünün Onayı Gerekmekte.";
                    DurumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    DurumAdi = "Sınav Talebi Onaylandı";
                    DurumIconClass = "fa fa-thumbs-o-up";
                    DurumColor = "green";
                    DurumDetay = "Tez Sınav Değerlendirme Süreci Devam Ediyor.";
                    DurumDetayIconClass = "fa fa-clock-o";
                }
            }
            else
            {
                if (item.SrTalebi.SRDurumID == SRTalepDurum.TalepEdildi)
                {
                    DurumAdi = "Sınav Talebi Yapıldı";
                    DurumIconClass = "fa fa-thumbs-o-up";
                    DurumColor = "green";
                    DurumDetay = "Enstitü Tarafından Sınav Talebinin Onaylanması Bekleniyor.";
                    DurumDetayIconClass = "fa fa-comments-o";
                }
                else if (item.SrTalebi.SRDurumID == SRTalepDurum.Onaylandı)
                {
                    DurumAdi = "Sınav Talebi Onaylandı";
                    DurumIconClass = "fa fa-thumbs-o-up";
                    DurumColor = "green";
                    DurumDetay = "Tez Sınav Değerlendirme Süreci Devam Ediyor.";
                    DurumDetayIconClass = "fa fa-clock-o";

                }
                else if (item.SrTalebi.SRDurumID == SRTalepDurum.Reddedildi)
                {
                    DurumAdi = "Sınav Talebi Ret Ededildi";
                    DurumIconClass = "fa fa-thumbs-o-down";
                    DurumColor = "maroon";
                    DurumDetay = "Enstitü Tarafından Sınav Talebi Ret Edildi. Yeni Sınav Talebi Oluşturulması Bekleniyor.";
                    DurumDetayIconClass = "fa fa-clock-o";
                    AciklamaDetay = "Ret Açıklaması: " + item.SrTalebi.SRDurumAciklamasi;
                }
                else if (item.SrTalebi.SRDurumID == SRTalepDurum.IptalEdildi)
                {
                    DurumAdi = "Sınav Talebi İptal Ededildi";
                    DurumIconClass = "fa fa-thumbs-o-down";
                    DurumColor = "maroon";
                    DurumDetay = "Enstitü Tarafından Sınav Talebi İptal Edildi. Yeni Sınav Talebi Oluşturulması Bekleniyor.";
                    DurumDetayIconClass = "fa fa-clock-o";

                }
            }
        }
        else if (!item.TeslimFormDurumu)
        {
            TabAdi = "Tez Kontrol Süreci";
            TabIconClass = "fa fa-file-text-o fa-lg";

            if (item.MezuniyetBasvurulariTezDosyasi.IsOnaylandiOrDuzeltme.HasValue)
            {
                if (item.MezuniyetBasvurulariTezDosyasi.IsOnaylandiOrDuzeltme == true)
                {
                    DurumAdi = "Tez Dosyası Onaylandı";
                    DurumIconClass = "fa fa-thumbs-o-up";
                    DurumColor = "green";
                    DurumDetay = "Enstitü Tarafından Tez Dosyası Onaylandı. Tez Teslim Formu Oluşturulmalı.";
                    DurumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    DurumAdi = "Düzeltme Talep Edildi";
                    DurumIconClass = "fa fa-edit";
                    DurumColor = "maroon";
                    DurumDetay = "Enstitü Tarafından Tez Düzeltmesi Talep Edildi. Yeni Tez Dosyası Yüklenmeli";
                    DurumDetayIconClass = "fa fa-clock-o";
                }
            }
            else
            {
                DurumAdi = "Tez Dosyası Yüklendi";
                DurumIconClass = "fa fa-file-pdf-o";
                DurumColor = "green";
                DurumDetay = "Öğrenci Tez Kontrolü için Dosyayı Yükledi. Enstitü Onayı Bekleniyor";
                DurumDetayIconClass = "fa fa-clock-o";
            }

        }
        else
        {
            TabAdi = "Mezuniyet Süreci";
            TabIconClass = "fa fa-graduation-cap fa-lg";

            if (item.IsMezunOldu.HasValue)
            {
                if (item.IsMezunOldu.Value)
                {
                    DurumAdi = "Öğrenci Mezun Oldu";
                    DurumIconClass = "fa fa-graduation-cap";
                    DurumColor = "green";
                    DurumDetay = "Mezuniyet Tarihi: " + item.MezuniyetTarihi.ToFormatDate();
                    DurumDetayIconClass = "fa fa-clock-o";
                }
                else
                {
                    DurumAdi = "Öğrenci Mezun Olamadı";
                    DurumIconClass = "fa fa-thumbs-o-down";
                    DurumColor = "maroon";
                }
            }
            else
            {
                DurumAdi = "Tez Teslim Formu Oluşturuldu";
                DurumIconClass = "fa fa-graduation-cap";
                DurumColor = "green";
                DurumDetay = "Enstitü Tarafından Tez Teslim Formu Onayı Bekleniyor.";
                DurumDetayIconClass = "fa fa-clock-o";
            }
        }



    }



}


<table>
    <tbody>
        <tr style="color:@DurumColor">
            <td>
                <i class="@TabIconClass" aria-hidden="true"></i> <span style="font-size:9pt;margin:0px;"> @TabAdi</span>  <span style="font-size:7pt;" title="@DurumAciklama"><i style="font-size:8pt;" class="@DurumIconClass"></i> @DurumAdi</span>
            </td>
        </tr>
        <tr>
            <td>

                @if (DurumDetay != "")
                {
                    <span style="font-size:7pt;" title="@AciklamaDetay"><i style="font-size:8pt;" class="@DurumDetayIconClass"></i> @DurumDetay</span>
                }
            </td>
        </tr>
    </tbody>
</table>

