@using Entities.Entities
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model MezuniyetBasvurulariTezTeslimFormlari
@{
    Layout = null;
    var yetkili = RoleNames.SrTalepDuzelt.InRoleCurrent();
}

@using (Ajax.BeginForm("TezTeslimFormuPost", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "MezuniyetTezTeslimForm" }))
{
    @Html.HiddenFor(p => p.MezuniyetBasvurulariID)
    @Html.HiddenFor(p => p.MezuniyetBasvurulariTezTeslimFormID)
    <div class="panel panel-info" style="margin: 0px; padding: 0px;">
        <div class="panel-body" style="padding: 0px;">
            <div class="panel panel-default form-horizontal" id="_PnpEADP">
                <div class="panel-body form-group-separated">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Tez Dili</label>
                        <div class="col-md-9 col-xs-10">
                            @if (false)
                            {
                                <select class="form-control" name="IsTezDiliTr" id="IsTezDiliTr" style="color:black;">
                                    <option value=""></option>
                                    <option value="true" @( Model.IsTezDiliTr ? "selected" : "")>Türkçe</option>
                                    <option value="false" @(!Model.IsTezDiliTr ? "selected" : "")>İngilizce</option>
                                </select>
                            }
                            else
                            {
                                @(Model.IsTezDiliTr?"Türkçe":"İngilizce")
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Tez Başlığı (Türkçe)</label>
                        <div class="col-md-9 col-xs-10">
                            @if (yetkili)
                            {
                                <input type="text" name="TezBaslikTr" id="TezBaslikTr" maxlength="400" value="@Model.TezBaslikTr" style="color:black;" class="form-control UpperTextTr" />
                            }
                            else
                            {
                                @Model.TezBaslikTr
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Tez Başlığı (İngilizce)</label>
                        <div class="col-md-9 col-xs-10">
                            @if (yetkili)
                            {
                                <input type="text" name="TezBaslikEn" id="TezBaslikEn" maxlength="400" value="@Model.TezBaslikEn" style="color:black;" class="form-control UpperTextEn" />
                            }
                            else
                            {
                                @Model.TezBaslikEn
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Tez Özeti (Türkçe)</label>
                        <div class="col-md-9 col-xs-10">
                            <input type="text" style="display:none;" name="TezOzet" id="TezOzet" value="@Model.TezOzet" />
                            <textarea style="min-height:100px;height:100px;" type="text" class="summernotex" name="TezOzetHtml" id="TezOzetHtml" autocomplete="off">@Html.Raw(Model.TezOzetHtml)</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Tez Özeti (İngilizce)</label>
                        <div class="col-md-9 col-xs-10">
                            <input type="text" style="display:none;" name="TezAbstract" id="TezAbstract" value="@Model.TezAbstract" />
                            <textarea style="min-height:100px;height:100px;" type="text" class="summernotex" name="TezAbstractHtml" id="TezAbstractHtml" autocomplete="off">@Html.Raw(Model.TezAbstractHtml)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/inputTextChangeUpperCase.js"></script>
<script>
    $(function () {
        $('.summernotex').summernote({
            height: 120,
            lang: 'tr',
            toolbar:
                [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['Insert', ['link', 'table', 'hr']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['height', ['height']]
                ],
            codemirror: {
                mode: 'text/html',
                htmlMode: true,
                lineNumbers: true,
                theme: 'monokai'
            }

        });
    });
    $("#MezuniyetTezTeslimForm").on("submit", function () {
        var _TezOzetHtml = $('#TezOzetHtml').summernote('code');
        $('#TezOzet').val($("<div />").html(_TezOzetHtml).text());
        var _TezAbstractHtml = $('#TezAbstractHtml').summernote('code');
        $('#TezAbstract').val($("<div />").html(_TezAbstractHtml).text());
        return true;
    });

</script>

