@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using BiskaUtil
@model  FmOgrenimTipleri
@{
    var indexModel = (MIndexBilgi)ViewBag.IndexModel;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">

            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i>&nbsp;Öğrenim Tip Listesi</h3>
                    <ul class="panel-controls">
                        <li><span class="label label-success label-form">T:@indexModel.Toplam</span></li>
                        <li><span class="label label-info label-form">A:@indexModel.Aktif</span></li>
                        <li><span class="label label-danger label-form">P:@indexModel.Pasif</span></li>
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="75"></th>
                                <th class="sirala" field="EnstituAd" width="140">Enstitü Adı</th>
                                <th class="sirala" field="OgrenimTipKod" width="60">Ö.T.Kod</th> 
                                <th class="sirala" field="OgrenimTipAd">Öğrenim Tip Adı</th>
                                <th width="60" title="Başvurabileceği diğer öğrenim tipleri">BDOT</th>
                                <th class="sirala" field="IsAktif" width="60">Durum</th>
                                <th width="50">
                                    <a href="@Url.Action("Kayit")" class="btn btn-xs btn-success tooltips" style="width:100%;" data-style="blue" data-original-title="Yeni"><i class="fa fa-plus"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="filtrele">
                                <th></th>
                                <th>
                                    @Html.DropDownList("EnstituKod", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th>
                                    <input name="OgrenimTipKod" type="text" value="@Model.OgrenimTipKod" class="form-control" />
                                </th> 
                                <th>
                                    <input name="OgrenimTipAd" type="text" value="@Model.OgrenimTipAd" class="form-control" />
                                </th>
                                <th></th>
                                <th>
                                    @Html.DropDownList("IsAktif", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                            </tr>
                            @if (Model.RowCount > 0)
                            {
                                int rowIndex = Model.StartRowIndex;
                                foreach (var item in Model.data)
                                {
                                    rowIndex++;
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@rowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.OgrenimTipID"  title="Detayı açmak veya kapatmak için tıklayınız." onclick="showDetail('@item.OgrenimTipID')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>@item.EnstituAd</td>
                                        <td>@item.OgrenimTipKod</td>
                                         
                                        <td id="tdMad_@item.OgrenimTipID">
                                            @item.OgrenimTipAdi
                                            @if (item.GrupKodu.IsNullOrWhiteSpace() == false)
                                            {<br /> @(item.GrupKodu + " " + item.GrupAdi)}
                                        </td>
                                        <td id="tdMDOTA_@item.OgrenimTipID">
                                            @item.BasvurulabilecekDigerOgrenimTipleri.Count
                                        </td>
                                        <td id="tdIa_@item.OgrenimTipID" style="text-align:center;">
                                            <span class="label label-@(item.IsAktif ? "success" : "danger")">@item.IsAktif.ToAktifPasif()</span>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Kayit")"><i class="fa fa-plus tooltips" data-style="blue" data-original-title="Yeni"></i></a>
                                            <a href="@Url.Action("Kayit", "OgrenimTipleri", new { id = item.OgrenimTipID })"><i class="fa fa-edit  tooltips" data-style="blue" data-original-title="Düzelt"></i></a>
                                            <a href="javascript:void(0)" onclick="silmeOnay(this,'@item.OgrenimTipID')"><i class="fa fa-trash-o tooltips" data-style="blue" data-original-title="Sil"></i></a>

                                        </td>
                                    </tr>
                                    <tr class="cls-@item.OgrenimTipID" style="display:none">
                                        <td id="cls-@item.OgrenimTipID" colspan="7" style="padding: 1px 1px 2px 75px;">

                                            <div class="panel panel-default">

                                                <div class="panel-body" style="padding: 0px;">
                                                    <div class="panel panel-default form-horizontal" style="margin-bottom: 0px;">

                                                        <div class="panel panel-primary" style="margin: 0px; padding: 0px;">
                                                            <div class="panel-body" style="margin: 0px; padding: 0px;">
                                                                <div class="panel-body form-group-separated">
                                                                    <div class="form-group">
                                                                        <label class="col-md-5 control-label">Enstitü Adı</label>
                                                                        <div class="col-md-7">@item.EnstituAd</div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-5 control-label">Öğrenim Tip Kod</label>
                                                                        <div class="col-md-7">@item.OgrenimTipKod</div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-5 control-label">Öğrenim Tipi</label>
                                                                        <div class="col-md-7">@item.OgrenimTipAdi</div>
                                                                    </div>
                                                                    @if (item.GrupGoster)
                                                                    {
                                                                        <div class="form-group">
                                                                            <label class="col-md-5 control-label">Grup Adı</label>
                                                                            <div class="col-md-7">@item.GrupAdi</div>
                                                                        </div>
                                                                    }
                                                                    <div class="panel" style="margin:0px; margin-top:4px;">
                                                                        <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                                            <h3 class="panel-title">
                                                                                <i class="fa fa-gears"></i> Lisansüstü Başvuru Kriter Ayarları
                                                                            </h3>

                                                                        </div>
                                                                        <div class="panel-body" style="margin: 0px; padding: 0px;">
                                                                            <div class="panel" style="margin:0px; margin:0px;">
                                                                                <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                                                    <h3 class="panel-title" style="float:right;">
                                                                                        <i class="fa fa-gears"></i> Başvuru Kriterleri
                                                                                    </h3>

                                                                                </div>
                                                                                <div class="panel-body" style="margin: 0px; padding: 0px;">
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label ">Birlikte Başvurabileceği Diğer Öğrenim Tipleri</label>
                                                                                        <div class="col-md-7" style="text-align: left; max-height: 200px; overflow: auto;">
                                                                                            <table>
                                                                                                @if (item.BasvurulabilecekDigerOgrenimTipleri.Count == 0)
                                                                                                {
                                                                                                    <tr>
                                                                                                        <td style="color:red;">Birlikte başvurulabilecek herhangi bir öğrenim tipi seçilmedi!</td>
                                                                                                    </tr>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    foreach (var kt in item.BasvurulabilecekDigerOgrenimTipleri)
                                                                                                    {
                                                                                                        <tr>
                                                                                                            <td>@kt</td>
                                                                                                        </tr>

                                                                                                    }
                                                                                                }
                                                                                            </table>

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">Lisans Eğitim Bilgisi İstensin</label>
                                                                                        <div class="col-md-7">
                                                                                            <span class="label label-@(item.LEgitimBilgisiIste ? "success" : "danger")">@(item.LEgitimBilgisiIste ? "Evet" : "Hayır")</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">Yüksek Lisans Eğitim Bilgisi İstensin</label>
                                                                                        <div class="col-md-7">
                                                                                            <span class="label label-@(item.YLEgitimBilgisiIste ? "success" : "danger")">@(item.YLEgitimBilgisiIste ? "Evet" : "Hayır")</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">Kaç Program Tercihi Yapabilir</label>
                                                                                        <div class="col-md-7">
                                                                                            @item.Kota
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="panel" style="margin:0px; margin:0px;">
                                                                                <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                                                    <h3 class="panel-title" style="float:right;">
                                                                                        <i class="fa fa-gears"></i> Mülakat Kriterleri
                                                                                    </h3>

                                                                                </div>
                                                                                <div class="panel-body" style="margin: 0px; padding: 0px;">
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">Mülakat Sürecine Girecek</label>
                                                                                        <div class="col-md-7">
                                                                                            <span class="label label-@(item.MulakatSurecineGirecek ? "success" : "danger")">@(item.MulakatSurecineGirecek ? "Evet" : "Hayır")</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">Alan İçi Bilimsel Hazırlık</label>
                                                                                        <div class="col-md-7">
                                                                                            <span class="label label-@(item.AlanIciBilimselHazirlik ? "success" : "danger")">@(item.AlanIciBilimselHazirlik ? "Var" : "Yok")</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">Alan Dışı Bilimsel Hazırlık</label>
                                                                                        <div class="col-md-7">
                                                                                            <span class="label label-@(item.AlanDisiBilimselHazirlik ? "success" : "danger")">@(item.AlanDisiBilimselHazirlik ? "Var" : "Yok")</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="panel" style="margin:0px; margin:0px;">
                                                                                <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                                                    <h3 class="panel-title" style="float:right;">
                                                                                        <i class="fa fa-gears"></i> Hesaplama ve Kayıt Kriterleri
                                                                                    </h3>

                                                                                </div>
                                                                                <div class="panel-body" style="margin: 0px; padding: 0px;">

                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">Başarı Not Ortalaması</label>
                                                                                        <div class="col-md-6" style="text-align: left;">@item.BasariNotOrtalamasi</div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">GNB Formülü (Ales,Mulakat,Agno)</label>
                                                                                        <div class="col-md-7">
                                                                                            @item.GBNFormulu
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">GNB Formülü (Mulakat,Agno)</label>
                                                                                        <div class="col-md-7">
                                                                                            @item.GBNFormuluAlessiz
                                                                                        </div>
                                                                                    </div>
                                                                                    @if (item.MulakatSurecineGirecek)
                                                                                    {
                                                                                        <div class="form-group">
                                                                                            <label class="col-md-5 control-label">GNB Formülü (Ales,Agno)</label>
                                                                                            <div class="col-md-7">
                                                                                                @item.GBNFormuluMulakatsiz
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">Dosya GNB Formülü (Dosya,Mulakat,Agno)</label>
                                                                                        <div class="col-md-7">
                                                                                            @item.GBNFormuluD
                                                                                        </div>
                                                                                    </div>
                                                                                    @if (item.MulakatSurecineGirecek)
                                                                                    {
                                                                                        <div class="form-group">
                                                                                            <label class="col-md-5 control-label">Dosya GNB Formülü (Mulakat,Agno)</label>
                                                                                            <div class="col-md-7">
                                                                                                @item.GBNFormuluDDosyasiz
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="form-group">
                                                                                            <label class="col-md-5 control-label">Dosya GNB Formülü (Dosya,Agno)</label>
                                                                                            <div class="col-md-7">
                                                                                                @item.GBNFormuluDMulakatsiz
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">Hesaplamada Belirlenecek Yedek Öğrenci Sayısı</label>
                                                                                        <div class="col-md-7">
                                                                                            @(item.YedekOgrenciSayisiKotaCarpani == 1 ? "Asil Öğrenci Kadar Yedek Öğrenci" : "Asil Öğrencinin " + item.YedekOgrenciSayisiKotaCarpani + " Katı Kadar Yedek Öğrenci")
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">Yök Öğrenci Kaydı Kontrolü Yapılsın</label>
                                                                                        <div class="col-md-7">
                                                                                            <span class="label label-@(item.YokOgrenciKontroluYap ? "success" : "danger")">@(item.YokOgrenciKontroluYap ? "Evet" : "Hayır")</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    @if (item.YokOgrenciKontroluYap)
                                                                                    {
                                                                                        <div class="form-group">
                                                                                            <label class="col-md-5 control-label">Katkı Payı Ücreti</label>
                                                                                            <div class="col-md-6" title="Başka bir üniverstite de kayıtlı olan öğrenciler seçilen öğrenim tipinde bir programa kayıt olabilmeleri için Ya kaydını sildirmeleri gerekir ya da Katkı Payı Tutarını ödemeleri gerekir">
                                                                                                @item.IstenecekKatkiPayiTutari TL
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel" style="margin:0px; margin-top:4px;">
                                                                        <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                                            <h3 class="panel-title">
                                                                                <i class="fa fa-gears"></i>Mezuniyet Başvurusu Ayarları
                                                                            </h3>
                                                                        </div>
                                                                        <div class="panel-body" style="margin: 0px; padding: 0px;">
                                                                            <div class="panel" style="margin:0px;">
                                                                                <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                                                    <h3 class="panel-title" style="float:right;">
                                                                                        <i class="fa fa-gears"></i> Başvuru Kriterleri
                                                                                    </h3>

                                                                                </div>
                                                                                <div class="panel-body" style="margin: 0px; padding: 0px;">
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-5 control-label">Mezuniyet Başvurusu Yapılabilir Mi</label>
                                                                                        <div class="col-md-7">
                                                                                            <span class="label label-@(item.IsMezuniyetBasvurusuYapabilir ? "success" : "danger")">@(item.IsMezuniyetBasvurusuYapabilir ? "Evet" : "Hayır")</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    @if (item.IsMezuniyetBasvurusuYapabilir)
                                                                                    {
                                                                                        <div class="form-group">
                                                                                            <label class="col-md-5 control-label">Son Dönem Kayıt Yaptırması Gereken Ders Kodları</label>
                                                                                            <div class="col-md-7">
                                                                                                @item.MBasvuruSonDonemKaydiKontrolEdilecekDersKodlari
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="col-md-5 control-label">Tüm Dönem Toplam Kredi Kriteri</label>
                                                                                            <div class="col-md-7">
                                                                                                @item.MBasvuruToplamKrediKriteri
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="col-md-5 control-label">Genel AGNO Kriteri</label>
                                                                                            <div class="col-md-7">
                                                                                                @item.MBasvuruAGNOKriteri
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="col-md-5 control-label">Genel AKTS Kriteri</label>
                                                                                            <div class="col-md-7">
                                                                                                @item.MBasvuruAKTSKriteri
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="col-md-5 control-label">SR Talebini Kaç Gün Sonra Alabilir</label>
                                                                                            <div class="col-md-7">
                                                                                                @item.MBSRTalebiKacGunSonraAlabilir
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            @if (item.IsMezuniyetBasvurusuYapabilir)
                                                                            {
                                                                                <div class="panel" style="margin:0px;">
                                                                                    <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                                                        <h3 class="panel-title" style="float:right;">
                                                                                            <i class="fa fa-gears"></i> Tez Sınavı ve Tez Teslimi Kriterleri
                                                                                        </h3>

                                                                                    </div>
                                                                                    <div class="panel-body" style="margin: 0px; padding: 0px;">
                                                                                        <div class="form-group">
                                                                                            <label class="col-md-5 control-label">Tez Sınavı Uzatma Süresi (Gün)</label>
                                                                                            <div class="col-md-7">
                                                                                                @item.MBSinavUzatmaSuresiGun
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="col-md-5 control-label">Tez Teslim Süresi (Gün)</label>
                                                                                            <div class="col-md-7">
                                                                                                @item.MBTezTeslimSuresiGun
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>



                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>


                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" style="text-align: center;">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function showDetail(id) {
        var sndr = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(sndr, cls, unTogled);

    }
    function silmeOnay(sndr, id) {
        var gMesaj = $("#tdMad_" + id).html();
        bootbox.dialog({
            message: "Öğrenim Tip Adı: " + gMesaj + " <br/> Seçilen Öğrenim Tipini Silmek İstiyor Musunuz?",
            title: "Öğrenim Tip Silme İşlemi",
            buttons: {
                success: {
                    label: "Öğrenim Tipi Sil",
                    className: "btn-danger",
                    callback: function () {
                        sil(sndr, id);
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });
    }
    function sil(sndr, id) {
        $.ajax({
            url: '@Url.Action("Sil", "OgrenimTipleri")',
            data: { id: id  },
            success: function (result) {
                toastr[result.success ? "success" : "error"](result.message, "Öğrenim Tip Silme İşlemi")
                if (result.success) {
                    $(sndr).closest("tr").remove();
                     $(".cls-" + id).remove();
                }

            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
</script>
