@using BiskaUtil
@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model LisansUstuBasvuruSistemi.Models.OgrenimTipleri
@{
    var mmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml"; 
  
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="OgrenimTipID" name="OgrenimTipID" value="@Model.OgrenimTipID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i>&nbsp; @(Model.OgrenimTipID <= 0 ? "Yeni öğrenim tipi tanımlama işlemi" : "Öğrenim tipi bilgisi düzenleme işlemi")</h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.OgrenimTipID)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="form-group-separated">
                        <div class="panel" style="margin:0px; margin:0px;">
                            <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                <h3 class="panel-title">
                                    <i class="fa fa-gears"></i> Genel Ayarları
                                </h3>

                            </div>
                            <div class="panel-body" style="margin: 0px; padding: 0px;">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label">Enstitü</label>
                                    <div class="col-md-8 col-xs-8">
                                        @Html.DropDownList("EnstituKod", null, new { @class = "form-control", onchange = "getOgrenimTips(this);" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label">Öğrenim Tip Kod</label>
                                    <div class="col-md-8 col-xs-8">
                                        <input type="text" name="OgrenimTipKod" id="OgrenimTipKod" value="@Model.OgrenimTipKod.ToEmptyStringZero()" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label">Öğrenim Tip Adı</label>
                                    <div class="col-md-8 col-xs-8">
                                        <input type="text" name="OgrenimTipAdi" id="OgrenimTipAdi" value="@Model.OgrenimTipAdi" class="form-control" />
                                    </div>
                                </div>
                                
                                @if (Model.OgrenimTipID > 0)
                                {
                                    <div class="form-group">
                                        <label class="col-md-4 col-xs-4 control-label">Durum</label>
                                        <div class="col-md-8 col-xs-8">
                                            <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="info" data-off="danger">
                                                <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div> 
                        <div class="panel" style="margin:0px; margin-top:10px;">
                            <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                <h3 class="panel-title">
                                    <i class="fa fa-gears"></i> Mezuniyet Başvurusu Ayarları
                                </h3>

                            </div>
                            <div class="panel-body" style="margin: 0px; padding: 0px;">
                                <div class="panel" style="margin:0px; margin:0px;">
                                    <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                        <h3 class="panel-title" style="float:right;">
                                            <i class="fa fa-gears"></i> Başvuru Kriterleri
                                        </h3>

                                    </div>
                                    <div class="panel-body" style="margin: 0px; padding: 0px;">
                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-4 control-label">Mezuniyet Başvurusu Yapabilir</label>
                                            <div class="col-md-8 col-xs-8">
                                                <div class="make-switch" data-on-label="Evet" data-off-label="Hayır" data-on="info" data-off="danger">
                                                    <input type="checkbox" value="true" name="IsMezuniyetBasvurusuYapabilir" class="toggle" @Model.IsMezuniyetBasvurusuYapabilir.ToChecked() onchange="if ($(this).prop('checked')) { $('.MBYapabilir').removeClass('hide'); } else { $('.MBYapabilir').addClass('hide'); }" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MBYapabilir @(Model.IsMezuniyetBasvurusuYapabilir ? "" : "hide")">
                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-4 control-label">Son Dönem Kayıt Yaptırması Gereken Ders Kodları</label>
                                                <div class="col-md-8 col-xs-8">
                                                    <input type="text" name="MBasvuruSonDonemKaydiKontrolEdilecekDersKodlari" id="MBasvuruSonDonemKaydiKontrolEdilecekDersKodlari" value="@Model.MBasvuruSonDonemKaydiKontrolEdilecekDersKodlari" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-4 control-label">Tüm Dönem Toplam Kredi Kriteri</label>
                                                <div class="col-md-8 col-xs-8">
                                                    <input type="text" name="MBasvuruToplamKrediKriteri" id="MBasvuruToplamKrediKriteri" value="@Model.MBasvuruToplamKrediKriteri" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-4 control-label">Min Etik Ders Notu Kriteri</label>
                                                <div class="col-md-8 col-xs-8">
                                                    @Html.DropDownList("MBasvuruEtikNotKriteri", null,"", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-4 control-label">Min Seminer Ders Notu Kriteri</label>
                                                <div class="col-md-8 col-xs-8">
                                                    @Html.DropDownList("MBasvuruSeminerNotKriteri", null,"", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-4 control-label">Genel AGNO Kriteri</label>
                                                <div class="col-md-8 col-xs-8">
                                                    <input type="text" name="MBasvuruAGNOKriteri" id="MBasvuruAGNOKriteri" value="@Model.MBasvuruAGNOKriteri" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-4 control-label">Genel AKTS Kriteri</label>
                                                <div class="col-md-8 col-xs-8">
                                                    <input type="text" name="MBasvuruAKTSKriteri" id="MBasvuruAKTSKriteri" value="@Model.MBasvuruAKTSKriteri" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-4 control-label">SR Talebini Kaç Gün Sonra Alabilir</label>
                                                <div class="col-md-8 col-xs-8">
                                                    <input type="text" name="MBSRTalebiKacGunSonraAlabilir" id="MBSRTalebiKacGunSonraAlabilir" value="@Model.MBSRTalebiKacGunSonraAlabilir" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel MBYapabilir @(Model.IsMezuniyetBasvurusuYapabilir?"":"hide")" style="margin:0px; margin:0px;">
                                    <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                        <h3 class="panel-title" style="float:right;">
                                            <i class="fa fa-gears"></i> Tez Sınavı ve Tez Teslimi Kriterleri
                                        </h3>

                                    </div>
                                    <div class="panel-body" style="margin: 0px; padding: 0px;">
                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-4 control-label">Tez Sınavı Uzatma Süresi (Gün)</label>
                                            <div class="col-md-8 col-xs-8">
                                                <input type="text" name="MBSinavUzatmaSuresiGun" id="MBSinavUzatmaSuresiGun" value="@Model.MBSinavUzatmaSuresiGun" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-4 control-label">Tez Teslim Süresi (Gün)</label>
                                            <div class="col-md-8 col-xs-8">
                                                <input type="text" name="MBTezTeslimSuresiGun" id="MBTezTeslimSuresiGun" value="@Model.MBTezTeslimSuresiGun" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply">&nbsp</i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save">&nbsp</i>Kaydet</button>
                </div>
            </div>
           
        </div>
    </form>
</div>
<script>
    function grupBilgiKontrol(sndr) {
        var val = $(sndr).val().toLowerCase();
        if (val == "true") {
            $('#trGrupAdi').removeClass("hide");
            $('#GrupKoduDiv').removeClass("hide");
            if ($('#GrupKodu').val() == null || $('#GrupKodu').val() == "") {
                var gd = (Math.random().toString(16) + "000000000").substr(2, 5)
                $('#GrupKodu').val(gd.toUpperCase());
            }
        }
        else if (val == "false") {
            $('#trGrupAdi').addClass("hide");
            $('#GrupKoduDiv').addClass("hide");
        }
    }
    $('#Kota').keydown(function (e) {
        myMask(e, this, true, 2, null, null);
    });
    $(function () {

        var model = '@Html.Raw(Json.Encode(mmMessage))';
        validateControl(model);
    });
    function getOgrenimTips(sndr) {
        var sndrVal = $(sndr).val();

        if (sndrVal != null && sndrVal != "") {
            $.ajax({
                url: '@Url.Action("GetOts", "Ajax")',
                data: { 'EnstituKod': sndrVal, 'bosSecimVar':'false','HaricOgreniTipKod':'@Model.OgrenimTipKod.ToEmptyStringZero()' },
                success: function (result) {
                    var opt = "<select name='secilenID' id='secilenID' multiple class='form-control select'>";
                    for (var i = 0; i < result.length; i++) {
                        opt += "<option value=" + result[i].Value + ">" + result[i].Caption + "</option>"
                    }
                    opt += "</select>";
                    $('#bagliOT').html(opt);
                    $('#secilenID').selectpicker();
                },
                error: function (err) {
                    alert(err.responseText);
                    $('#bagliOT').html('');
                }
            });
        }
        else {
            $('#bagliOT').html('');
        }
    }

</script>
