@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.Helpers
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model TiAraRaporFormuModel
@{
    Layout = null;
    var tezDanismaniBilgi = Model.KomiteList.FirstOrDefault(p => p.JuriTipAdi == "TezDanismani");
    var tikUyesi1Bilgi = Model.KomiteList.FirstOrDefault(p => p.JuriTipAdi == "TikUyesi1");
    var tikUyesi2Bilgi = Model.KomiteList.FirstOrDefault(p => p.JuriTipAdi == "TikUyesi2");
    var enstituKayitYetki = RoleNames.TiGelenBasvuruKayit.InRole();
}
<div class="widget widget-default" style="margin:0px;padding:4px;">
    <div class="panel panel-default form-horizontal" style="margin:0px;margin-top:5px;">
        <div class="panel-heading padding-0">
            <h3 class="panel-title"><i class="fa fa-book myCaptionTd"></i> <span class="myCaptionTd"> Rapor Formu</span> </h3>
            <ul class="panel-controls"></ul>
        </div>
        <div class="panel-body" style="padding:0px;padding-left:2px;padding-right:2px;">


            @using (Ajax.BeginForm("TiAraRaporFormuPost", "TiBasvuru", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "FrmTIAraRaporFormu" }))
            {
                @Html.HiddenFor(p => p.TIBasvuruID);
                @Html.HiddenFor(p => p.TIBasvuruAraRaporID);
                @Html.HiddenFor(p => p.IsTezDiliTr);
                @Html.Hidden("SelectedTabID", Model.SelectedTabId);
                @Html.Hidden("SaveData", (Model.TIBasvuruAraRaporID > 0 ? "true" : "false"));
                <div class="panel-body form-group-separated">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-4 control-label">Anabilim Dalı / Program</label>
                        <div class="col-md-9 col-xs-8">
                            @Model.OgrenciAnabilimdaliProgramAdi
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-4 control-label">Ad Soyad</label>
                        <div class="col-md-9 col-xs-8">
                            @Model.OgrenciAdSoyad
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" style="margin:0px;margin-top:0px;">
                    <div class="panel panel-default tabs" style="margin-bottom:0px; padding:0px;">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-1" data-toggle="tab" onclick="TITabChangeSet(1);" aria-expanded="false">
                                    <i class="fa fa-file myCaptionTd"></i> <span style="font-size:8pt;">Tez Bilgisi</span>
                                </a>
                            </li>
                            <li>
                                <a href="#tab-2" data-toggle="tab" onclick="TITabChangeSet(2);" aria-expanded="false">
                                    <i class="fa fa-user myCaptionTd"></i> <span style="font-size:8pt;">Tez Danışmanı</span>
                                </a>
                            </li>
                            <li>

                                <a href="#tab-3" data-toggle="tab" onclick="TITabChangeSet(3);" aria-expanded="false">
                                    <i class="fa fa-user myCaptionTd"></i> <span style="font-size:8pt;">1. Tik Üyesi</span>
                                </a>
                            </li>
                            <li>
                                <a href="#tab-4" data-toggle="tab" onclick="TITabChangeSet(4)" aria-expanded="false">
                                    <i class="fa fa-user myCaptionTd"></i> <span style="font-size:8pt;">2. Tik Üyesi</span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-body tab-content" style="padding:0px;">
                            <div class="tab-pane active" id="tab-1">
                                <div class="widget widget-default" style="padding:3px;margin:0px;">
                                    <div class="panel panel-default form-horizontal">
                                        <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                            <h3 class="panel-title" style="font-size:9pt;">Tez Bilgisi Verisi için Aşağıdaki Bilgileri Eksiksizce Doldurunuz Lütfen.</h3>
                                        </div>
                                        <div class="panel-body form-group-separated" style="padding: 5px;">
                                            @if (enstituKayitYetki)
                                            {
                                                <div class="form-group">
                                                    <label class="col-md-3 col-xs-4 control-label">Dönem (*)</label>
                                                    <div class="col-md-9 col-xs-8">
                                                        @Html.DropDownList("DonemSecim", Model.SListDonemSecim, new { @class = "form-control", @style = "width:100%;color:black;", id = "DonemSecim" })
                                                    </div>
                                                </div>
                                            }
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-4 control-label">Rapor Sayısı (*)</label>
                                                <div class="col-md-9 col-xs-8">
                                                    @Html.DropDownList("AraRaporSayisi", Model.SListAraRaporSayisi, new { @class = "form-control", @style = "width:100%;color:black;", id = "AraRaporSayisi" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-4 control-label">Tez Dili</label>
                                                <div class="col-md-9 col-xs-8">
                                                    @(Model.IsTezDiliTr ? "Türkçe" : "İngilizce")
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-4 control-label">Tez Başlığı Türkçe (*)</label>
                                                <div class="col-md-9 col-xs-8">
                                                    <input type="text" name="TezBaslikTr" id="TezBaslikTr"  @(Model.TezBaslikTr.IsNullOrWhiteSpace() ? "" : "readonly") value="@Model.TezBaslikTr" class="form-control UpperTextTr tCharacterBlock" style="color: black;" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-4 control-label">Tez Başlığı İngilizce (*)</label>
                                                <div class="col-md-9 col-xs-8">
                                                    <input type="text" name="TezBaslikEn" autocomplete="off" id="TezBaslikEn" @(Model.TezBaslikEn.IsNullOrWhiteSpace() ? "" : "readonly") value="@Model.TezBaslikEn" class="form-control UpperTextEn tCharacterBlock" style="color: black;" />
                                                </div>
                                            </div>
                                          
                                            <div class="form-group TTB">
                                                <label class="col-md-3 col-xs-4 control-label">Çalışma Raporu Dosyası (*) <i class="fa fa-file-pdf-o" style="font-size: 12pt;"></i></label>
                                                <div class="col-md-9 col-xs-8">

                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <input type="file" class="fileinput" accept="application/pdf" name="Dosya" id="Dosya" title="Belge Seç (Belge PDF türünde olmalıdır)" />
                                                            </td>
                                                            <td style="text-align: center;">
                                                                @if (Model.TICalismaRaporDosyaAdi != null)
                                                                {
                                                                    <input type="text" class="hide" name="TICalismaRaporDosyaAdi" id="TICalismaRaporDosyaAdi" value="@Model.TICalismaRaporDosyaAdi" />
                                                                    <span>Yüklenen Belge: <a href="@Url.CustomUrlContent(Model.TICalismaRaporDosyaYolu)" target="_blank" style="color: green; font-weight: bold;">@Model.TICalismaRaporDosyaAdi</a></span>
                                                                }
                                                                else
                                                                {
                                                                    <input type="text" class="hide" name="TICalismaRaporDosyaAdi" id="TICalismaRaporDosyaAdi" value="" />
                                                                }
                                                            </td>


                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-4 control-label">100/2000 YÖK Bursiyeri Var Mı (*)</label>
                                                <div class="col-md-9 col-xs-8">
                                                    <select class="form-control" name="IsYokDrBursiyeriVar" onchange="if ($(this).val()=='true') { $('.YokB').removeClass('hide'); } else { $('.YokB').addClass('hide'); }">
                                                        <option></option>
                                                        <option value="true" @(Model.IsYokDrBursiyeriVar == true ? "selected" : "")>Evet</option>
                                                        <option value="false" @(Model.IsYokDrBursiyeriVar == false ? "selected" : "")>Hayır</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group YokB @(Model.IsYokDrBursiyeriVar == true ? "" : "hide")">
                                                <label class="col-md-3 col-xs-4 control-label">Öncelikli Alt Alan Adı</label>
                                                <div class="col-md-9 col-xs-8">
                                                    <input type="text" id="YokDrOncelikliAlan" autocomplete="off" name="YokDrOncelikliAlan" value="@Model.YokDrOncelikliAlan" maxlength="128" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="widget widget-default" style="padding:3px;margin:0px;">
                                    <div class="panel panel-default form-horizontal">
                                        <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                            <h3 class="panel-title" style="font-size:9pt;">Tez Danışmanı Verisi için Aşağıdaki Bilgileri Eksiksizce Doldurunuz Lütfen.</h3>
                                        </div>
                                        <div class="panel-body form-group-separated" style="padding:5px;">

                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Adı Soyadı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="hidden" name="JuriTipAdi" value="TezDanismani" />
                                                    <input type="hidden" name="TabID" value="2" />
                                                    <input type="text" class="form-control upperCase" name="AdSoyad" maxlength="128" value="@(tezDanismaniBilgi!=null ? tezDanismaniBilgi.AdSoyad : "")" readonly="readonly" style="width: 100%;color:black;" id="TezDanismaniAdSoyad" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Unvanı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">

                                                    <input type="text" autocomplete="off" class="form-control upperCase" name="UnvanAdi" maxlength="128" value="@(tezDanismaniBilgi!=null ? tezDanismaniBilgi.UnvanAdi : "")" readonly="readonly" style="width: 100%;color:black;" id="TezDanismaniUnvanAdi" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    E-Posta Adresi (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" autocomplete="off" class="form-control" maxlength="128" name="EMail" value="@(tezDanismaniBilgi != null ? tezDanismaniBilgi.EMail : "")" style="width: 100%;" id="TezDanismaniEMail" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Üniversitesi (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    @Html.DropDownList("UniversiteID", tezDanismaniBilgi.SListUniversiteID, new { @class = "form-control", @style = "width:100%;color:black;", id = "TezDanismaniUniversiteID" })
                                                    @if (tezDanismaniBilgi != null && tezDanismaniBilgi.UniversiteID.HasValue)
                                                    {
                                                        <script>
                                                            $(function () {
                                                                $('#TezDanismaniUniversiteID').val('@tezDanismaniBilgi.UniversiteID.Value');
                                                            })
                                                        </script>
                                                    }
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Anabilim Dalı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" autocomplete="off" class="form-control" maxlength="256" name="AnabilimdaliProgramAdi" value="@(tezDanismaniBilgi != null ? tezDanismaniBilgi.AnabilimdaliProgramAdi : "")" style="width: 100%;" id="TezDanismaniAnabilimdaliProgramAdi" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="widget widget-default" style="padding:3px;margin:0px;">
                                    <div class="panel panel-default form-horizontal">
                                        <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                            <h3 class="panel-title" style="font-size:9pt;">1. Tik Üyesi Önerisi için Aşağıdaki Bilgileri Eksiksizce Doldurunuz Lütfen.</h3>
                                        </div>
                                        <div class="panel-body form-group-separated" style="padding:5px;">

                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Adı Soyadı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="hidden" name="JuriTipAdi" value="TikUyesi1" />
                                                    <input type="hidden" name="TabID" value="3" />
                                                    <input type="text" class="form-control upperCase" maxlength="128" name="AdSoyad" value="@(tikUyesi1Bilgi != null ? tikUyesi1Bilgi.AdSoyad.ToUpper() : "")" readonly="readonly" style="width: 100%;color:black;" id="TikUyesi1AdSoyad" />

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Unvanı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control upperCase" maxlength="128" name="UnvanAdi" value="@(tikUyesi1Bilgi != null ? tikUyesi1Bilgi.UnvanAdi.ToUpper() : "")" readonly="readonly" style="width: 100%;color:black;" id="TikUyesi1UnvanAdi" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    E-Posta Adresi (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control" maxlength="128" name="EMail" value="@(tikUyesi1Bilgi != null ? tikUyesi1Bilgi.EMail : "")" style="width: 100%;color:black;" id="TikUyesi1EMail" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Üniversitesi (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    @Html.DropDownList("UniversiteID", tikUyesi1Bilgi.SListUniversiteID, new { @class = "form-control", @style = "width:100%;color:black;", id = "TikUyesi1UniversiteID" })
                                                    @if (tikUyesi1Bilgi != null && tikUyesi1Bilgi.UniversiteID.HasValue)
                                                    {
                                                        <script>
                                                            $(function () {
                                                                $('#TikUyesi1UniversiteID').val('@tikUyesi1Bilgi.UniversiteID.Value');
                                                            })
                                                        </script>
                                                    }
                                                    @*<input type="text" class="form-control" maxlength="128" name="UniversiteAdi" value="@(TikUyesi1Bilgi != null ? TikUyesi1Bilgi.UniversiteAdi : "")" style="width: 100%;" id="TikUyesi1UniversiteAdi" />*@
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Anabilim Dalı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control" autocomplete="off" maxlength="256" name="AnabilimdaliProgramAdi" value="@(tikUyesi1Bilgi != null ? tikUyesi1Bilgi.AnabilimdaliProgramAdi : "")" style="width: 100%;color:black;" id="TikUyesi1AnabilimdaliProgramAdi" />
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <div class="widget widget-default" style="padding:3px;margin:0px;">
                                    <div class="panel panel-default form-horizontal">
                                        <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                            <h3 class="panel-title" style="font-size:9pt;">2. Tik Üyesi Önerisi için Aşağıdaki Bilgileri Eksiksizce Doldurunuz Lütfen.</h3>
                                        </div>
                                        <div class="panel-body form-group-separated" style="padding:5px;">

                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Adı Soyadı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="hidden" name="JuriTipAdi" value="TikUyesi2" />
                                                    <input type="hidden" name="TabID" value="4" />
                                                    <input type="text" class="form-control upperCase" maxlength="128" name="AdSoyad" value="@(tikUyesi2Bilgi != null ? tikUyesi2Bilgi.AdSoyad.ToUpper() : "")" readonly="readonly" style="width: 100%;color:black;" id="TikUyesi2AdSoyad" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Unvanı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control upperCase" maxlength="128" name="UnvanAdi" value="@(tikUyesi2Bilgi != null ? tikUyesi2Bilgi.UnvanAdi.ToUpper() : "")" readonly="readonly" style="width: 100%;color:black;" id="TikUyesi2UnvanAdi" />

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    E-Posta Adresi (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control" autocomplete="off" maxlength="128" name="EMail" value="@(tikUyesi2Bilgi != null ? tikUyesi2Bilgi.EMail : "")" style="width: 100%;" id="TikUyesi2EMail" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Üniversitesi (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    @Html.DropDownList("UniversiteID", tikUyesi2Bilgi.SListUniversiteID, new { @class = "form-control", @style = "width:100%;color:black;", id = "TikUyesi2UniversiteID" })
                                                    @if (tikUyesi2Bilgi != null && tikUyesi2Bilgi.UniversiteID.HasValue)
                                                    {
                                                        <script>
                                                            $(function () {
                                                                $('#TikUyesi2UniversiteID').val('@tikUyesi2Bilgi.UniversiteID.Value');
                                                            })
                                                        </script>
                                                    }
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Anabilim Dalı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control" autocomplete="off" maxlength="256" name="AnabilimdaliProgramAdi" value="@(tikUyesi2Bilgi != null ? tikUyesi2Bilgi.AnabilimdaliProgramAdi : "")" style="width: 100%;" id="TikUyesi2AnabilimdaliProgramAdi" />
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/inputTextChangeUpperCase.js"></script>
@if (Model.TIBasvuruAraRaporID > 0)
{
    <script>
        setTimeout(function () {
            $('.btnKaydet').removeClass("btn-info").addClass("btn-primary");
            $('.btnKaydet').text('Kaydet');

        }, 200);
    </script>
}
<script>
    onSpecialCharacterBlockerLoaded(); 
</script>
<script>
    $('.make-switch')['bootstrapSwitch']();
    function TITabChangeSet(SelectedTabID) {

        $('#SelectedTabID').val(SelectedTabID);
        if (SelectedTabID == "4") {
            $('.btnKaydet').removeClass("btn-info").addClass("btn-primary");
            $('.btnKaydet').text('Kaydet');
            $('#SaveData').val("true");

        }
        else {

            $('.btnKaydet').addClass("btn-info").removeClass("btn-primary");
            $('.btnKaydet').text('İleri');
            $('#SaveData').val("false");
        }
    }


    $(function () {
        $('.upperCase').each(function (ix, inx) {
            $(inx).attr('autocomplete', 'off');
            $(inx).bind('keyup', function (e) {
                var vl = $(inx).val();
                $(inx).val(vl.replaceAll("i", "İ").toUpperCase());
            });
        })
        $('.egitmens').select2({
            tags: true,
            tokenSeparators: [",", " "],
            minimumInputLength: 2,
            maximumSelectionSize: 1,
            multiple: false,
            ajax: {
                url: '@Url.Action("GetYtuOgretimEleman", "Ajax")',
                dataType: "json",
                data: function (term, page) {
                    return {
                        'term': term
                    }

                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            },
            formatResult: function (result) {
                var cont2 =
                    "<table class='table table-striped' style='width:100%; margin:0px;'>" +
                    "<tbody>" +
                    "<tr>" +
                    "<td style='vertical-align:middle;'>" +
                    "<table class='table table-striped' style='margin:0px;border-top:none;font-size:8pt;'> " +
                    "<tbody>" +
                    "<tr><td>" + result.AdSoyad + "</td></tr>" +
                    "<tr><td>Bölüm:" + result.BolumAdi + "</td></tr>" +
                    "<tr><td>Ünvan: " + result.UnvanAdi + "</td></tr>" +
                    "</tbody> " +
                    "</table> " +
                    "</td>" +
                    "</tr> " +
                    "</tbody>" +
                    "</table>";
                return cont2;
            }
        }).on('change', function (e) {
            var Inpid = $(this).prop("id");
            var mID = Inpid.replace("AdSoyadx", "").replace("AdSoyad", "");
            $('#' + mID + 'AdSoyad').val(e.added == undefined ? "" : e.added.AdSoyad);
            $('#' + mID + 'UnvanAdi').val(e.added == undefined ? "" : e.added.UnvanAdi);
            $('#' + mID + 'EMail').val(e.added == undefined ? "" : e.added.EMail);
            $('#' + mID + 'AnabilimdaliProgramAdi').val(e.added == undefined ? "" : e.added.BolumAdi);
            $('#' + mID + 'UniversiteID').val(e.added == undefined ? "" : e.added.UniversiteID);
            $('#x' + mID + 'UniversiteID').val(e.added == undefined ? "" : e.added.UniversiteID);
            $('#x' + mID + 'UnvanAdi').val(e.added == undefined ? "" : e.added.UnvanAdi);

            //  var id = e.added.id;
            });
        //.data([{ "id": $(this).prev().val(), "text": $(this).prev().val() }]);
        //$('.egitmens').each(function (inx, elem) {
        //    var deger = $(elem).prev().val();
        //    $(elem).select2('data', [{ "id": deger, "text": deger }]);
        //});
    });

</script>
