@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos 
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil;
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model MezuniyetBasvuruDetayDto
@{ 
    Layout = null;
    bool kayitYetki = RoleNames.MezuniyetGelenBasvurularKayit.InRoleCurrent(); 
    var tbName = TabAdlari.MezuniyetBasvurulariTN + "-" + (Model.IsDelete ? Model.MezuniyetBasvurulariID.ToString() + "_cp" : Model.MezuniyetBasvurulariID.ToString());
    var itemOnaylananSr = Model.MezuniyetSRModel.SalonRezervasyonlari.FirstOrDefault(p => p.MezuniyetSinavDurumID == MezuniyetSinavDurum.Basarili);

    var mezuniyetBasvurulariTezTeslimFormu = Model.MezuniyetBasvurulariTezTeslimFormlaris.FirstOrDefault(); 
    var item = itemOnaylananSr; 
    var colorMz = Model.IsMezunOldu.HasValue ? (Model.IsMezunOldu.Value ? "Green" : "Maroon") : "Gray";
}



<div class="tab-pane @(Model.SelectedTabIndex == 5 ? "active" : "") " id="@tbName-5">
    <div class="col-md-12">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8pt;padding:6px 10px;min-height:30px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-graduation-cap fa-lg"></i> Mezuniyet Süreci</td>
                    </tr>
                    <tr>
                        <td style="padding-left:10px;text-align:left;">
                            <div class="widget widget-default" style="border-top:1px solid; margin-bottom:8px;padding:6px 10px;min-height:20px;">
                                <table style="width:100%;">
                                    <tbody>

                                        <tr>
                                            <td style="padding-left:10px;text-align:left;">
                                                <table style="width:100%;">
                                                    <tr>
                                                        <td class="CaptionTd" width="140">Tez Teslim Formu</td>
                                                        <td class="CaptionTd" width="10">:</td>
                                                        <td class="ValueTd">
                                                            <table style="table-layout:fixed;width:100%;">
                                                                <tr>
                                                                    <td>
                                                                        @if (mezuniyetBasvurulariTezTeslimFormu == null)
                                                                        {
                                                                            if (Model.IsAnketVar == false || Model.IsAnketDolduruldu)
                                                                            {
                                                                                <a href="javascript:void(0);" onclick="showSRBCiltDialog(@Model.MezuniyetBasvurulariID,true)">
                                                                                    Yeni Tez Teslim Formu Oluştur
                                                                                </a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="javascript:void(0);" onclick="GetAnket()">
                                                                                    Yeni Tez Teslim Formu Oluştur
                                                                                </a>
                                                                                <script type="text/javascript">
                                                                                    function GetAnket() {
                                                                                        var strView = @Html.Raw(Json.Encode(Model.AnketView.Trim()));
                                                                                        var btbxxFS = bootbox.dialog({
                                                                                            message: strView,
                                                                                            //title: "<i class='fa fa-pencil'></i> Anket Sorusu Ekleme İşlemi",
                                                                                            buttons: {
                                                                                                success: {
                                                                                                    label: 'Kaydet',
                                                                                                    className: "btn-primary",
                                                                                                    callback: function (event) {
                                                                                                        var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                                                                                        PanelRefresh(pnlx, false);
                                                                                                        $('#FrmAnket').ajaxForm({
                                                                                                            success: function (result) {
                                                                                                                if (result.IsSuccess) {
                                                                                                                    var _clsBtn = $('.bootbox-close-button').first();
                                                                                                                    $(_clsBtn).click();
                                                                                                                    showSRBCiltDialog(@Model.MezuniyetBasvurulariID,true);
                                                                                                                    getDetailx('@Model.MezuniyetSurecID');
                                                                                                                }
                                                                                                                else {
                                                                                                                    getMsg(result);
                                                                                                                    return false;
                                                                                                                } 
                                                                                                            },
                                                                                                            complete: function (cmp) {
                                                                                                                PanelRefresh(pnlx, true);
                                                                                                            } 

                                                                                                        });
                                                                                                        $('#FrmAnket').submit();
                                                                                                        return false;
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        });
                                                                                        $(btbxxFS).find('.modal-dialog').first().addClass('modal-lg');

                                                                                    }
                                                                                </script>
                                                                            }

                                                                        }
                                                                        else
                                                                        {
                                                                            <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'LİSANSÜSTÜ CİLTLİ TEZ TESLİM FORMU','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipleri.MezuniyetCiltFormuRaporu&ID=@mezuniyetBasvurulariTezTeslimFormu.MezuniyetBasvurulariTezTeslimFormID' , 'auto', 'modal-dialog modal-lg' )">@mezuniyetBasvurulariTezTeslimFormu.IslemTarihi.ToDateString() Tarihinde oluşturulmuş Tez Teslim Formunu Görmek için tıklayınız</a>

                                                                        }

                                                                    </td>
                                                                    <td width="10">
                                                                        @if (mezuniyetBasvurulariTezTeslimFormu != null && Model.IsMezunOldu.HasValue == false)
                                                                        {
                                                                            <a href="javascript:void(0)" onclick="showSRBCiltDialog(@Model.MezuniyetBasvurulariID)"><i class="fa fa-edit fa-lg" title="Tez Teslim Formunu Düzenle"></i></a>

                                                                        }
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr class="@(Model.IsMezunOldu.HasValue ? "hide" : "")">
                                                        <td class="CaptionTd"></td>
                                                        <td class="CaptionTd">:</td>
                                                        <td class="ValueTd" style="color:maroon;">
                                                            <i class="fa fa-info-circle fa-lg"></i> @Html.Raw(mezuniyetBasvurulariTezTeslimFormu == null ? "Tez Teslim Formu oluşturup çıktısını <b>" + item.TeslimSonTarih.ToDateString() + "</b> tarihine kadar enstitü yetkililerine teslim etmeniz gerekmektedir. Aksi halde mezuniyet işleminiz tamamlanamayacaktır." : "Hazırladığınız Tez Teslim Formunun çıktısını <b>" + item.TeslimSonTarih.ToDateString() + "</b> tarihine kadar enstitü yetkililerine teslim etmeniz gerekmektedir. Aksi halde mezuniyet işleminiz tamamlanamayacaktır.")
                                                        </td>
                                                    </tr>


                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;color:@colorMz;">
                                <table style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td style="padding-left:10px;text-align:left;">
                                                <table style="width:100%;">
                                                    <tr>
                                                        <td class="CaptionTd" width="140">Mezuniyet Durumu</td>
                                                        <td class="CaptionTd" width="10">:</td>
                                                        <td class="ValueTd">
                                                            @if (kayitYetki && item.IsSonSRTalebi && Model.IsDelete == false)
                                                            {
                                                                @Html.DropDownList("IsMezunOldu", Model.MezuniyetDurumSelectList.IsMezunOldu, new { id = "IsMezunOldu_" + Model.MezuniyetBasvurulariID, onchange = "MzDurumChange(this,'" + Model.MezuniyetBasvurulariID + "');", style = "width:120px;" })
                                                                <span class="label label-primary" style="cursor:pointer;font-size:8pt;" onclick="MzDurumKaydet(@Model.MezuniyetBasvurulariID);"><i class="fa fa-save" aria-hidden="true"></i> Kaydet</span>
                                                                <script>
                                                                    function MzDurumChange(sndr, id) {
                                                                        var sndrVal = $(sndr).val();
                                                                        if (sndrVal == "True") {
                                                                            $('#MezuniyetTrhDv_' + id).removeClass("hide");
                                                                        }
                                                                        else {

                                                                            $('#MezuniyetTrhDv_' + id).addClass("hide");
                                                                        }
                                                                    }
                                                                </script>
                                                            }
                                                            else
                                                            {
                                                                @(!Model.IsMezunOldu.HasValue ? "Sonuç Girilmedi" : (Model.IsMezunOldu.Value ? "Mezun Oldu" : "Mezun Olamadı"))
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr class="@(Model.IsMezunOldu == true ? "" : "hide")" id="MezuniyetTrhDv_@Model.MezuniyetBasvurulariID">
                                                        <td class="CaptionTd" style="font-weight:bold;">Mezuniyet Tarihi</td>
                                                        <td class="CaptionTd" style="font-weight:bold;">:</td>
                                                        <td class="ValueTd">
                                                            @if (kayitYetki && item.IsSonSRTalebi && Model.IsDelete == false)
                                                            {
                                                                <input type="text" class="form-control" style="width:120px;" name="MezuniyetTarihi" id="MezuniyetTarihi_@Model.MezuniyetBasvurulariID" autocomplete="off" size="16" value="@(Model.MezuniyetTarihi.HasValue == false ? "" : Model.MezuniyetTarihi.ToString("yyyy-MM-dd"))" />
                                                                <script>
                                                                    $(function () {
                                                                        $('#MezuniyetTarihi_@Model.MezuniyetBasvurulariID').datetimepicker({
                                                                            lang: 'tr',
                                                                            timepicker: false,
                                                                            format: 'Y-m-d'
                                                                        });
                                                                    });
                                                                </script>
                                                            }
                                                            else
                                                            {
                                                                @Model.MezuniyetTarihi.ToString("yyyy-MM-dd")
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>