@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.Helpers
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model MezuniyetBasvuruDetayDto
@{


    Layout = null;
    var kayitYetki = RoleNames.MezuniyetGelenBasvurularKayit.InRoleCurrent() && Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi;
    var tdKayitYetki = kayitYetki || (RoleNames.MezuniyetGelenBasvurularTezKontrol.InRoleCurrent() && Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi);
    var tbName = TabAdiEnum.MezuniyetBasvurulariTn + "-" + (Model.IsDelete ? Model.MezuniyetBasvurulariID.ToString() + "_cp" : Model.MezuniyetBasvurulariID.ToString());
    var tezKontrolYetkiliAta = RoleNames.MezuniyetGelenBasvurularTezKontrolYetkiliAtama.InRole() && Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi;
    var bezCiltForm = Model.MezuniyetBasvurulariTezTeslimFormlaris.FirstOrDefault();

    var isTdYuklemeKapali = Model.MezuniyetBasvurulariTezDosyalariDtos.Any(a => a.IsOnaylandiOrDuzeltme == true);
    var onayBekleyen = Model.MezuniyetBasvurulariTezDosyalariDtos.FirstOrDefault(p => !p.IsOnaylandiOrDuzeltme.HasValue);
    var frmId = "TezDosyaEklePost_" + Model.MezuniyetBasvurulariID;

    var showUzatmaTalepMezunDurum = !Model.IsMezunOldu.HasValue || (Model.IsMezunOldu.HasValue && Model.CiltliTezTeslimUzatmaTalebi == true && Model.CiltliTezTeslimUzatmaTalebiDanismanOnay.HasValue);
}


<div class="tab-pane @(Model.SelectedTabIndex == 4 ? "active" : "") " id="@tbName-4">
    <div class="col-md-12">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8pt;padding:6px 10px;min-height:30px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-file-text-o fa-lg"></i> Tez Kontrol Süreci</td>
                    </tr>
                    <tr>
                        <td style="padding-left:10px;text-align:left;">
                            @using (Ajax.BeginForm("TezDosyaEklePost", "Mezuniyet", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = frmId }))
                            {
                                var colorTky = !Model.TezKontrolKullaniciID.HasValue ? "#353333" : "#2f8c8d";
                                <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8pt;padding:6px 10px;min-height:30px;">
                                    <b>Tez Kontrol Yetkilisi:</b><br />
                                    <div class="input-group">
                                        <table style="width:100%;table-layout:fixed;">
                                            <tr>

                                                <td width="35">
                                                    <span class="input-group-addon" style="cursor:pointer;background-color:@colorTky;">
                                                        @if (kayitYetki && Model.TezKontrolYetkiliUserKey.HasValue)
                                                        {
                                                            <a href="javascript:void(0)" onclick="DetayGor('@Model.TezKontrolYetkiliUserKey','#kulPnl')"><span class="fa fa-user fa-lg" style="color:white;"></span></a>
                                                        }
                                                        else
                                                        {
                                                            <span class="fa fa-user fa-lg"></span>
                                                        }

                                                    </span>
                                                </td>


                                                @if (tezKontrolYetkiliAta && !isTdYuklemeKapali)
                                                {
                                                    <td>
                                                        <input type="text" class="form-control" id="TezKontrolYetkilisi_@Model.MezuniyetBasvurulariID" style="width: 100%;" />
                                                        <script>

                                                            $('#TezKontrolYetkilisi_@Model.MezuniyetBasvurulariID').select2({
                                                                    tags: true,
                                                                    tokenSeparators: [",", " "],
                                                                    minimumInputLength: 0,
                                                                    maximumSelectionSize: 1,
                                                                    multiple: false,
                                                                    ajax: {
                                                                        url: '@Url.Action("GetTezkontrolYetkilisi", "Ajax")',
                                                                        dataType: "json",
                                                                        data: function (term, page) {
                                                                            return {
                                                                                'term': term
                                                                            }

                                                                        },
                                                                        results: function (data, page) {
                                                                            return {
                                                                                results: data
                                                                            };
                                                                        }
                                                                    },
                                                                    formatResult: function (result) {
                                                                        var returnhtml =
                                                                              "<table  style='margin:0px;border-top:none;font-size:8pt;text-align:left;'>"+
                                                                                    "<tr>" +
                                                                                         "<td width='30'><img src='" + result.ResimAdi + "' style='width:25px;height:25px;cursor:pointer;' class='img-circle img-thumbnail'></td>" +
                                                                                         "<td>" + result.text + "</td>" +
                                                                                    "</tr>"+
                                                                            "</table>";
                                                                        return returnhtml;
                                                                    }
                                                                });
                                                        </script>

                                                        @if (Model.TezKontrolKullaniciID.HasValue)
                                                        {
                                                            <script>
                                                                setTimeout(function () {
                                                                    var secilen = @Html.Raw(Json.Encode(new { id = Model.TezKontrolKullaniciID, text = Model.TezKontrolYetkilisiAdSoyad }));
                                                                    $("#TezKontrolYetkilisi_@Model.MezuniyetBasvurulariID").select2('data', secilen);
                                                                }, 1200);
                                                            </script>
                                                        }



                                                    </td>
                                                    <td width="104" style="padding:1px;">
                                                        <span class="input-group-addon" onclick="TezKontrolYetkilisiKaydet(@Model.MezuniyetBasvurulariID);" style="background-color:@colorTky;cursor:pointer"><span class="fa fa-save fa-lg"></span> @(Model.TezKontrolKullaniciID.HasValue ? "Değiştir" : "Kaydet")</span>

                                                        <script>
                                                            function TezKontrolYetkilisiKaydet(mezuniyetBasvurulariID) {
                                                                var tezKontrolKullaniciID = $('#TezKontrolYetkilisi_' + mezuniyetBasvurulariID).val();
                                                                var _panel = $('#bsvrDet_@Model.MezuniyetBasvurulariID');
                                                                PanelRefresh(_panel, false);
                                                                $.ajax({
                                                                    url: '@Url.Action("TezKontrolYetkilisiKaydet", "MezuniyetGelenBasvurular")',
                                                                    data: { mezuniyetBasvurulariID, tezKontrolKullaniciID },
                                                                    success: function (result) {
                                                                        PanelRefresh(_panel, true);
                                                                        toastr[result.IsSuccess ? "success" : "error"](result.MmMessage.Messages.join('<br/>'), result.MmMessage.Title);
                                                                        if (result.IsSuccess) {
                                                                            GetDetailx(@Model.MezuniyetBasvurulariID);
                                                                        }
                                                                    },
                                                                    error: function (err) {
                                                                        PanelRefresh(_panel, true);
                                                                        alert(err.responseText);
                                                                    }
                                                                });
                                                            }
                                                        </script>
                                                    </td>
                                                    <td width="120">
                                                    </td>

                                                }
                                                else
                                                {
                                                    <td>
                                                        <input type="text" class="form-control" readonly="readonly" value="@(Model.TezKontrolYetkilisiAdSoyad.IsNullOrWhiteSpace() ? "Belirlenmedi.." : Model.TezKontrolYetkilisiAdSoyad)" style="width: 100%;color:black;" />
                                                    </td>
                                                }

                                            </tr>

                                        </table>
                                        <input type="text" class="hide" name="RowID" value="@Model.RowID" />
                                        <input type="text" class="hide" name="MezuniyetBasvurulariTezDosyaID" value="@(onayBekleyen != null ? onayBekleyen.MezuniyetBasvurulariTezDosyaID.ToString() : "")" />
                                        <input class="hide" type="file" name="TezSablonDosyasi" accept="application/pdf" id="Belge_@Model.MezuniyetBasvurulariID" onchange="ChangeFile(this,'@Model.MezuniyetBasvurulariID');" />

                                    </div>
                                </div>


                                var isBelgeVar = onayBekleyen != null;
                                var isOnaylandi = isBelgeVar && onayBekleyen.IsOnaylandiOrDuzeltme.HasValue;
                                var colorKb = !isBelgeVar ? "#353333" : "#2f8c8d";
                                if (bezCiltForm == null && !isTdYuklemeKapali && !isBelgeVar)
                                {
                                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8pt;padding:6px 10px;min-height:30px;">
                                        <b>Tez kontrolü için tezinizin pdf formatındaki kopyasını buraya yükleyiniz</b><br />
                                        <div class="input-group">
                                            <table style="width:100%;table-layout:fixed;">
                                                <tr>
                                                    <td width="35">
                                                        <span class="input-group-addon" id="BelgeIcon_@Model.MezuniyetBasvurulariID" style="background-color:@colorKb;"><span class="fa fa-file-pdf-o fa-lg"></span></span>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="BelgeAdi_@Model.MezuniyetBasvurulariID" style="cursor:default;color:@colorKb;" readonly="readonly" value="@("Belge Seçilmedi")">
                                                    </td>
                                                    <td width="40" style="padding:1px;">
                                                        <span class="input-group-addon" id="DosyaSec_@Model.MezuniyetBasvurulariID" title="Dosya Seç" style="background-color:@colorKb;cursor:pointer;" onclick="$('#Belge_@Model.MezuniyetBasvurulariID').click();"><span class="glyphicon glyphicon-folder-open"></span></span>
                                                    </td>
                                                    <td width="160" style="padding:1px;">
                                                        <select class="form-control hide" name="IsLatexOrWordSablonu" id="IsLatexOrWordSablonu_@Model.MezuniyetBasvurulariID">
                                                            <option>Şablon Türü Seçin</option>
                                                            <option value="true">Yüklenen Tez Latex Şablonudur</option>
                                                            <option value="false">Yüklenen Tez Word Şablonudur</option>
                                                        </select>
                                                    </td>
                                                    <td width="120" style="padding:1px;">
                                                        <span class="input-group-addon hide" id="BelgeyiKaydet_@Model.MezuniyetBasvurulariID" onclick="TezDosyasiKaydet('@frmId',@Model.MezuniyetBasvurulariID);" style="background-color:@colorKb;cursor:pointer"><span class="fa fa-save fa-lg"></span> @(isBelgeVar ? "Değiştir" : "Kaydet")</span>
                                                    </td>

                                                </tr>

                                            </table>
                                            <input type="text" class="hide" name="RowID" value="@Model.RowID" />
                                            <input type="text" class="hide" name="MezuniyetBasvurulariTezDosyaID" value="@(onayBekleyen != null ? onayBekleyen.MezuniyetBasvurulariTezDosyaID.ToString() : "")" />
                                            <input class="hide" type="file" name="TezSablonDosyasi" accept="application/pdf" id="Belge_@Model.MezuniyetBasvurulariID" onchange="ChangeFile(this,'@Model.MezuniyetBasvurulariID');" />

                                        </div>
                                    </div>

                                }
                            }
                            @if (Model.MezuniyetBasvurulariTezDosyalariDtos.Count > 0)
                            {
                                int inx = 0;
                                <table id="yTable" class="table table-hover" style="width:100%;table-layout:fixed;">
                                    <thead>
                                        <tr class="info">
                                            <th width="45"></th>
                                            <th width="125" title="Kontrol Sayısı / Dosya Yükleme Tarihi">Kontrol No</th>
                                            <th>Tez Dosyası</th>
                                            <th width="180">Onay Durum</th>
                                            <th width="40"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemTd in Model.MezuniyetBasvurulariTezDosyalariDtos)
                                        {
                                            inx++;
                                            var showRow = inx == 1;
                                            var rwColor = (itemTd.IsOnaylandiOrDuzeltme.HasValue ? (itemTd.IsOnaylandiOrDuzeltme.Value ? "green" : "maroon") : "black");
                                            var icon = (itemTd.IsOnaylandiOrDuzeltme.HasValue ? (itemTd.IsOnaylandiOrDuzeltme.Value ? "fa fa-thumbs-o-up" : "fa fa-edit fa-lg") : "fa fa-clock-o");
                                            var durumAdi = (itemTd.IsOnaylandiOrDuzeltme.HasValue ? (itemTd.IsOnaylandiOrDuzeltme.Value ? "Onaylandı" : "Düzeltme Talep Edildi") : "İşlem Bekliyor");
                                            var yetki = tdKayitYetki && Model.IsDelete == false && Model.MezuniyetBasvurulariTezTeslimFormlaris.Count == 0;
                                            <tr>
                                                <td>

                                                    <ul class="panel-controls">
                                                        <li id="iShow_Td_@itemTd.MezuniyetBasvurulariTezDosyaID" onclick="ShowDetailY('Td_@itemTd.MezuniyetBasvurulariTezDosyaID')">
                                                            <a href="javascript:void(0)"><span class="fa fa-angle-@(showRow?"up":"down")"></span> </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    @(itemTd.SiraNo + ". Kontrol") <br /> @itemTd.YuklemeTarihi.ToFormatDateAndTime()
                                                </td>
                                                <td>
                                                    <span class="openFl" style="cursor:pointer;" FPath="@Url.CustomUrlContent(itemTd.TezDosyaYolu)" FName="@itemTd.TezDosyaAdi"><i class="fa fa-file-pdf-o fa-lg"></i> @itemTd.TezDosyaAdi</span>
                                                    <br />@(itemTd.IsLatexOrWordSablonu.HasValue?itemTd.IsLatexOrWordSablonu.Value?"Latex Şablonu":"Word Şablonu":"")
                                                </td>
                                                <td style="color:@rwColor">
                                                    <i class="@icon"></i> @durumAdi
                                                    @if (itemTd.IsOnaylandiOrDuzeltme == true)
                                                    {
                                                        <br />
                                                        <a href="javascript:void(0);" onclick="YeniDialogBB('Mezuniyet Tez Kontrol Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipiEnum.MezuniyetTezKontrolFormu&ID=@itemTd.RowID' , 'auto', 'modal-dialog modal-lg' )">
                                                            <i class="fa fa-file-pdf-o"></i> Tez Kontrol Formunu İndir
                                                        </a>
                                                    }
                                                </td>
                                                <td>
                                                    @if (!isTdYuklemeKapali && !itemTd.IsOnaylandiOrDuzeltme.HasValue)
                                                    {
                                                        <a href="javascript:void(0)" onclick="TezDosyasiSil(this,@Model.MezuniyetBasvurulariID,'@itemTd.RowID','@itemTd.YuklemeTarihi.ToFormatDateAndTime()')"><i style="font-size:11pt;" class="glyphicon glyphicon-trash"></i> Sil</a>
                                                    }
                                                </td>
                                            </tr>
                                            <tr class="MainRow2 cls-Td_@itemTd.MezuniyetBasvurulariTezDosyaID" style="@(showRow?"":"display:none;")">
                                                <td id="cls-Td_@itemTd.MezuniyetBasvurulariTezDosyaID" colspan="5" style="padding: 1px 1px 0px 50px;">
                                                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:0px;padding:6px 10px;min-height:20px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="glyphicon glyphicon-info-sign"></i> Onay İşlemi</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-left:10px;text-align:left;">
                                                                        @using (Ajax.BeginForm("TdDurumKaydet", "MezuniyetGelenBasvurular", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "TdDurumKaydet_" + itemTd.MezuniyetBasvurulariTezDosyaID }))
                                                                        {
                                                                            @Html.Hidden("MezuniyetBasvurulariTezDosyaID", itemTd.MezuniyetBasvurulariTezDosyaID)
                                                                            var aciklamaVar = !itemTd.Aciklama.IsNullOrWhiteSpace();
                                                                            <table style="width:100%;table-layout:fixed;margin:0px;">
                                                                                <tbody>

                                                                                    <tr>
                                                                                        <td class="CaptionTd" width="130" style="color:@rwColor">Durum</td>
                                                                                        <td class="CaptionTd" width="10" style="color:@rwColor">:</td>
                                                                                        <td class="ValueTd">
                                                                                            @if (yetki && showRow)
                                                                                            {
                                                                                                <select name="IsOnaylandiOrDuzeltme" id="TdOnay_@itemTd.MezuniyetBasvurulariTezDosyaID" onchange="TKayitDurumChange(this,@itemTd.MezuniyetBasvurulariTezDosyaID);">
                                                                                                    <option @(itemTd.IsOnaylandiOrDuzeltme.HasValue ? "" : "selected")></option>
                                                                                                    <option value="true" @(itemTd.IsOnaylandiOrDuzeltme == true ? "selected" : "")>Onayla</option>
                                                                                                    <option value="false" @(itemTd.IsOnaylandiOrDuzeltme == false ? "selected" : "")>Düzeltme Talep Et</option>
                                                                                                </select>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <span style="color:@rwColor"><i class="@icon"></i> @durumAdi</span>
                                                                                            }
                                                                                        </td>
                                                                                    </tr>
                                                                                    @if (Model.IsToplamKaynakOraniGirisiYapilacak && yetki && showRow && Model.IsDelete == false)
                                                                                    {
                                                                                        <tr class="intihalRwBasvuruTk_@itemTd.MezuniyetBasvurulariTezDosyaID @(itemTd.IsOnaylandiOrDuzeltme == true ? "" : "hide")">
                                                                                            <td class="CaptionTd">Tek Kaynak Benzerlik Oranı %</td>
                                                                                            <td class="CaptionTd">:</td>
                                                                                            <td class="ValueTd">
                                                                                                <input type="text" name="SonTekKaynakOrani" maxlength="3" value="@Model.SonTekKaynakOrani" class="form-control" style="color:black;" />
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    @if (Model.IsToplamKaynakOraniGirisiYapilacak && yetki && showRow && Model.IsDelete == false)
                                                                                    {
                                                                                        <tr class="intihalRwBasvuruTk_@itemTd.MezuniyetBasvurulariTezDosyaID @(itemTd.IsOnaylandiOrDuzeltme == true ? "" : "hide")">
                                                                                            <td class="CaptionTd">Toplam Benzerlik Oranı %</td>
                                                                                            <td class="CaptionTd">:</td>
                                                                                            <td class="ValueTd">
                                                                                                <input type="text" name="SonToplamKaynakOrani" maxlength="3" value="@Model.SonToplamKaynakOrani" class="form-control" style="color:black;" />
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    @if (itemTd.IsOnaylandiOrDuzeltme.HasValue)
                                                                                    {
                                                                                        <tr>
                                                                                            <td class="CaptionTd" style="color:@rwColor">Kontrol Yapan Yetkili</td>
                                                                                            <td class="CaptionTd" style="color:@rwColor">:</td>
                                                                                            <td class="ValueTd" style="color:@rwColor">
                                                                                                @if (kayitYetki)
                                                                                                {
                                                                                                    <a href="javascript:void(0)" onclick="DetayGor('@itemTd.UserKey','#kulPnl')"><i class="fa fa-user"></i> @itemTd.OnayYapanTezKontrolYetkiliAdSoyad - @itemTd.OnayTarihi.ToFormatDateAndTime()</a>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    @(itemTd.OnayYapanTezKontrolYetkiliAdSoyad +" "+itemTd.OnayTarihi.ToFormatDateAndTime())
                                                                                                }
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    <tr id="TdAciklama_@itemTd.MezuniyetBasvurulariTezDosyaID" class="@(itemTd.IsOnaylandiOrDuzeltme.HasValue ? "" : "hide")" style="@(aciklamaVar ? "border-top:1px solid; border-bottom:1px solid;" : "")">

                                                                                        <td class="ValueTd" colspan="3" style="@(aciklamaVar ? "padding-bottom:10px;padding-top:10px;" : "")">
                                                                                            @if (yetki && showRow)
                                                                                            {
                                                                                                <textarea style="min-height:100px;height:100px;resize:vertical;" maxlength="2048" type="text" class="summernotex" name="Aciklama" id="TdDurumAciklamasi_@itemTd.MezuniyetBasvurulariTezDosyaID" autocomplete="off">@Html.Raw(itemTd.Aciklama ?? "")</textarea>
                                                                                                <script>
                                                                                                    $(function () {
                                                                                                        $('.summernotex').summernote({
                                                                                                            height: 120,
                                                                                                            lang: 'tr',
                                                                                                            toolbar:
                                                                                                                [
                                                                                                                    ['style', ['bold', 'italic', 'underline', 'clear']],
                                                                                                                    ['fontsize', ['fontsize']],
                                                                                                                    ['color', ['color']],
                                                                                                                    ['Insert', ['link', 'table', 'hr']],
                                                                                                                    ['para', ['ul', 'ol', 'paragraph']],
                                                                                                                    ['font', ['strikethrough', 'superscript', 'subscript']],
                                                                                                                    ['height', ['height']]
                                                                                                                ],
                                                                                                            codemirror: {
                                                                                                                mode: 'text/html',
                                                                                                                htmlMode: true,
                                                                                                                lineNumbers: true,
                                                                                                                theme: 'monokai'
                                                                                                            }

                                                                                                        });
                                                                                                    });
                                                                                                </script>
                                                                                            }
                                                                                            else if (aciklamaVar)
                                                                                            {

                                                                                                @Html.Raw(itemTd.Aciklama.Replace("<img src=", "<img style='max-width:700px;'src="))

                                                                                            }
                                                                                        </td>
                                                                                    </tr>

                                                                                    @if (yetki && showRow)
                                                                                    {

                                                                                        <tr>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td class="ValueTd" style="padding-top:5px;font-size:11pt;">
                                                                                                <span class="label label-primary" style="cursor:pointer;" onclick="TdDurumKayit(@Model.MezuniyetBasvurulariID, @itemTd.MezuniyetBasvurulariTezDosyaID,true);"><i class="fa fa-save" aria-hidden="true"></i> Kaydet</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }

                                                                                </tbody>
                                                                            </table>

                                                                        }
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @if (showUzatmaTalepMezunDurum && ((Model.DefaultMaxTezTeslimSonTarih.HasValue && Model.DefaultMaxTezTeslimSonTarih > Model.TezTeslimSonTarih && Model.DefaultMaxTezTeslimSonTarih > DateTime.Now.Date) || Model.CiltliTezTeslimUzatmaTalebi.HasValue))
        {
            <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8pt;padding:6px 10px;min-height:30px;">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-clock-o fa-lg"></i> Öğrenci Ciltli Tez Teslimi için Ek Süre Talebi</td>
                        </tr>
                        <tr>
                            <td style="padding-left:10px;text-align:left;">
                                <table style="width:100%;">
                                    <tr>
                                        <td class="CaptionTd" width="220">Not</td>
                                        <td class="CaptionTd" width="10">:</td>
                                        <td class="ValueTd">
                                            <span class="Explanation">
                                                Ciltli tez teslimi için son teslim tarihi <b>@Model.SelectedTezTeslimSonTarih.ToFormatDate()</b> olarak belirlenmiştir. Ek süre talebinde bulunulması ve bu talebin onaylanması halinde, teslim tarihi <b>@Model.DefaultMaxTezTeslimSonTarih.ToFormatDate()</b> tarihine kadar uzatılabilecektir.
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="CaptionTd">Öğrenci Ek Süre Talebi</td>
                                        <td class="CaptionTd">:</td>
                                        <td class="ValueTd">
                                            @if (!Model.CiltliTezTeslimUzatmaTalebiDanismanOnay.HasValue && !Model.IsMezunOldu.HasValue && (kayitYetki || Model.KullaniciID == UserIdentity.Current.Id) && Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi)
                                            {
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <select id="EkSureTalepDurum_@Model.MezuniyetBasvurulariID" class="form-control">
                                                                <option></option>
                                                                <option value="true" @(Model.CiltliTezTeslimUzatmaTalebi == true ? "selected" : "")> Ciltli tez teslimi için bir aylık ek süre talep ediyorum</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <a href="javascript:void(0);" class="btn btn-xs btn-primary" onclick="EkSureTalep(@Model.MezuniyetBasvurulariID)"><i class="fa fa-save"></i> Kaydet</a>
                                                        </td>
                                                    </tr>
                                                </table>

                                            }
                                            else
                                            {

                                                if (Model.CiltliTezTeslimUzatmaTalebi != true)
                                                {

                                                    <span aria-hidden="true" style="font-size:9pt;"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> Herhangi bir talep işlemi yapılmadı.</span>
                                                }
                                                else
                                                {

                                                    <span style="color:green;font-size:10pt;" aria-hidden="true"><i class="fa fa-check" style="font-size:12pt;" aria-hidden="true"></i> Ciltli tez teslimi için bir aylık ek süre talep edildi. (@Model.CiltliTezTeslimUzatmaTalebiTarih.ToFormatDate())</span>

                                                }
                                            }
                                        </td>
                                    </tr>
                                    @if (Model.CiltliTezTeslimUzatmaTalebi == true)
                                    {
                                        <tr>
                                            <td class="CaptionTd">Danışman Talep Onay Durumu</td>
                                            <td class="CaptionTd">:</td>
                                            <td class="ValueTd">
                                                @if (!Model.CiltliTezTeslimUzatmaTalebiEykDaOnay.HasValue && (kayitYetki || Model.TezDanismanID == UserIdentity.Current.Id) && Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi && !Model.IsMezunOldu.HasValue)
                                                {
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <select id="CiltliTezTeslimUzatmaDanismanOnayDurum_@Model.MezuniyetBasvurulariID" class="form-control" onchange="document.getElementById('CiltliTezTeslimUzatmaTalebiDanismanOnayAciklamaRow_@Model.MezuniyetBasvurulariID').classList.toggle('hide', this.value !== 'false')">
                                                                    <option value=""></option>
                                                                    <option value="true" @(Model.CiltliTezTeslimUzatmaTalebiDanismanOnay == true ? "selected" : "")> Talep Onaylandı</option>
                                                                    <option value="false" @(Model.CiltliTezTeslimUzatmaTalebiDanismanOnay == false ? "selected" : "")> Talep Reddedildi</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <a href="javascript:void(0);" class="btn btn-xs btn-primary" onclick="EkSureTalepDanismanOnay(@Model.MezuniyetBasvurulariID)"><i class="fa fa-save"></i> Kaydet</a>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                }
                                                else
                                                {
                                                    if (!Model.CiltliTezTeslimUzatmaTalebiDanismanOnay.HasValue)
                                                    {

                                                        <span aria-hidden="true" style="font-size:9pt;"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> Danışman Onayı Bekleniyor.</span>
                                                    }
                                                    else if (Model.CiltliTezTeslimUzatmaTalebiDanismanOnay == true)
                                                    {

                                                        <span style="color:green;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> Danışman Tarafından Onaylandı. (@Model.CiltliTezTeslimUzatmaTalebiDanismanOnayTarih.ToFormatDate())</span>

                                                    }
                                                    else
                                                    {
                                                        <span style="color:maroon;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i>  Danışman Tarafından Reddedildi. (@Model.CiltliTezTeslimUzatmaTalebiDanismanOnayTarih.ToFormatDate())</span>

                                                    }
                                                }
                                            </td>
                                        </tr>
                                        <tr id="CiltliTezTeslimUzatmaTalebiDanismanOnayAciklamaRow_@Model.MezuniyetBasvurulariID" class="@(Model.CiltliTezTeslimUzatmaTalebiDanismanOnay == false ? "" : "hide")">
                                            <td class="CaptionTd">Danışman Ret Açıklaması</td>
                                            <td class="CaptionTd">:</td>
                                            <td class="ValueTd">
                                                @if (!Model.CiltliTezTeslimUzatmaTalebiEykDaOnay.HasValue && !Model.IsMezunOldu.HasValue && (kayitYetki || Model.TezDanismanID == UserIdentity.Current.Id) && Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi)
                                                {
                                                    <textarea placeholder="Onaylanmama Sebebi" id="CiltliTezTeslimUzatmaTalebiDanismanOnayAciklama_@Model.MezuniyetBasvurulariID" maxlength="512" style="min-height:40px;resize:vertical;border:1px solid;" class="form-control">@Model.CiltliTezTeslimUzatmaTalebiDanismanOnayAciklama</textarea>
                                                }
                                                else
                                                {
                                                    @Model.CiltliTezTeslimUzatmaTalebiEykDaOnayAciklama
                                                }
                                            </td>
                                        </tr>
                                        if (Model.CiltliTezTeslimUzatmaTalebiDanismanOnay == true)
                                        {
                                            <tr>
                                                <td class="CaptionTd">EYK'da Onay Durumu</td>
                                                <td class="CaptionTd">:</td>
                                                <td class="ValueTd">

                                                    @if (kayitYetki && !Model.IsMezunOldu.HasValue)
                                                    {
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <select id="CiltliTezTeslimUzatmaEykDaOnayDurum_@Model.MezuniyetBasvurulariID" class="form-control" onchange="EykSureTalepOnayChange(@Model.MezuniyetBasvurulariID)">
                                                                        <option value=""></option>
                                                                        <option value="true" @(Model.CiltliTezTeslimUzatmaTalebiEykDaOnay == true ? "selected" : "")> Eyk'da onaylandı</option>
                                                                        <option value="false" @(Model.CiltliTezTeslimUzatmaTalebiEykDaOnay == false ? "selected" : "")> Eyk'da Reddedildi</option>
                                                                    </select>
                                                                </td>
                                                                <td class="form-group @(Model.CiltliTezTeslimUzatmaTalebiEykDaOnay==true?"":"hide")" id="CiltliTezTeslimUzatmaEykDaOnayEykTarihTd_@Model.MezuniyetBasvurulariID">
                                                                    <input type="text" class="form-control tarihB date-pickerx" style="width:100px;" placeholder="EYK Tarihi" id="CiltliTezTeslimUzatmaEykDaOnayEykTarihi_@Model.MezuniyetBasvurulariID" value="@Model.CiltliTezTeslimUzatmaTalebiEykDaOnayEYKTarihi.ToFormatDateInput()" />

                                                                </td>
                                                                <td class="form-group @(Model.CiltliTezTeslimUzatmaTalebiEykDaOnay.HasValue ? "" : "hide") CiltliTezTeslimUzatmaEykDaOnayTd_@Model.MezuniyetBasvurulariID">
                                                                    <input type="text" class="form-control" style="width: 60px;" maxlength="10" title="EYK Sayısı" placeholder="EYK Sayısı" id="CiltliTezTeslimUzatmaEykDaOnayEykSayisi_@Model.MezuniyetBasvurulariID" value="@Model.CiltliTezTeslimUzatmaTalebiEykDaOnayEYKSayisi" />
                                                                </td>
                                                                <td>
                                                                    <a href="javascript:void(0);" class="btn btn-xs btn-primary" onclick="EkSureTalepEykOnay(@Model.MezuniyetBasvurulariID)"><i class="fa fa-save"></i> Kaydet</a>
                                                                </td>
                                                            </tr>
                                                        </table>


                                                    }
                                                    else
                                                    {
                                                        if (!Model.CiltliTezTeslimUzatmaTalebiEykDaOnay.HasValue)
                                                        {

                                                            <span aria-hidden="true" style="font-size:9pt;"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> Eyk'da Onay Bekleniyor.</span>
                                                        }
                                                        else if (Model.CiltliTezTeslimUzatmaTalebiEykDaOnay == true)
                                                        {

                                                            <span style="color:green;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> Eyk'da Onaylandı. (EykTarihi: @Model.CiltliTezTeslimUzatmaTalebiEykDaOnayEYKTarihi.ToFormatDate(), EykSayısı: @Model.CiltliTezTeslimUzatmaTalebiEykDaOnayEYKSayisi)</span>

                                                        }
                                                        else
                                                        {
                                                            <span style="color:maroon;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> Eyk'dan Reddedildi. (@Model.CiltliTezTeslimUzatmaTalebiEykDaOnayTarih.ToFormatDate())</span>

                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr id="CiltliTezTeslimUzatmaEYKOnayAciklamaRow_@Model.MezuniyetBasvurulariID" class="@(Model.CiltliTezTeslimUzatmaTalebiEykDaOnay == false ? "" : "hide")">
                                                <td class="CaptionTd">Eyk'da Ret Açıklaması</td>
                                                <td class="CaptionTd">:</td>
                                                <td class="ValueTd">
                                                    @if (kayitYetki && !Model.IsMezunOldu.HasValue)
                                                    {
                                                        <textarea class="form-control" style="min-height:100px;" id="CiltliTezTeslimUzatmaEYKDaOnaylanmadiDurumAciklamasi_@Model.MezuniyetBasvurulariID" maxlength="512">@Model.CiltliTezTeslimUzatmaTalebiEykDaOnayAciklama</textarea>
                                                    }
                                                    else
                                                    {
                                                        @Model.CiltliTezTeslimUzatmaTalebiEykDaOnayAciklama
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                    @if (Model.CiltliTezTeslimUzatmaTalebiEykDaOnay == true)
                                    {
                                        <tr>
                                            <td class="CaptionTd">Onaylanan Cilti Tez Teslim Son Tarih</td>
                                            <td class="CaptionTd">:</td>
                                            <td class="ValueTd">
                                                <span class="Explanation">
                                                    @Model.AktifTezTeslimSonTarih.ToFormatDate()
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>


</div>

<script>
    function TezDosyasiKaydet(frmID, bID) {
        var pnlx = $('#bsvrDet_' + bID);
        PanelRefresh(pnlx, false);

        $('#' + frmID).ajaxForm({
            success: function (result) {
                PanelRefresh(pnlx, true); 
                if (result.IsSuccess)
                    GetDetailx(bID);
                ShowMmMessage(result.Messages, 'Tamam');
            },
            complete: function (cmp) {
                PanelRefresh(pnlx, true);
            },
            error: function (err) {
                PanelRefresh(pnlx, true);
            }

        }).submit();
    }
    function TezDosyasiSil(sndr, bID, rowId, tarih) {
        Swal.fire({
            text: tarih + " tarihli tez kontrolü için yüklenilen dosyayı silmek istiyor musunuz?",
            type: 'warning',
            icon: "question",
            showCancelButton: true,
            confirmButtonText: 'Tez Dosyasını Sil',
            confirmButtonColor: "maroon",
            cancelButtonText: 'Vazgeç',
            showLoaderOnConfirm: true,
            backdrop: true,
            padding: '2em',
            backdrop: true,
            allowOutsideClick: false,
            preConfirm: function () {
                $('.swal2-cancel').first().text("Siliniyor...");
                return new Promise(function (resolve) {
                    $.ajax({
                        url: '@Url.Action("TezDosyasiSil", "Mezuniyet")',
                        data: { rowId },
                        success: function (result) {
                            GetDetailx(bID);
                            swal.fire({
                                html: result.messageView,
                                icon: (result.IsSuccess ? "success" : "error"),
                                type: (result.IsSuccess ? "success" : "error"),
                                confirmButtonText: 'tamam',
                                padding: '2em'
                            });
                        }
                    });

                });
            }
        });
    }
    function ChangeFile(sndr, mBasvuruID) {
        var _BelgeIconID = '#BelgeIcon_' + mBasvuruID;
        var _BelgeAdiID = '#BelgeAdi_' + mBasvuruID;
        var _IsLatexOrWordSablonu = '#IsLatexOrWordSablonu_' + mBasvuruID;
        var _BelgeyiKaydetID = '#BelgeyiKaydet_' + mBasvuruID;

        var _ChkInptTbl = '#yOnayChk_' + mBasvuruID;
        $(_BelgeAdiID).removeAttr("onclick");
        $(_BelgeIconID).removeAttr("onclick");
        var isSuccessFSize = true;
        if (sndr.files[0].size > (1024 * 1024 * 20)) {
            isSuccessFSize = false;
            var btbx = bootbox.dialog({
                message: "<table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;text-align:center;color:maroon;'>Ekleyeceğiniz Belge boyutu en fazla 20 MB olabilir.</td></tr></table>",
                title: "Belge Kayıt İşlemi",
                buttons: {
                    success: {
                        label: 'Tamam',
                        className: "btn-info",
                        callback: function () {
                        }
                    }

                }
            });
        }
        if (sndr.files.length > 0 && isSuccessFSize) {

            $(_BelgeAdiID).val(sndr.files[0].name);
            $(_BelgeyiKaydetID).removeClass('hide');
            $(_IsLatexOrWordSablonu).removeClass('hide');
            $(_ChkInptTbl).addClass('hide');

        }
        else {
            $(sndr).val("");
            $(_BelgeAdiID).val('Belge Seçilmedi, Lütfen belge seçiniz.');
            $(_BelgeyiKaydetID).addClass('hide');
            $(_IsLatexOrWordSablonu).addClass('hide');

        }
    }
    function TKayitDurumChange(sndr, mezuniyetBasvurulariTezDosyaID) {
        if ($(sndr).val() != '') { $('#TdAciklama_' + mezuniyetBasvurulariTezDosyaID).removeClass('hide'); }
        else { $('#TdAciklama_' + mezuniyetBasvurulariTezDosyaID).addClass('hide'); }
        if ($(sndr).val() == 'true') { $('.intihalRwBasvuruTk_' + mezuniyetBasvurulariTezDosyaID).removeClass('hide'); }
        else { $('.intihalRwBasvuruTk_' + mezuniyetBasvurulariTezDosyaID).addClass('hide'); }
    }
    function TdDurumKayit(MezuniyetBasvurulariID, MezuniyetBasvurulariTezDosyaID) {
        var _panel = $('#bsvrDet_' + MezuniyetBasvurulariID);
        PanelRefresh(_panel, false);
        $('#TdDurumKaydet_' + MezuniyetBasvurulariTezDosyaID).ajaxForm({
            success: function (result) {

                ShowMmMessage(result.Messages, 'Tamam');
                if (result.IsSuccess) {
                    GetDetailx(MezuniyetBasvurulariID);
                }
                PanelRefresh(_panel, true);

            },
            complete: function (cmp) {
                PanelRefresh(_panel, true);
            },
            error: function (err) {
                PanelRefresh(_panel, true);
            }

        }).submit();

    }
    function EkSureTalep(mezuniyetBasvurulariId) {
        var _panel = $('#bsvrDet_' + mezuniyetBasvurulariId);
        PanelRefresh(_panel, false);
        var ciltliTezTeslimUzatmaTalebi = $('#EkSureTalepDurum_' + mezuniyetBasvurulariId).val();

        var model = {
            mezuniyetBasvurulariId,
            ciltliTezTeslimUzatmaTalebi
        }
        $.ajax({
            url: '@Url.Action("CiltliTezTeslimEkSureTalepPost", "MezuniyetGelenBasvurular")',
            type: 'POST',
            cache: false,
            dataType: "json",
            data: model,
            success: function (result) {
                PanelRefresh(_panel, true);
                if (result.Messages.length > 0) GetMsg(result);
               GetDetailx(mezuniyetBasvurulariId);

            },
            error: function (err) {

                PanelRefresh(_panel, true);
                alert(err.responseText);
            }
        });
    }

    function EkSureTalepDanismanOnay(mezuniyetBasvurulariId) {
        var _panel = $('#bsvrDet_' + mezuniyetBasvurulariId);
        PanelRefresh(_panel, false);
        var isOnaylandi = $('#CiltliTezTeslimUzatmaDanismanOnayDurum_' + mezuniyetBasvurulariId).val();
        var aciklanma = $('#CiltliTezTeslimUzatmaTalebiDanismanOnayAciklama_' + mezuniyetBasvurulariId).val();


        var model = {
            mezuniyetBasvurulariId,
            isOnaylandi,
            aciklanma
        }
        $.ajax({
            url: '@Url.Action("CiltliTezTeslimEkSureDanismanOnayPost", "MezuniyetGelenBasvurular")',
            type: 'POST',
            enctype: "multipart/form-data",
            cache: false,
            dataType: "json",
            data: model,
            success: function (result) {
                PanelRefresh(_panel, true);
                if (result.Messages.length > 0) GetMsg(result);
                GetDetailx(mezuniyetBasvurulariId);

            },
            error: function (err) {

                PanelRefresh(_panel, true);
                alert(err.responseText);
            }
        });
    }
    function EykSureTalepOnayChange(id) {
        var val = $('#CiltliTezTeslimUzatmaEykDaOnayDurum_' + id).val();
        if (val == 'false') {
            $('#CiltliTezTeslimUzatmaEYKOnayAciklamaRow_' + id).removeClass('hide');
            $('#CiltliTezTeslimUzatmaEykDaOnayEykTarihTd_' + id).addClass('hide');
            $('.CiltliTezTeslimUzatmaEykDaOnayTd_' + id).removeClass('hide');
        }
        else if (val == 'true') {
            $('#CiltliTezTeslimUzatmaEYKOnayAciklamaRow_' + id).addClass('hide');
            var eykTarih = $('#EYKDaOnaylandiOnayTarihi_' + id).val();
            if (eykTarih == "") {
                var today = new Date(), year = today.getFullYear(), month = today.getMonth() + 1, day = today.getDate();
                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;
                var formattedDate = year + "-" + month + "-" + day;
                $('#CiltliTezTeslimUzatmaEykDaOnayEykTarihi_' + id).val(formattedDate);
            }
            $('#CiltliTezTeslimUzatmaEykDaOnayEykTarihTd_' + id).removeClass('hide');
            $('.CiltliTezTeslimUzatmaEykDaOnayTd_' + id).removeClass('hide');
        }
        else if (val == '') {
            $('#CiltliTezTeslimUzatmaEYKOnayAciklamaRow_' + id).addClass('hide');
            $('#CiltliTezTeslimUzatmaEykDaOnayEykTarihTd_' + id).addClass('hide');
            $('.CiltliTezTeslimUzatmaEykDaOnayTd_' + id).addClass('hide');
        }



    }
    function EkSureTalepEykOnay(mezuniyetBasvurulariId) {
        var _panel = $('#bsvrDet_' + mezuniyetBasvurulariId);
        PanelRefresh(_panel, false);
        var isOnaylandi = $('#CiltliTezTeslimUzatmaEykDaOnayDurum_' + mezuniyetBasvurulariId).val();
        var aciklama = $('#CiltliTezTeslimUzatmaEYKDaOnaylanmadiDurumAciklamasi_' + mezuniyetBasvurulariId).val();
        var eykTarihi = $('#CiltliTezTeslimUzatmaEykDaOnayEykTarihi_' + mezuniyetBasvurulariId).val();
        var eykSayisi = $('#CiltliTezTeslimUzatmaEykDaOnayEykSayisi_' + mezuniyetBasvurulariId).val();

        var model = {
            mezuniyetBasvurulariId,
            isOnaylandi,
            eykTarihi,
            eykSayisi,
            aciklama
        }
        $.ajax({
            url: '@Url.Action("CiltliTezTeslimEkSureEykOnayPost", "MezuniyetGelenBasvurular")',
            type: 'POST',
            enctype: "multipart/form-data",
            cache: false,
            dataType: "json",
            data: model,
            success: function (result) {
                PanelRefresh(_panel, true);
                if (result.Messages.length > 0) GetMsg(result);
                GetDetailx(mezuniyetBasvurulariId);

            },
            error: function (err) {

                PanelRefresh(_panel, true);
                alert(err.responseText);
            }
        });
    }

</script>
