@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil;
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.Helpers
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model MezuniyetBasvuruDetayDto
@{ 
    Layout = null;
    var kayitYetki = RoleNames.MezuniyetGelenBasvurularKayit.InRoleCurrent();
    var tdKayitYetki = kayitYetki || RoleNames.MezuniyetGelenBasvurularTezKontrol.InRoleCurrent();
    var isKendiBasvuruSu = Model.KullaniciID == UserIdentity.Current.Id;

    var tbName = TabAdiEnum.MezuniyetBasvurulariTn + "-" + (Model.IsDelete ? Model.MezuniyetBasvurulariID.ToString() + "_cp" : Model.MezuniyetBasvurulariID.ToString());

    var isTezDanisman = Model.TezDanismanID == UserIdentity.Current.Id;
    var sonucGirisSureciAktif = (Model.sonucGirisSureciAktif || kayitYetki) && Model.MezuniyetJuriOneriFormlaris.All(a => a.EYKYaGonderildi != true);

}
<div class="tab-pane @(Model.SelectedTabIndex==1?"active":"") " id="@tbName-1">
    <div class="col-md-12">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-book fa-lg"></i> Tez Bilgisi</td>
                    </tr>
                    <tr>
                        <td style="padding-left:10px;text-align:left;">
                            <table style="width:100%;">
                                <tr>
                                    <td class="CaptionTd" width="220">Tez Dili</td>
                                    <td class="CaptionTd" width="10">:</td>
                                    <td class="ValueTd">@(Model.IsTezDiliTr.HasValue ? (Model.IsTezDiliTr == true ? "Türkçe" : "İngilizce") : "")</td>
                                </tr>
                                <tr>
                                    <td class="CaptionTd">Tez Başlığı (Türkçe)</td>
                                    <td class="CaptionTd">:</td>
                                    <td class="ValueTd">@Model.TezBaslikTr</td>
                                </tr>
                                <tr>
                                    <td class="CaptionTd">Tez Başlığı (İngilizce)</td>
                                    <td class="CaptionTd">:</td>
                                    <td class="ValueTd">@Model.TezBaslikEn</td>
                                </tr>
                                <tr>
                                    <td class="CaptionTd">Danışman Adı</td>
                                    <td class="CaptionTd">:</td>
                                    <td class="ValueTd">@Model.TezDanismanAdi</td>
                                </tr>
                                @if (!Model.TezEsDanismanAdi.IsNullOrWhiteSpace())
                                {
                                    <tr>
                                        <td class="CaptionTd" style="font-weight:bold;">Tez Eş Danışmanı</td>
                                        <td class="CaptionTd" style="font-weight:bold;">:</td>
                                        <td class="ValueTd">@Model.TezEsDanismanAdi @(Model.TezEsDanismanEMail.IsNullOrWhiteSpace() ? "" : "(" + Model.TezEsDanismanEMail + ")")</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="CaptionTd">Tez Özeti (Türkçe)</td>
                                    <td class="CaptionTd">:</td>
                                    <td class="ValueTd">
                                        <div style="max-height:80px;overflow:auto;">
                                            @Model.TezOzet
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="CaptionTd">Tez Özeti (İngilizce)</td>
                                    <td class="CaptionTd">:</td>
                                    <td class="ValueTd">
                                        <div style="max-height:80px;overflow:auto;">
                                            @Model.TezAbstract
                                        </div>
                                        <br />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="CaptionTd">Tez Özeti Anahtar Kelimeler (Türkçe)</td>
                                    <td class="CaptionTd">:</td>
                                    <td class="ValueTd">
                                        @Model.OzetAnahtarKelimeler
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="glyphicon glyphicon-info-sign" style="font-size:14pt;"></i> Danışman Onayı</td>
                        <td style="font-size:9pt; border-bottom:1px solid;text-align:right;">
                            @if (!Model.DanismanImzaliFormDosyaYolu.IsNullOrWhiteSpace())
                            {
                                <a href="javascript:void(0);" class="openFl" FPath="@Url.Content(Model.DanismanImzaliFormDosyaYolu)" FName=" @(Model.OgrenimTipKod.IsDoktora()? "Danışman İmzalı FR-0338 (DR) Formu" : "Danışman İmzalı FR-0338 (YL) Formu")"><span class="fa fa-download" style="color: green;"></span>&nbsp;@Model.DanismanImzaliFormDosyaAdi</a>
                            }
                            else if (Model.IsDanismanOnay == true && Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi)
                            {
                                <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'FR-0338 Mezuniyet Tez Teslim Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipiEnum.MezuniyetTezTeslimFormu&UniqueID=@Model.RowID&IlkTeslim=true' , 'auto', 'modal-dialog modal-lg' )">
                                    <i class="fa fa-file-pdf-o"></i> FR-0338 Mezuniyet Tez Teslim Formunu İndir
                                </a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-left:10px;text-align:left;">
                            @if (!Model.YayinBilgileri.Any(a => a.Onaylandi.HasValue) && (isTezDanisman || tdKayitYetki) && (Model.MezuniyetYayinKontrolDurumID != MezuniyetYayinKontrolDurumuEnum.Taslak))
                            {
                                <table style="width:100%;">
                                    <tr>
                                        <td class="CaptionTd" width="100">Danışman Adı</td>
                                        <td class="CaptionTd" width="10">:</td>
                                        <td class="ValueTd">@Model.TezDanismanAdi</td>
                                    </tr>
                                    <tr>
                                        <td class="CaptionTd" style="font-weight:bold;">Onay Durumu</td>
                                        <td class="CaptionTd" style="font-weight:bold;">:</td>
                                        <td class="ValueTd">
                                            <select id="DanismanBasvuruOnay_@Model.MezuniyetBasvurulariID" onchange="DanOnayChange(this);">
                                                <option></option>
                                                <option value="true" @(Model.IsDanismanOnay == true ? "selected" : "")>Öğrenci Başvurusunu Onaylıyorum </option>
                                                <option value="false" @(Model.IsDanismanOnay == false ? "selected" : "")>Öğrenci Başvurusunu Reddediyorum</option>
                                            </select> 
                                            <a href="javascript:void(0);" onclick="DanismanBasvuruOnayKayit(@Model.MezuniyetBasvurulariID)" class="btn btn-info btn-xs"><i class="fa fa-save" aria-hidden="true"></i> Kaydet</a>
                                            <script>
                                                function DanOnayChange(sndr) {
                                                    var SndrVal = $(sndr).val();
                                                    if (SndrVal == 'false') {
                                                        $('#BasvuruDanismanOnayAciklamaRw_@Model.MezuniyetBasvurulariID').removeClass('hide');
                                                    }
                                                    else {
                                                        $('#BasvuruDanismanOnayAciklamaRw_@Model.MezuniyetBasvurulariID').addClass('hide');
                                                    }
                                                    if (SndrVal == 'true') {
                                                        $('.BasvuruDanismanOnayTaahhutRw_@Model.MezuniyetBasvurulariID').removeClass('hide');
                                                    }
                                                    else {
                                                        $('.BasvuruDanismanOnayTaahhutRw_@Model.MezuniyetBasvurulariID').addClass('hide');
                                                    }
                                                }
                                            </script>
                                        </td>
                                    </tr>
                                    <tr class="BasvuruDanismanOnayTaahhutRw_@Model.MezuniyetBasvurulariID @(Model.IsDanismanOnay == true ? "" : "hide")">
                                        <td class="CaptionTd">Taahhüt 1</td>
                                        <td class="CaptionTd">:</td>
                                        <td class="ValueTd">
                                            <br />
                                            Aşağıda belirtilen yayınlar tezden üretilmiş olup öğrenci, kaydolduğu tarihte yürürlükte olan YTÜ Lisansüstü Eğitim ve Öğretim Yönetmeliği Senato Esaslarında belirtilen yayın şartlarını sağlamaktadır. Lisansüstü tezin bilimsel, şekilsel ve etik kurallar çerçevesinde incelenmesi sonucunda, tez savunma sınavında savunulabilir olduğu görülmüş olup öğrencinin lisansüstü tezini teslim ederek savunabileceği kanaatine varılmıştır.
                                        </td>
                                    </tr>
                                    <tr class="BasvuruDanismanOnayTaahhutRw_@Model.MezuniyetBasvurulariID @(Model.IsDanismanOnay == true ? "" : "hide")">
                                        <td class="CaptionTd">Taahhüt 2</td>
                                        <td class="CaptionTd">:</td>
                                        <td class="ValueTd">
                                            <br />
                                            Tez Çalışması Orijinallik Raporu Uygulama Esasları uyarınca, belirtilen azami benzerlik oranlarına göre öğrencinin lisansüstü tezi herhangi bir intihal içermemekte olup aksinin tespit edileceği muhtemel durumda tüm hukuki sorumluğu kabul ediyorum.
                                            <br />
                                            <br />
                                        </td>
                                    </tr>
                                    <tr id="BasvuruDanismanOnayAciklamaRw_@Model.MezuniyetBasvurulariID" class="@(Model.IsDanismanOnay == false ? "" : "hide")">
                                        <td class="CaptionTd" style="font-weight:bold;">Açıklama</td>
                                        <td class="CaptionTd" style="font-weight:bold;">:</td>
                                        <td class="ValueTd">
                                            <textarea placeholder="Onaylanmama Sebebi" id="BasvuruDanismanOnayAciklama_@Model.MezuniyetBasvurulariID" maxlength="2048" style="min-height:140px;resize:vertical;border:1px solid;" class="form-control">@Model.DanismanOnayAciklama</textarea>
                                        </td>
                                    </tr>
                                    @if (Model.IsDanismanOnay.HasValue)
                                    {
                                        <tr>
                                            <td class="CaptionTd" style="font-weight:bold;">@(Model.IsDanismanOnay.Value?"Onay":"Ret") Tarihi</td>
                                            <td class="CaptionTd" style="font-weight:bold;">:</td>
                                            <td class="ValueTd">
                                                @Model.DanismanOnayTarihi.ToFormatDateAndTime()
                                            </td>
                                        </tr>

                                    }
                                </table>
                            }
                            else
                            {
                                <table style="width:100%;">
                                    <tr>
                                        <td class="CaptionTd" width="100">Danışman Adı</td>
                                        <td class="CaptionTd" width="10">:</td>
                                        <td class="ValueTd">@Model.TezDanismanAdi</td>
                                    </tr>
                                    @if (Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.Taslak)
                                    {
                                        <tr>
                                            <td class="CaptionTd">Onay Durumu</td>
                                            <td class="CaptionTd">:</td>
                                            <td class="ValueTd">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i> Başvuru Öğrenci Tarafından Henüz Onaylanmadı.
                                            </td>
                                        </tr>
                                    }
                                    else if (Model.IsDanismanOnay == true)
                                    {

                                        <tr>
                                            <td class="CaptionTd">Taahhüt 1</td>
                                            <td class="CaptionTd">:</td>
                                            <td class="ValueTd">
                                                <br />
                                                Aşağıda belirtilen yayınlar tezden üretilmiş olup öğrenci, kaydolduğu tarihte yürürlükte olan YTÜ Lisansüstü Eğitim ve Öğretim Yönetmeliği Senato Esaslarında belirtilen yayın şartlarını sağlamaktadır. Lisansüstü tezin bilimsel, şekilsel ve etik kurallar çerçevesinde incelenmesi sonucunda, tez savunma sınavında savunulabilir olduğu görülmüş olup öğrencinin lisansüstü tezini teslim ederek savunabileceği kanaatine varılmıştır.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="CaptionTd">Taahhüt 2</td>
                                            <td class="CaptionTd">:</td>
                                            <td class="ValueTd">
                                                <br />
                                                Tez Çalışması Orijinallik Raporu Uygulama Esasları uyarınca, belirtilen azami benzerlik oranlarına göre öğrencinin lisansüstü tezi herhangi bir intihal içermemekte olup aksinin tespit edileceği muhtemel durumda tüm hukuki sorumluğu kabul ediyorum.
                                                <br />
                                                <br />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="CaptionTd">Onay Durumu</td>
                                            <td class="CaptionTd">:</td>
                                            <td class="ValueTd">
                                                <span style="color:green;"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Danışman Tarafından Onaylandı (@Model.DanismanOnayTarihi.ToFormatDateAndTime())</span>
                                                <br />
                                            </td>
                                        </tr>
                                    }
                                    else if (Model.IsDanismanOnay == false)
                                    {
                                        <tr>
                                            <td class="CaptionTd">Onay Durumu</td>
                                            <td class="CaptionTd">:</td>
                                            <td class="ValueTd">
                                                <span style="color:maroon;"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Danisman Tarafından Ret Edildi (@Model.DanismanOnayTarihi.ToFormatDateAndTime())</span>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="CaptionTd">Onay Durumu</td>
                                            <td class="CaptionTd">:</td>
                                            <td class="ValueTd">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i> Danışman Tarafından Onay İşlemi Henüz Yapılmadı.
                                            </td>
                                        </tr>



                                    }


                                </table>
                            }

                        </td>
                    </tr>

                </tbody>
            </table>
            <script>
            </script>

        </div>
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="glyphicon glyphicon-info-sign" style="font-size:14pt;"></i> Yayın Bilgisi</td>
                        <td style="font-size:9pt; border-bottom:1px solid;">
                            @if (Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi)
                            {
                                <a style="float:right;" href="javascript:void(0);" onclick="yeniDialogBB(null, 'Mezuniyet Yayın Şartı Onayı Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipiEnum.MezuniyetBasvuruRaporu&MezuniyetBasvurulariID=@Model.MezuniyetBasvurulariID' , 'auto', 'modal-dialog modal-lg' )">
                                    <i class="fa fa-file-pdf-o"></i>  Yayın Onayını İndir
                                </a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:10px;text-align:left;" colspan="2">
                            <table id="yTable" class="table table-hover" style="width:100%;table-layout:fixed;">
                                <thead>
                                    <tr class="info">
                                        <th width="20">#</th>
                                        <th width="35"></th>
                                        <th width="150">Yayın Türü</th>
                                        <th>Yayın Başlığı</th>
                                        @if (Model.MezuniyetYayinKontrolDurumID != MezuniyetYayinKontrolDurumuEnum.Taslak)
                                        {
                                            <th width="120"></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.YayinBilgileri.Count > 0)
                                    {
                                        int inx = 0;
                                        foreach (var item in Model.YayinBilgileri)
                                        {

                                            item.DegerlendirmeKolonu = Model.MezuniyetYayinKontrolDurumID != MezuniyetYayinKontrolDurumuEnum.Taslak && Model.IsDanismanOnay == true;
                                            item.DegerlendirmeAktif = sonucGirisSureciAktif && (!isKendiBasvuruSu || Model.GelenBasvuru) && kayitYetki;
                                            item.sonucGirisSureciAktif = sonucGirisSureciAktif;
                                            inx++;
                                            item.RowNum = inx;
                                            item.IsDataShow = true;
                                            @Html.Raw(ViewRenderHelper.RenderPartialView("Mezuniyet", "AddRow", item));
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="text-align:center;" colspan="@(Model.MezuniyetYayinKontrolDurumID != MezuniyetYayinKontrolDurumuEnum.Taslak?"5":"4")">Yayın bilgisi istenmemektedir.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        @if (Model.IsDanismanOnay == true)
        {
            <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="@Model.DurumClassName fa-lg"></i> Enstitü Onay İşlemi</td>
                        </tr>
                        <tr>
                            <td style="padding-left:10px;text-align:left;">
                                <table style="width:100%;">
                                    <tr>
                                        <td class="CaptionTd" width="140">Başvuru Durumu</td>
                                        <td class="CaptionTd">:</td>
                                        <td class="ValueTd">
                                            @if (sonucGirisSureciAktif && Model.GelenBasvuru && kayitYetki)
                                            {
                                                @Html.DropDownList("MezuniyetYayinKontrolDurumID", Model.SMezuniyetYayinKontrolDurum, new { id = "MezuniyetYayinKontrolDurumID_" + Model.MezuniyetBasvurulariID, @class = "form-control", onchange = "bDurumChange(this,'#bdurumRowID_" + Model.MezuniyetBasvurulariID + "')" })
                                            }
                                            else
                                            {
                                                @Model.MezuniyetYayinKontrolDurumAdi @(" (" + Model.IslemTarihi + ")")
                                            }
                                        </td>
                                    </tr>
                                    <tr id="bdurumRowID_@Model.MezuniyetBasvurulariID" class="@(Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.IptalEdildi ? "" : "hide")">
                                        <td class="CaptionTd">İptal Açıklaması</td>
                                        <td class="CaptionTd">:</td>
                                        <td class="ValueTd">
                                            @if (sonucGirisSureciAktif && Model.GelenBasvuru && kayitYetki)
                                            {
                                                <textarea style="width:100%; resize:vertical;" id="MezuniyetYayinKontrolDurumAciklamasi_@Model.MezuniyetBasvurulariID">@Model.MezuniyetYayinKontrolDurumAciklamasi</textarea>
                                            }
                                            else
                                            {
                                                @Model.MezuniyetYayinKontrolDurumAciklamasi
                                            }
                                        </td>
                                    </tr>
                                    @if (sonucGirisSureciAktif && Model.GelenBasvuru && kayitYetki)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>:</td>
                                            <td class="ValueTd">
                                                <a href="javascript:void(0);" onclick="bDurumKayit(@Model.MezuniyetBasvurulariID)" class="btn btn-info"><i class="fa fa-save" aria-hidden="true"></i> Kaydet</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        }
    </div>
</div>