@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil;
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model MezuniyetBasvuruDetayDto
@{


    Layout = null;
    var kayitYetki = RoleNames.MezuniyetGelenBasvurularKayit.InRoleCurrent();
    var tdKayitYetki = kayitYetki || RoleNames.MezuniyetGelenBasvurularTezKontrol.InRoleCurrent();


    var tbName = TabAdlari.MezuniyetBasvurulariTN + "-" + (Model.IsDelete ? Model.MezuniyetBasvurulariID.ToString() + "_cp" : Model.MezuniyetBasvurulariID.ToString());

    var bezCiltForm = Model.MezuniyetBasvurulariTezTeslimFormlaris.FirstOrDefault();

    var isTdYuklemeKapali = Model.MezuniyetBasvurulariTezDosyalaris.Any(a => a.IsOnaylandiOrDuzeltme == true);
    var onayBekleyen = Model.MezuniyetBasvurulariTezDosyalaris.FirstOrDefault(p => !p.IsOnaylandiOrDuzeltme.HasValue);
    var frmId = "TezDosyaEklePost_" + Model.MezuniyetBasvurulariID;
}


<div class="tab-pane @(Model.SelectedTabIndex == 4 ? "active" : "") " id="@tbName-4">
    <div class="col-md-12">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8pt;padding:6px 10px;min-height:30px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-file-text-o fa-lg"></i> Tez Kontrol Süreci <small style="font-weight:normal;">(Tez kontrolü için tezinizin pdf formatındaki kopyasını buraya yükleyiniz)</small></td>
                    </tr>
                    <tr>
                        <td style="padding-left:10px;text-align:left;">
                            @using (Ajax.BeginForm("TezDosyaEklePost", "Mezuniyet", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = frmId }))
                            {
                                var isBelgeVar = onayBekleyen != null;
                                var isOnaylandi = isBelgeVar && onayBekleyen.IsOnaylandiOrDuzeltme.HasValue;
                                var colorKb = !isBelgeVar ? "#353333" : "#2f8c8d";
                                if (bezCiltForm == null && !isTdYuklemeKapali)
                                {
                                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8pt;padding:6px 10px;min-height:30px;">
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-left:10px;text-align:left;">
                                                        <table style="width:100%;table-layout:fixed;">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="text-align:left;">
                                                                        <div class="input-group">
                                                                            <table style="width:100%;table-layout:fixed;">
                                                                                <tr>
                                                                                    @if (isBelgeVar)
                                                                                    {
                                                                                        <td width="35">
                                                                                            <span class="input-group-addon openFl" id="BelgeIcon_@Model.MezuniyetBasvurulariID" FPath="@onayBekleyen.TezDosyaYolu" FName="@onayBekleyen.TezDosyaAdi" style="cursor:pointer;background-color:@colorKb;"><span class="fa fa-file-pdf-o fa-lg"></span></span>
                                                                                        </td>
                                                                                        <td>
                                                                                            <input type="text" class="form-control openFl" id="BelgeAdi_@Model.MezuniyetBasvurulariID" FPath="@onayBekleyen.TezDosyaYolu" FName="@onayBekleyen.TezDosyaAdi" style="cursor:pointer;color:@colorKb;" readonly="readonly" value="@(isBelgeVar ? onayBekleyen.TezDosyaAdi : "Dosya Yüklenmedi")">
                                                                                        </td>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td width="35">
                                                                                            <span class="input-group-addon" id="BelgeIcon_@Model.MezuniyetBasvurulariID" style="background-color:@colorKb;"><span class="fa fa-file-pdf-o fa-lg"></span></span>
                                                                                        </td>
                                                                                        <td>
                                                                                            <input type="text" class="form-control" id="BelgeAdi_@Model.MezuniyetBasvurulariID" style="cursor:default;color:@colorKb;" readonly="readonly" value="@(isBelgeVar ? "" : "Belge Seçilmedi")">
                                                                                        </td>
                                                                                    }
                                                                                    <td width="104" style="padding:1px;" class="@(isOnaylandi ? "hide" : "")">
                                                                                        <span class="input-group-addon" id="DosyaSec_@Model.MezuniyetBasvurulariID" style="background-color:@colorKb;cursor:pointer;" onclick="$('#Belge_@Model.MezuniyetBasvurulariID').click();"><span class="glyphicon glyphicon-folder-open"></span> Dosya Seç</span>
                                                                                    </td>
                                                                                    <td width="120" style="padding:1px;">
                                                                                        <span class="input-group-addon hide" id="BelgeyiKaydet_@Model.MezuniyetBasvurulariID" onclick="BasvuruBelgeKaydet('@frmId',@Model.MezuniyetBasvurulariID);" style="background-color:@colorKb;cursor:pointer"><span class="fa fa-save fa-lg"></span> @(isBelgeVar ? "Değiştir" : "Kaydet")</span>
                                                                                    </td>

                                                                                </tr>

                                                                            </table>
                                                                            <input type="text" class="hide" name="RowID" value="@Model.RowID" />
                                                                            <input type="text" class="hide" name="MezuniyetBasvurulariTezDosyaID" value="@(onayBekleyen != null ? onayBekleyen.MezuniyetBasvurulariTezDosyaID.ToString() : "")" />
                                                                            <input class="hide" type="file" name="BelgeDosyasi" accept="application/pdf" id="Belge_@Model.MezuniyetBasvurulariID" onchange="ChangeFile(this,'@Model.MezuniyetBasvurulariID');" />

                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            }
                            @if (Model.MezuniyetBasvurulariTezDosyalaris.Count > 0)
                            {
                                int inx = 0;
                                <table id="yTable" class="table table-hover" style="width:100%;table-layout:fixed;">
                                    <thead>
                                        <tr class="info">
                                            <th width="45"></th>
                                            <th width="125" title="Kontrol Sayısı / Dosya Yükleme Tarihi">K. Sayısı / Tarih</th>
                                            <th>Tez Dosyası</th>
                                            <th width="180">Onay Durum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemTD in Model.MezuniyetBasvurulariTezDosyalaris.OrderByDescending(o => o.SiraNo))
                                        {
                                            inx++;
                                            var showRow = inx == 1;
                                            var rwColor = (itemTD.IsOnaylandiOrDuzeltme.HasValue ? (itemTD.IsOnaylandiOrDuzeltme.Value ? "green" : "maroon") : "black");
                                            var icon = (itemTD.IsOnaylandiOrDuzeltme.HasValue ? (itemTD.IsOnaylandiOrDuzeltme.Value ? "fa fa-thumbs-o-up" : "fa fa-edit fa-lg") : "fa fa-clock-o");
                                            var durumAdi = (itemTD.IsOnaylandiOrDuzeltme.HasValue ? (itemTD.IsOnaylandiOrDuzeltme.Value ? "Onaylandı" : "Düzeltme Talep Edildi") : "İşlem Bekliyor");
                                            var yetki = tdKayitYetki && Model.IsDelete == false && Model.MezuniyetBasvurulariTezTeslimFormlaris.Count == 0;
                                            <tr>
                                                <td>

                                                    <ul class="panel-controls">
                                                        <li id="iShow_Td_@itemTD.MezuniyetBasvurulariTezDosyaID" onclick="showDetailY('Td_@itemTD.MezuniyetBasvurulariTezDosyaID')">
                                                            <a href="javascript:void(0)"><span class="fa fa-angle-@(showRow?"down":"up")"></span> </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    @(itemTD.SiraNo + ". Kontrol") <br /> @itemTD.IslemTarihi.ToFormatDateAndTime()
                                                </td>
                                                <td>
                                                    <span class="openFl" style="cursor:pointer;" FPath="@itemTD.TezDosyaYolu" FName="@itemTD.TezDosyaAdi"><i class="fa fa-file-pdf-o fa-lg"></i> @itemTD.TezDosyaAdi</span>

                                                </td>
                                                <td style="color:@rwColor">
                                                    <i class="@icon"></i> @durumAdi
                                                    @if (itemTD.IsOnaylandiOrDuzeltme == true)
                                                    {
                                                        <br />
                                                        <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'Mezuniyet Tez Kontrol Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipleri.MezuniyetTezKontrolFormu&ID=@itemTD.RowID' , 'auto', 'modal-dialog modal-lg' )">
                                                            <i class="fa fa-file-pdf-o"></i> Tez Kontrol Formunu İndir
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                            <tr class="MainRow2 cls-Td_@itemTD.MezuniyetBasvurulariTezDosyaID" style="@(showRow?"":"display:none;")">
                                                <td id="cls-Td_@itemTD.MezuniyetBasvurulariTezDosyaID" colspan="4" style="padding: 1px 1px 0px 50px;">
                                                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:0px;padding:6px 10px;min-height:20px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="glyphicon glyphicon-info-sign"></i> Onay İşlemi</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-left:10px;text-align:left;">
                                                                        @using (Ajax.BeginForm("TdDurumKaydet", "MezuniyetGelenBasvurular", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "TdDurumKaydet_" + itemTD.MezuniyetBasvurulariTezDosyaID }))
                                                                        {
                                                                            @Html.Hidden("MezuniyetBasvurulariTezDosyaID", itemTD.MezuniyetBasvurulariTezDosyaID)
                                                                            var aciklamaVar = !itemTD.Aciklama.IsNullOrWhiteSpace();
                                                                            <table style="width:100%;table-layout:fixed;margin:0px;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td class="CaptionTd" width="120" style="color:@rwColor">Durum</td>
                                                                                        <td class="CaptionTd" width="10" style="color:@rwColor">:</td>
                                                                                        <td class="ValueTd">
                                                                                            @if (yetki && showRow)
                                                                                            {
                                                                                                <select name="IsOnaylandiOrDuzeltme" id="TdOnay_@itemTD.MezuniyetBasvurulariTezDosyaID" onchange="if ($(this).val() != '') { $('#TdAciklama_@itemTD.MezuniyetBasvurulariTezDosyaID').removeClass('hide');} else { $('#TdAciklama_@itemTD.MezuniyetBasvurulariTezDosyaID').addClass('hide'); }">
                                                                                                    <option @(itemTD.IsOnaylandiOrDuzeltme.HasValue ? "" : "selected")></option>
                                                                                                    <option value="true" @(itemTD.IsOnaylandiOrDuzeltme == true ? "selected" : "")>Onayla</option>
                                                                                                    <option value="false" @(itemTD.IsOnaylandiOrDuzeltme == false ? "selected" : "")>Düzeltme Talep Et</option>
                                                                                                </select>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <span style="color:@rwColor"><i class="@icon"></i> @durumAdi</span>
                                                                                            }
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr id="TdAciklama_@itemTD.MezuniyetBasvurulariTezDosyaID" class="@(itemTD.IsOnaylandiOrDuzeltme.HasValue?"":"hide")" style="@(aciklamaVar?"border-top:1px solid; border-bottom:1px solid;":"")">

                                                                                        <td class="ValueTd" colspan="3" style="@(aciklamaVar?"padding-bottom:10px;padding-top:10px;":"")">
                                                                                            @if (yetki && showRow)
                                                                                            {
                                                                                                <textarea style="min-height:100px;height:100px;resize:vertical;" maxlength="2048" type="text" class="summernotex" name="Aciklama" id="TdDurumAciklamasi_@itemTD.MezuniyetBasvurulariTezDosyaID" autocomplete="off">@Html.Raw(itemTD.Aciklama??"")</textarea>
                                                                                                <script>
                                                                                                    $(function () {
                                                                                                        $('.summernotex').summernote({
                                                                                                            height: 120,
                                                                                                            lang: 'tr',
                                                                                                            toolbar:
                                                                                                                [
                                                                                                                    ['style', ['bold', 'italic', 'underline', 'clear']],
                                                                                                                    ['fontsize', ['fontsize']],
                                                                                                                    ['color', ['color']],
                                                                                                                    ['Insert', ['link', 'table', 'hr']],
                                                                                                                    ['para', ['ul', 'ol', 'paragraph']],
                                                                                                                    ['font', ['strikethrough', 'superscript', 'subscript']],
                                                                                                                    ['height', ['height']]
                                                                                                                ],
                                                                                                            codemirror: {
                                                                                                                mode: 'text/html',
                                                                                                                htmlMode: true,
                                                                                                                lineNumbers: true,
                                                                                                                theme: 'monokai'
                                                                                                            }

                                                                                                        });
                                                                                                    });
                                                                                                </script>
                                                                                            }
                                                                                            else if (aciklamaVar)
                                                                                            {

                                                                                                @Html.Raw(itemTD.Aciklama.Replace("<img src=", "<img style='max-width:700px;'src="))

                                                                                            }
                                                                                        </td>
                                                                                    </tr>
                                                                                    @if (itemTD.IsOnaylandiOrDuzeltme.HasValue)
                                                                                    {
                                                                                        <tr>
                                                                                            <td class="CaptionTd" style="color:@rwColor">İşlem Yapan Yetkili</td>
                                                                                            <td class="CaptionTd" style="color:@rwColor">:</td>
                                                                                            <td class="ValueTd" style="color:@rwColor">
                                                                                                @itemTD.IslemYapanIP - @itemTD.OnayTarihi.ToDatetTimeString()
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    @if (yetki && showRow)
                                                                                    {

                                                                                        <tr>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td class="ValueTd" style="padding-top:5px;font-size:11pt;">
                                                                                                <span class="label label-primary" style="cursor:pointer;" onclick="TdDurumKayit(@Model.MezuniyetBasvurulariID, @itemTD.MezuniyetBasvurulariTezDosyaID,true);"><i class="fa fa-save" aria-hidden="true"></i> Kaydet</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }

                                                                                </tbody>
                                                                            </table>

                                                                        }
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

<script>
    function BasvuruBelgeKaydet(frmID, bID) {
        var pnlx = $('#bsvrDet_' + bID);
        PanelRefresh(pnlx, false);
       
        $('#' + frmID).ajaxForm({
            success: function (result) {
                PanelRefresh(pnlx, true);
                getDetailx(bID);
                showMmMessage(result.Messages, 'Tamam');
            },
            complete: function (cmp) {
                PanelRefresh(pnlx, true);
            },
            error: function (err) {
                PanelRefresh(pnlx, true);
            }

        }).submit();
    }
    function ChangeFile(sndr, mBasvuruID) {
        var _BelgeIconID = '#BelgeIcon_' + mBasvuruID;
        var _BelgeAdiID = '#BelgeAdi_' + mBasvuruID;
        var _BelgeyiKaydetID = '#BelgeyiKaydet_' + mBasvuruID;
        var _ChkInptTbl = '#yOnayChk_' + mBasvuruID;
        $(_BelgeAdiID).removeAttr("onclick");
        $(_BelgeIconID).removeAttr("onclick");
        var isSuccessFSize = true;
        if (sndr.files[0].size > (1024 * 1024 * 20)) {
            isSuccessFSize = false;
            var btbx = bootbox.dialog({
                message: "<table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;text-align:center;color:maroon;'>Ekleyeceğiniz Belge boyutu en fazla 20 MB olabilir.</td></tr></table>",
                title: "Belge Kayıt İşlemi",
                buttons: {
                    success: {
                        label: 'Tamam',
                        className: "btn-info",
                        callback: function () {
                        }
                    }

                }
            });
        }
        if (sndr.files.length > 0 && isSuccessFSize) {

            $(_BelgeAdiID).val(sndr.files[0].name);
            $(_BelgeyiKaydetID).removeClass('hide');
            $(_ChkInptTbl).addClass('hide');

        }
        else {
            $(sndr).val("");
            $(_BelgeAdiID).val('Belge Seçilmedi, Lütfen belge seçiniz.');
            $(_BelgeyiKaydetID).addClass('hide');

        }
    }
    function TdDurumKayit(MezuniyetBasvurulariID, MezuniyetBasvurulariTezDosyaID) {
        var _panel = $('#bsvrDet_' + MezuniyetBasvurulariID);
        PanelRefresh(_panel, false);
        $('#TdDurumKaydet_' + MezuniyetBasvurulariTezDosyaID).ajaxForm({
            success: function (result) {
                if (result.IsSuccess) {
                    getDetailx(MezuniyetBasvurulariID);
                }
                else {
                    showMmMessage(result.Messages, 'Tamam');

                }
                PanelRefresh(_panel, true);

            },
            complete: function (cmp) {
                PanelRefresh(_panel, true);
            },
            error: function (err) {
                PanelRefresh(_panel, true);
            }

        }).submit();

    }
</script>