@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model MezuniyetBasvuruDetayDto
@{
    Layout = null;
    var juriOneriFormuKyetki = RoleNames.MezuniyetGelenBasvurularJuriOneriFormuKayit.InRoleCurrent();
    var jofEykyaGonderimYetkisi = RoleNames.MezuniyetGelenBasvurularJuriOneriFormuOnay.InRoleCurrent() && Model.MezuniyetSrModel.SalonRezervasyonlari.All(a => a.SRDurumID != SrTalepDurumEnum.Onaylandı);
    var jofEykYaHazirlandiYetkisi = RoleNames.MezuniyetGelenBasvurularEykyaHazirlandiYetkisi.InRoleCurrent();
    var jofEykdaOnayYetkisi = RoleNames.MezuniyetGelenBasvurularJuriOneriFormuEykOnay.InRoleCurrent() && Model.MezuniyetSrModel.SalonRezervasyonlari.All(a => a.SRDurumID != SrTalepDurumEnum.Onaylandı);
    var juriOneriFormu = Model.MezuniyetJuriOneriFormlaris.FirstOrDefault();
    var tbName = TabAdiEnum.MezuniyetBasvurulariTn + "-" + (Model.IsDelete ? Model.MezuniyetBasvurulariID.ToString() + "_cp" : Model.MezuniyetBasvurulariID.ToString());

    var isDoktora = Model.OgrenimTipKod.IsDoktora();
}

<div class="tab-pane @(Model.SelectedTabIndex == 2 ? "active" : "") " id="@tbName-2">
    <div class="col-md-12">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-group fa-lg"></i> @(isDoktora ? "Doktora Tez Jüri Öneri Formu" : "Yüksek Lisans Tez Jüri Öneri Formu")</td>
                        <td width="100" style="font-size:11pt;border-bottom:1px solid; text-align:right;padding-bottom:2px;">
                            @if (juriOneriFormuKyetki)
                            {
                                <span class="label label-@(juriOneriFormu==null?"primary":"info")" style="cursor:pointer;" onclick="GetJuriOneriFormu(@Model.MezuniyetBasvurulariID)"><i class="fa fa-@(juriOneriFormu!=null?"edit":"plus") fa-lg"></i> @(juriOneriFormu == null ? "Yeni Jüri öneri Formu Oluştur" : "Jüri Öneri Formunu Düzenle")</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-left:10px;text-align:left;">
                            @if (juriOneriFormu == null)
                            {

                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td style="text-align:center;height:250px;">
                                            <div class="tasks">
                                                <div class="task-item task-danger" style="margin-bottom: 0px; cursor: auto;">
                                                    <div class="task-text" style="padding-bottom: 0px; font-size: 8pt;">
                                                        Süreç Devamı için Jüri Öneri Formu oluşturulmalı!
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            }
                            else
                            {
                                <table style="width:100%;">
                                    <tr>
                                        <td class="CaptionTd" width="160">Form Kodu</td>
                                        <td class="CaptionTd" width="10">:</td>
                                        <td class="ValueTd">@juriOneriFormu.UniqueID</td>
                                    </tr>
                                    <tr>
                                        <td class="CaptionTd">Tez Dili</td>
                                        <td class="CaptionTd">:</td>
                                        <td class="ValueTd">@(Model.IsTezDiliTr.HasValue ? (Model.IsTezDiliTr == true ? "Türkçe" : "İngilizce") : "")</td>
                                    </tr>
                                    <tr>
                                        <td class="CaptionTd" style="font-weight:bold;">Tez Başlığı Türkçe</td>
                                        <td class="CaptionTd" style="font-weight:bold;">:</td>
                                        <td class="ValueTd">@Model.TezBaslikTr</td>
                                    </tr>
                                    <tr>
                                        <td class="CaptionTd" style="font-weight:bold;">Tez Başlığı İngilizce</td>
                                        <td class="CaptionTd" style="font-weight:bold;">:</td>
                                        <td class="ValueTd">@Model.TezBaslikEn</td>
                                    </tr>
                                    @if (juriOneriFormu.IsTezBasligiDegisti == true)
                                    {
                                        <tr>
                                            <td class="CaptionTd" style="font-weight:bold;">Yeni Tez Başlığı Türkçe</td>
                                            <td class="CaptionTd" style="font-weight:bold;">:</td>
                                            <td class="ValueTd">@juriOneriFormu.YeniTezBaslikTr</td>
                                        </tr>
                                        <tr>
                                            <td class="CaptionTd" style="font-weight:bold;">Yeni Tez Başlığı İngilizce</td>
                                            <td class="CaptionTd" style="font-weight:bold;">:</td>
                                            <td class="ValueTd">@juriOneriFormu.YeniTezBaslikEn</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="CaptionTd" style="font-weight:bold;">Form Çıktısı</td>
                                        <td class="CaptionTd" style="font-weight:bold;">:</td>
                                        <td class="ValueTd">
                                            <div class="btn-group">
                                                <a href="javascript:void(0);" data-toggle="dropdown" class="btn dropdown-toggle" aria-expanded="false">Form Çıktılarını İndir <span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">

                                                    <li>
                                                        <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'Mezuniyet Jüri Öneri Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipiEnum.MezuniyetJuriOneriFormuRaporu&ID=@Model.MezuniyetBasvurulariID' , 'auto', 'modal-dialog modal-lg' )">
                                                            <i class="fa fa-file-pdf-o" style="font-size:13pt;font-weight:bold;"></i> @(isDoktora? "FR-0300 Doktora" : "FR-0339 Yüksek Lisans") Tez Jüri Öneri Formunu İndir
                                                        </a>
                                                    </li>
                                                    @if (juriOneriFormu.EYKDaOnaylandi == true)
                                                    {
                                                        if (!Model.DanismanImzaliFormDosyaAdi.IsNullOrWhiteSpace())
                                                        {

                                                            <li>
                                                                <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'Tez Teslim Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipiEnum.MezuniyetJuriUyelerineTezTeslimFormu&MezuniyetJuriOneriFormID=@juriOneriFormu.MezuniyetJuriOneriFormID' , 'auto', 'modal-dialog modal-lg' )">
                                                                    <i class="fa fa-file-pdf-o" style="font-size:13pt;font-weight:bold;"></i> @(isDoktora? "FR-0302 Doktora" : "FR-0341 Yüksek Lisans") Jüri Üyelerine Tez Teslim Formunu İndir
                                                                </a>
                                                            </li>

                                                        }
                                                        <li>
                                                            <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'Yayınları Değerlendirme Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipiEnum.MezuniyetTezdenUretilenYayinlariDegerlendirmeFormu&MezuniyetJuriOneriFormID=@juriOneriFormu.MezuniyetJuriOneriFormID' , 'auto', 'modal-dialog modal-lg' )">
                                                                <i class="fa fa-file-pdf-o" style="font-size:13pt;font-weight:bold;"></i> FR-0304 Tezden Üretilen Yayınları Değerlendirme Formunu İndir
                                                            </a>
                                                        </li>
                                                    }

                                                </ul>
                                            </div>

                                        </td>
                                    </tr>
                                </table>
                                <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
                                    <table style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-group fa-lg"></i> Önerilen Jüriler</td>
                                                <td width="100" style="font-size:11pt;border-bottom:1px solid; text-align:right;padding-bottom:2px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <table class="table" style="font-size:9pt;margin:0px;">
                                                        <thead>
                                                            <tr class="info">
                                                                <th width="35" height="30"></th>
                                                                <th width="100">Unvan</th>
                                                                <th>Ad Soyad</th>
                                                                <th width="90" style="text-align:center;">Asil/Yedek</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var itemJr in juriOneriFormu.MezuniyetJuriOneriFormuJurileris.Where(p => new List<string> { "TezDanismani", "TikUyesi1", "TikUyesi2" }.Contains(p.JuriTipAdi)))
                                                            {
                                                                <tr>
                                                                    <td>

                                                                        <ul class="panel-controls">
                                                                            <li id="iShow_Jo_@itemJr.MezuniyetJuriOneriFormuJuriID" onclick="showDetailY('Jo_@itemJr.MezuniyetJuriOneriFormuJuriID')">
                                                                                <a href="javascript:void(0)"><span class="fa fa-angle-down"></span> </a>
                                                                            </li>
                                                                        </ul>
                                                                    </td>
                                                                    <td>
                                                                        @itemJr.UnvanAdi   <br /><span style="font-size:7pt;">@(itemJr.JuriTipAdi == "TezDanismani" ? "Tez Danışmanı" : "Tik Üyesi")</span>
                                                                    </td>
                                                                    <td>
                                                                        @itemJr.AdSoyad
                                                                        <br /><span style="font-size:7pt;">@itemJr.UniversiteAdi</span>
                                                                    </td>
                                                                    <td style="text-align:center;">
                                                                        @if (jofEykdaOnayYetkisi && juriOneriFormu.EYKYaGonderildi == true && juriOneriFormu.EYKDaOnaylandi != true)
                                                                        {
                                                                            @Html.DropDownList("IsAsilOryedek", Model.SIsAsilOryedek, new { id = "IsAsilOryedek_" + itemJr.JuriTipAdi + "_" + juriOneriFormu.MezuniyetJuriOneriFormID, onchange = "JoFormAsilYedekDurumKayit(this," + Model.MezuniyetBasvurulariID + "," + juriOneriFormu.MezuniyetJuriOneriFormID + ",'" + itemJr.JuriTipAdi + "')", @class = "form-control", @style = "text-align-last: center" })
                                                                            if (itemJr.IsAsilOrYedek.HasValue)
                                                                            {
                                                                                <script>
                                                                                    setTimeout(function () {
                                                                                        $('#IsAsilOryedek_@(itemJr.JuriTipAdi)_@(juriOneriFormu.MezuniyetJuriOneriFormID)').val('@(itemJr.IsAsilOrYedek.ToString())');
                                                                                    }, 50);
                                                                                </script>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            @(juriOneriFormu.EYKDaOnaylandi == true ? itemJr.IsAsilOrYedek.ToAsilYedek() : "Belirlenmedi")
                                                                        }
                                                                    </td>
                                                                </tr>
                                                                <tr class="MainRow2 cls-Jo_@itemJr.MezuniyetJuriOneriFormuJuriID" style="display:none;">
                                                                    <td id="cls-Jo_@itemJr.MezuniyetJuriOneriFormuJuriID" colspan="4" style="padding: 1px 1px 2px 50px;">
                                                                        <div class="panel panel-primary">
                                                                            <div class="panel-body">
                                                                                <table class="table" style="table-layout:fixed; font-size:9pt;margin:0px;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="160" style="font-weight:bold;">Ad Soyad</td>
                                                                                            <td width="10" style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.AdSoyad</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Unvan</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.UnvanAdi</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">E-Posta Adresi</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.EMail</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Üniversitesi</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.UniversiteAdi</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Anabilim Dalı / Program</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.AnabilimdaliProgramAdi</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Uzmanlık Alanı</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.UzmanlikAlani</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }

                                                            <tr>
                                                                <td colspan="4" class="danger" style="text-align:center;font-size:13px;font-weight:bold;">
                                                                    Yıldız Teknik Üniversitesi İçinden Juri Adayı Önerisi
                                                                </td>
                                                            </tr>
                                                            @foreach (var itemJr in juriOneriFormu.MezuniyetJuriOneriFormuJurileris.Where(p => p.JuriTipAdi.Contains("YtuIciJuri")).Select((s, inx) => new { s, inx = (inx + 1) }))
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <ul class="panel-controls">
                                                                            <li id="iShow_Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" onclick="showDetailY('Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID')">
                                                                                <a href="javascript:void(0)"><span class="fa fa-angle-down"></span> </a>
                                                                            </li>
                                                                        </ul>
                                                                    </td>
                                                                    <td>
                                                                        @itemJr.s.UnvanAdi<br /><span style="font-size:7pt;">@itemJr.inx - Üye Önerisi</span>

                                                                    </td>
                                                                    <td>
                                                                        @itemJr.s.AdSoyad
                                                                        <br /><span style="font-size:7pt;">@itemJr.s.AnabilimdaliProgramAdi</span>
                                                                    </td>

                                                                    <td style="text-align:center;">
                                                                        @if (jofEykdaOnayYetkisi && juriOneriFormu.EYKYaGonderildi == true && juriOneriFormu.EYKDaOnaylandi != true)
                                                                        {
                                                                            @Html.DropDownList("IsAsilOryedek", Model.SIsAsilOryedek, new { id = "IsAsilOryedek_" + itemJr.s.JuriTipAdi + "_" + juriOneriFormu.MezuniyetJuriOneriFormID, onchange = "JoFormAsilYedekDurumKayit(this," + Model.MezuniyetBasvurulariID + "," + juriOneriFormu.MezuniyetJuriOneriFormID + ",'" + itemJr.s.JuriTipAdi + "')", @class = "form-control", @style = "text-align-last: center" })
                                                                            if (itemJr.s.IsAsilOrYedek.HasValue)
                                                                            {
                                                                                <script>
                                                                                    setTimeout(function () {
                                                                                        $('#IsAsilOryedek_@(itemJr.s.JuriTipAdi)_@(juriOneriFormu.MezuniyetJuriOneriFormID)').val('@(itemJr.s.IsAsilOrYedek.ToString())');
                                                                                    }, 50);
                                                                                </script>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            @(juriOneriFormu.EYKDaOnaylandi == true ? itemJr.s.IsAsilOrYedek.ToAsilYedek() : "Belirlenmedi")
                                                                        }
                                                                    </td>
                                                                </tr>
                                                                <tr class="MainRow2 cls-Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" style="display:none;">
                                                                    <td id="cls-Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" colspan="4" style="padding: 1px 1px 2px 50px;">
                                                                        <div class="panel panel-primary">
                                                                            <div class="panel-body">
                                                                                <table class="table" style="table-layout:fixed; font-size:9pt;margin:0px;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="160" style="font-weight:bold;">Ad Soyad</td>
                                                                                            <td width="10" style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.AdSoyad</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Unvan</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.UnvanAdi</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">E-Posta Adresi</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.EMail</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Üniversite</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.UniversiteAdi</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Anabilim Dalı / Program</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.AnabilimdaliProgramAdi</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Uzmanlık Alanı</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.UzmanlikAlani</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }

                                                            <tr>
                                                                <td colspan="4" class="danger" style="text-align:center;font-size:13px;font-weight:bold;">
                                                                    Yıldız Teknik Üniversitesi Dışından Juri Adayı Önerisi
                                                                </td>
                                                            </tr>
                                                            @foreach (var itemJr in juriOneriFormu.MezuniyetJuriOneriFormuJurileris.Where(p => p.JuriTipAdi.Contains("YtuDisiJuri")).Select((s, inx) => new { s, inx = (inx + 1) }))
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <ul class="panel-controls">
                                                                            <li id="iShow_Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" onclick="showDetailY('Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID')">
                                                                                <a href="javascript:void(0)"><span class="fa fa-angle-down"></span> </a>
                                                                            </li>
                                                                        </ul>
                                                                    </td>
                                                                    <td>
                                                                        @itemJr.s.UnvanAdi<br /><span style="font-size:7pt;">@itemJr.inx - Üye Önerisi</span>

                                                                    </td>
                                                                    <td>
                                                                        @itemJr.s.AdSoyad
                                                                        <br /><span style="font-size:7pt;">@itemJr.s.UniversiteAdi</span>
                                                                    </td>

                                                                    <td style="text-align:center;">
                                                                        @if (jofEykdaOnayYetkisi && juriOneriFormu.EYKYaGonderildi == true && juriOneriFormu.EYKDaOnaylandi != true)
                                                                        {
                                                                            @Html.DropDownList("IsAsilOryedek", Model.SIsAsilOryedek, new { id = "IsAsilOryedek_" + itemJr.s.JuriTipAdi + "_" + juriOneriFormu.MezuniyetJuriOneriFormID, onchange = "JoFormAsilYedekDurumKayit(this," + Model.MezuniyetBasvurulariID + "," + juriOneriFormu.MezuniyetJuriOneriFormID + ",'" + itemJr.s.JuriTipAdi + "')", @class = "form-control", @style = "text-align-last : center" })
                                                                            if (itemJr.s.IsAsilOrYedek.HasValue)
                                                                            {
                                                                                <script>
                                                                                    setTimeout(function () {
                                                                                        $('#IsAsilOryedek_@(itemJr.s.JuriTipAdi)_@(juriOneriFormu.MezuniyetJuriOneriFormID)').val('@(itemJr.s.IsAsilOrYedek.ToString())');
                                                                                    }, 50);
                                                                                </script>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            @(juriOneriFormu.EYKDaOnaylandi == true ? itemJr.s.IsAsilOrYedek.ToAsilYedek() : "Belirlenmedi")
                                                                        }
                                                                    </td>
                                                                </tr>
                                                                <tr class="MainRow2 cls-Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" style="display:none;">
                                                                    <td id="cls-Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" colspan="4" style="padding: 1px 1px 2px 50px;">
                                                                        <div class="panel panel-primary">
                                                                            <div class="panel-body">
                                                                                <table class="table" style="table-layout:fixed; font-size:9pt;margin:0px;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="160" style="font-weight:bold;">Ad Soyad</td>
                                                                                            <td width="10" style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.AdSoyad</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Unvan</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.UnvanAdi</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">E-Posta Adresi</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.EMail</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Üniversitesi</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.UniversiteAdi</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Anabilim Dalı / Program</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.AnabilimdaliProgramAdi</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-weight:bold;">Uzmanlık Alanı</td>
                                                                                            <td style="font-weight:bold;">:</td>
                                                                                            <td>@itemJr.s.UzmanlikAlani</td>
                                                                                        </tr>

                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            @if (Model.IsTezDiliTr == false && juriOneriFormu != null)
                                            {
                                                <tr>
                                                    <td colspan="2">
                                                        <br />
                                                        <div class="tasks">
                                                            <div class="task-item task-info" style="margin-bottom: 0px; cursor: auto;">
                                                                <div class="task-text" style="padding-bottom: 0px; font-size: 8pt;">
                                                                    <b>Danışman Dil Şartı Taahhüt Onayı:</b><br> Seçilen jüri üyeleri için ‘Yükseköğretim kurumlarında yabancı dil öğretimi ve yabancı dille öğretim yapılmasında uyulacak esaslara ilişkin yönetmeliğe göre dil şartını sağlamaktadır’ tahhütünü kabul ediyorum.
                                                                </div>
                                                                <div class="task-footer" style="padding-top:0pt;padding-bottom:0px;color:green;">
                                                                    <div class="pull-left"><span class="fa fa-check-circle-o"></span> @juriOneriFormu.IslemTarihi.ToFormatDateAndTime()</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:60px;">
                                    <table style="width:100%;">
                                        <tr>
                                            <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-check-square-o"></i> Enstitü Onay İşlemleri</td>
                                        </tr>
                                        @if (jofEykyaGonderimYetkisi && !juriOneriFormu.EYKYaHazirlandi.HasValue)
                                        {
                                            <tr>
                                                <td class="CaptionTd" width="200">EYK'ya Gönderim Durumu</td>
                                                <td class="CaptionTd" width="10">:</td>
                                                <td class="ValueTd">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <select class="form-control" id="EYKYaGonderildi_@juriOneriFormu.MezuniyetJuriOneriFormID" onchange="EYKYaOnayChange(@juriOneriFormu.MezuniyetJuriOneriFormID,@Model.MezuniyetBasvurulariID)">
                                                                    <option @(!juriOneriFormu.EYKYaGonderildi.HasValue ? "selected" : "")></option>
                                                                    <option value="true" @(juriOneriFormu.EYKYaGonderildi == true ? "selected" : "")>EYK'ya Gönderimi Onaylandı @(juriOneriFormu.EYKYaGonderildiIslemTarihi.HasValue ? "(" + juriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime() + ")" : "")</option>
                                                                    <option value="false" @(juriOneriFormu.EYKYaGonderildi == false ? "selected" : "")>EYK'ya Gönderimi Onaylanmadı @(juriOneriFormu.EYKYaGonderildiIslemTarihi.HasValue ? "(" + juriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime() + ")" : "")</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <label class="btn btn-primary btn-sm" onclick="EYKyaGonder(@juriOneriFormu.MezuniyetJuriOneriFormID,@Model.MezuniyetBasvurulariID)"><i class="fa fa-save" aria-hidden="true"> </i>Kaydet</label>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                            <tr id="EYKYaGonderimAciklamaRow_@juriOneriFormu.MezuniyetJuriOneriFormID" class="form-group @(juriOneriFormu.EYKYaGonderildi == false ? "" : "hide")">
                                                <td class="CaptionTd">Onaylanmama Açıklaması</td>
                                                <td class="CaptionTd">:</td>
                                                <td class="ValueTd">
                                                    <textarea class="form-control" style="min-height:100px;" id="EYKYaGonderimOnaylanmadiDurumAciklamasi_@juriOneriFormu.MezuniyetJuriOneriFormID" maxlength="512">@juriOneriFormu.EYKYaGonderimDurumAciklamasi</textarea>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="CaptionTd" width="200">EYK'ya Gönderim Durumu</td>
                                                <td class="CaptionTd" width="10">:</td>
                                                <td class="ValueTd">
                                                    @if (!juriOneriFormu.EYKYaGonderildi.HasValue)
                                                    {

                                                        <span aria-hidden="true" style="font-size:9pt;"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderim Onayı Bekleniyor.</span>
                                                    }
                                                    else if (juriOneriFormu.EYKYaGonderildi == true)
                                                    {
                                                        <span style="color:green;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylandı. (@juriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime())</span>

                                                    }
                                                    else
                                                    {
                                                        <span style="color:maroon;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylanmadı. (@juriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime())</span>

                                                    }
                                                </td>
                                            </tr>
                                            if (juriOneriFormu.EYKYaGonderildi == false && !juriOneriFormu.EYKYaGonderimDurumAciklamasi.IsNullOrWhiteSpace())
                                            {
                                                <tr>
                                                    <td class="CaptionTd">Onaylanmama Açıklaması</td>
                                                    <td class="CaptionTd">:</td>
                                                    <td class="ValueTd">
                                                        @juriOneriFormu.EYKYaGonderimDurumAciklamasi
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        @if (juriOneriFormu.EYKYaGonderildi == true)
                                        {
                                            if (jofEykYaHazirlandiYetkisi && !juriOneriFormu.EYKDaOnaylandi.HasValue)
                                            {
                                                <tr>
                                                    <td class="CaptionTd" width="200">EYK'ya Hazırlanma Durumu</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <select class="form-control" id="EYKyaHazirlandi_@juriOneriFormu.MezuniyetJuriOneriFormID">
                                                                        <option @(!juriOneriFormu.EYKYaHazirlandi.HasValue ? "selected" : "")></option>
                                                                        <option value="true" @(juriOneriFormu.EYKYaHazirlandi == true ? "selected" : "")>EYK'ya Hazırlandı @(juriOneriFormu.EYKYaHazirlandiIslemTarihi.HasValue ? "(" + juriOneriFormu.EYKYaHazirlandiIslemTarihi.ToFormatDateAndTime() + ")" : "")</option>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <label class="btn btn-primary btn-sm" onclick="EYKyaHazirla(@juriOneriFormu.MezuniyetJuriOneriFormID,@Model.MezuniyetBasvurulariID)"><i class="fa fa-save" aria-hidden="true"> </i>Kaydet</label>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                            }
                                            else
                                            {
                                                <tr>
                                                    <td class="CaptionTd" width="200">EYK'ya Hazırlanma Durumu</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        @if (!juriOneriFormu.EYKYaHazirlandi.HasValue)
                                                        {

                                                            <span aria-hidden="true" style="font-size:9pt;"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Hazırlanma İşlemi Bekleniyor.</span>
                                                        }
                                                        else if (juriOneriFormu.EYKYaHazirlandi == true)
                                                        {
                                                            <span style="color:green;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Hazırlandı. (@juriOneriFormu.EYKYaHazirlandiIslemTarihi.ToFormatDateAndTime())</span>

                                                        }
                                                    </td>
                                                </tr>



                                            }
                                        }

                                        @if (juriOneriFormu.EYKYaHazirlandi == true)
                                        {
                                            if (jofEykdaOnayYetkisi)
                                            {
                                                <tr id="EYKdaOnayOnayRow_@juriOneriFormu.MezuniyetJuriOneriFormID" class="@(juriOneriFormu.EYKYaHazirlandi == true ? "" : "hide")">
                                                    <td class="CaptionTd" width="200">EYK'da Onay Durumu</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <select class="form-control" id="EYKDaOnaylandi_@juriOneriFormu.MezuniyetJuriOneriFormID" onchange="EYKOnayChange(@juriOneriFormu.MezuniyetJuriOneriFormID)">
                                                                        <option @(!juriOneriFormu.EYKDaOnaylandi.HasValue ? "selected" : "")></option>
                                                                        <option value="true" @(juriOneriFormu.EYKDaOnaylandi == true ? "selected" : "")>EYK'da Onaylandı</option>
                                                                        <option value="false" @(juriOneriFormu.EYKDaOnaylandi == false ? "selected" : "")>EYK'da Onaylanmadı</option>
                                                                    </select>
                                                                </td>
                                                                <td class="form-group @(juriOneriFormu.EYKDaOnaylandi.HasValue?"":"hide")" id="EYKOnayEykTarihTd_@juriOneriFormu.MezuniyetJuriOneriFormID">
                                                                    <input type="text" class="form-control tarihB date-pickerx" style="width:100px;" placeholder="EYK Tarihi" id="EYKDaOnaylandiOnayTarihi_@juriOneriFormu.MezuniyetJuriOneriFormID" value="@Model.EYKTarihi.ToFormatDateInput()" />

                                                                </td>
                                                                <td>
                                                                    <label class="btn btn-primary btn-sm" onclick="EYKdaOnay(@juriOneriFormu.MezuniyetJuriOneriFormID,@Model.MezuniyetBasvurulariID)"><i class="fa fa-save" aria-hidden="true"> </i>Kaydet</label>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr id="EYKOnayAciklamaRow_@juriOneriFormu.MezuniyetJuriOneriFormID" class="form-group @(juriOneriFormu.EYKDaOnaylandi == false ? "" : "hide")">
                                                    <td class="CaptionTd">Onaylanmama Açıklaması</td>
                                                    <td class="CaptionTd">:</td>
                                                    <td class="ValueTd">
                                                        <textarea class="form-control" style="min-height:100px;" id="EYKDaOnaylanmadiDurumAciklamasi_@juriOneriFormu.MezuniyetJuriOneriFormID" maxlength="512">@juriOneriFormu.EYKDaOnaylanmadiDurumAciklamasi</textarea>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td class="CaptionTd" width="200">EYK'da Onay Durumu</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        @if (!juriOneriFormu.EYKDaOnaylandi.HasValue)
                                                        {

                                                            <span aria-hidden="true" style="font-size:9pt;"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> EYK'da onay işlemi Bekleniyor.</span>
                                                        }
                                                        else if (juriOneriFormu.EYKDaOnaylandi == true)
                                                        {

                                                            <span style="color:green;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylandı. (@juriOneriFormu.EYKDaOnaylandiOnayTarihi.ToFormatDate())</span>

                                                        }
                                                        else
                                                        {
                                                            <span style="color:maroon;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylanmadı. (@juriOneriFormu.EYKDaOnaylandiOnayTarihi.ToFormatDate())</span>

                                                        }
                                                    </td>
                                                </tr>
                                                if (juriOneriFormu.EYKDaOnaylandi == false)
                                                {
                                                    <tr>
                                                        <td class="CaptionTd">Onaylanmama Açıklaması</td>
                                                        <td class="CaptionTd">:</td>
                                                        <td class="ValueTd">
                                                            @juriOneriFormu.EYKDaOnaylanmadiDurumAciklamasi
                                                        </td>
                                                    </tr>
                                                }

                                            }
                                        }
                                    </table>
                                </div>

                                @*<div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:60px;">
                                        <table style="width:100%;">
                                            <tr>
                                                <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-check-square-o"></i> Enstitü Onay İşlemleri</td>
                                            </tr>
                                            @if (juriOneriFormuOnayYetki && juriOneriFormu.EYKDaOnaylandi != true)
                                            {
                                                <tr>
                                                    <td class="CaptionTd" width="200">EYK'ya Gönderim Durumu</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <select class="form-control" id="EYKYaGonderildi_@juriOneriFormu.MezuniyetJuriOneriFormID" onchange="EYKYaOnayChange(@juriOneriFormu.MezuniyetJuriOneriFormID)">
                                                                        <option @(!juriOneriFormu.EYKYaGonderildi.HasValue ? "selected" : "")></option>
                                                                        <option value="true" @(juriOneriFormu.EYKYaGonderildi == true ? "selected" : "")>EYK'ya Gönderimi Onaylandı @(juriOneriFormu.EYKYaGonderildi == true && juriOneriFormu.EYKYaGonderildiIslemTarihi.HasValue ? "(" + juriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime() + ")" : "")</option>
                                                                        <option value="false" @(juriOneriFormu.EYKYaGonderildi == false ? "selected" : "")>EYK'ya Gönderimi Onaylanmadı @(juriOneriFormu.EYKYaGonderildi == false && juriOneriFormu.EYKYaGonderildiIslemTarihi.HasValue ? "(" + juriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime() + ")" : "")</option>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <label class="btn btn-primary btn-sm" onclick="JoFormDurumKayit(@Model.MezuniyetBasvurulariID, @juriOneriFormu.MezuniyetJuriOneriFormID,false);"><i class="fa fa-save" aria-hidden="true"> </i>Kaydet</label>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </td>
                                                </tr>
                                                <tr id="EYKYaGonderimAciklamaRow_@juriOneriFormu.MezuniyetJuriOneriFormID" class="form-group @(juriOneriFormu.EYKYaGonderildi == false ? "" : "hide")">
                                                    <td class="CaptionTd">Onaylanmama Açıklaması</td>
                                                    <td class="CaptionTd">:</td>
                                                    <td class="ValueTd">
                                                        <textarea class="form-control" style="min-height:100px;" id="EYKYaGonderimOnaylanmadiDurumAciklamasi_@juriOneriFormu.MezuniyetJuriOneriFormID" maxlength="512">@juriOneriFormu.EYKYaGonderimDurumAciklamasi</textarea>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td class="CaptionTd" width="200">EYK'ya Gönderim Durumu</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        @if (!juriOneriFormu.EYKYaGonderildi.HasValue)
                                                        {

                                                            <span aria-hidden="true" style="font-size:9pt;"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderim Onayı Bekleniyor.</span>
                                                        }
                                                        else if (juriOneriFormu.EYKYaGonderildi == true)
                                                        {

                                                            <span style="color:green;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylandı. (@juriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime())</span>

                                                        }
                                                        else
                                                        {
                                                            <span style="color:maroon;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylanmadı. (@juriOneriFormu.EYKYaGonderildiIslemTarihi.ToFormatDateAndTime())</span>

                                                        }
                                                    </td>
                                                </tr>
                                                if (juriOneriFormu.EYKYaGonderildi == false && !juriOneriFormu.EYKYaGonderimDurumAciklamasi.IsNullOrWhiteSpace())
                                                {
                                                    <tr>
                                                        <td class="CaptionTd">Onaylanmama Açıklaması</td>
                                                        <td class="CaptionTd">:</td>
                                                        <td class="ValueTd">
                                                            @juriOneriFormu.EYKYaGonderimDurumAciklamasi
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            @if (juriOneriFormu.EYKYaGonderildi == true)
                                            {
                                                if (juriOneriFormuEykYaHazirlandiYetkisi && !juriOneriFormu.EYKDaOnaylandi.HasValue)
                                                {
                                                    <tr>
                                                        <td class="CaptionTd" width="200">EYK'ya Hazırlanma Durumu</td>
                                                        <td class="CaptionTd" width="10">:</td>
                                                        <td class="ValueTd">
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <select class="form-control" id="EYKyaHazirlandi_@juriOneriFormu.MezuniyetJuriOneriFormID">
                                                                            <option @(!juriOneriFormu.EYKYaHazirlandi.HasValue ? "selected" : "")></option>
                                                                            <option value="true" @(juriOneriFormu.EYKYaHazirlandi == true ? "selected" : "")>EYK'ya Hazırlandı @(juriOneriFormu.EYKYaHazirlandiIslemTarihi.HasValue ? "(" + juriOneriFormu.EYKYaHazirlandiIslemTarihi.ToFormatDateAndTime() + ")" : "")</option>
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        <label class="btn btn-primary btn-sm" onclick="EYKyaHazirla(@juriOneriFormu.MezuniyetJuriOneriFormID)"><i class="fa fa-save" aria-hidden="true"> </i>Kaydet</label>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td class="CaptionTd" width="200">EYK'ya Hazırlanma Durumu</td>
                                                        <td class="CaptionTd" width="10">:</td>
                                                        <td class="ValueTd">
                                                            @if (!juriOneriFormu.EYKYaHazirlandi.HasValue)
                                                            {

                                                                <span aria-hidden="true" style="font-size:9pt;"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Hazırlanma İşlemi Bekleniyor.</span>
                                                            }
                                                            else if (juriOneriFormu.EYKYaHazirlandi == true)
                                                            {

                                                                <span style="color:green;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Hazırlandı. (@juriOneriFormu.EYKYaHazirlandiIslemTarihi.ToFormatDateAndTime())</span>

                                                            }
                                                        </td>
                                                    </tr>



                                                }

                                                if (juriOneriFormu.EYKYaHazirlandi == true)
                                                {
                                                    if (juriOneriFormuOnayYetkiEykDa)
                                                    {
                                                        <tr>
                                                            <td class="CaptionTd" width="200">EYK'da Onay Durumu</td>
                                                            <td class="CaptionTd" width="10">:</td>
                                                            <td class="ValueTd">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <select class="form-control" id="EYKDaOnaylandi_@juriOneriFormu.MezuniyetJuriOneriFormID" onchange="EYKOnayChange(@juriOneriFormu.MezuniyetJuriOneriFormID)">
                                                                                <option @(!juriOneriFormu.EYKDaOnaylandi.HasValue ? "selected" : "")></option>
                                                                                <option value="true" @(juriOneriFormu.EYKDaOnaylandi == true ? "selected" : "")>EYK'da Onaylandı @(juriOneriFormu.EYKDaOnaylandi == true && juriOneriFormu.EYKDaOnaylandiOnayTarihi.HasValue ? "(" + juriOneriFormu.EYKDaOnaylandiOnayTarihi.ToFormatDate() + ")" : "")</option>
                                                                                <option value="false" @(juriOneriFormu.EYKDaOnaylandi == false ? "selected" : "")>EYK'da Onaylanmadı @(juriOneriFormu.EYKDaOnaylandi == false && juriOneriFormu.EYKDaOnaylandiOnayTarihi.HasValue ? "(" + juriOneriFormu.EYKDaOnaylandiOnayTarihi.ToFormatDate() + ")" : "")</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <label class="btn btn-primary btn-sm" onclick="JoFormDurumKayit(@Model.MezuniyetBasvurulariID, @juriOneriFormu.MezuniyetJuriOneriFormID,true);"><i class="fa fa-save" aria-hidden="true"> </i>Kaydet</label>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                        <tr id="EYKOnayAciklamaRow_@juriOneriFormu.MezuniyetJuriOneriFormID" class="form-group @(juriOneriFormu.EYKDaOnaylandi == false ? "" : "hide")">
                                                            <td class="CaptionTd">Onaylanmama Açıklaması</td>
                                                            <td class="CaptionTd">:</td>
                                                            <td class="ValueTd">
                                                                <textarea class="form-control" style="min-height:100px;" id="EYKDaOnaylanmadiDurumAciklamasi_@juriOneriFormu.MezuniyetJuriOneriFormID" maxlength="512">@juriOneriFormu.EYKDaOnaylanmadiDurumAciklamasi</textarea>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="CaptionTd" width="200">EYK'da Onay Durumu</td>
                                                            <td class="CaptionTd" width="10">:</td>
                                                            <td class="ValueTd">
                                                                @if (!juriOneriFormu.EYKDaOnaylandi.HasValue)
                                                                {

                                                                    <span aria-hidden="true" style="font-size:9pt;"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> EYK'da onay işlemi Bekleniyor.</span>
                                                                }
                                                                else if (juriOneriFormu.EYKDaOnaylandi == true)
                                                                {

                                                                    <span style="color:green;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylandı. (@juriOneriFormu.EYKDaOnaylandiOnayTarihi.ToFormatDate())</span>

                                                                }
                                                                else
                                                                {
                                                                    <span style="color:maroon;font-size:10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylanmadı. (@juriOneriFormu.EYKDaOnaylandiOnayTarihi.ToFormatDate())</span>

                                                                }
                                                            </td>
                                                        </tr>
                                                        if (juriOneriFormu.EYKDaOnaylandi == false)
                                                        {
                                                            <tr>
                                                                <td class="CaptionTd">Onaylanmama Açıklaması</td>
                                                                <td class="CaptionTd">:</td>
                                                                <td class="ValueTd">
                                                                    @juriOneriFormu.EYKDaOnaylanmadiDurumAciklamasi
                                                                </td>
                                                            </tr>
                                                        }

                                                    }
                                                }
                                            }


                                        </table>
                                    </div>*@
                            }

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
