@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model MezuniyetBasvuruDetayDto
@{


    Layout = null;
    var isYayinKontrolUygun = Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi 
                              || Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KaydiSilindi 
                              || Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.IptalEdildi;


    bool kayitYetki = RoleNames.MezuniyetGelenBasvurularKayit.InRoleCurrent() && Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi;
    var tbName = TabAdiEnum.MezuniyetBasvurulariTn + "-" + (Model.IsDelete ? Model.MezuniyetBasvurulariID + "_cp" : Model.MezuniyetBasvurulariID.ToString());
    var isTdYuklemeKapali = Model.MezuniyetBasvurulariTezDosyalariDtos.Any(a => a.IsOnaylandiOrDuzeltme == true);
    var bezCiltForm = Model.MezuniyetBasvurulariTezTeslimFormlaris.FirstOrDefault();

 

    var tab2IsVisible = isYayinKontrolUygun && (Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi 
                                                || Model.MezuniyetJuriOneriFormlaris.Any());

    var tab3IsVisible = isYayinKontrolUygun && Model.EykDaOnaylandi == true && Model.EYKTarihi.HasValue && Model.MezuniyetSrModel != null;

    var tab4IsVisible = isYayinKontrolUygun && Model.MezuniyetSinavDurumID == MezuniyetSinavDurumEnum.Basarili 
                        || Model.MezuniyetBasvurulariTezDosyalariDtos.Any();

    var tab5IsVisible = isYayinKontrolUygun && Model.MezuniyetSinavDurumID == MezuniyetSinavDurumEnum.Basarili 
                                            && (isTdYuklemeKapali || bezCiltForm != null);
 
}
<style>

    .CaptionTd {
        font-weight: bold;
        margin: 0px;
    }

    .ValueTd {
        font-size: 9pt;
        margin: 0px;
        text-align: left;
    }
</style>
@if (!Model.IsDelete)
{
    <div class="panel" id="bsvrDet_@Model.MezuniyetBasvurulariID">
        <div class="panel-body" style="margin: 0px; padding: 0px;">
            <div class="panel panel-default tabs" style="margin-bottom:0px; padding:0px;">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="@(Model.SelectedTabIndex == 1 ? "active" : "") bnt-@tbName-1" style="margin-right:3px;"><a onclick="tabchangeSet('@tbName',1)" style="cursor:pointer;margin:0px;padding-left:6px;padding-right:6px;" role="tab" data-toggle="tab"> <i class="fa fa-list-alt fa-lg"></i> <span style="text-align:right;font-size:9pt;margin:0px;"> Başvuru Kabulü</span></a></li>
                    @if (tab2IsVisible)
                    {
                        <li class="@(Model.SelectedTabIndex == 2 ? "active" : "") bnt-@tbName-2" style="margin-right:3px;">
                            <a onclick="tabchangeSet('@tbName',2)" style="cursor:pointer;margin:0px;padding-left:6px;padding-right:6px;" role="tab" data-toggle="tab">
                                <i class="fa fa-group fa-lg"></i>
                                <span style="text-align:right;font-size:9pt;margin:0px;"> EYK Süreci</span>
                            </a>
                        </li>
                    }
                    @if (tab3IsVisible)
                    {
                        <li class="@(Model.SelectedTabIndex == 3 ? "active" : "") bnt-@tbName-3" style="margin-right:3px;">
                            <a onclick="tabchangeSet('@tbName',3)" style="cursor:pointer;margin:0px;padding-left:6px;padding-right:6px;" role="tab" data-toggle="tab">
                                <i class="fa fa-edit fa-lg"></i>
                                <span style="text-align:right;font-size:9pt;margin:0px;"> Sınav Süreci</span>
                            </a>
                        </li>
                    }
                    @if (tab4IsVisible)
                    {
                        <li class="@(Model.SelectedTabIndex == 4 ? "active" : "") bnt-@tbName-4" style="margin-right:3px;">
                            <a onclick="tabchangeSet('@tbName',4)" style="cursor:pointer;margin:0px;padding-left:6px;padding-right:6px;" role="tab" data-toggle="tab">
                                <i class="fa fa-file-text-o fa-lg"></i>
                                <span style="text-align:right;font-size:9pt;margin:0px;"> Tez Kontrol Süreci</span>
                            </a>
                        </li>
                    }
                    @if (tab5IsVisible)
                    {
                        <li class="@(Model.SelectedTabIndex == 5 ? "active" : "") bnt-@tbName-5" style="margin-right:3px;">
                            <a onclick="tabchangeSet('@tbName',5)" style="cursor:pointer;margin:0px;padding-left:6px;padding-right:6px;" role="tab" data-toggle="tab">
                                <i class="fa fa-graduation-cap fa-lg"></i>
                                <span style="text-align:right;font-size:9pt;margin:0px;"> Mezuniyet Süreci</span>
                            </a>
                        </li>
                    }

                    <li><a href="javascript:void(0);" onclick="GetDetailx('@Model.MezuniyetBasvurulariID');" title="Detay Sayfasını Yenile"><span class="fa fa-refresh myValueTd"></span></a></li>

                   

                  

                </ul>

                <div class="panel-body tab-content" id="yayinContent_@Model.MezuniyetBasvurulariID" style="padding:0px;">
                    <input type="text" id="SelectedTb-@tbName" style="display:none;" value="@Model.SelectedTabIndex" />
                    <table style="margin:0px;">
                        <tr>
                            <td width="110" style="text-align:center;">
                                <img src="@(Model.ResimAdi.ToKullaniciResim())" style="width:90px;height:90px;" class="img-circle img-thumbnail">
                            </td>
                            <td style="padding-left:10px;text-align:left;">

                                <table class="table" style="table-layout:fixed; font-size:9pt;margin:0px;">
                                    <tr>
                                        <td width="160">Ad Soyad</td>
                                        <td width="10">:</td>
                                        <td>
                                            <table style="width:100%;table-layout:fixed;">
                                                <tr>
                                                    <td>@Model.Ad @Model.Soyad (@Model.OgrenciNo) </td>
                                                    <td width="220px;" style="text-align:right;">
                                                        Başvuru Tarihi: @Model.BasvuruTarihi.ToString()
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Öğrenim Seviyesi</td>
                                        <td>:</td>
                                        <td>
                                            @Model.OgrenimTipAdi
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Program</td>
                                        <td>:</td>
                                        <td>@Model.AnabilimdaliAdi / @Model.ProgramAdi</td>
                                    </tr>
                                    <tr>
                                        <td>Kayıt Tarihi</td>
                                        <td>:</td>
                                        <td>@Model.KayitDonemi , @Model.KayitTarihi.ToFormatDate()</td>
                                    </tr>
                                    <tr>
                                        <td>Danışman</td>
                                        <td>:</td>
                                        <td>
                                            <table style="width:100%;table-layout:fixed;">
                                                <tr>
                                                    <td>
                                                        @if (Model.TezDanismanID.HasValue)
                                                        {
                                                            <a href="javascript:void(0)" onclick="DetayGor('@Model.TezDanismaniUserKey','#kulPnl')"><i class="fa fa-graduation-cap"></i> @Model.TezDanismanBilgiEslesen</a>
                                                        }

                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    @if (Model.MezuniyetYayinKontrolDurumID == MezuniyetYayinKontrolDurumuEnum.KabulEdildi || Model.EYKTarihi.HasValue)
                                    {
                                        <tr class="@(Model.EYKTarihi.HasValue ? "success" : "danger")">
                                            <td>EYK Tarihi / Sayısı</td>
                                            <td>:</td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td id="eykLbl_@Model.MezuniyetBasvurulariID">
                                                            @(Model.EYKTarihi.HasValue ? Model.EYKTarihi.Value.ToFormatDate() : "EYK Tarihi Girilmedi")
                                                        </td>
                                                        <td id="eykInp_@Model.MezuniyetBasvurulariID" class="hide">
                                                            <input class="form-control form-control-inline input-medium date-pickerx" autocomplete="off" size="16" type="text" value="@(Model.EYKTarihi == null ? "" : Model.EYKTarihi.ToFormatDateInput())" id="InpEyk_@Model.MezuniyetBasvurulariID">
                                                        </td>

                                                        @if (kayitYetki)
                                                        {
                                                            <td width="25" style="text-align:right;font-size:10pt;">
                                                                <a href="javascript:void(0)" onclick="ShowEykTarih(@Model.MezuniyetBasvurulariID,this)"><i class="fa fa-edit fa-lg" title="EYK Tarihini Düzenle"></i></a>
                                                                <script>
                                                                    $('.date-pickerx').datetimepicker({
                                                                        timepicker: false,
                                                                        format: 'Y-m-d'
                                                                    });
                                                                    function ShowEykTarih(id, sndr) {
                                                                        if ($('#eykLbl_' + id).hasClass('hide')) {
                                                                            $('#eykLbl_' + id).removeClass('hide');
                                                                            $('#eykInp_' + id).addClass('hide');
                                                                            $('#eykSv_' + id).addClass('hide');

                                                                        }
                                                                        else {
                                                                            $('#eykLbl_' + id).addClass('hide');
                                                                            $('#eykInp_' + id).removeClass('hide');
                                                                            $('#eykSv_' + id).removeClass('hide');
                                                                        }
                                                                    }

                                                                </script>
                                                            </td>
                                                            <td id="eykSv_@Model.MezuniyetBasvurulariID" width="25" style="text-align:right;font-size:10pt;" class="hide">
                                                                <a href="javascript:void(0)" onclick="SaveEykTarihi(@Model.MezuniyetBasvurulariID,this)"><i class="fa fa-save fa-lg" title="EYK Tarihini Kaydet"></i></a>
                                                                <script>

                                                                function SaveEykTarihi(id, sndr) {
                                                                    var val = $('#InpEyk_' + id).val();
                                                                    $.ajax({
                                                                        url: '@Url.Action("EykTarihiKaydet", "MezuniyetGelenBasvurular")',
                                                                        data: { 'id': id, 'EYKTarihi': val },
                                                                        success: function (result) {
                                                                            GetMsg(result.MmMessage);
                                                                            if (result.IsSuccess) {
                                                                                GetDetailx(id);
                                                                            }
                                                                        },
                                                                        error: function (err) {
                                                                            alert(err.responseText);
                                                                        }
                                                                    });
                                                                }

                                                                </script>
                                                            </td>



                                                        }
                                                        <td id="eykSLbl_@Model.MezuniyetBasvurulariID" style="padding-left:5px;">
                                                            @(!Model.EYKSayisi.IsNullOrWhiteSpace() ? "Eyk Sayısı: "+Model.EYKSayisi : "EYK Sayısı Girilmedi")
                                                        </td>
                                                        <td id="eykSInp_@Model.MezuniyetBasvurulariID" class="hide">
                                                            <input type="text" class="form-control" style="width: 60px;" maxlength="10" title="EYK Sayısı" placeholder="EYK Sayısı" value="@Model.EYKSayisi" id="InpEykS_@Model.MezuniyetBasvurulariID" />
                                                        </td>
                                                        @if (kayitYetki)
                                                        {
                                                            <td width="25" style="text-align:right;font-size:10pt;">
                                                                <a href="javascript:void(0)" onclick="ShowEykSayisi(@Model.MezuniyetBasvurulariID,this)"><i class="fa fa-edit fa-lg" title="EYK Tarihini Düzenle"></i></a>
                                                                <script>

                                                                    function ShowEykSayisi(id, sndr) {
                                                                        if ($('#eykSLbl_' + id).hasClass('hide')) {
                                                                            $('#eykSLbl_' + id).removeClass('hide');
                                                                            $('#eykSInp_' + id).addClass('hide');
                                                                            $('#eykSSv_' + id).addClass('hide');

                                                                        }
                                                                        else {
                                                                            $('#eykSLbl_' + id).addClass('hide');
                                                                            $('#eykSInp_' + id).removeClass('hide');
                                                                            $('#eykSSv_' + id).removeClass('hide');
                                                                        }
                                                                    }

                                                                </script>
                                                            </td>
                                                            <td id="eykSSv_@Model.MezuniyetBasvurulariID" width="25" style="text-align:right;font-size:10pt;" class="hide">
                                                                <a href="javascript:void(0)" onclick="SaveEykSayisi(@Model.MezuniyetBasvurulariID,this)"><i class="fa fa-save fa-lg" title="EYK Sayısı Kaydet"></i></a>
                                                                <script>

                                                                    function SaveEykSayisi(id, sndr) {
                                                                        var val = $('#InpEykS_' + id).val();
                                                                        $.ajax({
                                                                            url: '@Url.Action("EykSayisiKaydet", "MezuniyetGelenBasvurular")',
                                                                            data: { 'id': id, 'EYKSayisi': val },
                                                                            success: function (result) {
                                                                                GetMsg(result.MmMessage);
                                                                                if (result.IsSuccess) {
                                                                                    GetDetailx(id);
                                                                                }
                                                                            },
                                                                            error: function (err) {
                                                                                alert(err.responseText);
                                                                            }
                                                                        });
                                                                    }

                                                                </script>
                                                            </td>



                                                        }
                                                    </tr>
                                                </table>


                                            </td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>

                    @Model.ToMezuniyetDetayBasvuru()

                    @if (tab2IsVisible)
                    {
                        @Model.ToMezuniyetDetayEykSureci()
                    }
                    @if (tab3IsVisible)
                    {
                        @Model.ToMezuniyetDetaySinavSureci()
                    }
                    @if (tab4IsVisible)
                    {
                        @Model.ToMezuniyetDetayTezKontrolSureci()
                        if (tab5IsVisible)
                        {
                            @Model.ToMezuniyetDetayMezuniyetSureci()
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <span id="MD_html_@Model.MezuniyetBasvurulariID" class="hide">
        @Model.BasvuruDurumHtml
    </span>
    <script>

    $(function () {

        $('.openFl').click(function (itmx) {
            var FPath = $(this).attr("FPath");
            var FName = $(this).attr("FName");
            PopupCenter(FPath, FName, 800, 600);
        });
        var HtmlString = $('#MD_html_@Model.MezuniyetBasvurulariID').html();
        $('#MDurum_@Model.MezuniyetBasvurulariID').html(HtmlString);

    });
    function DurumKontrol(id) {
        var secimval = $('#SRDurumID_' + id).val();
        if (secimval == '@SrTalepDurumEnum.Reddedildi') {
            $('#aciklamabilgi_' + id).removeClass("hide");
        }
        else {
            $('#aciklamabilgi_' + id).addClass("hide")
        }
    }
    function TTStVChange(sndr, rwid) {
        if ($(sndr).val() != "@MezuniyetSinavDurumEnum.Basarili") {
            $('#InpTTSt_' + rwid).addClass("hide");
            $('.tt_Title_' + rwid).addClass("hide");
        }
        else {

            $('#InpTTSt_' + rwid).removeClass("hide");
            $('.tt_Title_' + rwid).removeClass("hide");
        }
    }

    </script>
}
else
{
    <table style="margin:0px;">
        <tr>
            <td width="100" style="text-align:center;">
                <img src="@(Model.ResimAdi.ToKullaniciResim())" style="width:90px;height:90px;" class="img-circle img-thumbnail">
            </td>
            <td style="padding-left:10px;text-align:left;">

                <table class="table" style="table-layout:fixed; font-size:9pt;margin:0px;">
                    <tr>
                        <td width="100">Ad Soyad</td>
                        <td width="10">:</td>
                        <td>
                            @Model.Ad @Model.Soyad (@Model.OgrenciNo)
                        </td>
                    </tr>
                    <tr>
                        <td>Başvuru Tarihi</td>
                        <td>:</td>
                        <td>@Model.BasvuruTarihi.ToString()</td>
                    </tr>
                    <tr>
                        <td>Öğrenim Seviyesi</td>
                        <td>:</td>
                        <td>@Model.OgrenimTipAdi </td>
                    </tr>
                    <tr>
                        <td>Anabilim Dalı</td>
                        <td>:</td>
                        <td>@Model.AnabilimdaliAdi</td>
                    </tr>
                    <tr>
                        <td>Program</td>
                        <td>:</td>
                        <td>@Model.ProgramAdi</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
