@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil;
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model MezuniyetBasvuruDetayDto
@{
    Layout = null;
    bool juriOneriFormuKyetki = RoleNames.MezuniyetGelenBasvurularJuriOneriFormuKayit.InRoleCurrent();
    bool juriOneriFormuOnayYetki = RoleNames.MezuniyetGelenBasvurularJuriOneriFormuOnay.InRoleCurrent() && Model.MezuniyetSRModel.SalonRezervasyonlari.All(a => a.SRDurumID != SRTalepDurum.Onaylandı);
    bool juriOneriFormuOnayYetkiEykDa = RoleNames.MezuniyetGelenBasvurularJuriOneriFormuEykOnay.InRoleCurrent() && Model.MezuniyetSRModel.SalonRezervasyonlari.All(a => a.SRDurumID != SRTalepDurum.Onaylandı);
    var juriOneriFormu = Model.MezuniyetJuriOneriFormlaris.FirstOrDefault();
    var tbName = TabAdlari.MezuniyetBasvurulariTN + "-" + (Model.IsDelete ? Model.MezuniyetBasvurulariID.ToString() + "_cp" : Model.MezuniyetBasvurulariID.ToString());
}

<div class="tab-pane @(Model.SelectedTabIndex == 2 ? "active" : "") " id="@tbName-2">
    <div class="col-md-12">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-group fa-lg"></i> @(Model.OgrenimTipKod.IsDoktora() ? "Doktora Tez Jüri Öneri Formu" : "Yüksek Lisans Tez Jüri Öneri Formu")</td>
                        <td width="100" style="font-size:11pt;border-bottom:1px solid; text-align:right;padding-bottom:2px;">
                            @if (juriOneriFormuKyetki)
                            {
                                <span class="label label-@(juriOneriFormu==null?"primary":"info")" style="cursor:pointer;" onclick="GetJuriOneriFormu(@Model.MezuniyetBasvurulariID)"><i class="fa fa-@(juriOneriFormu!=null?"edit":"plus") fa-lg"></i> @(juriOneriFormu == null ? "Yeni Jüri öneri Formu Oluştur" : "Jüri Öneri Formunu Düzenle")</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-left:10px;text-align:left;">
                            @if (juriOneriFormu == null)
                            {
                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td style="color:maroon;font-size:13pt; text-align:center;height:250px;">Mezuniyet Başvurusuna Ait Jüri Öneri Formu Oluşturulmadı!</td>
                                    </tr>
                                </table>
                            }
                            else
                            {
                                <table style="width:100%;">
                                    <tr>
                                        <td class="CaptionTd" width="160">Form Kodu</td>
                                        <td class="CaptionTd" width="10">:</td>
                                        <td class="ValueTd">@juriOneriFormu.UniqueID</td>
                                    </tr>
                                    <tr>
                                        <td class="CaptionTd">Tez Dili</td>
                                        <td class="CaptionTd">:</td>
                                        <td class="ValueTd">@(Model.IsTezDiliTr.HasValue ? (Model.IsTezDiliTr == true ? "Türkçe" : "İngilizce") : "")</td>
                                    </tr>
                                    <tr>
                                        <td class="CaptionTd" style="font-weight:bold;">Tez Başlığı Türkçe</td>
                                        <td class="CaptionTd" style="font-weight:bold;">:</td>
                                        <td class="ValueTd">@Model.TezBaslikTr</td>
                                    </tr>
                                    <tr>
                                        <td class="CaptionTd" style="font-weight:bold;">Tez Başlığı İngilizce</td>
                                        <td class="CaptionTd" style="font-weight:bold;">:</td>
                                        <td class="ValueTd">@Model.TezBaslikEn</td>
                                    </tr>
                                    @if (juriOneriFormu.IsTezBasligiDegisti == true)
                                    {
                                        <tr>
                                            <td class="CaptionTd" style="font-weight:bold;">Yeni Tez Başlığı Türkçe</td>
                                            <td class="CaptionTd" style="font-weight:bold;">:</td>
                                            <td class="ValueTd">@juriOneriFormu.YeniTezBaslikTr</td>
                                        </tr>
                                        <tr>
                                            <td class="CaptionTd" style="font-weight:bold;">Yeni Tez Başlığı İngilizce</td>
                                            <td class="CaptionTd" style="font-weight:bold;">:</td>
                                            <td class="ValueTd">@juriOneriFormu.YeniTezBaslikEn</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="CaptionTd" style="font-weight:bold;">Form Çıktısı</td>
                                        <td class="CaptionTd" style="font-weight:bold;">:</td>
                                        <td class="ValueTd">
                                            <div class="btn-group">
                                                <a href="javascript:void(0);" data-toggle="dropdown" class="btn dropdown-toggle" aria-expanded="false">Form Çıktılarını İndir <span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    @if (Model.OgrenimTipKod.IsDoktora())
                                                    {
                                                        <li>
                                                            <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'Mezuniyet Jüri Öneri Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipleri.MezuniyetJuriOneriFormuRaporu&ID=@Model.MezuniyetBasvurulariID' , 'auto', 'modal-dialog modal-lg' )">
                                                                <i class="fa fa-file-pdf-o" style="font-size:13pt;font-weight:bold;"></i> FR-0339 Yüksek Lisans Tez Jüri Öneri Formunu İndir
                                                            </a>
                                                        </li>
                                                        if (juriOneriFormu.EYKDaOnaylandi == true)
                                                        {
                                                            if (!Model.DanismanImzaliFormDosyaAdi.IsNullOrWhiteSpace())
                                                            {
                                                                <li>
                                                                    <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'Tez Teslim Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipleri.MezuniyetJuriUyelerineTezTeslimFormu&MezuniyetJuriOneriFormID=@juriOneriFormu.MezuniyetJuriOneriFormID' , 'auto', 'modal-dialog modal-lg' )">
                                                                        <i class="fa fa-file-pdf-o" style="font-size:13pt;font-weight:bold;"></i> FR-0341 Yüksek Lisans Jüri Üyelerine Tez Teslim Formunu İndir
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'Yayınları Değerlendirme Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipleri.MezuniyetTezdenUretilenYayinlariDegerlendirmeFormu&MezuniyetJuriOneriFormID=@juriOneriFormu.MezuniyetJuriOneriFormID' , 'auto', 'modal-dialog modal-lg' )">
                                                                        <i class="fa fa-file-pdf-o" style="font-size:13pt;font-weight:bold;"></i> FR-0304 Tezden Üretilen Yayınları Değerlendirme Formunu İndir
                                                                    </a>
                                                                </li>

                                                            }
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'Mezuniyet Jüri Öneri Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipleri.MezuniyetJuriOneriFormuRaporu&ID=@Model.MezuniyetBasvurulariID' , 'auto', 'modal-dialog modal-lg' )">
                                                                <i class="fa fa-file-pdf-o" style="font-size:13pt;font-weight:bold;"></i> FR-0300 Doktora Tez Jüri Öneri Formunu İndir
                                                            </a>
                                                        </li>
                                                        if (juriOneriFormu.EYKDaOnaylandi == true)
                                                        {
                                                            if (!Model.DanismanImzaliFormDosyaAdi.IsNullOrWhiteSpace())
                                                            {
                                                                <li>
                                                                    <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'Tez Teslim Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipleri.MezuniyetJuriUyelerineTezTeslimFormu&MezuniyetJuriOneriFormID=@juriOneriFormu.MezuniyetJuriOneriFormID' , 'auto', 'modal-dialog modal-lg' )">
                                                                        <i class="fa fa-file-pdf-o" style="font-size:13pt;font-weight:bold;"></i> FR-0302 Doktora Jüri Üyelerine Tez Teslim Formunu İndir
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);" onclick="yeniDialogBB(null, 'Yayınları Değerlendirme Formu','@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipleri.MezuniyetTezdenUretilenYayinlariDegerlendirmeFormu&MezuniyetJuriOneriFormID=@juriOneriFormu.MezuniyetJuriOneriFormID' , 'auto', 'modal-dialog modal-lg' )">
                                                                        <i class="fa fa-file-pdf-o" style="font-size:13pt;font-weight:bold;"></i> FR-0304 Tezden Üretilen Yayınları Değerlendirme Formunu İndir
                                                                    </a>
                                                                </li>
                                                            }

                                                        }

                                                    }
                                                </ul>
                                            </div>

                                        </td>
                                    </tr>
                                </table>
                                <table class="table" style="font-size:9pt;margin:0px;">
                                    <thead>
                                        <tr class="info">
                                            <th width="35" height="30"></th>
                                            <th width="100">Unvan</th>
                                            <th width="240">Ad Soyad</th>
                                            <th>Dil Sınavı</th>
                                            <th width="120" style="text-align:center;">Jüri Seçim Durumu</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="5" style="padding:0px;">
                                                <table class="table table-hover" style="width:100%;table-layout:fixed;margin:0px;">
                                                    @foreach (var itemJr in juriOneriFormu.MezuniyetJuriOneriFormuJurileris.Where(p => new List<string> { "TezDanismani", "TikUyesi1", "TikUyesi2" }.Contains(p.JuriTipAdi)))
                                                    {
                                                        <tr>
                                                            <td width="35">

                                                                <ul class="panel-controls">
                                                                    <li id="iShow_Jo_@itemJr.MezuniyetJuriOneriFormuJuriID" onclick="showDetailY('Jo_@itemJr.MezuniyetJuriOneriFormuJuriID')">
                                                                        <a href="javascript:void(0)"><span class="fa fa-angle-down"></span> </a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td width="100">
                                                                @itemJr.UnvanAdi   <br /><span style="font-size:7pt;">@(itemJr.JuriTipAdi == "TezDanismani" ? "Tez Danışmanı" : "Tik Üyesi")</span>
                                                            </td>
                                                            <td width="240">
                                                                @itemJr.AdSoyad
                                                                <br /><span style="font-size:7pt;">@itemJr.UniversiteAdi</span>
                                                            </td>
                                                            <td>
                                                                @if (!itemJr.DilSinavAdi.IsNullOrWhiteSpace() && !itemJr.DilPuani.IsNullOrWhiteSpace())
                                                                {
                                                                    <span style="font-size: 8pt;"> @itemJr.DilSinavAdi<br />@itemJr.DilPuani</span>
                                                                }
                                                            </td>
                                                            <td width="120" style="text-align:center;">
                                                                @if (juriOneriFormuOnayYetkiEykDa && juriOneriFormu.EYKYaGonderildi == true && juriOneriFormu.EYKDaOnaylandi != true)
                                                                {
                                                                    @Html.DropDownList("IsAsilOryedek", Model.SIsAsilOryedek, new { id = "IsAsilOryedek_" + itemJr.JuriTipAdi + "_" + juriOneriFormu.MezuniyetJuriOneriFormID, onchange = "JoFormAsilYedekDurumKayit(this," + Model.MezuniyetBasvurulariID + "," + juriOneriFormu.MezuniyetJuriOneriFormID + ",'" + itemJr.JuriTipAdi + "')", @class = "form-control", @style = "text-align-last: center" })
                                                                    if (itemJr.IsAsilOrYedek.HasValue)
                                                                    {
                                                                        <script>
                                                                                                setTimeout(function () {
                                                                                                    $('#IsAsilOryedek_@(itemJr.JuriTipAdi)_@(juriOneriFormu.MezuniyetJuriOneriFormID)').val('@(itemJr.IsAsilOrYedek.ToString())');
                                                                                                }, 50);
                                                                        </script>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @(juriOneriFormu.EYKDaOnaylandi == true ? itemJr.IsAsilOrYedek.ToAsilYedek() : "Belirlenmedi")
                                                                }
                                                            </td>
                                                        </tr>
                                                        <tr class="MainRow2 cls-Jo_@itemJr.MezuniyetJuriOneriFormuJuriID" style="display:none;">
                                                            <td id="cls-Jo_@itemJr.MezuniyetJuriOneriFormuJuriID" colspan="5" style="padding: 1px 1px 2px 50px;">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-body">
                                                                        <table class="table" style="table-layout:fixed; font-size:9pt;margin:0px;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="160" style="font-weight:bold;">Ad Soyad</td>
                                                                                    <td width="10" style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.AdSoyad</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Unvan</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.UnvanAdi</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">E-Posta Adresi</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.EMail</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Üniversitesi</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.UniversiteAdi</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Anabilim Dalı / Program</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.AnabilimdaliProgramAdi</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Uzmanlık Alanı</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.UzmanlikAlani</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Bilimsel Çalışmalara Ait Anahtar Sözcükler (3 adet)</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.BilimselCalismalarAnahtarSozcukler</td>
                                                                                </tr>
                                                                                @if (!itemJr.DilSinavAdi.IsNullOrWhiteSpace() && !itemJr.DilPuani.IsNullOrWhiteSpace())
                                                                                {

                                                                                    <tr>
                                                                                        <td style="font-weight:bold;">Sınav Adı</td>
                                                                                        <td width="10" style="font-weight:bold;text-align:center;">:</td>
                                                                                        <td>@itemJr.DilSinavAdi</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="font-weight:bold;">Sınav Puanı</td>
                                                                                        <td width="10" style="font-weight:bold;text-align:center;">:</td>
                                                                                        <td>@itemJr.DilPuani</td>
                                                                                    </tr>

                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="danger" style="text-align:center;font-size:13px;font-weight:bold;">
                                                Yıldız Teknik Üniversitesi İçinden Juri Adayı Önerisi
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="padding:0px;">
                                                <table class="table table-hover" style="width:100%;table-layout:fixed;margin:0px;">
                                                    @foreach (var itemJr in juriOneriFormu.MezuniyetJuriOneriFormuJurileris.Where(p => p.JuriTipAdi.Contains("YtuIciJuri")).Select((s, inx) => new { s, inx = (inx + 1) }))
                                                    {
                                                        <tr>
                                                            <td width="35">
                                                                <ul class="panel-controls">
                                                                    <li id="iShow_Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" onclick="showDetailY('Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID')">
                                                                        <a href="javascript:void(0)"><span class="fa fa-angle-down"></span> </a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td width="100">
                                                                @itemJr.s.UnvanAdi<br /><span style="font-size:7pt;">@itemJr.inx - Üye Önerisi</span>

                                                            </td>
                                                            <td width="240">
                                                                @itemJr.s.AdSoyad
                                                                <br /><span style="font-size:7pt;">@itemJr.s.AnabilimdaliProgramAdi</span>
                                                            </td>
                                                            <td>
                                                                @if (!itemJr.s.DilSinavAdi.IsNullOrWhiteSpace() && !itemJr.s.DilPuani.IsNullOrWhiteSpace())
                                                                {
                                                                    <span style="font-size: 8pt;"> @itemJr.s.DilSinavAdi<br />@itemJr.s.DilPuani</span>
                                                                }
                                                            </td>
                                                            <td width="120" style="text-align:center;">
                                                                @if (juriOneriFormuOnayYetkiEykDa && juriOneriFormu.EYKYaGonderildi == true && juriOneriFormu.EYKDaOnaylandi != true)
                                                                {
                                                                    @Html.DropDownList("IsAsilOryedek", Model.SIsAsilOryedek, new { id = "IsAsilOryedek_" + itemJr.s.JuriTipAdi + "_" + juriOneriFormu.MezuniyetJuriOneriFormID, onchange = "JoFormAsilYedekDurumKayit(this," + Model.MezuniyetBasvurulariID + "," + juriOneriFormu.MezuniyetJuriOneriFormID + ",'" + itemJr.s.JuriTipAdi + "')", @class = "form-control", @style = "text-align-last: center" })
                                                                    if (itemJr.s.IsAsilOrYedek.HasValue)
                                                                    {
                                                                        <script>
                                                                            setTimeout(function () {
                                                                                $('#IsAsilOryedek_@(itemJr.s.JuriTipAdi)_@(juriOneriFormu.MezuniyetJuriOneriFormID)').val('@(itemJr.s.IsAsilOrYedek.ToString())');
                                                                            }, 50);
                                                                        </script>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @(juriOneriFormu.EYKDaOnaylandi == true ? itemJr.s.IsAsilOrYedek.ToAsilYedek() : "Belirlenmedi")
                                                                }
                                                            </td>
                                                        </tr>
                                                        <tr class="MainRow2 cls-Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" style="display:none;">
                                                            <td id="cls-Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" colspan="5" style="padding: 1px 1px 2px 50px;">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-body">
                                                                        <table class="table" style="table-layout:fixed; font-size:9pt;margin:0px;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="160" style="font-weight:bold;">Ad Soyad</td>
                                                                                    <td width="10" style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.AdSoyad</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Unvan</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.UnvanAdi</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">E-Posta Adresi</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.EMail</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Üniversite</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.UniversiteAdi</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Anabilim Dalı / Program</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.AnabilimdaliProgramAdi</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Uzmanlık Alanı</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.UzmanlikAlani</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Bilimsel Çalışmalara Ait Anahtar Sözcükler (3 adet)</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.BilimselCalismalarAnahtarSozcukler</td>
                                                                                </tr>
                                                                                @if (!itemJr.s.DilSinavAdi.IsNullOrWhiteSpace() && !itemJr.s.DilPuani.IsNullOrWhiteSpace())
                                                                                {
                                                                                    <tr>
                                                                                        <td style="font-weight:bold;">Sınav Adı</td>
                                                                                        <td style="font-weight:bold;text-align:center;">:</td>
                                                                                        <td>@itemJr.s.DilSinavAdi</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="font-weight:bold;">Sınav Puanı</td>
                                                                                        <td style="font-weight:bold;text-align:center;">:</td>
                                                                                        <td>@itemJr.s.DilPuani</td>
                                                                                    </tr>

                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="danger" style="text-align:center;font-size:13px;font-weight:bold;">
                                                Yıldız Teknik Üniversitesi Dışından Juri Adayı Önerisi
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="padding:0px;">
                                                <table class="table table-hover" style="width:100%;table-layout:fixed;margin:0px;">
                                                    @foreach (var itemJr in juriOneriFormu.MezuniyetJuriOneriFormuJurileris.Where(p => p.JuriTipAdi.Contains("YtuDisiJuri")).Select((s, inx) => new { s, inx = (inx + 1) }))
                                                    {
                                                        <tr>
                                                            <td width="35">
                                                                <ul class="panel-controls">
                                                                    <li id="iShow_Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" onclick="showDetailY('Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID')">
                                                                        <a href="javascript:void(0)"><span class="fa fa-angle-down"></span> </a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td width="100">
                                                                @itemJr.s.UnvanAdi<br /><span style="font-size:7pt;">@itemJr.inx - Üye Önerisi</span>

                                                            </td>
                                                            <td width="240">
                                                                @itemJr.s.AdSoyad
                                                                <br /><span style="font-size:7pt;">@itemJr.s.UniversiteAdi</span>
                                                            </td>
                                                            <td>
                                                                @if (!itemJr.s.DilSinavAdi.IsNullOrWhiteSpace() && !itemJr.s.DilPuani.IsNullOrWhiteSpace())
                                                                {
                                                                    <span style="font-size: 8pt;"> @itemJr.s.DilSinavAdi<br />@itemJr.s.DilPuani</span>
                                                                }
                                                            </td>
                                                            <td width="120" style="text-align:center;">
                                                                @if (juriOneriFormuOnayYetkiEykDa && juriOneriFormu.EYKYaGonderildi == true && juriOneriFormu.EYKDaOnaylandi != true)
                                                                {
                                                                    @Html.DropDownList("IsAsilOryedek", Model.SIsAsilOryedek, new { id = "IsAsilOryedek_" + itemJr.s.JuriTipAdi + "_" + juriOneriFormu.MezuniyetJuriOneriFormID, onchange = "JoFormAsilYedekDurumKayit(this," + Model.MezuniyetBasvurulariID + "," + juriOneriFormu.MezuniyetJuriOneriFormID + ",'" + itemJr.s.JuriTipAdi + "')", @class = "form-control", @style = "text-align-last : center" })
                                                                    if (itemJr.s.IsAsilOrYedek.HasValue)
                                                                    {
                                                                        <script>
                                                                            setTimeout(function () {
                                                                                $('#IsAsilOryedek_@(itemJr.s.JuriTipAdi)_@(juriOneriFormu.MezuniyetJuriOneriFormID)').val('@(itemJr.s.IsAsilOrYedek.ToString())');
                                                                            }, 50);
                                                                        </script>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @(juriOneriFormu.EYKDaOnaylandi == true ? itemJr.s.IsAsilOrYedek.ToAsilYedek() : "Belirlenmedi")
                                                                }
                                                            </td>
                                                        </tr>
                                                        <tr class="MainRow2 cls-Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" style="display:none;">
                                                            <td id="cls-Jo_@itemJr.s.MezuniyetJuriOneriFormuJuriID" colspan="5" style="padding: 1px 1px 2px 50px;">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-body">
                                                                        <table class="table" style="table-layout:fixed; font-size:9pt;margin:0px;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="160" style="font-weight:bold;">Ad Soyad</td>
                                                                                    <td width="10" style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.AdSoyad</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Unvan</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.UnvanAdi</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">E-Posta Adresi</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.EMail</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Üniversitesi</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.UniversiteAdi</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Anabilim Dalı / Program</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.AnabilimdaliProgramAdi</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Uzmanlık Alanı</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.UzmanlikAlani</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight:bold;">Bilimsel Çalışmalara Ait Anahtar Sözcükler (3 adet)</td>
                                                                                    <td style="font-weight:bold;">:</td>
                                                                                    <td>@itemJr.s.BilimselCalismalarAnahtarSozcukler</td>
                                                                                </tr>
                                                                                @if (!itemJr.s.DilSinavAdi.IsNullOrWhiteSpace() && !itemJr.s.DilPuani.IsNullOrWhiteSpace())
                                                                                {
                                                                                    <tr>
                                                                                        <td style="font-weight:bold;">Sınav Adı</td>
                                                                                        <td style="font-weight:bold;text-align:center;">:</td>
                                                                                        <td>@itemJr.s.DilSinavAdi</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="font-weight:bold;">Sınav Puanı</td>
                                                                                        <td style="font-weight:bold;text-align:center;">:</td>
                                                                                        <td>@itemJr.s.DilPuani</td>
                                                                                    </tr>

                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
                                    <table style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-thumbs-o-up fa-lg"></i> Enstitü Onay İşlemi</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:10px;text-align:left;">
                                                    <table style="width:100%;table-layout:fixed;margin:0px;">
                                                        <tbody>
                                                            <tr>
                                                                <td class="CaptionTd" width="160">
                                                                    EYK'ya gönderim durumu
                                                                </td>
                                                                <td class="CaptionTd" width="10">:</td>
                                                                <td class="ValueTd">
                                                                    @if (juriOneriFormuOnayYetki && juriOneriFormu.EYKDaOnaylandi != true)
                                                                    {
                                                                        @Html.DropDownList("EYKYaGonderildi", Model.SEYKYaGonderildi, new { id = "EYKYaGonderildi_" + juriOneriFormu.MezuniyetJuriOneriFormID, onchange = "JoFormDurumKayit(this," + Model.MezuniyetBasvurulariID + "," + juriOneriFormu.MezuniyetJuriOneriFormID + ", false)", @class = "form-control" })
                                                                    }
                                                                    else
                                                                    {

                                                                        if (!juriOneriFormu.EYKYaGonderildi.HasValue)
                                                                        {
                                                                            @("İşlem Görmedi")
                                                                        }
                                                                        else if (juriOneriFormu.EYKYaGonderildi == true)
                                                                        {
                                                                            @("EYK'ya Gönderimi Onaylandı") @(" (" + juriOneriFormu.EYKYaGonderildiIslemTarihi.Value.ToFormatDateAndTime() + ")")
                                                                        }
                                                                        else
                                                                        {
                                                                            @("EYK'ya Gönderimi Onaylanmadı")
                                                                        }

                                                                    }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="CaptionTd">EYK'da Onay Durumu</td>
                                                                <td class="CaptionTd">:</td>
                                                                <td class="ValueTd">
                                                                    @if (juriOneriFormuOnayYetkiEykDa && juriOneriFormu.EYKYaGonderildi == true)
                                                                    {
                                                                        @Html.DropDownList("EYKDaOnaylandi", Model.SEYKDaOnaylandi, new { id = "EYKDaOnaylandi_" + juriOneriFormu.MezuniyetJuriOneriFormID, onchange = "JoOnayDurumAcklmVisible(this," + juriOneriFormu.MezuniyetJuriOneriFormID + ")", @class = "form-control" })

                                                                    }
                                                                    else
                                                                    {

                                                                        if (!juriOneriFormu.EYKDaOnaylandi.HasValue)
                                                                        {
                                                                            @("İşlem Görmedi")
                                                                        }
                                                                        else if (juriOneriFormu.EYKDaOnaylandi == true)
                                                                        {
                                                                            @("EYK'da Onaylandı")
                                                                        }
                                                                        else
                                                                        {
                                                                            @("EYK'da Onaylanmadı") <br />
                                                                            @("(" + juriOneriFormu.EYKDaOnaylanmadiDurumAciklamasi + ")")
                                                                        }
                                                                    }
                                                                </td>
                                                            </tr>

                                                            @if (juriOneriFormuOnayYetkiEykDa && juriOneriFormu.EYKYaGonderildi == true)
                                                            {
                                                                <tr id="jOneriFormOnayAckRow_@juriOneriFormu.MezuniyetJuriOneriFormID" class="@(juriOneriFormu.EYKDaOnaylandi==false?"":"hide")">
                                                                    <td class="CaptionTd">Onaylanmama Sebebi</td>
                                                                    <td class="CaptionTd">:</td>
                                                                    <td class="ValueTd">
                                                                        <textarea style="width:100%;" id="EYKDaOnaylanmadiDurumAciklamasi_@juriOneriFormu.MezuniyetJuriOneriFormID">@juriOneriFormu.EYKDaOnaylanmadiDurumAciklamasi.ToStrObjEmptString().Trim()</textarea>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td class="value">
                                                                        <span class="label label-primary" style="cursor:pointer;font-size:8pt;" onclick="JoFormDurumKayit(this,@Model.MezuniyetBasvurulariID, @juriOneriFormu.MezuniyetJuriOneriFormID,true);"><i class="fa fa-save" aria-hidden="true"></i> Kaydet</span>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            }

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>