@model LisansUstuBasvuruSistemi.Utilities.MailManager.MailMainContentDto
@{
    Layout = null;
}

<div style="background-color:#d6dde5;font-size:13px">
    <div style="background-color:#496a97;max-width:750px;margin:0px auto;">
        <table style="max-width:750px;table-layout:fixed;margin:0px auto;">
            <tr>
                <td style="text-align:center;background-color:#496a97;">
                    <img alt="" src="@Model.LogoPath" style="max-width:60px;margin:0px auto;" width="60" />
                </td>
            </tr>
            <tr>
                <td style="text-align:center;background-color:#496a97;">
                    <span style="font-size: 18px;color: rgb(255, 255, 255);font-family: 'Times New Roman', Helvetica, Arial, sans-serif">@Model.UniversiteAdi.ToUpper()</span> <br />
                    <span style="font-size: 14px;color: rgb(212, 205, 196);font-family: 'Times New Roman', Helvetica, Arial, sans-serif">@Model.EnstituAdi.ToUpper()</span>
                </td>
            </tr>
        </table>
    </div>
    <div style="background-color:#ffffff;max-width:750px;margin:0px auto; padding: 10px 0px 5px 0px;">
        <table style="width:100%;">
            <tr>
                <td style="padding: 4px;" id="mSendContent">
                    @Html.Raw(Model.Content)
                </td>
            </tr>
            <tr>
                <td>
                    <table align="right" border="0" cellpadding="1" cellspacing="1" style="width:300px">
                        <tbody>
                            <tr>
                                <td style="text-align:center">YTU @Model.EnstituAdi</td>
                            </tr>
                            <tr>
                                <td style="text-align:center">
                                    <a href="@Model.WebAdresi" target="_blank">@Model.WebAdresi</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>
    <div style="background-color:#496a97;max-width:750px;margin:0px auto;color: rgb(255, 255, 255);font-family: 'Times New Roman', Helvetica, Arial, sans-serif">
        <table style="width:100%;table-layout:fixed;">
            <tr>
                <td style="text-align:center;">© 2015 - @(DateTime.Now.Year) EBIS</td>
            </tr>
        </table>

    </div>
</div>