@using Newtonsoft.Json
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model LisansUstuBasvuruSistemi.WebServiceData.ObsService.ObsOgrenciSorgulaModel
@{
    Layout = null;
}

<div class="panel panel-danger" style="padding-bottom: 0px;">
    <div class="panel-body" style="padding: 0px;">
        <div class="panel panel-default form-horizontal" style="margin: 0px;">
            <div class="panel-body form-group-separated">
                <table>
                    <tr>
                        <td>Tc veya Öğrenci No:</td>
                        <td style="padding-left:5px;"><input type="text" id="_Tc" class="form-control" value="@Model.Tc"></td>
                        <td><button data-bb-handler="danger" type="button" class="btn btn-primary" onclick="submitOgrenciNo();">Sorgula</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@if (!Model.Tc.IsNullOrWhiteSpace() && Model.Ogrenci == null)
{
    <div class="panel panel-danger" style="padding-bottom: 0px;">
        <div class="panel-body" style="padding: 0px;">
            <div class="panel panel-default form-horizontal" style="margin: 0px;text-align:center;font-size:9pt;color:maroon;">
                '@Model.Tc' ile yapılan arama sonucunda herhangi bir öğrenci bulunamadı.
            </div>
        </div>
    </div>
}
else if (Model.Ogrenci == null)
{
    <div class="panel panel-danger" style="padding-bottom: 0px;">
        <div class="panel-body" style="padding: 0px;">
            <div class="panel panel-default form-horizontal" style="margin: 0px; text-align: center; font-size: 9pt; color: green;">
                Öğrenciyi sorgulamak için öğrenci numarası veya tc numarası girin ve sorgula butonuna tıklayın
            </div>
        </div>
    </div>
}
else
{
    <div class="panel panel-danger" style="padding-bottom: 0px;">
        <div class="panel-heading padding-0">
            <h3 class="panel-title" style="font-size: 9pt; color: #3fbae4;">Öğrenci Bilgisi</h3>
        </div>
        <div class="panel-body" style="padding: 0px;">

            <div class="panel-body form-group-separated">
                <textarea readonly="readonly" style="width: 100%; max-width: 560px; min-height: 200px; overflow: auto;">@JsonConvert.SerializeObject(Model.Ogrenci, Newtonsoft.Json.Formatting.Indented)</textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-danger" style="padding-bottom: 0px;">
        <div class="panel-heading padding-0">
            <h3 class="panel-title" style="font-size: 9pt; color: #3fbae4;">Öğrenci Ders Bilgisi</h3>
        </div>
        <div class="panel-body" style="padding: 0px;">
            <div class="panel-body form-group-separated">
                <textarea readonly="readonly" style="width: 100%; max-width: 560px; min-height:@(Model.OgrenciDersNot!=null?"200px":"30px;"); overflow: auto;">
                     @if (Model.OgrenciDersNot != null)
                     {
                         @JsonConvert.SerializeObject(Model.OgrenciDersNot, Newtonsoft.Json.Formatting.Indented)
                     }
                     else
                     {
                         @("Öğrenci Ders Bilgisi Yok")
                     }
                     </textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-danger" style="padding-bottom: 0px;">
        <div class="panel-heading padding-0">
            <h3 class="panel-title" style="font-size: 9pt; color: #3fbae4;">Öğrenci Dersleri Bilgisi</h3>
        </div>
        <div class="panel-body" style="padding: 0px;">
            <div class="panel-body form-group-separated">
                <textarea readonly="readonly" style="width: 100%; max-width: 560px; min-height:@(Model.OgrenciDersNotBilgis!=null?"200px":"30px;"); overflow: auto;">
                  @if (Model.OgrenciDersNotBilgis != null)
                  {
                      @JsonConvert.SerializeObject(Model.OgrenciDersNotBilgis, Newtonsoft.Json.Formatting.Indented)
                  }
                  else
                  {
                      @("Öğrenci Ders Bilgisi Yok")
                  }
                  </textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-danger" style="padding-bottom: 0px;">
        <div class="panel-heading padding-0">
            <h3 class="panel-title" style="font-size: 9pt; color: #3fbae4;">Öğrenci Tez Bilgisi</h3>
        </div>
        <div class="panel-body" style="padding: 0px;">
            <div class="panel-body form-group-separated">
                <textarea readonly="readonly" style="width: 100%; max-width: 560px; min-height: @(Model.OgrenciTez != null?"200px":"30px;"); overflow: auto;">
                     @if (Model.OgrenciTez != null)
                     {
                         @JsonConvert.SerializeObject(Model.OgrenciTez, Newtonsoft.Json.Formatting.Indented)
                     }
                     else
                     {
                         @("Öğrenci Tez Bilgisi Yok")
                     }
                     </textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-danger" style="padding-bottom: 0px;">
        <div class="panel-heading padding-0">
            <h3 class="panel-title" style="font-size: 9pt; color: #3fbae4;">Öğrenci Tez Jüri Şablonu</h3>
        </div>
        <div class="panel-body" style="padding: 0px;">
            <div class="panel-body form-group-separated">
                <textarea readonly="readonly" style="width: 100%; max-width: 560px; min-height: @(Model.OgrenciTezJuri != null && Model.OgrenciTezJuri.Any()?"200px":"30px;"); overflow: auto;">
                     @if (Model.OgrenciTezJuri != null && Model.OgrenciTezJuri.Any())
                     {
                         @JsonConvert.SerializeObject(Model.OgrenciTezJuri, Newtonsoft.Json.Formatting.Indented)
                     }
                     else
                     {
                         @("Öğrenci Tez Jüri Kaydı Yok")
                     }
                </textarea>
            </div>
        </div>
    </div>

    <div class="panel panel-danger" style="padding-bottom: 0px;">
        <div class="panel-heading padding-0">
            <h3 class="panel-title" style="font-size: 9pt; color: #3fbae4;">Öğrenci Yeterlik Bilgileri</h3>
        </div>
        <div class="panel-body" style="padding: 0px;">
            <div class="panel-body form-group-separated">
                <textarea readonly="readonly" style="width: 100%; max-width: 560px; min-height: @(Model.OgrenciYeters != null && Model.OgrenciYeters.Any()?"200px":"30px;"); overflow: auto;">
                     @if (Model.OgrenciYeters != null && Model.OgrenciYeters.Any())
                     {
                         @JsonConvert.SerializeObject(Model.OgrenciYeters, Newtonsoft.Json.Formatting.Indented)
                     }
                     else
                     {
                         @("Öğrenci Yeterlik Kaydı Yok")
                     }
                </textarea>
            </div>
        </div>
    </div>



}

<script>
    function submitOgrenciNo() {
        var tc = $('#_Tc').val();
        var view = OgrenciSorgulaView(tc);
        $('#obsOgrenciPanel').html(view);
    }
</script>
