@using LisansUstuBasvuruSistemi.Models
@using BiskaUtil;
@{
    Layout = "~/Views/Shared/_LayoutPupupFrame.cshtml";
    System.Collections.IEnumerator e = Request.Form.GetEnumerator();
    var detaylar = new Dictionary<string, string>
    {
        { "Response", null },
        { "ReturnOid", null },
        { "rnd", null },
        { "taksit", null },
        { "amount", null },
        { "MaskedPan", null },
        { "EXTRA.TRXDATE", null },
        { "ErrMsg", null },
        { "mdErrorMsg", null },
        { "mdStatus", null }
    };
    while (e.MoveNext())
    {
        string xkey = e.Current as string;
        if (detaylar.Any(a => a.Key == xkey))
        {
            string xval = Request.Form.Get(xkey);
            detaylar[xkey] = xval;
        }
    }
    var _3dSonrasiOnay = detaylar["Response"] == "Approved"; 
}

@if (_3dSonrasiOnay)
{

    var siparisNo = detaylar["ReturnOid"];
    var amount = detaylar["amount"];
    var taksit = detaylar["taksit"];
    var cardNo = detaylar["MaskedPan"];
    var tarihY = detaylar["EXTRA.TRXDATE"].Substring(0, 4);
    var tarihA = detaylar["EXTRA.TRXDATE"].Substring(4, 2);
    var tarihG = detaylar["EXTRA.TRXDATE"].Substring(6, 2);
    if (detaylar["EXTRA.TRXDATE"].Length >= 19)
    {
        tarihG += " " + detaylar["EXTRA.TRXDATE"].Substring(9, 8);
    }
    var tarihSon = tarihY + "-" + tarihA + "-" + tarihG;
    var dekontTarihi = Convert.ToDateTime(tarihSon);
    var msg = Management.DekontOdemeIsle(siparisNo, dekontTarihi, amount, taksit, cardNo);
    if (UserIdentity.Current == null || !UserIdentity.Current.IsAuthenticated)
    {
        Layout = null;
        @Html.Raw("Approved!")
    }
    else
    {
        <div class="panel panel-success panel-hidden-controls">

            <div class="panel-body">
                @Html.Raw(msg)
            </div>
        </div>
        <script>
            $(function () {
                window.parent.getOdemeKontrol();
            })
        </script>
    }
}
else
{
    if (true)
    {
        Layout = null;
        <span style="display:none;"> @Html.Raw("Approved!")</span>

        <br />
        <div class="panel panel-success panel-hidden-controls">
            <div class="panel-body">
                <br /><br /><br />
                <div class="col-md-12">
                    <div class="icon-preview"><i style="color:darkred;" class="fa fa-exclamation-triangle fa-lg"></i></div>
                </div>
                <br />
                <div class="col-md-12" style="text-align:center;color:darkred;">
                    <h3 style="color:darkred;">Ödeme İşlemi bşarısız</h3>
                    <br />

                    @if (detaylar.Any(a => a.Key == "Response" && !a.Value.IsNullOrWhiteSpace()))
                    {
                        <br /><span>Response: @detaylar["Response"]</span>
                    }
                    @if (detaylar.Any(a => a.Key == "mdStatus" && !a.Value.IsNullOrWhiteSpace()))
                    {
                        <br /><span>mdStatus: @detaylar["mdStatus"]</span>
                    }
                    @if (detaylar.Any(a => a.Key == "ErrMsg" && !a.Value.IsNullOrWhiteSpace()))
                    {
                        <br /><span>ErrMsg: @detaylar["ErrMsg"]</span>
                    }
                    @if (detaylar.Any(a => a.Key == "mdErrorMsg" && !a.Value.IsNullOrWhiteSpace()))
                    {
                        <br /><span>mdErrorMsg: @detaylar["mdErrorMsg"]</span>
                    }
                </div>
            </div>
        </div>
    }
}
