@using LisansUstuBasvuruSistemi.Utilities.Dtos 
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model  FmUniversiteler
@{
    var IndexModel = (MIndexBilgi)ViewBag.IndexModel;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">

            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i>&nbsp;Üniversite Listesi</h3>
                    <ul class="panel-controls">
                        <li><span class="label label-info label-form" style="cursor: pointer;" onclick="window.location.href='@Url.Action("Kayit")'"><i class="fa fa-plus" aria-hidden="true"></i> Yeni Üniversite Ekle</span></li>
                        <li><span class="label label-success label-form">T:@IndexModel.Toplam</span></li>
                        <li><span class="label label-info label-form">A:@IndexModel.Aktif</span></li>
                        <li><span class="label label-danger label-form">P:@IndexModel.Pasif</span></li>
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="sirala" field="SehirKod" width="60">Kod</th>
                                <th class="sirala" field="KisaAd">Kısa Adı</th>
                                <th class="sirala" field="Ad">Adı</th>
                                <th class="sirala" field="IsAktif" width="60">Durum</th>
                                <th width="30"> 
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="filtrele">
                                <th></th>
                                <th>
                                    <input name="KisaAd" type="text" value="@Model.KisaAd" class="form-control" />
                                </th>
                                <th>
                                    <input name="Ad" type="text" value="@Model.Ad" class="form-control" />
                                </th>
                                <th>
                                    @Html.DropDownList("IsAktif", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th></th>
                            </tr>
                            @if (Model.RowCount > 0)
                            {
                                foreach (var item in Model.data)
                                {
                                    <tr>
                                        <td>@item.UniversiteID</td>
                                        <td id="tdMadKa_@item.UniversiteID">
                                            @item.KisaAd
                                        </td>
                                        <td id="tdMad_@item.UniversiteID">
                                            @item.Ad
                                        </td>
                                        <td id="tdIa_@item.UniversiteID" style="text-align:center;">
                                            <span class="label label-@(item.IsAktif ? "success" : "danger")">@item.IsAktif.ToAktifPasif()</span>
                                        </td>
                                        <td> 
                                            <a href="@Url.Action("Kayit", "Universiteler", new { id = item.UniversiteID })"><i class="fa fa-edit  tooltips" title="Düzelt"></i></a>
                                            <a href="javascript:void(0)" onclick="silmeOnay(this,@item.UniversiteID)"><i class="fa fa-trash-o tooltips" title="Sil"></i></a>

                                        </td>
                                    </tr>


                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" style="text-align: center;">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                   @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function silmeOnay(sndr, id) {
        var gMesaj = $("#tdMad_" + id).html();
        bootbox.dialog({
            message: "Üniversite Adı: " + gMesaj + " <br/> Seçilen Üniversiteyi Silmek İstiyor Musunuz?",
            title: "Üniversite Silme İşlemi",
            buttons: {
                success: {
                    label: "Üniversiteyi Sil",
                    className: "btn-danger",
                    callback: function () {
                        sil(sndr, id);
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });
    }
    function sil(sndr, id) {
        $.ajax({                               
            url: '@Url.Action("Sil", "Universiteler")',
            data: { id: id },
            success: function (result) {
                toastr[result.success ? "success" : "error"](result.message, "Üniversite Silme İşlemi")
                if (result.success) {
                    $(sndr).closest("tr").remove();
                    // $(".cls-" + id).remove();
                }

            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
</script>
