@using LisansUstuBasvuruSistemi.Models 
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model Universiteler
@{
    var MmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var OldID = (int)ViewBag.OldID;
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="OldID" name="OldID" value="@OldID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i>&nbsp;Üniversite Tanımlama İşlemi</h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.UniversiteID)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            @if (OldID <= 0)
                            {
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-4 control-label">Üniversite Kodu</label>
                                    <div class="col-md-9 col-xs-8">
                                        <input type="text" name="UniversiteID" id="UniversiteID" value="@Model.UniversiteID.toEmptyStringZero()" class="form-control" />
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Üniversite Kısa Adı</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="KisaAd" id="KisaAd" value="@Model.KisaAd" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Üniversite Adı</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="Ad" id="Ad" value="@Model.Ad" class="form-control" />
                                </div>
                            </div>
                            @if (OldID > 0)
                            {
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-4 control-label">Durum</label>
                                    <div class="col-md-9 col-xs-8">
                                        <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="info" data-off="danger">
                                            <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                        </div>
                                    </div>
                                </div>
                            }          
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply">&nbsp</i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save">&nbsp</i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $(function () {
        var model = '@Html.Raw(Json.Encode(MmMessage))';
        validateControl(model);
    });
</script>
