@using Entities.Entities
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.Helpers
@model Enstituler
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isMesajGonder = (bool)ViewBag.IsMesajGonder;
    var mesajGroupId = (string)ViewBag.MesajGroupID;
    var duyurular = (List<FrDuyurularDto>)ViewBag.Duyurular;
    var anketGiris = (string)ViewBag.AnketGiris;
}
@if (duyurular.Count > 0)
{
    <div class="row">

        @using (Html.BeginForm())
        {
            <div class="col-md-12">

                <!-- START SIMPLE DATATABLE -->
                <div class="panel panel-danger">
                    <div class="panel-heading padding-0">
                        <h3 class="panel-title"><i class="fa fa-bullhorn"></i> Duyurular</h3>
                        <ul class="panel-controls">
                            <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)"><span class="fa fa-refresh"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">


                        <div class="tasks">

                            @foreach (var item in duyurular)
                            {
                                <div class="task-item task-info" style="cursor: auto;">
                                    <div class="task-footer" style="color:green;font-weight:bold;">
                                        <div class="pull-left"><span class="fa fa-clock-o"></span>  @item.Tarih.ToFormatDateAndTime()<br />@item.Baslik</div>
                                    </div>
                                    <div class="task-text" style="padding-bottom: 0px; ">
                                        @Html.Raw(item.AciklamaHtml)
                                    </div>
                                    <div class="task-footer">
                                        @if (item.EkSayisi > 0)
                                        {
                                            foreach (var item2 in item.DuyuruEkleris.Select((s, inx) => new { inx, s }))
                                            {
                                                <a href="@Url.CustomUrlContent(item2.s.DosyaYolu)" style="color:green;font-size:8pt;" target="_blank"> @(item2.inx + 1)) <img src="/Images/Attachment.png" style="height: 16px;"> @item2.s.DosyaEkAdi</a><br />
                                            }
                                        }
                                    </div>
                                </div>

                            }
                        </div>
                    </div>

                </div>





            </div>
        }
    </div>
}

<div class="row">
    <div class="col-md-12">
        <!-- START SIMPLE DATATABLE -->
        <div class="panel panel-danger">
            <div class="panel-heading padding-0">
                <h3 class="panel-title"><i class="fa fa-map-marker-alt fa-lg"></i> Konum Bilgisi</h3>
                <ul class="panel-controls">
                    <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)"><span class="fa fa-refresh"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body panel-body-map">
                            @Html.Raw(Model.Konum)
                        </div>
                        <div class="panel-body">
                            <h3><span class="fa fa-map-marker"></span> Yıldız Teknik Üniversitesi</h3>
                            <p>@Model.EnstituAd</p>
                        </div>
                    </div>
                </div>

            </div>


        </div>


        @if (!string.IsNullOrEmpty(mesajGroupId))
        {
            <script>

                setTimeout(function () {
                    mesGonder('@mesajGroupId');
                }, 1200);
            </script>
        }
        else if (isMesajGonder)
        {
            <script>
                setTimeout(function () {
                    mesGonder();
                }, 1200);
            </script>
        }
        @if (anketGiris != null)
        {

            <script src="~/Content/assets/plugins/bootbox/bootbox.min.js"></script>
            <script> 
                setTimeout(getAnket(), 10);
                function getAnket() {
                    var _AnketGiris = @Html.Raw(Json.Encode(anketGiris));
                    var btbxxFS = bootbox.dialog({
                        message: _AnketGiris,
                        buttons:
                        {
                            success:
                            {
                                label: 'Anketi Tamamla',
                                className: "btn-success",
                                callback: function (event) {
                                    var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                    PanelRefresh(pnlx, false);
                                    $('#FrmAnket').ajaxForm({
                                        success: function (result) {
                                            if (result.IsSuccess) {
                                                var _clsBtn = $('.bootbox-close-button').first();
                                                $(_clsBtn).click();
                                                //$('#tlpFrm').submit();
                                            }
                                            else {
                                                GetMsg(result);
                                                return false;
                                            }
                                            PanelRefresh(pnlx, true);
                                        },
                                        complete: function (cmp) {
                                            PanelRefresh(pnlx, true);
                                        },
                                        error: function (err) {
                                            PanelRefresh(pnlx, true);
                                        }

                                    });
                                    $('#FrmAnket').submit();
                                    return false;
                                }
                            }
                        }
                    });
                    $(btbxxFS).find('.modal-dialog').first().addClass('modal-lg');
                }

            </script>
        }
        <script>
            $(function () {
                var popupSetting = {
                    title: 'Duyurular',
                    popupTipId:@DuyuruPopupTipiEnum.AnaSayfa,
                    btnAdi: '',
                    redirectUrl: '',
                    callbackFnc: ''
                }
                ShowDuyuru(popupSetting);
            });
        </script>
    </div>


</div>