@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.Dtos 
@using LisansUstuBasvuruSistemi.Utilities.Enums
@model TercihRowModel
@{
    Layout = null;


}

<li class="dd-item dd3-item rw_@(Model.OgrenimTipKod)_@(Model.ProgramKod)" data-id="@(Model.OgrenimTipKod)_@(Model.ProgramKod)" style="@(Model.Kota<=0?" border:1px solid red;":"")">
    <div class="dd-handle dd3-handle" title="Taşı"><br /><span class="tSiraNo" width="20" style="color:#9bbb67;font-size:13pt;font-weight:bold;">@Model.SiraNo)</span></div>
    <div class="dd3-content" style="margin:1px;padding-right:0px;">
        <table style="width:100%;table-layout:fixed;">
            <tbody>
                <tr style="color:#337abb;">

                    <td>
                        <table style="width:100%">
                            <tr>
                                <td width="150">Öğrenim Seviyesi</td>
                                <td width="5">:</td>
                                <td>@Model.OgrenimTipAdi</td>
                            </tr>
                            <tr>
                                <td>Eğitim Dili</td>
                                <td>:</td>
                                <td><i style="cursor:pointer;" class="tooltips flag @(Model.Ingilizce ? " flag-gb" : "flag-tr" )"></i> @(Model.Ingilizce ? "İngilizce" : "Türkçe") </td>
                            </tr>
                            <tr>
                                <td>
                                    Anabilim Dalı / Program 
                                </td>
                                <td>:</td>
                                <td>
                                    @Model.AnabilimDaliAdi / @Model.ProgramAdi   
                                    @if (!Model.MinAgnoAciklama.IsNullOrWhiteSpace())
                                    {
                                        <span class="fa fa-warning _popover pp_@Model.SiraNo" style="cursor:pointer;color:maroon;font-size:15pt;" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-title="<span style='color:maroon;'>Dikkat</span>" data-content="@Model.MinAgnoAciklama"></span>
                                    }
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="160">
                        <table style="width:100%">
                            <tr>
                                <td width="65">Ales Tipi</td>
                                <td width="5">:</td>
                                <td>@Model.AlesTipAdi</td>
                            </tr>
                            <tr>
                                <td>Alan</td>
                                <td>:</td>
                                <td class="td_At_@(Model.OgrenimTipKod)_@(Model.ProgramKod)" style="cursor:pointer;@(Model.AlanTipID==AlanTipi.AlanDisi ? " color:#b64645;" : "" )">@Model.AlanTipAdi</td>
                            </tr>
                            <tr>
                                <td>Kota</td>
                                <td>:</td>
                                <td class="td_Kt_@(Model.OgrenimTipKod)_@(Model.ProgramKod)" style="cursor:pointer;@(Model.AlanTipID==AlanTipi.AlanDisi ? " color:#b64645;" : "" )">@Model.Kota</td>
                            </tr>

                        </table>
                    </td>

                    <td width="20"><a href="javascript:void(0)" onclick="tercihiSil(this);yLBilgisiIstendimi()"><i class="fa fa-trash-o fa-lg tooltips" data-style="blue" data-original-title="Tercihi Sil"></i></a></td>
                    <td class="hide blgTD dtl_@(Model.OgrenimTipKod)_@(Model.ProgramKod)">
                        <input type="hidden" name="_tSiraNo" value="@Model.SiraNo">
                        <input type="hidden" name="_UniqueID" value="@Model.UniqueID">
                        <input type="hidden" name="_OgrenimTipKod" value="@Model.OgrenimTipKod">
                        <input type="hidden" name="_ProgramKod" value="@Model.ProgramKod">
                        <input type="hidden" name="_AlesTipID" value="@Model.AlesTipID">
                        <input type="hidden" name="_Ingilizce" value="@Model.Ingilizce.ToString().ToLower()">
                        <input type="hidden" name="_YLBilgiIste" value="@Model.YLEgitimBilgisiIste.ToString().ToLower()">
                        <input type="hidden" name="_AlanTipID" value="@Model.AlanTipID">  
                    </td>
                </tr>
         

            </tbody>
        </table>
    </div>
</li>
