@using BiskaUtil
@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Models.FilterModel
@model BasvuruBilgiModel
@{
    Layout = null;
    var kullanici = (Kullanicilar)ViewBag.Kullanici; 
}
<div class="row">
    <div class="col-md-12">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
            <table style="width:100%;">
                <tr>
                    <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-bullhorn fa-lg"></i> Aktif Başvuru Bilgisi</td>
                </tr>
                <tr>
                    <td width="200">Enstitü</td>
                    <td width="10">:</td>
                    <td>
                        @Model.Enstitü.EnstituAd
                    </td>
                </tr>
                <tr>
                    <td>Ad Soyad</td>
                    <td>:</td>
                    <td>@UserIdentity.Current.NameSurname</td>
                </tr>
                <tr>
                    <td>Kullanıcı Tipi</td>
                    <td>:</td>
                    <td>
                        @kullanici.KullaniciTipleri.KullaniciTipAdi
                    </td>
                </tr>
                @if (!Model.SistemBasvuruyaAcik)
                {
                    <tr>
                        <td>Başvuru Durumu</td>
                        <td>:</td>
                        <td>
                            Sistem başvuru işlemlerine kapalıdır. Başvuru İşlemi ile ilgili detaylı bilgi almak için duyuruları takip edebilirsiniz.  <br />
                            <a href="@Url.Action("Index", "KDuyurular")">Duyurular Sayfaya Gitmek İçin Tıklayınız</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Eğitim Öğretim Yılı</td>
                        <td>:</td>
                        <td>@Model.BasvuruSurec.BaslangicYil / @Model.BasvuruSurec.BitisYil @Model.DonemAdi</td>
                    </tr>
                    <tr>
                        <td>Başvuru Başlangıç/Bitiş Tarihi</td>
                        <td>:</td>
                        <td>@Model.BasvuruSurec.BaslangicTarihi.ToFormatDateAndTime() / @Model.BasvuruSurec.BitisTarihi.ToFormatDateAndTime()</td>
                    </tr>


                    if (!kullanici.KullaniciTipleri.BasvuruYapabilir)
                    {
                        <tr>
                            <td></td>
                            <td>:</td>
                            <td>
                                @kullanici.KullaniciTipleri.KullaniciTipAdi kullanıcı tipi için başvuru işlemi kapalıdır. 
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Başvuru Durumu</td>
                            <td>:</td>
                            <td>Sistem Başvuru alımına açıktır. Başvuru yapmak için Yeni Başvuru butonuna tıklayınız.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>:</td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="newApp()"><i class="fa fa-plus tooltips"></i>Yeni Başvuru</button>
                            </td>
                        </tr>
                    }
                }
            </table>

        </div>

    </div>
</div>



