@using BiskaUtil
@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Models.FilterModel
@model SinavBilgiModel
@{
    Layout = null;
    var color = (-1 > 0 ? "#9bbb67" : "#b64645");
    var IdN = (Model.SinavTipGrupID == SinavTipGrup.Ales_Gree ? "A" : (Model.SinavTipGrupID == SinavTipGrup.DilSinavlari ? "D" : "T"));
    var sD = Model.BasvuruSinavData;

}
<script>
    function getSinavTipSonuc(sndr,_tp,IsSonuc) {
        var _Donem = $('#'+_tp+'WsSinavDonem').val();
        var _SinavTipID = $('#' + _tp + 'SinavTipID').val();
        var _BasvuruSurecID = $('#BasvuruSurecID').val();
        var ktip=$('#KullaniciTipID').val();
        var _Tck = $('#TcKimlikNo').val();
        if(ktip=='@KullaniciTipBilgi.YabanciOgrenci'){
            _Tck = $('#PasaportNo').val();
        }
        if(_Donem!=""){

            $('#'+_tp+'WsSinavSonucDiv').removeClass('hide');
        }
        else {

            $('#'+_tp+'WsSinavSonucDiv').addClass('hide');
        }
        var _WsSonucID="";
        if(IsSonuc)_WsSonucID=$(sndr).val();
        var _panel = $('#pnlSnv_'+_tp);
        if (_Donem != "" && _SinavTipID != "" && _BasvuruSurecID != "" && _Tck != "") {
            _pRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("getSinavTipSonuc", "Basvuru")',
                data: { 'SinavTipID': _SinavTipID, 'BasvuruSurecID': _BasvuruSurecID, 'Donem': _Donem,'WsSonucID':_WsSonucID, 'Tck': _Tck,'MinNotAdi':'@Model.MinNotAdi' },
                success: function (result) {

                    if (!IsSonuc) {
                        $('#' + _tp + 'WsSonucID').empty();
                        var opt = "<option value=''></option>";
                        for (var i = 0; i < result.Model.WsSinavSonucList.length; i++) {
                            if (result.Model.WsSinavSonucList[i].Value == _WsSonucID)
                                opt += "<option selected='selected' value=" + result.Model.WsSinavSonucList[i].Value + ">" + result.Model.WsSinavSonucList[i].Caption + "</option>"
                            else opt += "<option  value=" + result.Model.WsSinavSonucList[i].Value + ">" + result.Model.WsSinavSonucList[i].Caption + "</option>"
                        }
                        $('#' + _tp + 'WsSonucID').append(opt);
                        if (result.Model.Aciklama == 'Kimlik numarası geçerli değil.') {
                            showMessage("warning", 'Dikkat', result.Model.Aciklama);
                        }

                    }
                    $('#sinavSonucBilgi_' + _tp).html('');
                    if (result.Model.IsSinavSonucuVar || result.Model.ShowIsTaahhutVar) {
                        $('#sinavSonucBilgi_' + _tp).html(result.view);

                    }
                    _pRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    _pRefresh(_panel, true);
                }
            });
        }
        else {
            $('#sinavSonucBilgi_' + _tp).html("");
        }
    }
</script>
<input type="text" name="@(IdN)SinavTipGrupID" id="@(IdN)SinavTipGrupID" value="@Model.SinavTipGrupID" class="form-control hide" />
<input type="text" id="@(IdN)WsIsWebService" value="@Model.WebService.ToString().ToLower()" class="form-control hide" />
@if (Model.WebService)
{
    <div class="form-group">
        <label class="col-md-3 col-xs-4 control-label">Sınav Bilgisi</label>
        <div class="col-md-9 col-xs-8">
            <table style="table-layout:fixed;">
                <tr>
                    <th colspan="4">
                        <span style="font-weight:normal;font-size: 8pt;color:#337abb;">
                            @Model.SinavAdi Sınavı Bilgi girişi kriterleri aşağıdaki gibidir.                            
                        </span>
                    </th>
                </tr>
                <tr>
                    <td width="10"><span class="fa fa-caret-right" style="font-size: 9pt;color:@color"></span></td>
                    <td width="100">Yıl Seçimi</td>
                    <td width="3">:</td>
                    <td>Aşağıda bulunan yıl bilgisi kutucuğundan sınava girdiğiniz yılı seçiniz.</td>
                </tr>
                <tr>
                    <td><span class="fa fa-caret-right" style="font-size: 9pt;color:@color"></span></td>
                    <td>Dönem Seçimi</td>
                    <td>:</td>
                    <td>Aşağıda bulunan Sınavlar kutucuğundan sınava girdiğiniz dönemi seçiniz.</td>
                </tr>
                @if (Model.SinavTipGrupID == SinavTipGrup.DilSinavlari)
                {
                    <tr>
                        <td><span class="fa fa-caret-right" style="font-size: 9pt;color:@color"></span></td>
                        <td>Sınav Dili</td>
                        <td>:</td>
                        <td>@Model.SinavDilleriStr</td>
                    </tr>
                }
                <tr>

                    <td style="vertical-align:top;"><span class="fa fa-caret-right" style="font-size: 9pt;color:@color"></span></td>
                    <td style="vertical-align:top;">Puan Sistemi</td>
                    <td style="vertical-align:top;">:</td>
                    <td style="vertical-align:top;">
                        @if (Model.OzelNot && Model.OzelNotTipID.HasValue && Model.OzelNotTipID == OzelNotTip.SeciliNotlar)
                        {
                            <span>Sadece sistem tarafından belirlenmiş notlardan seçebilirsiniz</span>
                        }
                        else if (Model.OzelNot && Model.OzelNotTipID.HasValue && Model.OzelNotTipID == OzelNotTip.SeciliNotAraliklari)
                        {
                            foreach (var itemSb in Model.BasvuruSurecSinavTiplerSubSinavAraliks)
                            {
                                <span>
                                    @itemSb.SubSinavAralikAdi kriterine göre <b>@itemSb.SubSinavMin</b> ile <b>@itemSb.SubSinavMax</b> notları arasında giriş yapılmalı
                                </span>
                            }
                        }
                        else
                        {
                            <span>
                                Not girişi <b>@Model.Min</b> ile <b>@Model.Max</b> notları arasında giriş yapılması gerekmektedir
                            </span>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 col-xs-4 control-label">Yıl</label>
        <div class="col-md-9 col-xs-8">
            <select name="BasvurularSinavBilgi_@(IdN).WsSinavDonem" id="@(IdN)WsSinavDonem" class="form-control" onchange="getSinavTipSonuc(this,'@IdN')">
                <option value=""></option>
                @foreach (var item in Model.SinavTipleriDonems.Select(s => new { s.Yil, s.SinavDilID, }).Distinct().OrderBy(o => o.Yil))
                {
                    if (Model.WsSinavCekimTipID.HasValue && Model.WsSinavCekimTipID.Value == WsCekimTipi.Tarih)
                    {
                        if (sD != null)
                        {
                            <option @(item.SinavDilID == sD.SinavDilID ? "selected" : "") value="@(item.SinavDilID)">@(item.Yil)</option>
                        }
                        else
                        {
                            <option value="@(item.SinavDilID)">@(item.Yil)</option>
                        }
                    }
                    else
                    {
                        if (sD != null)
                        {
                            <option @(item.Yil == sD.WsSinavYil ? "selected" : "") value="@(item.Yil)">@(item.Yil)</option>
                        }
                        else
                        {
                            <option value="@(item.Yil)">@(item.Yil)</option>
                        }
                    }

                }
            </select>
        </div>
    </div>
    <div class="form-group @(sD==null  ?"hide":"")" id="@(IdN)WsSinavSonucDiv">




        <label class="col-md-3 col-xs-4 control-label">Sınavlar</label>
        <div class="col-md-9 col-xs-8">

            <select name="BasvurularSinavBilgi_@(IdN).WsSonucID" id="@(IdN)WsSonucID" class="form-control" onchange="getSinavTipSonuc(this,'@IdN',true)">
                <option value=""></option>
                @if (sD != null && sD.WsSonucID.HasValue)
                {
                    //var seciliDonem = Model.SinavTipleriDonems.Where(p => p.Yil == sD.WsSinavYil && p.WsDonemKod == sD.WsSinavDonem).First();
                    var caption = sD.WsSinavYil + " (" + sD.WsAciklanmaTarihi.ToDateString() + ")";
                    <option value="@sD.WsSonucID" selected="selected">@caption</option>
                }

            </select>
        </div>
    </div>
    <div id="sinavSonucBilgi_@IdN">
        @if (sD != null)
        {

            if (sD.BasvuruID > 0)
            {
                var _mdl = Management.getSinavTipSonucModel(sD.SinavTipID, Model.BasvuruSurecID, "", sD.WsSonucID, "", sD.BasvuruID, Model.MinNotAdi);
                Html.RenderPartial("getSinavTipSonucView", _mdl);
            }
            else
            {

                <script>
                    setTimeout(getSinavTipSonuc(null,'@IdN'),10);
                </script>
            }

        }
    </div>

}
else
{
    <div class="form-group">
        <label class="col-md-3 col-xs-4 control-label">Sınav Bilgisi</label>
        <div class="col-md-9 col-xs-8">
            <table style="table-layout:fixed;">
                <tr>
                    <th colspan="4">
                        <span style="font-weight:normal;font-size: 8pt;color:#337abb;">@Model.SinavAdi Sınavı bilgisi girişi kriterleri aşağıdaki gibidir.</span>
                    </th>
                </tr>
                <tr>
                    <td width="10"><span class="fa fa-caret-right" style="font-size: 9pt;color:@color"></span></td>
                    <td width="80">Sınav Tarihi</td>
                    <td width="3">:</td>
                    <td>
                        @if (Model.OzelTarih)
                        {
                            if (Model.OzelTarihTipID == OzelTarihTip.BelirliTarihler)
                            {
                                <span>Sadece sistem tarafından belirlenmiş tarihleri seçebilirsiniz</span>
                            }
                            else if (Model.OzelTarihTipID == OzelTarihTip.BelirliTarihdenOncesi)
                            {
                                <span>
                                    @Model.Tarih1.Value.ToDateString() tarihi ve önceki sınavlar
                                </span>
                            }
                            else if (Model.OzelTarihTipID == OzelTarihTip.BelirliTarhidenSonrasi)
                            {
                                <span>
                                    @Model.Tarih1.Value.ToDateString() tarihi ve sonraki sınavlar
                                </span>
                            }
                            else if (Model.OzelTarihTipID == OzelTarihTip.IkiTarihArasi)
                            {
                                <span>
                                    @Model.Tarih1.Value.ToDateString() ile @Model.Tarih2.Value.ToDateString() tarih aralığındaki sınavlar
                                </span>
                            }
                        }
                        else
                        {
                            <span>
                                Başvuru tarihinden itibaren maksimum <b>@Model.TarihGirisMaxGecmisYil.Value</b> Yıl öncesine kadar geçerlidir
                            </span>
                        }
                    </td>
                </tr>
                @if (Model.SinavTipGrupID == SinavTipGrup.DilSinavlari)
                {
                    <tr>
                        <td style="vertical-align:top;"><span class="fa fa-caret-right" style="font-size: 9pt;color:@color"></span></td>
                        <td style="vertical-align:top;">Sınav Dili</td>
                        <td style="vertical-align:top;">:</td>
                        <td>Sadece sistem tarafından belirlenmiş dilleri seçebilirsiniz</td>
                    </tr>
                }
                <tr>

                    <td style="vertical-align:top;"><span class="fa fa-caret-right" style="font-size: 9pt;color:@color"></span></td>
                    <td style="vertical-align:top;">Puan Sistemi</td>
                    <td style="vertical-align:top;">:</td>
                    <td style="vertical-align:top;">
                        @if (Model.OzelNot && Model.OzelNotTipID.HasValue && Model.OzelNotTipID == OzelNotTip.SeciliNotlar)
                        {
                            <span>
                                Not girişi <b>@Model.Min.Value</b> ile <b>@Model.Max.Value</b> notları arasında giriş yapılması gerekmektedir
                            </span>
                        }
                        else if (Model.OzelNot && Model.OzelNotTipID.HasValue && Model.OzelNotTipID == OzelNotTip.SeciliNotAraliklari)
                        {
                            foreach (var itemSb in Model.BasvuruSurecSinavTiplerSubSinavAraliks)
                            {
                                <span>
                                    @itemSb.SubSinavAralikAdi kriterine göre <b>@itemSb.SubSinavMin.ToString()</b> ile <b>@itemSb.SubSinavMax.ToString()</b> notları arasında olması gerekmektedir.
                                </span>
                            }
                        }
                        else
                        {
                            <span>
                                Not girişi <b>@Model.Min.Value.ToString()</b> ile <b>@Model.Max.Value.ToString()</b> notları arasında giriş yapılması gerekmektedir
                            </span>
                        }
                    </td>
                </tr>
                @if (!Model.OzelNot || (Model.OzelNot && Model.OzelNotTipID == OzelNotTip.SeciliNotAraliklari))
                {
                    <tr>
                        <td><span class="fa fa-caret-right" style="font-size: 9pt;color:@color"></span></td>
                        <td>Sınav Puanı</td>
                        <td>:</td>
                        <td>
                            @if (Model.KusuratVar)
                            {
                                var firstLenth = Model.Max.Value.ToString().Split('.').First().Length;
                                var lastLength = !Model.KusuratVar ? 0 : 2;
                                var maxLength = firstLenth + lastLength;
                                string isNumericOrDecimal = (Model.KusuratVar == false).ToString().ToLower();

                                <span>
                                    Bu sınav tipi için not girişinde küsürat girişi yapılabilir ve küsürat uzunluğu <b>@lastLength</b> hane olmalıdır
                                </span>
                            }
                            else
                            {
                                <span>Bu sınav tipi için not girişinde küsürat girişi yapılamaz</span>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    if (Model.OzelTarih && Model.OzelTarihTipID == OzelTarihTip.BelirliTarihler)
    {
        <div class="form-group">
            <label class="col-md-3 col-xs-4 control-label">Sınav Tarihi</label>
            <div class="col-md-9 col-xs-8">
                <select name="BasvurularSinavBilgi_@(IdN).SinavTarihi" id="@(IdN)SinavTarihi" class="form-control">
                    <option value=""></option>
                    @foreach (var item in Model.BasvuruSurecSinavTarihleris.OrderByDescending(o => o.SinavTarihi))
                    {
                        if (sD != null)
                        {
                            <option @(item.SinavTarihi.ToDateString() == sD.SinavTarihi.ToDateString() ? "selected=selected" : "") value="@item.SinavTarihi">@item.SinavTarihi.ToDateString()</option>
                        }
                        else
                        {
                            <option value="@item.SinavTarihi">@item.SinavTarihi.ToDateString()</option>
                        }
                    }

                </select>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <label class="col-md-3 col-xs-4 control-label">Sınav Tarihi</label>
            <div class="col-md-9 col-xs-8 " style="text-align: left;">
                <input class="form-control form-control-inline input-medium date-picker" placeholder="Örnek Format: @DateTime.Now.ToString("dd-MM-yyyy")" autocomplete="off" size="16" type="text" value="@(sD!=null && sD.SinavTarihi.HasValue? sD.SinavTarihi.Value.ToString("dd-MM-yyyy"):"")" name="BasvurularSinavBilgi_@(IdN).SinavTarihi" id="@(IdN)SinavTarihi">
            </div>
        </div>

        <script>
            $('#@(IdN)SinavTarihi').datetimepicker({
                timepicker: false,
                format: 'd-m-Y'
            });
            $.datetimepicker.setLocale('tr');
        </script>
    }
    if (Model.SinavTipGrupID == SinavTipGrup.DilSinavlari)
    {
        <div class="form-group">
            <label class="col-md-3 col-xs-4 control-label">Sınav Dili</label>
            <div class="col-md-9 col-xs-8">
                <select name="BasvurularSinavBilgi_@(IdN).SinavDilID" id="@(IdN)SinavDilID" class="form-control">
                    <option value=""></option>
                    @foreach (var item in Model.BsSinavDilleri)
                    {
                        if (sD != null)
                        {

                            <option @(item.SinavDilID == sD.SinavDilID ? "selected=selected" : "") value="@item.SinavDilID">@item.DilAdi</option>
                        }
                        else
                        {
                            <option value="@item.SinavDilID">@item.DilAdi</option>
                        }
                    }

                </select>
            </div>
        </div>
    }
    if (Model.OzelNot)
    {
        if (Model.OzelNotTipID == OzelNotTip.SeciliNotlar)
        {
            var keyName = Model.SinavTipGrupID == SinavTipGrup.Ales_Gree && Model.WebService ? "Ales Karşılığı" : "100'lük karşılığı";
            <div class="form-group">
                <label class="col-md-3 col-xs-4 control-label">Sınav Notu</label>
                <div class="col-md-9 col-xs-8">
                    <select name="BasvurularSinavBilgi_@(IdN).SinavNotu" id="@(IdN)SinavNotu" class="form-control">
                        <option value=""></option>

                        @foreach (var item in Model.BasvuruSurecSinavNotlaris.OrderBy(o => o.SinavNotAdi))
                        {
                            if (sD != null)
                            {
                                <option @(item.SinavNotDeger == sD.SinavNotu ? "selected=selected" : "") value="@item.SinavNotDeger">@item.SinavNotAdi (@keyName = @item.SinavNotDeger)</option>
                            }
                            else
                            {
                                <option value="@item.SinavNotDeger">@item.SinavNotAdi</option>
                            }
                        }

                    </select>
                </div>
            </div>
        }
        else if (Model.OzelNotTipID == OzelNotTip.SeciliNotAraliklari)
        {
            var qmax = Model.BasvuruSurecSinavTiplerSubSinavAraliks.Where(p => p.BasvuruSurecSinavTipID == Model.BasvuruSurecSinavTipID).Select(s => s.SubSinavMax).Max();
            var firstLenth = qmax.ToString().Length;
            var lastLength = !Model.KusuratVar ? 0 : Model.BasvuruSurecSinavTiplerSubSinavAraliks.Where(p => p.BasvuruSurecSinavTipID == sD.SinavTipID).Select(s => s.SubSinavMax).ToString().Length;
            var maxLength = firstLenth + lastLength;
            string isNumericOrDecimal = (Model.KusuratVar == false).ToString().ToLower();

            <div class="form-group">
                <label class="col-md-3 col-xs-4 control-label">Puan Sistemi</label>
                <div class="col-md-9 col-xs-8 " style="text-align: left;">
                    <select name="BasvurularSinavBilgi_@(IdN).SubSinavAralikID" id="@(IdN)SubSinavAralikID" class="form-control">
                        <option value=""></option>

                        @foreach (var item in Model.BasvuruSurecSinavTiplerSubSinavAraliks)
                        {
                            var subID = sD != null ? sD.SubSinavAralikID : 0;
                            <option @(item.SubSinavAralikID == subID ? "selected=selected" : "") value="@item.SubSinavAralikID">@item.SubSinavAralikAdi</option>

                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-xs-4 control-label">Sınav Notu</label>
                <div class="col-md-9 col-xs-8 " style="text-align: left;">
                    <input type="text" name="BasvurularSinavBilgi_@(IdN).BasvuruSurecSubNot" id="@(IdN)BasvuruSurecSubNot" autocomplete="off" value="@(sD != null && sD.BasvuruSurecSubNot > 0 ? sD.BasvuruSurecSubNot.ToString() : "")" onchange="NotConvert('@IdN','@Model.BasvuruSurecSinavTipID')" onkeydown="myMask(window.event, this, ('@isNumericOrDecimal'=='true'?true:false), @maxLength, @firstLenth, ('@isNumericOrDecimal'=='true'?0:2))" class="form-control" />
                </div>
            </div>
            <div class="form-group hide">
                <label class="col-md-3 col-xs-4 control-label">Sınav Notu</label>
                <div class="col-md-9 col-xs-8 " style="text-align: left;">
                    <input type="text" name="BasvurularSinavBilgi_@(IdN).SinavNotu" id="@(IdN)SinavNotu" autocomplete="off" value="@(sD != null && sD.SinavNotu > 0 ? sD.SinavNotu.ToString() : "")" class="form-control" />
                </div>
            </div>
            <div class="form-group dvAlesK @(sD != null && sD.SinavNotu > 0 ? "" : "hide")">
                <label class="col-md-3 col-xs-4 control-label">Ales Karşılığı</label>
                <div class="col-md-9 col-xs-8 " style="text-align: left;" id="alsKarsiligi">
                    @(sD != null && sD.SinavNotu > 0 ? sD.SinavNotu.ToString() : "")
                </div>
            </div>

        }
    }
    else if (Model.NotDonusum)
    {
        var firstLenth = Model.Max.Value.ToString().Split('.').First().Length;
        var lastLength = !Model.KusuratVar ? 0 : Model.Max.Value.ToString().Split('.').Last().Length;
        var maxLength = firstLenth + lastLength;
        string isNumericOrDecimal = (Model.KusuratVar == false).ToString().ToLower();

        <div class="form-group">
            <label class="col-md-3 col-xs-4 control-label">Sınav Notu</label>
            <div class="col-md-9 col-xs-8 " style="text-align: left;">
                <input type="text" name="BasvurularSinavBilgi_@(IdN).BasvuruSurecSubNot" id="@(IdN)BasvuruSurecSubNot" autocomplete="off" value="@(sD != null && sD.BasvuruSurecSubNot > 0 ? sD.BasvuruSurecSubNot.ToString() : "")" onchange="NotConvert('@IdN','@Model.BasvuruSurecSinavTipID')" onkeydown="myMask(window.event, this, ('@isNumericOrDecimal'=='true'?true:false), @maxLength, @firstLenth, ('@isNumericOrDecimal'=='true'?0:2))" class="form-control" />
            </div>
        </div>
        <div class="form-group hide">
            <label class="col-md-3 col-xs-4 control-label">Sınav Notu</label>
            <div class="col-md-9 col-xs-8 " style="text-align: left;">
                <input type="text" name="BasvurularSinavBilgi_@(IdN).SinavNotu" id="@(IdN)SinavNotu" autocomplete="off" value="@(sD != null && sD.SinavNotu > 0 ? sD.SinavNotu.ToString() : "")" class="form-control" />
            </div>
        </div>
        <div class="form-group dvAlesK @(sD != null && sD.SinavNotu > 0 ? "" : "hide")">
            <label class="col-md-3 col-xs-4 control-label">Ales Karşılığı</label>
            <div class="col-md-9 col-xs-8 " style="text-align: left;" id="alsKarsiligi">
                @(sD != null && sD.SinavNotu > 0 ? sD.SinavNotu.ToString() : "")
            </div>
        </div>
    }
    else
    {
        if (!Model.GIsTaahhutVar)
        {
            var firstLenth = Model.Max.Value.ToString().Split('.').First().Length;
            var lastLength = !Model.KusuratVar ? 0 : 2;
            var maxLength = firstLenth + lastLength;
            string isNumericOrDecimal = (Model.KusuratVar == false).ToString().ToLower();
            <script>
            $('#@(IdN)SinavNotu').keydown(function (e) {
                myMask(e, this, ('@isNumericOrDecimal'=='true'?true:false), @maxLength, @firstLenth, ('@isNumericOrDecimal'=='true'?0:2));
            });
            </script>
            <div class="form-group">
                <label class="col-md-3 col-xs-4 control-label">Sınav Notu</label>
                <div class="col-md-9 col-xs-8 " style="text-align: left;">
                    <input type="text" name="BasvurularSinavBilgi_@(IdN).SinavNotu" id="@(IdN)SinavNotu" autocomplete="off" value="@(sD != null && sD.SinavNotu > 0 ? sD.SinavNotu.ToString() : "")" class="form-control" />
                </div>
            </div>
        }
    }
    if (Model.SinavTipGrupID == SinavTipGrup.DilSinavlari && Model.GIsTaahhutVar)
    {
        bool IsTaahhutVar = Model.BasvuruSinavData.IsTaahhutVar == true;
        var taahhutMsg = Model.SinavTipKod == 56 ? "28 Ağustos 2022 YÖKDİL sınavına girmiş olan adaylar minimum puan değeri girmeleri gerekmektedir. Programı kayıt hakkı kazanmanız durumunda; lisansüstü kayıt takviminde yer alan tarihlerde sisteme minimum değeri sağlayan sınav sonucu belgenizi yükleyeceğimi taahhüt ederim. (Aksi taktirde kaydınız yapılmayacaktır.)"
            : "Başvuru koşullarında belirtilen koşula uygun sınav notu bulunan dil sınavı belgemi getireceğimi taahhüt ederim. Aksi halde başvurumun iptal edilmesini onaylıyorum.";
        <div class="form-group">
            <label class="col-md-3 col-xs-4 control-label"> Taahhüt</label>
            <div class="col-md-9 col-xs-8">
                <table>
                    <tr>
                        <td style="text-align:center;color:maroon;">@taahhutMsg </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <div class="checkbox">
                                <label style="color:white;" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="">
                                    <input type="checkbox" onclick="chkOnayChange()" id="IsTaahhutVarDil" value="true" name="BasvurularSinavBilgi_@(IdN).IsTaahhutVar" @IsTaahhutVar.ToChecked() />
                                    <span style="color:maroon;">Onaylıyorum</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script>

            $(function () {
                $("#IsTaahhutVarDil").iCheck({ checkboxClass: 'icheckbox_minimal-grey', radioClass: 'iradio_minimal-grey' });
            })

        </script>
    }
    if (Model.SinavTipGrupID == SinavTipGrup.Tomer)
    {
        bool IsTaahhutVar = Model.BasvuruSinavData.IsTaahhutVar == true;


        <div class="form-group">
            <label class="col-md-3 col-xs-4 control-label"></label>
            <div class="col-md-9 col-xs-8 " style="text-align: left;">
                <div class="checkbox">
                    <label style="color:white;" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="">
                        <input type="checkbox" onclick="chkOnayChange()" id="IsTaahhutVar" value="true" name="BasvurularSinavBilgi_@(IdN).IsTaahhutVar" @IsTaahhutVar.ToChecked() />
                        @if (Model.IsTurkceProgramVar)
                        {

                            <span style="color:red;">@(Model.IsEgitimDiliTurkce ? "Kayıt olana kadar, Türkiye'de Türkçe eğitim veren Lisans veya Lisansüstü programlarından mezun olduğumu gösteren karekodlu E'Devlet mezuniyet belgesini ibraz edeceğimi taahhür ederim. Not: Bu mezuniyet belgesi tomer belgesi yerine kabul edilecek." : "Kayıt olana kadar, başvuru koşullarında belirtilen koşula uygun sınav notu bulunan TÖMER belgemi getireceğimi taahhüt ederim.")</span>
                        }
                        else
                        {
                            <span style="color:red;">Mezun olana kadar, başvuru koşullarında belirtilen koşula uygun sınav notu bulunan TÖMER belgemi getireceğimi taahhüt ederim.</span>
                        }
                    </label>
                </div>
            </div>
        </div>



        <script>

            $(function () {
                $("#IsTaahhutVar").iCheck({ checkboxClass: 'icheckbox_minimal-grey', radioClass: 'iradio_minimal-grey' });
            })

        </script>
    }

}

