@using Entities.Entities  
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model Anket
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="AnketID" name="AnketID" value="@Model.AnketID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default" id="bPanel">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> @(Model.AnketID <= 0 ? "Yeni Anket Tanımlama" :"Anket Güncelleme İşlemi")</h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.AnketID)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">Enstitü</label>
                                <div class="col-md-10 col-xs-10">
                                    @Html.DropDownList("EnstituKod", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label">Anket Adı</label>
                                <div class="col-md-10 col-xs-9">
                                    <input type="text" name="AnketAdi" id="AnketAdi" value="@Model.AnketAdi" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group @(Model.AnketID<=0?"hide":"")">
                                <label class="col-md-2 col-xs-3 control-label">Durum</label>
                                <div class="col-md-10 col-xs-9">
                                    <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="info" data-off="danger">
                                        <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save"></i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>