@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model FmYeterlikSureciDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var indexModel = (MIndexBilgi)ViewBag.IndexModel;
    var kayit = RoleNames.YeterlikSureciKayıt.InRoleCurrent();
    var silme = RoleNames.YeterlikSureciSil.InRoleCurrent();


}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">

            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-clock-o"></i> Yeterlik Süreçleri</h3>
                    <ul class="panel-controls">
                        <li><span class="label label-info label-form" style="cursor: pointer;" onclick="window.location.href='@Url.Action("Kayit")'"><i class="fa fa-plus"></i> Yeni Süreç Oluştur</span></li>
                        <li><span class="label label-success label-form">Toplam: @indexModel.Toplam</span></li>
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="125"></th>
                                <th class="sirala" field="EnstituAdi">Enstitu</th>
                                <th width="250" class="sirala" field="DonemAdi">Öğretim Yılı</th>
                                <th width="105" class="sirala" field="BaslangicTarihi">Başlangıç Tar.</th>
                                <th width="105" class="sirala" field="BitisTarihi">Bitiş Tar.</th>

                            </tr>

                        </thead>
                        <tbody>

                            @if (Model.RowCount > 0)
                            {
                                int rowIndex = Model.StartRowIndex;
                                foreach (var item in Model.FrYeterlikSurecis)
                                {
                                    bool suanAktif = item.IsAktif && (item.BaslangicTarihi <= DateTime.Now && item.BitisTarihi >= DateTime.Now);
                                    rowIndex++;
                                    <tr class="delrw_@item.YeterlikSurecID" style="@(suanAktif?"color:green;font-weight:bold;":"")">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@rowIndex</td>
                                                    <td style="width: 50px;">
                                                        <div class="btn-group">
                                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-cogs"></i></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li role="presentation" class="dropdown-header">İşlemler</li>
                                                                @*<li class="divider" style="padding-top: 0px; margin-top: 4px;"></li>*@

                                                                @if (kayit)
                                                                {
                                                                    <li>
                                                                        <a href="@Url.Action("Kayit")"><i class="fa fa-pencil"></i>Yeni</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="@Url.Action("Kayit", new { id = item.YeterlikSurecID })"><i class="fa fa-edit"></i>Düzenle</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0)" onclick="GetKriterMuafOgrenciler(@item.YeterlikSurecID)"><i class="fa fa-group"></i>Kriterden Muaf Tutulanlar</a>
                                                                    </li>
                                                                }
                                                                @if (silme)
                                                                {
                                                                    <li>
                                                                        <a href="javascript:void(0)" onclick="SilmeOnay(@item.YeterlikSurecID)"><i class="fa fa-trash-o"></i>Sil</a>
                                                                    </li>
                                                                }
                                                               
                                                                
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>@item.EnstituAdi</td>
                                        <td>@item.DonemAdi</td>
                                        <td>
                                            @item.BaslangicTarihi.ToFormatDateAndTime()
                                        </td>
                                        <td>
                                            @item.BitisTarihi.ToFormatDateAndTime()
                                        </td>


                                    </tr>



                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" style="text-align: center">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">

    function SilmeOnay(id) {
        bootbox.dialog({
            message: "<table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;text-align:center;color:maroon;'>Seçilen Yeterlik Sürecini Silmek İstiyor Musunuz?</td></tr></table>",
            title: "Yeterlik Süreci Silme İşlemi",
            buttons: {
                success: {
                    label: "Yeterlik Sürecini Sil",
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("Sil")',
                            data: { id: id },
                            success: function (result) {
                                if (result.IsSuccess) {
                                    $(".delrw_" + id).remove();
                                }
                                showMmMessage(result.Messages, 'Tamam');
                            },
                            error: function (err) {
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: "Kapat",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });
    }
    function GetKriterMuafOgrencilerView(id) {
        var view = "";
        $.ajax({
            url: '@Url.Action("KriterMuafOgrenciler")',
            data: { id: id },
            async: false,
            success: function (result) {
                view = result;
            }
        });
        return view;
    }
    function GetKriterMuafOgrenciler(id) {
        var view  = GetKriterMuafOgrencilerView(id);
        bootbox.dialog({
            message: "<div id='muafOgrenciContent'>" +  view + "</div>",
            title: "Yeterlik Süreci Balvuru Kriterinden Muaf Öğrenciler",
            buttons: {
                danger: {
                    label: "Kapat",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });

    }
</script>