@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using BiskaUtil
@model KmYeterlikSureciDto
@{
    var mmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form id="FrmMezuniyetSurec" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
        <input type="text" style="display:none;" id="YeterlikSurecID" name="YeterlikSurecID" value="@Model.YeterlikSurecID" />
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-time"></i>Başvuru süreç kaydı</h3>
                    <ul class="panel-controls">
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Kayit", new { id = Model.YeterlikSurecID })';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>


                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Öğretim Yılı</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("OgretimYili", null, "", new { @class = "form-control", style = "padding:0px;" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Başlangıç / Bitiş Tarihi</label>
                                <div class="col-md-9 col-xs-7">
                                    <table>
                                        <tr>
                                            <td><input class="form-control input-medium" autocomplete="off" size="16" type="text" value="@(Model.BaslangicTarihi == DateTime.MinValue ? "" : Model.BaslangicTarihi.ToString("yyyy-MM-dd HH:mm"))" name="BaslangicTarihi" id="BaslangicTarihi"></td>
                                            <td style="width:5px;text-align:center;">/</td>
                                            <td><input class="form-control input-medium" autocomplete="off" size="16" type="text" value="@(Model.BitisTarihi == DateTime.MinValue ? "" : Model.BitisTarihi.ToString("yyyy-MM-dd HH:mm"))" name="BitisTarihi" id="BitisTarihi"></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <div class="panel panel-default" style="padding: 0px; margin: 0px;">
                                        <div class="panel-heading padding-0">
                                            <h4 class="panel-title"><i class="fa fa-pencil"></i> Başvuru için gerekli kriterler</h4>
                                        </div>
                                        <div class="panel-body padding-0">
                                            <table class="table" style="width:100%;table-layout:fixed;">
                                                <thead>
                                                    <tr>
                                                        <th>Öğrenim Tipleri</th>
                                                        <th width="70" title="Maks Kabul Edilecek Dönem Numarası (Okuduğu dönem numarası seçilen dönemden büyükse başvuru yapamayacak)">Dnm Krtr</th>
                                                        <th width="60" title="Etik dersi notu belirlenen nottan düşük ise başvuru yapamayacak. (Not kriteri belirlenmezse öğrenci bu kontrole tabi tutulmaz)">Etik Not</th>
                                                        <th width="60" title="Seminer dersi notu belirlenen nottan düşük ise başvuru yapamayacak. (Not kriteri belirlenmezse öğrenci bu kontrole tabi tutulmaz)">Sem. Not</th>
                                                        <th width="60" title="Toplam kredisi belirlenen krediden az ise başvuru yapamayacak. (Kredi kriteri belirlenmezse öğrenci bu kontrole tabi tutulmaz)">T. Kredi</th>
                                                        <th width="60" title="Öğrenci yazılı sınavını geçerse eğer sözlü sınavından aldığı notu ile yazılı notunun ortalamasını hesaplamak için gereklidir.">Yazılı %</th>
                                                        <th width="60" title="Öğrenci yazılı sınavını geçerse eğer sözlü sınavından aldığı notu ile yazılı notunun ortalamasını hesaplamak için gereklidir.">Sözlü %</th>
                                                        <th width="80" title="Öğrencinin yazılı sınavı için mininmum başarı kriterini belirler">Yaz Not Krtr</th>
                                                        <th width="80" title="Öğrencinin sözlü sınavı için mininmum başarı kriterini belirler">Söz Not Krtr</th>
                                                        <th width="80" title="Öğrencinin ortalamasında mininmum başarı kriterini belirler">Ort. Not Krtr</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Rw_tbody">
                                                    @foreach (var item in Model.KmYeterlikSureciOgrenimTipKriterleris.OrderBy(t => t.OgrenimTipAdi))
                                                    {
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <input type="text" name="YeterlikSurecOgrenimTipID" value="@item.YeterlikSurecOgrenimTipID" class="hide">
                                                                <input type="text" name="OgrenimTipID" value="@item.OgrenimTipID" class="hide" />
                                                                <input type="text" name="OgrenimTipKod" value="@item.OgrenimTipKod" class="hide" />
                                                                @item.OgrenimTipAdi
                                                            </div>
                                                        <td>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="YsMaxBasvuruDonemNo" value="@item.YsMaxBasvuruDonemNo"/>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                @Html.DropDownList("YsBasEtikNotKriteri", item.SlistEtikNots,"",new {@class="form-control"}) 
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                @Html.DropDownList("YsBasSeminerNotKriteri", item.SlistSeminerNots, "", new { @class = "form-control" })
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="YsBasToplamKrediKriteri" value="@item.YsBasToplamKrediKriteri">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="YaziliYuzde" value="@item.YaziliYuzde">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="SozluYuzde" value="@item.SozluYuzde">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="YaziliGecerNot" value="@item.YaziliGecerNot">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="SozluGecerNot" value="@item.SozluGecerNot">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="OrtalamaGecerNot" value="@item.OrtalamaGecerNot">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (Model.YeterlikSurecID > 0)
                            {
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label padding-top-0 padding-bottom-0">Durum</label>
                                    <div class="col-md-9 col-xs-7 padding-top-0 padding-bottom-0">
                                        <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="info" data-off="danger">
                                            <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $(function () {
        $('#BaslangicTarihi').datetimepicker({
            lang: 'tr',
            timepicker: true,
            format: 'Y-m-d H:i'
        });
        $('#BitisTarihi').datetimepicker({
            lang: 'tr',
            timepicker: true,
            format: 'Y-m-d H:i'
        });


        var model = '@Html.Raw(Json.Encode(mmMessage))';
        validateControl(model);
    });
</script>
