@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model  FmTalepler
@{
    ViewBag.Title = "Index";
    var indexModel = (MIndexBilgi)ViewBag.IndexModel;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kYetki = RoleNames.SrTalepDuzelt.InRoleCurrent();
}

<div class="row">
    @using (Html.BeginForm("Index", "SrGelenTalepler", FormMethod.Post, new { id = "frmGBasvurular" }))
    {
        <div class="col-md-12">
            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-info" id="pnlFltr">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-filter"></i> Filtre İşlemi
                    </h3>

                </div>
                <div class="panel-body">
                    <table class="table table-hover" style="width:100%;table-layout:fixed;">
                        <tr>
                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Talep Tipi</td>
                                            <td>
                                                @Html.DropDownList("SRTalepTipID", null, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding-left: 10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                    <tr>
                                        <td width="160">Öğrenim Seviyesi</td>
                                        <td>
                                            @Html.DropDownList("OgrenimTipKod", null, new { @class = "form-control" })
                                        </td>

                                    </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                        <tr>

                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                    <tr>
                                        <td width="160">Salon</td>
                                        <td>
                                            @Html.DropDownList("SRSalonID", null, new { @class = "form-control", id = "FTijFormTipID" })
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                              
                            </td>
                            <td style="padding-left: 10px; vertical-align: top;">
                                <table style="width: 100%; table-layout: fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Rezervasyon Durumu</td>
                                            <td>
                                                @Html.DropDownList("SRDurumID", null, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>

                            <td style="padding-left:10px;">
                            </td>
                            <td style="padding-left: 10px; vertical-align: top;">

                                <table style="width: 100%; table-layout: fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Aranacak Kelime</td>
                                            <td>

                                                <table style="width: 100%; table-layout: fixed;">
                                                    <tbody>
                                                        <tr>
                                                            <td> <input name="Aranan" type="text" value="@Model.Aranan" onkeypress="if (event.which == 13) { $('#frmGBasvurular').submit(); }" class="form-control" /></td>
                                                            <td width="110">
                                                                <a href="javascript:void(0);" onclick="$('#frmGBasvurular').submit();" class="btn btn-info" style="width: 110px;"><i class="glyphicon glyphicon-filter"> Filtrele</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Salon Rezervasyonu Gelen Talepler</h3>
                    <ul class="panel-controls">
                        @foreach (var item in indexModel.ListB)
                        {
                            <li style="color:@item.Color"> <i class="@item.ClassName" style="font-size:11pt;"></i>@item.Key:<b>@item.Toplam</b></li>
                        }
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" style="font-size:8pt;">
                        <thead>
                            <tr>
                                <th width="75">
                                </th>
                                <th class="sirala" width="230" field="TalepYapan">Ad Soyad</th>
                                <th class="sirala" width="230" field="TalepTipAdi">Talep Tipi</th>
                                <th class="sirala" field="SalonAdi">Salon Bilgisi</th>
                                <th class="sirala" field="DurumListeAdi" width="130">Durum</th>
                            </tr>

                        </thead>
                        <tbody>
                            @if (Model.RowCount > 0)
                            {

                                int rowIndex = Model.StartRowIndex;
                                foreach (var item in Model.data)
                                {
                                    var starih = Convert.ToDateTime(item.Tarih.ToShortDateString() + " " + item.BasSaat.ToString());
                                    var fWeight = starih > DateTime.Now ? "font-weight:bold;" : "";
                                    rowIndex++;
                                    <tr class="mColor_@item.SRTalepID" style="@fWeight color:@item.Color">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@rowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.SRTalepID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="ShowDetail('@item.SRTalepID')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-down"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table" style="padding:0px;margin:0px;border:none;table-layout:fixed;">
                                                <tr>
                                                    <td style="margin:0px;border:none;" width="40"> <img src="@item.ResimAdi.ToKullaniciResim()" style="width:40px;height:40px;cursor:pointer;" onclick="DetayGor('@item.UserKey')" class="img-circle img-thumbnail"></td>
                                                    <td style="margin:0px;border:none;">
                                                        @item.TalepYapan (@item.OgrenciNo)
                                                        <br />@item.OgrenimTipAdi
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            @item.TalepTipAdi <br />
                                            @item.Tarih.ToFormatDate() @item.HaftaGunAdi @item.BasSaat.ToFormatTime() - @item.BitSaat.ToFormatTime()

                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>@(item.IsOnline ? "Online" : item.SalonAdi)</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td  style="font-size:10pt;">
                                            <table class="mColor_@item.SRTalepID" style="width:100%;table-layout:fixed;">
                                                <tr>
                                                    <td style="width: 30px; font-size: 12pt;">
                                                        @if (!item.ClassName.IsNullOrWhiteSpace())
                                                        {
                                                            <span class="tooltips " data-style="blue" data-original-title="@item.SRDurumAciklamasi">
                                                                <i id="bticon_@item.SRTalepID" class="@item.ClassName fa-lg" style="@fWeight"></i>
                                                            </span>
                                                        }
                                                        else
                                                        {

                                                            <i class="@item.ClassName fa-lg" style="@fWeight color:@item.Color"></i>
                                                        }
                                                    </td>
                                                    <td>
                                                        <span id="btCapt_@item.SRTalepID">@Html.Raw(item.DurumListeAdi)</span>
                                                    </td>
                                                </tr>

                                            </table>

                                        </td>
                                    </tr>
                                    <tr class="cls-@item.SRTalepID" style="display:none">
                                        <td id="cls-@item.SRTalepID" colspan="5" style="padding: 1px 1px 2px 75px;"></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" style="text-align: center;">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
@if (kYetki)
{
    <script>
        function RezervasyonDurumKayit(id) {
            var ibtID = $('#SRDurumID_' + id).val();
            var ibTipAciklama = $('#SRDurumAciklamasi_' + id).val();
            var _panel = $('#SRDetay_' + id);
            PanelRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("RezervasyonDurumKayit", "SrGelenTalepler")',
                data: {
                    'id': id,
                    'SRDurumID': ibtID,
                    'SRDurumAciklamasi': ibTipAciklama
                },
                success: function (result) {
                    $(".mColor_" + id).each(function (inx, itmx) {
                        $(itmx).attr("style", "color:" + result.Color + (result.IsFontWeightBold?";font-weight:bold;":""));
                    });
                    $("#btCapt_" + id).html(result.IslemTipListeAdi);
                    $("#bticon_" + id).attr("Class", "");
                    $("#bticon_" + id).addClass(result.ClassName);
                    if (result.IsSuccess)
                        GetDetail(id, false, null);
                    if (result.messageView)
                        swal.fire({
                            html: result.messageView,
                            icon: (result.IsSuccess ? "success" : "error"),
                            type: (result.IsSuccess ? "success" : "error"),
                            confirmButtonText: 'tamam',
                            padding: '2em'
                        });
                    PanelRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    PanelRefresh(_panel, true);

                }
            });
        }
    </script>
}
<script type="text/javascript">

    function ShowDetail(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled) GetDetail(id);
    }
    function GetDetail(id) {

        var _panel = $('#SRDetay_' + id);
        PanelRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("GetDetail", "SrGelenTalepler")',
            data: { id: id  },
            success: function (result) {
                $('#cls-' + id).html(result);
                PanelRefresh(_panel, true);
            },
            error: function (err) {
                alert(err.responseText);
                PanelRefresh(_panel, true);
            }
        });
    }
</script>
