@using LisansUstuBasvuruSistemi.Models 
@using LisansUstuBasvuruSistemi.Utilities.Dtos  
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model  FmTalepler
@{
    ViewBag.Title = "Index";
    var IndexModel = (MIndexBilgi)ViewBag.IndexModel;
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    var kYetki = RoleNames.SrTalepDuzelt.InRoleCurrent();
}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Salon Rezervasyonu Gelen Talepler</h3>
                    <ul class="panel-controls">
                        @foreach (var item in IndexModel.ListB)
                        {
                            <li style="color:@item.Color">&nbsp&nbsp<i class="@item.ClassName" style="font-size:11pt;"></i>@item.Key:<b>@item.Toplam</b></li>
                        }
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="75">
                                </th>
                                <th class="sirala" width="230" field="TalepYapan">Ad Soyad</th>
                                <th class="sirala" width="230" field="TalepTipAdi">Talep Tipi</th>
                                <th class="sirala" field="SalonAdi">Salon Bilgisi</th> 
                                <th class="sirala" field="DurumListeAdi" width="100">Durum</th>
                                <th width="40"></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr class="filtrele">
                                <th>

                                </th>
                                <th>
                                    <input name="Aciklama" type="text" value="@Model.Aciklama" class="form-control" />
                                </th>
                                <th>@Html.DropDownList("SRTalepTipID", null, new { @class = "form-control" })</th>
                                <th>@Html.DropDownList("SRSalonID", null, new { @class = "form-control" })</th>
                                @*<th></th>*@
                                <th>@Html.DropDownList("SRDurumID", null, new { @class = "form-control" })</th>
                                <th></th>
                            </tr>
                            @if (Model.RowCount > 0)
                            {

                                int rowIndex = Model.StartRowIndex; 
                                foreach (var item in Model.data)
                                {
                                    var starih = Convert.ToDateTime(item.Tarih.ToShortDateString() + " " + item.BasSaat.ToString());
                                    var _fWeight = starih > DateTime.Now ? "font-weight:bold;" : "";
                                    rowIndex++; 
                                    <tr class="mColor_@item.SRTalepID" style="@_fWeight color:@item.Color">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@rowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.SRTalepID"  title="Detayı açmak veya kapatmak için tıklayınız." onclick="showDetail('@item.SRTalepID')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table" style="padding:0px;margin:0px;border:none;table-layout:fixed;">
                                                <tr>
                                                    <td style="margin:0px;border:none;" width="40"> <img src="@item.ResimAdi.ToKullaniciResim()" style="width:40px;height:40px;cursor:pointer;" onclick=detayGor(@item.TalepYapanID) class="img-circle img-thumbnail"></td>
                                                    <td style="margin:0px;border:none;">
                                                        @item.TalepYapan
                                                        <br />
                                                        @if (item.OgrenciNo.IsNullOrWhiteSpace() == false)
                                                        {
                                                            <span>Öğrenci No:@item.OgrenciNo</span>
                                                        }
                                                        else if (item.SicilNo.IsNullOrWhiteSpace() == false)
                                                        {
                                                            <span>Sicil No:@item.SicilNo</span>
                                                        }
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            @item.TalepTipAdi @(!item.OgrenimTipAdi.IsNullOrWhiteSpace() ? "(" + item.OgrenimTipAdi + ")" : "")<br />
                                            @item.Tarih.ToString("dd.MM.yyyy") @item.HaftaGunAdi @string.Format("{0:hh\\:mm}", item.BasSaat) - @string.Format("{0:hh\\:mm}", item.BitSaat)

                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>@(item.IsOnline ? "Online" : item.SalonAdi)</td>
                                                </tr>
                                            </table>
                                        </td>
                                        @*<td>
                                                @item.Tarih.ToString("dd.MM.yyyy") @item.HaftaGunAdi <br />
                                                @string.Format("{0:hh\\:mm}", item.BasSaat) - @string.Format("{0:hh\\:mm}", item.BitSaat)
                                            </td>*@
                                       
                                        <td>
                                            <table style="width:100%;table-layout:fixed;">
                                                <tr>
                                                    <td style="width:30px;">
                                                        @if (!item.ClassName.IsNullOrWhiteSpace())
                                                        {
                                                            <span class="tooltips mColor_@item.SRTalepID" data-style="blue" data-original-title="@item.SRDurumAciklamasi">
                                                                <i id="bticon_@item.SRTalepID" class="@item.ClassName" style="font-size:17pt;@_fWeight"></i>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <i class="@item.ClassName mColor_@item.SRTalepID" style="font-size:17pt;@_fWeight color:@item.Color"></i>
                                                        }
                                                    </td>
                                                    <td>
                                                        <span id="btCapt_@item.SRTalepID">@Html.Raw(item.DurumListeAdi)</span>
                                                    </td>
                                                </tr>

                                            </table>

                                        </td>
                                        <td>
                                            @if (!item.MezuniyetBasvurulariID.HasValue)
                                            {
                                                <a href="@Url.Action("TalepYap", "SR" , new { id=item.SRTalepID })"><i style="font-size:11pt; color:@item.Color" class="fa fa-edit tooltips mColor_@item.SRTalepID" data-style="blue" data-original-title="Düzelt"></i></a>
                                                <a href="javascript:void(0)" onclick="getDetail('@item.SRTalepID',true,this)"><i style="font-size:11pt; color:@item.Color" class="glyphicon glyphicon-trash tooltips mColor_@item.SRTalepID" data-style="blue" data-original-title="Sil"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="cls-@item.SRTalepID" style="display:none">
                                        <td id="cls-@item.SRTalepID" colspan="8" style="padding: 1px 1px 2px 75px;"></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" style="text-align: center;">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
@if (kYetki)
{
    <script>
        function kaydet(id) {
            var ibtID = $('#SRDurumID_' + id).val();
            var ibTipAciklama = $('#SRDurumAciklamasi_' + id).val();
            $.ajax({
                url: '@Url.Action("Istenenkaydet", "SRGelenTalepler")',
                data: {
                    'id': id,
                    'SRDurumID': ibtID,
                    'SRDurumAciklamasi': ibTipAciklama
                },
                success: function (result) {
                    getDetail(id, false, null);
                    $(".mColor_" + id).each(function (inx, itmx) {
                        $(itmx).attr("style", result.Color + " " + result.FontWeight);
                    });
                    $("#btCapt_" + id).html(result.IslemTipListeAdi);
                    $("#bticon_" + id).attr("Class", "");
                    $("#bticon_" + id).addClass(result.ClassName);
                    //$("#td2_" + id).html(result.verilmeBilgi);

                    if (result.strView != "") {
                        var btbx = bootbox.dialog({
                            message: result.strView,
                            title: "Bilgi",
                            buttons: {
                                success: {
                                    label: 'Tamam',
                                    className: "btn-info",
                                    callback: function () {
                                    }
                                }
                            }
                        });
                    }
                },
                error: function (err) {
                    alert(err.responseText);

                }
            });
        }
        function sil(sndr, id) {
            $.ajax({
                url: '@Url.Action("Sil", "SR")',
                data: { id: id },
                success: function (result) {
                    if (result.IsSuccess) {
                        $(sndr).closest("tr").remove();
                        $(".cls-" + id).remove();
                    }
                    showMmMessage(result.Messages, 'Tamam');
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        }
    </script>
}
    <script type="text/javascript">

    function showDetail(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled) getDetail(id);
    }
    function getDetail(id, Isdelete, sndr) {

        var _panel = $('#SRDetay_' + id);
        _pRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("getDetail", "SR")',
            data: { id: id, IsDelete: (Isdelete == true)  },
            success: function (result) {
                if (Isdelete != true) {
                    $('#cls-' + id).html(result);
                    _pRefresh(_panel, true);
                }
                else {
                    _pRefresh(_panel, true);
                    var btbx = bootbox.dialog({
                        message: result + " <br/><br/><table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;text-align:center;color:maroon;'>Seçilen Salon Rezervasyon Talebini Silmek İstiyor Musunuz?</td></tr></table>",
                        title: "Salon Rezervasyonu Silme İşlemi",
                        buttons: {
                            success: {
                                label: 'Rezervasyonu Sil',
                                className: "btn-danger",
                                callback: function () {
                                    sil(sndr, id);
                                }
                            },
                            danger: {
                                label: 'Vazgeç',
                                className: "btn-primary",
                                callback: function () {
                                }
                            }
                        }
                    });
                    $(btbx).find('.modal-dialog').addClass('modal-lg');

                }
                onload();
            },
            error: function (err) {
                alert(err.responseText);
                _pRefresh(_panel, true);
            }
        });
    }
    function sil(sndr, id) {
        $.ajax({
            url: '@Url.Action("Sil", "SRGelenTalepler")',
            data: { id: id },
            success: function (result) {
                if (result.IsSuccess) {
                    $(sndr).closest("tr").remove();
                    $(".cls-" + id).remove();
                }
                showMmMessage(result.Messages, 'Tamam');
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
    </script>



<script type="text/javascript">
    $(function () {
        jQuery('.popovers').popover();
    });
</script>
