@using LisansUstuBasvuruSistemi.Utilities.Enums
@model LisansUstuBasvuruSistemi.Utilities.Dtos.TijBasvuruOneriDetayDto
@{
    Layout = null;

}
@{ 

    var tabAdi = "";
    var tabIconClass = "";
    var durumAdi = "";
    var durumIconClass = "";
    var durumAciklama = "";
    var durumColor = "";
    var durumDetay = "";
    var durumDetayIconClass = "";
    var aciklamaDetay = "";

    if (Model == null)
    {
        tabAdi = "Jüri Önerisi Henüz Yapıldı";
        tabIconClass = "fa fa-list-alt fa-lg";
        durumIconClass = "fa fa-clock-o";
        durumDetayIconClass = "fa fa-exclamation-triangle";
        durumDetay = "Süreç Devamı İçin Jüri Önerisi Yapılmaı.";

    }
    else if (!Model.DanismanOnayladi.HasValue)
    {
        tabAdi = "Jüri Önerisi Yapıldı";
        tabIconClass = "fa fa-clock-o"; 
        durumDetayIconClass = "fa fa-exclamation-triangle";
        durumDetay = "Süreç Devamı İçin Danışman Onayı Gerekmekte.";
    }
    else if (Model.DanismanOnayladi == true && !Model.EYKYaGonderildi.HasValue)
    {
        tabAdi = "Danışman Tarafından Onayladı";
        tabIconClass = "fa fa-thumbs-o-up fa-lg";
        durumColor = "green";
        durumDetayIconClass = "fa fa-exclamation-triangle";
        durumDetay = "Süreç Devamı İçin Eyk'ya gönderim bekleniyor.";
    }
    else if (Model.DanismanOnayladi == false)
    {
        tabAdi = "Danışman Tarafından Onaylamanmadı";
        tabIconClass = "fa fa-thumbs-o-down fa-lg";
        durumColor = "maroon";
        durumDetayIconClass = "fa fa-exclamation-triangle";
        durumDetay = "Jüri önerisi danışman tarafından reddedildi.";
        aciklamaDetay = Model.DanismanOnaylanmamaAciklamasi;
    }
    else if (Model.EYKYaGonderildi == true && !Model.EYKDaOnaylandi.HasValue)
    {
        tabAdi = "EYK'ya Gönderimi Onaylandı";
        tabIconClass = "fa fa-thumbs-o-up fa-lg";
        durumColor = "green";
        durumDetayIconClass = "fa fa-exclamation-triangle";
        durumDetay = "Süreç Devamı İçin Eyk'da onay işlemi bekleniyor.";
    }
    else if (Model.EYKYaGonderildi == false)
    { 

        tabAdi = "EYK'ya Gönderimi Onaylanmadı";
        tabIconClass = "fa fa-thumbs-o-down fa-lg";
        durumColor = "maroon";
        durumDetayIconClass = "fa fa-exclamation-triangle";
        durumDetay = "Süreç enstitü tarafından reddedildi.";
        aciklamaDetay = Model.EYKYaGonderimDurumAciklamasi;
    }
    else if (Model.EYKDaOnaylandi == true)
    {
        tabAdi = "EYK'da Onaylandı";
        tabIconClass = "fa fa-thumbs-o-up fa-lg";
        durumColor = "green";
        durumDetayIconClass = "fa fa-exclamation-triangle"; 
        durumDetay = "Süreç Tamamlandı";
    }
    else if (Model.EYKDaOnaylandi == false)
    {
        tabAdi = "EYK'da Onaylanmadı";
        tabIconClass = "fa fa-thumbs-o-down fa-lg";
        durumColor = "maroon";
        durumDetayIconClass = "fa fa-exclamation-triangle";
        durumDetay = "Süreç eyk tarafından onaylanmadı.";
        aciklamaDetay = Model.EYKDaOnaylanmadiDurumAciklamasi;
    }



}


<table>
    <tbody>
        <tr style="color:@durumColor">
            <td>
                <i class="@tabIconClass" aria-hidden="true"></i> <span style="font-size:9pt;margin:0px;"> @tabAdi</span>  <span style="font-size:7pt;" title="@durumAciklama"><i style="font-size:8pt;" class="@durumIconClass"></i> @durumAdi</span>
            </td>
        </tr>
        <tr>
            <td>

                @if (durumDetay != "")
                {
                    <span style="font-size:7pt;" title="@aciklamaDetay"><i style="font-size:8pt;" class="@durumDetayIconClass"></i> @durumDetay</span>
                }
            </td>
        </tr>
    </tbody>
</table>



