@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model TijOneriFormuKayitDto
@{
    Layout = null;
    var tezDanismaniBilgi = Model.JoFormJuriList.FirstOrDefault(p => p.JuriTipAdi == "TezDanismani");

}
<div class="widget widget-default" style="margin:0px;padding:4px;">
    <div class="panel panel-default form-horizontal" style="margin:0px;margin-top:5px;">
        <div class="panel-heading padding-0">
            <h3 class="panel-title"><i class="fa fa-book myCaptionTd"></i><span class="myCaptionTd"> Tez İzleme Jüri Öneri Formu</span> </h3>
        </div>
        <div class="panel-body" style="padding:0px;padding-left:2px;padding-right:2px;">


            @using (Ajax.BeginForm("TijOneriFormuPost", "TiJuriOnerileriGb", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "FrmTijOneriFormu" }))
            {
                @Html.HiddenFor(p => p.TijBasvuruID);
                @Html.HiddenFor(p => p.KullaniciId);
                @Html.HiddenFor(p => p.TijBasvuruOneriID);
                @Html.HiddenFor(p => p.IsTezDiliTr);
                @Html.Hidden("PostDetayTabAdi", "tab-TezDanismani");
                @Html.Hidden("SaveData", (Model.TijBasvuruOneriID > 0 ? "true" : "false"));
              
                <div class="panel-body form-group-separated">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Adı ve Soyadı - Numarası</label>
                        <div class="col-md-9 col-xs-10">
                            @Model.OgrenciAdSoyad
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Tez Dili</label>
                        <div class="col-md-9 col-xs-10">
                            @(Model.IsTezDiliTr ? "Türkçe" : "İngilizce")
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Tez Başlığı Türkçe</label>
                        <div class="col-md-9 col-xs-10">
                            @Model.TezBaslikTr
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Tez Başlığı İngilizce</label>
                        <div class="col-md-9 col-xs-10">
                            @Model.TezBaslikEn
                        </div>
                    </div>
                    @if (!Model.IsTezDiliTr && Model.TezDanismanID == UserIdentity.Current.Id)
                    {
                        <div class="form-group">
                            <label class="col-md-3 col-xs-2 control-label" style="color:maroon">Tahhüt</label>
                            <div class="col-md-9 col-xs-10" style="color:maroon">
                                Seçilen jüri üyeleri için ‘Yükseköğretim kurumlarında yabancı dil öğretimi ve yabancı dille öğretim yapılmasında uyulacak esaslara ilişkin yönetmeliğe göre dil şartını sağlamaktadır’ tahhütünü kabul ediyorum.
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-4">
                    <div class="panel-body list-group">
                        <a href="#" class="list-group-item active"><span class="fa fa-user"></span> Profile</a>
                        <a href="#" class="list-group-item"><span class="fa fa-cog"></span> Settings</a>
                        <a href="#" class="list-group-item"><span class="fa fa-bar-chart-o"></span> Activity</a>
                        <a href="#" class="list-group-item"><span class="fa fa-sign-out"></span> Logoff</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="widget widget-default" style="padding:3px;margin:0px;">
                        <div class="panel panel-default form-horizontal">
                            <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                <h3 class="panel-title" style="font-size:9pt;">Tez Danışmanı Verisi için Aşağıdaki Bilgileri Eksiksizce Doldurunuz Lütfen.</h3>
                            </div>
                            <div class="panel-body form-group-separated" style="padding:5px;">

                                <div class="form-group">
                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                        Adı Soyadı (*)
                                    </label>
                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                        <input type="hidden" name="JuriTipAdi" value="TezDanismani" />
                                        <input type="hidden" name="AnaTabAdi" value="tab-TezDanismani" />
                                        <input type="hidden" name="DetayTabAdi" value="tab-TezDanismani" />
                                        <input type="text" class="form-control upperCase" name="AdSoyad" maxlength="128" value="@(tezDanismaniBilgi != null ? tezDanismaniBilgi.AdSoyad : "")" style="width: 100%;color:black;" id="TezDanismaniAdSoyad" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                        Unvanı (*)
                                    </label>
                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                        <input type="text" class="form-control upperCase hide" name="xUnvanAdi" maxlength="128" value="@(tezDanismaniBilgi != null ? tezDanismaniBilgi.UnvanAdi : "")" style="width: 100%;color:black;" />

                                        @Html.DropDownList("UnvanAdi", tezDanismaniBilgi.SlistUnvanAdi, new { @class = "form-control", @style = "width:100%;color:black;", id = "TezDanismaniUnvanAdi" })

                                        @if (!string.IsNullOrEmpty(tezDanismaniBilgi.UnvanAdi))
                                        {
                                            <script>
                                                            $(function () {
                                                                $('#TezDanismaniUnvanAdi').val('@Html.Raw(tezDanismaniBilgi.UnvanAdi)');
                                                            })
                                            </script>
                                        }

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                        E-Posta Adresi (*)
                                    </label>
                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                        <input type="text" class="form-control" maxlength="128" name="EMail" value="@tezDanismaniBilgi.EMail.Trim()" style="width: 100%;" id="TezDanismaniEMail" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                        Üniversitesi (*)
                                    </label>
                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                        @Html.DropDownList("UniversiteID", tezDanismaniBilgi.SListUniversiteID, new { @class = "form-control", @style = "width:100%;color:black;", id = "TezDanismaniUniversiteID" })
                                        @if (tezDanismaniBilgi.UniversiteID.HasValue)
                                        {
                                            <script>
                                                $(function () {
                                                    $('#TezDanismaniUniversiteID').val('67');
                                                })
                                            </script>
                                        }
                                        @*<input type="text" class="form-control" maxlength="128" name="UniversiteAdi" value="@(TezDanismaniBilgi != null ? TezDanismaniBilgi.UniversiteAdi : "")" style="width: 100%;" id="TezDanismaniUniversiteAdi" />*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                        Anabilimdalı (*)
                                    </label>
                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                        <input type="text" class="form-control" maxlength="256" name="AnabilimdaliAdi" value="@tezDanismaniBilgi.AnabilimdaliAdi" style="width: 100%;" id="TezDanismaniAnabilimdaliAdi" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" style="margin:0px;margin-top:0px;">
                    <div class="panel panel-default tabs" style="margin-bottom:0px; padding:0px;">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-TezDanismani" data-toggle="tab" aria-expanded="false">
                                    <i class="fa fa-user myCaptionTd"></i><span style="font-size:8pt;">Tez Danışmanı</span>
                                </a>
                            </li>
                            <li>
                                <a href="#tab-YtuIciJuri" data-toggle="tab" aria-expanded="false">
                                    <i class="fa fa-user myCaptionTd"></i><span style="font-size:8pt;">YTÜ İçinden Jüri  Önerisi</span>
                                </a>
                            </li>
                            <li>
                                <a href="#tab-YtuDisiJuri" data-toggle="tab" aria-expanded="false">
                                    <i class="fa fa-user myCaptionTd"></i><span style="font-size:8pt;">YTÜ Dışından Jüri Önerisi</span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-body tab-content" style="padding:0px;">
                            <div class="tab-pane active" id="tab-TezDanismani">
                                <div class="widget widget-default" style="padding:3px;margin:0px;">
                                    <div class="panel panel-default form-horizontal">
                                        <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                            <h3 class="panel-title" style="font-size:9pt;">Tez Danışmanı Verisi için Aşağıdaki Bilgileri Eksiksizce Doldurunuz Lütfen.</h3>
                                        </div>
                                        <div class="panel-body form-group-separated" style="padding:5px;">

                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Adı Soyadı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="hidden" name="JuriTipAdi" value="TezDanismani" />
                                                    <input type="hidden" name="AnaTabAdi" value="tab-TezDanismani" />
                                                    <input type="hidden" name="DetayTabAdi" value="tab-TezDanismani" />
                                                    <input type="text" class="form-control upperCase" name="AdSoyad" maxlength="128" value="@(tezDanismaniBilgi != null ? tezDanismaniBilgi.AdSoyad : "")" style="width: 100%;color:black;" id="TezDanismaniAdSoyad" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Unvanı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control upperCase hide" name="xUnvanAdi" maxlength="128" value="@(tezDanismaniBilgi != null ? tezDanismaniBilgi.UnvanAdi : "")" style="width: 100%;color:black;" />

                                                    @Html.DropDownList("UnvanAdi", tezDanismaniBilgi.SlistUnvanAdi, new { @class = "form-control", @style = "width:100%;color:black;", id = "TezDanismaniUnvanAdi" })

                                                    @if (!string.IsNullOrEmpty(tezDanismaniBilgi.UnvanAdi))
                                                    {
                                                        <script>
                                                            $(function () {
                                                                $('#TezDanismaniUnvanAdi').val('@Html.Raw(tezDanismaniBilgi.UnvanAdi)');
                                                            })
                                                        </script>
                                                    }

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    E-Posta Adresi (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control" maxlength="128" name="EMail" value="@tezDanismaniBilgi.EMail.Trim()" style="width: 100%;" id="TezDanismaniEMail" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Üniversitesi (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    @Html.DropDownList("UniversiteID", tezDanismaniBilgi.SListUniversiteID, new { @class = "form-control", @style = "width:100%;color:black;", id = "TezDanismaniUniversiteID" })
                                                    @if (tezDanismaniBilgi.UniversiteID.HasValue)
                                                    {
                                                        <script>
                                                            $(function () {
                                                                $('#TezDanismaniUniversiteID').val('67');
                                                            })
                                                        </script>
                                                    }
                                                    @*<input type="text" class="form-control" maxlength="128" name="UniversiteAdi" value="@(TezDanismaniBilgi != null ? TezDanismaniBilgi.UniversiteAdi : "")" style="width: 100%;" id="TezDanismaniUniversiteAdi" />*@
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Anabilimdalı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control" maxlength="256" name="AnabilimdaliAdi" value="@tezDanismaniBilgi.AnabilimdaliAdi" style="width: 100%;" id="TezDanismaniAnabilimdaliAdi" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab-YtuIciJuri">
                                <div class="panel panel-default nav-tabs-vertical">

                                    <div class="tabs">
                                        <ul class="nav nav-tabs">
                                            @for (int i = 1; i <= 3; i++)
                                            {
                                                var ActiveCls = i == 1 ? "active" : "";
                                                <li class="@ActiveCls">
                                                    <a href="#tab-YtuIciJuri-@(i)" data-toggle="tab" aria-expanded="false">
                                                        <i class="fa fa-user myCaptionTd"></i><span style="font-size:8pt;">@i - Üye Önerisi @(i == 3 ? "" : "(*)")</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                        <div class="panel-body tab-content" style="padding:0px;">
                                            @for (int i = 1; i <= 3; i++)
                                            {
                                                var activeCls = i == 1 ? "active" : "";
                                                var rowData = Model.JoFormJuriList.FirstOrDefault(p => p.JuriTipAdi == "YtuIciJuri" + i);
                                                <div class="tab-pane @activeCls" id="tab-YtuIciJuri-@i">
                                                    <div class="widget widget-default" style="padding:3px;margin:0px;">
                                                        <div class="panel panel-default form-horizontal">
                                                            <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                                <h3 class="panel-title" style="font-size:9pt;">
                                                                    @(i + ".Yıldız Teknik Üniversitesi İçinden Jüri Önerileri") @(i == 3 ? ("(Zorunlu Değil)") : "")
                                                                </h3>
                                                            </div>
                                                            <div class="panel-body form-group-separated" style="padding:5px;">

                                                                <div class="form-group">
                                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Adı Soyadı (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="hidden" name="JuriTipAdi" value="YtuIciJuri@(i)" />
                                                                        <input type="hidden" name="AnaTabAdi" value="tab-YtuIciJuri" />
                                                                        <input type="hidden" name="DetayTabAdi" value="tab-YtuIciJuri-@i" />
                                                                        <input type="hidden" name="AdSoyad" maxlength="128" value="@(rowData != null ? rowData.AdSoyad : "")" id="YtuIciJuri@(i)AdSoyadVal" />
                                                                        <input type="text" class="form-control egitmens" value="" style="width: 100%;" id="YtuIciJuri@(i)AdSoyad" />
                                                                        @if (rowData != null)
                                                                        {
                                                                            <script>
                                                                                setTimeout( function () {
                                                                                   var secilen = @Html.Raw(Json.Encode(new { id = rowData.AdSoyad, text = rowData.AdSoyad }));
                                                                                   $("#YtuIciJuri@(i)AdSoyad").select2('data', secilen);

                                                                               },1200)
                                                                            </script>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Unvanı (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        @Html.Hidden("UnvanAdi", (rowData != null ? rowData.UnvanAdi : ""), new { id = "YtuIciJuri" + i + "UnvanAdi" })
                                                                        @Html.DropDownList("xUnvanAdi", (rowData != null ? rowData.SlistUnvanAdi : Model.SListUnvanAdi), new { @class = "form-control", disabled = "disabled", @style = "width:100%;color:black;", id = ("xYtuIciJuri" + i + "UnvanAdi") })
                                                                        @if (rowData != null && rowData.UnvanAdi != null && rowData.UnvanAdi != "")
                                                                        {
                                                                            <script>
                                                                                $(function () {
                                                                                    $('#@("xYtuIciJuri" + i + "UnvanAdi")').val('@Html.Raw(rowData.UnvanAdi)');
                                                                                });
                                                                            </script>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        E-Posta Adresi (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="128" name="EMail" value="@(rowData != null ? rowData.EMail : "")" style="width: 100%;color:black;" id="YtuIciJuri@(i)EMail" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Üniversitesi (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        @Html.Hidden("UniversiteID", (rowData != null ? rowData.UniversiteID.ToStrObjEmptString() : ""), new { id = "YtuIciJuri" + i + "UniversiteID" })
                                                                        @Html.DropDownList("xUniversiteID", (rowData != null ? rowData.SListUniversiteID : Model.SListUniversiteID), new { @class = "form-control", disabled = "disabled", @style = "width:100%;color:black;", id = "xYtuIciJuri" + i + "UniversiteID" })
                                                                        @if (rowData != null && rowData.UniversiteID.HasValue)
                                                                        {
                                                                            <script>
                                                                                $(function () {
                                                                                    $('#@("xYtuIciJuri" + i + "UniversiteID")').val('@rowData.UniversiteID.Value');
                                                                                });
                                                                            </script>
                                                                        }
                                                                        @*<input type="text"  class="form-control" maxlength="128" name="UniversiteAdi" value="@(RowData!=null?RowData.UniversiteAdi:"")" style="width: 100%;color:black;" id="YtuIciJuri@(i)UniversiteAdi" />*@
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Anabilimdalı (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="256" name="AnabilimdaliAdi" value="@(rowData != null ? rowData.AnabilimdaliAdi : "")" style="width: 100%;color:black;" id="YtuIciJuri@(i)AnabilimdaliAdi" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab-YtuDisiJuri">
                                <div class="panel panel-default nav-tabs-vertical">

                                    <div class="tabs">
                                        <ul class="nav nav-tabs">
                                            @for (int i = 1; i <= 3; i++)
                                            {
                                                var activeCls = i == 1 ? "active" : "";
                                                <li class="@activeCls">
                                                    <a href="#tab-YtuDisiJuri-@(i)" data-toggle="tab" aria-expanded="false">
                                                        <i class="fa fa-user myCaptionTd"></i><span style="font-size:8pt;">@i - Üye Önerisi @(i == 3 ? "" : "(*)")</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                        <div class="panel-body tab-content" style="padding:0px;">
                                            @for (int i = 1; i <= 3; i++)
                                            {
                                                var activeCls = i == 1 ? "active" : "";
                                                var rowData = Model.JoFormJuriList.FirstOrDefault(p => p.JuriTipAdi == "YtuDisiJuri" + i);

                                                <div class="tab-pane @activeCls" id="tab-YtuDisiJuri-@i">
                                                    <div class="widget widget-default" style="padding:3px;margin:0px;">
                                                        <div class="panel panel-default form-horizontal">
                                                            <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                                <h3 class="panel-title" style="font-size:9pt;">
                                                                    @(i + ". Yıldız Teknik Üniversitesi Dışından Jüri Önerileri") @(i == 3 ? ("(Zorunlu Değil)") : "")
                                                                </h3>
                                                            </div>
                                                            <div class="panel-body form-group-separated" style="padding:5px;">

                                                                <div class="form-group">
                                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Adı Soyadı (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="hidden" name="JuriTipAdi" value="YtuDisiJuri@(i)" />
                                                                        <input type="hidden" name="AnaTabAdi" value="tab-YtuDisiJuri" />
                                                                        <input type="hidden" name="DetayTabAdi" value="tab-YtuDisiJuri-@i" />
                                                                        <input type="text" class="form-control upperCase" maxlength="128" name="AdSoyad" value="@(rowData != null ? rowData.AdSoyad : "")" style="width: 100%;" id="YtuDisiJuri@(i)AdSoyad" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Unvanı (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        @Html.DropDownList("UnvanAdi", (rowData != null ? rowData.SlistUnvanAdi : Model.SListUnvanAdi), new { @class = "form-control", @style = "width:100%;color:black;", id = ("YtuDisiJuri" + i + "UnvanAdi") })
                                                                        @if (rowData != null && rowData.UnvanAdi != null && rowData.UnvanAdi != "")
                                                                        {
                                                                            <script>
                                                                                $(function () {
                                                                                    $('#@("YtuDisiJuri" + i + "UnvanAdi")').val('@Html.Raw(rowData.UnvanAdi)');
                                                                                });
                                                                            </script>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        E-Posta Adresi (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="128" name="EMail" value="@(rowData != null ? rowData.EMail : "")" style="width: 100%;" id="YtuDisiJuri@(i)EMail" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Üniversitesi (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        @Html.DropDownList("UniversiteID", (rowData != null ? rowData.SListUniversiteID : Model.SListUniversiteID), new { @class = "form-control", @style = "width:100%;color:black;", id = "YtuDisiJuri" + i + "UniversiteID" })
                                                                        @if (rowData != null && rowData.UniversiteID.HasValue)
                                                                        {
                                                                            <script>
                                                                                $(function () {
                                                                                    $('#@("YtuDisiJuri" + i + "UniversiteID")').val('@rowData.UniversiteID.Value');
                                                                                });
                                                                            </script>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Anabilimdalı (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="256" name="AnabilimdaliAdi" value="@(rowData != null ? rowData.AnabilimdaliAdi : "")" style="width: 100%;" id="YtuDisiJuri@(i)AnabilimdaliAdi" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@if (Model.TijBasvuruOneriID > 0)
{

    <script>
        setTimeout(function () { 
            $('.btnKaydet').removeClass("btn-primary").addClass("btn-info");
            $('.btnKaydet').text("Kaydet");
        }, 200);
    </script>
}
<script>


    $(function () {
        $('.upperCase').each(function (ix, inx) {
            $(inx).attr('autocomplete', 'off');
            $(inx).bind('keyup', function (e) {
                var vl = $(inx).val();
                $(inx).val(vl.replace("i", "İ").toUpperCase());
            });
        })
        $('.egitmens').select2({
            tags: true,
            tokenSeparators: [",", " "],
            minimumInputLength: 2,
            maximumSelectionSize: 1,
            multiple: false,
            ajax: {
                url: '@Url.Action("GetYtuOgretimEleman", "Ajax")',
                dataType: "json",
                data: function (term, page) {
                    return {
                        'term': term
                    }

                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            },
            formatResult: function (result) {
                var cont2 =
                    "<table class='table table-striped' style='width:100%; margin:0px;'>" +
                    "<tbody>" +
                    "<tr>" +
                    "<td style='vertical-align:middle;'>" +
                    "<table class='table table-striped' style='margin:0px;border-top:none;font-size:8pt;'> " +
                    "<tbody>" +
                    "<tr><td>" + result.AdSoyad + "</td></tr>" +
                    "<tr><td>Bölüm:" + result.BolumAdi + "</td></tr>" +
                    "<tr><td>Ünvan: " + result.UnvanAdi + "</td></tr>" +
                    "</tbody> " +
                    "</table> " +
                    "</td>" +
                    "</tr> " +
                    "</tbody>" +
                    "</table>";
                return cont2;
            }
        }).on('change', function (e) {
            var Inpid = $(this).prop("id");
            var mID = Inpid.replace("AdSoyad", "");
            $('#' + mID + 'AdSoyadVal').val(e.added == undefined ? "" : e.added.AdSoyad);
            $('#' + mID + 'UnvanAdi').val(e.added == undefined ? "" : e.added.UnvanAdi);
            $('#' + mID + 'EMail').val(e.added == undefined ? "" : e.added.EMail);
            $('#' + mID + 'AnabilimdaliAdi').val(e.added == undefined ? "" : e.added.BolumAdi);
            $('#' + mID + 'UniversiteID').val(e.added == undefined ? "" : e.added.UniversiteID);
            $('#x' + mID + 'UniversiteID').val(e.added == undefined ? "" : e.added.UniversiteID);
            $('#x' + mID + 'UnvanAdi').val(e.added == undefined ? "" : e.added.UnvanAdi);
            });
    });
</script>
