@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Models.FilterModel 
@model kmBolumEslestir
@{
    var MmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
      
    var BLData = Management.GetProgramaBasvurulamayacakOgrenciBolumleri(Model.EnstituKod, Model.ProgramKod, Model.OgrenciBolumID);
    BLData.InputName = "OgrenciBolumID";
    BLData.PanelTitle = "Eşleştirilecek öğrenci bölümlerini seçiniz";
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="ProgramKod" name="ProgramKod" value="@Model.ProgramKod" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i>&nbsp; Öğrenci bölümü eşleştirme işlemi</h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.ProgramKod)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">

                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Enstitü</label>
                                <div class="col-md-9 col-xs-8">
                                    @Model.EnstituAd
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Bölüm</label>
                                <div class="col-md-9 col-xs-8">
                                    @Model.AnabilimDaliAdi
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Program</label>
                                <div class="col-md-9 col-xs-8">
                                    @Model.ProgramAdi
                                </div>
                            </div>
                         
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label"></label>
                                <div class="col-md-9 col-xs-8">
                                    @BLData.ToRenderPartialViewHtml("Ajax", "getChkList")
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply">&nbsp</i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save">&nbsp</i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type='text/javascript' src='/Content/js/plugins/icheck/icheck.min.js'></script>
<script>

    function Filtrele() {
        var filtreval = $('#filterBInp').val().replace('İ', 'i').toLowerCase();
        var $fltrRowDet = $('#filterDetailRw');
        var $fltrRow = $('.tr');

        if (filtreval != null && filtreval != "") {
            var toplam = $('.chks').find('.tr').length;

            $('.bolumAdlari').each(function (inx, lblx) {
                var clmVal = $(lblx).text().replace('İ', 'i').toLowerCase(); s
                var AShow = clmVal.indexOf(filtreval) > -1; 
                if (AShow) {
                    $(lblx).parents('tr').first().removeClass("hide");
                }
                else {
                    $(lblx).parents('tr').first().addClass("hide");
                }

            })
            var Gizli = $('.chks').find('.tr.hide').length;
            var gosterilen = toplam - Gizli;
            $('#filtreKelime').html("[Ara:  %<span style='color:red;'>" + filtreval + "</span>%] [Bulunan: <span style='color:red;'>" + gosterilen + "</span>]");
            $fltrRowDet.removeClass("hide");
        }
        else {
            $fltrRow.removeClass("hide");
            $fltrRowDet.addClass("hide");
            $('#filtreKelime').html("");

        }    
    }

    $('.bolumAdlari,.iCheck-helper').click(function () {
        toplHesapla();
    })
    function toplHesapla() {
        setTimeout(function () {
            var tops = $('.icheckbox_minimal-grey').length;
            //var chkD_ = $('.icheckbox_minimal-grey.checked').length
            var chckCount = 0;
            $('input:checkbox.chk_').each(function (Inx, chkx) {
                var chkDrm = $(chkx).is(':checked');
                if (chkDrm) chckCount++;
            });
            $('#ToplamBilgi').html('Toplam: ' + tops + ' Öğrenci Bölümü Seçilen: ' + chckCount + ' Bölüm');
        }, 300);
    }
     
    $(document).ready(function () {
        var model = '@Html.Raw(Json.Encode(MmMessage))';
        validateControl(model);
    });


</script>
