@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model  FmSistemBilgilendirme
@{
    var indexModel = (MIndexBilgi)ViewBag.IndexModel;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bilgiTipleri = new LogTypeData();

}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">

            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-envelope"></i> Bilgi Mesajları</h3>
                    <ul class="panel-controls">
                        <li><span class="label label-success label-form">T:@indexModel.Toplam</span></li>
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="85"></th>
                                <th class="sirala" field="IslemTarihi" width="140">Tarih/Bilgi Tipi</th>
                                <th>Mesaj</th>
                                <th class="sirala" field="AdSoyad" width="180">Kullanıcı</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="filtrele">
                                <th></th>
                                <th>
                                    @Html.DropDownList("BilgiTipi", null, "", new { @class = "form-control" })
                                </th>
                                <th>
                                    <input type="text" name="Message" value="@Model.Message" class="form-control" />
                                </th>
                                <th>
                                    <input type="text" name="AdSoyad" value="@Model.AdSoyad" class="form-control" />
                                </th>
                            </tr>
                            @if (Model.RowCount > 0)
                            {
                                var rowIndex = Model.StartRowIndex;
                                foreach (var item in Model.FrSistemBilgilendirmes.Select((s, inx) => new { data = s, Index = inx }))
                                {
                                    rowIndex += 1;
                                    var bilgiTip = bilgiTipleri.LogTipiData.First(p => p.BilgiTipID == item.data.BilgiTipi.Value);
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 60px;">
                                                        <span class="fa fa-circle text-@bilgiTip.BilgiTipCls"></span>
                                                        @rowIndex
                                                    </td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.data.SistemBilgiID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="ShowDetail('@item.data.SistemBilgiID')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-down"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            @item.data.IslemZamani <br />
                                            <span style="cursor:pointer;">@bilgiTip.BilgiTipAdi</span>
                                        </td>

                                        <td>

                                            @if (item.data.Message.Contains("zararlı"))

                                            {
                                                <span>Zararlı olabilecek istek!</span>
                                            }
                                            else
                                            {
                                                <span>
                                                    @Html.Raw(item.data.Message.Length > 60 ? item.data.Message.Substring(0, 60) + "..." : item.data.Message)
                                                </span>
                                            }
                                        </td>
                                        <td>

                                            @if (item.data.KullaniciAdi.IsNullOrWhiteSpace() == false)
                                            {
                                                <span>@item.data.KullaniciAdi <br />@item.data.AdSoyad</span>
                                            }
                                            else
                                            {
                                                <span>Kullanıcı Yok</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="cls-@item.data.SistemBilgiID" style="display:none">
                                        <td id="cls-@item.data.SistemBilgiID" colspan="5" style="padding: 1px 1px 2px 85px;">

                                            <div class="panel panel-@(bilgiTip.BilgiTipCls=="default"?"primary":bilgiTip.BilgiTipCls)">
                                                <div class="panel-heading padding-0">
                                                    <div class="portlet-title">
                                                        <h3 class="panel-title"><i class="fa fa-file-text"></i>&nbsp;Detay</h3>
                                                    </div>
                                                </div>
                                                <div class="panel-body" style="padding: 0px;">
                                                    <div class="panel panel-default form-horizontal" style="margin-bottom: 0px;">

                                                        <div class="panel panel-@(bilgiTip.BilgiTipCls=="default"?"primary":bilgiTip.BilgiTipCls)" style="margin: 0px; padding: 0px;">
                                                            <div class="panel-body" style="margin: 0px; padding: 0px;">
                                                                <div class="panel-body form-group-separated">
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">Bilgi Tipi</label>
                                                                        <div class="col-md-10">
                                                                            <button type="button" class="btn btn-@bilgiTip.BilgiTipCls btn-rounded">@bilgiTip.BilgiTipAdi</button>
                                                                            <input type="hidden" value="@item.data.Message" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">Mesaj</label>
                                                                        <div class="col-md-10 ">
                                                                            <div class="panel panel-@(bilgiTip.BilgiTipCls=="default"?"primary":bilgiTip.BilgiTipCls)" style="margin:0px;padding:0px;">
                                                                                <div class="panel-body" style="padding-right:0px;padding-top:2px;padding-bottom:2px;">
                                                                                    <div style="max-height: 400px; min-height: 100px; width: 100%; overflow-x: auto; word-break: break-word;"> 
                                                                                        <textarea readonly="readonly" style="width:100%;">@item.data.Message</textarea> 
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">Konum Bilgisi</label>
                                                                        <div class="col-md-10">
                                                                            <div class="panel panel-@(bilgiTip.BilgiTipCls=="default"?"primary":bilgiTip.BilgiTipCls)" style="margin:0px;padding:0px;">
                                                                                <div class="panel-body" style="padding-right:0px;padding-top:2px;padding-bottom:2px;">
                                                                                    <div style="max-height: 400px; min-height: 100px; width: 100%; overflow-x:auto; word-break: break-word;">
                                                                                        @Html.Raw(item.data.StackTrace.Replace("\r\n", "<br/>").Replace("  ", ""))
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">İşlem Zamanı</label>
                                                                        <div class="col-md-10">@item.data.IslemZamani</div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">İşlem Yapan Ip</label>
                                                                        <div class="col-md-10">@item.data.IpAdresi</div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">İşlem Yapan</label>
                                                                        <div class="col-md-10">
                                                                            @if (item.data.KullaniciAdi.IsNullOrWhiteSpace() == false)
                                                                            {
                                                                                <span style="cursor:pointer;" onclick="DetayGor('@item.data.UserKey')"><i class="fa fa-user"></i> @item.data.AdSoyad</span> <span>@item.data.KullaniciAdi</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>Kullanıcı Yok</span>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" style="text-align: center">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script>

    function ShowDetail(id) {
        var sndr = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(sndr, cls, unTogled);

    }
</script>
