@using LisansUstuBasvuruSistemi.Utilities.Enums
@model LisansUstuBasvuruSistemi.Utilities.Dtos.DpBasvuruDurumDto
@{
    Layout = null;
}
@{

    var tabIconClass = "";
    var tabAdi = "";
    var durumIconClass = "";
    var durumAdi = "";
    var durumAdiTitle = "";
    var durumColor = "";
    var durumDetay = "";
    var durumDetayIconClass = "fa fa-comments-o";
    var durumDetayTitle = "";

    if (Model.DonemProjesiDurumID == DonemProjesiDurumEnum.BasvuruTamamlanmadi)
    {
        tabAdi = "Yeni Başvuru";
        durumColor = "maroon";
        durumAdi = "Başvuru henüz tamamlanmadı";
        durumAdiTitle = "Süreç devamı için Öğrenci Yeni Dönem Projesi Sınavı Başvurusu oluşturulmalı.";
        durumIconClass = "fa fa-clock-o";
    }
    else if (Model.DonemProjesiDurumID == DonemProjesiDurumEnum.EnstituOnaySureci)
    {





        if (!Model.DonemProjesiEnstituOnayDurumID.HasValue)
        {
            tabAdi = "Enstitü Başvuru Onay Süreci";
            durumColor = "Green";
            durumAdi = "Enstitü Onayı Bekleniyor";
            durumIconClass = "fa fa-clock-o";
            durumDetayIconClass = "fa fa-comments-o";
            durumDetay = "Başvurunun Proje Yürütücüsü onayına sunulabilmesi için Enstitü onayı gerekmekte.";
        }
        else if (Model.DonemProjesiEnstituOnayDurumID == DonemProjesiEnstituOnayDurumEnum.Reddedildi)
        {
            tabAdi = "Enstitü Başvuru Onay Süreci";
            durumColor = "maroon";
            durumAdi = "Başvuru Reddedildi";
            durumIconClass = "fa fa-thumbs-o-down";
            durumDetay = "Başvuru Enstitü tarafından Reddedildi.";
            durumDetayTitle = Model.EnstituOnayAciklama;

        }
        else if (Model.DonemProjesiEnstituOnayDurumID == DonemProjesiEnstituOnayDurumEnum.IptalEdildi)
        {
            tabAdi = "Enstitü Başvuru Onay Süreci";
            durumColor = "maroon";
            durumAdi = "Başvuru İptal Edildi";
            durumIconClass = "fa fa-thumbs-o-down";
            durumDetay = "Başvuru Enstitü tarafından iptal edildi.";
            durumDetayTitle = Model.EnstituOnayAciklama;

        }

    }
    else if (Model.DonemProjesiDurumID == DonemProjesiDurumEnum.YurutucuOnaySureci)
    {
        if (!Model.IsDanismanOnay.HasValue)
        {
            tabAdi = "Yürütücü Başvuru Onay Süreci";
            durumColor = "maroon";
            durumAdi = "Proje Yürütücüsü Onayı Bekleniyor";
            durumIconClass = "fa fa-clock-o";
            durumDetay = "Başvuru Enstitü tarafından onaylandı süreç devamı için Proje Yürütücüsü onayı gerekmekte.";
        }
        else if (Model.IsDanismanOnay == false)
        {
            tabAdi = "Yürütücü Onay Süreci";
            durumIconClass = "fa fa-thumbs-o-down fa-lg";
            durumAdi = "Başvuru Reddedildi";
            durumColor = "maroon";
            durumDetay = "Başvuru Proje Yürütücüsü tarafından Reddedildi.";
            durumDetayTitle = Model.DanismanOnayAciklama;
        }
    }
    else if (Model.DonemProjesiDurumID == DonemProjesiDurumEnum.JuriSinavOlusturmaSureci)
    {
        if (!Model.IsJuriOlusturuldu)
        {
            tabAdi = "Jüri/Sınav Oluşturma Süreci";
            durumIconClass = "fa fa-clock-o";
            durumAdi = "Sınav Jürisi Oluşturulması Bekleniyor";
            durumColor = "Green";
            durumDetay = "Süreç devamı için Proje Yürütücüsü tarafından Jüri bilgileri girilmeli.";
        }
        else if (!Model.IsSrTalebiYapildi)
        {
            tabAdi = "Jüri/Sınav Oluşturma Süreci";
            durumIconClass = "fa fa-clock-o";
            durumAdi = "Sınav/Toplantı Oluşturulması Bekleniyor";
            durumColor = "Green";
            durumDetay = "Süreç devamı için Proje Yürütücüsü tarafından Toplantı bilgileri girilmeli.";
        }
    }
    else if (Model.DonemProjesiDurumID == DonemProjesiDurumEnum.SinavDegerlendirmeSureci)
    {
        if (!Model.IsOyBirligiOrCoklugu.HasValue)
        {
            tabAdi = "Jüri Değerlendirme Süreci";
            durumColor = "Green";
            durumIconClass = "fa fa-clock-o";
            durumAdi = "Değerlendirme Yapılması Bekleniyor";
            durumDetay = "Süreç devamı için Jüri üyeleri değerlendirmelerini tamamlamalı.";
        }
    }
    else if (Model.DonemProjesiDurumID == DonemProjesiDurumEnum.EnstituYonetimKuruluSureci)
    {


        if (Model.DonemProjesiJuriOnayDurumID == DonemProjesiJuriOnayDurumEnum.Basarili)
        {
            if (!Model.EYKYaGonderildi.HasValue)
            {
                tabAdi = "EYK Mezuniyet İşlemleri Süreci";
                durumAdi = "EYK'ya Gönderimi Bekleniyor";
                durumIconClass = "fa fa-clock-o";
                durumColor = "Green";
                durumDetay = "Süreç devamı için enstitünün sınav sonucunu EYK'ya gönderimi bekleniyor.";
            }
            else if (Model.EYKYaGonderildi == true && !Model.EYKYaHazirlandi.HasValue)
            {
                tabAdi = "EYK Mezuniyet İşlemleri Süreci";
                durumAdi = "EYK'ya Gönderimi Onaylandı";
                durumIconClass = "fa fa-thumbs-o-up";
                durumColor = "green";
                durumDetay = "Süreç devamı için enstitünün sınav sonucunu Eyk'ya hazırlaması bekleniyor.";
            }
            else if (Model.EYKYaGonderildi == false)
            {

                tabAdi = "EYK Mezuniyet İşlemleri Süreci";
                durumAdi = "EYK'ya Gönderimi Onaylanmadı";
                durumIconClass = "fa fa-thumbs-o-down";
                durumColor = "maroon";
                durumDetay = "Süreç enstitü tarafından reddedildi.";
                durumDetayTitle = Model.EYKYaGonderimDurumAciklamasi;
            }
            else if (Model.EYKYaHazirlandi == true && !Model.EYKDaOnaylandi.HasValue)
            {

                tabAdi = "EYK Mezuniyet İşlemleri Süreci";
                durumAdi = "EYK'ya Hazırlandı";
                durumIconClass = "fa fa-thumbs-o-up";
                durumColor = "green";
                durumDetay = "Sürecin tamamlanması için Enstitünün Eyk'da onay işlemi yapılması bekleniyor.";
            }
            else if (Model.EYKDaOnaylandi == true)
            {

                tabAdi = "EYK Mezuniyet İşlemleri Süreci";
                durumAdi = "EYK'da Onaylandı";
                durumIconClass = "fa fa-thumbs-o-up";
                durumColor = "Green";
                durumDetay = "Sınav sonucu: " + (Model.IsOyBirligiOrCoklugu == true ? "Oy Birliği İle" : "Oy Çokluğu İle") + " " + Model.DonemProjesiJuriOnayDurumAdi + " " + (Model.DonemProjesiJuriOnayDurumID == DonemProjesiJuriOnayDurumEnum.Basarili ? "(Mezun Oldu)" : "");
                ;
            }
            else if (Model.EYKDaOnaylandi == false)
            {
                tabAdi = "EYK Mezuniyet İşlemleri Süreci";
                durumAdi = "EYK'da Onaylanmadı";
                durumIconClass = "fa fa-thumbs-o-down";
                durumColor = "maroon";
                durumDetay = "Sınav sonucu EYK'da onaylanmadı.";
                durumDetayTitle = Model.EYKDaOnaylanmadiDurumAciklamasi;
            }
        }
        else
        {
            var sinavSonucDurumStr = (Model.IsOyBirligiOrCoklugu == true ? "Oy birliği ile " : "Oy çokluğu ile ") + "Başarısız " + (Model.DonemProjesiJuriOnayDurumID == DonemProjesiJuriOnayDurumEnum.BasarisizKatilmadi ? " (Katılmadı)" : "");
            tabAdi = "Jüri Değerlendirme Süreci";
            durumColor = "Maroon";
            durumIconClass = "fa fa-thumbs-o-down";
            durumAdi = sinavSonucDurumStr;
            durumDetay = "Değerlendirme işlemi tamamlandı! Sınav Sonucu: " + sinavSonucDurumStr;
        }
    }



}


<table>
    <tbody>
        <tr style="color:@durumColor">
            <td>
                <i class="@tabIconClass" aria-hidden="true"></i> <span style="font-size:9pt;margin:0px;"> @tabAdi</span> || <span style="font-size:7pt;" title="@durumAdiTitle"><i style="font-size:8pt;" class="@durumIconClass"></i> @durumAdi</span>
            </td>
        </tr>
        <tr>
            <td>

                @if (durumDetay != "")
                {
                    <span style="font-size:7pt;" title="@durumDetayTitle"><i style="font-size:8pt;" class="@durumDetayIconClass"></i> @Html.Raw(durumDetay)</span>
                }
            </td>
        </tr>
    </tbody>
</table>