@using LisansUstuBasvuruSistemi.Utilities.Enums
@model LisansUstuBasvuruSistemi.Utilities.Dtos.FrKayitSilmeBasvuruDto
@{
    Layout = null;

    string tabAdi = "";
    string durumAdi = "";
    string durumIconClass = "";
    string durumColor = "";
    string durumDetay = "";
    string durumDetayTitle = "";
    string durumDetayIconClass = "fa fa-comments-o";

    switch (Model.KayitSilmeDurumID)
    {
        case KayitSilmeDurumEnums.HarcBirimiOnaySureci:
            tabAdi = "Harç Birimi Onay Süreci";
            if (!Model.IsHarcBirimiOnayladi.HasValue)
            {
                durumAdi = "Harç Birimi onayı bekleniyor";
                durumColor = "green";
                durumIconClass = "fa fa-clock-o";
                durumDetay = "Başvurunuz alındı. Süreç devamı için Harç Birimi onayı bekleniyor.";
            }
            else if (Model.IsHarcBirimiOnayladi == false)
            {
                durumAdi = "Harç Birimi reddetti";
                durumColor = "maroon";
                durumIconClass = "fa fa-thumbs-o-down";
                durumDetay = "Başvuru Harç Birimi tarafından reddedildi.";
                durumDetayTitle = Model.HarcBirimiOnayAciklamasi;
            }
            break;

        case KayitSilmeDurumEnums.KutuphaneBirimiOnaySureci:
            tabAdi = "Kütüphane Birimi Onay Süreci";
            if (!Model.IsKutuphaneBirimiOnayladi.HasValue)
            {
                durumAdi = "Kütüphane onayı bekleniyor";
                durumColor = "green";
                durumIconClass = "fa fa-clock-o";
                durumDetay = "Başvuru Harç Birimi tarafından onaylandı. Kütüphane Birimi'nin onaylaması bekleniyor.";
            }
            else if (Model.IsKutuphaneBirimiOnayladi == false)
            {
                durumAdi = "Kütüphane Birimi reddetti";
                durumColor = "maroon";
                durumIconClass = "fa fa-thumbs-o-down";
                durumDetay = "Başvuru Kütüphane Birimi tarafından reddedildi.";
                durumDetayTitle = Model.KutuphaneBirimiOnayAciklamasi;
            }
            break;

        case KayitSilmeDurumEnums.EnstituOnaySureci:
            tabAdi = "Enstitü Onay Süreci";

            bool? isEyk = Model.IsOnayMakamiEykOrEnstituMudur;

            if (!isEyk.HasValue)
            {
                durumAdi = "Onay Makamına gönderilmesi bekleniyor";
                durumColor = "green";
                durumIconClass = "fa fa-clock-o";
                durumDetay = "Enstitü tarafından Onay Makamına gönderilmesi bekleniyor.";
            }
            else if (isEyk == true) // EYK için eski ifadeler
            {
                if (!Model.OnayMakaminaGonderildi.HasValue)
                {
                    durumAdi = "EYK'ya gönderilmesi bekleniyor";
                    durumColor = "green";
                    durumIconClass = "fa fa-clock-o";
                    durumDetay = "Enstitü tarafından EYK'ya gönderilmesi bekleniyor.";
                }
                else if (Model.OnayMakaminaGonderildi == false)
                {
                    durumAdi = "EYK'ya gönderilmedi";
                    durumColor = "maroon";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumDetay = "Başvuru enstitü tarafından EYK'ya gönderilmedi.";
                    durumDetayTitle = Model.OnayMakaminaGonderimDurumAciklamasi;
                }
                else if (Model.OnayMakaminaGonderildi == true && !Model.OnayMakaminaHazirlandi.HasValue)
                {
                    durumAdi = "EYK'ya gönderildi";
                    durumColor = "green";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumDetay = "EYK hazırlık işlemlerinin tamamlanması bekleniyor.";
                }
                else if (Model.OnayMakaminaHazirlandi == true && !Model.OnayMakamindaOnaylandi.HasValue)
                {
                    durumAdi = "EYK'ya hazırlandı";
                    durumColor = "green";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumDetay = "EYK onay işlemi bekleniyor.";
                }
                else if (Model.OnayMakamindaOnaylandi == true)
                {
                    durumAdi = "EYK'da onaylandı";
                    durumColor = "green";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumDetay = "Kayıt silme başvurunuz EYK'da onaylandı.";
                }
                else if (Model.OnayMakamindaOnaylandi == false)
                {
                    durumAdi = "EYK onaylamadı";
                    durumColor = "maroon";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumDetay = "Başvurunuz EYK'da onaylanmadı.";
                    durumDetayTitle = Model.OnayMakamindaOnaylanmadiDurumAciklamasi;
                }
            }
            else if (isEyk == false) // Enstitü Müdürlüğü için yeni ifadeler
            {
                string makamAdi = "Enstitü Müdürlüğü";

                if (!Model.OnayMakaminaGonderildi.HasValue)
                {
                    durumAdi = $"{makamAdi} onay için bekleniyor";
                    durumColor = "green";
                    durumIconClass = "fa fa-clock-o";
                    durumDetay = $"{makamAdi} tarafından onaya gönderilmesi bekleniyor.";
                }
                else if (Model.OnayMakaminaGonderildi == false)
                {
                    durumAdi = $"{makamAdi} onaya gönderilmedi";
                    durumColor = "maroon";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumDetay = $"Başvuru {makamAdi} tarafından onaya gönderilmedi.";
                    durumDetayTitle = Model.OnayMakaminaGonderimDurumAciklamasi;
                }
                else if (Model.OnayMakaminaGonderildi == true && !Model.OnayMakaminaHazirlandi.HasValue)
                {
                    durumAdi = $"{makamAdi} onay hazırlığı bekleniyor";
                    durumColor = "green";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumDetay = $"{makamAdi} hazırlık işlemlerinin tamamlanması bekleniyor.";
                }
                else if (Model.OnayMakaminaHazirlandi == true && !Model.OnayMakamindaOnaylandi.HasValue)
                {
                    durumAdi = $"{makamAdi} onay işlemi bekleniyor";
                    durumColor = "green";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumDetay = $"{makamAdi} onay işlemi bekleniyor.";
                }
                else if (Model.OnayMakamindaOnaylandi == true)
                {
                    durumAdi = $"{makamAdi} tarafından onaylandı";
                    durumColor = "green";
                    durumIconClass = "fa fa-thumbs-o-up";
                    durumDetay = $"Kayıt silme başvurunuz {makamAdi} tarafından onaylandı.";
                }
                else if (Model.OnayMakamindaOnaylandi == false)
                {
                    durumAdi = $"{makamAdi} onaylamadı";
                    durumColor = "maroon";
                    durumIconClass = "fa fa-thumbs-o-down";
                    durumDetay = $"Başvurunuz {makamAdi} tarafından onaylanmadı.";
                    durumDetayTitle = Model.OnayMakamindaOnaylanmadiDurumAciklamasi;
                }
            }
            break;
    }
}


<table>
    <tbody>
        <tr style="color:@durumColor">
            <td>
                <span style="font-size:9pt;margin:0px;">@tabAdi</span>
                |
                <span style="font-size:7pt;" title="@durumDetayTitle">
                    <i class="@durumIconClass" style="font-size:8pt;"></i> @durumAdi
                </span>
            </td>
        </tr>
        @if (!string.IsNullOrEmpty(durumDetay))
        {
            <tr>
                <td>
                    <span style="font-size:7pt;" title="@durumDetayTitle">
                        <i class="@durumDetayIconClass" style="font-size:8pt;"></i> @Html.Raw(durumDetay)
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
