@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using BiskaUtil
@model  FmAnabilimDallariDto
@{
    var indexModel = (MIndexBilgi)ViewBag.IndexModel;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var filteredKomiteIds = (List<int>)ViewBag.filteredKomiteIds;
    var filteredAbdIds = (List<string>)ViewBag.filteredAbdIds;
}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i>&nbsp; Anabilim Dalı Listesi</h3>
                    <ul class="panel-controls">
                        <li><span class="label label-info label-form" style="cursor: pointer;" onclick="window.location.href='@Url.Action("Kayit", "AnabilimDallari")'"><i class="fa fa-plus" aria-hidden="true"></i> Yeni Anabilim Dalı Ekle</span></li>
                        @if (filteredAbdIds.Any() || filteredKomiteIds.Any())
                        {
                            <li>
                                @*<span class="label label-primary label-form" style="cursor: pointer;" onclick="mGonderGB('@string.Join(",", filteredKomiteIds)',true,false)"><i class="fa fa-envelope" aria-hidden="true"></i> @filteredKomiteIds.Count Komite Üyesine Mail Gönder</span>*@
                                <span class="btn-group btn-group-sm" style="margin-top: 3px; margin-left: 5px;">
                                    <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-envelope"></i> Mail Gönder</a>
                                    <ul class="dropdown-menu" role="menu">
                                        @if (filteredKomiteIds.Any())
                                        {
                                            <li>
                                                <a href="javascript:void(0)" onclick="mGonderGB('@string.Join(",", filteredKomiteIds)',true,false)">@filteredKomiteIds.Count Komite Üyesine Mail Gönder</a>
                                            </li>
                                        }
                                        @if (filteredAbdIds.Any())
                                        {
                                            <li>
                                                <a href="javascript:void(0)" onclick="mGonderGB('@string.Join(",", filteredAbdIds)',true,false)">@filteredAbdIds.Count Anabilim Dalına Mail Gönder</a>
                                            </li>

                                        }
                                    </ul>
                                </span>
                            </li>
                        }
                        <li><span class="label label-success label-form">T:@indexModel.Toplam</span></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="sirala" field="AnabilimDaliKod" width="50">Kod</th>
                                <th class="sirala" field="AnabilimDaliAdi">Anabilim Dalı Adı</th>
                                <th class="sirala" field="IsEmailVar">EMail</th>
                                <th class="sirala" field="YeterlikKomiteUyeCount" width="90">Y.Komite.Üye</th>
                                <th class="sirala" field="IsAktif" width="60">Durum</th>
                                <th width="40"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="filtrele">
                                <th>
                                    <input name="AnabilimDaliKod" type="text" value="@Model.AnabilimDaliKod" class="form-control" />
                                </th>
                                <th>
                                    <input name="AnabilimDaliAdi" type="text" value="@Model.AnabilimDaliAdi" class="form-control" />
                                </th>
                                <th>
                                    @Html.DropDownList("IsEmailVar", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th>
                                    @Html.DropDownList("IsKomiteUyesiVar", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th>
                                    @Html.DropDownList("IsAktif", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th></th>
                            </tr>
                            @if (Model.RowCount > 0)
                            {
                                foreach (var item in Model.FrAnabilimDallaris)
                                {
                                    <tr>
                                        <td>@item.AnabilimDaliKod</td>
                                        <td id="tdMad_@item.AnabilimDaliID">
                                            @item.AnabilimDaliAdi
                                        </td>
                                        <td>
                                            @if (item.IsEmailVar)
                                            {
                                                @item.EMail
                                            }
                                            else
                                            {
                                                @("E-Posta Tanımlanmadı")
                                            }
                                        </td>
                                        <td>
                                            <label class="label label-@(item.YeterlikKomiteUyeCount>0 ? "success" : "default") label-form" onclick="GetYeterlikKomiteUyeleri(@item.AnabilimDaliID);" style="cursor: pointer;" id="yeterlikUyeRowContent_@item.AnabilimDaliID"><i class="fa fa-group fa-lg"></i> @item.YeterlikKomiteUyeCount Üye</label>
                                        </td>
                                        <td id="tdIa_@item.AnabilimDaliID" style="text-align:center;">
                                            <span class="label label-@(item.IsAktif ? "success" : "danger") label-form">@item.IsAktif.ToAktifPasif()</span>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Kayit", "AnabilimDallari", new { id = item.AnabilimDaliID })"><i class="fa fa-edit fa-lg" data-style="blue" title="Düzelt"></i></a>
                                            <a href="javascript:void(0)" onclick="SilmeOnay(this,'@item.AnabilimDaliID');"><i class="fa fa-trash-o  fa-lg" data-style="blue" title="Sil"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" style="text-align: center;">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function SilmeOnay(sndr, id) {
        var gMesaj = $("#tdMad_" + id).html();
        bootbox.dialog({
            message: "Anabilim Dalı Adı: " + gMesaj + " <br/> Seçilen Anabilim Dalını Silmek İstiyor Musunuz?",
            title: "Anabilim Dalı Silme İşlemi",
            buttons: {
                success: {
                    label: "Anabilim Dalı Sil",
                    className: "btn-danger",
                    callback: function () {
                        Sil(sndr, id);
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });
    }
    function Sil(sndr, id) {
        $.ajax({
            url: '@Url.Action("Sil", "AnabilimDallari")',
            data: { id: id },
            success: function (result) {
                toastr[result.success ? "success" : "error"](result.message, "Anabilim Dalı Silme İşlemi")
                if (result.success) {
                    $(sndr).closest("tr").remove();
                    // $(".cls-" + id).remove();
                }

            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
    function GetYeterlikKomiteUyeleriView(id) {
        var view = "";
        $.ajax({
            url: '@Url.Action("YeterlikKomiteUyeleri")',
            data: { id: id },
            async: false,
            success: function (result) {
                view = result;
            }
        });
        return view;
    }
    function GetYeterlikKomiteUyeleri(id) {
        var view = GetYeterlikKomiteUyeleriView(id);
        bootbox.dialog({
            message: "<div id='komiteUyeContent'>" +  view + "</div>",
            title: "Anabilimdalı Yeterlik Komite Üyeleri",
            buttons: {
                danger: {
                    label: "Kapat",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });

    }
</script>
