@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model FrYeterlikBasvuruDto
@{
    var item = Model;

    var tabAdi = "";
    var tabIconClass = "";
    var durumAdi = "";
    var durumIconClass = "";
    var durumAciklama = "";
    var durumColor = "";
    var durumDetay = "";
    var durumDetayIconClass = "";
    var aciklamaDetay = "";

    if (!item.IsEnstituOnaylandi.HasValue)
    {
        tabAdi = "Yeni Başvuru";
        tabIconClass = "fa fa-list-alt fa-lg";
        durumAdi = "Enstütü Onayı Bekleniyor";
        durumIconClass = "fa fa-clock-o";
        durumColor = "gray";
        durumDetay = "Başvuru Enstitü tarafından kabül edilmesi bekleniyor";
        durumDetayIconClass = "fa fa-comments-o";
    }
    else if (!item.IsEnstituOnaylandi.Value)
    {
        tabAdi = "Yeni Başvuru";
        tabIconClass = "fa fa-list-alt fa-lg";
        durumAdi = "Enstütü Tarafından İptal Edildi";
        durumIconClass = "fa fa-thumbs-o-down";
        durumColor = "maroon";
        durumDetay = Model.EnstituOnayAciklama.Substring(0, Model.EnstituOnayAciklama.Length > 45 ? 45 : Model.EnstituOnayAciklama.Length) + "...";
        durumDetayIconClass = "fa fa-comments-o";
        aciklamaDetay = Model.EnstituOnayAciklama;
    }
    else if (item.IsEnstituOnaylandi.Value)
    {

        if (item.IsGenelSonucBasarili.HasValue)
        {
            if (item.IsGenelSonucBasarili.Value)
            {
                tabAdi = "Sınav Süreci";
                tabIconClass = "fa fa-list-alt fa-lg";
                durumAdi = "Sınav Sonucu Başarılı";
                durumIconClass = "fa fa-thumbs-o-up fa-lg";
                durumColor = "green";
                durumDetay = "Jüri üyeleri tarafından sınav sonucu başarılı olarak değerlendirilmiştir.";
                durumDetayIconClass = "fa fa-comments-o";
            }
            else
            {
                tabAdi = "Sınav Süreci";
                tabIconClass = "fa fa-list-alt fa-lg";
                durumAdi = "Sınav Sonucu Başarısızz";
                durumIconClass = "fa fa-thumbs-o-down fa-lg";
                durumColor = "maroon";
                durumDetay = "Jüri üyeleri tarafından sınav sonucu başarısız olarak değerlendirilmiştir.";
                durumDetayIconClass = "fa fa-comments-o";
            }

        }
        else if (item.SozluSinavTarihi.HasValue)
        {
             
                tabAdi = "Sözlü Sınav Süreci";
                tabIconClass = "fa fa-list-alt fa-lg";
                durumAdi = "Değerlendirme Süreci Devam Ediyor";
                durumIconClass = "fa fa-clock-o fa-lg";
                durumColor = "green";
                durumDetay = "Jüri üyeleri tarafından sınav sonucu değerlendirme işlemi devam ediyor.";
                durumDetayIconClass = "fa fa-comments-o";
            
        }
        else if (item.YaziliSinavTarihi.HasValue)
        {
            tabAdi = "Yazılı Sınav Süreci";
            tabIconClass = "fa fa-list-alt fa-lg";
            durumAdi = "Değerlendirme Süreci Devam Ediyor";
            durumIconClass = "fa fa-clock-o fa-lg";
            durumColor = "green";
            durumDetay = "Jüri üyeleri tarafından sınav sonucu değerlendirme işlemi devam ediyor.";
            durumDetayIconClass = "fa fa-comments-o";
        }


    }
}


<table>
    <tbody>
        <tr style="color:@durumColor">
            <td>
                <i class="@tabIconClass" aria-hidden="true"></i> <span style="font-size:9pt;margin:0px;"> @tabAdi</span>  <span style="font-size:7pt;" title="@durumAciklama"><i style="font-size:8pt;" class="@durumIconClass"></i> @durumAdi</span>
            </td>
        </tr>
        <tr>
            <td>

                @if (durumDetay != "")
                {
                    <span style="font-size:7pt;" title="@aciklamaDetay"><i style="font-size:8pt;" class="@durumDetayIconClass"></i> @durumDetay</span>
                }
            </td>
        </tr>
    </tbody>
</table>

