@using LisansUstuBasvuruSistemi.Utilities.Dtos
@model KmYeterlikBasvuruDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="row">
    <form id="bsvrSbmtFrm" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil" aria-hidden="true"></i> Yeterlik Başvuru Formu</h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated"> 
                            <input type="text" style="display:none;" id="UniqueID" name="UniqueID" value="@Model.UniqueID" /> 
                            <input type="text" style="display:none;" id="KullaniciID" name="KullaniciID" value="@Model.KullaniciID" />  
                            <div class="form-group">
                                <label class="col-md-3 col-xs-2 control-label">Öğrenim Seviyesi</label>
                                <div class="col-md-9 col-xs-10">
                                    <input class="hide" name="OgrenimTipAdi" id="OgrenimTipAdi" value="@Model.OgrenimTipAdi" />
                                    @Model.OgrenimTipAdi
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-2 control-label">Anabilim Dalı</label>
                                <div class="col-md-9 col-xs-10">
                                    <input class="hide" name="AnabilimdaliAdi" id="AnabilimdaliAdi" value="@Model.AnabilimdaliAdi" />
                                    @Model.AnabilimdaliAdi
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-2 control-label">Program</label>
                                <div class="col-md-9 col-xs-10">
                                    <input class="hide" name="ProgramAdi" id="ProgramAdi" value="@Model.ProgramAdi" />
                                    @Model.ProgramAdi
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-2 control-label">Öğrenci No</label>
                                <div class="col-md-9 col-xs-10">
                                    <input class="hide" name="OgrenciNo" id="OgrenciNo" value="@Model.OgrenciNo" />
                                    @Model.OgrenciNo
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-2 control-label">Ad Soyad</label>
                                <div class="col-md-9 col-xs-10"> 
                                    @Model.AdSoyad
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index",new { Model.KullaniciID})" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save"></i>Başvuruyu Tamamla</button>
                </div>
            </div>
        </div>
    </form>
</div> 

