@using BiskaUtil
@using DevExpress.Office.Utils
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@model DmYeterlikDetayDto
@{
    Layout = null;
    var basvuruOnayYetki = RoleNames.YeterlikBasvuruOnayYetkisi.InRoleCurrent();
}
<style>

    .CaptionTd {
        font-weight: bold;
        font-size: 9pt;
        margin: 0px;
    }

    .ValueTd {
        font-size: 9pt;
        margin: 0px;
        text-align: left;
    }
</style>
<div class="panel" style="border: none;" id="bsvrDet_@Model.UniqueID">
    <div class="widget widget-default" style="border-top: 1px solid; border-top-color: lightgray; margin-bottom: 8px; padding: 6px 10px;">
        <table style="width: 100%;">
            <tr>
                <td style="font-weight: bold; font-size: 11pt; border-bottom: 1px solid;"><i class="fa fa-id-card-o fa-lg"></i> Öğrenci Bilgileri</td>
                <td width="100" style="font-weight: bold; font-size: 15pt; border-bottom: 1px solid; text-align: right;">
                    <a href="javascript:void(0);" onclick="GetDetail('@Model.UniqueID');" class="panel-refresh"><span class="fa fa-refresh" aria-hidden="true"></span></a>
                </td>

            </tr>
            <tr>
                <td style="padding-left: 10px; text-align: left;">

                    <table style="width: 100%;">
                        <tr>
                            <td class="CaptionTd" width="150">Ad Soyad</td>
                            <td class="CaptionTd" width="10">:</td>
                            <td class="ValueTd">
                                @Model.AdSoyad (@Model.OgrenciNo)
                            </td>
                        </tr>
                        <tr>
                            <td class="CaptionTd">Öğrenim Seviyesi</td>
                            <td class="CaptionTd">:</td>
                            <td class="ValueTd">@Model.OgrenimTipAdi</td>
                        </tr>
                        <tr>
                            <td class="CaptionTd">Anabilimdalı / Program</td>
                            <td class="CaptionTd">:</td>
                            <td class="ValueTd">@Model.AnabilimdaliAdi / @Model.ProgramAdi</td>
                        </tr>
                        <tr>
                            <td class="CaptionTd">Kayıt Dönem</td>
                            <td class="CaptionTd">:</td>
                            <td class="ValueTd">@Model.KayitDonemi</td>
                        </tr>
                        <tr>
                            <td class="CaptionTd">Okuduğu Dönem</td>
                            <td class="CaptionTd">:</td>
                            <td class="ValueTd">@(Model.OkuduguDonemNo).Dönem</td>
                        </tr>
                        <tr>
                            <td class="CaptionTd">Danışman</td>
                            <td class="CaptionTd">:</td>
                            <td class="ValueTd">
                                @if (RoleNames.Kullanicilar.InRoleCurrent())
                                {
                                    <a href="javascript:void(0);" onclick="detayGor(@Model.TezDanismanID)">@Model.DanismanAdi</a>
                                }
                                else
                                {
                                    @Model.DanismanAdi
                                }

                            </td>
                        </tr>
                    </table>
                </td>
                <td width="100" style="text-align: center;">
                    <img src="@(Model.ResimAdi.ToKullaniciResim())" style="width: 90px; height: 90px;" class="img-circle img-thumbnail">
                </td>
            </tr>

        </table>

    </div>
    <div class="widget widget-default" style="border-top: 1px solid; border-top-color: lightgray; margin-bottom: 8px; padding: 6px 10px; min-height: 40px;" id="enstituOnayPanel_@Model.UniqueID">
        <table style="width: 100%;">
            <tr>
                <td style="font-weight: bold; font-size: 11pt; border-bottom: 1px solid;">@Model.IsOnaylandi.ToOnayDurumIconLgHtml() Enstitü Başvuru Onayı</td>
            </tr>
            <tr>
                <td style="padding-left: 10px; text-align: left;">

                    <table style="width: 100%;">
                        <tr>
                            <td class="CaptionTd" width="150">Onay Durumu</td>
                            <td class="CaptionTd" width="10">:</td>
                            <td class="ValueTd">
                                @if (basvuruOnayYetki)
                                {
                                    <select class="form-control" id="enstituOnay_@Model.UniqueID" onchange="if ($(this).val() == 'false') { $('#enstituIptalRow_@Model.UniqueID').removeClass('hide');}else {$('#enstituIptalRow_@Model.UniqueID').addClass('hide');}">
                                        <option></option>
                                        <option value="true" @(Model.IsOnaylandi == true ? "selected" : "")>Onaylandı</option>
                                        <option value="false" @(Model.IsOnaylandi == false ? "selected" : "")>İptal Edildi</option>
                                    </select>
                                }
                                else
                                {
                                    @(Model.IsOnaylandi.HasValue ? (Model.IsOnaylandi == true ? "Başvuru Onaylandı" : "Başvuru İptal") : "Onay işlemi bekleniyor")
                                }
                            </td>
                        </tr>
                        <tr id="enstituIptalRow_@Model.UniqueID" class="@(Model.IsOnaylandi == false ? "" : "hide")">
                            <td class="CaptionTd">İptal Açıklaması</td>
                            <td class="CaptionTd">:</td>
                            <td class="ValueTd">
                                @if (basvuruOnayYetki)
                                {
                                    <textarea class="form-control" style="width: 100%; resize: vertical;" rows="2" maxlength="1024" id="enstituOnayAciklama_@Model.UniqueID">@Model.OnayAciklama</textarea>
                                }
                                else
                                {
                                    @(Model.OnayAciklama)
                                }
                            </td>
                        </tr>
                        @if (basvuruOnayYetki)
                        {
                            <tr>
                                <td class="CaptionTd"></td>
                                <td class="CaptionTd">:</td>
                                <td class="ValueTd">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="EnstituOnayKayit('@Model.UniqueID')"><i class="fa fa-save"></i>Kaydet</button>

                                    <script>
                                        function EnstituOnayKayit(uniqueID) {
                                            var enstituOnay = $('#enstituOnay_' + uniqueID).val();
                                            var enstituOnayAciklama = $('#enstituOnayAciklama_' + uniqueID).val();
                                            var panel = $('#enstituOnayPanel_' + uniqueID);
                                            PanelRefresh(panel, false);
                                            $.ajax({
                                                url: '@Url.Action("EnstituOnay","YeterlikGelenBasvurular")',
                                                data: { uniqueID, enstituOnay, enstituOnayAciklama },
                                                success: function (result) {
                                                    if (result.IsSuccess) {
                                                        GetDetail(uniqueID);
                                                    }
                                                    else {
                                                        showMmMessage(result.Messages, 'Tamam');
                                                    }
                                                    PanelRefresh(panel, false);
                                                },
                                                error: function (err) {
                                                    PanelRefresh(panel, false);
                                                    alert(err.responseText);
                                                }
                                            });
                                         }
                                    </script>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
    </div>
    @if (Model.IsOnaylandi == true)
    {
        if (Model.DmYeterlikKomites.Any())
        {
            <div class="widget widget-default" style="border-top: 1px solid; border-top-color: lightgray; margin-bottom: 8px; padding: 6px 10px; min-height: 40px;" id="enstituOnayPanel_@Model.UniqueID">
                <table style="width: 100%;">
                    <tr>
                        <td style="font-weight: bold; font-size: 11pt; border-bottom: 1px solid;"><i class="fa fa-group fa-lg" aria-hidden="true"></i> ABD Komite Üyesi Bilgileri</td>
                        <td width="120" style="font-weight: bold; font-size: 11pt; border-bottom: 1px solid; padding-bottom: 2px;">
                            <span class="label label-warning" style="cursor: pointer;" onclick="GetYeterlikJuriUyeleri('@Model.UniqueID','@Model.AdSoyad')"><i class="fa fa-edit"></i> Jüri Üyelerini Düzelt</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-left: 10px;">
                            @if (Model.DmYeterlikKomites.Any())
                            {
                                <div class="widget widget-default" style="border-top: 1px solid; border-top-color: lightgray; margin-bottom: 8px; padding: 6px 10px;">
                                    <table class="table" style="width: 100%; margin: 0px;">
                                        <tr class="info">
                                            <th width="35"></th>
                                            <th>Ad Soyad</th>
                                            <th>Komite Jüri Onay Durumu</th>
                                            <th width="25"></th>
                                        </tr>
                                        <tbody>

                                            @foreach (var itemKom in Model.DmYeterlikKomites.OrderBy(o => o.AdSoyad))
                                            {
                                                <tr>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_Km_@itemKom.UniqueID" onclick="showDetailY('Km_@itemKom.UniqueID')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span> </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        @itemKom.UnvanAdi @itemKom.AdSoyad <br /> @itemKom.EMail
                                                    </td>
                                                    <td>
                                                        @itemKom.IsJuriOnaylandi.ToOnayDurumIconLgHtml() @(itemKom.IsJuriOnaylandi.HasValue?itemKom.IsJuriOnaylandi.Value?"Onaylandı":"Ret Edildi":"Değerlendirme Yapması Bekleniyor")
                                                    </td>
                                                    <td>
                                                        <span class="fa fa-envelope" style="cursor: pointer; font-size: 16pt;" title="Değerlendirme Linkini Tekrar Gönder" onclick="showDLinkGonder('@itemKom.UniqueID','@itemKom.UnvanAdi @itemKom.AdSoyad');"></span>
                                                    </td>
                                                </tr>

                                            }

                                        </tbody>
                                    </table>

                                </div>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        }


        var isDanismani = UserIdentity.Current.Id == Model.TezDanismanID;
        var isKomiteOnayladi = true;


        <div class="widget widget-default" style="border-top: 1px solid; border-top-color: lightgray; margin-bottom: 8px; padding: 6px 10px; min-height: 40px;" id="enstituOnayPanel_@Model.UniqueID">
            <table style="width: 100%;">
                <tr>
                    <td style="font-weight: bold; font-size: 11pt; border-bottom: 1px solid;"><i class="fa fa-group fa-lg" aria-hidden="true"></i>Yeterlik Jüri Üyesi Bilgileri</td>
                    <td width="120" style="font-weight: bold; font-size: 11pt; border-bottom: 1px solid; padding-bottom: 2px;">
                        @if (Model.YeterlikBasvuruJuriUyeleris.Any())
                        {
                            <span class="label label-warning" style="cursor: pointer;" onclick="GetYeterlikJuriUyeleri('@Model.UniqueID','@Model.AdSoyad')"><i class="fa fa-edit"></i> Jüri Üyelerini Düzelt</span>
                        }
                        else
                        {
                            <span class="label label-info" style="cursor: pointer;" onclick="GetYeterlikJuriUyeleri('@Model.UniqueID','@Model.AdSoyad')"><i class="fa fa-plus"></i> Jüri Üyelerini Oluştur</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-left: 10px;">
                        @if (Model.YeterlikBasvuruJuriUyeleris.Any())
                        {
                            <div class="widget widget-default" style="border-top: 1px solid; border-top-color: lightgray; margin-bottom: 8px; padding: 6px 10px;">
                                <table class="table" style="width: 100%; margin: 0px;">
                                    <tr class="info">
                                        <th width="35"></th>
                                        <th width="90">Jüri Tipi</th>
                                        <th width="280">Ad Soyad</th>
                                        <th>Sınav Sonucu Onay Durumu</th>
                                        <th width="25"></th>
                                    </tr>
                                    <tbody>

                                        @foreach (var itemJr in Model.YeterlikBasvuruJuriUyeleris)
                                        {
                                            var isKomiteTezDanismani = itemJr.JuriTipAdi == "TezDanismani";
                                            var openRow = (isDanismani && isKomiteTezDanismani);
                                            var openDegerlendirme = isKomiteOnayladi && ((openRow && !itemJr.IsBasarili.HasValue));
                                            var sendLink = isKomiteOnayladi && (isDanismani && !isKomiteTezDanismani && Model.YeterlikBasvuruJuriUyeleris.Count != Model.YeterlikBasvuruJuriUyeleris.Count(c => c.IsBasarili.HasValue));

                                            <tr>
                                                <td>

                                                    <ul class="panel-controls">
                                                        <li id="iShow_Jo_@itemJr.UniqueID" onclick="showDetailY('Jo_@itemJr.UniqueID')">
                                                            <a href="javascript:void(0)"><span class="fa fa-angle-@(openRow ? "down" : "up")"></span> </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    @itemJr.JuriTipAdi
                                                    <br />
                                                    @itemJr.IsAsilOrYedek.ToAsilYedek()
                                                </td>
                                                <td>
                                                    @itemJr.UnvanAdi @itemJr.AdSoyad
                                                    <br /><span style="font-size: 7pt;">@itemJr.UniversiteAdi</span>
                                                </td>
                                                <td>
                                                    @if (isKomiteOnayladi)
                                                    {
                                                        if (itemJr.IsBasarili.HasValue)
                                                        {
                                                            if (itemJr.IsBasarili.Value)
                                                            {
                                                                <span style="color: green; font-size: 10pt;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size: 12pt;"></i> Başarılı</span>
                                                                <br />
                                                                <span style="font-size: 8pt; color: green;">@itemJr.DegerlendirmeIslemTarihi.Value.ToLongDateString() @itemJr.DegerlendirmeIslemTarihi.Value.ToString("HH:mm") Saatinde Değerlendirildi.</span>
                                                            }
                                                            else
                                                            {
                                                                <span style="font-size: 10pt; color: maroon;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size: 12pt;"></i> Başarısız</span>
                                                                <br />
                                                                <span style="font-size: 8pt; color: maroon;">@itemJr.DegerlendirmeIslemTarihi.Value.ToLongDateString() @itemJr.DegerlendirmeIslemTarihi.Value.ToString("HH:mm") Saatinde Değerlendirildi.</span>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            if (isDanismani && isKomiteTezDanismani)
                                                            {
                                                                <span aria-hidden="true" style="font-size: 9pt;"><i class="fa fa-clock-o" style="font-size: 12pt;"></i> Değerlendirme Yapmanız Bekleniyor.</span>

                                                            }
                                                            else
                                                            {
                                                                <span aria-hidden="true" style="font-size: 9pt;"><i class="fa fa-clock-o" style="font-size: 12pt;"></i> Değerlendirme Yapması Bekleniyor.</span>
                                                                if (!isKomiteTezDanismani && itemJr.IsLinkGonderildi == true)
                                                                {
                                                                    <br />
                                                                    <span style="color: green; font-size: 8pt;">@itemJr.LinkGonderimTarihi.Value.ToLongDateString() @itemJr.LinkGonderimTarihi.Value.ToString("HH:mm") Saatinde Değerlendirme Linki Gönderildi.</span>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @if (sendLink)
                                                    {
                                                        <span class="fa fa-envelope" style="cursor: pointer; font-size: 16pt;" title="Değerlendirme Linkini Tekrar Gönder" onclick="showDLinkGonder('@itemJr.UniqueID','@itemJr.UnvanAdi @itemJr.AdSoyad');"></span>
                                                    }

                                                </td>
                                            </tr>
                                            <tr class="MainRow2 cls-Jo_@itemJr.UniqueID" style="@(openRow ? "" : "display:none;")">
                                                <td id="cls-Jo_@itemJr.UniqueID" colspan="5" style="padding: 1px 1px 2px 50px;">
                                                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="glyphicon glyphicon-info-sign"></i> Sınav Sonucu Değerlendirme İşlemi</td>
                                                                </tr> 
                                                                <tr>
                                                                    <td class="CaptionTd ctWidth" width="280">Değerlendirme Sonucu</td>
                                                                    <td class="CaptionTd">:</td>
                                                                    <td class="ValueTd">
                                                                        <select style="width:90px;" onchange="if($(this).val()!=''){ $('.RwJAck_@itemJr.UniqueID').removeClass('hide'); }else{$('.RwJAck_@itemJr.UniqueID').addClass('hide');}" id="IsBasarili_@itemJr.UniqueID">
                                                                            <option></option>
                                                                            <option value="true" selected="">Başarılı</option>
                                                                            <option value="false">Başarısız</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr class="RwJAck_@itemJr.UniqueID">

                                                                    <td colspan="3">
                                                                        <table style="width:100%;margin-top:5px;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="CaptionTd ctWidth" width="280"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="ValueTd">
                                                                                        <textarea placeholder="Değerlendirme Sonucu Açıklaması" id="Aciklama_@itemJr.UniqueID" maxlength="2048" style="min-height:140px;resize:vertical;border:1px solid;" class="form-control"></textarea>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                                <tr class="RwKBtn_@itemJr.UniqueID" style="border-top:1px solid;">
                                                                    <td class="CaptionTd ctWidth" width="280"></td>
                                                                    <td class="CaptionTd">:</td>
                                                                    <td class="ValueTd" style="padding-top:5px;font-size:11pt;">
                                                                        <span class="label label-primary" style="cursor:pointer;" onclick="AraRaporDegerlendir('@itemJr.UniqueID')"><i class="fa fa-save" aria-hidden="true"></i> Değerlendirmeyi Kaydet</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>

                                        }

                                    </tbody>
                                </table>

                            </div>
                        }
                        else
                        {
                            <br />
                            <table class="table">
                                <tr class="info" style="text-align: center;">
                                    <td>Yeterlik jüri üyeleri henüz oluşturulmadı. Üyeleri oluşturmak için Jüri üyelerini oluştur butonuna tıklayınız.</td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
            </table>
        </div>



    }
</div>

<script>

    function GetYeterlikJuriUyeleri(id,adSoyad) {
        $.ajax({
            url: '@Url.Action("GetYeterlikJuriFormu")',
            data: { id: id },
            async: false,
            success: function (result) {
                if (result.success) {
                    bootbox.dialog({
                        message: "<div id='juriUyeContent'>" + result.view + "</div>",
                        title: "<span style='font-size:9pt;color:#02393e;font-weight:bold;'>" + adSoyad + " Öğrencisi İçin Yeterlik Jüri Üyeleri Tanımlama</span>",

                        buttons: {
                            success: {
                                label: "Kaydet",
                                className: "btn-success",
                                callback: function () {
                                    var pnlx = $('.modal-content');
                                    PanelRefresh(pnlx, false);
                                    $('#FrmYeterlikJuri').ajaxForm({
                                        success: function (resultJ) {
                                            if (resultJ.IsSuccess) {
                                                toastr["success"]("Yeterlik jüri oluşturma işlemi tamamlandı.", "Yeterlik Jüri Oluşturma İşlemi");
                                                GetDetail(id);
                                                $('.modal-header').find('button').first().click();
                                            }
                                            else {
                                                if (resultJ.mMessage.Messages.length > 0) getMsg(resultJ.mMessage);
                                                $("[href='#tab-" + resultJ.SelectedTabId + "']").first().click();
                                            }
                                        },
                                        complete: function (cmp) {
                                            PanelRefresh(pnlx, true);
                                        }
                                    }).submit();
                                    return false;
                                }
                            },
                            danger: {
                                label: "Kapat",
                                className: "btn-primary",
                                callback: function () {
                                }
                            }
                        }
                    });
                }
                else {
                    swal.fire({
                        html: result.message,
                        icon: "warning",
                        type: "warning",
                        confirmButtonText: 'tamam',
                        padding: '2em'
                    });
                }
            }
        });
    }
    function showDetailY(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
    }
</script>

