@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@model DmYeterlikDetayDto
@{
    Layout = null;
    var abdKayitYetki = RoleNames.AnabilimDallari.InRoleCurrent();
}
<style>

    .CaptionTd {
        font-weight: bold;
        font-size: 9pt;
        margin: 0px;
    }

    .ValueTd {
        font-size: 9pt;
        margin: 0px;
        text-align: left;
    }
</style>
<div class="panel" style="border: none;" id="bsvrDet_@Model.UniqueID">
    <div class="widget widget-default" style="border-top: 1px solid; border-top-color: lightgray; margin-bottom: 8px; padding: 6px 10px;">
        <table style="width: 100%;">
            <tr>
                <td style="font-weight: bold; font-size: 11pt; border-bottom: 1px solid;"><i class="fa fa-id-card-o fa-lg"></i> Öğrenci Bilgileri</td>
                <td width="100" style="font-weight: bold; font-size: 15pt; border-bottom: 1px solid; text-align: right;">
                    @if (!Model.IsDegerlendirme.HasValue)
                    {
                        <a href="javascript:void(0);" onclick="GetDetail('@Model.UniqueID');" class="panel-refresh"><span class="fa fa-refresh" aria-hidden="true"></span></a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" onclick="GetDetail('@Model.UniqueID','@Model.IsKomiteOrJuri.ToString().ToLower()','@Model.IsDegerlendirme');" class="panel-refresh"><span class="fa fa-refresh" aria-hidden="true"></span></a>
                    }
                </td>

            </tr>
            <tr>
                <td style="padding-left: 10px; text-align: left;">

                    <table style="width: 100%;">
                        <tr>
                            <td class="CaptionTd" width="150">Ad Soyad</td>
                            <td class="CaptionTd" width="10">:</td>
                            <td class="ValueTd">
                                @Model.AdSoyad (@Model.OgrenciNo)
                            </td>
                        </tr>
                        <tr>
                            <td class="CaptionTd">Öğrenim Seviyesi</td>
                            <td class="CaptionTd">:</td>
                            <td class="ValueTd">@Model.OgrenimTipAdi</td>
                        </tr>
                        <tr>
                            <td class="CaptionTd">Anabilimdalı / Program</td>
                            <td class="CaptionTd">:</td>
                            <td class="ValueTd">@Model.AnabilimdaliAdi / @Model.ProgramAdi</td>
                        </tr>
                        @if (abdKayitYetki)
                        {
                            <tr>
                                <td class="CaptionTd">ABD Komite Üyeleri</td>
                                <td class="CaptionTd">:</td>
                                <td class="ValueTd">
                                    <label class="label label-@(Model.AbdYeterlikKomiteUyeCount>0 ? "success" : "default") label-form" onclick="GetYeterlikKomiteUyeleri(@Model.AnabilimDaliID);" style="cursor: pointer; margin: 0px; padding: 2px 5px;" id="yeterlikUyeRowContent_@Model.AnabilimDaliID"><i class="fa fa-group fa-lg"></i> @Model.AbdYeterlikKomiteUyeCount Üye</label>
                                </td>
                            </tr>

                        }
                        <tr>
                            <td class="CaptionTd">Kayıt Dönem</td>
                            <td class="CaptionTd">:</td>
                            <td class="ValueTd">@Model.KayitDonemi</td>
                        </tr>
                        <tr>
                            <td class="CaptionTd">Okuduğu Dönem</td>
                            <td class="CaptionTd">:</td>
                            <td class="ValueTd">@(Model.OkuduguDonemNo).Dönem</td>
                        </tr>
                        <tr>
                            <td class="CaptionTd">Danışman</td>
                            <td class="CaptionTd">:</td>
                            <td class="ValueTd">
                                <a href="javascript:void(0);" onclick="DetayGor('@Model.TezDanismaniUserKey')">@Model.DanismanAdi</a> 
                            </td>
                        </tr>


                    </table>
                </td>
                <td width="100" style="text-align: center;">
                    <img src="@(Model.ResimAdi.ToKullaniciResim())" style="width: 90px; height: 90px;" class="img-circle img-thumbnail">
                </td>
            </tr>

        </table>
        @if (!Model.IsDegerlendirme.HasValue)
        {
            @Model.ToEnstituBasvuruOnayView()
        }
    </div>


    @if (Model.IsEnstituOnaylandi == true)
    {

        if (Model.IsKomiteOrJuri == true)
        {
            @Model.ToJuriUyeleriListView()
            var itemKom = Model.DmYeterlikKomites.First(p => p.UniqueID == Model.IsDegerlendirme);
            <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;">Yeterlik ABD Komite Üyesi Önerilen Jüri Değerlendirmesi</td>
                        </tr>
                        <tr>
                            <td style="padding-left:10px;text-align:left;">
                                <table style="width:100%;">
                                    <tr>
                                        <td class="CaptionTd" width="140">Adı Soyadı</td>
                                        <td class="CaptionTd" width="10">:</td>
                                        <td class="ValueTd">@itemKom.UnvanAdi @itemKom.AdSoyad</td>
                                    </tr>
                                    <tr>
                                        <td class="CaptionTd">Onay Durumu</td>
                                        <td class="CaptionTd">:</td>
                                        <td class="ValueTd">
                                            @if (!itemKom.IsJuriOnaylandi.HasValue)
                                            {
                                                <select id="KomiteIsOnaylandi_@itemKom.UniqueID">
                                                    <option></option>
                                                    <option value="true" @itemKom.IsJuriOnaylandi.ToSelected()>Önerilen Yeterlik Jüri Üyelerini Onaylıyorum</option>
                                                </select>
                                            }
                                            else
                                            {
                                                @itemKom.ToKomiteOnayDurumView()
                                            }
                                        </td>
                                    </tr>

                                    @if (!itemKom.IsJuriOnaylandi.HasValue)
                                    {
                                        <tr class="RwKBtn_@itemKom.UniqueID">
                                            <td></td>
                                            <td>:</td>
                                            <td style="padding-top: 5px; font-size: 11pt;">
                                                <span class="label label-primary" style="cursor: pointer;" onclick="KomiteJuriOnayKayit('@Model.UniqueID','@itemKom.UniqueID')"><i class="fa fa-save" aria-hidden="true"></i> Onaylama İşlemini Kaydet</span>
                                            </td>
                                        </tr>

                                    }
                                </table>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        }
        else if (Model.IsKomiteOrJuri == false)
        {

            @Model.ToSinavView()

        }
        else
        {
            @Model.ToJuriUyeleriListView()
            if (Model.DmYeterlikKomites.Any())
            {
                @Model.ToKomiteDegerlendirmeListView()
            }

            if (Model.IsAbdKomitesiJuriyiOnayladi == true)
            {
                @Model.ToSinavView()
            }
        }
    }
</div>
<script>
    function ContentShowDt(id,name) {
        var isShow = $('#' + name+'_shower_' + id).hasClass('fa-angle-down')
        if (isShow) {
            $('#'+ name+'Content_' + id).removeClass('hide');
            $('#' + name + '_shower_' + id).removeClass('fa-angle-down').addClass('fa-angle-up');
        }
        else {
            $('#'+ name+'Content_' + id).addClass('hide');
            $('#' + name + '_shower_' + id).removeClass('fa-angle-up').addClass('fa-angle-down');
        }
    }
    function KomiteJuriOnayKayit(id, uniqueID) {
         Swal.fire({
            html: "Yukarıda listelenen yeterlik jüri üyeleri için onay işleminizi kaydetmek istiyor musunuz?",
            type: 'warning',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Kaydet',
            confirmButtonColor: 'green',
            cancelButtonText: 'Vazgeç',
            showLoaderOnConfirm: true,
            backdrop: true,
            padding: '2em',
            allowOutsideClick: false,
            preConfirm: function () {
                $('.swal2-cancel').first().text("Kaydediliyor...");
                return new Promise(function (resolve) {
                    var isGenelSonucBasarili = $('#KomiteIsOnaylandi_' + uniqueID).val();
                    $.ajax({
                        url: '@Url.Action("KomiteJuriOnay", "Yeterlik")',
                        data: { uniqueID, isGenelSonucBasarili  },
                        success: function (result) {
                            GetDetail(id);
                            swal.fire({
                                html: result.messageView,
                                icon: (result.IsSuccess ? "success" : "error"),
                                type: (result.IsSuccess ? "success" : "error"),
                                confirmButtonText: 'tamam',
                                padding: '2em'
                            });
                        },
                        complete: function (err) {
                        }
                    });
                });
            }
        });

    }
    function JuriUyeleriKaydet(id) {
        Swal.fire({
            html: "Jüri bilgilerini kaydetmek istiyor musunuz?",
            type: 'warning',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Kaydet',
            confirmButtonColor: 'green',
            cancelButtonText: 'Vazgeç',
            showLoaderOnConfirm: true,
            backdrop: true,
            padding: '2em',
            allowOutsideClick: false,
            preConfirm: function () {
                $('.swal2-cancel').first().text("Kaydediliyor...");
                return new Promise(function (resolve) {
                    $('.btnKaydetYj_' + id).addClass('disabled');
                    var pnlx = $('.modal-content');
                    PanelRefresh(pnlx, false);
                    $('#FrmYeterlikJuri').ajaxForm({
                        success: function (resultJ) {
                            if (resultJ.IsSuccess) {
                                toastr["success"]("Yeterlik jüri oluşturma işlemi tamamlandı.", "Yeterlik Jüri Oluşturma İşlemi");
                                GetDetail(id);
                                $('.modal-header').find('button').first().click();

                            }
                            else {
                                if (resultJ.mMessage.Messages.length > 0) getMsg(resultJ.mMessage);
                                $("[href='#tab-" + resultJ.SelectedTabId + "']").first().click();
                            }
                            Swal.close();
                        },
                        complete: function (cmp) {
                            $('.btnKaydetYj_' + id).removeClass('disabled');
                            PanelRefresh(pnlx, true);
                        }
                    }).submit();
                });
            }
        });
    }
    function GetYeterlikJuriUyeleri(id, adSoyad) {
        $.ajax({
            url: '@Url.Action("GetYeterlikJuriFormu")',
            data: { id: id },
            success: function (result) {
                if (result.success) {
                    bootbox.dialog({
                        message: "<div id='juriUyeContent'>" + result.view + "</div>",
                        title: "<span style='font-size:9pt;color:#02393e;font-weight:bold;'>" + adSoyad + " Öğrencisi İçin Yeterlik Jüri Üyeleri Tanımlama</span>",

                        buttons: {
                            success: {
                                label: "Kaydet",
                                className: "btn-success btnKaydetYj_"+id,
                                callback: function () {
                                    JuriUyeleriKaydet(id);
                                    return false;
                                }
                            },
                            danger: {
                                label: "Kapat",
                                className: "btn-primary",
                                callback: function () {
                                }
                            }
                        }
                    });
                }
                else {
                    swal.fire({
                        html: result.message,
                        icon: "warning",
                        type: "warning",
                        confirmButtonText: 'tamam',
                        padding: '2em'
                    });
                }
            }
        });
    }
    function ShowDetailY(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
    }
    $(function () {
        var _times = [];
        for (var i = 8; i <= 23; i++) {
            var _saat = i;
            if (i < 10) _saat = "0" + i;
            for (var i2 = 0; i2 <= 30; i2 += 30) {
                var _dkk = i2;
                if (i2 == 0) _dkk = "00";
                _times.push(_saat + ":" + _dkk);
            }
        }
        $('.SinavTarihi').datetimepicker({
            inline: false,
            allowTimes: _times,
            step: 30,
            timepicker: true,
            format: 'Y-m-d H:i'
        });
        $.datetimepicker.setLocale('tr'); 
    });

</script>
@if (abdKayitYetki)
{
    <script>
       function GetYeterlikKomiteUyeleriView(id) {
        var view = "";
        $.ajax({
            url: '@Url.Action("YeterlikKomiteUyeleri","AnabilimDallari")',
            data: { id: id },
            async: false,
            success: function (result) {
                view = result;
            }
        });
        return view;
    }
    function GetYeterlikKomiteUyeleri(id) {
        var view = GetYeterlikKomiteUyeleriView(id);
        bootbox.dialog({
            message: "<div id='komiteUyeContent'>" +  view + "</div>",
            title: "Anabilimdalı Yeterlik Komite Üyeleri",
            buttons: {
                danger: {
                    label: "Kapat",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });

    }
    </script>
}

