@using BiskaUtil
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model LisansUstuBasvuruSistemi.Utilities.Dtos.DmYeterlikDetayDto
@{
    Layout = null;
    var openRow = !Model.IsAbdKomitesiJuriyiOnayladi.HasValue;
    var yetki = RoleNames.YeterlikAbdJuriOnayDuzeltme.InRoleCurrent() && !Model.IsDegerlendirme.HasValue;
}

<div class="widget widget-default" style="border-top: 1px solid; border-top-color: lightgray; margin-bottom: 8px; padding: 6px 10px; min-height: 40px;" id="enstituOnayPanel_@Model.UniqueID">
    <table style="width: 100%;">
        <tr>
            <td style="font-weight: bold; font-size: 11pt; border-bottom: 1px solid;"><i class="fa fa-group fa-lg" aria-hidden="true"></i> ABD Komite Üyeleri Yeterlik Jüri Değerlendirmesi <span style="font-size: 8pt;">@(Model.IsAbdKomitesiJuriyiOnayladi.HasValue?"(Tamamlandı)":"")</span></td>
            <td width="120" style="font-weight: bold; font-size: 11pt; border-bottom: 1px solid; padding-bottom: 2px;">
                @if (Model.DmYeterlikKomites.All(a => a.IsJuriOnaylandi.HasValue))
                {
                    <ul class="panel-controls">
                        <li>
                            <a href="javascript:void(0)" onclick="ContentShowDt('@Model.UniqueID','Km')"><span id="Km_shower_@Model.UniqueID" class="fa fa-angle-@(openRow ? "down" : "up")" aria-hidden="true"></span> </a>
                        </li>
                    </ul>
                }
                else if (yetki && !Model.DmYeterlikKomites.Any(a => a.IsJuriOnaylandi.HasValue))
                {
                    <span class="label label-warning" style="cursor: pointer;" onclick="KomiteUyeleriGuncelle('@Model.UniqueID','@Model.AdSoyad')"><i class="fa fa-refresh" aria-hidden="true"></i> Komite Üyelerini Güncelle</span>
                }
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left: 10px;">
                @if (Model.DmYeterlikKomites.Any())
                {
                    <div class="widget widget-default @(openRow?"":"hide")" id="KmContent_@Model.UniqueID" style="border-top: 1px solid; border-top-color: lightgray; margin-bottom: 8px; padding: 6px 10px;">
                        <table class="table" style="width: 100%; margin: 0px;">
                            <tr class="warning">
                                <th width="35"></th>
                                <th>Ad Soyad</th>
                                <th>Komite Jüri Onay Durumu</th>
                                <th width="45"></th>
                            </tr>
                            <tbody>

                                @foreach (var itemKom in Model.DmYeterlikKomites.OrderBy(o => o.AdSoyad))
                                {

                                    var onayDuzeltmeYetki = RoleNames.YeterlikAbdJuriOnayDuzeltme.InRoleCurrent() && !Model.SozluSinavTarihi.HasValue;
                                    <tr>
                                        <td>
                                            <ul class="panel-controls">
                                                <li id="iShow_Km_@itemKom.UniqueID" onclick="ShowDetailY('Km_@itemKom.UniqueID')">
                                                    <a href="javascript:void(0)"><span class="fa fa-angle-up"></span> </a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" onclick="detayGor(@itemKom.KullaniciID)">@itemKom.UnvanAdi @itemKom.AdSoyad</a> <br /> @itemKom.EMail
                                        </td>
                                        <td>
                                            @itemKom.ToKomiteOnayDurumView()
                                        </td>
                                        <td>
                                            @if (onayDuzeltmeYetki && openRow)
                                            {
                                                <a href="javascript:void(0)" title="Komtie üyesi bilgisini düzelt" onclick="HesapKayit(@itemKom.KullaniciID)"><i class="fa fa-edit fa-lg"></i></a>
                                                <a href="javascript:void(0)" title="Değerlendirme Linkini Tekrar Gönder" onclick="KomiteLinkGonder('@Model.UniqueID','@itemKom.UniqueID','@itemKom.UnvanAdi @itemKom.AdSoyad');"><i class="fa fa-envelope fa-lg"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="MainRow2 cls-Km_@itemKom.UniqueID" style="display:none;">
                                        <td id="cls-Km_@itemKom.UniqueID" colspan="5" style="padding: 1px 1px 2px 50px;">
                                            <div class="widget widget-default" style="border-top: 1px solid; border-top-color: lightgray; margin-bottom: 8px; padding: 6px 10px; min-height: 20px;">
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="CaptionTd" width="180">Onay Durumu</td>
                                                            <td class="CaptionTd" width="10">:</td>
                                                            <td class="ValueTd">
                                                                @if (onayDuzeltmeYetki)
                                                                {
                                                                    <select id="KomiteIsOnaylandi_@itemKom.UniqueID">
                                                                        <option></option>
                                                                        <option value="true" @itemKom.IsJuriOnaylandi.ToSelected()>Belirlenen Yeterlik Jürilerini Onaylıyorum</option>
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    @itemKom.ToKomiteOnayDurumView()
                                                                }
                                                            </td>
                                                        </tr>

                                                        @if (onayDuzeltmeYetki)
                                                        {
                                                            <tr class="RwKBtn_@itemKom.UniqueID">
                                                                <td class="CaptionTd"></td>
                                                                <td class="CaptionTd">:</td>
                                                                <td class="ValueTd" style="padding-top: 5px; font-size: 11pt;">
                                                                    <span class="label label-primary" style="cursor: pointer;" onclick="KomiteJuriOnayKayit('@Model.UniqueID','@itemKom.UniqueID')"><i class="fa fa-save" aria-hidden="true"></i> Onaylama İşlemini Kaydet</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>

                    </div>

                }
            </td>
        </tr>
    </table>
</div>

<script>
    function KmContentShow(id) {
        var isShow = $('#Km_shower_' + id).hasClass('fa-angle-up')
        if (isShow) {
            $('#kmtContent_' + id).removeClass('hide');
            $('#Km_shower_' + id).removeClass('fa-angle-up').addClass('fa-angle-down');
        }
        else {
            $('#kmtContent_' + id).addClass('hide');
            $('#Km_shower_' + id).removeClass('fa-angle-down').addClass('fa-angle-up');
        }
    }

    function KomiteLinkGonder(id, uniqueId, adSoyad) {
        Swal.fire({
            html: adSoyad + " isimli komite üyesine yeni yeterlik jüri değerlendirme linki göndermek istiyor musunuz?<br><span style='color:maroon;'><b>Not:</b> Link bilgisi gönderildikten sonra üyenin yapmış olduğu değerlendirme var ise sıfırlanır ve daha önceden gönderilen değerlendirme linki geçersiz olur.</span> ",
            type: 'warning',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Gönder',
            confirmButtonColor: 'green',
            cancelButtonText: 'Vazgeç',
            showLoaderOnConfirm: true,
            backdrop: true,
            padding: '2em',
            allowOutsideClick: false,
            preConfirm: function () {
                $('.swal2-cancel').first().text("Gönderiliyor...");
                return new Promise(function (resolve) {

                    $.ajax({
                        url: '@Url.Action("KomiteDegerlendirmeLinkiGonder", "Yeterlik")',
                        data: {  uniqueId },
                        success: function (result) {
                            if (result.IsSuccess) {
                                GetDetail(id);
                            }
                            swal.fire({
                                html: result.messageView,
                                icon: (result.IsSuccess ? "success" : "error"),
                                type: (result.IsSuccess ? "success" : "error"),
                                confirmButtonText: 'tamam',
                                padding: '2em'
                            });
                        },
                        complete: function (result) {
                        }
                    });

                });
            }
        });
    }
    function KomiteUyeleriGuncelle(id, adSoyad) {
        Swal.fire({
            html: adSoyad + " isimli öğrenci başvurusuna ait Komite üyelerini güncellemek istiyor musunuz?<br><span style='color:maroon;'><b>Not:</b> Anabilim Dalına eşleştirilmiş güncel komite bilgileri çekilecek.</span> ",
            type: 'warning',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Güncelle',
            confirmButtonColor: 'green',
            cancelButtonText: 'Vazgeç',
            showLoaderOnConfirm: true,
            backdrop: true,
            padding: '2em',
            allowOutsideClick: false,
            preConfirm: function () {
                $('.swal2-cancel').first().text("Güncelleniyor...");
                return new Promise(function (resolve) {
                    $.ajax({
                        url: '@Url.Action("KomiteBilgileriGuncelle", "Yeterlik")',
                        data: { id },
                        success: function (result) {
                            debugger
                            if (result.IsSuccess) {
                                GetDetail(id);
                            }
                            swal.fire({
                                html: result.messageView,
                                icon: (result.IsSuccess ? "success" : "error"),
                                type: (result.IsSuccess ? "success" : "error"),
                                confirmButtonText: 'tamam',
                                padding: '2em'
                            });
                        },
                        complete: function (result) {
                        }
                    });

                });
            }
        });
    }
</script>


