@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Models 
@using LisansUstuBasvuruSistemi.Utilities.Dtos 
@using LisansUstuBasvuruSistemi.Utilities.Enums 
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model  fmTDOBasvuru
@{
    var IndexModel = (MIndexBilgi)ViewBag.IndexModel;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bilgiModel = (IndexPageInfoDto)ViewBag.bModel;
    var kyetki = RoleNames.TDOGelenBasvuruKayit.InRoleCurrent();
}

<div class="row">
    <div class="col-md-12">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
            <table style="width:100%;">
                <tr>
                    <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-bullhorn fa-lg"></i> Başvuru Biglisi</td>
                </tr>
                <tr>
                    <td width="200">Enstitü</td>
                    <td width="10">:</td>
                    <td>
                        @bilgiModel.Enstitü.EnstituAd
                    </td>
                </tr>
                <tr>
                    <td>Ad Soyad</td>
                    <td>:</td>
                    <td>@bilgiModel.Kullanici.Ad @bilgiModel.Kullanici.Soyad</td>
                </tr>
                @if (!bilgiModel.KullaniciTipYetki)
                {
                    <tr>
                        <td></td>
                        <td>:</td>
                        <td> @bilgiModel.KullaniciTipYetkiYokMsj</td>
                    </tr>
                }
                @if (bilgiModel.SistemBasvuruyaAcik && bilgiModel.KullaniciTipYetki)
                {
                    if (Model.AktifOgrenimIcinBasvuruVar)
                    {
                        <tr>
                            <td>Not</td>
                            <td>:</td>
                            <td>Okuduğunuz '@bilgiModel.ProgramAdi' programı için Tez danışmanı öneri başvurunuz bulunmaktadır. Yeni danışman önerisinde bulunmak için aşağıda bulunan Yeni Tez Danışmanı Öner isimli mavi butona tıklayınız </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Başvuru Durumu</td>
                            <td>:</td>
                            <td>Sistem Başvuru alımına açıktır. Başvuru yapmak için Yeni Başvuru butonuna tıklayınız.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>:</td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="newApp()"><i class="fa fa-plus"></i> Yeni Başvuru</button>
                            </td>
                        </tr>
                    }

                }
                else
                {
                    if (bilgiModel.SistemBasvuruyaAcik == false)
                    {
                        <tr>
                            <td>Başvuru Durumu</td>
                            <td>:</td>
                            <td>
                                Sistem başvuru işlemlerine kapalıdır. Başvuru İşlemi ile ilgili detaylı bilgi almak için duyuruları takip edebilirsiniz.
                                <br />
                                <a href="@Url.Action("Index", "KDuyurular")"> Duyurular Sayfaya Gitmek İçin Tıklayınız</a>
                            </td>
                        </tr>
                    }


                }
            </table>

        </div>

    </div>
</div>

<div class="row">
    @using (Html.BeginForm())
    {

        <div class="col-md-12">

            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Başvurularım</h3>
                    <ul class="panel-controls"></ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="75"></th>
                                <th>Ad Soyad</th>
                                <th width="160">Aktif Başvuru Dönemi</th>
                                <th width="350">Aktif Başvuru Durumu</th>
                                <th width="45"></th>
                            </tr>

                        </thead>
                        <tbody>

                            @if (Model.RowCount > 0)
                            {

                                int RowIndex = Model.StartRowIndex; string trCls = "odd";
                                foreach (var item in Model.Data)
                                {
                                    RowIndex++;
                                    trCls = RowIndex % 2 == 1 ? "" : "even";
                                    <tr style="color:@item.DurumColor;">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@RowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.TDOBasvuruID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="showDetail('@item.TDOBasvuruID')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table" style="padding:0px;margin:0px;border:none;table-layout:fixed;">
                                                <tr>
                                                    <td class="clsHide" style="margin:0px;border:none;" width="40"> <img src="@item.ResimAdi.ToKullaniciResim()" style="width:40px;height:40px;cursor:pointer;" onclick="detayGor(@item.KullaniciID)" class="img-circle img-thumbnail"></td>
                                                    <td style="margin:0px;border:none;"> @item.AdSoyad <br /> @item.KullaniciTipAdi</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            @item.AktifDonemAdi
                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td width="80">Danışman:</td>
                                                    <td>
                                                        @if (!item.AktifTDOBasvuruDanismanID.HasValue)
                                                        {
                                                            <span> Danışman Formu Oluşturulmadı </span>
                                                        }
                                                        else if ((item.TDOBasvuruDanisman.TDODanismanTalepTipID == TDODanismanTalepTip.TezDanismaniDegisikligi || item.TDOBasvuruDanisman.TDODanismanTalepTipID == TDODanismanTalepTip.TezDanismaniVeBaslikDegisikligi) && !item.VarolanDanismanOnayladi.HasValue)
                                                        {
                                                            <span aria-hidden="true"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> Varolan Danışman Onayı Bekleniyor</span>
                                                        }
                                                        else if ((item.TDOBasvuruDanisman.TDODanismanTalepTipID == TDODanismanTalepTip.TezDanismaniDegisikligi || item.TDOBasvuruDanisman.TDODanismanTalepTipID == TDODanismanTalepTip.TezDanismaniVeBaslikDegisikligi) && item.VarolanDanismanOnayladi == true && !item.DanismanOnayladi.HasValue)
                                                        {
                                                            <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> Varolan Danışman Tarafından Onayladı</span>
                                                        }
                                                        else if ((item.TDOBasvuruDanisman.TDODanismanTalepTipID == TDODanismanTalepTip.TezDanismaniDegisikligi || item.TDOBasvuruDanisman.TDODanismanTalepTipID == TDODanismanTalepTip.TezDanismaniVeBaslikDegisikligi) && item.VarolanDanismanOnayladi == false)
                                                        {
                                                            <span aria-hidden="true"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i>Varolan Danışman Tarafından Onaylamanmadı</span>
                                                        }
                                                        else if (!item.DanismanOnayladi.HasValue)
                                                        {
                                                            <span aria-hidden="true"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> Danışman Onayı Bekleniyor</span>
                                                        }
                                                        else if (item.DanismanOnayladi == true && !item.EYKYaGonderildi.HasValue)
                                                        {
                                                            <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> Danışman Tarafından Onayladı</span>
                                                        }
                                                        else if (item.DanismanOnayladi == false)
                                                        {
                                                            <span aria-hidden="true"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> Danışman Tarafından Onaylamanmadı</span>
                                                        }
                                                        else if (item.EYKYaGonderildi == true && !item.EYKDaOnaylandi.HasValue)
                                                        {
                                                            <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylandı</span>
                                                        }
                                                        else if (item.EYKYaGonderildi == false)
                                                        {
                                                            <span style="color:maroon;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylanmadı</span>
                                                        }
                                                        else if (item.EYKDaOnaylandi == true)
                                                        {
                                                            <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylandı</span>
                                                        }
                                                        else if (item.EYKDaOnaylandi == false)
                                                        {
                                                            <span style="color:maroon;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylanmadı</span>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Eş Danışman:</td>
                                                    <td>
                                                        @if (!item.EsDanismanOnerisiVar)
                                                        {
                                                            <span>Eş Danışman Formu Oluşturulmadı </span>
                                                        }
                                                        else if (!item.Es_EYKYaGonderildi.HasValue)
                                                        {
                                                            <span aria-hidden="true"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Bekleniyor</span>
                                                        }
                                                        else if (item.Es_EYKYaGonderildi == true && !item.Es_EYKDaOnaylandi.HasValue)
                                                        {
                                                            <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylandı</span>
                                                        }
                                                        else if (item.Es_EYKYaGonderildi == false)
                                                        {
                                                            <span style="color:maroon;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylanmadı</span>
                                                        }
                                                        else if (item.Es_EYKDaOnaylandi == true)
                                                        {
                                                            <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylandı</span>
                                                        }
                                                        else if (item.Es_EYKDaOnaylandi == false)
                                                        {
                                                            <span style="color:maroon;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylanmadı</span>
                                                        }

                                                    </td>
                                                </tr>
                                            </table>

                                        </td>

                                        <td>
                                            @if (item.DanismanOnayladi != true)
                                            {
                                                <a href="@Url.Action("BasvuruYap", "TDOBasvuru", new { TDOBasvuruID = item.TDOBasvuruID })"><i style="font-size: 11pt; color: @item.DurumColor;" class="fa fa-edit " data-style="blue" data-original-title="Düzelt"></i></a>
                                                <a href="javascript:void(0)" onclick="getDetailx('@item.TDOBasvuruID',true,this)"><i style="font-size: 11pt; color: @item.DurumColor;" class="glyphicon glyphicon-trash " data-style="blue" data-original-title="Sil"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="cls-@item.TDOBasvuruID" style="display:none">
                                        <td id="cls-@item.TDOBasvuruID" class="clspTd" colspan="5" style="padding: 1px 1px 2px 75px;"></td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="clspTd" style="text-align: center;">
                                        Listelenen Kayıt Yok
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>

        </div>
    }
</div>
@if (Model.TDOBasvuruID.HasValue || Model.RowCount > 0)
{
    <script>
        $(function () {
            showDetail('@(Model.TDOBasvuruID ?? Model.Data.First().TDOBasvuruID)');
            if ('@(Model.TDOBasvuruID.HasValue.ToString().ToLower())' == 'true') setTimeout(function () { GetTDODanismanFormu(@Model.TDOBasvuruID); }, 250);

        },200)
    </script>
}


<script type="text/javascript">
    $(function () {
        Resized(window.innerWidth);
    })
    function Resized(screenwidth) {
        if (screenwidth <= 800) {
            $('.clsHide').addClass('hide');
            $('.clspTd').attr("colspan", "4");
            $('.ctWidth').removeAttr('width');
        }
        else {
            $('.clsHide').removeClass('hide');
            $('.clspTd').attr("colspan", "5");
            $('.ctWidth').attr('width', '280');

        }
    }
    window.addEventListener('resize', function (event) {
        Resized(window.innerWidth);
    });
    function showDetailY(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
    }
    function newApp() {
        showDuyuru(@DuyuruPopupTipleri.TDOBasvuru, '@Url.Action("BasvuruYap",new { KullaniciID=Model.KullaniciID})');
    }


    function showDetail(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled) getDetailx(id);

    }
    function getDetailx(id, Isdelete, sndr) {

        var _panel = $('#bsvrDet_' + id);
        _pRefresh(_panel, false);

        $.ajax({
            url: '@Url.Action("getDetailTDOBasvuru", "Ajax")',
            data: { id: id,  IsDelete: (Isdelete == true) },
            success: function (result) {
                if (Isdelete != true) {
                    $('#cls-' + id).html(result);
                    Resized(window.innerWidth);
                    _pRefresh(_panel, true);
                }
                else {
                    _pRefresh(_panel, true);
                    var btbx = bootbox.dialog({
                        message: result + " <br/><br/><table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;text-align:center;color:maroon;'>Seçilen Başvuruyu Silmek İstiyor Musunuz?</td></tr></table>",
                        title: "Başvuru Silme İşlemi",
                        buttons: {
                            success: {
                                label: 'Başvuruyu Sil',
                                className: "btn-danger",
                                callback: function () {
                                    sil(sndr, id);
                                }
                            },
                            danger: {
                                label: 'Vazgeç',
                                className: "btn-primary",
                                callback: function () {
                                }
                            }
                        }
                    });
                    //$(btbx).find('.modal-dialog').addClass('modal-lg');

                }
                var $YnBtn = $('#YeniRaporBtn_' + id);
                if ($YnBtn.length > 0) {
                    $YnBtn.pulsate({
                        color: "#fdbe41",
                        reach: 60,
                        repeat: 24,
                        speed: 300,
                        glow: true
                    });
                }
            },
            error: function (err) {
                alert(err.responseText);
                _pRefresh(_panel, true);
            }
        });

    }

    function sil(sndr, id) {
        $.ajax({
            url: '@Url.Action("Sil", "TDOBasvuru")',
            data: { id: id},
            success: function (result) {
                if (result.IsSuccess) {
                    $(sndr).closest("tr").remove();
                    $(".cls-" + id).remove();
                }
                showMmMessage(result.Messages, 'Tamam');
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
    function silDetay(sndr, id, TDOBasvuruDanismanID, tarih) {
        var _panel = $('#bsvrDet_' + id);
        _pRefresh(_panel, false);
        var btbx = bootbox.dialog({
            message: "<br/><table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;color:maroon;'>" + tarih + " tarihli danışman öneri formu başvurusunu silmek istiyor musunuz?</td></tr></table><br/>",
            title: "Danışman Öneri Formu Silme İşlemi",
            buttons: {
                success: {
                    label: 'Danışman Öneri Formunu Sil',
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("DetaySil", "TDOBasvuru")',
                            data: { id: id, TDOBasvuruDanismanID: TDOBasvuruDanismanID },
                            success: function (result) {
                                _pRefresh(_panel, true);
                                if (result.IsSuccess) {
                                    getDetailx(id);
                                }
                                showMmMessage(result.Messages, 'Tamam');
                            },
                            error: function (err) {
                                _pRefresh(_panel, true);
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: 'Vazgeç',
                    className: "btn-primary",
                    callback: function () {
                        _pRefresh(_panel, true);
                    }
                }
            }
        });
    }
    function silDetayEs(sndr, id, uniqueID, tarih) {
        var _panel = $('#bsvrDet_' + id);
        _pRefresh(_panel, false);
        var btbx = bootbox.dialog({
            message: "<br/><table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;color:maroon;'>" + tarih + " tarihli eş danışman öneri formu başvurusunu silmek istiyor musunuz?</td></tr></table><br/>",
            title: "Eş Danışman Öneri Formu Silme İşlemi",
            buttons: {
                success: {
                    label: 'Eş Danışman Öneri Formunu Sil',
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("DetaySilEs", "TDOBasvuru")',
                            data: { id: id, uniqueID: uniqueID },
                            success: function (result) {
                                _pRefresh(_panel, true);
                                if (result.IsSuccess) {
                                    getDetailx(id);
                                }
                                showMmMessage(result.Messages, 'Tamam');
                            },
                            error: function (err) {
                                _pRefresh(_panel, true);
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: 'Vazgeç',
                    className: "btn-primary",
                    callback: function () {
                        _pRefresh(_panel, true);
                    }
                }
            }
        });
    }


    function GetTDODanismanFormu(TDOBasvuruID, TDOBasvuruDanismanID, isCopy, TDODanismanTalepTipID ) {
          var _panel = $('#bsvrDet_' + TDOBasvuruID);
            _pRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("GetTdoDanismanFormu", "TDOBasvuru")',
                data: {
                     TDOBasvuruID,
                     TDOBasvuruDanismanID,
                      isCopy,
                     TDODanismanTalepTipID
                },
                success: function (resultG) {
                    _pRefresh(_panel, true);
                    if (resultG.IsSuccess) {
                        var btbxxFS = bootbox.dialog({
                            message: resultG.Content,
                            //title: "<i class='fa fa-pencil'></i> Anket Sorusu Ekleme İşlemi",
                            buttons: {

                                success: {
                                    label: 'Kaydet',
                                    className: "btn-info",
                                    callback: function (event) {
                                        var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                        _pRefresh(pnlx, false);
                                        $('#FrmTDODanismanFormu').ajaxForm({
                                            success: function (result) { 
                                                if (result.IsSuccess) {
                                                    if (result.Messages.length > 0) toastr["success"](result.Messages.join('<br/>'), result.Title, { timeOut: 8000 });
                                                    var _clsBtn = $('.bootbox-close-button').first();
                                                    $(_clsBtn).click();
                                                    getDetailx(TDOBasvuruID);

                                                }
                                                else {
                                                    if (result.Messages.length > 0) getMsg(result);
                                                    return false;
                                                }
                                                _pRefresh(pnlx, true);
                                            },
                                            complete: function (cmp) {
                                                _pRefresh(pnlx, true);
                                            },
                                            error: function (err) {
                                                _pRefresh(pnlx, true);
                                            }

                                        }).submit();
                                        return false;
                                    }
                                },
                                danger: {
                                    label: 'Kapat',
                                    className: "btn-primary",
                                    callback: function () {
                                    }
                            }

                        }
                        });

                        $(btbxxFS).find('.modal-dialog').first().addClass('modal-lg');
                        if (resultG.Messages.trim()!="") showMmMessage(resultG.Messages, 'Tamam');

                    }
                    else {
                        showMmMessage(resultG.Messages, 'Tamam');
                    }

                },
                error: function (err) {
                    _pRefresh(_panel, true);
                    alert(err.responseText);

                }
            })
        }
    function GetTDOEsDanismanFormu(TDOBasvuruID, TDOBasvuruDanismanID, TDOBasvuruEsDanismanID, IsDegisiklikTalebi ) {
          var _panel = $('#bsvrDet_' + TDOBasvuruID);
            _pRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("GetTDOEsDanismanFormu", "TDOBasvuru")',
                data: {
                    'TDOBasvuruDanismanID': TDOBasvuruDanismanID,
                    'TDOBasvuruEsDanismanID': TDOBasvuruEsDanismanID,
                    'IsDegisiklikTalebi': IsDegisiklikTalebi
                },
                success: function (resultG) {
                    _pRefresh(_panel, true);
                    if (resultG.IsSuccess) {
                        var btbxxFS = bootbox.dialog({
                            message: resultG.Content,
                            buttons: {

                                success: {
                                    label: 'Kaydet',
                                    className: "btn-info",
                                    callback: function (event) {
                                        var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                        _pRefresh(pnlx, false);
                                        $('#FrmTDOEsDanismanFormu').ajaxForm({
                                            success: function (result) {
                                                if (result.IsSuccess) {
                                                    if (result.Messages.length > 0) toastr["success"](result.Messages.join('<br/>'), result.Title, { timeOut: 8000 });
                                                    var _clsBtn = $('.bootbox-close-button').first();
                                                    $(_clsBtn).click();
                                                    getDetailx(TDOBasvuruID);
                                                }
                                                else {
                                                    if (result.Messages.length > 0) getMsg(result);
                                                    return false;
                                                }
                                                _pRefresh(pnlx, true);
                                            },
                                            complete: function (cmp) {
                                                _pRefresh(pnlx, true);
                                            },
                                            error: function (err) {
                                                _pRefresh(pnlx, true);
                                            }

                                        }).submit();
                                        return false;
                                    }
                                },
                                danger: {
                                    label: 'Kapat',
                                    className: "btn-primary",
                                    callback: function () {
                                    }
                            }

                        }
                        });

                       // $(btbxxFS).find('.modal-dialog').first().addClass('modal-lg');
                        if (resultG.Messages.trim()!="") showMmMessage(resultG.Messages, 'Tamam');

                    }
                    else {
                        showMmMessage(resultG.Messages, 'Tamam');
                    }

                },
                error: function (err) {
                    _pRefresh(_panel, true);
                    alert(err.responseText);

                }
            })
        }
</script>

