@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Models 
@using LisansUstuBasvuruSistemi.Utilities.Dtos 
@using LisansUstuBasvuruSistemi.Utilities.Enums 
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model  FmTdoBasvuruDto
@{
    var IndexModel = (MIndexBilgi)ViewBag.IndexModel;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bilgiModel = (IndexPageInfoDto)ViewBag.bModel;
    var kyetki = RoleNames.TdoGelenBasvuruKayit.InRoleCurrent();
}

<div class="row">
    <div class="col-md-12">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
            <table style="width:100%;">
                <tr>
                    <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-bullhorn fa-lg"></i> Başvuru Biglisi</td>
                </tr>
                <tr>
                    <td width="200">Enstitü</td>
                    <td width="10">:</td>
                    <td>
                        @bilgiModel.Enstitü.EnstituAd
                    </td>
                </tr>
                <tr>
                    <td>Ad Soyad</td>
                    <td>:</td>
                    <td>@bilgiModel.Kullanici.Ad @bilgiModel.Kullanici.Soyad</td>
                </tr>
                @if (!bilgiModel.KullaniciTipYetki)
                {
                    <tr>
                        <td></td>
                        <td>:</td>
                        <td> @bilgiModel.KullaniciTipYetkiYokMsj</td>
                    </tr>
                }
                @if (bilgiModel.SistemBasvuruyaAcik && bilgiModel.KullaniciTipYetki)
                {
                    if (Model.AktifOgrenimIcinBasvuruVar)
                    {
                        <tr>
                            <td>Not</td>
                            <td>:</td>
                            <td>Okuduğunuz '@bilgiModel.ProgramAdi' programı için Tez danışmanı öneri başvurunuz bulunmaktadır. Yeni danışman önerisinde bulunmak için aşağıda bulunan Yeni Tez Danışmanı Öner isimli mavi butona tıklayınız </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Başvuru Durumu</td>
                            <td>:</td>
                            <td>Sistem Başvuru alımına açıktır. Başvuru yapmak için Yeni Başvuru butonuna tıklayınız.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>:</td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="YeniBasvuruDuyuruKontrol()"><i class="fa fa-plus"></i> Yeni Başvuru</button>
                            </td>
                        </tr>
                    }

                }
                else
                {
                    if (bilgiModel.SistemBasvuruyaAcik == false)
                    {
                        <tr>
                            <td>Başvuru Durumu</td>
                            <td>:</td>
                            <td>
                                Sistem başvuru işlemlerine kapalıdır. Başvuru İşlemi ile ilgili detaylı bilgi almak için duyuruları takip edebilirsiniz.
                                <br />
                                <a href="@Url.Action("Index", "KDuyurular")"> Duyurular Sayfaya Gitmek İçin Tıklayınız</a>
                            </td>
                        </tr>
                    }


                }
            </table>

        </div>

    </div>
</div>

<div class="row">
    @using (Html.BeginForm())
    {

        <div class="col-md-12">

            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Başvurularım</h3>
                    <ul class="panel-controls"></ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="75"></th>
                                <th>Ad Soyad</th>
                                <th width="160">Aktif Başvuru Dönemi</th>
                                <th width="350">Aktif Başvuru Durumu</th>
                                <th width="45"></th>
                            </tr>

                        </thead>
                        <tbody>

                            @if (Model.RowCount > 0)
                            { 
                                int rowIndex = Model.StartRowIndex;  
                                foreach (var item in Model.TdoBasvuruDtos)
                                {
                                    rowIndex++; 
                                    <tr style="color:@item.DurumColor;">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@rowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.TDOBasvuruID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="ShowDetail('@item.TDOBasvuruID')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table" style="padding:0px;margin:0px;border:none;table-layout:fixed;">
                                                <tr>
                                                    <td class="clsHide" style="margin:0px;border:none;" width="40"> <img src="@item.ResimAdi.ToKullaniciResim()" style="width:40px;height:40px;cursor:pointer;" onclick="detayGor(@item.KullaniciID)" class="img-circle img-thumbnail"></td>
                                                    <td style="margin:0px;border:none;"> @item.AdSoyad <br /> @item.KullaniciTipAdi</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            @item.AktifDonemAdi
                                        </td>
                                        <td>
                                            @item.ToBasvuruDurumView() 
                                        </td>

                                        <td>
                                            @if (!item.AktifTDOBasvuruDanismanID.HasValue)
                                            {
                                                <a href="@Url.Action("BasvuruYap", "TDOBasvuru", new { TDOBasvuruID = item.TDOBasvuruID })"><i style="font-size: 11pt; color: @item.DurumColor;" class="fa fa-edit " data-style="blue" data-original-title="Düzelt"></i></a>
                                                <a href="javascript:void(0)" onclick="BasvuruSil(this,@item.TDOBasvuruID,'@item.BasvuruTarihi.ToFormatDateAndTime()')"><i style="font-size: 11pt; color: @item.DurumColor;" class="glyphicon glyphicon-trash " data-style="blue" data-original-title="Sil"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="cls-@item.TDOBasvuruID" style="display:none">
                                        <td id="cls-@item.TDOBasvuruID" class="clspTd" colspan="5" style="padding: 1px 1px 2px 75px;"></td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="clspTd" style="text-align: center;">
                                        Listelenen Kayıt Yok
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>

        </div>
    }
</div>
@if (Model.TDOBasvuruID.HasValue || Model.RowCount > 0)
{
    <script>
        $(function () {
            ShowDetail('@(Model.TDOBasvuruID ?? Model.TdoBasvuruDtos.First().TDOBasvuruID)');
            if ('@(Model.TDOBasvuruID.HasValue.ToString().ToLower())' == 'true') setTimeout(function () { GetTDODanismanFormu(@Model.TDOBasvuruID); }, 250);

        },200)
    </script>
}


<script type="text/javascript">
    $(function () {
        Resized(window.innerWidth);
    })
    function Resized(screenwidth) {
        if (screenwidth <= 800) {
            $('.clsHide').addClass('hide');
            $('.clspTd').attr("colspan", "4");
            $('.ctWidth').removeAttr('width');
        }
        else {
            $('.clsHide').removeClass('hide');
            $('.clspTd').attr("colspan", "5");
            $('.ctWidth').attr('width', '280');

        }
    }
    window.addEventListener('resize', function (event) {
        Resized(window.innerWidth);
    });
    function showDetailY(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
    }
    function YeniBasvuruDuyuruKontrol() {
        ShowDuyuru(@DuyuruPopupTipleri.TDOBasvuru, '@Url.Action("BasvuruYap",new { KullaniciID=Model.KullaniciID})');
    } 
    function ShowDetail(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled) GetDetail(id);

    }
    function GetDetail(id) {

        var _panel = $('#bsvrDet_' + id);
        PanelRefresh(_panel, false); 
        $.ajax({
            url: '@Url.Action("GetDetailTdoBasvuru", "Ajax")',
            data: { id: id },
            success: function (result) { 
                $('#cls-' + id).html(result);
                Resized(window.innerWidth);
                PanelRefresh(_panel, true); 
                var $YnBtn = $('#YeniRaporBtn_' + id);
                if ($YnBtn.length > 0) {
                    $YnBtn.pulsate({
                        color: "#fdbe41",
                        reach: 60,
                        repeat: 24,
                        speed: 300,
                        glow: true
                    });
                }
            },
            error: function (err) {
                alert(err.responseText);
                PanelRefresh(_panel, true);
            }
        });

    }

    function BasvuruSil(sndr, id,tarih) {
        bootbox.dialog({
            message: "<table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;text-align:center;color:maroon;'>" + tarih+" tarihli başvurunuzu silmek istiyor musunuz?</td></tr></table>",
            title: "Başvuru Silme İşlemi",
            buttons: {
                success: {
                    label: 'Başvuruyu Sil',
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("Sil", "TDOBasvuru")',
                            data: { id: id },
                            success: function (result) {
                                if (result.IsSuccess) {
                                    $(sndr).closest("tr").remove();
                                    $(".cls-" + id).remove();
                                }
                                showMmMessage(result.Messages, 'Tamam');
                            },
                            error: function (err) {
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: 'Vazgeç',
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });

    }

</script>

