@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@model KmTDOBasvuruDanisman
@{
    Layout = null;
}
@using (Ajax.BeginForm("TdoDanismanDegisiklikFormuPost", "TDOBasvuru", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "FrmTdoFormu" }))
{
    @Html.HiddenFor(p => p.TDOBasvuruID);
    @Html.HiddenFor(p => p.TDOBasvuruDanismanID);   
    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:60px;">
        <table style="width:100%;">
            <tbody>
            <tr>
                <td class="CaptionTd" width="140">Yeni Danışman</td>
                <td class="CaptionTd" width="10">:</td>
                <td class="ValueTd form-group">
                    <input type="text" class="form-control" value="" style="width: 100%; color: black;" name="TezDanismanID" id="TezDanismanID"/>
                    @if (Model.TezDanismanID > 0)
                    {
                        <script>
                                    setTimeout(function () {
                                        var secilen =  @Html.Raw(Json.Encode(new { id = Model.TezDanismanID, text = Model.TDAdSoyad }));
                                        $("#TezDanismanID").select2('data', secilen);

                                    }, 1200);
                            </script>
                    }
                </td>
            </tr>
            <tr>
                <td class="CaptionTd">Anabilim Dalı</td>
                <td class="CaptionTd">:</td>
                <td class="ValueTd form-group">
                    @Html.DropDownList("TDAnabilimDaliID", Model.SListTDAnabilimDali, new { @class = "form-control", @style = "width:100%;color:black;", id = "TDAnabilimDaliID", onchange = "getPrograms(this);" })
                </td>
            </tr>
            <tr>
                <td class="CaptionTd">Programı</td>
                <td class="CaptionTd">:</td>
                <td class="ValueTd form-group">
                    @Html.DropDownList("TDProgramKod", Model.SListTDProgram, new { @class = "form-control", @style = "width:100%;color:black;", id = "TDProgramKod" })
                </td>
            </tr>
            @if (Model.IsTezDiliTr == false)
            {
                <tr>
                    <td class="CaptionTd">Dil Yeterliliği</td>
                    <td class="CaptionTd">:</td>
                    <td class="ValueTd">
                        <table>
                            <tr>
                                <td>Sınav Adı</td>
                                <td class="TdSinavUni @(Model.TDSinavTipID == -1 ? "" : "hide")">Üniversite Adı</td>
                                <td class="TdSp @(Model.TDSinavTipID == -1 ? "hide" : "")">Sınav Yılı</td>
                                <td class="TdSp @(Model.TDSinavTipID == -1 ? "hide" : "")">Sınav Puanı</td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    @Html.DropDownList("TDSinavTipID", Model.SListTDSinav, new { @class = "form-control", @style = "width:147px;color:black;", id = "TDSinavTipID", onchange = "SinavTipKontrol(this,'TDSinavPuani','TdSpInp');" })
                                </td>
                                <td class="form-group TdSinavUni @(Model.TDSinavTipID == -1 ? "" : "hide")"> <input type="text" name="TDUniversiteAdi" id="TDUniversiteAdi" maxlength="256" autocomplete="off" value="@Model.TDUniversiteAdi" class="form-control" style="color: black;"/></td>
                                <td class="form-group TdSp @(Model.TDSinavTipID == -1 ? "hide" : "")"> <input type="text" name="TDSinavYili" id="TDSinavYili" maxlength="4" autocomplete="off" value="@Model.TDSinavYili" class="form-control" style="color: black;"/></td>
                                <td class="form-group TdSp TdSpInp @(Model.TDSinavTipID == -1 ? "hide" : "")">
                                    @if (Model.SListTDSinavNot == null)
                                    {
                                        <input type="text" name="TDSinavPuani" id="TDSinavPuani" maxlength="64" autocomplete="off" value="@Model.TDSinavPuani" class="form-control" style="color: black;"/>
                                    }
                                    else
                                    {
                                        @Html.DropDownList("TDSinavPuani", Model.SListTDSinavNot, new { @class = "form-control", id = "TDSinavPuani" })
                                    }
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}
<script>

    function SinavTipKontrol(sndr,inp,cls) {
        if ($(sndr).val() == "-1") {
            $('.TdSp').addClass('hide');
            $('.TdSinavUni').removeClass('hide');
        }
        else {
            $('.TdSp').removeClass('hide');
            $('.TdSinavUni').addClass('hide');
        }
        var _panel = $('#bbTdoForm');
        PanelRefresh(_panel, false);
        var sndrVal = $(sndr).val();
        if (sndrVal != null && sndrVal != "" && sndrVal != "-1") {
            $.ajax({
                url: '@Url.Action("GetSinavTip", "TDOBasvuru")',
                data: { 'TDOBasvuruID': @Model.TDOBasvuruID, 'SinavTipID': sndrVal },
                success: function (result) {
                     if (result.OzelNot == true) {
                        var SnotSlct = '<select class="form-control" id="' + inp + '" name="' + inp +'">';

                        for (var i = 0; i < result.Notlar.length; i++) {
                            var valR = result.Notlar[i].Value;
                            var _value = "";
                            if (valR != null) {
                                _value = valR;
                            }
                            SnotSlct += "<option value=" + _value + ">" + result.Notlar[i].Caption + "</option>"
                        }
                        SnotSlct += "</select>";
                        $('.' + cls).html(SnotSlct);
                    }
                    else {
                        $('.' + cls).html('<input type="text" name="' + inp + '" id="' + inp + '" maxlength="64" autocomplete="off" class="form-control" style="color:black;">');
                    }
                    PanelRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    PanelRefresh(_panel, true);
                }
            });
        }
        else {
            PanelRefresh(_panel, true);
            $('#' + inp +'').val();
            $('#' + inp +'').empty();
        }
    }
    $(function () {
        $('#TezDanismanID').select2({
            tags: true,
            tokenSeparators: [",", " "],
            minimumInputLength: 2,
            maximumSelectionSize: 1,
            multiple: false,
            ajax: {
                url: '@Url.Action("GetTdoDanismans", "Ajax")',
                dataType: "json",
                data: function (term, page) {
                    return {
                        'term': term
                    }

                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            },
            formatResult: function (result) {
                var cont2 =
                    "<table class='table table-striped' style='width:100%; margin:0px;'>" +
                    "<tbody>" +
                    "<tr>" +
                    "<td style='vertical-align:middle;'>" +
                    "<table class='table table-striped' style='margin:0px;border-top:none;font-size:8pt;'> " +
                    "<tbody>" +
                    "<tr><td>" + result.AdSoyad + "</td></tr>" +
                    "<tr><td>Ünvan: " + result.UnvanAdi + "</td></tr>" +
                    "</tbody> " +
                    "</table> " +
                    "</td>" +
                    "</tr> " +
                    "</tbody>" +
                    "</table>";
                return cont2;
            }
        })
            .on('change', function (e) {
            });

    });
    function getPrograms(sndr) {
        var _panel = $('#bbTdoForm');
        PanelRefresh(_panel, false);
        var sndrVal = $(sndr).val();
        if (sndrVal != null && sndrVal != "") {
            $.ajax({
                url: '@Url.Action("getProgramlar", "TDOBasvuru")',
                data: { 'TDAnabilimDaliID': sndrVal },
                success: function (result) {
                    $('#TDProgramKod').empty();
                    var opt = "";
                    for (var i = 0; i < result.length; i++) {
                        var valR = result[i].Value;
                        var _value = "";
                        if (valR != null) {
                            _value = valR;
                        }
                        opt += "<option value=" + _value + ">" + result[i].Caption + "</option>"
                    }
                    $('#TDProgramKod').append(opt);

                    PanelRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    PanelRefresh(_panel, true);
                }
            });
        }
        else {
            PanelRefresh(_panel, true);
            $('#TDProgramKod').empty();
        }
    }
</script>
