@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Extensions 
@model KmTdoBasvuruDanisman
@{
    Layout = null;
}
@using (Ajax.BeginForm("TdoDanismanDegisiklikFormuPost", "TdoBasvuru", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "FrmTdoFormu" }))
{
    @Html.HiddenFor(p => p.TDOBasvuruID);
    @Html.HiddenFor(p => p.TDOBasvuruDanismanID);
    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:60px;">
        <table style="width:100%;">
            <tbody>
            <tr>
                <td class="CaptionTd" width="150">Tez Başlığı Türkçe</td>
                <td class="CaptionTd" width="10">:</td>
                <td class="ValueTd form-group">
                    <input type="text" name="TezBaslikTr" id="TezBaslikTr" autocomplete="off" maxlength="512" value="@Model.TezBaslikTr" @(Model.TezBaslikTr.IsNullOrWhiteSpace() ? "" : "readonly") class="form-control UpperTextTr" style="color:black;" />
                </td>
            </tr>
            <tr>
                <td class="CaptionTd">Tez Başlığı İngilizce</td>
                <td class="CaptionTd">:</td>
                <td class="ValueTd form-group">
                    <input type="text" name="TezBaslikEn" id="TezBaslikEn" autocomplete="off" maxlength="512" value="@Model.TezBaslikEn" @(Model.TezBaslikEn.IsNullOrWhiteSpace() ? "" : "readonly") class="form-control UpperTextEn" style="color:black;" />
                </td>
            </tr>
            <tr>
                <td class="CaptionTd" width="140">Yeni Danışman</td>
                <td class="CaptionTd" width="10">:</td>
                <td class="ValueTd form-group">
                    <input type="text" class="form-control" value="" style="width: 100%; color: black;" name="TezDanismanID" id="TezDanismanID" />
                    @if (Model.TezDanismanID > 0)
                    {
                        <script>
                                    setTimeout(function () {
                                        var secilen =  @Html.Raw(Json.Encode(new { id = Model.TezDanismanID, text = Model.TDAdSoyad }));
                                        $("#TezDanismanID").select2('data', secilen);

                                    }, 1200);
                            </script>
                    }
                </td>
            </tr>
            <tr>
                <td class="CaptionTd">Anabilim Dalı</td>
                <td class="CaptionTd">:</td>
                <td class="ValueTd form-group">
                    @Html.DropDownList("TDAnabilimDaliID", Model.SListTdAnabilimDali, new { @class = "form-control", @style = "width:100%;color:black;", id = "TDAnabilimDaliID", onchange = "getPrograms(this);" })
                </td>
            </tr>
            <tr>
                <td class="CaptionTd">Programı</td>
                <td class="CaptionTd">:</td>
                <td class="ValueTd form-group">
                    @Html.DropDownList("TDProgramKod", Model.SListTdProgram, new { @class = "form-control", @style = "width:100%;color:black;", id = "TDProgramKod" })
                </td>
            </tr> 
            </tbody>
        </table>
       
    </div>


}
<script src="~/Scripts/inputTextChangeUpperCase.js"></script>
<script>

    function SinavTipKontrol(sndr,inp,cls) {
         
        var _panel = $('#bbTdoForm');
        PanelRefresh(_panel, false);
        var sndrVal = $(sndr).val();
        if (sndrVal != null && sndrVal != "" && sndrVal != "-1") {
            $.ajax({
                url: '@Url.Action("GetSinavTip", "TdoBasvuru")',
                data: { 'TDOBasvuruID': @Model.TDOBasvuruID, 'SinavTipID': sndrVal },
                success: function (result) {
                     if (result.OzelNot == true) {
                        var SnotSlct = '<select class="form-control" id="' + inp + '" name="' + inp +'">';

                        for (var i = 0; i < result.Notlar.length; i++) {
                            var valR = result.Notlar[i].Value;
                            var _value = "";
                            if (valR != null) {
                                _value = valR;
                            }
                            SnotSlct += "<option value=" + _value + ">" + result.Notlar[i].Caption + "</option>"
                        }
                        SnotSlct += "</select>";
                        $('.' + cls).html(SnotSlct);
                    }
                    else {
                        $('.' + cls).html('<input type="text" name="' + inp + '" id="' + inp + '" maxlength="64" autocomplete="off" class="form-control" style="color:black;">');
                    }
                    PanelRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    PanelRefresh(_panel, true);
                }
            });
        }
        else {
            PanelRefresh(_panel, true);
            $('#' + inp +'').val();
            $('#' + inp +'').empty();
        }
    }
    $(function () {
        $('#TezDanismanID').select2({
            tags: true,
            tokenSeparators: [",", " "],
            minimumInputLength: 2,
            maximumSelectionSize: 1,
            multiple: false,
            ajax: {
                url: '@Url.Action("GetTdoDanismans", "TdoBasvuru")',
                dataType: "json",
                data: function (term, page) {
                    return {
                        'term': term
                    }

                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            },
            formatResult: function (result) {
                var cont2 =
                    "<table class='table table-striped' style='width:100%; margin:0px;'>" +
                    "<tbody>" +
                    "<tr>" +
                    "<td style='vertical-align:middle;'>" +
                    "<table class='table table-striped' style='margin:0px;border-top:none;font-size:8pt;'> " +
                    "<tbody>" +
                    "<tr><td>" + result.AdSoyad + "</td></tr>" +
                    "<tr><td>Ünvan: " + result.UnvanAdi + "</td></tr>" +
                    "</tbody> " +
                    "</table> " +
                    "</td>" +
                    "</tr> " +
                    "</tbody>" +
                    "</table>";
                return cont2;
            }
        })
            .on('change', function (e) {
            });

    });
    function getPrograms(sndr) {
        var _panel = $('#bbTdoForm');
        PanelRefresh(_panel, false);
        var sndrVal = $(sndr).val();
        if (sndrVal != null && sndrVal != "") {
            $.ajax({
                url: '@Url.Action("getProgramlar", "TdoBasvuru")',
                data: { 'TDAnabilimDaliID': sndrVal },
                success: function (result) {
                    $('#TDProgramKod').empty();
                    var opt = "";
                    for (var i = 0; i < result.length; i++) {
                        var valR = result[i].Value;
                        var _value = "";
                        if (valR != null) {
                            _value = valR;
                        }
                        opt += "<option value=" + _value + ">" + result[i].Caption + "</option>"
                    }
                    $('#TDProgramKod').append(opt);

                    PanelRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    PanelRefresh(_panel, true);
                }
            });
        }
        else {
            PanelRefresh(_panel, true);
            $('#TDProgramKod').empty();
        }
    }
</script>
