@using Entities.Entities
@model TDOBasvuruEsDanisman
@{
    Layout = null;
}


@using (Ajax.BeginForm("TDOEsDanismanFormuPost", "TdoBasvuru", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "FrmTDOEsDanismanFormu" }))
{
    @Html.HiddenFor(p => p.TDOBasvuruEsDanismanID);
    @Html.HiddenFor(p => p.TDOBasvuruDanismanID);
    @Html.HiddenFor(p => p.IsDegisiklikTalebi);
    @Html.HiddenFor(p => p.UniqueID);
    <div class="panel panel-default form-horizontal">
        <div class="panel-heading padding-0" style="padding: 0px; margin: 0px;">
            <h3 class="panel-title"><span style="color:@(Model.IsDegisiklikTalebi==true?"maroon":"")">Tez İkinci Danışmanı @(Model.IsDegisiklikTalebi ? "Değişikliği " : "")Öneri Formu için İkinci Danışman bilgilerini giriniz.</span> </h3>
        </div>
        <div class="panel-body form-group-separated" style="padding:5px;">
            @if (Model.IsDegisiklikTalebi)
            {
                <div class="form-group">
                    <label class="col-md-4 col-xs-5 control-label">Önceki İkinci Danışman Adı</label>
                    <div class="col-md-8 col-xs-7">
                        <input type="text" name="OncekiEsDanismanAdi" id="OncekiEsDanismanAdi" readonly autocomplete="off" maxlength="512" value="@Model.OncekiEsDanismanAdi" class="form-control upperCase" style="color:black;" />
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="col-md-4 col-xs-5 control-label">Önerilen İkinci Danışman Ad Soyad</label>
                <div class="col-md-8 col-xs-7">
                    <input type="text" name="AdSoyad" id="AdSoyadX" maxlength="512" autocomplete="off" value="@Model.AdSoyad" class="form-control upperCase" style="color:black;" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 col-xs-5 control-label">Ünvanı</label>
                <div class="col-md-8 col-xs-7">
                    <select class="form-control" id="UnvanAdi" name="UnvanAdi" style="width:100%;color:black;">
                        <option value=""></option>
                        <option @(@Model.UnvanAdi == "ARŞ. GÖR. DR." ? "selected" : "") value="ARŞ. GÖR. DR.">ARŞ. GÖR. DR.</option>
                        <option @(@Model.UnvanAdi == "ÖĞR. GÖR. DR." ? "selected" : "") value="ÖĞR. GÖR. DR.">ÖĞR. GÖR. DR.</option>
                        <option @(@Model.UnvanAdi == "DR." ? "selected" : "") value="DR.">DR.</option>
                        <option @(@Model.UnvanAdi == "PROF. DR." ? "selected" : "") value="PROF. DR.">PROF. DR.</option>
                        <option @(@Model.UnvanAdi == "DOÇ. DR." ? "selected" : "") value="DOÇ. DR.">DOÇ. DR.</option>
                        <option @(@Model.UnvanAdi == "DR. ÖĞR. ÜYESİ" ? "selected" : "") value="DR. ÖĞR. ÜYESİ">DR.ÖĞR.ÜYESİ</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-5 control-label">Üniversite Adı</label>
                <div class="col-md-8 col-xs-7">
                    <input type="text" name="UniversiteAdi" id="UniversiteAdi" autocomplete="off" maxlength="512" value="@Model.UniversiteAdi" class="form-control upperCase" style="color:black;" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-5 control-label">Anabilim Dalı</label>
                <div class="col-md-8 col-xs-7">
                    <input type="text" name="AnabilimDaliAdi" id="AnabilimDaliAdi" autocomplete="off" maxlength="512" value="@Model.AnabilimDaliAdi" class="form-control upperCase" style="color:black;" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-5 control-label">Programı</label>
                <div class="col-md-8 col-xs-7">
                    <input type="text" name="ProgramAdi" id="ProgramAdi" maxlength="512" autocomplete="off" value="@Model.ProgramAdi" class="form-control upperCase" style="color:black;" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-5 control-label">İkinci Danışman EMail</label>
                <div class="col-md-8 col-xs-7">
                    <input type="text" name="EMail" id="EMail" maxlength="1024" value="@Model.EMail" autocomplete="off" class="form-control" style="color:black;" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-5 control-label">Gerekçe</label>
                <div class="col-md-8 col-xs-7">
                    <textarea class="form-control" name="Gerekce" id="Gerekce" maxlength="1024" autocomplete="off" style="min-height:100px;">@Model.Gerekce</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-5 control-label">Taahhüt metni</label>
                <div class="col-md-8 col-xs-7">
                    <div class="tasks ui-sortable">
                        <div class="task-item task-info" id="EsDanismanTaahhutContent-@Model.TDOBasvuruDanismanID" style="margin-bottom: 0px; cursor: pointer;" onclick="toggleCheckbox('@Model.TDOBasvuruDanismanID')">
                            <div class="task-text ui-sortable-handle" style="padding-bottom: 0px; font-size: 8pt;">
                                <div class="task-checkbox" style="display: inline-block; margin-right: 10px;">
                                    <input type="checkbox" id="EsDanismanTaahhutEdildiChk-@Model.TDOBasvuruDanismanID" value="true" name="EsDanismanTezIzlemeKomiteUyerleriArasindaYokTaahhutu" style="transform: scale(1.5);" onclick="event.stopPropagation();">
                                </div>
                                Önerilen İkinci Danışmanın tez izleme komite üyeleri arasında bulunmadığını kabul ediyorum.
                            </div>
                        </div>
                    </div>

                    <script>
                        function toggleCheckbox(id) {
                            const checkbox = document.getElementById(`EsDanismanTaahhutEdildiChk-${id}`);
                            if (checkbox) {
                                checkbox.checked = !checkbox.checked;
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

}
<script>
    $('.upperCase').each(function (ix, sndr) {
        $(sndr).attr('autocomplete', 'off');
        $(sndr).bind('keyup', function (e) {
            var vl = $(sndr).val();
            $(sndr).val(vl.replaceAll("i", "İ").toUpperCase());
        });
    });
</script>
