@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@model FmMezuniyetYonetmelikler
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var IndexModel = (MIndexBilgi)ViewBag.IndexModel;


}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">

            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-clock-o"></i> Mezuniyet Yönetmelikleri</h3>
                    <ul class="panel-controls">
                        <li><span class="label label-primary label-form"><a style="width:54px;color:white;" href="@Url.Action("Kayit")"><i class="fa fa-plus fa-lg"></i> Yeni Yönetmelik Ekle</a></span></li>
                        <li><span class="label label-success label-form">T:@IndexModel.Toplam</span></li>
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="125"></th>
                                <th class="sirala" field="TarihKriterAdi">Tarih Kriteri</th>
                                <th class="sirala" field="OgretimYili">Öğretim Yılı</th>
                                <th class="sirala" field="OgretimYiliB">Öğretim Yılı B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="filtrele">
                                <th></th>
                                <th>
                                    @Html.DropDownList("TarihKriterID", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                            @if (Model.RowCount > 0)
                            {
                                int RowIndex = Model.StartRowIndex;
                                foreach (var item in Model.Data)
                                {
                                    RowIndex++;
                                    <tr class="delrw_@item.MezuniyetYonetmelikID">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@RowIndex</td>
                                                    <td style="width: 50px;">
                                                        <div class="btn-group">
                                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-cogs"></i></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li role="presentation" class="dropdown-header">İşlemler</li>
                                                                <li>
                                                                    <a href="@Url.Action("Kayit")"><i class="fa fa-pencil"></i>Yeni</a>
                                                                </li>
                                                                <li>
                                                                    <a href="@Url.Action("Kayit", new { id = item.MezuniyetYonetmelikID })"><i class="fa fa-edit"></i>Düzenle</a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)" onclick="getDetail(@item.MezuniyetYonetmelikID,true,$(this))"><i class="fa fa-trash-o tooltips" data-style="blue" data-original-title="Sil"></i>Sil</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow-ana-@item.MezuniyetYonetmelikID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="ShowDetail(@item.MezuniyetYonetmelikID,'ana-')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-down"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>@item.TarihKriterAdi</td>
                                        <td>@item.BaslangicYil / @item.BitisYil @item.DonemAdi</td>
                                        <td>@(item.TarihKriterID == TarihKriterSecimEnum.SecilenTarihAraligi ? (item.BaslangicYilB + " / " + item.BitisYilB + " " + item.DonemAdiB):"")</td>



                                    </tr>
                                    <tr class="cls-ana-@item.MezuniyetYonetmelikID delrw_@item.MezuniyetYonetmelikID" style="display:none;">
                                        <td id="cls-ana-@item.MezuniyetYonetmelikID" colspan="4"></td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align: center">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function ShowDetail(id, tip) {
        var rwID = $('#iShow-' + tip + id);
        var cls = 'cls-' + tip + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled && tip == "ana-") setTimeout(getDetail(id), 400);
    }

    function getDetail(id, Isdelete, sndr) {

        $.ajax({
            url: '@Url.Action("GetMyDetail", "MezuniyetYonetmelikler")',
            data: { id: id },
            async: false,
            success: function (result) {
                $('#cls-ana-' + id).html(result);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });

    }



</script>
