@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Models.FilterModel @using LisansUstuBasvuruSistemi.Utilities.Enums
@model fmMezuniyetYonetmelikler
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var IndexModel = (MIndexBilgi)ViewBag.IndexModel; 


}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">

            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-clock-o"></i>&nbsp; Mezuniyet Yönetmelikleri</h3>
                    <ul class="panel-controls">
                        <li><span class="label label-success label-form">T:@IndexModel.Toplam</span></li>
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="125"></th>
                                <th width="220" class="sirala" field="EnstituAd">Enstitu</th>
                                <th class="sirala" field="TarihKriterAdi">Tarih Kriteri</th>
                                <th class="sirala" field="OgretimYili">Öğretim Yılı</th>
                                <th class="sirala" field="OgretimYiliB">Öğretim Yılı B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="filtrele">
                                <th>
                                    <a href="@Url.Action("Kayit")" class="btn btn-xs btn-success tooltips" style="width:100%;" data-style="blue" data-original-title="Yeni"><i class="fa fa-plus"></i></a>
                                </th>
                                <th>
                                    @Html.DropDownList("EnstituKod", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th>
                                    @Html.DropDownList("TarihKriterID", null, new { @class = "form-control", style = "padding:0px;" })
                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                            </tr>
                            @if (Model.RowCount > 0)
                            {
                                int RowIndex = Model.StartRowIndex;
                                foreach (var item in Model.Data)
                                {
                                    RowIndex++;
                                    <tr class="delrw_@item.MezuniyetYonetmelikID">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@RowIndex</td>
                                                    <td style="width: 50px;">
                                                        <div class="btn-group">
                                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-cogs"></i></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li role="presentation" class="dropdown-header">İşlemler</li>
                                                                <li>
                                                                    <a href="@Url.Action("Kayit")"><i class="fa fa-pencil"></i>Yeni</a>
                                                                </li>
                                                                <li>
                                                                    <a href="@Url.Action("Kayit", new { id = item.MezuniyetYonetmelikID })"><i class="fa fa-edit"></i>Düzenle</a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)" onclick="getDetail(@item.MezuniyetYonetmelikID,true,$(this))"><i class="fa fa-trash-o tooltips" data-style="blue" data-original-title="Sil"></i>Sil</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow-ana-@item.MezuniyetYonetmelikID"  title="Detayı açmak veya kapatmak için tıklayınız." onclick="showDetail(@item.MezuniyetYonetmelikID,'ana-')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>@item.EnstituAdi</td>
                                        <td>@item.TarihKriterAdi</td>
                                        <td>@item.BaslangicYil / @item.BitisYil @item.DonemAdi</td>
                                        <td>@(item.TarihKriterID == TarihKriterSecim.SecilenTarihAraligi ? (item.BaslangicYilB + " / " + item.BitisYilB + " " + item.DonemAdiB):"")</td>



                                    </tr>
                                    <tr class="cls-ana-@item.MezuniyetYonetmelikID delrw_@item.MezuniyetYonetmelikID" style="display:none;">
                                        <td id="cls-ana-@item.MezuniyetYonetmelikID" colspan="5"></td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" style="text-align: center">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function showDetail(id, tip) {
        var rwID = $('#iShow-' + tip + id);
        var cls = 'cls-' + tip + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled && tip == "ana-") setTimeout(getDetail(id), 400);
    }

    function getDetail(id, Isdelete, sndr) {

        $.ajax({
            url: '@Url.Action("getMyDetail", "MezuniyetYonetmelikler")',
            data: { id: id },
            async: false,
            success: function (result) {
                $('#cls-ana-' + id).html(result);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });

    }
     
    function Sil(id) {

        var btbx = bootbox.dialog({
            message: result + " <br/><br/><table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;text-align:center;color:maroon;'>Seçilen Mezuniyet Yönetmeliğini Silmek İstiyor Musunuz?</td></tr></table>",
            title: "Mezuninet Yönetmelik Silme İşlemi",
            buttons: {
                success: {
                    label: "Mezuniyet Yönetmeliğini Sil",
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("Sil", "MezuniyetYonetmelik")',
                            data: { id: id },
                            success: function (result) {
                                if (result.IsSuccess) {
                                    $(".delrw_" + id).remove();
                                }
                                showMmMessage(result.Messages, 'Tamam');
                            },
                            error: function (err) {
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: "Kapat",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });
        $(btbx).find('.modal-dialog').addClass('modal-lg');
    }

</script>
