@using LisansUstuBasvuruSistemi.Utilities.Dtos 
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil

@model KmMezuniyetYonetmelik
@{
    var MmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ots = Model.KrMezuniyetYonetmelikOt.Select(s => new { OgrenimTipKod = s.OgrenimTipKod, s.OgrenimTipAdi }).Distinct();
    var gKod = (List<CmbStringDto>)ViewBag.GrupKodu;
    var veVeya = (List<CmbBoolDto>)ViewBag.VeVeya;
}

<div class="row">
    <form id="FrmMezuniyetSurec" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
        <input type="text" style="display:none;" id="MezuniyetYonetmelikID" name="MezuniyetYonetmelikID" value="@Model.MezuniyetYonetmelikID" />
        <input type="text" style="display:none;" id="EnstituKod" name="EnstituKod" value="@Model.EnstituKod" />
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-time"></i>&nbsp; Yönetmelik kaydı</h3>
                    <ul class="panel-controls">
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Kayit","MezuniyetYonetmelikler",new { id = Model.MezuniyetYonetmelikID })';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>


                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Enstitü</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("EnstituKod", null, new { @class = "form-control", disabled = "disabled", style = "padding:0px;color:black;" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Tarih Kriteri</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("TarihKriterID", null, "", new { @class = "form-control", style = "padding:0px;", onchange = "tKchange(this);" })
                                    <script>
                                        function tKchange(sndr) {
                                            if ($(sndr).val() != "@TarihKriterSecim.SecilenTarihAraligi") {
                                                $('.oyiliB').addClass("hide");
                                            }
                                            else {
                                                $('.oyiliB').removeClass("hide");
                                            }
                                        }
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Öğretim Yılı</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("OgretimYili", null, "", new { @class = "form-control", style = "padding:0px;" })
                                </div>
                            </div>
                            <div class="form-group oyiliB @(Model.TarihKriterID!=TarihKriterSecim.SecilenTarihAraligi?"hide":"")">
                                <label class="col-md-3 col-xs-5 control-label">Öğretim Yılı Bitiş</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("OgretimYiliB", null, "", new { @class = "form-control", style = "padding:0px;" })
                                </div>
                            </div>
                            @foreach (var Otip in ots)
                            {
                                var modelOt = Model.KrMezuniyetYonetmelikOt.Where(p => p.OgrenimTipKod == Otip.OgrenimTipKod).ToList();
                                <div class="form-group">
                                    <div class="col-md-12 col-xs-12" id="_otBilgi">
                                        <div class="panel panel-default" style="padding: 0px; margin: 0px;">
                                            <div class="panel-heading padding-0">
                                                <h4 class="panel-title"><i class="fa fa-pencil"></i>&nbsp; @Otip.OgrenimTipAdi Öğrenim tipi için yayın kriterlerini seçiniz</h4>
                                            </div>
                                            <div class="panel-body padding-0">

                                                <table class="table" style="width:100%;table-layout:fixed;">
                                                    <thead>
                                                        <tr>
                                                            <th>Yayın Türü</th>
                                                            <th width="105" title="Tercih Kotası">Geçerli</th>
                                                            <th width="105" title="Başarı Not Ortalaması">Zorunlu</th>
                                                            <th width="105" title="Genel Başarı Notu Formülleri">Grp.Kodu</th>
                                                            <th width="105" title="Mülakat Durum">Ve/Veya</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="Rw_tbody">
                                                        @foreach (var item in modelOt)
                                                        {
                                                            var gId = item.OgrenimTipKod + "_" + item.MezuniyetYayinTurID;

                                                            <tr class="rw_bst">
                                                                <td>

                                                                    <div class="form-group @(item.Success.HasValue?(item.Success.Value?"has-success":"has-error"):"")">
                                                                        <div class="checkbox pull-left">
                                                                            <label>
                                                                                @item.MezuniyetYayinTurAdi
                                                                            </label>
                                                                        </div>
                                                                        <input type="text" class="hide" name="_MezuniyetYayinTurID" value="@gId" />
                                                                    </div>
                                                                <td>
                                                                    <div class="form-group @(item.Success.HasValue?(item.Success.Value?"has-success":"has-error"):"")">
                                                                        <div class="make-switch" data-on-label="Gçrli" data-off-label="Gçrsz" data-on="info" data-off="danger">
                                                                            <input type="checkbox" id="chkIsGecerli_@gId" class="toggle" onchange="checkKontrol(this, '@gId')" @item.IsGecerli.ToChecked() />
                                                                        </div>
                                                                        <input type="text" class="hide" name="IsGecerlis" id="IsGecerli_@gId" value="@(gId)_@(item.IsGecerli ? 1 : 0)" />
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group @(item.Success.HasValue?(item.Success.Value?"has-success":"has-error"):"")">
                                                                        <div class="make-switch" data-on-label="Zorunlu" data-off-label="Z.Değil" data-on="info" data-off="danger">
                                                                            <input type="checkbox" id="chkIsZorunlu_@gId" class="toggle" onchange="checkKontrol(this, '@gId')" @item.IsZorunlu.ToChecked() />
                                                                        </div>
                                                                        <input type="text" class="hide" name="IsZorunlus" id="IsZorunlu_@gId" value="@(gId)_@(item.IsZorunlu ? 1 : 0)" />
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group @(item.Success.HasValue?(item.Success.Value?"has-success":"has-error"):"")">
                                                                        <select name="GrupKodus" class="form-control select @(item.IsZorunlu?"":"hide") isZorunlu_@gId">
                                                                            @foreach (var item2 in gKod)
                                                                            {
                                                                                bool contains = item.GrupKodu == item2.Value;
                                                                                <option value="@(gId + "_" + item2.Value)" @(contains ? "selected=selected" : "")>@item2.Caption</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group @(item.Success.HasValue?(item.Success.Value?"has-success":"has-error"):"")">
                                                                        <select name="IsVeOrVeyas" class="form-control select @(item.IsZorunlu?"":"hide") isZorunlu_@gId">
                                                                            @foreach (var item2 in veVeya)
                                                                            {
                                                                                bool contains = item.IsVeOrVeya == item2.Value;
                                                                                <option value="@(gId + "_" + item2.Value)" @(contains ? "selected=selected" : "")>@item2.Caption</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.MezuniyetYonetmelikID > 0)
                            {

                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label padding-top-0 padding-bottom-0">Durum</label>
                                    <div class="col-md-9 col-xs-7 padding-top-0 padding-bottom-0">
                                        <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="info" data-off="danger">
                                            <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply">&nbsp</i>Geri Dön</a>
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save">&nbsp</i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function checkKontrol(sndr, gId) {
        var sndrId = $(sndr).attr("id");
        var _ID, _ID2, _sID2 = "";
        var cmbClass = ".isZorunlu_" + gId;
        if (sndrId == ("chkIsGecerli_" + gId)) {
            _ID = "IsGecerli_" + gId;
            _ID2 = "IsZorunlu_" + gId;
            _sID2 = "chkIsZorunlu_" + gId;

            if ($(sndr).prop('checked')) {
                $('#' + _ID).val(gId+"_1");
                $('#' + _sID2).prop('checked', true);
                $(sndr).prop('checked', true);
            }
            else {
                $('#' + _ID).val(gId + "_0");
                $('#' + _ID2).val(gId + "_0");
                $('#' + _sID2).removeAttr('checked');
                $('#' + _sID2).parents('.switch-animate').first().removeClass('switch-on').addClass('switch-off');
                $('#' + _sID2).prop('checked', false);
                $(sndr).prop('checked', false)
                $(cmbClass).addClass("hide");
            }
        }
        else {
            _ID = "IsZorunlu_" + gId;
            _ID2 = "IsGecerli_" + gId;
            _sID2 = "chkIsGecerli_" + gId;
            if ($(sndr).prop('checked') == false) {
                $('#' + _ID).val(gId + "_0");
                $(sndr).prop('checked', false);
                $(cmbClass).addClass("hide");
            }
            else {
                $('#' + _ID).val(gId + "_1");
                $('#' + _ID2).val(gId + "_1");
                $(sndr).prop('checked', true);
                $('#' + _sID2).removeAttr('checked');
                $('#' + _sID2).parents('.switch-animate').first().removeClass('switch-off').addClass('switch-on');
                $('#' + _sID2).prop('checked', true);
                $(cmbClass).removeClass("hide");
            }
        }
    }

    $(function () {


        var model = '@Html.Raw(Json.Encode(MmMessage))';
        validateControl(model);
    });

</script>
