@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using LisansUstuBasvuruSistemi.Utilities.Extensions

@model KmMezuniyetYonetmelik
@{
    var mmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ogrenimTipleris = Model.KrMezuniyetYonetmelikOt.Select(s => new { OgrenimTipKod = s.OgrenimTipKod, s.OgrenimTipAdi }).Distinct().ToList();
    var grupKodlari = (List<CmbStringDto>)ViewBag.GrupKodu;
    var veVeyas = (List<CmbBoolDto>)ViewBag.VeVeya;
}

<div class="row">
    <form id="FrmMezuniyetSurec" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
        <input type="text" style="display:none;" id="MezuniyetYonetmelikID" name="MezuniyetYonetmelikID" value="@Model.MezuniyetYonetmelikID" />
        <input type="text" style="display:none;" id="EnstituKod" name="EnstituKod" value="@Model.EnstituKod" />
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-time"></i> Yönetmelik kaydı</h3>
                    <ul class="panel-controls">
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Kayit","MezuniyetYonetmelikler",new { id = Model.MezuniyetYonetmelikID })';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>


                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Enstitü</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("EnstituKod", null, new { @class = "form-control", disabled = "disabled", style = "padding:0px;color:black;" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Tarih Kriteri</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("TarihKriterID", null, "", new { @class = "form-control", style = "padding:0px;", onchange = "tKchange(this);" })
                                    <script>
                                        function tKchange(sndr) {
                                            if ($(sndr).val() != "@TarihKriterSecimEnum.SecilenTarihAraligi") {
                                                $('.oyiliB').addClass("hide");
                                            }
                                            else {
                                                $('.oyiliB').removeClass("hide");
                                            }
                                        }
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Öğretim Yılı</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("OgretimYili", null, "", new { @class = "form-control", style = "padding:0px;" })
                                </div>
                            </div>
                            <div class="form-group oyiliB @(Model.TarihKriterID!=TarihKriterSecimEnum.SecilenTarihAraligi?"hide":"")">
                                <label class="col-md-3 col-xs-5 control-label">Öğretim Yılı Bitiş</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("OgretimYiliB", null, "", new { @class = "form-control", style = "padding:0px;" })
                                </div>
                            </div>
                            @foreach (var ogrenimTipi in ogrenimTipleris)
                            {
                                var ogrenimTipiAyarlari = Model.KrMezuniyetYonetmelikOt.Where(p => p.OgrenimTipKod == ogrenimTipi.OgrenimTipKod).ToList();
                                <div class="form-group">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="panel panel-default" style="padding: 0px; margin: 0px;">
                                            <div class="panel-heading padding-0">
                                                <h4 class="panel-title">
                                                    <i class="fa fa-pencil"></i> @ogrenimTipi.OgrenimTipAdi Öğrenim tipi için başvuru esnasında istenecek yayın bilgileri
                                                    <div style="font-size:8pt;" class="SecimInfo"></div>
                                                </h4>
                                            </div>
                                            <div class="panel-body padding-0">

                                                <table class="table OgrenimTipiYonetmelikAyarlari" style="width:100%;table-layout:fixed;">
                                                    <thead>
                                                        <tr>
                                                            <th>Yayın Türü</th>
                                                            <th width="105" title="Geçerli seçeneği seçildiğinde öğrenci tercihine göre isterse yayın türünü ekleyebilir"><i class="glyphicon glyphicon-info-sign"></i> Geçerli</th>
                                                            <th width="105" title="Zorunlu seçeneği seçildiğinde öğrenci zorunlu olarak yayın türünü eklemesi gerekir"><i class="glyphicon glyphicon-info-sign"></i> Zorunlu</th>
                                                            <th width="105" title="Aynı gruba alınan yayın türlerinden herhangi birinin öğrenci tarafından eklenmesi yeterlidir. Yayın türleri farklı gruplara dağıtılırsa oluşan her grup için bir yayın bilgisinin eklenmesi zorunlu kılınmış olur."><i class="glyphicon glyphicon-info-sign"></i> Grp.Kodu</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="tbodyCls">
                                                        @foreach (var item in ogrenimTipiAyarlari)
                                                        {

                                                            <tr>
                                                                <td>

                                                                    <div class="form-group">
                                                                        <label class="YayinTurAdi">
                                                                            @item.MezuniyetYayinTurAdi
                                                                        </label>
                                                                        <input type="text" class="hide" name="MezuniyetYayinTurIDs" value="@item.MezuniyetYayinTurID" />
                                                                        <input type="text" class="hide" name="OgrenimTipKods" value="@item.OgrenimTipKod" />
                                                                    </div>
                                                                <td>
                                                                    <div class="make-switch" data-on-label="Gçrli" data-off-label="Gçrsz" data-on="info" data-off="danger">
                                                                        <input type="checkbox" class="ChkIsGecerli" class="toggle" onchange="GecerliCeckedChange(this)" @item.IsGecerli.ToChecked() />
                                                                    </div>
                                                                    <input type="text" class="hide" name="IsGecerlis" value="@item.IsGecerli.ToString().ToLower()" />
                                                                </td>
                                                                <td>
                                                                    <div class="make-switch" data-on-label="Zorunlu" data-off-label="Z.Değil" data-on="info" data-off="danger">
                                                                        <input type="checkbox" class="ChkIsZorunlu" class="toggle" onchange="ZorunluCeckedChange(this)" @item.IsZorunlu.ToChecked() />
                                                                    </div>
                                                                    <input type="text" class="hide" name="IsZorunlus" value="@item.IsZorunlu.ToString().ToLower()" />
                                                                </td>
                                                                <td>
                                                                    <select name="GrupKodus" class="GrupKodu isZorunluShow form-control @(item.IsZorunlu?"":"hide")" onchange="GetSettingInfo()">
                                                                        @foreach (var itemKod in grupKodlari)
                                                                        {
                                                                            <option value="@itemKod.Value" @(item.GrupKodu == itemKod.Value ? "selected=selected" : "")>@itemKod.Caption</option>
                                                                        }
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody> 
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.MezuniyetYonetmelikID > 0)
                            {

                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label padding-top-0 padding-bottom-0">Durum</label>
                                    <div class="col-md-9 col-xs-7 padding-top-0 padding-bottom-0">
                                        <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="info" data-off="danger">
                                            <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    function GecerliCeckedChange(sndr) {
        const tr = $(sndr).parents('tr');
        const input = tr.find("input[name='IsGecerlis']");
        var isChecked = $(sndr).prop('checked');
        input.val(isChecked.toString().toLowerCase());
        if (!isChecked) {
            SetSwitchChecked(tr.find(".ChkIsZorunlu"), false);
            $(sndr).parents('tr').find('.isZorunluShow').addClass('hide');
        }
        GetSettingInfo();
    }
    function ZorunluCeckedChange(sndr) {
        const tr = $(sndr).parents('tr');
        const input = tr.find("input[name='IsZorunlus']");
        var isChecked = $(sndr).prop('checked');
        input.val(isChecked.toString().toLowerCase());
        if (isChecked) {
            $(sndr).parents('tr').find('.isZorunluShow').removeClass('hide');
            SetSwitchChecked(tr.find(".ChkIsGecerli"), true);
        }
        else $(sndr).parents('tr').find('.isZorunluShow').addClass('hide');

        GetSettingInfo();
    }

    function SetSwitchChecked(element, isChecked) {
        element.prop('checked', isChecked);
        $(element).parents('.switch-animate').first().removeClass('switch-off').removeClass('switch-on');
        $(element).parents('.switch-animate').first().addClass(isChecked ? 'switch-on':'switch-off')
    }




    $(function () {

        GetSettingInfo();
        var model = '@Html.Raw(Json.Encode(mmMessage))';
        validateControl(model);
    });
    function GetSettingInfo() {
        $('.OgrenimTipiYonetmelikAyarlari').each(function (inx, itmx) {
            //  const table = itmx.querySelector('.OgrenimTipiYonetmelikAyarlari');
            var $SecimInfo = $(itmx).parents('.panel').first().find('.SecimInfo').first(); 
            var html = jsonToHtmlTables(itmx);
            $SecimInfo.html(html);
            return;

        });
    }
    function jsonToHtmlTables(table) {
        const jsonData = [];

        // JSON verilerini topla
        $(table).find('tbody.tbodyCls tr').each(function () {
            const row = $(this);
            const yayinTurAdi = row.find('.YayinTurAdi').text().trim();
            const isGecerliChecked = row.find('.ChkIsGecerli').prop('checked');
            const isZorunluChecked = row.find('.ChkIsZorunlu').prop('checked');
            const grupKodu = row.find('.GrupKodu option:selected').text().replace(/^\d+_\d+_/g, '');

            jsonData.push({
                yayinTurAdi,
                isGecerliChecked,
                isZorunluChecked,
                grupKodu,
            });
        });

        // Zorunlu ve Geçerli olanları filtrele
        const zorunluVeGecerliData = jsonData.filter(row => row.isZorunluChecked && row.isGecerliChecked);
        // Zorunlu olmayan ama Geçerli olanları filtrele
        const gecerliData = jsonData.filter(row => !row.isZorunluChecked && row.isGecerliChecked);

        // Aynı gruptaki yayın türlerini birleştir ve grup adlarına göre sırala
        const groupedZorunluData = groupByGrupKodu(zorunluVeGecerliData).sort((a, b) => a.grupKodu.localeCompare(b.grupKodu));
        const sortedGecerliData = gecerliData.sort((a, b) => a.grupKodu.localeCompare(b.grupKodu));

        // Listeleri oluştur
        const zorunluVeGecerliListHtml = createList(groupedZorunluData, true);
        const gecerliListHtml = createList(sortedGecerliData, false);

        // Listelerin dolu olup olmadığını kontrol et
        const isZorunluVeGecerliListNotEmpty = groupedZorunluData.length > 0;
        const isGecerliListNotEmpty = sortedGecerliData.length > 0;

        // Her iki listeyi alt alta olacak şekilde birleştir
        let resultHtml = '';

        if (isZorunluVeGecerliListNotEmpty || isGecerliListNotEmpty) {
            if (isZorunluVeGecerliListNotEmpty) {
                resultHtml += zorunluVeGecerliListHtml;
            }

            if (isGecerliListNotEmpty) {
                resultHtml += " " + gecerliListHtml;
            }
        } else {
            resultHtml = 'Herhangi bir yayın kriteri seçilmedi.';
        }

        return resultHtml;
    }

    // Yardımcı fonksiyon: JSON verilerini liste yapısına dönüştür

    function createList(data, isZorunlu) {
        const yayinTurlari = data
            .filter(row => isZorunlu ? row.isZorunluChecked : true)
            .map(row => row.yayinTurAdi);

        if (yayinTurlari.length === 0) {
            return isZorunlu
                ? 'Zorunlu yayın türü bulunmamaktadır.'
                : 'Geçerli yayın türü bulunmamaktadır.';
        }

        const birlesikYayinTurAdlari = yayinTurlari.join(isZorunlu ? ' ) ve ( ' : ', ');
        const istekMesaji = isZorunlu ? 'zorunlu olarak eklenmesi istenecek.' : 'isteğe göre eklenebilir.';
        const istekMesajiOn = isZorunlu ? 'Yayın bilgilerinden ' : '';

        return `${istekMesajiOn}(${birlesikYayinTurAdlari}) ${istekMesaji}`;
    }
    // Yardımcı fonksiyon: Aynı gruptaki yayın türlerini birleştir
    function groupByGrupKodu(data) {
        const groupedData = {};
        data.forEach(row => {
            const key = `${row.grupKodu}_${row.isZorunluChecked}`;
            if (!groupedData[key]) {
                groupedData[key] = { ...row, yayinTurAdi: [] };
            }
            groupedData[key].yayinTurAdi.push(row.yayinTurAdi);
        });

        // Aynı gruptaki yayın türlerini veya ile ayırarak tek hücreye ekle
        for (const key in groupedData) {
            if (groupedData.hasOwnProperty(key)) {
                groupedData[key].yayinTurAdi = groupedData[key].yayinTurAdi.join(' veya ');
            }
        }

        return Object.values(groupedData);
    }

</script>
