@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums

@model BasvuruSurecDetayDto
@{
    Layout = null;
    var IsDelete = (bool)ViewBag.IsDelete;
    string Id = IsDelete ? Model.BasvuruSurecID.ToString() + "_cp" : Model.BasvuruSurecID.ToString();
    string Color = "color=blue";
    var tbName = TabAdlari.BasvuruSureciTN + "-" + Id;
}
<style>
    .myCaptionTdx {
        text-align: right;
        font-size: 10pt;
        margin: 0px;
        color: black;
    }

    .myValueTdx {
        text-align: left;
        font-size: 10pt;
        margin: 0px;
        color: black;
    }
</style>
<script>
    function tbChangeSetPage(tabname, Id, tID) {
        tabchangeSet(tabname, tID); 
        var thtml = $('#' + tabname + '-' + tID).html().trim();
        if (thtml == "")
            subData(Id, false, null);
    }
</script>
<div class="panel panel-success" style="vertical-align:top;height:100%;" id="pnglDB_@Model.BasvuruSurecID">
    <div class="panel-body" style="margin: 0px; padding: 0px;">
        <div class="panel panel-default tabs" style="margin-bottom:0px; padding:0px;">
            <ul class="nav nav-tabs BsTabBtn_@Id" role="tablist">
                <li class="@(Model.SelectedTabIndex == 1 ? "active" : "") bnt-@tbName-1"><a href="#" onclick="tbChangeSetPage('@tbName','@Id',1)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="glyphicon glyphicon-time myCaptionTdx" style="@Color"></i>&nbsp; <span class="myCaptionTdx" style="@Color">Süreç</span></a></li>
                <li class="@(Model.SelectedTabIndex == 2 ? "active" : "") bnt-@tbName-2"><a href="#" onclick="tbChangeSetPage('@tbName','@Id',2)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-list-alt myCaptionTdx" style="@Color"></i>&nbsp; <span class="myCaptionTdx" style="@Color">Sınav Tipleri</span></a></li>
                <li class="@(Model.SelectedTabIndex == 3 ? "active" : "") bnt-@tbName-3"><a href="#" onclick="tbChangeSetPage('@tbName','@Id',3)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-list-alt myCaptionTdx" style="@Color"></i>&nbsp; <span class="myCaptionTdx" style="@Color">Kotalar</span></a></li>
                <li class="@(Model.SelectedTabIndex == 4 ? "active" : "") bnt-@tbName-4"><a href="#" onclick="tbChangeSetPage('@tbName','@Id',4)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-list-alt myCaptionTdx" style="@Color"></i>&nbsp; <span class="myCaptionTdx" style="@Color">Başvuru/Mülakat</span></a></li>
                @if (Model.AnketID.HasValue && false)
                {
                    <li class="@(Model.SelectedTabIndex == 6 ? "active" : "") bnt-@tbName-6"><a href="#" onclick="tbChangeSetPage('@tbName','@Id',6)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-check-square-o myCaptionTdx" style="@Color"></i>&nbsp; <span class="myCaptionTdx" style="@Color">Anket Bilgisi</span></a></li>}
                <li class="@(Model.SelectedTabIndex == 5 ? "active" : "") bnt-@tbName-5"><a href="#" onclick="tbChangeSetPage('@tbName','@Id',5)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-sort-amount-desc myCaptionTdx" style="@Color"></i>&nbsp; <span class="myCaptionTdx" style="@Color">Başvuru Sonuç</span></a></li>

                @if (!IsDelete)
                {
                    <li><a href="javascript:void(0);" onclick="subData('@Id');" class="panel-refresh"><span class="fa fa-refresh myValueTdx" style="@Color"></span></a></li>
                }
            </ul>
            <div class="panel-body tab-content" style="padding:0px;">
                <input type="text" id="SelectedTb-@tbName" style="display:none;" value="@Model.SelectedTabIndex" />
                <div class="tab-pane @(Model.SelectedTabIndex == 1 ? "active" : "") " id="@tbName-1">

                </div>
                <div class="tab-pane @(Model.SelectedTabIndex == 2 ? "active" : "") " id="@tbName-2">

                </div>
                <div class="tab-pane @(Model.SelectedTabIndex == 3 ? "active" : "") " id="@tbName-3">

                </div>
                <div class="tab-pane @(Model.SelectedTabIndex == 4 ? "active" : "") " id="@tbName-4">

                </div>
                <div class="tab-pane @(Model.SelectedTabIndex == 6 ? "active" : "") " id="@tbName-6">

                </div>
                <div class="tab-pane @(Model.SelectedTabIndex == 5 ? "active" : "") " id="@tbName-5">

                </div>
            </div>
        </div>
    </div>
</div>
 