@using LisansUstuBasvuruSistemi.Models 
@using LisansUstuBasvuruSistemi.Utilities.Dtos 
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil;
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model bsMulakatDetay
@{
    Layout = null;
    var IsBootBox = (bool)ViewBag.IsBootBox;
    var IsDelete = (bool)ViewBag.IsDelete;
    string Id = IsDelete ? Model.BasvuruSurecID.ToString() + "_cp" : Model.BasvuruSurecID.ToString();
    string Color = "color=blue"; 
      var nowDate = DateTime.Now;
    bool MulakatBilgiGirisAcik = Model.BaslangicTarihi <= nowDate && Model.BitisTarihi >= nowDate;
    bool MulakatNotGirisAcik = Model.SonucGirisBaslangicTarihi.HasValue && Model.SonucGirisBaslangicTarihi <= nowDate && Model.SonucGirisBitisTarihi >= nowDate;
    bool SurecYetkisi = RoleNames.BasvuruSureciKayit.InRoleCurrent();
    bool KayitYetki = RoleNames.BasvuruSureciOgrenciKayit.InRoleCurrent();

    var mAlanIciData = Model.MulakatSonuc.Where(p => p.AlanTipID == AlanTipi.AlanIci).ToList();
    var mAlanDisiData = Model.MulakatSonuc.Where(p => p.AlanTipID == AlanTipi.AlanDisi).ToList();
    var mAlanIciKayitCount = mAlanIciData.Where(p => p.KayitDurumID.HasValue && p.KayitDurumlari.IsKayitOldu == true).Count();
    var mAlanIciAsilCount = mAlanIciData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Asil).Count();
    var mAlanIciKayitAsilCount = mAlanIciData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Asil && p.KayitDurumID.HasValue && p.KayitDurumlari.IsKayitOldu == true).Count();
    var mAlanIciYedekCount = mAlanIciData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Yedek).Count();
    var mAlanIciKayitYedekCount = mAlanIciData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Yedek && p.KayitDurumID.HasValue && p.KayitDurumlari.IsKayitOldu == true).Count();
    var mAlanDisiKayitCount = mAlanDisiData.Where(p => p.KayitDurumID.HasValue && p.KayitDurumlari.IsKayitOldu == true).Count();
    var mAlanDisiAsilCount = mAlanDisiData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Asil).Count();
    var mAlanDisiKayitAsilCount = mAlanDisiData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Asil && p.KayitDurumID.HasValue && p.KayitDurumlari.IsKayitOldu == true).Count();
    var mAlanDisiYedekCount = mAlanDisiData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Yedek).Count();
    var mAlanDisiKayitYedekCount = mAlanDisiData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Yedek && p.KayitDurumID.HasValue && p.KayitDurumlari.IsKayitOldu == true).Count();


    bool AlanIciTamam = Model.AlanIciKota == mAlanIciKayitCount;
    bool AlanDisiTamam = Model.AlanDisiKota == mAlanDisiKayitCount;

    string _colorAna = "#268a8b";
    string _colorMul = "green";
    string _colorSG = "gray";
    string _colorKaznm = "maroon";
    string _colorUyari = "red";
    string _colorYedk = "#917729";
    int colAdd = 9 + (Model.IsUcretliKayit ? 1 : 0) + (Model.MulakatSurecineGirecek ? 1 : 0) + (Model.IsBelgeYuklemeVar ? 1 : 0);
    var tbName = TabAdlari.BasvuruSonucDetayTN + "-" + Id;
    var RwSelectedCls = "danger";

}
<input type="hidden" id="UniqueID_@Model.MulakatID" />
<div id="pndMDc_@Model.BasvuruSurecID">
    <div class="panel panel-success" id="pndMDcPnl_@Model.BasvuruSurecID">
        <div class="panel-body" style="margin: 0px; padding: 0px;">
            <div class="panel panel-default tabs" style="margin-bottom:0px; padding:0px;">
                <ul class="nav nav-tabs TabLiContetn" role="tablist">
                    <li class="@(Model.SelectedTabIndex==1?"active":"") bnt_@tbName-1" AtipVal="AI"><a onclick="tabchangeSet('@tbName',1);" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-book" style="text-align: right;font-weight: bold;font-size: 11pt;margin: 0px;@Color"></i>&nbsp; <span style="text-align: right;font-weight: bold;font-size: 11pt;margin: 0px;@Color">Alan içi başvuru sonuçları</span></a></li>
                    <li class="@(Model.SelectedTabIndex==2?"active":"") bnt_@tbName-2" AtipVal="AD"><a onclick="tabchangeSet('@tbName',2);" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-book" style="text-align: right;font-weight: bold;font-size: 11pt;margin: 0px;@Color"></i>&nbsp; <span style="text-align: right;font-weight: bold;font-size: 11pt;margin: 0px;@Color">Alan dışı başvuru sonuçları</span></a></li>
                    @if (!IsDelete)
                    {
                        <li><a href="javascript:void(0);" onclick="getMDDetail()" class="panel-refresh" title="Yenile"><span class="fa fa-refresh myValueTd" style="@Color"></span></a></li>
                    }
                </ul>
                <div class="panel-body tab-content" style="padding:0px;">
                    <input type="text" id="SelectedTb-@tbName" style="display:none;" value="@Model.SelectedTabIndex" />
                    <table class="table" style="margin:0px;">
                        <tr>
                            <td style="text-align:right;" width="240">Eğitim Öğretim Yılı</td>
                            <td style="width:4px;">:</td>
                            <td style="font-weight:bold;"><span style="color:@(MulakatBilgiGirisAcik || MulakatNotGirisAcik?_colorMul:_colorSG);">@Model.BaslangicYil / @Model.BitisYil @Model.DonemAdi</span></td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">Başvuru ve Mülakat Bilgi Giriş Süreci</td>
                            <td>:</td>
                            <td style="font-weight:bold;">
                                @if (MulakatBilgiGirisAcik)
                                {
                                    <span style="color:@_colorMul;">@Model.BaslangicTarihi.ToFormatDateAndTime() / @Model.BitisTarihi.ToFormatDateAndTime() (Aktif)</span>
                                }
                                else
                                {
                                    if (Model.BitisTarihi < nowDate)
                                    {
                                        <span style="color:@_colorSG;">@Model.BaslangicTarihi.ToFormatDateAndTime() / @Model.BitisTarihi.ToFormatDateAndTime() (Pasif)</span>
                                    }
                                    else if (Model.BaslangicTarihi > nowDate)
                                    {
                                        <span style="color:@_colorSG;">@Model.BaslangicTarihi.ToFormatDateAndTime() / @Model.BitisTarihi.ToFormatDateAndTime() (Pasif)</span>
                                    }

                                }
                            </td>
                        </tr>
                        @if (Model.MulakatSurecineGirecek)
                        {
                            <tr>
                                <td style="text-align:right;">Mülakat Not Giriş Süreci</td>
                                <td>:</td>
                                <td style="font-weight:bold;">
                                    @if (MulakatNotGirisAcik)
                                    {
                                        <span style="color:@_colorMul;">@Model.SonucGirisBaslangicTarihi.Value.ToFormatDateAndTime() / @Model.SonucGirisBitisTarihi.Value.ToFormatDateAndTime() (Aktif)</span>
                                    }
                                    else
                                    {
                                        if (Model.SonucGirisBitisTarihi.HasValue && Model.SonucGirisBitisTarihi.Value < nowDate)
                                        {
                                            <span style="color:@_colorSG;">@Model.SonucGirisBaslangicTarihi.Value.ToFormatDateAndTime() / @Model.SonucGirisBitisTarihi.Value.ToFormatDateAndTime() (Pasif)</span>
                                        }
                                        else if (Model.SonucGirisBaslangicTarihi.HasValue && Model.SonucGirisBaslangicTarihi.Value > nowDate)
                                        {
                                            <span style="color:@_colorSG;">@Model.SonucGirisBaslangicTarihi.Value.ToFormatDateAndTime() / @Model.SonucGirisBitisTarihi.Value.ToFormatDateAndTime() (Pasif)</span>
                                        }
                                        else
                                        {
                                            <span style="color:@_colorUyari;">Süreç Tarihleri Belirlenmedi</span>
                                        }
                                    }

                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td style="text-align:right;">Mülakat</td>
                                <td>:</td>
                                <td style="font-weight:bold;"><span style="color:@_colorUyari;">Bu Programa Ait Mülakat Süreci Bulunmamaktadır.</span></td>
                            </tr>
                        }


                        <tr>
                            <td style="text-align:right;">ABD / Program Adı</td>
                            <td>:</td>
                            <td>
                                @Model.AnabilimDaliAdi <a href="javascript:void(0);" onclick="getReportType(@Model.BasvuruSurecID,'@Model.AnabilimDaliKod','')">
                                    <span style="font-size:14pt;" title="Yazdır" class="fa fa-print"></span>
                                </a> / @Model.ProgramAdi (@Model.ProgramKod)
                                <a href="javascript:void(0);" onclick="getReportType(@Model.BasvuruSurecID,'@Model.AnabilimDaliKod','@Model.ProgramKod','@Model.OgrenimTipKod')">
                                    <span style="font-size:14pt;" title="Yazdır" class="fa fa-print"></span>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align:right;">Öğrenim Seviyesi</td>
                            <td>:</td>
                            <td>
                                @Model.OgrenimTipAdi (GNB Not Ort: @Model.BasariNotOrtalamasi)
                                @if (Model.Ucretli)
                                {
                                    <span>( Ücretli Program, Ücret: @Model.Ucret.Value.ToString("n2") TL)</span>
                                }
                                else
                                {
                                    <span>
                                        (Ücretsiz Program)
                                    </span>
                                }

                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">Kota Bilgisi</td>
                            <td>:</td>
                            <td>
                                @if (Model.OrtakKota)
                                {

                                    <div>Ortak Kota: <span style="font-weight:bold">@Model.OrtakKotaSayisi.Value</span></div>
                                }
                                else
                                {
                                    <div>Alan İçi Kota: <span style="font-weight:bold">@Model.AlanIciKota</span>   Alan Dışı Kota: <span style="font-weight:bold">@Model.AlanDisiKota</span> Alan İçi Ek Yedek Kota: <span style="font-weight:bold">@Model.AlanIciEkKota</span> Alan Dışı Ek Yedek Kota: <span style="font-weight:bold">@Model.AlanDisiEkKota</span></div>
                                }

                            </td>
                        </tr>
                        @*<tr>
                                <td style="text-align:right;">Bilimsel Hazırlık</td>
                                <td>:</td>
                                <td>@(Model.AlanIciBilimselHazirlik ? "Alan İçi Bilimsel Hazırlık Var" : "Alan İçi Bilimsel Hazırlık Yok"), @(Model.AlanDisiBilimselHazirlik ? "Alan Dışı Bilimsel Hazırlık Var" : "Alan Dışı Bilimsel Hazırlık Yok")</td>
                            </tr>*@
                    </table>
                    <div id="tblKotaBilgi" class="hide">
                        <table class="table">
                            <tr>
                                <td width="150">Ortak Kota</td>
                                <td width="5">:</td>
                                <td>@(Model.OrtakKota ? "Evet" : "Hayır")</td>
                            </tr>
                            @if (mAlanDisiKayitCount == 0 && mAlanIciKayitCount == 0)
                            {
                                if (Model.OrtakKota)
                                {
                                    <tr>
                                        <td>Ortak Kota Sayısı</td>
                                        <td>:</td>
                                        <td><input type='text' id='OrtakKotaSayisi' class='form-control' value="@Model.OrtakKotaSayisi"></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>Alaniçi Kota Sayısı</td>
                                        <td>:</td>
                                        <td><input type='text' id='AlanIciKota' class='form-control' value="@Model.AlanIciKota"></td>
                                    </tr>
                                    <tr>
                                        <td>Alandışı Kota Sayısı</td>
                                        <td>:</td>
                                        <td><input type='text' id='AlanDisiKota' class='form-control' value="@Model.AlanDisiKota"></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                if (Model.OrtakKota)
                                {
                                    <tr>
                                        <td>Ek Yedek Kota Sayısı</td>
                                        <td>:</td>
                                        <td><input type='text' id='AlanDisiEkKota' class='form-control' value="@Model.AlanDisiEkKota"></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>Alaniçi Ek Yedek Kota Sayısı</td>
                                        <td>:</td>
                                        <td><input type='text' id='AlanIciEkKota' class='form-control' value="@Model.AlanIciEkKota"></td>
                                    </tr>
                                    <tr>
                                        <td>Alandışı Ek Yedek Kota Sayısı</td>
                                        <td>:</td>
                                        <td><input type='text' id='AlanDisiEkKota' class='form-control' value="@Model.AlanDisiEkKota"></td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                    <div class="tab-pane @(Model.SelectedTabIndex==1?"active":"") " style="padding:2px;margin:0px;" id="@tbName-1">
                        <div class="widget widget-default" style="margin:0px;padding:0px;">
                            <div class="panel-heading padding-0">
                                <h3 class="panel-title">
                                    <i class="fa fa-group"></i> Alan içi @(mAlanIciData.Count > 0 ? "" : "(Başvuru yapılmadı) ")

                                </h3>

                                <table style="float:right;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                @if (mAlanIciData.Count > 0 && SurecYetkisi)
                                                {
                                                    <a href="javascript:void(0);" onclick="tHesapla(@((mAlanIciKayitCount>0 || mAlanDisiKayitCount>0)?true:false))" class="label label-info label-form fa fa-sort-amount-desc">&nbsp;Bu Program İçin Tekrar Hesapla</a>
                                                }
                                                @if (mAlanIciData.Count > 0 && SurecYetkisi && mAlanIciData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Asil && p.KayitDurumID.HasValue == false).Count() > 0)
                                                {
                                                    <a href="javascript:void(0);" onclick="kKayitTops(@AlanTipi.AlanIci)" class="label label-success fa fa-save">&nbsp; T K K (Asil)</a>
                                                }
                                                else if (mAlanIciData.Count > 0 && SurecYetkisi && mAlanIciData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Yedek && p.KayitDurumID.HasValue == false).Count() > 0)
                                                {
                                                    <a href="javascript:void(0);" onclick="kKayitTopsY(@AlanTipi.AlanIci)" class="label label-warning fa fa-save">&nbsp; T K K (Yedek)</a>
                                                }
                                            </td>
                                            <td style="padding-right: 2px; padding-left: 2px; " class="text-center" id="AI_filtreKelime_@Model.MulakatID"></td>
                                            <td><input style="color:red;" type="text" name="search" id="AI_filterInp_@Model.MulakatID" placeholder="ara..."></td>
                                            <td><a href="javascript:void(0);" onclick="flter($('#AI_filterInp_@Model.MulakatID'),'@AlanTipi.AlanIci',@Model.MulakatID)" class="label label-warning panel-refresh"> Ara</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel panel-default form-horizontal" style="margin:0px;">
                                <table class="table" style="width:100%;table-layout:fixed;@Color">
                                    <thead>
                                        <tr>
                                            <th width="40">S.No</th>
                                            <th>Ad Soyad</th>
                                            <th width="50">@(Model.IsAlesYerineDosyaNotuIstensin ? "Dos P" : "Ales P") </th>
                                            <th width="50">AGNO</th>
                                            <th width="100">Dil-S</th>
                                            @if (Model.MulakatSurecineGirecek)
                                            {
                                                <th width="50">Mülakat</th>
                                            }
                                            <th width="50">B Notu</th>
                                            @if (Model.IsUcretliKayit)
                                            {
                                                <th width="20" title="Dekont Bilgi">D</th>
                                            }
                                            @if (Model.IsBelgeYuklemeVar)
                                            {
                                                <th width="40">Belge</th>
                                            }
                                            <th width="50">Durum</th>
                                            <th width="130" title="Kayıt Durumu">KDurum</th>
                                            <th width="18"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="@(colAdd)">
                                                <div id="scrl_@(Model.MulakatID+"_AI")" style="height:300px;   overflow-y:scroll;">
                                                    <table class="table table-hover" style="width:100%; table-layout:fixed;">
                                                        <tbody id="AI_fltr_@Model.MulakatID">
                                                            @foreach (var item in mAlanIciData)
                                                            {
                                                                string _color = "";
                                                                if (item.MulakatSonucTipID == MulakatSonucTipi.Asil && !item.KayitDurumID.HasValue) { _color = _colorMul + ";"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Asil && item.KayitDurumID.HasValue && item.KayitDurumID == KayitDurumu.OnKayit) { _color = "blue;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Asil && item.KayitDurumID.HasValue && item.KayitDurumlari.IsKayitOldu == true) { _color = _colorMul + "; font-weight:bold;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Asil && item.KayitDurumID.HasValue && item.KayitDurumlari.IsKayitOldu == false) { _color = "#91c891;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Yedek && !item.KayitDurumID.HasValue) { _color = _colorYedk + ";"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Yedek && item.KayitDurumID.HasValue && item.KayitDurumID == KayitDurumu.OnKayit) { _color = "blue;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Yedek && item.KayitDurumID.HasValue && item.KayitDurumlari.IsKayitOldu == true) { _color = _colorYedk + "; font-weight:bold;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Yedek && item.KayitDurumID.HasValue && item.KayitDurumlari.IsKayitOldu == false) { _color = "#c8c1ad;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Kazanamadı) { _color = _colorKaznm; }

                                                                bool ShowKayitBtn = false && item.KayitDurumID.HasValue == false && (item.MulakatSonucTipID == MulakatSonucTipi.Asil || item.MulakatSonucTipID == MulakatSonucTipi.Yedek);
                                                                int SelectTabID = Model.IsBelgeYuklemeVar && ShowKayitBtn ? 4 : 1;

                                                                <tr id="Rw_@item.UniqueID" UniqueID="@item.UniqueID" class="mainRow" style="color:@_color;">
                                                                    <td width="40">
                                                                        @item.SiraNo
                                                                    </td>
                                                                    <td>

                                                                        <span class="AI_fltrAdS_@Model.MulakatID" style="cursor:pointer;" title="öğrenciyi gör" onclick="getDetailOgr(@item.BasvuruID,'@SelectTabID','@(ShowKayitBtn.ToString().ToLower())',@item.MulakatSonucID,'@item.UniqueID');">
                                                                            <i class="fa fa-eye" style="color:@_color;"></i> @item.AdSoyad @(item.KayitOncelikSiraNo.HasValue ? "(" + item.KayitOncelikSiraNo.Value + ". Öncelik)" : "")
                                                                        </span>

                                                                    </td>
                                                                    <td width="50">
                                                                        @(item.AlesNotuOrDosyaNotu.HasValue ? item.AlesNotuOrDosyaNotu.Value.ToString("n2") : "Snv-Yok")
                                                                    </td>

                                                                    <td width="50">
                                                                        @item.Agno.ToString("n2")
                                                                    </td>
                                                                    <td width="100" title="@(item.SinavTipKod.HasValue?item.SinavAdi:"")">
                                                                        @if (item.SinavTipKod.HasValue)
                                                                        {
                                                                            var snvAdi = (item.SinavAdi.Length > 6 ? item.SinavAdi.Substring(0, 6) : item.SinavAdi);
                                                                            if (item.IsDilTaahhutVar == true)
                                                                            {
                                                                                @(snvAdi + " (Taahhütlü)")
                                                                            }
                                                                            else
                                                                            {
                                                                                @(snvAdi + " (" + item.SinavNotu.Value.ToString("n2") + ")")
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            @("Snv-Yok")
                                                                        }

                                                                    </td>
                                                                    @if (Model.MulakatSurecineGirecek)
                                                                    {
                                                                        <td width="50">
                                                                            @if ((Model.SozluNotuIstensin && item.SinavaGirmediS == true) || (Model.YaziliNotuIstensin && item.SinavaGirmediY == true))
                                                                            {
                                                                                <span>---</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span title="@((Model.YaziliNotuIstensin? "Yazılı Notu:"+item.YaziliNotu.Value.ToString("n2"):"")+(Model.SozluNotuIstensin? " Sözlü Notu:"+item.SozluNotu.Value.ToString("n2"):""))">
                                                                                    @item.GirisSinavNotu.ToString("n2")
                                                                                </span>

                                                                            }
                                                                        </td>
                                                                    }
                                                                    <td width="50">
                                                                        @if ((Model.SozluNotuIstensin && item.SinavaGirmediS == true) || (Model.YaziliNotuIstensin && item.SinavaGirmediY == true))
                                                                        {
                                                                            <span>---</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>
                                                                                @item.GenelBasariNotu.ToString("n2")
                                                                            </span>

                                                                        }
                                                                    </td>
                                                                    @if (Model.IsUcretliKayit)
                                                                    {
                                                                        <td width="20" title="@(item.DekontTarihi.HasValue?"Dekont Bilgisi Girildi.":"Dekont Bilgisi Girilmedi!")">

                                                                            <span class="fa fa-file-text-o" onclick="dekontKontrol('@item.UniqueID')" style="cursor:pointer; font-size:15pt;color:@(item.DekontTarihi.HasValue?(_color+"font-weight:bold;"):"gray;")"></span>

                                                                        </td>
                                                                    }
                                                                    @if (Model.IsBelgeYuklemeVar)
                                                                    {
                                                                        <td width="40">
                                                                            @item.BasvurudaYuklenenBelgeCount / @item.KayittaIstenecekBelgeCount
                                                                        </td>
                                                                    }
                                                                    <td width="50">
                                                                        @if (item.MulakatSonucTipID == MulakatSonucTipi.Asil || item.MulakatSonucTipID == MulakatSonucTipi.Yedek)
                                                                        {
                                                                            <span>@item.MulakatSonucTipAdi</span>
                                                                        }

                                                                    </td>

                                                                    <td width="130">
                                                                        @if (item.SuccessRow)
                                                                        {
                                                                            if (KayitYetki)
                                                                            {
                                                                                <table style="table-layout:fixed;width:100%;">
                                                                                    <tr>
                                                                                        <td>
                                                                                            <select id="KayitDurumID_@item.MulakatSonucID" name="KDurum_@item.MulakatSonucID">
                                                                                                <option value=""></option>
                                                                                                @*@if (item.MulakatSonucTipID == MulakatSonucTipi.Yedek)
                                                                                                    {
                                                                                                        <option @(item.KayitDurumID == KayitDurumu.OnKayit ? "selected" : "") value="@KayitDurumu.OnKayit">Ön Kayıt</option>}*@
                                                                                                <option @(item.KayitDurumID == KayitDurumu.OnKayit ? "selected" : "") value="@KayitDurumu.OnKayit">Ön Kayıt</option>

                                                                                                <option @(item.KayitDurumID == KayitDurumu.KayitOldu ? "selected" : "") value="@KayitDurumu.KayitOldu">Kayıt Oldu</option>
                                                                                                <option @(item.KayitDurumID == KayitDurumu.KayitOlmadi ? "selected" : "") value="@KayitDurumu.KayitOlmadi">Kayıt Olmadı</option>
                                                                                            </select>
                                                                                        </td>
                                                                                        <td width="20" title="Kaydet">
                                                                                            <a href="javascript:void(0);" onclick="kKayit(@item.MulakatSonucID,'@item.UniqueID','@item.AdSoyad',@item.BasvuruID)"><i style="font-size:13pt;@("color:" + _color)" class="fa fa-save"></i></a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            }
                                                                            else
                                                                            {
                                                                                @(item.KayitDurumID.HasValue ? item.KayitDurumlari.KayitDurumAdi : "İşlem Yok")
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            if (!item.Aciklama.IsNullOrWhiteSpace())
                                                                            {
                                                                                <span title="@item.Aciklama">
                                                                                    <i class="fa fa-exclamation" style="font-size:11pt;"> @item.MulakatSonucTipAdi</i>
                                                                                </span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>@item.MulakatSonucTipAdi</span>
                                                                            }
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfooter>
                                        <tr>
                                            <th colspan="@(colAdd)">
                                                <table width="650" style="margin:0px auto;">
                                                    <tr>
                                                        <td width="225" style="text-align:center;color:maroon;">Kalan Kontenjan: @(Model.AlanIciKota - mAlanIciData.Where(p => p.KayitDurumID.HasValue && p.KayitDurumlari.IsKayitOldu).Count())</td>
                                                        <td width="225" style="text-align:center;color:@_colorAna">Kayit/Toplam: @mAlanIciKayitCount / @mAlanIciData.Count</td>
                                                        <td width="225" style="text-align:center;color:@_colorMul">Asil : @mAlanIciKayitAsilCount / @mAlanIciAsilCount</td>
                                                        <td width="225" style="text-align:center;color:@_colorYedk">Yedek : @mAlanIciKayitYedekCount / @mAlanIciYedekCount</td>
                                                        <td width="225" style="text-align:center;color:@_colorKaznm">Kazanamayan: @(mAlanIciData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Kazanamadı).Count())</td>
                                                    </tr>
                                                </table>
                                            </th>
                                        </tr>
                                    </tfooter>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane @(Model.SelectedTabIndex==2?"active":"")" style="padding:2px;margin:0px;" id="@tbName-2">
                        <div class="widget widget-default" style="margin:0px;padding:0px;">
                            <div class="panel-heading padding-0">
                                <h3 class="panel-title">
                                    <i class="fa fa-group"></i> Alan dışı @(mAlanDisiData.Count > 0 ? "" : "(Başvuru yapılmadı) ")

                                </h3>
                                <table style="float:right;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                @if (mAlanDisiData.Count > 0 && SurecYetkisi)
                                                {
                                                    <a href="javascript:void(0);" onclick="tHesapla(@((mAlanIciKayitCount>0 || mAlanDisiKayitCount>0)?true:false))" class="label label-info label-form fa fa-sort-amount-desc">&nbsp;Bu Program İçin Tekrar Hesapla</a>
                                                }
                                                @if (mAlanDisiData.Count > 0 && SurecYetkisi && Model.MulakatSonuc.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Asil && p.KayitDurumID.HasValue == false).Count() > 0)
                                                {
                                                    <a href="javascript:void(0);" onclick="kKayitTops(@AlanTipi.AlanDisi)" class="label label-success fa fa-save">&nbsp; T K K (Asil)</a>
                                                }
                                                else if (mAlanDisiData.Count > 0 && SurecYetkisi && Model.MulakatSonuc.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Yedek && p.KayitDurumID.HasValue == false).Count() > 0)
                                                {
                                                    <a href="javascript:void(0);" onclick="kKayitTopsY(@AlanTipi.AlanDisi)" class="label label-warning fa fa-save">&nbsp; T K K (Yedek)</a>
                                                }
                                            </td>
                                            <td style="padding-right: 2px; padding-left: 2px; " class="text-center" id="AD_filtreKelime_@Model.MulakatID"></td>
                                            <td><input style="color:red;" type="text" name="search" id="AD_filterInp_@Model.MulakatID" placeholder="ara..."></td>
                                            <td><a href="javascript:void(0);" onclick="flter($('#AD_filterInp_@Model.MulakatID'),'@AlanTipi.AlanDisi',@Model.MulakatID)" class="label label-warning panel-refresh"> Ara</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel panel-default form-horizontal" style="margin:0px;">
                                <table class="table" style="width:100%;table-layout:fixed;@Color">
                                    <thead>
                                        <tr>
                                            <th width="40">S.No</th>
                                            <th>Ad Soyad</th>
                                            <th width="50">@(Model.IsAlesYerineDosyaNotuIstensin ? "Dos P" : "Ales P") </th>
                                            <th width="50">AGNO</th>
                                            <th width="100">Dil-S</th>
                                            @if (Model.MulakatSurecineGirecek)
                                            {
                                                <th width="50">Mülakat</th>
                                            }
                                            <th width="50">B Notu</th>
                                            @if (Model.IsUcretliKayit)
                                            {
                                                <th width="20" title="Dekont Bilgi">D</th>
                                            }
                                            @if (Model.IsBelgeYuklemeVar)
                                            {
                                                <th width="40">Belge</th>
                                            }
                                            <th width="50">Durum</th>
                                            <th width="130" title="Kayıt Durumu">KDurum</th>
                                            <th width="18"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="@(colAdd)">
                                                <div id="scrl_@(Model.MulakatID+"_AD")" style="height:300px; width:100%; overflow-y:scroll;">
                                                    <table class="table table-hover" style="width:100%; table-layout:fixed;">
                                                        <tbody id="AD_fltr_@Model.MulakatID">
                                                            @foreach (var item in mAlanDisiData)
                                                            {
                                                                string _color = "";
                                                                if (item.MulakatSonucTipID == MulakatSonucTipi.Asil && !item.KayitDurumID.HasValue) { _color = _colorMul + ";"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Asil && item.KayitDurumID.HasValue && item.KayitDurumID == KayitDurumu.OnKayit) { _color = "blue;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Asil && item.KayitDurumID.HasValue && item.KayitDurumlari.IsKayitOldu == true) { _color = _colorMul + "; font-weight:bold;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Asil && item.KayitDurumID.HasValue && item.KayitDurumlari.IsKayitOldu == false) { _color = "#91c891;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Yedek && !item.KayitDurumID.HasValue) { _color = _colorYedk + ";"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Yedek && item.KayitDurumID.HasValue && item.KayitDurumID == KayitDurumu.OnKayit) { _color = "blue;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Yedek && item.KayitDurumID.HasValue && item.KayitDurumlari.IsKayitOldu == true) { _color = _colorYedk + "; font-weight:bold;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Yedek && item.KayitDurumID.HasValue && item.KayitDurumlari.IsKayitOldu == false) { _color = "#c8c1ad;"; }
                                                                else if (item.MulakatSonucTipID == MulakatSonucTipi.Kazanamadı) { _color = _colorKaznm; }
                                                                bool ShowKayitBtn = false && item.KayitDurumID.HasValue == false && (item.MulakatSonucTipID == MulakatSonucTipi.Asil || item.MulakatSonucTipID == MulakatSonucTipi.Yedek);
                                                                int SelectTabID = Model.IsBelgeYuklemeVar && ShowKayitBtn ? 4 : 1;
                                                                <tr id="Rw_@item.UniqueID" UniqueID="@item.UniqueID" class="mainRow" style="color:@_color;">
                                                                    <td width="40">
                                                                        @item.SiraNo
                                                                    </td>
                                                                    <td>
                                                                        <span class="AD_fltrAdS_@Model.MulakatID" title="Öğrenciyi gör" style="color:@_color;cursor:pointer;" onclick="getDetailOgr(@item.BasvuruID,'@SelectTabID','@(ShowKayitBtn.ToString().ToLower())',@item.MulakatSonucID,'@item.UniqueID');">
                                                                            <i class="fa fa-eye"> </i> @item.AdSoyad @(item.KayitOncelikSiraNo.HasValue?"("+item.KayitOncelikSiraNo.Value+". Öncelik)":"")
                                                                        </span>
                                                                    </td>
                                                                    <td width="50">
                                                                        @(item.AlesNotuOrDosyaNotu.HasValue ? item.AlesNotuOrDosyaNotu.Value.ToString("n2") : "Snv-Yok")
                                                                    </td>
                                                                    <td width="50">
                                                                        @item.Agno.ToString("n2")
                                                                    </td>
                                                                    <td width="100" title="@(item.SinavTipKod.HasValue?item.SinavAdi:"")">
                                                                        @if (item.SinavTipKod.HasValue)
                                                                        {
                                                                            var snvAdi = (item.SinavAdi.Length > 6 ? item.SinavAdi.Substring(0, 6) : item.SinavAdi);
                                                                            if (item.IsDilTaahhutVar == true)
                                                                            {
                                                                                @(snvAdi + " (Taahhütlü)")
                                                                            }
                                                                            else
                                                                            {
                                                                                @(snvAdi + " (" + item.SinavNotu.Value.ToString("n2") + ")")
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            @("Snv-Yok")
                                                                        }
                                                                    </td>
                                                                    @if (Model.MulakatSurecineGirecek)
                                                                    {
                                                                        <td width="50">
                                                                            @if ((Model.SozluNotuIstensin && item.SinavaGirmediS == true) || (Model.YaziliNotuIstensin && item.SinavaGirmediY == true))
                                                                            {
                                                                                <span>---</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span title="@((Model.YaziliNotuIstensin? "Yazılı Notu:"+item.YaziliNotu.Value.ToString("n2"):"")+(Model.SozluNotuIstensin? " Sözlü Notu:"+item.SozluNotu.Value.ToString("n2"):""))">
                                                                                    @item.GirisSinavNotu.ToString("n2")
                                                                                </span>

                                                                            }
                                                                        </td>
                                                                    }
                                                                    <td width="50">
                                                                        @if ((Model.SozluNotuIstensin && item.SinavaGirmediS == true) || (Model.YaziliNotuIstensin && item.SinavaGirmediY == true))
                                                                        {
                                                                            <span>---</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>
                                                                                @item.GenelBasariNotu.ToString("n2")
                                                                            </span>

                                                                        }
                                                                    </td>
                                                                    @if (Model.IsUcretliKayit)
                                                                    {
                                                                        <td width="20" title="@(item.DekontTarihi.HasValue?"Dekont Bilgisi Girildi.":"Dekont Bilgisi Girilmedi!")">
                                                                            <span class="fa fa-file-text-o" onclick="dekontKontrol('@item.UniqueID')" style="cursor:pointer; font-size:15pt;color:@(item.DekontTarihi.HasValue?(_color+"font-weight:bold;"):"gray;")"></span>
                                                                        </td>
                                                                    }
                                                                    @if (Model.IsBelgeYuklemeVar)
                                                                    {
                                                                        <td width="40">
                                                                            @item.BasvurudaYuklenenBelgeCount / @item.KayittaIstenecekBelgeCount
                                                                        </td>
                                                                    }
                                                                    <td width="50">
                                                                        @if (item.MulakatSonucTipID == MulakatSonucTipi.Asil || item.MulakatSonucTipID == MulakatSonucTipi.Yedek)
                                                                        {
                                                                            <span>@item.MulakatSonucTipAdi</span>
                                                                        }
                                                                    </td>
                                                                    <td width="130">
                                                                        @if (item.SuccessRow)
                                                                        {
                                                                            if (KayitYetki)
                                                                            {
                                                                                <table style="table-layout:fixed;width:100%;">
                                                                                    <tr>
                                                                                        <td>
                                                                                            <select id="KayitDurumID_@item.MulakatSonucID" name="KDurum_@item.MulakatSonucID">
                                                                                                <option value=""></option>
                                                                                                @if (item.MulakatSonucTipID == MulakatSonucTipi.Yedek)
                                                                                                {
                                                                                                    <option @(item.KayitDurumID == KayitDurumu.OnKayit ? "selected" : "") value="@KayitDurumu.OnKayit">Ön Kayıt</option>}
                                                                                                <option @(item.KayitDurumID == KayitDurumu.KayitOldu ? "selected" : "") value="@KayitDurumu.KayitOldu">Kayıt Oldu</option>
                                                                                                <option @(item.KayitDurumID == KayitDurumu.KayitOlmadi ? "selected" : "") value="@KayitDurumu.KayitOlmadi">Kayıt Olmadı</option>
                                                                                            </select>
                                                                                        </td>
                                                                                        <td width="20">
                                                                                            <a href="javascript:void(0);" onclick="kKayit(@item.MulakatSonucID,'@item.UniqueID','@item.AdSoyad',@item.BasvuruID)"><i style="font-size:13pt;@("color:" + _color)" class="fa fa-save tooltips" data-style="blue" data-original-title="Kaydet"></i></a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            }
                                                                            else
                                                                            {
                                                                                @(item.KayitDurumID.HasValue ? item.KayitDurumlari.KayitDurumAdi : "İşlem Yok")
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            if (!item.Aciklama.IsNullOrWhiteSpace())
                                                                            {
                                                                                <span title="@item.Aciklama">
                                                                                    <i class="fa fa-exclamation" style="font-size:11pt;"> @item.MulakatSonucTipAdi</i>
                                                                                </span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>@item.MulakatSonucTipAdi</span>
                                                                            }
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfooter>
                                        <tr>
                                            <th colspan="@(colAdd)">
                                                <table width="650" style="margin:0px auto;">
                                                    <tr>
                                                        <td width="225" style="text-align:center;color:maroon;">Kalan Kontenjan: @(Model.AlanDisiKota - mAlanDisiData.Where(p => p.KayitDurumID.HasValue && p.KayitDurumlari.IsKayitOldu).Count())</td>
                                                        <td width="225" style="text-align:center;color:@_colorAna">Kayit/Toplam : @mAlanDisiKayitCount / @mAlanDisiData.Count</td>
                                                        <td width="225" style="text-align:center;color:@_colorMul">Asil : @mAlanDisiKayitAsilCount / @mAlanDisiAsilCount</td>
                                                        <td width="225" style="text-align:center;color:@_colorYedk">Yedek : @mAlanDisiKayitYedekCount / @mAlanDisiYedekCount</td>
                                                        <td width="225" style="text-align:center;color:@_colorKaznm">Kazanamayan: @(mAlanDisiData.Where(p => p.MulakatSonucTipID == MulakatSonucTipi.Kazanamadı).Count())</td>
                                                    </tr>
                                                </table>
                                            </th>
                                        </tr>
                                    </tfooter>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (IsBootBox)
{
    <script>
        function tHesapla(IsKayitVar){
            var contt=  $('#tblKotaBilgi').html();
            var id='@Model.BasvuruSurecID';
            var _panel = $('#pndMDcPnl_' + id);
            var btbxX = bootbox.dialog({
                message: contt,
                title: "Başvuru Sonuç Tekrar Hesaplama İşlemi",
                buttons: {
                    success: {
                        label: "Belirtilen Kotalara Göre Hesapla",
                        className: "btn btn-info",
                        callback: function () {
                            var prk='@Model.ProgramKod';
                            var otKod = '@Model.OgrenimTipKod';
                            var ort = "";
                            var aiK = "";
                            var adK = "";
                            var aiEK = "";
                            var adEK = "";
                            if (IsKayitVar) {
                                var aiEK = $(btbxX).find('#AlanIciEkKota').val();
                                var adEK = $(btbxX).find('#AlanDisiEkKota').val();
                            }
                            else {
                                ort = $(btbxX).find('#OrtakKotaSayisi').val();
                                aiK = $(btbxX).find('#AlanIciKota').val();
                                adK = $(btbxX).find('#AlanDisiKota').val();
                            }

                            _pRefresh(_panel, false);
                            $.ajax({
                                url: '@Url.Action("BasvuruSonucHesap", "YGBasvuruSureci")',
                                data: { 'id': id, 'ProgramKod': prk, 'OgrenimTipKod': otKod, 'OrtakKotaSayisi': ort, 'AlanIciKota': aiK, 'AlanDisiKota': adK, 'AlanIciEkKota': aiEK, 'AlanDisiEkKota':adEK},
                                success: function (result) {
                                    if (result.IsSuccess) {
                                        getMDDetail();
                                    }
                                    showMmMessage(result.Messages, 'Tamam');

                                    return true;
                                },
                                error: function (err) {
                                    alert(err.responseText);
                                    return false;
                                }
                            });
                        }
                    },
                    danger: {
                        label: "Vazgeç",
                        className: "btn-primary",
                        callback: function () {
                        }
                    }
                }

            });
        }
    </script>
    <script>
        function GetAtip() {
            var retval = "";
            $('.TabLiContetn li').each(function (inx, lix) {
                if ($(lix).hasClass('active'))
                    retval= $(lix).attr("atipval");

            });
            return retval;
        }
        var ATip =@Model.SelectedTabIndex== 1 ? "AI" : "AD";
        function kKayitTops(AlanTipID) {
            var btbx = bootbox.dialog({
                message: "<table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;text-align:center;color:maroon;'>İşlem görmeyen Asil öğrenci kayıtları Kayıt olmadı şeklinde güncellenecek! İşlemi Onaylıyor Musunuz?</td></tr></table>",
                title: "Toplu Kayıt Kapatma İşlemi",
                buttons: {
                    success: {
                        label: 'Evet',
                        className: "btn-danger",
                        callback: function () {
                            KaydetTops(AlanTipID);
                        }
                    },
                    danger: {
                        label: 'Hayır',
                        className: "btn-primary",
                        callback: function () {
                        }
                    }
                }
            });
        }
        function KaydetTops(AlanTipID){
            var id='@Model.BasvuruSurecID';
            var _panel = $('#pndMDcPnl_' + id);
            _pRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("TopluKayit", "YGBasvuruSureci")',
                data: { BasvuruSurecID: '@Model.BasvuruSurecID', ProgramKod: '@Model.ProgramKod',OgrenimTipKod:'@Model.OgrenimTipKod',AlanTipID:AlanTipID },
                success: function (result) {

                    if(result.Messages.length>0)
                        showMmMessage(result.Messages, 'Tamam');
                    getMDDetail();
                    _pRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    _pRefresh(_panel, true);
                }
            });
        }
        function kKayitTopsY(AlanTipID) {
            var btbx = bootbox.dialog({
                message: "<table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;text-align:center;color:maroon;'>İşlem görmeyen Yedek öğrenci kayıtları Kayıt olmadı şeklinde güncellenecek! İşlemi Onaylıyor Musunuz?</td></tr></table>",
                title: "Toplu Kayıt Kapatma İşlemi",
                buttons: {
                    success: {
                        label: 'Evet',
                        className: "btn-danger",
                        callback: function () {
                            KaydetTopsY(AlanTipID);
                        }
                    },
                    danger: {
                        label: 'Hayır',
                        className: "btn-primary",
                        callback: function () {
                        }
                    }
                }
            });
        }
        function KaydetTopsY(AlanTipID){
            var id='@Model.BasvuruSurecID';

            var _panel = $('#pndMDcPnl_' + id);
            _pRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("TopluKayitY", "YGBasvuruSureci")',
                data: { BasvuruSurecID: '@Model.BasvuruSurecID', ProgramKod: '@Model.ProgramKod',OgrenimTipKod:'@Model.OgrenimTipKod',AlanTipID:AlanTipID },
                success: function (result) {

                    if(result.Messages.length>0)
                        showMmMessage(result.Messages, 'Tamam');
                    getMDDetail();
                    _pRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    _pRefresh(_panel, true);
                }
            });
        }
        function kKayit(msID,UniqueID,AdSoyad,BasvuruID) {

            var drm = $("#KayitDurumID_"+msID).val();
            var strDrm = $("#KayitDurumID_" + msID).val() != "" ? $("#KayitDurumID_" + msID + " option:selected").text() : "Kayıt Olmadı";;
            var bRow = "";
            if (drm == "@KayitDurumu.KayitOldu" || drm=="@KayitDurumu.OnKayit") {
                 bRow+="<tr><td style='font-size:14pt;text-align:center;color:maroon;'><input style='width:18px;height:18px;cursor:pointer;' type='checkbox' checked='checked' id='YokOgrenimDurumKotrol'/> Yök Web Servisinden Öğrenim Durumu Kontrolü Yapılsın</td></tr>";
            }
            bRow+="<tr><td style='font-size:12pt;text-align:center;color:green;'>'"+AdSoyad+"' Öğrencisine ait başvurunun kayıt durumunu '"+strDrm+"' şeklinde değiştirmek istiyorsunuz. İşleme devam edilsin mi?</td></tr>";
            if(drm!=null){
                var btbx = bootbox.dialog({
                    message: "<table style='table-layout:fixed;width:100%;'>"+bRow+"</table>",
                    title: "Başvuru Kayıt İşlemi",
                    buttons: {
                        success: {
                            label: 'Kaydet',
                            className: "btn-danger",
                            callback: function () {
                                var YokODKontrolYap = $('#YokOgrenimDurumKotrol').prop('checked');
                                Kaydet(msID, UniqueID, YokODKontrolYap, BasvuruID);
                            }
                        },
                        danger: {
                            label: 'Vazgeç',
                            className: "btn-primary",
                            callback: function () {
                            }
                        }
                    }
                });
                //$(btbx).find('.modal-dialog').addClass('modal-lg');
            }
        }
        var btbxBelgeler = "";
        function Kaydet(msID, UniqueID, YokODKontrolYap, BasvuruID, IsSave) {
            var id = '@Model.BasvuruSurecID';
            var _panel = $('#pndMDcPnl_' + id);
            var tID = getSelectedTabID('@tbName');
            var KayitDurumID = $('#KayitDurumID_' + msID).val();
            _pRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("KazananKayit", "YGBasvuruSureci")',
                data: { 'MulakatSonucID': msID, 'KayitDurumID': KayitDurumID, 'YokODKontrolYap': YokODKontrolYap, 'IsSave': IsSave },
                success: function (result) {
                    _pRefresh(_panel, true);
                    if (result.DekontIste) {
                        dekontKontrol(UniqueID);
                    }
                    else if (result.IsBelgeDialogYuklemeShow) {
                        getDetailOgr(BasvuruID, "4", true, msID, UniqueID,  YokODKontrolYap);
                    }
                    else if (result.IsBelgeDialogYuklemeClose) {
                        $(btbxBelgeler).find(".closeBtn").first().click();
                        btbxBelgeler = "";
                    }
                    if (result.IsReloadPage) {
                        getMDDetail();
                    }
                    if (result.Messages.length > 0)
                        showMmMessage(result.Messages, 'Tamam');

                },
                error: function (err) {
                    alert(err.responseText);
                    _pRefresh(_panel, true);
                }
            });
        }
        $("#AI_fltr_@Model.MulakatID tr").click(function () {
            var UniqueID = $(this).attr("UniqueID");
            $('#UniqueID_@Model.MulakatID').val(UniqueID);
            $("#AI_fltr_@Model.MulakatID tr").removeClass("@RwSelectedCls");
            $(this).addClass("@RwSelectedCls");
        });
        $("#AD_fltr_@Model.MulakatID tr").click(function () {
            var UniqueID = $(this).attr("UniqueID");
            $('#UniqueID_@Model.MulakatID').val(UniqueID);
            $("#AD_fltr_@Model.MulakatID tr").removeClass("@RwSelectedCls");
            $(this).addClass("@RwSelectedCls");
        });
        @*function RowSelectedClear(atips) {
            $('#' + atips + '_fltr_@Model.MulakatID').find('.Mainrow.info').each(function (inx, trx) {
                $(trx).removeClass('info');
            });
        }*@
        function RowAddSelectedClass(UniqueID) {
            $('#UniqueID_@Model.MulakatID').val(UniqueID);
            $('#Rw_' + UniqueID).addClass('@RwSelectedCls');
        }
        function getDetailOgr(id, tbID, IsSave, msID, UniqueID,  YokODKontrolYap) {
            var _panel = $('#pndMDcPnl_' + id);

            var tID = "1";
            if (tbID == undefined) {
                tID = getSelectedTabID('@tbName');
            }
            else tID = tbID;
            IsSave = IsSave == true || IsSave == 'true';
            _pRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("GetBasvuruDetay", "Ajax")',
                data: { id: id, tbInx: tID, 'IsSave': IsSave },
                success: function (result) {
                    _pRefresh(_panel, true);
                    var bbButtons = "";
                    if (IsSave) {
                        bbButtons = {
                            success: {
                                label: 'Kayıt İşlemini Tamamla',
                                className: "btn-danger",
                                callback: function () {
                                    Kaydet(msID, UniqueID, YokODKontrolYap, id, true);
                                    return false;
                                }
                            },
                            danger: {
                                label: "Kapat",
                                className: "btn-primary closeBtn",
                                callback: function () {
                                    //getMDDetail();
                                }
                            }
                        };
                    }
                    else {
                        bbButtons = {
                            danger: {
                                label: "Kapat",
                                className: "btn-primary closeBtn",
                                callback: function () {
                                    //getMDDetail();
                                }
                            }
                        };
                    }
                    btbxBelgeler = bootbox.dialog({
                        message: result.page,
                        title: "Başvuru Detayı",
                        onEscape: function () {

                            //getMDDetail();
                        },
                        buttons: bbButtons
                    });
                    SubData(id);
                    $(btbxBelgeler).find('.modal-dialog').addClass('modal-lg');
                    var bbBody = $(btbxBelgeler).find('.bootbox-body').first();
                    $(bbBody).attr("id", "cls-" + id);

                },
                error: function (err) {
                    alert(err.responseText);
                    _pRefresh(_panel, true);
                }
            });
        }
        function SubData(id) {
            var _panel = $('#bsvrDet_' + id);
            var tbName = "@TabAdlari.BasvuruDetayTN-" + id;
            var tID = getSelectedTabID(tbName);
            _pRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("GetBasvuruSubData", "Ajax")',
                data: { 'id': id, 'tbInx': tID},
                success: function (result) {
                    var _nme = tbName + "-" + tID;
                    $('#' + _nme).html(result.page);
                    _pRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    _pRefresh(_panel, true);
                }
            });
        }
        function dekontKontrol(UniqueID) {
            var url = '@Url.Action("Index","DekontBilgi")';
            url = url + "?BTID=" + UniqueID + "&IsPopup=true";
            yeniDialogBB(null, 'Dekont Bilgisi', url, '430', '@ModalSizeClass.Basic');
        }
        function getMDDetail() {

            var id = '@Model.BasvuruSurecID';
            var prKod = '@Model.ProgramKod';
            var otID = '@Model.OgrenimTipKod';
            var _panel = $('#pndMDcPnl_' + id);
            var tID = getSelectedTabID('@tbName');

            var filterVal = null;
            var filterInp = null;
            var scrlName = null;
            var scrlT = 0;
            var atips = GetAtip();
            if (atips != null && atips != undefined && atips!="") {
                filterVal = $('#' + atips + '_filterInp_@Model.MulakatID').val();
                filterInp = ('#' + atips + '_filterInp_@Model.MulakatID');
                scrlName = "#scrl_@(Model.MulakatID)_" + atips;
                scrlT = $(scrlName).scrollTop();
            }
            _pRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("getBasvuruSonucDetay", "YGBasvuruSureci")',
                data: { id: id, ProgramKod: prKod, OgrenimTipKod: otID, tbInx: tID, IsDelete: false, IsBootBox: '@IsBootBox' },
                success: function (result) {
                    dt1 = new Date();
                    $('#pndMDc_' + id, result)
                    dt2 = new Date();
                    console.log("innerHTML " + (dt2 - dt1));

                    if (filterInp != null) {
                        $(filterInp).val(filterVal);
                        flter($(filterInp), (filterInp == '#AI_filterInp_@(Model.MulakatID)' ? '@AlanTipi.AlanIci' : '@AlanTipi.AlanDisi'),@(Model.MulakatID));
                    }
                    if (scrlName != null) {
                        $(scrlName).animate({ scrollTop: parseInt(scrlT) }, 600);
                    }
                    var UniqueID = $('#UniqueID_@Model.MulakatID').val();
                    if (UniqueID != undefined && UniqueID != null && UniqueID != null) {
                        RowAddSelectedClass(UniqueID);
                    }
                    _pRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    _pRefresh(_panel, true);
                }
            });
        }
        $('#AI_filterInp_@(Model.MulakatID)').bind('keypress', function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                flter(this,'@AlanTipi.AlanIci',@(Model.MulakatID));
            }
        });
        $('#AD_filterInp_@(Model.MulakatID)').bind('keypress', function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                flter(this,'@AlanTipi.AlanDisi',@(Model.MulakatID));
            }
        });
        function flter(sndr, type, mulID) {
            var _val = $(sndr).val();
            var tableName = "_fltr_" + mulID;
            var fltrdCol = "_fltrAdS_" + mulID;
            var filtrDurum = "_filtreKelime_" + mulID;
            if (type == '@AlanTipi.AlanIci') {
                tableName = "AI" + tableName;
                fltrdCol = "AI" + fltrdCol;
                filtrDurum = "AI" + filtrDurum;
            }
            else {
                tableName = "AD" + tableName;
                fltrdCol = "AD" + fltrdCol;
                filtrDurum = "AD" + filtrDurum;
            }

            if (_val == null || _val.trim() == "")
            {
                $('#' + tableName).find('tr').removeClass("hide");
                $('#' + filtrDurum).html("");
            }
            else {
                _val = _val.trim().replaceAll('İ', 'i').toLowerCase();
                var toplam = $('#' + tableName).find('tr.mainRow').length;
                $('#' + tableName).find('.' + fltrdCol).each(function (inx, filtrx) {
                    var gVal = $(filtrx).text().trim().replaceAll('İ','i').toLowerCase();
                    var AShow = gVal.indexOf(_val) > -1;
                    if (AShow) {
                        $(filtrx).parents('tr').first().removeClass('hide');
                    }
                    else {
                        $(filtrx).parents('tr').first().addClass('hide');
                    }
                });
                var Gizli = $('#'+tableName).find('tr.mainRow.hide').length;
                var gosterilen = toplam - Gizli;
                $('#' + filtrDurum).html("[Ara:  %<span style='color:red;'>" + _val + "</span>%] [Bulunan: <span style='color:red;'>" + gosterilen + "</span>]");
            }

        }

        function setchkRtEkBilgi(sndr) {
            if ($(sndr).attr('id') == '_rprsncTip') {
                if ($(sndr).prop('checked')) {
                    $('#_rprsncIletisim').prop('checked', false);
                }
            }
            else {
                if ($(sndr).prop('checked')) {
                    $('#_rprsncTip').prop('checked', false);
                }
            }
        }

    </script>
}


