@using LisansUstuBasvuruSistemi.Models 
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model kmBasvuruSurecOgrenimTipModel
@{
    Layout = null;
}

<div class="panel panel-default" style="padding: 0px; margin: 0px;">
    <div class="panel-heading padding-0">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>&nbsp; Başvuru Süreci İçin Başvurulabilecek Öğrenim Tipleri Seçiniz</h3>
    </div>
    <div class="panel-body padding-0">

        <table class="table" style="width:100%;table-layout:fixed;">
            <thead>
                <tr>
                    <th>Öğrenim Tipleri</th>
                    <th width="240" class="IsBelgeYuklemeVar  @(Model.IsBelgeYuklemeVar?"":"hide") ">Belge Yükleme Asil Baş-Bit Tarihi</th>
                    <th width="240" class="IsBelgeYuklemeVar  @(Model.IsBelgeYuklemeVar?"":"hide") ">Belge Yükleme Ydk Baş-Bit Tarihi</th>
                    <th width="45" title="Tercih Kotası">Trch K</th>
                    <th width="45" title="Başarı Not Ortalaması">B.N.O</th>
                    <th width="45" title="Genel Başarı Notu Formülleri">GBNF</th>
                    <th width="40" title="Mülakat Durum">Mlkt</th>
                    <th width="40" title="Alan içi bilimsel hazırlık istenme durumu">AI-BH</th>
                    <th width="40" title="Alan dışı bilimsel hazırlık istenme durumu">AD-BH</th>
                </tr>
            </thead>
            <tbody id="Rw_tbody">
                @foreach (var item in Model.OgrenimTipleriDataList.OrderBy(t => t.Value.OgrenimTipAdi))
                {
                    var strPopupCont = "<span style='color:blue;'><b>GBNF=</b>" + item.Value.GBNFormulu + "</span><br/><span style='color:blue;'><b>GBNFAlessiz=</b>" + item.Value.GBNFormuluAlessiz + "</span><br/><span style='color:blue;'>";
                    if (!item.Value.GBNFormuluMulakatsiz.IsNullOrWhiteSpace())
                    {
                        strPopupCont += "<b>GBNFMulakatsız=</b>" + item.Value.GBNFormuluMulakatsiz + "</span>";
                    }
                <tr class="rw_bst">
                    <td>
                        <input type="text" class="hide" name="BasvuruSurecOgrenimTipID" value="@item.Value.BasvuruSurecOgrenimTipID">
                        <input type="text" name="OgrenimTipKods" value="@item.Value.OgrenimTipKod" class="hide" />

                        <div class="form-group @(item.Value.Success.HasValue?(item.Value.Success.Value?"has-success":"has-error"):"")">
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox" class="icheckbox" name="OgrenimTipKod" value="@item.Value.OgrenimTipKod" @item.Checked.ToChecked()>
                                    @item.Value.OgrenimTipAdi
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="IsBelgeYuklemeVar  @(Model.IsBelgeYuklemeVar?"":"hide")">
                        <div class="form-group @(item.Value.Success.HasValue?(item.Value.Success.Value?"has-success":"has-error"):"")">
                            <table style="width:100%;table-layout:fixed;">
                                <tr>
                                    <td>
                                        <input class="form-control form-control-inline input-medium" name="AsilBasTar" id="AsilBasTar_@item.Value.OgrenimTipKod" autocomplete="off" size="16" type="text" style="width:112px;" value="@(item.Value.BelgeYuklemeAsilBasTar.HasValue ? item.Value.BelgeYuklemeAsilBasTar.ToString("yyyy-MM-dd HH:mm"):"")" >
                                    </td>
                                    <td width="8" style="text-align:center;">/</td>
                                    <td>
                                        <input class="form-control form-control-inline input-medium"  name="AsilBitTar" id="AsilBitTar_@item.Value.OgrenimTipKod" autocomplete="off" size="16" type="text" style="width:112px;" value="@(item.Value.BelgeYuklemeAsilBitTar.HasValue ? item.Value.BelgeYuklemeAsilBitTar.ToString("yyyy-MM-dd HH:mm"):"")">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td class="IsBelgeYuklemeVar @(Model.IsBelgeYuklemeVar?"":"hide")">
                        <div class="form-group @(item.Value.Success.HasValue?(item.Value.Success.Value?"has-success":"has-error"):"")">
                            <table style="width:100%;table-layout:fixed;">
                                <tr>
                                    <td>
                                        <input class="form-control form-control-inline input-medium" name="YedekBasTar" id="YedekBasTar_@item.Value.OgrenimTipKod" autocomplete="off" size="16" type="text" style="width:112px;" value="@(item.Value.BelgeYuklemeYedekBasTar.HasValue ? item.Value.BelgeYuklemeYedekBasTar.ToString("yyyy-MM-dd HH:mm"):"")">
                                    </td>
                                    <td width="8" style="text-align:center;">/</td>
                                    <td>
                                        <input class="form-control form-control-inline input-medium" name="YedekBitTar" id="YedekBitTar_@item.Value.OgrenimTipKod" autocomplete="off" size="16" type="text" style="width:112px;" value="@(item.Value.BelgeYuklemeYedekBitTar.HasValue ? item.Value.BelgeYuklemeYedekBitTar.ToString("yyyy-MM-dd HH:mm"):"")">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>

                    <td>
                        <div class="form-group @(item.Value.Success.HasValue?(item.Value.Success.Value?"has-success":"has-error"):"")">
                            <input class="form-control" name="Kota" id="Kota" value="@item.Value.Kota.ToEmptyStringZero()" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group @(item.Value.Success.HasValue?(item.Value.Success.Value?"has-success":"has-error"):"")">
                            <input class="form-control" type="text" id="BasariNotOrtalamasi" name="BasariNotOrtalamasi" value="@item.Value.BasariNotOrtalamasi">
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <script>
                            $(function () {
                                  $('#AsilBasTar_@item.Value.OgrenimTipKod').datetimepicker({
                                    lang: 'tr',
                                    timepicker: true,
                                    format: 'Y-m-d H:i'
                                });
                                $('#AsilBitTar_@item.Value.OgrenimTipKod').datetimepicker({
                                    lang: 'tr',
                                    timepicker: true,
                                    format: 'Y-m-d H:i'
                                });
                                $('#YedekBasTar_@item.Value.OgrenimTipKod').datetimepicker({
                                    lang: 'tr',
                                    timepicker: true,
                                    format: 'Y-m-d H:i'
                                });
                                $('#YedekBitTar_@item.Value.OgrenimTipKod').datetimepicker({
                                    lang: 'tr',
                                    timepicker: true,
                                    format: 'Y-m-d H:i'
                                });
                            })
                        </script>
                        <button type="button" style="padding:0px;margin:0px;width:24px;height:24px;" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-title="@item.Value.OgrenimTipAdi Öğrenim Tipine Ait Genel Başarı Not Formülleri" data-content="@Html.Raw(strPopupCont)">
                            <img src="~/Images/formul.jpg" style="width:20px;height:20px;cursor:pointer" />
                        </button>
                        <select name="SeciliOgrenimTipKod" multiple class="form-control select hide">
                            @foreach (var item2 in Model.EnstituOgrenimTipleri.Where(p => p.Value != item.Value.OgrenimTipKod))
                            {
                                bool contains = item.Value.SecilenBSOTIDs.Contains(item2.Value.Value);
                                <option value="@(item.Value.OgrenimTipKod + "_" + item2.Value.Value)" @(contains ? "selected=selected" : "")>@item2.Caption</option>
                            }
                        </select>
                    </td>

                    <td>
                        <div class="form-group @(item.Value.Success.HasValue?(item.Value.Success.Value?"has-success":"has-error"):"")">
                            <input type="checkbox" class="hide" name="MulakatSurecineGirecek" value="@(item.Value.OgrenimTipKod + "_" + item.Value.MulakatSurecineGirecek.ToString().ToLower())" @item.Value.MulakatSurecineGirecek.ToChecked()>
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox" disabled="disabled" class="icheckbox" value="true" @item.Value.MulakatSurecineGirecek.ToChecked()>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group @(item.Value.Success.HasValue?(item.Value.Success.Value?"has-success":"has-error"):"")">
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox" class="icheckbox" name="AlanIciBilimselHazirlik" value="@(item.Value.OgrenimTipKod + "_" + item.Value.AlanIciBilimselHazirlik.ToString().ToLower())" @item.Value.AlanIciBilimselHazirlik.ToChecked()>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group @(item.Value.Success.HasValue?(item.Value.Success.Value?"has-success":"has-error"):"")">
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox" class="icheckbox" name="AlanDisiBilimselHazirlik" value="@(item.Value.OgrenimTipKod + "_" + item.Value.AlanDisiBilimselHazirlik.ToString().ToLower())" @item.Value.AlanDisiBilimselHazirlik.ToChecked()>
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        $('.icheckbox').iCheck({ checkboxClass: 'icheckbox_minimal-grey', radioClass: 'iradio_minimal-grey' });
        $(".select").selectpicker();
    })
</script>

