@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model MezuniyetJuriOneriFormuKayitDto
@{
    Layout = null;
    var tezDanismaniBilgi = Model.JoFormJuriList.FirstOrDefault(p => p.JuriTipAdi == "TezDanismani");
    var tikUyesi1Bilgi = Model.JoFormJuriList.FirstOrDefault(p => p.JuriTipAdi == "TikUyesi1");
    var tikUyesi2Bilgi = Model.JoFormJuriList.FirstOrDefault(p => p.JuriTipAdi == "TikUyesi2");

}
<div class="widget widget-default" style="margin:0px;padding:4px;">
    <div class="panel panel-default form-horizontal" style="margin:0px;margin-top:5px;">
        <div class="panel-heading padding-0">
            <h3 class="panel-title"><i class="fa fa-book myCaptionTd"></i> <span class="myCaptionTd"> @(Model.IsDoktoraOrYL ? "Doktora Tez Jüri Öneri Formu" : "Yüksek Lisans Tez Jüri Öneri Formu")</span> </h3>
            <ul class="panel-controls">

                <li><a href="javascript:void(0);" onclick="ShowNote();"><span class="fa fa-info-circle"></span></a></li>
            </ul>
        </div>
        <div class="panel-body" style="padding:0px;padding-left:2px;padding-right:2px;">


            @using (Ajax.BeginForm("JuriOneriFormuPost", "MezuniyetGelenBasvurular", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "FrmJuriOneriFormu" }))
            {
                @Html.HiddenFor(p => p.MezuniyetBasvurulariID);
                @Html.HiddenFor(p => p.MezuniyetJuriOneriFormID);
                @Html.HiddenFor(p => p.IsTezDiliTr);
                @Html.Hidden("PostDetayTabAdi", "tab-TezDanismani");
                @Html.Hidden("SaveData", (Model.MezuniyetJuriOneriFormID > 0 ? "true" : "false"));
                <div class="panel-body form-group-separated">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Ad Soyad</label>
                        <div class="col-md-9 col-xs-10">
                            @Model.OgrenciAdSoyad
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Tez Dili</label>
                        <div class="col-md-9 col-xs-10">
                            @(Model.IsTezDiliTr ? "Türkçe" : "İngilizce")
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Tez Başlığı Türkçe</label>
                        <div class="col-md-9 col-xs-10" style="font-size: 7.5pt;">
                            @Model.TezBaslikTr
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Tez Başlığı İngilizce</label>
                        <div class="col-md-9 col-xs-10" style="font-size:7.5pt;">
                            @Model.TezBaslikEn
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label">Başlık Değişecek mi?</label>
                        <div class="col-md-9 col-xs-10">
                            <select class="form-control" style="width:100%;" name="IsTezBasligiDegisti" onchange="if($(this).val()=='true'){ $('.RwtezBasliklari').removeClass('hide'); }else{$('.RwtezBasliklari').addClass('hide');}">
                                <option @((Model.IsTezBasligiDegisti == null).ToSelected()) value=""></option>
                                <option @((Model.IsTezBasligiDegisti == true).ToSelected()) value="true">Sınavda tez başlığı değişecek</option>
                                <option @((Model.IsTezBasligiDegisti == false).ToSelected()) value="false">Sınavda tez başlığı değişmeyecek</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group RwtezBasliklari @(Model.IsTezBasligiDegisti == true ? "" : "hide")">
                        <label class="col-md-3 col-xs-2 control-label">Yeni Tez Başlığı Türkçe</label>
                        <div class="col-md-9 col-xs-10">
                            <input type="text" name="YeniTezBaslikTr" id="YeniTezBaslikTr" maxlength="512" value="@Model.YeniTezBaslikTr" class="form-control UpperTextTr tCharacterBlock" />
                        </div>
                    </div>
                    <div class="form-group RwtezBasliklari @(Model.IsTezBasligiDegisti == true ? "" : "hide")">
                        <label class="col-md-3 col-xs-2 control-label">Yeni Tez Başlığı İngilizce</label>
                        <div class="col-md-9 col-xs-10">
                            <input type="text" name="YeniTezBaslikEn" id="YeniTezBaslikEn" maxlength="512" value="@Model.YeniTezBaslikEn" class="form-control UpperTextEn tCharacterBlock" />
                        </div>
                    </div>


                </div>
                <div class="panel panel-primary" style="margin:0px;margin-top:0px;">
                    <div class="panel panel-default tabs" style="margin-bottom:0px; padding:0px;">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-TezDanismani" data-toggle="tab" aria-expanded="false" style="padding:4px;">
                                    <i class="fa fa-user"></i> <span style="font-size:8pt;">Tez Danışmanı</span>
                                </a>
                            </li>
                            @if (Model.IsDoktoraOrYL)
                            {
                                <li>
                                    <a href="#tab-TikUyesi1" data-toggle="tab" aria-expanded="false" style="padding:4px;">
                                        <i class="fa fa-user"></i> <span style="font-size:8pt;">1. Tik Üyesi</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab-TikUyesi2" data-toggle="tab" aria-expanded="false" style="padding:4px;">
                                        <i class="fa fa-user"></i> <span style="font-size:8pt;">2. Tik Üyesi</span>
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="#tab-YtuIciJuri" data-toggle="tab" aria-expanded="false" style="padding:4px;">
                                    <i class="fa fa-user"></i> <span style="font-size:8pt;">YTÜ İçi Jüri Önerisi</span>
                                </a>
                            </li>
                            <li>
                                <a href="#tab-YtuDisiJuri" data-toggle="tab" aria-expanded="false" style="padding:4px;">
                                    <i class="fa fa-user"></i> <span style="font-size:8pt;">YTÜ Dışı Jüri Önerisi</span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-body tab-content" style="padding:0px;">
                            <div class="tab-pane active" id="tab-TezDanismani">
                                <div class="widget widget-default" style="padding:3px;margin:0px;">
                                    <div class="panel panel-default form-horizontal">
                                        <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                            <h3 class="panel-title" style="font-size:9pt;">Tez danışmanı bilgileri için aşağıdaki alanları eksiksizce doldurunuz lütfen.</h3>
                                        </div>
                                        <div class="panel-body form-group-separated" style="padding:5px;">

                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Adı Soyadı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="hidden" name="JuriTipAdi" value="TezDanismani" />
                                                    <input type="hidden" name="AnaTabAdi" value="tab-TezDanismani" />
                                                    <input type="hidden" name="DetayTabAdi" value="tab-TezDanismani" />
                                                    <input type="text" class="form-control upperCase" name="AdSoyad" maxlength="128" readonly="readonly" value="@(tezDanismaniBilgi != null ? tezDanismaniBilgi.AdSoyad : "")" style="width: 100%;color:black;" id="TezDanismaniAdSoyad" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Unvanı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control upperCase" name="UnvanAdi" maxlength="128" readonly="readonly" value="@(tezDanismaniBilgi != null ? tezDanismaniBilgi.UnvanAdi : "")" style="width: 100%;color:black;" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    E-Posta Adresi (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control" maxlength="128" name="EMail" value="@Model.Danisman.EMail.Trim()" style="width: 100%;" id="TezDanismaniEMail" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Üniversitesi (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control" maxlength="128" readonly="readonly" name="UniversiteAdi" value="Yıldız Teknik Üniversitesi" id="TezDanismaniUniversiteAdi" style="width: 100%;color:black;" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    ABD / Program (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control" maxlength="256" name="AnabilimdaliProgramAdi" value="@(tezDanismaniBilgi != null ? tezDanismaniBilgi.AnabilimdaliProgramAdi : "")" style="width: 100%;" id="TezDanismaniAnabilimdaliProgramAdi" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                    Uzmanlık Alanı (*)
                                                </label>
                                                <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                    <input type="text" class="form-control" maxlength="128" name="UzmanlikAlani" value="@(tezDanismaniBilgi != null ? tezDanismaniBilgi.UzmanlikAlani : "")" style="width: 100%;" id="TezDanismaniUzmanlikAlani" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            @if (Model.IsDoktoraOrYL)
                            {
                                <div class="tab-pane" id="tab-TikUyesi1">
                                    <div class="widget widget-default" style="padding:3px;margin:0px;">
                                        <div class="panel panel-default form-horizontal">
                                            <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                <h3 class="panel-title" style="font-size:9pt;">1. Tik üyesi önerisi için aşağıdaki alanları eksiksizce doldurunuz lütfen.</h3>
                                            </div>
                                            <div class="panel-body form-group-separated" style="padding:5px;">

                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        Adı Soyadı (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="hidden" name="JuriTipAdi" value="TikUyesi1" />
                                                        <input type="hidden" name="AnaTabAdi" value="tab-TikUyesi1" />
                                                        <input type="hidden" name="DetayTabAdi" value="tab-TikUyesi1" />
                                                        <input type="text" class="form-control upperCase" maxlength="128" readonly="readonly" name="AdSoyad" value="@(tikUyesi1Bilgi != null ? tikUyesi1Bilgi.AdSoyad.ToUpper() : "")" style="width: 100%;color:black;" id="TikUyesi1AdSoyad" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        Unvanı (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="text" class="form-control upperCase" name="UnvanAdi" id="UnvanAdi" maxlength="128" readonly="readonly" value="@(tikUyesi1Bilgi != null ? tikUyesi1Bilgi.UnvanAdi : "")" style="width: 100%;color:black;" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        E-Posta Adresi (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="text" class="form-control" maxlength="128" name="EMail" value="@(tikUyesi1Bilgi != null ? tikUyesi1Bilgi.EMail : "")" style="width: 100%;" id="TikUyesi1EMail" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        Üniversitesi (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="text" class="form-control yUniversites" maxlength="128" name="UniversiteAdi" id="TikUyesi1UniversiteAdi"value="@(tikUyesi1Bilgi != null ? tikUyesi1Bilgi.UniversiteAdi : "")" style="width: 100%;" />
                                                        @if (tikUyesi1Bilgi != null && !tikUyesi1Bilgi.UniversiteAdi.IsNullOrWhiteSpace())
                                                        {
                                                            <script>
                                                                setTimeout(function () {
                                                                    var secilen = @Html.Raw(Json.Encode(new { id = tikUyesi1Bilgi.UniversiteAdi, text = tikUyesi1Bilgi.UniversiteAdi }));
                                                                    $("#TikUyesi1UniversiteAdi").select2('data', secilen);
                                                                }, 1200);
                                                            </script>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        ABD / Program (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="text" class="form-control" maxlength="256" name="AnabilimdaliProgramAdi" value="@(tikUyesi1Bilgi != null ? tikUyesi1Bilgi.AnabilimdaliProgramAdi : "")" style="width: 100%;" id="TikUyesi1AnabilimdaliProgramAdi" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        Uzmanlık Alanı (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="text" class="form-control" maxlength="128" name="UzmanlikAlani" value="@(tikUyesi1Bilgi != null ? tikUyesi1Bilgi.UzmanlikAlani : "")" style="width: 100%;" id="TikUyesi1UzmanlikAlani" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-TikUyesi2">
                                    <div class="widget widget-default" style="padding:3px;margin:0px;">
                                        <div class="panel panel-default form-horizontal">
                                            <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                <h3 class="panel-title" style="font-size:9pt;">2. Tik üyesi önerisi için aşağıdaki alanları eksiksizce doldurunuz lütfen.</h3>
                                            </div>
                                            <div class="panel-body form-group-separated" style="padding:5px;">

                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        Adı Soyadı (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="hidden" name="JuriTipAdi" value="TikUyesi2" />
                                                        <input type="hidden" name="AnaTabAdi" value="tab-TikUyesi2" />
                                                        <input type="hidden" name="DetayTabAdi" value="tab-TikUyesi2" />
                                                        <input type="text" class="form-control upperCase" maxlength="128" name="AdSoyad" readonly="readonly" value="@(tikUyesi2Bilgi != null ? tikUyesi2Bilgi.AdSoyad.ToUpper() : "")" style="width: 100%;color:black;" id="TikUyesi2AdSoyad" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        Unvanı (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="text" class="form-control upperCase" name="UnvanAdi" id="UnvanAdi" maxlength="128" readonly="readonly" value="@(tikUyesi2Bilgi != null ? tikUyesi2Bilgi.UnvanAdi : "")" style="width: 100%;color:black;" />

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        E-Posta Adresi (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="text" class="form-control" maxlength="128" name="EMail" value="@(tikUyesi2Bilgi != null ? tikUyesi2Bilgi.EMail : "")" style="width: 100%;" id="TikUyesi2EMail" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        Üniversitesi (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="text" class="form-control yUniversites" name="UniversiteAdi" id="TikUyesi2UniversiteAdi" value="@(tikUyesi2Bilgi != null ? tikUyesi2Bilgi.UniversiteAdi : "")" style="width: 100%;" />
                                                        @if (tikUyesi2Bilgi != null && !tikUyesi2Bilgi.UniversiteAdi.IsNullOrWhiteSpace())
                                                        {
                                                            <script>
                                                                setTimeout(function () {
                                                                    var secilen = @Html.Raw(Json.Encode(new { id = tikUyesi2Bilgi.UniversiteAdi, text = tikUyesi2Bilgi.UniversiteAdi }));
                                                                    $("#TikUyesi2UniversiteAdi").select2('data', secilen);
                                                                }, 1200);
                                                            </script>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        ABD / Program (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="text" class="form-control" maxlength="256" name="AnabilimdaliProgramAdi" value="@(tikUyesi2Bilgi != null ? tikUyesi2Bilgi.AnabilimdaliProgramAdi : "")" style="width: 100%;" id="TikUyesi2AnabilimdaliProgramAdi" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label style="text-align:left;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                        Uzmanlık Alanı (*)
                                                    </label>
                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                        <input type="text" class="form-control" maxlength="128" name="UzmanlikAlani" value="@(tikUyesi2Bilgi != null ? tikUyesi2Bilgi.UzmanlikAlani : "")" style="width: 100%;" id="TikUyesi2UzmanlikAlani" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="tab-pane" id="tab-YtuIciJuri">
                                <div class="panel panel-default nav-tabs-vertical">

                                    <div class="tabs">
                                        <ul class="nav nav-tabs">
                                            @for (int i = 1; i <= 4; i++)
                                            {
                                                var activeCls = i == 1 ? "active" : "";
                                                <li class="@activeCls">
                                                    <a href="#tab-YtuIciJuri-@(i)" data-toggle="tab" aria-expanded="false">
                                                        <i class="fa fa-user myCaptionTd"></i> <span style="font-size:8pt;">@i - Üye Önerisi @(i == 4 ? "" : "(*)")</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                        <div class="panel-body tab-content" style="padding:0px;">
                                            @for (int i = 1; i <= 4; i++)
                                            {
                                                var activeCls = i == 1 ? "active" : "";
                                                var rowData = Model.JoFormJuriList.FirstOrDefault(p => p.JuriTipAdi == "YtuIciJuri" + i);
                                                <div class="tab-pane @activeCls" id="tab-YtuIciJuri-@i">
                                                    <div class="widget widget-default" style="padding:3px;margin:0px;">
                                                        <div class="panel panel-default form-horizontal">
                                                            <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                                <h3 class="panel-title" style="font-size:9pt;">
                                                                    @(i + ".") @(Model.IsDoktoraOrYL ? "YTÜ içi jüri önerileri (Tik haricinde)" : "YTÜ içi jüri önerileri") @(i == 4 ? ("(Zorunlu değil)") : "")
                                                                </h3>
                                                            </div>
                                                            <div class="panel-body form-group-separated" style="padding:5px;">

                                                                <div class="form-group">
                                                                    <label style="text-align: left; font-size: 8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Adı Soyadı (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="hidden" name="JuriTipAdi" value="YtuIciJuri@(i)" />
                                                                        <input type="hidden" name="AnaTabAdi" value="tab-YtuIciJuri" />
                                                                        <input type="hidden" name="DetayTabAdi" value="tab-YtuIciJuri-@i" />
                                                                        <input type="hidden" name="AdSoyad" maxlength="128" value="@(rowData != null ? rowData.AdSoyad : "")" id="YtuIciJuri@(i)AdSoyadVal" />
                                                                        <input type="text" class="form-control egitmens" value="" style="width: 100%;" id="YtuIciJuri@(i)AdSoyad" />
                                                                        @if (rowData != null)
                                                                        {
                                                                            <script>
                                                                                setTimeout( function () {
                                                                                   var secilen = @Html.Raw(Json.Encode(new { id = rowData.AdSoyad, text = rowData.AdSoyad }));
                                                                                   $("#YtuIciJuri@(i)AdSoyad").select2('data', secilen);

                                                                               },1200)
                                                                            </script>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align: left; font-size: 8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Unvanı (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="128" name="UnvanAdi" readonly="readonly" value="@(rowData != null ? rowData.UnvanAdi : "")" style="width: 100%;color:black;" id="YtuIciJuri@(i)UnvanAdi" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align: left; font-size: 8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        E-Posta (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="128" name="EMail" value="@(rowData != null ? rowData.EMail : "")" style="width: 100%;color:black;" id="YtuIciJuri@(i)EMail" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align: left; font-size: 8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Üniversitesi (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="128" readonly="readonly" name="UniversiteAdi" value="@(rowData != null ? rowData.UniversiteAdi : "")" style="width: 100%;color:black;" id="YtuIciJuri@(i)UniversiteAdi" />

                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align: left; font-size: 8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        ABD / Program (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="256" name="AnabilimdaliProgramAdi" value="@(rowData != null ? rowData.AnabilimdaliProgramAdi : "")" style="width: 100%;color:black;" id="YtuIciJuri@(i)AnabilimdaliProgramAdi" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align: left; font-size: 8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Uzmanlık Alanı (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="128" name="UzmanlikAlani" value="@(rowData != null ? rowData.UzmanlikAlani : "")" style="width: 100%;" id="YtuIciJuri@(i)UzmanlikAlani" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab-YtuDisiJuri">
                                <div class="panel panel-default nav-tabs-vertical">

                                    <div class="tabs">
                                        <ul class="nav nav-tabs">
                                            @for (int i = 1; i <= 4; i++)
                                            {
                                                var activeCls = i == 1 ? "active" : "";
                                                <li class="@activeCls">
                                                    <a href="#tab-YtuDisiJuri-@(i)" data-toggle="tab" aria-expanded="false">
                                                        <i class="fa fa-user myCaptionTd"></i> <span style="font-size:8pt;">@i - Üye Önerisi @(i == 4 ? "" : "(*)")</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                        <div class="panel-body tab-content" style="padding:0px;">
                                            @for (int i = 1; i <= 4; i++)
                                            {
                                                var activeCls = i == 1 ? "active" : "";
                                                var rowData = Model.JoFormJuriList.FirstOrDefault(p => p.JuriTipAdi == "YtuDisiJuri" + i);

                                                <div class="tab-pane @activeCls" id="tab-YtuDisiJuri-@i">
                                                    <div class="widget widget-default" style="padding:3px;margin:0px;">
                                                        <div class="panel panel-default form-horizontal">
                                                            <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
                                                                <h3 class="panel-title" style="font-size:9pt;">
                                                                    @(i + ".") @(Model.IsDoktoraOrYL ? "YTÜ dışı jüri önerileri (Tik haricinde)" : "YTÜ dışı jüri önerileri") @(i == 4 ? ("(Zorunlu değil)") : "")
                                                                </h3>
                                                            </div>
                                                            <div class="panel-body form-group-separated" style="padding:5px;">

                                                                <div class="form-group">
                                                                    <label style="text-align: left; font-size: 8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Adı Soyadı (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="hidden" name="JuriTipAdi" value="YtuDisiJuri@(i)" />
                                                                        <input type="hidden" name="AnaTabAdi" value="tab-YtuDisiJuri" />
                                                                        <input type="hidden" name="DetayTabAdi" value="tab-YtuDisiJuri-@i" />
                                                                        <input type="text" class="form-control upperCase" maxlength="128" name="AdSoyad" value="@(rowData != null ? rowData.AdSoyad : "")" style="width: 100%;" id="YtuDisiJuri@(i)AdSoyad" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align:left;font-size:8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Unvanı (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        @Html.DropDownList("UnvanAdi", (rowData != null ? rowData.SlistUnvanAdi : Model.SListUnvanAdi), new { @class = "form-control", @style = "width:100%;color:black;", id = ("YtuDisiJuri" + i + "UnvanAdi") })
                                                                        @if (rowData != null && rowData.UnvanAdi != null && rowData.UnvanAdi != "")
                                                                        {
                                                                            <script>
                                                                                $(function () {
                                                                                    $('#@("YtuDisiJuri" + i + "UnvanAdi")').val('@Html.Raw(rowData.UnvanAdi)');
                                                                                });
                                                                            </script>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align: left; font-size: 8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        E-Posta (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="128" name="EMail" value="@(rowData != null ? rowData.EMail : "")" style="width: 100%;" id="YtuDisiJuri@(i)EMail" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align: left; font-size: 8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Üniversitesi (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control universites" maxlength="128" name="UniversiteAdi" style="width: 100%;" id="YtuDisiJuri@(i)UniversiteAdi" />
                                                                        @if (rowData != null)
                                                                        {
                                                                            <script>
                                                                                setTimeout( function () {
                                                                                   var secilen = @Html.Raw(Json.Encode(new { id = rowData.UniversiteAdi, text = rowData.UniversiteAdi }));
                                                                                    $("#YtuDisiJuri@(i)UniversiteAdi").select2('data', secilen);
                                                                               },1200)
                                                                            </script>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align: left; font-size: 8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        ABD / Program (*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="256" name="AnabilimdaliProgramAdi" value="@(rowData != null ? rowData.AnabilimdaliProgramAdi : "")" style="width: 100%;" id="YtuDisiJuri@(i)AnabilimdaliProgramAdi" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label style="text-align: left; font-size: 8pt;" class="col-md-3 col-xs-4 control-label padding-top-0 padding-bottom-0">
                                                                        Uzmanlık Alanı(*)
                                                                    </label>
                                                                    <div class="col-md-9 col-xs-8 line-height-30 padding-top-0 padding-bottom-0">
                                                                        <input type="text" class="form-control" maxlength="128" name="UzmanlikAlani" value="@(rowData != null ? rowData.UzmanlikAlani : "")" style="width: 100%;" id="YtuDisiJuri@(i)UzmanlikAlani" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (!Model.IsTezDiliTr)
                            {
                                <div class="tasks ui-sortable">
                                    <div class="task-item task-warning" style="margin-bottom:0px;">
                                        <div class="task-text ui-sortable-handle" style="padding-bottom: 0px; font-size: 8pt;">
                                            <b>Dil Şartı Taahhütü:</b><br> Seçilen jüri üyeleri için ‘Yükseköğretim kurumlarında yabancı dil öğretimi ve yabancı dille öğretim yapılmasında uyulacak esaslara ilişkin yönetmeliğe göre dil şartını sağlamaktadır’ tahhütünü kabul ediyorum.
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<div id="JOMsgContent" class="hide">
    <div class="tasks ui-sortable">

        <div class="task-item task-warning">
            <div class="task-text ui-sortable-handle">
                @if (Model.IsDoktoraOrYL)
                {
                    <div>
                        Enstitü Yönetim Kurulu gerekli gördüğü takdirde önerilen liste dışından da jüri seçebilir.
                        <p style="font-style:italic">Institute Board of Management can choose the committee apart from the list if found necessary.</p>
                        En az 3’ü başka yükseköğretim kurumlarının Anabilim Dalları’ndan ve olabildiğince farklı üniversitelerden önerilmelidir.
                        <p style="font-style:italic">At least three of the members must be proposed from the related departments of other higher education institutions and from various universities as much as possible.</p>
                        En az 3’ü YTÜ’deki ilgili Anabilim Dalından önerilmelidir.
                        <p style="font-style:italic">At least three of the members must be proposed from the related department of YTÜ.</p>
                        Dil yeterliliğin YÖK yabancı dille eğitim-öğretim yapılmasında uyulacak esaslara ilişkin yönetmelik uyarınca
                        -Mezun olunan üniversite yabancı dille eğitim yapıyor ise üniversitenin adı,    -Sınav ise sınavın adı ve alınan puan yazılmalıdır.
                        <p style="font-style:italic">
                            According to the YOK regulation on the principles to follow for education in a foreign language
                            -If the lecturer’s graduation is from a university whose medium of instruction is the related foreign language, the name of the university,     -If there is a test, the title of the test must be stated.
                        </p>
                        İkinci Danışman jüri üyesi olamayacağından önerilmemesi gerekmektedir.
                        <p style="font-style:italic">The co-Advisor cannot become a jury member. Therefore, they cannot be proposed as a member.</p>
                        Yabancı dildeki başlığın Türkçe çevirisi, Türkçe başlığın ise İngilizce çevirisi yazılacaktır.
                        <p style="font-style:italic">For titles in a foreign language Turkish translation is required, for titles in Turkish English translation is required.</p>

                    </div>
                }
                else
                {
                    <div>

                        Enstitü Yönetim Kurulu gerekli gördüğü takdirde önerilen liste dışından da jüri seçebilir.
                        <p style="font-style:italic">
                            Institute Board of Management can choose the committee apart from the list if found necessary.
                        </p>

                        En az 3’ü başka yükseköğretim kurumlarının Anabilim Dallarından ve olabildiğince farklı üniversitelerden önerilmelidir.
                        <p style="font-style:italic">
                            At least three of the members must be proposed from the related departments of other higher education institutions and from various universities as much as possible.
                        </p>
                        En az 3’ü YTÜ’deki ilgili Anabilim Dalından önerilmelidir.
                        <p style="font-style:italic">
                            At least three of the members are required to be proposed from the related department of YTÜ.
                        </p>
                        Dil yeterliliğin YÖK yabancı dille eğitim-öğretim yapılmasında uyulacak esaslara ilişkin yönetmelik uyarınca
                        -Mezun olunan üniversite yabancı dille eğitim yapıyor ise üniversitenin adı, -Sınav ise sınavın adı ve alınan puan yazılmalıdır.
                        <p style="font-style:italic">
                            According to the YOK regulation on the principles to follow for education in a foreign language
                            -If the lecturer’s graduation is from a university whose medium of instruction is the related foreign language, the name of the university,     -If there is a test, the ttile of the test must be stated.
                        </p>
                        İkinci Danışman jüri üyesi olamayacağından önerilmemesi gerekmektedir.
                        <p style="font-style:italic">
                            The co-Advisor cannot become a jury member. Therefore, they cannot be proposed as a member.
                        </p>
                        Yabancı dildeki başlığın Türkçe çevirisi, Türkçe başlığın ise İngilizce çevirisi yazılacaktır.
                        <p style="font-style:italic"> For titles in a foreign language Turkish translation is required, for titles in Turkish English translation is required.

                    </div>
                } 
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/inputTextChangeUpperCase.js"></script>
@if (Model.MezuniyetJuriOneriFormID <= 0)
{
    <script>
        setTimeout(function () {
            ShowNote();
        }, 200);
    </script>
}
else
{
    <script>
        setTimeout(function () {
            $('.btnKaydet').removeClass("btn-primary").addClass("btn-info");
            $('.btnKaydet').text("Kaydet");
        }, 200);
    </script>
}
<script>
    onSpecialCharacterBlockerLoaded();

    $(function () {
        $('.upperCase').each(function (ix, inx) {
            $(inx).attr('autocomplete', 'off');
            $(inx).bind('keyup', function (e) {
                var vl = $(inx).val();
                $(inx).val(vl.replace("i", "İ").toUpperCase());
            });
        })
        $('.egitmens').select2({
            tags: true,
            tokenSeparators: [",", " "],
            minimumInputLength: 2,
            maximumSelectionSize: 1,
            multiple: false,
            ajax: {
                url: '@Url.Action("GetYtuOgretimEleman", "Ajax")',
                dataType: "json",
                data: function (term, page) {
                    return {
                        'term': term
                    }

                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            },
            formatResult: function (result) {
                var cont2 =
                    "<table class='table table-striped' style='width:100%; margin:0px;'>" +
                    "<tbody>" +
                    "<tr>" +
                    "<td style='vertical-align:middle;'>" +
                    "<table class='table table-striped' style='margin:0px;border-top:none;font-size:8pt;'> " +
                    "<tbody>" +
                    "<tr><td>" + result.UnvanAdi + " " + result.AdSoyad + "</td></tr>" +
                    "<tr><td>Bölüm:" + result.BolumAdi + "</td></tr>" +
                    "</tbody> " +
                    "</table> " +
                    "</td>" +
                    "</tr> " +
                    "</tbody>" +
                    "</table>";
                return cont2;
            }
        }).on('change', function (e) {
            var Inpid = $(this).prop("id");
            var mID = Inpid.replace("AdSoyad", "");
            $('#' + mID + 'AdSoyadVal').val(e.added == undefined ? "" : e.added.AdSoyad);
            $('#' + mID + 'UnvanAdi').val(e.added == undefined ? "" : e.added.UnvanAdi);
            $('#' + mID + 'EMail').val(e.added == undefined ? "" : e.added.EMail);
            $('#' + mID + 'AnabilimdaliProgramAdi').val(e.added == undefined ? "" : e.added.BolumAdi);
            $('#' + mID + 'UniversiteAdi').val(e.added == undefined ? "" : 'Yıldız Teknik Üniversitesi');
            if (e.added == undefined) $('#' + mID + 'UzmanlikAlani').val("");

        });
        $('.yUniversites').select2({
            tags: false,
            tokenSeparators: [",", " "],
            minimumInputLength: 2,
            maximumSelectionSize: 1,
            multiple: false,
            ajax: {
                url: '@Url.Action("GetUniversitelerYtuDahil", "Ajax")',
                dataType: "json",
                data: function (term, page) {
                    return {
                        'term': term
                    }
                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            },
            formatResult: function (result) {
                var cont2 = result.text;
                return cont2;
            }
        }).on('change', function (e) {
            var inpInd = $(this).prop("id");
            $('#' + inpInd).val(e.added == undefined ? "" : e.added.text);
            //var mID = Inpid.replace("AdSoyad", "");
            //$('#' + mID + 'AdSoyadVal').val(e.added == undefined ? "" : e.added.AdSoyad);
            //$('#' + mID + 'UnvanAdi').val(e.added == undefined ? "" : e.added.UnvanAdi);
            //$('#' + mID + 'EMail').val(e.added == undefined ? "" : e.added.EMail);
            //$('#' + mID + 'AnabilimdaliProgramAdi').val(e.added == undefined ? "" : e.added.BolumAdi);
            //$('#' + mID + 'UniversiteAdi').val(e.added == undefined ? "" : 'Yıldız Teknik Üniversitesi');

        });
        $('.universites').select2({
            tags: false,
            tokenSeparators: [",", " "],
            minimumInputLength: 2,
            maximumSelectionSize: 1,
            multiple: false,
            ajax: {
                url: '@Url.Action("GetUniversiteler", "Ajax")',
                dataType: "json",
                data: function (term, page) {
                    return {
                        'term': term
                    }
                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            },
            formatResult: function (result) {
                var cont2 = result.text;
                return cont2;
            }
        }).on('change', function (e) {
            var inpInd = $(this).prop("id");
            $('#' + inpInd).val(e.added == undefined ? "" : e.added.text);
            //var mID = Inpid.replace("AdSoyad", "");
            //$('#' + mID + 'AdSoyadVal').val(e.added == undefined ? "" : e.added.AdSoyad);
            //$('#' + mID + 'UnvanAdi').val(e.added == undefined ? "" : e.added.UnvanAdi);
            //$('#' + mID + 'EMail').val(e.added == undefined ? "" : e.added.EMail);
            //$('#' + mID + 'AnabilimdaliProgramAdi').val(e.added == undefined ? "" : e.added.BolumAdi);
            //$('#' + mID + 'UniversiteAdi').val(e.added == undefined ? "" : 'Yıldız Teknik Üniversitesi');

        });
    });
    function ShowNote() {
        var noteContent = $('#JOMsgContent').html();
        var btbxNt = bootbox.dialog({
            message: noteContent,
            title: "<i class='fa fa-info-circle'></i> ",
            buttons: {
                success: {
                    label: 'Okudum',
                    className: "btn-info",
                    callback: function (event) {

                    }
                }
            }
        });
       // $(btbxNt).find('.modal-dialog').first().addClass('modal-lg');
    }
</script>
