@using LisansUstuBasvuruSistemi.Models
@model SRTalepleri
@{
    var Jurilers = Model.MezuniyetBasvurulari.MezuniyetJuriOneriFormlaris.First().MezuniyetJuriOneriFormuJurileris;
    var SRJurilers = Model.SRTaleplerJuris.ToList();
    var Danisman = SRJurilers.Where(p => p.JuriTipAdi == "TezDanismani").First();
    var Tik1= SRJurilers.Where(p => p.JuriTipAdi == "TikUyesi1").FirstOrDefault();
    var Tik2 = SRJurilers.Where(p => p.JuriTipAdi == "TikUyesi2").FirstOrDefault();
    var YtuIciJuris = Jurilers.Where(p => p.JuriTipAdi != "TezDanismani" && p.JuriTipAdi.Contains("YtuIci") && p.IsAsilOrYedek.HasValue).ToList();
    var YtuDisiJuris = Jurilers.Where(p => p.JuriTipAdi != "TezDanismani" && p.JuriTipAdi.Contains("YtuDisi") && p.IsAsilOrYedek.HasValue).ToList();
    var YtuIciJuri = SRJurilers.Where(p => p.JuriTipAdi.Contains("YtuIci")).First();
    var YtuDisiJuri = SRJurilers.Where(p => p.JuriTipAdi.Contains("YtuDisi")).First();
    Layout = null;
}
<div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;">

    <table class="table" style="width:100%;margin:0px;">
        <tbody>
            <tr>
                <td width="90">Danışman</td>
                <td width="10">:</td>
                <td>@Danisman.UnvanAdi @Danisman.JuriAdi</td>
            </tr>
            @if (Tik1 != null)
            {
                <tr>
                    <td width="90">Tik Üyesi</td>
                    <td width="10">:</td>
                    <td>@Tik1.UnvanAdi @Tik1.JuriAdi</td>
                </tr>
            }
            @if (Tik2 != null)
            {
                <tr>
                    <td width="90">Tik Üyesi</td>
                    <td width="10">:</td>
                    <td>@Tik2.UnvanAdi @Tik2.JuriAdi</td>
                </tr>
            }
            @if (!(YtuIciJuri.MezuniyetSinavDurumID>MezuniyetSinavDurum.SonucGirilmedi))
            {
                <tr>
                    <td width="90">Ytu İçi Jüri</td>
                    <td width="10">:</td>
                    <td>
                        <select class="form-control" id="YtuIciJuri_@Model.UniqueID">
                            @foreach (var item in YtuIciJuris)
                            {
                                <option value="@item.MezuniyetJuriOneriFormuJuriID" @(item.AdSoyad.ToLower()== YtuIciJuri.JuriAdi.ToLower()?"selected":"")>@item.UnvanAdi @item.AdSoyad (@(item.IsAsilOrYedek == true ? "Asil" : "Yedek"))</option>
                            }

                        </select>
                    </td>
                </tr>
            }
            @if (!(YtuDisiJuri.MezuniyetSinavDurumID > MezuniyetSinavDurum.SonucGirilmedi))
            {
                <tr>
                    <td width="90">Ytu Dışı Jüri</td>
                    <td width="10">:</td>
                    <td>
                        <select class="form-control" id="YtuDisiJuri_@Model.UniqueID">
                            @foreach (var item in YtuDisiJuris)
                            {
                                <option value="@item.MezuniyetJuriOneriFormuJuriID" @(item.AdSoyad.ToLower()== YtuDisiJuri.JuriAdi.ToLower()?"selected":"")>@item.UnvanAdi @item.AdSoyad (@(item.IsAsilOrYedek == true ? "Asil" : "Yedek"))</option>
                            }

                        </select>
                    </td>
                </tr>
            }
        </tbody>

    </table>


</div>
