@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Enums
@model SRTalepleri
@{
    var jurilers = Model.MezuniyetBasvurulari.MezuniyetJuriOneriFormlaris.First().MezuniyetJuriOneriFormuJurileris;
    var srJurilers = Model.SRTaleplerJuris.ToList();
    var danisman = srJurilers.First(p => p.JuriTipAdi == "TezDanismani");
    var tik1= srJurilers.FirstOrDefault(p => p.JuriTipAdi == "TikUyesi1");
    var tik2 = srJurilers.FirstOrDefault(p => p.JuriTipAdi == "TikUyesi2");
    var ytuIciJuris = jurilers.Where(p => p.JuriTipAdi != "TezDanismani" && p.JuriTipAdi.Contains("YtuIci") && p.IsAsilOrYedek.HasValue).ToList();
    var ytuDisiJuris = jurilers.Where(p => p.JuriTipAdi != "TezDanismani" && p.JuriTipAdi.Contains("YtuDisi") && p.IsAsilOrYedek.HasValue).ToList();
    var ytuIciJuri = srJurilers.First(p => p.JuriTipAdi.Contains("YtuIci"));
    var ytuDisiJuri = srJurilers.First(p => p.JuriTipAdi.Contains("YtuDisi"));
    Layout = null;
}
<div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;">

    <table class="table" style="width:100%;margin:0px;">
        <tbody>
            <tr>
                <td width="90">Danışman</td>
                <td width="10">:</td>
                <td>@danisman.UnvanAdi @danisman.JuriAdi</td>
            </tr>
            @if (tik1 != null)
            {
                <tr>
                    <td width="90">Tik Üyesi</td>
                    <td width="10">:</td>
                    <td>@tik1.UnvanAdi @tik1.JuriAdi</td>
                </tr>
            }
            @if (tik2 != null)
            {
                <tr>
                    <td width="90">Tik Üyesi</td>
                    <td width="10">:</td>
                    <td>@tik2.UnvanAdi @tik2.JuriAdi</td>
                </tr>
            }
            @if (!(ytuIciJuri.MezuniyetSinavDurumID>MezuniyetSinavDurum.SonucGirilmedi))
            {
                <tr>
                    <td width="90">YTÜ İçi Jüri</td>
                    <td width="10">:</td>
                    <td>
                        <select class="form-control" id="YtuIciJuri_@Model.UniqueID">
                            @foreach (var item in ytuIciJuris)
                            {
                                <option value="@item.MezuniyetJuriOneriFormuJuriID" @(item.AdSoyad.ToLower()== ytuIciJuri.JuriAdi.ToLower()?"selected":"")>@item.UnvanAdi @item.AdSoyad (@(item.IsAsilOrYedek == true ? "Asil" : "Yedek"))</option>
                            }

                        </select>
                    </td>
                </tr>
            }
            @if (!(ytuDisiJuri.MezuniyetSinavDurumID > MezuniyetSinavDurum.SonucGirilmedi))
            {
                <tr>
                    <td width="90">YTÜ Dışı Jüri</td>
                    <td width="10">:</td>
                    <td>
                        <select class="form-control" id="YtuDisiJuri_@Model.UniqueID">
                            @foreach (var item in ytuDisiJuris)
                            {
                                <option value="@item.MezuniyetJuriOneriFormuJuriID" @(item.AdSoyad.ToLower()== ytuDisiJuri.JuriAdi.ToLower()?"selected":"")>@item.UnvanAdi @item.AdSoyad (@(item.IsAsilOrYedek == true ? "Asil" : "Yedek"))</option>
                            }

                        </select>
                    </td>
                </tr>
            }
        </tbody>

    </table>


</div>
