@using BiskaUtil
@model LisansUstuBasvuruSistemi.Utilities.Dtos.OnlineOdemeProgramDetayModel
@{
    Layout = null; 
}
@if (Model != null)
{
    <div class="panel-body panel-body-pricing" style="padding:0px;margin:0px;">

        <table class="table" style="font-size:11pt;">
            <tr>
                <td width="150px;"></td>
                <td width="15px;"></td>
                <td>
                    @if (Model.OdemeListesi.Count > 0)
                    {
                        <div class="panel panel-info">
                            <div class="panel-heading padding-0">
                                <h3 class="panel-title">
                                    <i class="fa fa-list-alt" style="color:maroon;"></i> Seçilen Program İçin Ödenen Ücret Bilgileri
                                </h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body panel-body-pricing" style="padding-top: 2px; padding-bottom: 2px; margin: 0px;">

                                <table class="table" style="font-size:8pt;">

                                    <tr>
                                        <th width="90">Dekont Tarihi</th>
                                        <th width="150">Dekont No</th>
                                        <th width="90">Ödenen Tutar</th>
                                        <th>Ödeme İşlemi Adı</th>
                                    </tr>
                                    @if (Model.OdemeListesi.Count > 0)
                                    {
                                        foreach (var item in Model.OdemeListesi)
                                        {
                                            <tr>
                                                <td>@item.DekontTarih.ToDateString()</td>
                                                <td>@item.DekontNo</td>
                                                <td>@(item.Ucret.HasValue ? item.Ucret.ToString("n2") + " TL" : "")</td>
                                                <td>@item.Aciklama</td>
                                            </tr>
                                        }
                                    }

                                </table>

                            </div>
                        </div>
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    @if (Model.IsOgrenimUcretiOrKatkiPayi.HasValue && Model.IsOdemeVar)
                    {

                        if (Model.IsOdemeIslemiAcik)
                        {
                            <div class="panel panel-info">
                                <div class="panel-heading padding-0">
                                    <h3 class="panel-title">
                                        <i class="fa fa-credit-card fa-lg" style="color:maroon;"></i>Ödeme İşlemi İçin Kredi Kartı Bilgilerinizi Aşağıya Giriniz.
                                    </h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body">



                                    <div class="col-md-3">
                                        <div class="icon-preview"><i class="fa fa-credit-card fa-lg" style="color:maroon;"></i></div>
                                    </div>
                                    <div class="col-md-9">
                                        @using (Ajax.BeginForm("Post3DPayment", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "frmPost3DPayment" }))
                                        {
                                            @Html.AntiForgeryToken();
                                            @Html.HiddenFor(p => p.UniqueID);
                                            <div class="panel panel-default form-horizontal">
                                                <div class="panel-body form-group-separated" style="font-size:10pt;">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:left;line-height:30px;">Ödeme İşlemi Adı</label>
                                                        <div class="col-md-8">
                                                            @Model.AciklamaSelectedLng
                                                        </div>
                                                    </div>
                                                    @if (Model.KayitOldu == true)
                                                    {
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" style="text-align:left;">Ödeme Tarih Aralığı</label>
                                                            <div class="col-md-8" style="font-weight:bold;font-size:13pt;">
                                                                @Model.OdemeBaslangicTarihi.ToDateString()/@Model.OdemeBitisTarihi.ToDateString()
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:left;">Ödenecek Tutar</label>
                                                        <div class="col-md-8" style="font-weight:bold;font-size:13pt;">
                                                            @(Model.OdenecekUcret.ToString("n2")) TL
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:left;line-height:30px;">Ad Soyad</label>
                                                        <div class="col-md-8">
                                                            <input type="text" name="HolderName" id="HolderName" style="font-size:14pt;" class="form-control" value="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:left;line-height:30px;">Kart Numarası</label>
                                                        <div class="col-md-8">
                                                            <input type="text" name="CardNumber" id="CardNumber" maxlength="16" style="font-size:14pt;" class="form-control" value="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:left;line-height:30px;">Son Kullanma Tarihi</label>
                                                        <div class="col-md-8">
                                                            <table>
                                                                <tr>
                                                                    <td>@Html.DropDownList("ExpireMonth", null, new { @class = "form-control", style = "font-size:14pt;" })</td>
                                                                    <td width="3"></td>
                                                                    <td>@Html.DropDownList("ExpireYear", null, new { @class = "form-control", style = "font-size:14pt;" })</td>
                                                                </tr>
                                                            </table>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:left;line-height:30px;">Güvenlik Kodu</label>
                                                        <div class="col-md-8">
                                                            <input type="text" name="CV2" id="CV2" maxlength="3" style="font-size:14pt;" value="" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group hide">
                                                        <label class="col-md-4 control-label" style="text-align:left;line-height:30px;">Maximum Kart Özelliği</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownList("MaximumTipID", null, new { @class = "form-control", style = "font-size:14pt;", onchange = "GetMaximumType(this)" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group ccTaksit hide">
                                                        <label class="col-md-4 control-label" style="text-align:left;line-height:30px;">Taksit Seçeneği</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownList("Taksit", null, new { @class = "form-control", style = "font-size:14pt;" }) Not: Taksit Seçeneği Sadece Ziraat Bankası Kartları İçin Geçerlidir.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                    </div>
                                </div>
                                <div class="panel-footer" style="padding-top: 1px; padding-bottom: 1px;">
                                    <a style="width:200px; margin: 0px auto;" href="javascript:void(0);" class="btn btn-info btn-block" onclick="get3DPpost()"><i class="fa fa-credit-card"></i> Ödeme İşlemini Gerçekleştir</a>
                                </div>
                                <script>
                                    function GetMaximumType(sndr) {
                                        var val = $(sndr).val();
                                        if (val == "1") {
                                            $('.ccTaksit').removeClass('hide');
                                        }
                                        else {
                                            $('.ccTaksit').addClass('hide');
                                        }
                                    }
                                    function get3DPpost() {
                                        $('#frmPost3DPayment').ajaxForm({
                                            success: function (result) {
                                                if (result.MmMessage.IsSuccess) {
                                                    var btbxxFS = bootbox.dialog({
                                                        message: "<iframe id='frm3DS' width='100%' height='400'></iframe>",
                                                        title: "Ödeme İşlemi",
                                                    });
                                                    //$(btbxxFS).find('.modal-dialog').addClass('modal-lg');
                                                    var dct = document.getElementById('frm3DS');
                                                    var doc = document.getElementById('frm3DS').contentWindow.document;
                                                    doc.open();
                                                    doc.write(result._Content);
                                                    doc.close();
                                                }
                                                getMsg(result.MmMessage);

                                            },
                                            complete: function (cmp) {
                                            },
                                            error: function (err) {
                                                alert(err);
                                            }

                                        });
                                        $('#frmPost3DPayment').submit();
                                    }
                                </script>
                            </div>
                            <div class="hide programBilgisi">
                                <span class="UniqueID hide">@Model.UniqueID</span>
                            </div>
                        }
                        else
                        {
                            <div class="panel panel-danger form-horizontal">
                                <div class="panel-heading padding-0">
                                    <h3 class="panel-title">
                                        <i class="fa fa-credit-card fa-lg" style="color:maroon;"></i>
                                    </h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body form-group-separated" style="font-size:10pt;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" style="text-align:left;">Dikkat</label>
                                        <div class="col-md-8">
                                            @Model.AciklamaSelectedLng
                                        </div>
                                    </div>
                                    @if (Model.OdemeBitisTarihi.HasValue && Model.KayitOldu == true)
                                    {
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" style="text-align:left;">Ödeme Tarih Aralığı</label>
                                            <div class="col-md-8" style="font-weight:bold;font-size:13pt;">
                                                @Model.OdemeBaslangicTarihi.ToDateString()/@Model.OdemeBitisTarihi.ToDateString()
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                    else
                    {

                        <div class="alert alert-success" role="alert" style="text-align:center;">
                            <strong>Dikkat!</strong> @(!Model.IsOdemeVar ? "Seçtiğiniz program için herhangi bir ödeme işlemi gözükmemektedir." : Model.AciklamaSelectedLng)
                        </div>
                    }
                </td>
            </tr>
        </table>

    </div>

}
else
{
    <div class="alert alert-danger" role="alert" style="text-align:center;">
        <strong>Dikkat!</strong> Seçtiğiniz program sistemde bulunamadı.
    </div>
}
