@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model  FmTdoBasvuruDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var filteredOgrenciIds = (List<int>)ViewBag.filteredOgrenciIds;
    var filteredDanismanIds = (List<int>)ViewBag.filteredDanismanIds;

    var kayitYetki = RoleNames.TdoGelenBasvuruKayit.InRoleCurrent();
    var silmeYetki = RoleNames.TdoGelenBasvuruSil.InRoleCurrent();
    var eykOnayYetki = kayitYetki || RoleNames.TdoEykdaOnayYetkisi.InRoleCurrent();

}

<div class="row">
    @using (Html.BeginForm("Index", "TDOGelenBasvurular", FormMethod.Post, new { id = "frmGBasvurular" }))
    {
        <div class="col-md-12">
            @Html.Hidden("export", false)
            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-info" id="pnlFltr">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-filter"></i> Filtre İşlemi
                    </h3>
                    <ul class="panel-controls">
                        @if (eykOnayYetki && (Model.SelectedTdoBasvuruDanismanIds.Any() || Model.SelectedTdoBasvuruEsDanismanIds.Any()))
                        {
                            if (Model.AktifDurumID == TdoDansimanDurumuEnum.EykYaHazirlandi)
                            {
                                <li>
                                    <a href="javascript:void(0);" class="topluOnay" onclick="EYKDaOnay()" title="EYK'ya hazırlanmış olan Danışman başvurularını Eyk'da onaylandı olarak güncelle"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a>
                                    <script>

                                    function EYKDaOnay() {
                                        var btbx = bootbox.dialog({
                                            message: "Listelenen @Model.SelectedTdoBasvuruDanismanIds.Count() adet EYK'ya hazırlanmış olup EYK'da onay işlemi bekleyen</b> Danışman formlarını <b>EYK'da onaylandı</b> olarak güncellemek istiyor musunuz?<br>Not: bu işlem onaylanan başvuru sayısına göre uzun sürebilir.",
                                            title: "Danışman Toplu EYK'da onaylama işlemi",
                                            buttons: {
                                                success: {
                                                    label: "Onayla",
                                                    className: "btn-info btnBbOnaylama",
                                                    callback: function () {
                                                        $('.btnBbOnaylama').html('Onaylanıyor...');
                                                        var _panel = $(btbx).find('.modal-content');
                                                        PanelRefresh(_panel, false);
                                                        toastr["info"]("Lütfen işlem tamamlanana kadar bekleyiniz.", "Toplu EYK'da Onaylama İşlemi Başlatıldı");
                                                        var selectedTdoBasvuruDanismanIds = eval('@Html.Raw(Json.Encode(Model.SelectedTdoBasvuruDanismanIds))');
                                                        $.ajax({
                                                            url: '@Url.Action("EYKDaOnay", "TdoGelenBasvurular")',
                                                            cache: false,
                                                            type: 'POST',
                                                            data: { selectedTdoBasvuruDanismanIds },
                                                            success: function (result) {
                                                                PanelRefresh(_panel, true);
                                                                toastr["info"](result.Count + " adet başvuru eyk'da onaylandı olarak güncellendi.", "Toplu Onaylama İşlemi Tamamlandı");
                                                                $(btbx).find('.close').first().click();
                                                            },
                                                            error: function (err) {
                                                                $('.btnBbOnaylama').html('Onayla');
                                                                PanelRefresh(_panel, true);
                                                                alert(err.responseText);
                                                            }
                                                        });
                                                        return false;
                                                    }
                                                },
                                                danger: {
                                                    label: "Vazgeç",
                                                    className: "btn-primary",
                                                    callback: function () {
                                                    }
                                                }
                                            }
                                        });
                                    }
                                    </script>
                                </li>
                            }

                            if (Model.AktifEsDurumID == TdoDansimanDurumuEnum.EykYaHazirlandi)
                            {
                                <li>
                                    <a href="javascript:void(0);" class="topluOnay" onclick="EYKDaOnayEs()" title="EYK'ya hazırlanmış olan Eş Danışman başvurularını Eyk'da onaylandı olarak güncelle"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a>
                                    <script>

                                        function EYKDaOnayEs() {
                                            var btbx = bootbox.dialog({
                                                message: "Listelenen @Model.SelectedTdoBasvuruEsDanismanIds.Count() adet EYK'ya hazırlanmış olup EYK'da onay işlemi bekleyen</b> Eş Danışman formlarını <b>EYK'da onaylandı</b> olarak güncellemek istiyor musunuz?<br>Not: bu işlem onaylanan başvuru sayısına göre uzun sürebilir.",
                                                title: "Eş Danışman Toplu EYK'da onaylama işlemi",
                                                buttons: {
                                                    success: {
                                                        label: "Onayla",
                                                        className: "btn-info btnBbOnaylama",
                                                        callback: function () {
                                                            $('.btnBbOnaylama').html('Onaylanıyor...');
                                                            var _panel = $(btbx).find('.modal-content');
                                                            PanelRefresh(_panel, false);
                                                            toastr["info"]("Lütfen işlem tamamlanana kadar bekleyiniz.", "Toplu EYK'da Onaylama İşlemi Başlatıldı");
                                                            var selectedTdoBasvuruEsDanismanIds = eval('@Html.Raw(Json.Encode(Model.SelectedTdoBasvuruEsDanismanIds))');
                                                            $.ajax({
                                                                url: '@Url.Action("EYKDaOnayEs", "TdoGelenBasvurular")',
                                                                cache: false,
                                                                type: 'POST',
                                                                data: { selectedTdoBasvuruEsDanismanIds },
                                                                success: function (result) {
                                                                    PanelRefresh(_panel, true);
                                                                    toastr["info"](result.Count + " adet Eş Danışman başvurusu eyk'da onaylandı olarak güncellendi.", "Toplu Onaylama İşlemi Tamamlandı");
                                                                    $(btbx).find('.close').first().click();
                                                                },
                                                                error: function (err) {
                                                                    $('.btnBbOnaylama').html('Onayla');
                                                                    PanelRefresh(_panel, true);
                                                                    alert(err.responseText);
                                                                }
                                                            });
                                                            return false;
                                                        }
                                                    },
                                                    danger: {
                                                        label: "Vazgeç",
                                                        className: "btn-primary",
                                                        callback: function () {
                                                        }
                                                    }
                                                }
                                            });
                                        }
                                    </script>
                                </li>
                            }

                            <li>
                                <a href="javascript:void(0);" onclick="ShowDialogTutanakRpr()" title="Tutanak Raporu Oluştur"><i class="fa fa-file-text-o"></i></a>
                                <script>

                                    function ShowDialogTutanakRpr() {
                                        var _panel = $('#pnlFltr');

                                        PanelRefresh(_panel, false);
                                        $.ajax({
                                            url: '@Url.Action("GetTutanakRaporu", "TDOGelenBasvurular")',
                                            data: {},
                                            success: function (result) {
                                                PanelRefresh(_panel, true);
                                                var btbxxFS = bootbox.dialog({
                                                    message: result,
                                                    title: "<i class='fa fa-bar-chart-o'></i> Tutanak Çıktısı Oluşturma İşlemi",
                                                    buttons: {
                                                        success: {
                                                            label: 'Çıktı Al',
                                                            className: "btn btn-info",
                                                            callback: function (event) {
                                                                var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                                                PanelRefresh(pnlx, false);
                                                                $('#TutanakRprForm').ajaxForm({
                                                                    success: function (result) {

                                                                        PanelRefresh(pnlx, true);
                                                                        if (result.IsSuccess) {
                                                                            var bastar = $('#BasTar').val();
                                                                            var bittar = $('#BitTar').val();
                                                                            //var _RaporTarihi = $('#RaporTarihi').val();
                                                                            //var _Sayi = $('#Sayi').val();
                                                                            var tutanakTipId = $('#tutanakTipId').val();
                                                                            var isDegisiklikOrYeniOneri = $('#isDegisiklikOrYeniOneri').val();
                                                                            var EnstituOnayDurumId = $('#EnstituOnayDurumId').val();
                                                                            window.location = '@Url.Action("GetTutanakRaporuExport", "TDOGelenBasvurular")?BasTar=' + bastar + '&BitTar=' + bittar
                                                                                //+ '&RaporTarihi=' + _RaporTarihi
                                                                                //+ '&Sayi=' + _Sayi
                                                                                + '&tutanakTipId=' + tutanakTipId
                                                                                + '&isDegisiklikOrYeniOneri=' + isDegisiklikOrYeniOneri
                                                                                + '&EnstituOnayDurumId=' + EnstituOnayDurumId;

                                                                            toastr["success"]('Tutanak oluşturuluyor lütfen bekleyiniz...', 'Tutanak Oluşturma İşlemi');
                                                                        }
                                                                        else {
                                                                            GetMsg(result);
                                                                        }


                                                                    },
                                                                    complete: function (cmp) {
                                                                        PanelRefresh(pnlx, true);
                                                                    },
                                                                    error: function (err) {
                                                                        PanelRefresh(pnlx, true);
                                                                    }

                                                                });
                                                                $('#TutanakRprForm').submit();
                                                                return false;
                                                            }
                                                        },
                                                        danger: {
                                                            label: 'Kapat',
                                                            className: "btn-primary",
                                                            callback: function () {
                                                            }
                                                        }
                                                    }
                                                });
                                            },
                                            error: function (err) {
                                                alert(err.responseText);
                                                PanelRefresh(_panel, true);
                                            }
                                        });

                                    }
                                </script>
                            </li>

                        }
                        @if (kayitYetki && Model.RowCount > 0)
                        {
                            <li>
                                <a href="javascript:void(0);" onclick="$('#export').val('true'); $('#frmGBasvurular').submit(); $('#export').val('false');" title="Listelenen kaydı excel e aktar"><i class="fa fa-download"></i></a>
                            </li>

                        }
                        @if (kayitYetki)
                        {
                            if (filteredOgrenciIds.Any())
                            {
                                <li>
                                    <a href="javascript:void(0)" onclick="mGonderGB('@string.Join(",",filteredOgrenciIds)',true,false)" title="Listelenen Başvurular için @filteredOgrenciIds.Count Öğrenciye Mail Gönder"><i class="fa fa-envelope" aria-hidden="true"> Ö</i></a>
                                </li>
                            }
                            if (filteredDanismanIds.Any())
                            {
                                <li>
                                    <a href="javascript:void(0)" onclick="mGonderGB('@string.Join(",",filteredDanismanIds)',true,false)" title="Listelenen Başvurular için @filteredDanismanIds.Count Danışmana Mail Gönder"><i class="fa fa-envelope" aria-hidden="true"> D</i></a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" style="width:100%;table-layout:fixed;">
                        <tr>

                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Başvuru Dönemi</td>
                                            <td>
                                                @Html.DropDownList("AktifDonemID", null, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Danışman Talep Tipi</td>
                                            <td>
                                                @Html.DropDownList("TDODanismanTalepTipID", null, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>

                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Başvuru Durumu Eş Danışman</td>
                                            <td>
                                                @Html.DropDownList("AktifEsDurumID", null, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding-left:10px; vertical-align:top;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Başvuru Durumu</td>
                                            <td>
                                                @Html.DropDownList("AktifDurumID", null, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>

                            <td style="padding-left:10px;">
                            </td>
                            <td style="padding-left:10px; vertical-align:top;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Aranacak Kelime</td>
                                            <td>

                                                <table style="width:100%;table-layout:fixed;">
                                                    <tbody>
                                                        <tr>
                                                            <td> <input name="AdSoyad" id="AdSoyad" type="text" value="@Model.AdSoyad" onkeypress="if (event.which == 13) { $('#frmGBasvurular').submit(); }" class="form-control" /></td>
                                                            <td width="110">
                                                                <a href="javascript:void(0);" onclick="$('#frmGBasvurular').submit();" class="btn btn-info" style="width:110px;"><i class="glyphicon glyphicon-filter"> Filtrele</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Gelen Başvurular</h3>
                    <ul class="panel-controls"></ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="75"></th>
                                <th>Ad Soyad</th>
                                <th width="160">Başvuru Dönemi</th>
                                <th width="350">Başvuru Durumu</th>
                                <th width="45"></th>
                            </tr>

                        </thead>
                        <tbody>

                            @if (Model.RowCount > 0)
                            {

                                int rowIndex = Model.StartRowIndex;
                                foreach (var item in Model.TdoBasvuruDtos)
                                {
                                    rowIndex++;
                                    <tr style="color:@item.DurumColor;">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@rowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.TDOBasvuruID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="ShowDetail('@item.TDOBasvuruID')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-down"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table" style="padding:0px;margin:0px;border:none;table-layout:fixed;">
                                                <tr>
                                                    <td class="clsHide" style="margin:0px;border:none;" width="40"> <img src="@item.ResimAdi.ToKullaniciResim()" style="width:40px;height:40px;cursor:pointer;" onclick="DetayGor('@item.UserKey')" class="img-circle img-thumbnail"></td>
                                                    <td style="margin:0px;border:none;"> @item.AdSoyad <br /> @item.OgrenciNo</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            @item.AktifDonemAdi
                                        </td>
                                        <td>
                                            @item.ToBasvuruDurumView()

                                        </td>

                                        <td>
                                            @if (!item.AktifTDOBasvuruDanismanID.HasValue && ((kayitYetki || silmeYetki) || item.KullaniciID == UserIdentity.Current.Id))
                                            {
                                                <a href="@Url.Action("BasvuruYap", "TdoBasvuru", new { item.TDOBasvuruID })"><i style="font-size:11pt;color:@item.DurumColor;" class="fa fa-edit" title="Düzelt"></i></a>
                                                <a href="javascript:void(0)" onclick="BasvuruSil(this,'@item.TDOBasvuruID','@item.AdSoyad')"><i style="font-size:11pt;color:@item.DurumColor;" class="glyphicon glyphicon-trash" title="Sil"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="cls-@item.TDOBasvuruID" style="display:none">
                                        <td id="cls-@item.TDOBasvuruID" class="clspTd" colspan="5" style="padding: 1px 1px 2px 75px;"></td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="clspTd" style="text-align: center;">
                                        Listelenen Kayıt Yok
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>

        </div>
    }
</div>
@if (Model.RowCount == 1)
{
    Model.TDOBasvuruID = Model.TdoBasvuruDtos.First().TDOBasvuruID;
    <script>
        $(function () {
        ShowDetail('@Model.TDOBasvuruID');
    },200)
    </script>
}

<script type="text/javascript">
    $(function () {
        Resized(window.innerWidth);
    })
    function Resized(screenwidth) {
        if (screenwidth <= 800) {
            $('.clsHide').addClass('hide');
            $('.clspTd').attr("colspan", "4");
            $('.ctWidth').removeAttr('width');
        }
        else {
            $('.clsHide').removeClass('hide');
            $('.clspTd').attr("colspan", "5");
            $('.ctWidth').attr('width', '280');

        }
    }
    window.addEventListener('resize', function (event) {
        Resized(window.innerWidth);
    });
    function ShowDetailY(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
    }


    function ShowDetail(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled) GetDetail(id);

    }
    function GetDetail(id) {
        var _panel = $('#bsvrDet_' + id);
        PanelRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("GetDetailTdoBasvuru", "Ajax")',
            data: { id: id},
            success: function (result) {
                $('#cls-' + id).html(result);
                Resized(window.innerWidth);
                PanelRefresh(_panel, true);

                var $YnBtn = $('#YeniRaporBtn_' + id);
                if ($YnBtn.length > 0) {
                    $YnBtn.pulsate({
                        color: "#fdbe41",
                        reach: 60,
                        repeat: 24,
                        speed: 300,
                        glow: true
                    });
                }
            },
            error: function (err) {
                alert(err.responseText);
                PanelRefresh(_panel, true);
            }
        });

    }
    function BasvuruSil(sndr, id,adSoyad) {
        bootbox.dialog({
            message: "<table style='table-layout:fixed;width:100%;'><tr><td style='font-size:11pt;text-align:center;color:maroon;'>"+adSoyad+" öğrencisine ait başvuruyu silmek istiyor musunuz?</td></tr></table>",
            title: "Başvuru Silme İşlemi",
            buttons: {
                success: {
                    label: 'Başvuruyu Sil',
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("Sil", "TdoBasvuru")',
                            data: { id: id },
                            success: function (result) {
                                if (result.IsSuccess) {
                                    $(sndr).closest("tr").remove();
                                    $(".cls-" + id).remove();
                                }
                                ShowMmMessage(result.Messages, 'Tamam');
                            },
                            error: function (err) {
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: 'Vazgeç',
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });
    }

</script>
