@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil;
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model  FmTosBasvuru
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bilgiModel = (IndexPageInfoDto)ViewBag.bModel;
}
@if (!Model.IsDegerlendirme.HasValue)
{
    <div class="row">
        <div class="col-md-12">
            <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
                <table style="width:100%;">
                    <tr>
                        <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-bullhorn fa-lg"></i> Başvuru Biglisi</td>
                    </tr>
                    <tr>
                        <td width="200">Enstitü</td>
                        <td width="10">:</td>
                        <td>
                            @bilgiModel.Enstitü.EnstituAd
                        </td>
                    </tr>
                    <tr>
                        <td>Ad Soyad</td>
                        <td>:</td>
                        <td>@bilgiModel.Kullanici.Ad @bilgiModel.Kullanici.Soyad</td>
                    </tr>
                    @if (bilgiModel.KullaniciTipYetki)
                    {
                        <tr>
                            <td>Öğrenci No / Öğrenim Seviyesi</td>
                            <td>:</td>
                            <td>
                                @bilgiModel.OgrenciNo /  @bilgiModel.OgrenimTipAdi
                            </td>
                        </tr>
                        <tr>
                            <td>Anabilim Dalı / Program</td>
                            <td>:</td>
                            <td>
                                @bilgiModel.AnabilimdaliAdi / @bilgiModel.ProgramAdi
                            </td>
                        </tr>
                        <tr>
                            <td>Öğrenim Durumu / Kayıt Tarihi</td>
                            <td>:</td>
                            <td>
                                @bilgiModel.OgrenimDurumAdi / @bilgiModel.KayitDonemi
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td>:</td>
                            <td> @bilgiModel.KullaniciTipYetkiYokMsj</td>
                        </tr>
                    }
                    @if (bilgiModel.SistemBasvuruyaAcik && bilgiModel.KullaniciTipYetki)
                    {
                        if (Model.AktifOgrenimIcinBasvuruVar)
                        {
                            <tr>
                                <td>Not</td>
                                <td>:</td>
                                <td>Okuduğunuz '@bilgiModel.ProgramAdi' programı için Tez Öneri Savunma başvurunuz bulunmaktadır. Yeni rapor oluşturmak için aşağıda bulunan Yeni Rapor Oluştur isimli mavi butona tıklayınız </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>Başvuru Durumu</td>
                                <td>:</td>
                                <td>Sistem Başvuru alımına açıktır. Başvuru yapmak için Yeni Başvuru butonuna tıklayınız.</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>:</td>
                                <td>
                                    <button type="button" class="btn btn-success" onclick="YeniBasvuruDuyuruKontrol()"><i class="fa fa-plus tooltips"></i>Yeni Başvuru</button>
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        if (bilgiModel.SistemBasvuruyaAcik == false)
                        {
                            <tr>
                                <td>Başvuru Durumu</td>
                                <td>:</td>
                                <td>
                                    Sistem başvuru işlemlerine kapalıdır. Başvuru İşlemi ile ilgili detaylı bilgi almak için duyuruları takip edebilirsiniz.
                                    <br />
                                    <a href="@Url.Action("Index", "KDuyurular")">Duyurular Sayfaya Gitmek İçin Tıklayınız</a>
                                </td>
                            </tr>
                        }


                    }
                </table>

            </div>

        </div>
    </div>
}
<div class="row">
    @using (Html.BeginForm())
    {

        <div class="col-md-12">
            @Html.Hidden("IsDegerlendirme", Model.IsDegerlendirme)
            @if (Model.IsDegerlendirme.HasValue)
            {
                if (Model.RowCount > 0)
                {
                    <div id="cls-@Model.Data.First().ToBasvuruID"></div>
                }
                else
                {
                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;font-size:12pt;color:maroon;"> Değerlendirme yapılabilecek herhangi bir tez öneri savunma bilgisi bulunamadı!</div>
                }

            }
            else
            {
                <div class="panel panel-danger">
                    <div class="panel-heading padding-0">
                        <h3 class="panel-title"><i class="fa fa-list-alt"></i> Başvurularım</h3>
                        <ul class="panel-controls"></ul>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover" style="width:100%;table-layout:fixed;">
                            <thead>
                                <tr>
                                    <th width="75"></th>
                                    <th>Ad Soyad</th>
                                    <th width="140">Son Savunma Dönemi</th>
                                    <th>Son Savunma Durumu</th> 
                                </tr>

                            </thead>
                            <tbody>

                                @if (Model.RowCount > 0)
                                {

                                    int rowIndex = Model.StartRowIndex;
                                    foreach (var item in Model.Data)
                                    {
                                        rowIndex++;
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td style="width: 30px;">@rowIndex</td>
                                                        <td>
                                                            <ul class="panel-controls">
                                                                <li id="iShow_@item.ToBasvuruID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="ShowDetail('@item.ToBasvuruID')">
                                                                    <a href="javascript:void(0)"><span class="fa fa-angle-down"></span></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table class="table" style="padding:0px;margin:0px;border:none;table-layout:fixed;">
                                                    <tr>
                                                        <td class="clsHide" style="margin:0px;border:none;" width="40"> <img src="@item.ResimAdi.ToKullaniciResim()" style="width:40px;height:40px;cursor:pointer;" onclick="detayGor(@item.KullaniciID)" class="img-circle img-thumbnail"></td>
                                                        <td style="margin:0px;border:none;"> @item.AdSoyad <br /> @item.OgrenciNo</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                @item.AktifDonemAdi<br />1. Savunma
                                            </td>
                                            <td> @item.DurumModel.TosBasvuruDurumView()</td>
                                            
                                        </tr>
                                        <tr class="cls-@item.ToBasvuruID" style="display:none">
                                            <td id="cls-@item.ToBasvuruID" class="clspTd" colspan="4" style="padding: 1px 1px 2px 75px;"></td>
                                        </tr>

                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" class="clspTd" style="text-align: center;">
                                            Listelenen Kayıt Yok
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        @Model.ToPagerString()
                    </div>
                </div>
            }
        </div>
    }
</div>
@if (Model.IsDegerlendirme.HasValue && Model.RowCount > 0)
{
    <script>
        $(function () {
            GetDetail('@Model.Data.First().ToBasvuruID');
        },200)
    </script>
}
else if (Model.ToBasvuruID.HasValue || Model.RowCount > 0)
{
    <script>
        $(function () {
            ShowDetail('@(Model.ToBasvuruID ?? Model.Data.First().ToBasvuruID)');
            if ('@(Model.ToBasvuruID.HasValue.ToString().ToLower())' == 'true') setTimeout(function () { GetTIAraRaporFormu(@Model.ToBasvuruID); }, 250);

        },200)
    </script>
}


<script type="text/javascript">
   
    function showDetailY(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
    }
    function YeniBasvuruDuyuruKontrol() {
           var popupSetting = {
            title:'||',
            popupTipId:@DuyuruPopupTipleri.TIBasvuru,
            btnAdi: 'Başvuru Yap',
            redirectUrl: '@Url.Action("BasvuruYap",new { Model.KullaniciID})',
            callbackFnc: ''
        }
        ShowDuyuru(popupSetting);
    }


    function ShowDetail(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled) GetDetail(id);

    }
    function GetDetail(id) {
        var _panel = $('#bsvrDet_' + id);
        PanelRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("GetDetailTosBasvuru", "Ajax")',
            data: { id: id, UniqueID: '@Model.IsDegerlendirme' },
            success: function (result) {
                $('#cls-' + id).html(result); 
                PanelRefresh(_panel, true);
                var $YnBtn = $('#YeniRaporBtn_' + id);
                if ($YnBtn.length > 0) {
                    $YnBtn.pulsate({
                        color: "#fdbe41",
                        reach: 60,
                        repeat: 24,
                        speed: 300,
                        glow: true
                    });
                }
            },
            error: function (err) {
                alert(err.responseText);
                PanelRefresh(_panel, true);
            }
        });

    }

    function BasvuruSil(sndr, id,tarih) {
        bootbox.dialog({
            message: "<table style='table-layout:fixed;width:100%;'><tr><td style='font-size:11pt;text-align:center;color:maroon;'>" + tarih + " tarihli başvurunuzu silmek istiyor musunuz?</td></tr></table>",
            title: "Başvuru Silme İşlemi",
            buttons: {
                success: {
                    label: 'Başvuruyu Sil',
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("Sil", "TosBasvuru")',
                            data: { id: id },
                            success: function (result) {
                                if (result.IsSuccess) {
                                    $(sndr).closest("tr").remove();
                                    $(".cls-" + id).remove();
                                }
                                showMmMessage(result.Messages, 'Tamam');
                            },
                            error: function (err) {
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: 'Vazgeç',
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });
    }
    function silDetay(sndr, id, ToBasvuruSavunmaID, RaporNo) {
        var _panel = $('#bsvrDet_' + id);
        PanelRefresh(_panel, false);
        var btbx = bootbox.dialog({
            message: "<br/><table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;color:maroon;'>" + RaporNo + " bilgisini silmek istiyor musunuz?</td></tr></table><br/>",
            title: "Rapor Silme İşlemi",
            buttons: {
                success: {
                    label: 'Raporu Sil',
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("DetaySil", "TosBasvuru")',
                            data: { id: id, ToBasvuruSavunmaID: ToBasvuruSavunmaID },
                            success: function (result) {
                                if (result.IsSuccess) {
                                    GetDetail(id);
                                }
                                showMmMessage(result.Messages, 'Tamam');
                            }, complete: function (httpObj, textStatus) {
                                PanelRefresh(_panel, true);
                                ShowMessageAjaxRequest(httpObj.status, textStatus);
                            }
                        });
                    }
                },
                danger: {
                    label: 'Vazgeç',
                    className: "btn-primary",
                    callback: function () {
                        PanelRefresh(_panel, true);
                    }
                }
            }
        });


    }


    $(function () {
        $('.tooltips').tooltip();
    });

    function showSRDialog(ToBasvuruID,ToBasvuruSavunmaID, SRTalepID) {
        var _panel = $('#bsvrDet_' + ToBasvuruID);
        PanelRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("RezervasyonAl", "TosBasvuru")',
            data: { 'ToBasvuruSavunmaID': ToBasvuruSavunmaID, 'SRTalepID': SRTalepID },
            success: function (result) {

                PanelRefresh(_panel, true);
                var btbxxFS = bootbox.dialog({
                    message: result,
                    title: "<i class='fa fa-calendar fa-lg'></i> " + (SRTalepID <= 0 ? 'Yeni Tez Öneri Savunma Toplantı Bilgi Girişi' : 'Tez Öneri Savunma Toplantı Bilgileri Düzenleme'),
                    buttons: {
                        success: {
                            label: "Kaydet",
                            className: "btn-primary btnSrKayit_"+ToBasvuruSavunmaID,
                            callback: function (event) {
                                var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                $('.btnSrKayit_' + ToBasvuruSavunmaID).addClass('disabled');
                                 PanelRefresh(pnlx, false);
                                $('#TIAraRaporSrForm').ajaxForm({
                                    success: function (result) {
                                        if (result.IsSuccess) {
                                            toastr["success"](result.Messages.join('<br/>'), result.Title, { timeOut: 8000 });
                                            GetDetail(ToBasvuruID);
                                            var _clsBtn = $('.modal-header').find('button').first();
                                            $(_clsBtn).click();
                                        }
                                        else {
                                            getMsg(result);
                                            return false;
                                        }
                                        PanelRefresh(pnlx, true);

                                    },
                                    complete: function (cmp) {
                                        $('.btnSrKayit_' + ToBasvuruSavunmaID).removeClass('disabled');
                                        PanelRefresh(pnlx, true);
                                    },
                                    error: function (err) {
                                        PanelRefresh(pnlx, true);
                                    }

                                });
                                $('#TIAraRaporSrForm').submit();

                                return false;
                            }
                        },
                        danger: {
                            label: "Kapat",
                            className: "btn-primary",
                            callback: function () {
                            }
                        }
                    }
                });
            },
            error: function (err) {
                PanelRefresh(_panel, true);
                alert(err.responseText);
            }
        });
    }
      function GetToSavunmaFormu(ToBasvuruID, ToBasvuruSavunmaID) {
          var _panel = $('#bsvrDet_' + ToBasvuruID);
            PanelRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("GetToSavunmaFormu", "TosBasvuru")',
                data: {
                    'ToBasvuruID': ToBasvuruID,
                    'ToBasvuruSavunmaID': ToBasvuruSavunmaID
                },
                success: function (resultG) {
                    PanelRefresh(_panel, true);
                    if (resultG.IsSuccess) {
                        var btbxxFS = bootbox.dialog({
                            message: resultG.Content,
                            title: "||",
                            buttons: {
                                success: {
                                    label: 'Kaydet',
                                    className: "btn-info btnKaydet",
                                    callback: function (event) {
                                        var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                        PanelRefresh(pnlx, false);
                                        $('#FrmToSavunmaFormu').ajaxForm({
                                            success: function (result) {
                                                if (result.mMessage.IsSuccess) {
                                                    if (result.mMessage.Messages.length > 0) toastr["success"](result.mMessage.Messages.join('<br/>'), result.Title, { timeOut: 8000 });
                                                    var _clsBtn = $('.bootbox-close-button').first();
                                                    $(_clsBtn).click();
                                                    GetDetail(ToBasvuruID);

                                                }
                                                else {
                                                    if (result.mMessage.Messages.length > 0) getMsg(result.mMessage);
                                                    return false;
                                                }
                                            },
                                            complete: function (cmp) {
                                                PanelRefresh(pnlx, true);
                                            },
                                            error: function (err) {
                                                PanelRefresh(pnlx, true);
                                            }

                                        });
                                        $('#FrmToSavunmaFormu').submit();
                                        return false;
                                    }
                                },
                                danger: {
                                    label: 'Vazgeç',
                                    className: "btn-primary",
                                    callback: function () {
                                    }
                                }
                            }
                        });
                        $(btbxxFS).find('.modal-dialog').first().addClass('modal-lg');
                        if (resultG.Messages.trim()!="") showMmMessage(resultG.Messages, 'Tamam');

                    }
                    else {
                        showMmMessage(resultG.Messages, 'Tamam');
                    }

                },
                error: function (err) {
                    PanelRefresh(_panel, true);
                    alert(err.responseText);

                }
            })
        }
</script>
@if (true)
{
    <script>

        function TosDegerlendirmeKaydet(UniqueID,ToBasvuruID) {
            var ToBasvuruSavunmaDurumID = $('#ToBasvuruSavunmaDurumID_' + UniqueID).val();
            var IsCalismaRaporuAltAlanUygun = $('#IsCalismaRaporuAltAlanUygun_' + UniqueID).val();
            var Aciklama = $('#Aciklama_' + UniqueID).val();
            var _panel = $('#bsvrDet_' + ToBasvuruID);
            bootbox.dialog({
                message: "Tez öneri savunması değerlendirmenizi kaydetmek istediğinize emin misiniz?",
                title: "<i class='glyphicon glyphicon-info-sign'></i> Tez Öneri Savunma Değerlendirmesi",
                buttons: {
                    success: {
                        label: "Evet",
                        className: "btn-success",
                        callback: function (event) {
                            PanelRefresh(_panel, false);
                            $.ajax({
                                url: '@Url.Action("TosDegerlendir", "TosBasvuru")',
                                data: {
                                    UniqueID,
                                    IsCalismaRaporuAltAlanUygun,
                                    ToBasvuruSavunmaDurumID,
                                    Aciklama

                                },
                                success: function (result) {
                                    PanelRefresh(_panel, true);
                                    if (result.IsSuccess || result.IsRefresh) {
                                        GetDetail(ToBasvuruID);

                                    }
                                    showMmMessage(result.Messages, 'Tamam');

                                },
                                error: function (err) {
                                    PanelRefresh(_panel, true);
                                    alert(err.responseText);

                                }
                            });
                        }
                    },
                    danger: {
                        label: "Hayır",
                        className: "btn-primary",
                        callback: function () {
                        }
                    }
                }
            });
        }

        function showDLinkGonder(toBasvuruID, toBasvuruSavunmaID,UniqueID) {
            var _panel = $('#bsvrDet_' + toBasvuruID);
             PanelRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("DegerlendirmeLinkView", "TosBasvuru")',
                data: {
                    'UniqueID': UniqueID,
                },
                success: function (result) {
                    PanelRefresh(_panel, true);
                    var btbxxFS = bootbox.dialog({
                        message: result,
                        title: "<i class='fa fa-envelope fa-lg'></i> Yeni Değerlendirme Linki Gönderme İşlemi",
                        buttons: {
                            success: {
                                label: "Gönder",
                                className: "btn-info",
                                callback: function (event) {
                                    var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                    PanelRefresh(pnlx, false);
                                    var EMail = $('#EMail_' + UniqueID).val();
                                    var IsJuriEmailGuncellensin = $('#IsJuriEmailGuncellensin_' + UniqueID).val();
                                    $.ajax({
                                        url: '@Url.Action("DegerlendirmeLinkiGonder", "TosBasvuru")',
                                        data: {
                                            'toBasvuruSavunmaID': toBasvuruSavunmaID,
                                            'UniqueID': UniqueID,
                                            'EMail': EMail,
                                            'IsJuriEmailGuncellensin': IsJuriEmailGuncellensin
                                        },
                                        success: function (result) {
                                            PanelRefresh(pnlx, true);
                                            if (result.mMessage.Messages.length > 0) toastr[result.MessageType](result.mMessage.Messages.join('<br/>'), result.Title, { timeOut: 8000 });
                                            GetDetail(toBasvuruID);
                                            showMmMessage(result.MessageView, 'Tamam');
                                            var _clsBtn = $(pnlx).find('.bootbox-close-button').first();
                                            $(_clsBtn).click();

                                        },
                                        error: function (err) {
                                            PanelRefresh(pnlx, true);
                                            alert(err.responseText);

                                        }
                                    });
                                    return false;
                                }
                            },
                            danger: {
                                label: "Kapat",
                                className: "btn-primary",
                                callback: function () {
                                    PanelRefresh(_panel, true);
                                }
                            }
                        }
                    });

                },
                error: function (err) {
                    PanelRefresh(_panel, true);
                    alert(err.responseText);

                }
            });



        }
    </script>

}
