@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil;
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model  FmTosBasvuru
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bilgiModel = (IndexPageInfoDto)ViewBag.bModel;
}
@if (!Model.IsDegerlendirme.HasValue)
{
    <div class="row">
        <div class="col-md-12">
            <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
                <table style="width:100%;">
                    <tr>
                        <td colspan="3" style="font-weight:bold;font-size:11pt; border-bottom:1px solid;"><i class="fa fa-bullhorn fa-lg"></i> Başvuru Biglisi</td>
                    </tr>
                    <tr>
                        <td width="200">Enstitü</td>
                        <td width="10">:</td>
                        <td>
                            @bilgiModel.Enstitü.EnstituAd
                        </td>
                    </tr>
                    <tr>
                        <td>Ad Soyad</td>
                        <td>:</td>
                        <td>@bilgiModel.Kullanici.Ad @bilgiModel.Kullanici.Soyad</td>
                    </tr>
                    @if (bilgiModel.KullaniciTipYetki)
                    {
                        <tr>
                            <td>Öğrenci No / Öğrenim Seviyesi</td>
                            <td>:</td>
                            <td>
                                @bilgiModel.OgrenciNo /  @bilgiModel.OgrenimTipAdi
                            </td>
                        </tr>
                        <tr>
                            <td>Anabilim Dalı / Program</td>
                            <td>:</td>
                            <td>
                                @bilgiModel.AnabilimdaliAdi / @bilgiModel.ProgramAdi
                            </td>
                        </tr>
                        <tr>
                            <td>Öğrenim Durumu / Kayıt Tarihi</td>
                            <td>:</td>
                            <td>
                                @bilgiModel.OgrenimDurumAdi / @bilgiModel.KayitDonemi
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td>:</td>
                            <td> @bilgiModel.KullaniciTipYetkiYokMsj</td>
                        </tr>
                    }
                    @if (bilgiModel.SistemBasvuruyaAcik && bilgiModel.KullaniciTipYetki)
                    {
                        if (Model.AktifOgrenimIcinBasvuruVar)
                        {
                            <tr>
                                <td>Not</td>
                                <td>:</td>
                                <td>Okuduğunuz '@bilgiModel.ProgramAdi' programı için Tez Öneri Savunma başvurunuz bulunmaktadır.</td>
                            </tr>
                        }
                 

                    }
                    else
                    {
                        if (bilgiModel.SistemBasvuruyaAcik == false)
                        {
                            <tr>
                                <td>Başvuru Durumu</td>
                                <td>:</td>
                                <td>
                                    Sistem başvuru işlemlerine kapalıdır. Başvuru İşlemi ile ilgili detaylı bilgi almak için duyuruları takip edebilirsiniz.
                                    <br />
                                    <a href="@Url.Action("Index", "KDuyurular")">Duyurular Sayfaya Gitmek İçin Tıklayınız</a>
                                </td>
                            </tr>
                        }


                    }
                </table>

            </div>

        </div>
    </div>
}
<div class="row">
    @using (Html.BeginForm())
    {

        <div class="col-md-12">
            @Html.Hidden("IsDegerlendirme", Model.IsDegerlendirme)
            @if (Model.IsDegerlendirme.HasValue)
            {
                if (Model.RowCount > 0)
                {
                    <div id="cls-@Model.Data.First().UniqueID"></div>
                }
                else
                {
                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;font-size:12pt;color:maroon;"> Değerlendirme yapılabilecek herhangi bir tez öneri savunma bilgisi bulunamadı!</div>
                }

            }
            else
            {
                <div class="panel panel-danger">
                    <div class="panel-heading padding-0">
                        <h3 class="panel-title"><i class="fa fa-list-alt"></i> Başvurularım</h3>
                        <ul class="panel-controls"></ul>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover" style="width:100%;table-layout:fixed;">
                            <thead>
                                <tr>
                                    <th width="75"></th>
                                    <th>Ad Soyad</th>
                                    <th width="180">Son Savunma Dönemi</th>
                                    <th>Son Savunma Durumu</th>
                                </tr>

                            </thead>
                            <tbody>

                                @if (Model.RowCount > 0)
                                {

                                    int rowIndex = Model.StartRowIndex;
                                    foreach (var item in Model.Data)
                                    {
                                        rowIndex++;
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td style="width: 30px;">@rowIndex</td>
                                                        <td>
                                                            <ul class="panel-controls">
                                                                <li id="iShow_@item.UniqueID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="ShowDetail('@item.UniqueID')">
                                                                    <a href="javascript:void(0)"><span class="fa fa-angle-down"></span></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table class="table" style="padding:0px;margin:0px;border:none;table-layout:fixed;">
                                                    <tr>
                                                        <td class="clsHide" style="margin:0px;border:none;" width="40"> <img src="@item.ResimAdi.ToKullaniciResim()" style="width:40px;height:40px;cursor:pointer;" onclick="DetayGor('@item.UserKey')" class="img-circle img-thumbnail"></td>
                                                        <td style="margin:0px;border:none;"> @item.AdSoyad <br /> @item.OgrenciNo</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td id="tosDonemContent_@item.ToBasvuruID">
                                                @(item.AktifSavunmaNo > 0 ? item.AktifDonemAdi + ". Savunma" : "----")<br />@(item.AktifSavunmaNo > 0 ? item.AktifSavunmaNo + ". Savunma" : "----")
                                            </td>
                                            <td id="tosDurumContent_@item.ToBasvuruID">@item.DurumModel.TosBasvuruDurumView()</td>

                                        </tr>
                                        <tr class="cls-@item.UniqueID" style="display:none">
                                            <td id="cls-@item.UniqueID" class="clspTd" colspan="4" style="padding: 1px 1px 2px 75px;"></td>
                                        </tr>

                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" class="clspTd" style="text-align: center;">
                                            Listelenen Kayıt Yok
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        @Model.ToPagerString()
                    </div>
                </div>
            }
        </div>
    }
</div>
@if (Model.IsDegerlendirme.HasValue && Model.RowCount > 0)
{
    <script>
        $(function () {
            GetDetail('@Model.Data.First().UniqueID');
        },200)
    </script>
}
else if (Model.UniqueId.HasValue || Model.RowCount > 0)
{
    <script>
        $(function () {
            ShowDetail('@(Model.UniqueId ?? Model.Data.First().UniqueID)');
            if ('@(Model.UniqueId.HasValue.ToString().ToLower())' == 'true') setTimeout(function () { GetTIAraRaporFormu(@Model.UniqueId); }, 250);

        },200)
    </script>
}


<script type="text/javascript">

    function ShowDetailY(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
    }
   function YeniBasvuruDuyuruKontrol(toUniqueId) {
        var popupSetting = {
            title: '||',
            popupTipId:@DuyuruPopupTipiEnum.TezOneriSavunma,
            btnAdi: 'Yeni Tez Öneri Savunma Başvurusu Yap',
            redirectUrl: null,
            fncparameter: toUniqueId,
            callbackFnc: GetToSavunmaFormu
        }
        ShowDuyuru(popupSetting);
    }


    function ShowDetail(toUniqueId) {
        var rwID = $('#iShow_' + toUniqueId);
        var cls = 'cls-' + toUniqueId;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled) GetDetail(toUniqueId);

    }
    function GetDetail(toUniqueId) {
        var _panel = $('#bsvrDet_' + toUniqueId);
        PanelRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("GetDetailTosBasvuru", "Ajax")',
            data: { toUniqueId, tosKomiteUniqueId: '@Model.IsDegerlendirme' },
            success: function (result) {
                $('#cls-' + toUniqueId).html(result);
                PanelRefresh(_panel, true);
                var $YnBtn = $('#YeniRaporBtn_' + toUniqueId);
                if ($YnBtn.length > 0) {
                    $YnBtn.pulsate({
                        color: "#fdbe41",
                        reach: 60,
                        repeat: 24,
                        speed: 300,
                        glow: true
                    });
                }
            },
            error: function (err) {
                alert(err.responseText);
                PanelRefresh(_panel, true);
            }
        });

    }
    $(function () {
        
    });

    function SilDetay(toUniqueId, tosUniqueId, adSoyad, tarih,isSilmeyeUygun) {
        var notMsg = '';
        if (isSilmeyeUygun!="true" && '@UserIdentity.Current.IsAdmin.ToString().ToLower()'=='true') {
            notMsg=" <br/><b>Not: Silme işlemini onaylarsanız Değerlendirme süreci başladığı halde Tez Öneri Savunma Silinecektir!</b>"
        }
        bootbox.dialog({
            message: "<table style='table-layout:fixed;width:100%;'><tr><td style='font-size:11pt;text-align:center;color:maroon;'>" + adSoyad + " öğrencisine ait " + tarih + " tarihli Tez Öneri Savunmasını silmek istiyor musunuz? " + notMsg +"</td></tr></table>",
            title: "Tez Öneris Savunması Silme İşlemi",
            buttons: {
                success: {
                    label: 'Tez Önerisi Savunmasını Sil',
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("SilDetay", "TosBasvuru")',
                            data: { tosUniqueId },
                            success: function (result) {
                                GetDetail(toUniqueId);
                                ShowMmMessage(result.messageView, 'Tamam');
                            },
                            error: function (err) {
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: 'Vazgeç',
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });
    }
</script>

