@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model  fmTIBasvuru
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kyetki = RoleNames.TiGelenBasvuruKayit.InRoleCurrent();
    var degerlendirmeYetki = RoleNames.TiTezDegerlendirmeYap.InRoleCurrent();
    var tiTezDegerlendirmeDuzeltme = RoleNames.TiTezDegerlendirmeDuzeltme.InRoleCurrent();
    var toplantiTalepYetki = RoleNames.TiToplantiTalebiYap.InRoleCurrent();
    var mKids = (List<int>)ViewBag.kIds; 
}

<div class="row">
    @using (Html.BeginForm("Index", "TIGelenBasvurular", FormMethod.Post, new { id = "frmGBasvurular" }))
    {
        <div class="col-md-12">
            @Html.Hidden("export", false)
            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-info" id="pnlFltr">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-filter"></i> Filtre İşlemi
                    </h3>
                    <ul class="panel-controls">

                        @*@if (Model.RowCount > 0)
                            {
                                <li>
                                    <a href="javascript:void(0);" onclick="$('#export').val('true'); $('#frmGBasvurular').submit(); $('#export').val('false');" title="Listelenen kaydı excel e aktar"><i class="fa fa-download"></i></a>
                                </li>

                            }*@
                        @if (kyetki && mKids.Count > 0)
                        {
                            <li>
                                <a href="javascript:void(0)" onclick="mGonderGB('@string.Join(",",mKids)',true,false)" title="Listelenen @mKids.Count Kişiye Mail Gönder"><i class="fa fa-envelope"></i></a>
                            </li>
                        }
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" style="width:100%;table-layout:fixed;">
                        <tr>
                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Rapor Dönemi</td>
                                            <td>
                                                @Html.DropDownList("AktifTIAraRaporDonemID", null, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Rapor Sayısı</td>
                                            <td>
                                                @Html.DropDownList("AktifAraRaporSayisi", null, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>

                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Rapor Durumu</td>
                                            <td>
                                                @Html.DropDownList("AktifTIAraRaporRaporDurumID", null, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding-left:10px; vertical-align:top;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="160">Aranacak Kelime</td>
                                            <td>

                                                <table style="width:100%;table-layout:fixed;">
                                                    <tbody>
                                                        <tr>
                                                            <td> <input name="AdSoyad" id="AdSoyad" type="text" value="@Model.AdSoyad" onkeypress="if (event.which == 13) { $('#frmGBasvurular').submit(); }" class="form-control" /></td>
                                                            <td width="110">
                                                                <a href="javascript:void(0);" onclick="$('#frmGBasvurular').submit();" class="btn btn-info" style="width:110px;"><i class="glyphicon glyphicon-filter"> Filtrele</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i>&nbsp; Gelen Başvurular</h3>
                    <ul class="panel-controls"></ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" style="width:100%;table-layout:fixed;">
                        <thead>
                            <tr>
                                <th width="75"></th>
                                <th>Ad Soyad</th>
                                <th width="140">Son Rapor Dönemi</th>
                                <th width="180">Son Rapor Durumu</th>
                                <th width="45"></th>
                            </tr>

                        </thead>
                        <tbody>

                            @if (Model.RowCount > 0)
                            {

                                int rowIndex = Model.StartRowIndex;
                                foreach (var item in Model.Data)
                                {
                                    rowIndex++;
                                    <tr style="color:@item.DurumColor;">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@rowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.TIBasvuruID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="ShowDetail('@item.TIBasvuruID')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table" style="padding:0px;margin:0px;border:none;table-layout:fixed;">
                                                <tr>
                                                    <td class="clsHide" style="margin:0px;border:none;" width="40"> <img src="@item.ResimAdi.ToKullaniciResim()" style="width:40px;height:40px;cursor:pointer;" onclick="detayGor(@item.KullaniciID)" class="img-circle img-thumbnail"></td>
                                                    <td style="margin:0px;border:none;"> @item.AdSoyad <br /> @item.KullaniciTipAdi</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            @item.TIAraRaporAktifDonemAdi<br />@(item.AraRaporSayisi.HasValue ? item.AraRaporSayisi + ". Rapor" : "")
                                        </td>
                                        <td>
                                            @item.TIAraRaporRaporDurumAdi <br />@ValueConverterExtension.ToTiDegerlendirmeSonucu(item.IsOyBirligiOrCoklugu, item.IsBasariliOrBasarisiz)
                                        </td>

                                        <td>
                                            @if (kyetki)
                                            {
                                                <a href="@Url.Action("BasvuruYap", "TIBasvuru", new { TIBasvuruID = item.TIBasvuruID })"><i style="font-size:11pt;color:@item.DurumColor;" class="fa fa-edit tooltips" data-style="blue" data-original-title="Düzelt"></i></a>
                                                <a href="javascript:void(0)" onclick="BasvuruSil(this,'@item.TIBasvuruID','@item.AdSoyad')"><i style="font-size:11pt;color:@item.DurumColor;" class="glyphicon glyphicon-trash tooltips" data-style="blue" data-original-title="Sil"></i></a>
                                            }
                                        </td>

                                    </tr>
                                    <tr class="cls-@item.TIBasvuruID" style="display:none">
                                        <td id="cls-@item.TIBasvuruID" class="clspTd" colspan="5" style="padding: 1px 1px 1px 1px;"></td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="clspTd" style="text-align: center;">
                                        Listelenen Kayıt Yok
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>

        </div>
    }
</div>
@if (Model.RowCount > 0 && Model.Data.First().TezDanismanID == UserIdentity.Current.Id)
{
    <script>
        $(function () {
            ShowDetail('@Model.Data.First().TIBasvuruID');
        },200)
    </script>
}
<script type="text/javascript">
    $(function () {
        Resized(window.innerWidth);
    })
    function Resized(screenwidth) {
        if (screenwidth <= 800) {
            $('.clsHide').addClass('hide');
            $('.clspTd').attr("colspan", "4");
            $('.ctWidth').removeAttr('width');
        }
        else {
            $('.clsHide').removeClass('hide');
            $('.clspTd').attr("colspan", "5");
            $('.ctWidth').attr('width', '280');

        }
    }
    window.addEventListener('resize', function (event) {
        Resized(window.innerWidth);
    });
    function showDetailY(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
    }


    function ShowDetail(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled) GetDetail(id);

    }
    function GetDetail(id) {

        var _panel = $('#bsvrDet_' + id);
        PanelRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("GetDetailTiBasvuru", "Ajax")',
            data: { id: id, UniqueID: '@Model.IsDegerlendirme'},
            success: function (result) {
                $('#cls-' + id).html(result);
                Resized(window.innerWidth);
                PanelRefresh(_panel, true);
            },
            error: function (err) {
                alert(err.responseText);
                PanelRefresh(_panel, true);
            }
        });

    }
</script>
@if (toplantiTalepYetki || tiTezDegerlendirmeDuzeltme)
{
    <script>
        function showSRDialog(TIBasvuruID, TIBasvuruAraRaporID, SRTalepID) {
            var _panel = $('#bsvrDet_' + TIBasvuruID);
            PanelRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("RezervasyonAl", "TIBasvuru")',
                data: { 'TIBasvuruAraRaporID': TIBasvuruAraRaporID, 'SRTalepID': SRTalepID },
                success: function (result) {
                    PanelRefresh(_panel, true);
                    var btbxxFS = bootbox.dialog({
                        message: result,
                        title: "<i class='fa fa-calendar fa-lg'></i> " + (SRTalepID <= 0 ? 'Yeni Tez İzleme Toplantı Bilgi Girişi' : 'Tez İzleme Toplantı Bilgileri Düzenleme'),
                        buttons: {
                            success: {
                                label: "Kaydet",
                                className: "btn-success btnSrKayit_" + TIBasvuruAraRaporID,
                                callback: function (event) {
                                    $('.btnSrKayit_' + TIBasvuruAraRaporID).addClass('disabled');
                                    var pnlx = $(btbxxFS).find('.modal-dialog').first(); 
                                    PanelRefresh(pnlx, false);
                                    $('#TIAraRaporSrForm').ajaxForm({
                                        success: function (result) {
                                            if (result.IsSuccess) {
                                                toastr["success"](result.Messages.join('<br/>'), result.Title, { timeOut: 8000 });
                                                GetDetail(result.DialogID);
                                                var _clsBtn = $('.modal-header').find('button').first();
                                                $(_clsBtn).click();
                                            }
                                            else {
                                                getMsg(result);
                                                return false;
                                            }
                                            PanelRefresh(pnlx, true);

                                        },
                                        complete: function (cmp) {
                                            $('.btnSrKayit_' + TIBasvuruAraRaporID).removeClass('disabled');
                                            PanelRefresh(pnlx, true);
                                        },
                                        error: function (err) {
                                            PanelRefresh(pnlx, true);
                                        }

                                    });
                                    $('#TIAraRaporSrForm').submit();

                                    return false;
                                }
                            },
                            danger: {
                                label: "Kapat",
                                className: "btn-primary",
                                callback: function () {
                                }
                            }
                        }
                    });

                    // $(btbxxFS).find('.modal-dialog').first().addClass('modal-lg');

                },
                error: function (err) {
                    PanelRefresh(_panel, true);
                    alert(err.responseText);
                }
            });
        }
    </script>
}
@if (degerlendirmeYetki || tiTezDegerlendirmeDuzeltme)
{
    <script>
        function AraRaporDegerlendir(UniqueID, IsDrBurs,TIBasvuruID) {
            var IsTezIzlemeRaporuTezOnerisiUygun = $('#IsTezIzlemeRaporuTezOnerisiUygun_' + UniqueID).val();
            var IsTezIzlemeRaporuAltAlanUygun = $('#IsTezIzlemeRaporuAltAlanUygun_' + UniqueID).val();
            var IsBasarili = $('#IsBasarili_' + UniqueID).val();
            var Aciklama = $('#Aciklama_' + UniqueID).val();
            var _panel = $('#bsvrDet_' + TIBasvuruID);
            bootbox.dialog({
                message: "Tez izleme rapor değerlendirmenizi kaydetmek istediğinize emin misiniz?",
                title: "<i class='glyphicon glyphicon-info-sign'></i> Tez İzleme Raporu Değerlendirmesi",
                buttons: {
                    success: {
                        label: "Evet",
                        className: "btn-success",
                        callback: function (event) {
                            PanelRefresh(_panel, false);
                            $.ajax({
                                url: '@Url.Action("AraRaporDegerlendi", "TIBasvuru")',
                                data: {
                                    'UniqueID': UniqueID,
                                    'IsTezIzlemeRaporuTezOnerisiUygun': IsTezIzlemeRaporuTezOnerisiUygun,
                                    'IsDrBurs': IsDrBurs,
                                    'IsTezIzlemeRaporuAltAlanUygun': IsTezIzlemeRaporuAltAlanUygun,
                                    'IsBasarili': IsBasarili,
                                    'Aciklama': Aciklama

                                },
                                success: function (result) {
                                    PanelRefresh(_panel, true);
                                    if (result.IsSuccess || result.IsRefresh) {
                                        GetDetail(TIBasvuruID);

                                    }
                                    showMmMessage(result.Messages, 'Tamam');

                                },
                                error: function (err) {
                                    PanelRefresh(_panel, true);
                                    alert(err.responseText);

                                }
                            });
                        }
                    },
                    danger: {
                        label: "Hayır",
                        className: "btn-primary",
                        callback: function () {
                        }
                    }
                }
            });
        }
        function showDLinkGonder(TIBasvuruID, TIBasvuruAraRaporID, UniqueID, AdSoyad) {

            var _panel = $('#bsvrDet_' + TIBasvuruID);
            PanelRefresh(_panel, false);
            var btbxxFS = bootbox.dialog({
                message: AdSoyad +" isimli komite üyesine yeni değerlendirme linki göndermek istiyor musunuz?<br><span style='color:maroon;'><b>Not:</b> Link bilgisi gönderildikten sonra üyenin yapmış olduğu değerlendirme var ise sıfırlanır ve daha önceden gönderilen değerlendirme linki geçersiz olur.</span> ",
                title: "<i class='fa fa-envelope fa-lg'></i> Yeni Değerlendirme Linki Gönderme İşlemi",
                buttons: {
                    success: {
                        label: "Gönder",
                        className: "btn-primary",
                        callback: function (event) {
                            $.ajax({
                                url: '@Url.Action("DegerlendirmeLinkiGonder", "TIBasvuru")',
                                data: {
                                    'TIBasvuruID': TIBasvuruID,
                                    'TIBasvuruAraRaporID': TIBasvuruAraRaporID,
                                    'UniqueID': UniqueID,

                                },
                                success: function (result) {
                                    PanelRefresh(_panel, true);
                                    if (result.mMessage.Messages.length > 0) toastr[result.MessageType](result.mMessage.Messages.join('<br/>'), result.Title, { timeOut: 8000 });
                                    GetDetail(TIBasvuruID);

                                    showMmMessage(result.Messages, 'Tamam');

                                },
                                error: function (err) {
                                    PanelRefresh(_panel, true);
                                    alert(err.responseText);

                                }
                            });
                        }
                    },
                    danger: {
                        label: "Kapat",
                        className: "btn-primary",
                        callback: function () {
                            PanelRefresh(_panel, true);
                        }
                    }
                }
            });
        }
        function silDetay(sndr, id, TIBasvuruAraRaporID, RaporNo) {
        var _panel = $('#bsvrDet_' + id);
        PanelRefresh(_panel, false);
        var btbx = bootbox.dialog({
            message: "<br/><table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;color:maroon;'>" + RaporNo + " bilgisini silmek istiyor musunuz?</td></tr></table><br/>",
            title: "Rapor Silme İşlemi",
            buttons: {
                success: {
                    label: 'Raporu Sil',
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("DetaySil", "TIBasvuru")',
                            data: { id: id, TIBasvuruAraRaporID: TIBasvuruAraRaporID },
                            success: function (result) {
                                if (result.IsSuccess) {
                                    GetDetail(id);
                                }
                                showMmMessage(result.Messages, 'Tamam');
                            }, complete: function (httpObj, textStatus) {
                                PanelRefresh(_panel, true);
                                ShowMessageAjaxRequest(httpObj.status, textStatus);
                            }
                        });
                    }
                },
                danger: {
                    label: 'Vazgeç',
                    className: "btn-primary",
                    callback: function () {
                        PanelRefresh(_panel, true);
                    }
                }
            }
        });


    }
    </script>
}
@if (kyetki)
{
<script>

        function BasvuruSil(sndr, id, adSoyad) {
            bootbox.dialog({
                message: "<table style='table-layout:fixed;width:100%;'><tr><td style='font-size:11pt;text-align:center;color:maroon;'>" + adSoyad + " öğrencisine ait başvuruyu silmek istiyor musunuz?</td></tr></table>",
                title: "Başvuru Silme İşlemi",
                buttons: {
                    success: {
                        label: 'Başvuruyu Sil',
                        className: "btn-danger",
                        callback: function () {
                            $.ajax({
                                url: '@Url.Action("Sil", "TIBasvuru")',
                                data: { id: id },
                                success: function (result) {
                                    if (result.IsSuccess) {
                                        $(sndr).closest("tr").remove();
                                        $(".cls-" + id).remove();
                                    }
                                    showMmMessage(result.Messages, 'Tamam');
                                },
                                error: function (err) {
                                    alert(err.responseText);
                                }
                            });
                        }
                    },
                    danger: {
                        label: 'Vazgeç',
                        className: "btn-primary",
                        callback: function () {
                        }
                    }
                }
            });

        }

</script>
}
@if (degerlendirmeYetki || tiTezDegerlendirmeDuzeltme)
{
    <script>
         function GetTIAraRaporFormu(TIBasvuruID, TIBasvuruAraRaporID) {
             var _panel = $('#bsvrDet_' + TIBasvuruID);
            PanelRefresh(_panel, false);
            $.ajax({
                url: '@Url.Action("GetTiAraRaporFormu", "TIBasvuru")',
                data: {
                    'TIBasvuruID': TIBasvuruID,
                    'TIBasvuruAraRaporID': TIBasvuruAraRaporID
                },
                success: function (resultG) {
                    PanelRefresh(_panel, true);
                    if (resultG.IsSuccess) {
                        var btbxxFS = bootbox.dialog({
                            message: resultG.Content,
                            //title: "<i class='fa fa-pencil'></i> Anket Sorusu Ekleme İşlemi",
                            buttons: {

                                success: {
                                    label: 'İleri',
                                    className: "btn-info btnKaydet",
                                    callback: function (event) {
                                        var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                        PanelRefresh(pnlx, false);
                                        $('#FrmTIAraRaporFormu').ajaxForm({
                                            success: function (result) {
                                                if (result.mMessage.IsSuccess && result.SaveData) {
                                                    if (result.mMessage.Messages.length > 0) toastr["success"](result.mMessage.Messages.join('<br/>'), result.Title, { timeOut: 8000 });
                                                    var _clsBtn = $('.bootbox-close-button').first();
                                                    $(_clsBtn).click();
                                                    GetDetail(TIBasvuruID);

                                                }
                                                else {
                                                    $('#SelectedTabID').val(result.SelectedTabID);

                                                    if (result.SelectedTabID == "4" || !result.IsYeniJO) {
                                                        $('.btnKaydet').removeClass("btn-info").addClass("btn-primary");
                                                        $('.btnKaydet').text('Kaydet');
                                                        $('#SaveData').val("true");

                                                    }
                                                    else {

                                                        $('.btnKaydet').addClass("btn-info").removeClass("btn-primary");
                                                        $('.btnKaydet').text('İleri');
                                                        $('#SaveData').val("false");
                                                    }
                                                    $("[href='#tab-" + result.SelectedTabID + "']").first().click();
                                                    if (result.mMessage.Messages.length > 0) getMsg(result.mMessage);
                                                    return false;
                                                }
                                                PanelRefresh(pnlx, true);
                                            },
                                            complete: function (cmp) {
                                                PanelRefresh(pnlx, true);
                                            },
                                            error: function (err) {
                                                PanelRefresh(pnlx, true);
                                            }

                                        });
                                        $('#FrmTIAraRaporFormu').submit();
                                        return false;
                                    }
                                }
                            }
                        });
                        $(btbxxFS).find('.modal-dialog').first().addClass('modal-lg');
                        if (resultG.Messages.length > 0) showMmMessage(resultG.Messages, 'Tamam');

                    }
                    else {
                        showMmMessage(resultG.Messages, 'Tamam');
                    }

                },
                error: function (err) {
                    PanelRefresh(_panel, true);
                    alert(err.responseText);

                }
            })
        }
    </script>
}