@using CaptchaMvc.HtmlHelpers
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var returnValue = (string)ViewBag.ReturnUrl;
}

<div class="login-container login-v2">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "formCaptcha" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("ReturnUrl", returnValue)

        if (ViewBag.Hata != null)
        {
            <script>
               $(function() {
                   Swal.fire({
                       title: "Hata",
                       html: `@Html.Raw(ViewBag.Hata)`,
                       icon: "error",
                       confirmButtonText: 'Tamam',
                       confirmButtonColor: "#d33"
                   });
               });
            </script>
        }

        <div class="login-box animated fadeInDown">
            <div class="login-body">
                <div class="login-title">
                    <strong>Hoşgeldiniz</strong>, Lütfen Giriş Yapın.
                </div>

                <!-- Username -->
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="fa fa-user"></span>
                            </div>
                            <input type="text" name="UserName" class="form-control ms-2"
                                   placeholder="Kullanıcı Adı & EMail & TC Kimlik No"
                                   value="@ViewBag.UserName" tabindex="1" />
                        </div>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="fa fa-lock"></span>
                            </div>
                            <input type="password" name="Password" class="form-control ms-2"
                                   placeholder="Şifre" value="@ViewBag.Password"
                                   autocomplete="off" tabindex="2" />
                        </div>
                    </div>
                </div>

                <!-- Captcha -->
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="fa fa-lock"></span>
                            </div>
                            <div id="captchaContainer">
                                @Html.Captcha(null, null, 4, null)
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-lg btn-block">Giriş Yap</button>
                    </div>
                </div>

                <!-- Links -->
                <div class="form-group">
                    <div class="col-md-6">
                        <a href="javascript:void(0);" onclick="pwdSendM()">Şifrenizi mi unuttunuz?</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="javascript:void(0);" onclick="HesapKayit()">Yeni Hesap Oluştur</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(function () {
        const captchaContainer = $('#captchaContainer');
        const captchaInput = captchaContainer.find('#CaptchaInputText');
        const captchaImage = captchaContainer.find('#CaptchaImage');

        captchaInput
            .addClass('form-control placeholder-no-fix')
            .attr({
                'style': 'margin-left:2px;',
                'tabindex': '3',
                'placeholder': 'Güvenlik Kodu',
                'id': 'loginCaptchaInput'
            });

        captchaImage
            .attr({
                'style': 'width:99%;height:70px;',
                'id': 'loginCaptchaImage'
            });

        captchaContainer.find('br').remove();
    });
</script>