@using Entities.Entities 
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@model Kullanicilar
@{
    int? kullaniciId = (int?)ViewBag.KullaniciID;
    Layout = kullaniciId.HasValue ? "~/Views/Shared/_LayoutPupupFrame.cshtml" : "~/Views/Shared/_Layout.cshtml";
    var mmMessage = ViewBag.MmMessage as MmMessage;
    string eskiSifre = (string)ViewBag.EskiSifre;
    string yeniSifre = (string)ViewBag.YeniSifre;
    string yeniSifreTekrar = (string)ViewBag.YeniSifreTekrar;

}

<div class="row">
    @if (Model != null)
    {
        <form class="form-horizontal" method="post">
            <input type="hidden" name="psKod" value="@Model.ParolaSifirlamaKodu" />
            <input type="hidden" name="KullaniciID" value="@kullaniciId" />
            <input type="text" style="display:none;" id="dlgId" name="dlgId" value="@mmMessage.DialogID" />
            <div class="panel panel-default form-horizontal">
                <div class="panel-body" style="text-align:center;">
                    <h3><span class="fa fa-user"></span> @Model.Ad @Model.Soyad</h3>
                    @if (Model.KullaniciTipleri != null)
                    {
                        <p>@Model.KullaniciTipleri.KullaniciTipAdi</p>
                    }
                    <div class="text-center" id="user_image">
                        <img style="width:120px;height:120px;" src="@Model.ResimAdi" class="img-thumbnail">
                    </div>
                </div>
                <div class="panel-body form-group-separated">


                    @if (Model.LastLogonDate.HasValue)
                    {
                        <div class="form-group">
                            <label class="col-md-5 col-xs-5 control-label">Son giriş zamanı</label>
                            <div class="col-md-7 col-xs-7">
                                @Model.LastLogonDate
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Kullanıcı Adı</label>
                        <div class="col-md-7 col-xs-7">
                            @Model.KullaniciAdi
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">E-mail</label>
                        <div class="col-md-7 col-xs-7">
                            @Model.EMail
                        </div>
                    </div>
                    @if (kullaniciId.HasValue)
                    {
                        <div class="form-group">
                            <label class="col-md-5 col-xs-5 control-label">Eski Şifre</label>
                            <div class="col-md-7 col-xs-7">
                                <input type="password" class="form-control" name="EskiSifre" value="@eskiSifre">
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Yeni Şifre</label>
                        <div class="col-md-7 col-xs-7">
                            <input type="password" class="form-control" name="YeniSifre" value="@yeniSifre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Yeni Şifre Tekrar</label>
                        <div class="col-md-7 col-xs-7">
                            <input type="password" class="form-control" name="YeniSifreTekrar" value="@yeniSifreTekrar">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label"></label>
                        <div class="col-md-7 col-xs-7" style="text-align:center;">
                            <button type="submit" style="width:140px;" class="btn btn-danger btn-block btn-rounded" data-toggle="modal">Şifreyi Değiştir</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    }

</div>
<script>
    $(function () {

        var model = '@Html.Raw(Json.Encode(mmMessage))';
        validateControl(model);

    });
</script>
@if (mmMessage.IsCloseDialog)
{
    <script>

        var ReturnUrl = '@mmMessage.ReturnUrl';
        setTimeout(function () {
            window.top.dialogKapat('@mmMessage.DialogID');
            if (ReturnUrl != null && ReturnUrl != ""){
                window.top.location.href = ReturnUrl;
                }
        }, 4000);
    </script>
}



