@using LisansUstuBasvuruSistemi.Models 
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model TalepSurecleri
@{
    var MmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var TalepTipleris = (List<TalepTipleri>)ViewBag.TalepTipleris;
    var TalepTipIDs = (List<int>) ViewBag.TalepTipID;

}

<div class="row">
    <form id="FrmBasvuruSurec" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
        <input type="text" style="display:none;" id="TalepSurecID" name="TalepSurecID" value="@Model.TalepSurecID" />
        <div class="col-md-12">
            <div class="panel panel-success" id="pnlEO">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-time"></i> Talep Süreci Kaydı</h3>
                    <ul class="panel-controls">
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Kayit","TalepSureci",new { id = Model.TalepSurecID })';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>


                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Enstitü</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("EnstituKod", null, new { @class = "form-control", style = "padding:0px;", onchange = "getOtBilgi(this);" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Başlangıç / Bitiş Tarihi</label>
                                <div class="col-md-9 col-xs-7">
                                    <table>
                                        <tr>
                                            <td><input class="form-control input-medium" autocomplete="off" size="16" type="text" value="@Model.BaslangicTarihi.ToFormatDateAndTimeInput()" name="BaslangicTarihi" id="BaslangicTarihi"></td>
                                            <td style="width:5px;text-align:center;">/</td>
                                            <td><input class="form-control input-medium" autocomplete="off" size="16" type="text" value="@Model.BitisTarihi.ToFormatDateAndTimeInput()" name="BitisTarihi" id="BitisTarihi"></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Talep Tipleri</label>
                                <div class="col-md-9 col-xs-7">
                                    @foreach (var talepTipleri in TalepTipleris)
                                    {
                                        <input type="checkbox" value="@talepTipleri.TalepTipID" name="TalepTipID" @TalepTipIDs.Contains(talepTipleri.TalepTipID).ToChecked()/> <span style="cursor:pointer;" onclick="$(this).prev().click()">@talepTipleri.TalepTipAdi</span><br/>
                                    }

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Durum</label>
                                <div class="col-md-9 col-xs-7">
                                    <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="success" data-off="danger">
                                        <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
            $('#BaslangicTarihi').datetimepicker({
                lang: 'tr',
                timepicker: true,
                format: 'Y-m-d H:i'
            });
            $('#BitisTarihi').datetimepicker({
                lang: 'tr',
                timepicker: true,
                format: 'Y-m-d H:i'
            });
        var model = '@Html.Raw(Json.Encode(MmMessage))';
        validateControl(model);
    });

</script>
