@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model FmMailGondermeDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <div class="portlet-title">
                        <table style="table-layout:fixed;width:100%;">
                            <tr>
                                <td><h3 class="panel-title"><i class="fa fa-envelope"></i> Gönderilen Mail Listesi</h3></td>
                                <td width="45"><b>Enstitü:</b></td>
                                <td width="220">
                                    @Html.DropDownList("EnstituKod", null, new { @class = "form-control", style = "padding:0px;", onchange = "$(this).parents('form').first().submit();" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="80"></th>
                                <th class="sirala" field="Konu">Konu</th>
                                <th class="sirala" field="EkSayisi" width="50">Ek</th>
                                <th class="sirala" field="Tarih" width="140">Gönderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="filtrele">
                                <th></th>
                                <th>
                                    <input name="Konu" type="text" value="@Model.Konu" class="form-control" />
                                </th>
                                <th>
                                    @Html.DropDownList("IsEkVar", null, new { @class = "form-control", style = "padding:0px;", onchange = "$(this).parents('form').first().submit();" })
                                </th>
                                <th>
                                    <input name="MailGonderen" type="text" value="@Model.MailGonderen" class="form-control" />
                                </th>

                            </tr>
                            @if (Model.RowCount > 0)
                            {
                                int RowIndex = Model.StartRowIndex;
                                foreach (var item in Model.MailGondermeDtos)
                                {
                                    RowIndex++;
                                    <tr id="mn_Rw_@item.GonderilenMailID">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 40px;">@RowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.GonderilenMailID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="ShowDetail(@item.GonderilenMailID)">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-down"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td id="tdKa_@item.GonderilenMailID">
                                            @item.EnstituAdi<br />
                                            @item.Konu
                                        </td>
                                        <td>
                                            @if (item.EkSayisi > 0)
                                            {
                                                <span class="fa fa-paperclip fa-lg" style="color: green;"></span> @item.EkSayisi
                                            }
                                        </td>
                                        <td id="tdAs_@item.GonderilenMailID">
                                            @item.Tarih.ToFormatDateAndTime() <br />
                                            @item.MailGonderen
                                        </td>
                                    </tr>
                                    <tr class="cls-@item.GonderilenMailID" style="display:none">
                                        <td id="cls-@item.GonderilenMailID" colspan="4" style="padding: 1px 1px 2px 2px;">
                                            <div class="panel">
                                                <div id="panel-body-@item.GonderilenMailID" class="panel-body" style="padding: 0px;min-height:200px;overflow-x:auto;">
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align: center">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>

        </div>

    }
</div>
<script type="text/javascript">
    function ShowDetail(id) {
        var sndr = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(sndr, cls, unTogled);
        if (unTogled) getDetail(id);
    }

    function getDetail(GonderilenMailID) {
        var _panel = $('#panel-body-' + GonderilenMailID);
        PanelRefresh(_panel, false);
        setTimeout(function () {
            $.ajax({
                url: '@Url.Action("MailDetay")',
                data: { 'GonderilenMailID': GonderilenMailID },
                success: function (result) {
                    $(_panel).html(result);
                    PanelRefresh(_panel, true);
                },
                error: function (err) {
                    PanelRefresh(_panel, true);
                    alert(err.responseText);
                }
            });
        }, 120);
    }
    function silmeOnay(sndr, id) {
        var Tarih = $("#tdAs_" + id).html();
        var Baslik = $("#tdKa_" + id).html();
        bootbox.dialog({
            message: "Tarih / Gönderen: " + Tarih + " <br/>Başlık: " + Baslik + " <br/><br/> Seçilen Mail Bilgisini Silmek İstiyor Musunuz?",
            title: "Duyuru Silme İşlemi",
            buttons: {
                success: {
                    label: "Gönerilen Maili Sil",
                    className: "btn-danger",
                    callback: function () {
                        sil(sndr, id);
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });
    }
    function sil(sndr, id) {
        $.ajax({
            url: '@Url.Action("Sil")',
            data: { id: id },
            success: function (result) {
                toastr[result.success ? "success" : "error"](result.message, "Gönerilen Mail Bilgisi Silme İşlemi")
                if (result.success) {
                    $('#mn_Rw_'+id).remove();
                    $(".cls-" + id).remove();
                }
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
    function tekrarGonder(id) {
        var Tarih = $("#tdAs_" + id).html();
        var Baslik = $("#tdKa_" + id).html();
        bootbox.dialog({
            message: "Tarih: " + Tarih + " <br/>Başlık: " + Baslik + " <br/><br/> Seçilen Maili Tekrar Göndermek İtiyor Musunuz?",
            title: "Mail Gönderim İşlemi",
            buttons: {
                success: {
                    label: "Seçilen Maili Tekrar Gönder",
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("TekrarGonder")',
                            data: { id: id },
                            success: function (result) {
                                toastr[result ? "success" : "error"]("Mail Gönderiliyor...", "Mail Tekrar Gönderme İşlemi")

                            },
                            error: function (err) {
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });

    }
</script>
