@using LisansUstuBasvuruSistemi.Models 
@using LisansUstuBasvuruSistemi.Utilities.Dtos 
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model FrSinavTipleri
@{

    Layout = null;
    var tbName = TabAdlari.SinavTipTN + "-" + Model.SinavTipID;
}
<div class="panel panel-success" id="STDetay_@Model.SinavTipID">
    <div class="panel-heading  padding-0">
        <div class="portlet-title">
            <h3 class="panel-title"><i class="fa fa-file-text"></i>&nbsp;Detay</h3>
            <ul class="panel-controls">
                <li><a href="javascript:void(0)" onclick="getDetail('@Model.SinavTipID')" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body" style="padding: 0px; min-height:600px;">
        <div class="panel panel-default form-horizontal" style="margin-bottom: 0px;">

            <div class="panel panel-primary" style="margin: 0px; padding: 0px;">
                <div class="panel-body" style="margin: 0px; padding: 0px;">
                    <div class="panel-body form-group-separated">
                        <div class="panel panel-default tabs" style="margin-bottom:0px; padding:0px;">
                            <ul class="nav nav-tabs BsTabBtn_@Model.SinavTipID" role="tablist">
                                <li class="@(Model.SelectedTabIndex == 1 ? "active" : "") bnt-@tbName-1"><a href="#" onclick="tabchangeSet('@tbName',1)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-file-text myCaptionTdx"></i>&nbsp; <span class="myCaptionTdx">Ana Not Kriterleri</span></a></li>

                                <li class="@(Model.SelectedTabIndex == 2 ? "active" : "") bnt-@tbName-2"><a href="#" onclick="tabchangeSet('@tbName',2)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-list-alt myCaptionTdx"></i>&nbsp; <span class="myCaptionTdx">Programa Göre Not Kriteleri</span></a></li>

                            </ul>
                            <div class="panel-body tab-content BsTabCont_@Model.SinavTipID" style="padding:0px;">
                                <input type="text" id="SelectedTb-@tbName" style="display:none;" value="@Model.SelectedTabIndex" />
                                <div class="tab-pane @(Model.SelectedTabIndex == 1 ? "active" : "")" id="@tbName-1">
                                    <div class="form-group">
                                        <label class="col-md-4 col-sm-5 control-label">Enstitü</label>
                                        <div class="col-md-8 col-sm-7">@Model.EnstituAd</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 col-sm-5 control-label">Grup Adı</label>
                                        <div class="col-md-8 col-sm-7">@Model.SinavTipGrupAdi</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 col-sm-5 control-label">Sınav Tip Kodu</label>
                                        <div class="col-md-8 col-sm-7">@Model.SinavTipKod</div>
                                    </div>
                                   
                                  
                                    <div class="form-group">
                                        <label class="col-md-4 col-sm-5 control-label">Özel Not</label>
                                        <div class="col-md-8 col-sm-7">
                                            <span class="label label-@(Model.OzelNot ? "success" : "danger")">@Model.OzelNot.ToEvetHayir()</span>
                                        </div>
                                    </div>

                                    @if (Model.OzelNot)
                                    {
                                        <div class="form-group">
                                            <label class="col-md-4 col-sm-5 control-label">Tanımlanan Özel Notlar</label>
                                            <div class="col-md-8 col-sm-7" style="max-height: 150px; overflow: auto;">
                                                <table class="table" style="width:100%;table-layout:fixed;">
                                                    @if (Model.SinavNotlaris.Count > 0)
                                                    {
                                                        <tr>
                                                            <th>Not Adı </th>
                                                            <th width="80">Not Değeri</th>
                                                        </tr>
                                                        foreach (var kt in Model.SinavNotlaris.OrderBy(o => o.SinavNotAdi))
                                                        {
                                                            <tr>
                                                                <td>@kt.SinavNotAdi</td>
                                                                <td>@kt.SinavNotDeger</td>
                                                            </tr>

                                                        }
                                                    }
                                                    else if (Model.SinavTiplerSubSinavAraliks.Count > 0)
                                                    {
                                                        <tr>
                                                            <th>Not Aralık Adı </th>
                                                            <th width="80">Min</th>
                                                            <th width="80">Max</th> 
                                                        </tr>
                                                        foreach (var kt in Model.SinavTiplerSubSinavAraliks.OrderBy(o => o.SubSinavAralikAdi))
                                                        {
                                                            <tr>
                                                                <td>@kt.SubSinavAralikAdi</td>
                                                                <td>@kt.SubSinavMin</td>
                                                                <td>@kt.SubSinavMax</td> 
                                                            </tr>

                                                        }
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    }
                                  

                                    <div class="form-group">
                                        <label class="col-md-4 col-sm-5 control-label">Sınavın isteneceği Öğrenim Seviyeleri ve Not Aralıkları / Sınavın gözükmeyeceği programlar</label>
                                        <div class="col-md-8 col-sm-7">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Öğrenim Tipi</th>
                                                        <th width="30">Dil</th>
                                                        <th width="60">Geçerli</th>
                                                        <th width="60">İstensin</th>
                                                        <th width="70">Min</th>
                                                        <th width="70">Max</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item2 in Model.SinavTipleriOtNotAraliklariList)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item2.OgrenimTipAdi
                                                            </td>
                                                            <td>
                                                                @(item2.Ingilizce ? "En" : "Tr")
                                                            </td>
                                                            <td>
                                                                <span class="label label-@(item2.IsGecerli ? "success" : "danger")">@item2.IsGecerli.ToEvetHayir()</span>
                                                            </td>
                                                            <td>
                                                                <span class="label label-@(item2.IsIstensin ? "success" : "danger")">@item2.IsIstensin.ToEvetHayir()</span>
                                                            </td>

                                                            <td>
                                                                @if (item2.IsOzelNotAralik || item2.Min.HasValue)
                                                                {
                                                                    <span>@item2.Min</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item2.IsOzelNotAralik || item2.Min.HasValue)
                                                                {
                                                                    <span>@item2.Max</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                        if (item2.IstenmeyenProgramlar.Count > 0)
                                                        {
                                                            <tr>
                                                                <td colspan="6">
                                                                    <table style="width:100%;table-layout:fixed;">
                                                                        <tr>
                                                                            <td style="width:40px;"></td>
                                                                            <td>* @Model.SinavAdi sınavı @item2.OgrenimTipAdi @(item2.Ingilizce ? "İngilizce" : "Türkçe") eğitim dilini kapsayan aşağıdaki program başvurularında gözükmeyecek</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="width:40px;"></td>
                                                                            <td>
                                                                                <table style="width:100%;table-layout:fixed;" class="table">
                                                                                    @foreach (var itemIP in item2.IstenmeyenProgramlar)
                                                                                    {
                                                                                        <tr>
                                                                                            <td style="width:40px;">
                                                                                                @itemIP.Value
                                                                                            </td>
                                                                                            <td>
                                                                                                @itemIP.Caption
                                                                                            </td>

                                                                                        </tr>
                                                                                    }
                                                                                </table>
                                                                            </td>
                                                                        </tr>


                                                                    </table>
                                                                </td>

                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
 
                                   
                                    
                                    <div class="form-group">
                                        <label class="col-md-4 col-sm-5 control-label">İşlem Yapan</label>
                                        <div class="col-md-8 col-sm-7">@Model.IslemYapan [@Model.IslemTarihi.ToFormatDateAndTime()]</div>
                                    </div>
                                </div>

                                <div class="tab-pane @(Model.SelectedTabIndex == 2 ? "active" : "")" id="@tbName-2">
                                    <div class="panel panel-success">
                                        <div class="panel-heading  padding-0">
                                            <div class="portlet-title">
                                                <ul class="panel-controls">
                                                    <li><a href="javascript:void(0)" onclick="STProgramaOzelNotKriteriEkle('@Url.Action("StProgramaOzelNotKriterEkle", "SinavTipleri", new { id = "", SinavTipID = Model.SinavTipID })')" class="panel-refresh" title="Yeni Ekle"><span class="fa fa-plus"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="padding: 0px;">
                                        <div class="col-md-12" style="text-align: left;  height: 464px; overflow: auto;">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="75"></th>
                                                        <th>Kriter</th>
                                                        <th width="150">Toplam Program</th>
                                                        <th width="30"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.FrSinavTipleriSpa.Count > 0)
                                                    {
                                                        int RowIndex = 0; string trCls = "odd";
                                                        foreach (var item in Model.FrSinavTipleriSpa)
                                                        {
                                                            RowIndex++;
                                                            trCls = RowIndex % 2 == 1 ? "" : "even";
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tr>
                                                                            <td style="width: 30px;">@RowIndex</td>
                                                                            <td>
                                                                                <ul class="panel-controls">
                                                                                    <li id="iShow-@item.SinavTipleriOT_SNAID" onclick="ShowDetailX('@item.SinavTipleriOT_SNAID')">
                                                                                        <a href="javascript:void(0)"><span class="fa fa-angle-up"></span></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td>Kriter @RowIndex</td>
                                                                <td style="text-align:center;">@item.SinavTipleriOT_SNA_PR.Count</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="STProgramaOzelNotKriteriEkle('@Url.Action("StProgramaOzelNotKriterEkle", "SinavTipleri", new { id = item.SinavTipleriOT_SNAID, SinavTipID = Model.SinavTipID })')"><i class="fa fa-edit  tooltips" data-style="blue" data-original-title="Düzelt"></i></a>
                                                                    <a href="javascript:void(0);" onclick="STPKSil('@item.SinavTipleriOT_SNAID',@Model.SinavTipID)"><i class="fa fa-trash-o tooltips" data-style="blue" data-original-title="Sil"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr class="cls-@item.SinavTipleriOT_SNAID" style="display:none">
                                                                <td id="cls-@item.SinavTipleriOT_SNAID" colspan="4">
                                                                    <div class="panel panel-success">
                                                                        <div class="panel-heading  padding-0">
                                                                            <div class="portlet-title">
                                                                                <h3 class="panel-title"><i class="fa fa-file-text"></i>&nbsp;Detay</h3>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body" style="padding: 0px;">
                                                                            <div class="panel panel-default form-horizontal" style="margin-bottom: 0px;">

                                                                                <div class="panel panel-primary" style="margin: 0px; padding: 0px;">
                                                                                    <div class="panel-body" style="margin: 0px; padding: 0px;">
                                                                                        <div class="panel-body form-group-separated">

                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Ö.S. Bilgi</label>
                                                                                                <div class="col-md-9">
                                                                                                    <table class="table">
                                                                                                        <thead>
                                                                                                            <tr>
                                                                                                                <th>Öğrenim Tipi</th>
                                                                                                                <th width="30">Dil</th>
                                                                                                                <th width="80">Geçerli</th>
                                                                                                                <th width="80">İstensin</th>
                                                                                                                <th width="70">Min</th>
                                                                                                                <th width="70">Max</th>
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                        <tbody>
                                                                                                            @foreach (var item2 in item.SinavTipleriOtNotAraliklariList)
                                                                                                            {
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        @item2.OgrenimTipAdi
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        @(item2.Ingilizce ? "En" : "Tr")
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <span class="label label-@(item2.IsGecerli ? "success" : "danger")">@(item2.IsGecerli ? "Geçerli" : "Geçersiz")</span>

                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <span class="label label-@(item2.IsIstensin ? "success" : "danger")">@(item2.IsIstensin ? "İstensin" : "İstenmesin")</span>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        @item2.Min
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        @item2.Max
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            }
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Programlar</label>
                                                                                                <div class="col-md-9" style="max-height: 150px; overflow: auto;">
                                                                                                    <table class="table" style="width:100%;table-layout:fixed;">
                                                                                                        <tr>
                                                                                                            <th width="80">Kod</th>
                                                                                                            <th>Program Adı</th>
                                                                                                        </tr>
                                                                                                        @foreach (var kt in item.SinavTipleriOT_SNA_PR)
                                                                                                        {
                                                                                                            <tr>
                                                                                                                <td>@kt.ProgramKod</td>
                                                                                                                <td>@kt.Programlar.ProgramAdi</td>
                                                                                                            </tr>

                                                                                                        }
                                                                                                    </table>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                            </tr>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td colspan="4" style="text-align: center;">
                                                                [ Listelenen Kayıt Yok ]
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {
        jQuery('.popovers').popover();
    });
    function ShowDetailX(id) {
        var sndr = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(sndr, cls, unTogled);
    }


</script>


