@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model KmSinavTipleri
@{
    var MmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SinavDilleris = (List<SinavDilleri>)ViewBag.SinavDilleris;
    var OgrenimTipleris = (List<OgrenimTipleri>)ViewBag.OgrenimTipleris;
    var Programlars = (List<Programlar>)ViewBag.Programlars;

}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="SinavTipID" name="SinavTipID" value="@Model.SinavTipID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> @(Model.SinavTipID == 0 ? "Yeni Sınav Tipi tanımlama işlemi" : "Sınav Tipi bilgisi düzenleme işlemi")</h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.SinavTipID)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label">Enstitü</label>
                                <div class="col-md-10 col-xs-9">
                                    @Html.DropDownList("EnstituKod", null, new { @class = "form-control", onchange = "getOtBilgi(this);" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label">Sınav Tipi Grubu</label>
                                <div class="col-md-10 col-xs-9">
                                    @Html.DropDownList("SinavTipGrupID", null, new { @class = "form-control", onchange = "wozelNot();" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label">Sinav Tip Kodu</label>
                                <div class="col-md-10 col-xs-9">
                                    <input type="text" name="SinavTipKod" id="SinavTipKod" value="@Model.SinavTipKod.ToEmptyStringZero()" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label">Sınav Adı</label>
                                <div class="col-md-10 col-xs-9">
                                    <input type="text" name="SinavAdi" id="SinavAdi" value="@Model.SinavAdi" class="form-control" />
                                </div>
                            </div>




                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label">Özel Not</label>
                                <div class="col-md-10 col-xs-9">
                                    <div class="make-switch" data-on-label="Var" data-off-label="Yok" data-on="info" data-off="danger">
                                        <input type="checkbox" value="true" name="OzelNot" id="OzelNot" onchange="wozelNot();" class="toggle" @Model.OzelNot.ToChecked() />
                                    </div>
                                </div>
                            </div>
                            <div id="_OzelNot" class="form-group @(Model.OzelNot ? "" : "hide")">
                                <label class="col-md-2 col-xs-3 control-label"></label>
                                <div class="col-md-10 col-xs-9">
                                    <div class="panel panel-default" style="padding: 0px; margin: 0px;">
                                        <div class="panel-heading padding-0">
                                            <h3 class="panel-title"><i class="fa fa-pencil"></i> Özel Not Ekleme</h3>
                                            <a style="float: right;" onclick="notEkle()" href="javascript:void(0);" class="btn btn-success"><i class="fa fa-plus">&nbsp;</i>Ekle</a>
                                        </div>
                                        <div class="panel-body padding-0">
                                            <div class="form-group">
                                                <label class="col-md-2 col-xs-3 control-label">Özel Not Tipi</label>
                                                <div class="col-md-10 col-xs-9">
                                                    @Html.DropDownList("OzelNotTipID", null, new { @class = "form-control", onchange = "OzelNotTipKontrol()" })
                                                </div>
                                            </div>
                                            <div id="dvBelliNotlar" class="@(Model.OzelNotTipID.HasValue && Model.OzelNotTipID.Value==OzelNotTipEnum.SeciliNotlar?"":"hide" )">
                                                <div class="form-group">
                                                    <label class="col-md-2 col-xs-3 control-label">Not Adı</label>
                                                    <div class="col-md-10 col-xs-9">
                                                        <input type="text" class="form-control" name="_SinavNotAdi" id="_SinavNotAdi" value="" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-xs-3 control-label">Not Değeri</label>
                                                    <div class="col-md-10 col-xs-9">
                                                        <input type="text" class="form-control" name="_SinavNotDeger" id="_SinavNotDeger" value="" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Not Adı</th>
                                                            <th width="110">Not Değeri</th>
                                                            <th width="20"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="_NotTbody">
                                                        @foreach (var item in Model.SinavNotlaris.OrderBy(o => o.SinavNotAdi))
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <input type="text" class="hide" name="SinavNotlariID" value="@item.SinavNotlariID" />
                                                                    <input type="text" class="hide" name="SinavNotAdi" value="@item.SinavNotAdi" />
                                                                    @item.SinavNotAdi
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="hide" name="SinavNotDeger" value="@item.SinavNotDeger" />
                                                                    @item.SinavNotDeger
                                                                </td>
                                                                <td>
                                                                    <a href="javascript:void(0)" onclick="$(this).parents('tr').first().remove();"><i class="fa fa-trash-o tooltips" data-style="blue" data-original-title="Kaldır"></i></a>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="dvBelliNotAraliklari" class="@(Model.OzelNotTipID.HasValue && Model.OzelNotTipID.Value==OzelNotTipEnum.SeciliNotAraliklari?"":"hide" )">
                                                <div class="form-group">
                                                    <label class="col-md-2 col-xs-3 control-label">Not Aralık Adı</label>
                                                    <div class="col-md-10 col-xs-9">
                                                        <input type="text" class="form-control" name="_SubSinavAralikAdi" id="_SubSinavAralikAdi" value="" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-xs-3 control-label">Not Min</label>
                                                    <div class="col-md-10 col-xs-9">
                                                        <input type="text" class="form-control" name="_SubSinavMin" id="_SubSinavMin" value="" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-xs-3 control-label">Not Max</label>
                                                    <div class="col-md-10 col-xs-9">
                                                        <input type="text" class="form-control" name="_SubSinavMax" id="_SubSinavMax" value="" autocomplete="off" />
                                                    </div>
                                                </div>


                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Not Aralık Adı</th>
                                                            <th width="80">Not Min</th>
                                                            <th width="80">Not Max</th>
                                                            <th width="20"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="_NotSubAralikTbody">
                                                        @foreach (var item in Model.SinavTiplerSubSinavAraliks.OrderBy(o => o.SubSinavAralikAdi))
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <input type="text" class="hide" name="SubSinavAralikID" value="@item.SubSinavAralikID" />
                                                                    <input type="text" class="hide" name="SubSinavAralikAdi" value="@item.SubSinavAralikAdi" />
                                                                    @item.SubSinavAralikAdi
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="hide" name="SubSinavMin" value="@item.SubSinavMin" />
                                                                    @item.SubSinavMin
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="hide" name="SubSinavMax" value="@item.SubSinavMax" />
                                                                    @item.SubSinavMax
                                                                </td>

                                                                <td>
                                                                    <a href="javascript:void(0)" onclick="$(this).parents('tr').first().remove();"><i class="fa fa-trash-o tooltips" data-style="blue" data-original-title="Kaldır"></i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-md-2 col-xs-3 control-label">Sınavın isteneceği Öğrenim Seviyeleri ve Not Aralıkları / Sınavın gözükmeyeceği programlar</label>
                                <div class="col-md-10 col-xs-9" id="_OtBilgi">
                                    <table class="table" style="width:100%;table-layout:fixed;">
                                        <thead>
                                            <tr>
                                                <th width="90">Öğrenim Tipi</th>
                                                <th width="30">Dil</th>
                                                <th width="100">Geçerlilik</th>
                                                <th width="100">İstensin</th>
                                                <th width="80" class="NANotG">Min</th>
                                                <th width="80" class="NANotG">Max</th>
                                                <th>Seçilen programlarda gözükmeyecek</th>
                                            </tr>
                                        </thead>
                                        <tbody id="_ozelNotRow">
                                            @foreach (var item in Model.SinavTipleriOTNotAraliklaris.OrderBy(o => o.Ingilizce).ThenBy(t => t.OgrenimTipKod))
                                            {
                                                var dil = item.Ingilizce ? "En" : "Tr";
                                                var OgrenimTipi = OgrenimTipleris.Where(p => p.OgrenimTipKod == item.OgrenimTipKod).First();
                                                <tr>
                                                    <td>
                                                        <div class="form-group" title="@OgrenimTipi.OgrenimTipAdi">
                                                            <input type="text" class="hide" name="NAOgrenimTipKod" value="@item.OgrenimTipKod" />
                                                            @{
                                                                var otSpl = OgrenimTipi.OgrenimTipAdi.Split(' ');
                                                                string kAd = "";
                                                                for (int i = 0; i < otSpl.Length; i++)
                                                                {
                                                                    if (i == 0)
                                                                    {
                                                                        kAd += otSpl[i] + " ";

                                                                    }
                                                                    else
                                                                    {
                                                                        kAd += otSpl[i].Substring(0, 1) + " ";

                                                                    }
                                                                }
                                                                @Html.Raw(kAd)
                                                            }
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="hide" name="NAIngilizce" value="@(item.Ingilizce.ToString().ToLower())" />
                                                        @dil
                                                    </td>
                                                    <td>
                                                        <div class="make-switch" data-on-label="Gçrli" data-off-label="Gçrsz" data-on="info" data-off="danger">
                                                            <input type="checkbox" id="chkIsGecerli_@(item.OgrenimTipKod)_@dil" onchange="NANotGKontrol2(this,'@(item.OgrenimTipKod)_@dil')" class="toggle" @item.IsGecerli.ToChecked() />
                                                        </div>
                                                        <input type="text" class="hide" name="NAIsGecerli" id="NAIsGecerli_@(item.OgrenimTipKod)_@dil" value="@(item.IsGecerli ? 1 : 0)" />
                                                    </td>
                                                    <td>
                                                        <div class="make-switch" data-on-label="Evet" data-off-label="Hayır" data-on="info" data-off="danger">
                                                            <input type="checkbox" id="chkIsIstensil_@(item.OgrenimTipKod)_@dil" onchange="NANotGKontrol(this,'@(item.OgrenimTipKod)_@dil')" class="toggle" @item.IsIstensin.ToChecked() />
                                                        </div>
                                                        <input type="text" class="hide" name="NAIsIstensin" id="NAIsIstensin_@(item.OgrenimTipKod)_@dil" value="@(item.IsIstensin ? 1 : 0)" />
                                                    </td>
                                                    <td class="NANotG">
                                                        <div class="form-group NANotG_@(item.OgrenimTipKod)_@dil">
                                                            <input type="text" class="form-control" name="NAMin" value="@item.Min" />
                                                        </div>
                                                    </td>
                                                    <td class="NANotG">
                                                        <div class="form-group NANotG_@(item.OgrenimTipKod)_@dil">
                                                            <input type="text" class="form-control" name="NAMax" value="@item.Max" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-12 col-xs-12">
                                                                @{
                                                                    var xID = ("ProgramKod-" + item.OgrenimTipKod + "-" + (item.Ingilizce ? "En" : "Tr"));
                                                                    <select name="IPProgramKod" id="@xID" class="form-control" multiple="multiple" data_actions_box="true" data_live_search="true" data_live_search_placeholder="Search">
                                                                        @foreach (var itemP in Programlars)
                                                                        {
                                                                            bool ISelected = item.SinavTipleriOTNotAraliklariGecersizProgramlars.Any(a => a.ProgramKod == itemP.ProgramKod);
                                                                            <option value="@(xID + "_" + itemP.ProgramKod)" @ISelected.ToSelected()>@itemP.ProgramAdi</option>
                                                                        }
                                                                    </select>
                                                                    <script>
                                                                            $(function(){

                                                                                $('#@xID').selectpicker({ liveSearch:true,actionsBox:true});

                                                                            })
                                                                    </script>

                                                                }
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                            <div class="form-group @(Model.SinavTipID<=0?"hide":"")">
                                <label class="col-md-2 col-xs-3 control-label">Durum</label>
                                <div class="col-md-10 col-xs-9">
                                    <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="info" data-off="danger">
                                        <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i> Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save"></i> Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#_SinavNotDeger').keydown(function (e) {
            myMask(e, this, false, 5, 3, 2);
        });
        $('#_SubSinavMin').keydown(function (e) {
            myMask(e, this, false, 5, 3, 2);
        });
        $('#_SubSinavMax').keydown(function (e) {
            myMask(e, this, false, 5, 3, 2);
        });
        $(".spinner_default").spinner(); 
    });
    function NANotGKontrol2(sndr, _elm) {
         if ($(sndr).prop('checked') == true) {
            $('#NAIsGecerli_' + _elm).val("1");
            if ($('#chkIsIstensil_' + _elm).prop("checked") == true) {
               // $('.NANotG_' + _elm).removeClass('hide');
                $('#NAIsIstensin_' + _elm).val("1");

            }
        }
        else {
            //$('#NAIsIstensin_' + _elm).prop("checked", false)
            $('#chkIsIstensil_' + _elm).removeAttr('checked');
            $('#chkIsIstensil_' + _elm).parents('.switch-animate').first().removeClass('switch-on').addClass('switch-off');
           // $('.NANotG_' + _elm).addClass("hide");
            $('#NAIsIstensin_' + _elm).val("0");
            $('#NAIsGecerli_' + _elm).val("0");
        }
    }
    function NANotGKontrol(sndr, _elm) {
         if ($('#chkIsGecerli_' + _elm).prop("checked")) {
            if ($(sndr).prop('checked') == true) {
                $('#NAIsIstensin_' + _elm).val("1");
               //$('.NANotG_' + _elm).removeClass('hide');
            }
            else {
               // $('.NANotG_' + _elm).addClass('hide');
                $('#NAIsIstensin_' + _elm).val("0");
            }
        }
        else {
            $('#chkIsIstensil_' + _elm).removeAttr('checked');
            $('#chkIsIstensil_' + _elm).parents('.switch-animate').first().removeClass('switch-on').addClass('switch-off');
        }
    }


    function OzelNotTipKontrol() {
            var tip = $('#OzelNotTipID').val();
            if (tip == '@OzelNotTipEnum.SeciliNotlar') {
                $('#dvBelliNotAraliklari').addClass('hide');
                $('#dvBelliNotlar').removeClass('hide');

            }
            else if (tip == '@OzelNotTipEnum.SeciliNotAraliklari') {

                $('#dvBelliNotlar').addClass('hide');
                $('#dvBelliNotAraliklari').removeClass('hide');
            }
            else {
                $('#dvBelliNotAraliklari').addClass('hide');
                $('#dvBelliNotlar').addClass('hide');
            }
    }

 
    function wozelNot() {
        var _SinavTipGrupID = $('#SinavTipGrupID').val();
        var sndr = $('#OzelNot');
        if ($(sndr).prop('checked') == true) {
                $('#_OzelNot').removeClass('hide');
                OzelNotTipKontrol();
            }
            else {
                if (_SinavTipGrupID == '@SinavTipGrupEnum.DilSinavlari' || _SinavTipGrupID=='@SinavTipGrupEnum.Tomer') {
                    $('#_OzelNot').addClass('hide');
                }
                else {

                    $('#_OzelNot').removeClass('hide');
                }

            } 
    }

    function tarihEkle() {
        var _SinavTarihi = $('#_SinavTarihi').val();
        var _rowEkle = true;
        if (_SinavTarihi == "") {
            _rowEkle = false
            showMessage("warning", "Uyarı", "Eklemek işlemini yapabilmek için tarih girmeniz gerekmektedir!");
        }
        $('#_TarihTbody').find("tr").each(function (inx, trx) {
            var _sntAd = $(trx).find("input[name=SinavTarihi]").val();
            if (_sntAd.toLowerCase() == _SinavTarihi.toLowerCase()) {
                showMessage("warning", "Uyarı", "Eklemek istediğiniz tarih zaten listede mevcut! Tekrar eklenemez.");
                _rowEkle = false;
                return;
            }
        });
        if (_rowEkle) {

            var _rw = "<tr>" +
                "<td><input type='text' class='hide' name='SinavTarihleriID' value='' /><input type='text' class='hide' name='SinavTarihi' value='" + _SinavTarihi + "' />" + _SinavTarihi + "</td>" +
                "<td><a href='javascript:void(0)' onclick=$(this).parents('tr').first().remove();><i class='fa fa-trash-o tooltips' data-style='blue' data-original-title='Kaldır'></i></a></td>" +
                "</tr>";
            $('#_TarihTbody').append(_rw);
            $('#_SinavTarihi').val("");
            $('.tooltips').tooltip();
        }
    }
    function notEkle() {
        var _tip = $('#OzelNotTipID').val();
        if (_tip == '@OzelNotTipEnum.SeciliNotlar') {
            var NotharfAdi = $('#_SinavNotAdi').val();
            var NotharfDegeri = $('#_SinavNotDeger').val();
            var _rowEkle = true;
            if (NotharfAdi == "" || NotharfDegeri == "") {
                _rowEkle = false
                showMessage("warning", "Uyarı", "Eklemek işlemini yapabilmek için sınav notu harfini ve değerini girmeniz gerekmektedir!");
            }
            $('#_NotTbody').find("tr").each(function (inx, trx) {
                var _sntAd = $(trx).find("input[name=SinavNotAdi]").val();
                if (_sntAd.toLowerCase() == NotharfAdi.toLowerCase()) {
                    showMessage("warning", "Uyarı", "Eklemek istediğiniz sınav notu harfi zaten listede mevcut! Tekrar eklenemez.");
                    _rowEkle = false;
                    return;
                }
            });
            if (_rowEkle) {
                var _rw = "<tr>" +
                             "<td><input type='text' class='hide' name='SinavNotlariID' value='' /><input type='text' class='hide' name='SinavNotAdi' value='" + NotharfAdi + "' />" + NotharfAdi + "</td>" +
                             "<td><input type='text' class='hide' name='SinavNotDeger' value='" + NotharfDegeri + "' />" + NotharfDegeri + "</td>" +
                             "<td><a href='javascript:void(0)' onclick=$(this).parents('tr').first().remove();><i class='fa fa-trash-o tooltips' data-style='blue' data-original-title='Kaldır'></i></a></td>" +
                        "</tr>";
                $('#_NotTbody').append(_rw);
                $('#_SinavNotAdi').val("");
                $('#_SinavNotDeger').val("");
                $('.tooltips').tooltip();
            }
        }
        else if (_tip == '@OzelNotTipEnum.SeciliNotAraliklari') {
            var sbSinavAralikAdi = $('#_SubSinavAralikAdi').val();
            var _min = $('#_SubSinavMin').val();
            var _max = $('#_SubSinavMax').val();

            var _rowEkle = true;
            if (sbSinavAralikAdi == "" || _min == "" || _max == "") {
                _rowEkle = false
                showMessage("warning", "Uyarı", "Eklemek işlemini yapabilmek için sınav not aralığı adı, min , maks değerlerini girmeniz gerekmektedir!");
            }
            $('#_NotSubAralikTbody').find("tr").each(function (inx, trx) {
                var _subAad = $(trx).find("input[name=SubSinavAralikAdi]").val();
                if (_subAad.toLowerCase() == sbSinavAralikAdi.toLowerCase()) {
                    showMessage("warning", "Uyarı", "Eklemek istediğiniz sınav notu harfi zaten listede mevcut! Tekrar eklenemez.");
                    _rowEkle = false;
                    return;
                }
            });
            if (_rowEkle) {
                var _rw = "<tr>" +
                             "<td><input type='text' class='hide' name='SubSinavAralikID' value='' /><input type='text' class='hide' name='SubSinavAralikAdi' value='" + sbSinavAralikAdi + "' />" + sbSinavAralikAdi + "</td>" +
                             "<td><input type='text' class='hide' name='SubSinavMin' value='" + _min + "' />" + _min + "</td>" +
                             "<td><input type='text' class='hide' name='SubSinavMax' value='" + _max + "' />" + _max + "</td>" +
                                    "<td><a href='javascript:void(0)' onclick=$(this).parents('tr').first().remove();><i class='fa fa-trash-o tooltips' data-style='blue' data-original-title='Kaldır'></i></a></td>" +
                        "</tr>";
                $('#_NotSubAralikTbody').append(_rw);
                $('#_SubSinavAralikAdi').val("");
                $('#_SubSinavMin').val("");
                $('#_SubSinavMax').val("");
                $('.tooltips').tooltip();

            }

        }

    }

    $(function () {
        var model = '@Html.Raw(Json.Encode(MmMessage))';
        validateControl(model);
    });

    function getOtBilgi(sndr) {
        var enstituKod = $(sndr).val();
        var sinavTipID=@Model.SinavTipID;
        var _panel = $('#_OtBilgi');
        PanelRefresh(_panel, false);
        if (enstituKod != null && enstituKod != "") {
            $.ajax({
                url: '@Url.Action("GetOtBilgi", "SinavTipleri")',
                data: { 'EnstituKod': enstituKod, 'SinavTipID': sinavTipID },
                success: function (result) {
                    $('#_OtBilgi').html(result);
                    PanelRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    PanelRefresh(_panel, true);

                }
            });
        }
        else {
            $('#_OtBilgi').html("");
            PanelRefresh(_panel, true);
        }
    }
</script>




