@using LisansUstuBasvuruSistemi.Models 
@using LisansUstuBasvuruSistemi.Utilities.Dtos  
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model SikcaSorulanSorular
@{ 
    var MmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool kayityetki = false;
    if (UserIdentity.Current.IsAuthenticated)
    {
        kayityetki = RoleNames.SSSKayit.InRoleCurrent();
    }
}


@if (Model != null)
{
    <div class="row">

        @using (Html.BeginForm())
        {
            <div class="col-md-12">

                <!-- START SIMPLE DATATABLE -->
                <div class="panel panel-danger">
                    <div class="panel-heading padding-0">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-question-sign"></i> Sıkça Sorulan Sorular </h3>
                        <ul class="panel-controls">
                            @if (Model != null && kayityetki)
                            {
                            <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Kayit",new {SSSID=Model.SSSID })';},600)"><span style="color:green;" class="fa fa-edit tooltips"></span></a></li>
                            }
                            <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body" style="word-break: break-all;">
                        @Html.Raw(Model.AciklamaHtml)
                    </div>

                </div>





            </div>
        }
    </div>
}
else
{
    <div class="row">

        @using (Html.BeginForm())
        {
            <div class="col-md-12">

                <!-- START SIMPLE DATATABLE -->
                <div class="panel panel-danger">
                    <div class="panel-heading padding-0">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-question-sign"></i> Sıkça Sorulan Sorular </h3>
                        <ul class="panel-controls">
                            <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body" style="text-align:center;">
                        @if (kayityetki==false)
                        {
                            <div class="alert alert-warning push-down-20">
                                <span style="color: maroon;">Bilgi:</span> Sistemde sıkça sorulan sorular ile ilgili bir kayıt bulunamadı.
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger push-down-20">
                                <span style="color: yellow;">DİKKAT!</span> Sistemde sıkça sorulan sorular ile ilgili bir kayıt bulunamadı.
                                <button type="button" class="close" data-dismiss="alert">×</button>
                            </div>
                            <a class="btn btn-success btn-lg" href="@Url.Action("Kayit")">Yeni Sıkça sorulan sorular içeriği tanımla</a>

                        }
                    </div>

                </div>





            </div>
        }
    </div>
}

