@using Entities.Entities
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model Programlar
@{
    var mmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var oldId = (string)ViewBag.OldID;
    var kulIds = (List<int>)ViewBag.KullaniciIDs;
    var enstituKod = (string)ViewBag.EnstituKod;
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="OldID" name="OldID" value="@oldId" />
        <input type="text" style="display:none;" id="EnstituKod" name="EnstituKod" value="@enstituKod" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> @(oldId.IsNullOrWhiteSpace() ? "Yeni program tanımlama işlemi" : oldId + " Kodlu program bilgisi düzenleme işlemi")</h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.ProgramKod)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body" id="prgPbody">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">

                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Anabilim Dalı</label>
                                <div class="col-md-9 col-xs-8">
                                    @Html.DropDownList("AnabilimDaliID", null, new { @class = "form-control", onchange = "GetKullanicilar();GetOBolumler();" })
                                </div>
                            </div>
                            @if (oldId.IsNullOrWhiteSpace())
                            {
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-4 control-label">Program Kodu</label>
                                    <div class="col-md-9 col-xs-8">
                                        <input type="text" name="ProgramKod" id="ProgramKod" value="@Model.ProgramKod.ToEmptyStringZero()" class="form-control" />
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">OBS Program Kodu</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="ObsProgramKod" id="ObsProgramKod" value="@Model.ObsProgramKod" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Program Adı</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="ProgramAdi" id="ProgramAdi" value="@Model.ProgramAdi" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Program Dili İnglizce Mi?</label>
                                <div class="col-md-9 col-xs-8">
                                    <div class="make-switch" data-on-label="Evet" data-off-label="Hayır" data-on="info" data-off="danger">
                                        <input type="checkbox" value="true" name="Ingilizce" class="toggle" @Model.Ingilizce.ToChecked() />
                                    </div>
                                </div>
                            </div>



                            @if (!oldId.IsNullOrWhiteSpace())
                            {
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-4 control-label">Durum</label>
                                    <div class="col-md-9 col-xs-8">
                                        <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="info" data-off="danger">
                                            <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Yetkili Kullanıcılar</label>
                                <div class="col-md-9 col-xs-8">
                                    @Html.DropDownList("KullaniciID", null, new { @class = "form-control selectpicker", id = "KullaniciID", multiple = "multiple", data_live_search = "true", data_live_search_placeholder = "Search", data_actions_box = "true" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="kulList"></div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save"></i>Kaydet</button>
                </div>

            </div>
        </div>
    </form>
</div>
<script>


    $(function () {
        $('.selectpicker').selectpicker();
        GetKullanicilar();
        var model = '@Html.Raw(Json.Encode(mmMessage))';
        validateControl(model);


    });


    function GetKullanicilar() {
        var _panel = $('#prgPbody');
        PanelRefresh(_panel, false);
        var sKuls = '@Html.Raw(Json.Encode(kulIds))';
        var nVal = JSON.parse(sKuls);
        var _AnabilimDaliID = $('#AnabilimDaliID').val();
        if (_AnabilimDaliID != null && _AnabilimDaliID != "") {
            $.ajax({
                url: '@Url.Action("ProgramKullanicilarYetki", "Programlar")',
                data: { 'AnabilimDaliID': _AnabilimDaliID, 'ProgramKod': '@(oldId.IsNullOrWhiteSpace()?"": oldId)' },
                type: 'POST',
                enctype: "multipart/form-data",
                dataType: "json",
                success: function (result) {
                    $('#KullaniciID').empty();
                    var opt = "";
                    for (var i = 0; i < result.length; i++) {
                        var valR = result[i].Value;
                        var _value = "";
                        if (valR != null) {
                            _value = valR;
                        }
                        opt += "<option value=" + _value + ">" + result[i].Caption + "</option>"
                    }
                    $('#KullaniciID').append(opt);
                    $('#KullaniciID').selectpicker('val', nVal);
                    $('#KullaniciID').selectpicker("refresh");
                    PanelRefresh(_panel, true);
                },
                error: function (err) {
                    PanelRefresh(_panel, true);
                    alert(err.responseText);
                }
            });
        }
        else {
            PanelRefresh(_panel, true);
        }
    }
</script>
