@using LisansUstuBasvuruSistemi.Models @using LisansUstuBasvuruSistemi.Models.FilterModel @using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil;
@model bsUrecDetay
@{
    Layout = null;
}

<div class="panel panel-info" style="margin:0px;">
    <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
        <h3 class="panel-title">
            <i class="fa fa-list-alt"></i> Sınav Tipleri
        </h3>
    </div>
    <div class="panel panel-primary" style="margin: 0px; padding: 0px;">
        <div class="panel-body" style="margin: 0px; padding: 0px;">
            <div class="col-md-12" style="text-align: left;  height: 464px; overflow: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="75"></th>
                            <th width="150">Grup Adı</th> 
                            <th width="140">Sınav Tipi</th>
                            <th width="60" title="Web servisi">Ws</th>
                            <th width="60" title="Özel tarih girişi">Ot</th>
                            <th width="60" title="Özel not girişi">On</th>
                            <th width="60" title="Tahhüt Var mı">Tht</th>
                            <th width="60" title="Küsürat girişi">Kv</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SinavTipleri.Count() > 0)
                        {
                            int RowIndex = 0; string trCls = "odd";
                            foreach (var item in Model.SinavTipleri)
                            {
                                RowIndex++;
                                trCls = RowIndex % 2 == 1 ? "" : "even";
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td style="width: 30px;">@RowIndex</td>
                                                <td>
                                                    <ul class="panel-controls">
                                                        <li id="iShow-snv-@Model.BasvuruSurecID-@item.SinavTipID"  title="Detayı açmak veya kapatmak için tıklayınız." onclick="showDetail('@item.SinavTipID','snv-@Model.BasvuruSurecID-')">
                                                            <a href="javascript:void(0)"><span class="fa fa-angle-up"></span></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>@item.SinavTipGrupAdi</td>
                                     
                                    <td id="tdMad_@item.SinavTipID">
                                        @item.SinavAdi (@item.SinavTipKod)
                                    </td>
                                    <td style="text-align:center;">
                                        <span class="label label-@(item.WebService ? "success" : "danger")">@item.WebService.ToEvetHayir()</span>
                                    </td>
                                    <td style="text-align:center;">
                                        <span class="label label-@(item.OzelTarih ? "success" : "danger")">@item.OzelTarih.ToEvetHayir()</span>
                                    </td>
                                    <td style="text-align:center;">
                                        <span class="label label-@(item.OzelNot ? "success" : "danger")">@item.OzelNot.ToEvetHayir()</span>
                                    </td>
                                    <td style="text-align:center;">
                                        <span class="label label-@(item.GIsTaahhutVar ? "success" : "danger")">@item.GIsTaahhutVar.ToEvetHayir()</span>
                                    </td>
                                    <td style="text-align:center;">
                                        <span class="label label-@(item.KusuratVar ? "success" : "danger")">@item.KusuratVar.ToEvetHayir()</span>
                                    </td>
                                </tr>
                                <tr class="cls-snv-@Model.BasvuruSurecID-@item.SinavTipID" style="display:none">
                                    <td id="cls-snv-@Model.BasvuruSurecID-@item.SinavTipID" colspan="8">
                                        <div class="panel panel-success">

                                            <div class="panel panel-default tabs" style="margin-bottom:0px; padding:0px;">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="active"><a href="#tab-@item.SinavTipID-1" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-file-text myCaptionTdx"></i>&nbsp; <span class="myCaptionTdx">Ana Not Kriterleri</span></a></li>
                                                    @if (item.frSinavTipleriSPA.Count > 0)
                                                    {
                                                        <li><a href="#tab-@item.SinavTipID-2" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-list-alt myCaptionTdx"></i>&nbsp; <span class="myCaptionTdx">Programa Göre Not Kriteleri</span></a></li>
                                                    }
                                                </ul>
                                            </div>

                                            <div class="panel-body tab-content" style="padding:0px;">

                                                <div class="tab-pane active" id="tab-@item.SinavTipID-1">
                                                    <div class="panel panel-default form-horizontal" style="margin-bottom: 0px;">

                                                        <div class="panel panel-primary" style="margin: 0px; padding: 0px;">
                                                            <div class="panel-body" style="margin: 0px; padding: 0px;">
                                                                <div class="panel-body form-group-separated">
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Web servisi</label>
                                                                        <div class="col-md-9">
                                                                            <span class="label label-@(item.WebService ? "success" : "danger")">@item.WebService.ToEvetHayir()</span>
                                                                        </div>
                                                                    </div>
                                                                    @if (item.WebService)
                                                                    {
                                                                        <div class="form-group">
                                                                            <label class="col-md-3 control-label">Web servisi kodu</label>
                                                                            <div class="col-md-9">
                                                                                @item.WebServiceKod
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-md-3 control-label">Web servisi dönemler</label>
                                                                            <div class="col-md-9" style="max-height: 150px; overflow: auto;">
                                                                                <table class="table" style="width:100%;table-layout:fixed;">
                                                                                    @if (item.SinavTipleriDonems.Count == 0)
                                                                                    {
                                                                                        <tr>
                                                                                            <td colspan="2" style="color:red;">Dönem Tanımlaması Yapılmamış! <br /> Lütfen Dönem Tanımlamas Yapınız!</td>
                                                                                        </tr>
                                                                                    }
                                                                                    else
                                                                                    {

                                                                                        var qGrup = from s in item.SinavTipleriDonems.OrderBy(s => s.Yil).ThenBy(t => t.WsDonemKod)
                                                                                                    group new { s.Yil, s.WsDonemAd, s.WsDonemKod, s.IsTaahhutVar } by new { s.Yil } into g1
                                                                                                    select new
                                                                                                    {
                                                                                                        Yil = g1.Key.Yil,
                                                                                                        DonemAds = string.Join(",", g1.Where(p => p.Yil == g1.Key.Yil).Select(sq => sq.WsDonemAd + " (" + (sq.IsTaahhutVar ? "Taahhüt Var" : "Taahhüt Yok") + ")").ToList()),
                                                                                                    };
                                                                                        <tr>
                                                                                            <th width="60">Yıl</th>
                                                                                            <th>Dönem Adı</th>
                                                                                        </tr>
                                                                                        foreach (var kt in qGrup)
                                                                                        {
                                                                                            <tr>
                                                                                                <td>@kt.Yil</td>
                                                                                                <td>@kt.DonemAds</td>
                                                                                            </tr>

                                                                                        }
                                                                                    }
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    @if (item.TarihGirisMaxGecmisYil.HasValue)
                                                                    {
                                                                        <div class="form-group">
                                                                            <label class="col-md-3 control-label">Alınabilecek maksimum geçmiş yıl</label>
                                                                            <div class="col-md-9">
                                                                                @item.TarihGirisMaxGecmisYil
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Özel Tarih</label>
                                                                        <div class="col-md-9">
                                                                            <span class="label label-@(item.OzelTarih ? "success" : "danger")">@item.OzelTarih.ToEvetHayir()</span>
                                                                        </div>
                                                                    </div>

                                                                    @if (item.OzelTarih)
                                                                    {

                                                                        <div class="form-group">
                                                                            @if (item.OzelTarihTipID == OzelTarihTip.BelirliTarihler)
                                                                            {
                                                                                <label class="col-md-3 control-label">Tanımlanan Özel Tarihler</label>
                                                                                <div class="col-md-9" style="max-height: 150px; overflow: auto;">
                                                                                    <table class="table" style="width:100%;table-layout:fixed;">
                                                                                        @if (item.BasvuruSurecSinavTarihleris.Count == 0)
                                                                                        {
                                                                                            <tr>
                                                                                                <td style="color:red;">Sınav Tarihi Tanımlaması Yapılmamış! <br /> Lütfen Sınav Tarihi Tanımlamas Yapınız!</td>
                                                                                            </tr>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <tr>
                                                                                                <th>Tarih</th>
                                                                                            </tr>

                                                                                            foreach (var kt in item.BasvuruSurecSinavTarihleris.OrderByDescending(o => o.SinavTarihi))
                                                                                            {
                                                                                                <tr>
                                                                                                    <td>@kt.SinavTarihi.ToDateString()</td>
                                                                                                </tr>

                                                                                            }
                                                                                        }
                                                                                    </table>
                                                                                </div>
                                                                            }
                                                                            else if (item.OzelTarihTipID == OzelTarihTip.BelirliTarihdenOncesi)
                                                                            {
                                                                                <label class="col-md-3 control-label">Tarih kriteri</label>
                                                                                <div class="col-md-9" style="max-height: 150px; overflow: auto;">
                                                                                    @item.Tarih1.ToDateString() tarihi ve önceki sınavlar
                                                                                </div>
                                                                            }
                                                                            else if (item.OzelTarihTipID == OzelTarihTip.BelirliTarhidenSonrasi)
                                                                            {
                                                                                <label class="col-md-3 control-label">Tarih kriteri</label>
                                                                                <div class="col-md-9" style="max-height: 150px; overflow: auto;">
                                                                                    @item.Tarih1.ToDateString() tarihi ve sonraki sınavlar
                                                                                </div>
                                                                            }
                                                                            else if (item.OzelTarihTipID == OzelTarihTip.IkiTarihArasi)
                                                                            {
                                                                                <label class="col-md-3 control-label">Tarih kriteri</label>
                                                                                <div class="col-md-9" style="max-height: 150px; overflow: auto;">
                                                                                    Başlangıç tarihi @item.Tarih1.ToDateString()  ile Bitiş tarihi @item.Tarih2.ToDateString() aralığındaki sınavlar
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    }
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Özel Not</label>
                                                                        <div class="col-md-9">
                                                                            <span class="label label-@(item.OzelNot ? "success" : "danger")">@item.OzelNot.ToEvetHayir()</span>
                                                                        </div>
                                                                    </div>

                                                                    @if (item.OzelNot)
                                                                    {
                                                                        <div class="form-group">
                                                                            <label class="col-md-3 control-label">Tanımlanan Özel Notlar</label>
                                                                            <div class="col-md-9" style="max-height: 150px; overflow: auto;">
                                                                                <table class="table" style="width:100%;table-layout:fixed;">
                                                                                    @if (item.BasvuruSurecSinavNotlaris.Count > 0)
                                                                                    {
                                                                                        <tr>
                                                                                            <th>Not Adı </th>
                                                                                            <th width="80">Not Değeri</th>
                                                                                        </tr>
                                                                                        foreach (var kt in item.BasvuruSurecSinavNotlaris.OrderBy(o => o.SinavNotAdi))
                                                                                        {
                                                                                            <tr>
                                                                                                <td>@kt.SinavNotAdi</td>
                                                                                                <td>@kt.SinavNotDeger</td>
                                                                                            </tr>

                                                                                        }
                                                                                    }
                                                                                    else if (item.BasvuruSurecSinavTiplerSubSinavAraliks.Count > 0)
                                                                                    {
                                                                                        <tr>
                                                                                            <th>Not Aralık Adı </th>
                                                                                            <th width="80">Min</th>
                                                                                            <th width="80">Max</th>
                                                                                            <th width="120">Dönüşüm formülü</th>
                                                                                        </tr>
                                                                                        foreach (var kt in item.BasvuruSurecSinavTiplerSubSinavAraliks.OrderBy(o => o.SubSinavAralikAdi))
                                                                                        {
                                                                                            <tr>
                                                                                                <td>@kt.SubSinavAralikAdi</td>
                                                                                                <td>@kt.SubSinavMin</td>
                                                                                                <td>@kt.SubSinavMax</td>
                                                                                                <td>
                                                                                                    <img src="~/Images/formul.jpg" style="width:20px;height:20px;cursor:pointer" title="@kt.NotDonusumFormulu" />
                                                                                                </td>
                                                                                            </tr>

                                                                                        }
                                                                                    }
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    }


                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Küsürat Girişi</label>
                                                                        <div class="col-md-9">
                                                                            <span class="label label-@(item.KusuratVar ? "success" : "danger")">@item.KusuratVar.ToEvetHayir()</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Ö.S. Bilgi</label>
                                                                        <div class="col-md-9">
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Öğrenim Tipi</th>
                                                                                        <th width="30">Dil</th>
                                                                                        <th width="80">Geçerli</th>
                                                                                        <th width="80">İstensin</th>
                                                                                        <th width="70">Min</th>
                                                                                        <th width="70">Max</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var item2 in item.SinavTipleriOTNotAraliklariList)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                @item2.OgrenimTipAdi
                                                                                            </td>
                                                                                            <td>
                                                                                                @(item2.Ingilizce ? "En" : "Tr")
                                                                                            </td>
                                                                                            <td>
                                                                                                <span class="label label-@(item2.IsGecerli ? "success" : "danger")">@(item2.IsGecerli ? "Geçerli" : "Geçersiz")</span>

                                                                                            </td>
                                                                                            <td>
                                                                                                <span class="label label-@(item2.IsIstensin ? "success" : "danger")">@(item2.IsIstensin ? "İstensin" : "İstenmesin")</span>
                                                                                            </td>
                                                                                            <td>
                                                                                                @item2.Min
                                                                                            </td>
                                                                                            <td>
                                                                                                @item2.Max
                                                                                            </td>
                                                                                        </tr>
                                                                                        if (item2.IstenmeyenProgramlar.Count > 0)
                                                                                        {
                                                                                            <tr>
                                                                                                <td colspan="6">
                                                                                                    <table style="width:100%;table-layout:fixed;">
                                                                                                        <tr>
                                                                                                            <td style="width:40px;"></td>
                                                                                                            <td>* @item.SinavAdi sınavı @item2.OgrenimTipAdi @(item2.Ingilizce ? "İngilizce" : "Türkçe") eğitim dilini kapsayan aşağıdaki program başvurularında gözükmeyecek</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="width:40px;"></td>
                                                                                                            <td>
                                                                                                                <table style="width:100%;table-layout:fixed;" class="table">
                                                                                                                    @foreach (var itemIP in item2.IstenmeyenProgramlar)
                                                                                                                    {
                                                                                                                        <tr>
                                                                                                                            <td style="width:40px;">
                                                                                                                                @itemIP.Value
                                                                                                                            </td>
                                                                                                                            <td>
                                                                                                                                @itemIP.Caption
                                                                                                                            </td>

                                                                                                                        </tr>
                                                                                                                    }
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>


                                                                                                    </table>
                                                                                                </td>

                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Not Dönüşümü</label>
                                                                        <div class="col-md-9">
                                                                            <span class="label label-@(item.NotDonusum ? "success" : "danger")">@item.NotDonusum.ToEvetHayir()</span>
                                                                            @if (item.NotDonusum)
                                                                            {
                                                                                <span> Formül: @item.NotDonusumFormulu </span>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                @if (item.frSinavTipleriSPA.Count > 0)
                                                {
                                                    <div class="tab-pane" id="tab-@item.SinavTipID-2">
                                                        <div class="panel-body" style="padding: 0px;">
                                                            <div class="col-md-12" style="text-align: left;  height: 464px; overflow: auto;">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="75"></th>
                                                                            <th>Kriter</th>
                                                                            <th width="150">Toplam Program</th>
                                                                            <th width="30"></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @if (item.frSinavTipleriSPA.Count > 0)
                                                                        {
                                                                            int RowIndex2 = 0;
                                                                            foreach (var item2 in item.frSinavTipleriSPA)
                                                                            {
                                                                                RowIndex2++;
                                                                                trCls = RowIndex % 2 == 1 ? "" : "even";
                                                                                <tr>
                                                                                    <td>
                                                                                        <table>
                                                                                            <tr>
                                                                                                <td style="width: 30px;">@RowIndex2</td>
                                                                                                <td>
                                                                                                    <ul class="panel-controls">
                                                                                                        <li id="iShow-@item2.BasvuruSurecSinavTipleriOT_SNAID" onclick="showDetailSna('@item2.BasvuruSurecSinavTipleriOT_SNAID')">
                                                                                                            <a href="javascript:void(0)"><span class="fa fa-angle-up"></span></a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td>Kriter @RowIndex2</td>
                                                                                    <td style="text-align:center;">@item2.BasvuruSurecSinavTipleriOT_SNA_PR.Count</td>
                                                                                </tr>
                                                                                <tr class="cls-@item2.BasvuruSurecSinavTipleriOT_SNAID" style="display:none">
                                                                                    <td id="cls-@item2.BasvuruSurecSinavTipleriOT_SNAID" colspan="4">
                                                                                        <div class="panel panel-success">
                                                                                            <div class="panel-heading  padding-0">
                                                                                                <div class="portlet-title">
                                                                                                    <h3 class="panel-title"><i class="fa fa-file-text"></i>&nbsp;Detay</h3>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="panel-body" style="padding: 0px;">
                                                                                                <div class="panel panel-default form-horizontal" style="margin-bottom: 0px;">

                                                                                                    <div class="panel panel-primary" style="margin: 0px; padding: 0px;">
                                                                                                        <div class="panel-body" style="margin: 0px; padding: 0px;">
                                                                                                            <div class="panel-body form-group-separated">

                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-md-3 control-label">Ö.S. Bilgi</label>
                                                                                                                    <div class="col-md-9">
                                                                                                                        <table class="table">
                                                                                                                            <thead>
                                                                                                                                <tr>
                                                                                                                                    <th>Öğrenim Tipi</th>
                                                                                                                                    <th width="30">Dil</th>
                                                                                                                                    <th width="80">Geçerli</th>
                                                                                                                                    <th width="80">İstensin</th>
                                                                                                                                    <th width="70">Min</th>
                                                                                                                                    <th width="70">Max</th>
                                                                                                                                </tr>
                                                                                                                            </thead>
                                                                                                                            <tbody>
                                                                                                                                @foreach (var item3 in item2.SinavTipleriOTNotAraliklariList)
                                                                                                                                {
                                                                                                                                    <tr>
                                                                                                                                        <td>
                                                                                                                                            @item3.OgrenimTipAdi
                                                                                                                                        </td>
                                                                                                                                        <td>
                                                                                                                                            @(item3.Ingilizce ? "En" : "Tr")
                                                                                                                                        </td>
                                                                                                                                        <td>
                                                                                                                                            <span class="label label-@(item3.IsGecerli ? "success" : "danger")">@(item3.IsGecerli ? "Geçerli" : "Geçersiz")</span>

                                                                                                                                        </td>
                                                                                                                                        <td>
                                                                                                                                            <span class="label label-@(item3.IsIstensin ? "success" : "danger")">@(item3.IsIstensin ? "İstensin" : "İstenmesin")</span>
                                                                                                                                        </td>
                                                                                                                                        <td>
                                                                                                                                            @item3.Min
                                                                                                                                        </td>
                                                                                                                                        <td>
                                                                                                                                            @item3.Max
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                }
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-md-3 control-label">Programlar</label>
                                                                                                                    <div class="col-md-9" style="max-height: 150px; overflow: auto;">
                                                                                                                        <table class="table" style="width:100%;table-layout:fixed;">
                                                                                                                            <tr>
                                                                                                                                <th width="80">Kod</th>
                                                                                                                                <th>Program Adı</th>
                                                                                                                            </tr>
                                                                                                                            @foreach (var kt in item2.BasvuruSurecSinavTipleriOT_SNA_PR)
                                                                                                                            {
                                                                                                                                <tr>
                                                                                                                                    <td>@kt.ProgramKod</td>
                                                                                                                                    <td>@kt.Programlar.ProgramAdi</td>
                                                                                                                                </tr>

                                                                                                                            }
                                                                                                                        </table>
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </td>
                                                                                </tr>

                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <td colspan="4" style="text-align: center;">
                                                                                    [ Listelenen Kayıt Yok ]
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>

                                                }
                                            </div>
                                        </div>

                                    </td>
                                </tr>

                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8" style="text-align: center;">
                                    [ Listelenen Kayıt Yok ]
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>


