@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos  
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model  fmBelgeTalepleri
@{
    ViewBag.Title = "Index";
    var IndexModel = (MIndexBilgi)ViewBag.IndexModel;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bilgiModel = (IndexPageInfoDto)ViewBag.bModel;
    bool kYetki = RoleNames.BelgeTalebiDuzelt.InRoleCurrent();
    bool silYetki = RoleNames.BelgeTalebiSil.InRoleCurrent();
}


<div class="row">
    @using (Html.BeginForm("Index", "GelenBelgeTalepleri", FormMethod.Post, new { id = "frmGBTalep" }))
    {
        <div class="col-md-12">

            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-info @(Model.Expand ? "" : "panel-toggled")" id="pnlFltr">
                <input class="hide" name="Expand" value="@Model.Expand.ToString().ToLower()" id="Expand" />
                <div class="panel-heading padding-0">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-filter"></i> Filtre İşlemi
                    </h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" style="table-layout:fixed;">
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-5 control-label">Akademik Dönem</label>
                                    <div class="col-md-8 col-xs-7">
                                        @Html.DropDownList("OgretimYili", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-5 control-label">Belge Tipi</label>
                                    <div class="col-md-8 col-xs-7">
                                        @Html.DropDownList("BelgeTipID", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-5 control-label">Öğrenim Durumu</label>
                                    <div class="col-md-8 col-xs-7">
                                        @Html.DropDownList("OgrenimDurumID", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-5 control-label">Belge Dili</label>
                                    <div class="col-md-8 col-xs-7">
                                        @Html.DropDownList("DilKodu", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-5 control-label">Öğrenim Seviyesi</label>
                                    <div class="col-md-8 col-xs-7">
                                        @Html.DropDownList("OgrenimTipKod", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-5 control-label">Belge Durumu</label>
                                    <div class="col-md-8 col-xs-7">
                                        @Html.DropDownList("BelgeDurumID", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-5 control-label">Program</label>
                                    <div class="col-md-8 col-xs-7">
                                        @Html.DropDownList("ProgramKod", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-5 control-label">Gün Kontrol</label>
                                    <div class="col-md-8 col-xs-7">
                                        @Html.DropDownList("BuGunkuKayitlar", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-5 control-label">Aranacak Kelime</label>
                                    <div class="col-md-8 col-xs-7">
                                        <input name="AranacakKelime" type="text" value="@Model.AranacakKelime" class="form-control" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-5 control-label"></label>
                                    <div class="col-md-8 col-xs-7">
                                        <a href="javascript:void(0);" onclick="$('#Expand').val(($('#pnlFltr').hasClass('panel-toggled') ? 'false' : 'true')); $('#frmGBTalep').submit();" class="btn btn-info" style="width:150px;"><i class="glyphicon glyphicon-filter"> Filtrele</i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i>&nbsp; Gelen Belge Talepleri</h3>
                    <ul class="panel-controls">
                        @foreach (var item in IndexModel.ListB)
                        {
                            <li style="color:@item.Color">&nbsp&nbsp<i class="@item.ClassName" style="font-size:11pt;"></i>@item.Key:<b>@item.Toplam</b></li>
                        }
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="75">
                                </th>
                                <th class="sirala" field="AdiSoyadi">Ad Soyad</th>
                                <th class="sirala" field="TalepTarihi" width="160">Talep Tarihi</th>
                                <th class="sirala" field="DurumListeAdi">Durum</th>
                                @if (kYetki || silYetki)
                                {
                                    <th width="40"></th>
                                }
                            </tr>

                        </thead>
                        <tbody>
                            @if (Model.RowCount > 0)
                            {
                                int RowIndex = Model.StartRowIndex;  
                                foreach (var item in Model.Data)
                                {
                                    RowIndex++; 
                                    <tr class="mColor_@item.BelgeTalepID" style="color:@item.Color">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@RowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.BelgeTalepID"  title="Detayı açmak veya kapatmak için tıklayınız." onclick="showDetail('@item.BelgeTalepID')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table" style="padding:0px;margin:0px;border:none;table-layout:fixed;">
                                                <tr>
                                                    <td style="margin:0px;border:none;" width="40"> <img src="@item.ResimAdi.ToKullaniciResim()" style="width:40px;height:40px;cursor:pointer;" @(item.KullaniciID.HasValue ? ("onclick=detayGor(" + item.KullaniciID + ")") : "") class="img-circle img-thumbnail"></td>
                                                    <td style="margin:0px;border:none;">
                                                        <table>
                                                            <tr>
                                                                <td id="TdAs_@item.BelgeTalepID">@item.AdiSoyadi (@item.OgrenciNo)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>@item.OgrenimTipAdi, <span style="cursor:pointer;" class="@item.DilFlagClass" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Belgenin hazırlanacağı dil: @item.DilAdi"></span> @item.BelgeTipAdi <span style="font-size:10pt;font-weight:bold">(@item.IstenenBelgeSayisi)</span></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td id="TdTr_@item.BelgeTalepID">
                                            <b>@item.TalepTarihi.ToString("dd-MM-yyyy HH:mm:ss")</b><br />
                                            @item.OgretimYiliBaslangic / @item.OgretimYiliBitis @item.DonemAdi
                                        </td>
                                        <td>
                                            @{
                                                var vBil = BelgeTalepBus.GetBelgeVerilmeBilgisi(item.BelgeTalepID,item.DurumListeAdi);
                                                string tColor = "style=cursor:pointer;color:" + (vBil.Value < 0 ? "maroon;" : item.Color);
                                                string vClass = (vBil.Value < 0 ? "fa fa-warning" : item.ClassName);
                                                <table style="width:100%;table-layout:fixed;">
                                                    <tr>
                                                        <td style="width:30px;">
                                                            @if (!item.ClassName.IsNullOrWhiteSpace())
                                                            {
                                                                <span class="tooltips mColor_@item.BelgeTalepID" data-style="blue" data-original-title="@item.BelgeDurumAciklamasi" @(!item.Color.IsNullOrWhiteSpace() ? tColor : "")>
                                                                    <i id="bticon_@item.BelgeTalepID" class="@vClass" style="font-size:17pt;font-weight:bold;"></i>
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <i class="@vClass mColor_@item.BelgeTalepID" style="font-size:17pt;font-weight:bold;@(vBil.Value < 0 ? tColor : "color:" + item.Color)"></i>
                                                            }
                                                        </td>
                                                        <td>
                                                            <span id="btCapt_@item.BelgeTalepID">@Html.Raw(vBil.Caption)</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }

                                        </td>
                                        @if (kYetki || silYetki)
                                        {
                                            <td>
                                                @if (kYetki)
                                                {
                                                    <a href="@Url.Action("TalepYap", "BelgeTalebi", new { id = item.BelgeTalepID })"><i style="font-size:11pt; color:@item.Color" class="fa fa-edit tooltips mColor_@item.BelgeTalepID" data-style="blue" data-original-title="Düzelt"></i></a>
                                                }
                                                @if (silYetki)
                                                {
                                                    <a href="javascript:void(0)" onclick="SilmeOnay(this,@item.BelgeTalepID)"><i style="font-size:11pt; color:@item.Color" class="glyphicon glyphicon-trash tooltips mColor_@item.BelgeTalepID" data-style="blue" data-original-title="Sil"></i></a>
                                                }
                                            </td>
                                        }
                                    </tr>
                                    <tr class="cls-@item.BelgeTalepID" style="display:none">
                                        <td id="cls-@item.BelgeTalepID" colspan="@(kYetki || silYetki ? "7" : "6")" style="padding: 1px 1px 2px 2px;"></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="@(kYetki || silYetki ? "7" : "6")" style="text-align: center;">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
@if (silYetki)
{
    <script type="text/javascript">
        function SilmeOnay(sndr, id) {
            var AdSoyad = $('#TdAs_' + id).html();
            var Tarih = $('#TdTr_' + id).html();
            var SoruHtml = "<table style='table-layout:fixed;width:100%;'>" +
                "<tr><td width='30' style='padding-left:10px;'></td><td style='padding-right:10px;'>" + (AdSoyad + ' - ' + Tarih) + "</td></tr>" +
                "<tr><td width='30' style='color:maroon;padding-left:10px;'><i class='fa fa-info fa-2x'></i></td><td style='color:maroon;padding-right:10px;'>Seçilen Belge Talebini Silmek İstiyor Musunuz?</td></tr>" +
                "</table>";
            var btbx = bootbox.dialog({
                message: SoruHtml,
                title: "Belge Talebi Silme İşlemi",
                buttons: {
                    success: {
                        label: 'Belge Talebini Sil',
                        className: "btn-danger",
                        callback: function () {
                            sil(sndr, id);
                        }
                    },
                    danger: {
                        label: 'Vazgeç',
                        className: "btn-primary",
                        callback: function () {
                        }
                    }
                }
            });
        }
        function sil(sndr, id) {
            $.ajax({
                url: '@Url.Action("Sil", "GelenBelgeTalepleri")',
                data: { id: id },
                success: function (result) {
                    if (result.IsSuccess) {
                        $(sndr).closest("tr").remove(); 
                    }
                    toastr[result.IsSuccess ? "success" : "error"](result.Messages[0], "Belge Talebi Silme İşlemi");
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        }
    </script>
}
@if (kYetki)
{
    <script type="text/javascript">
        function kaydet(id) {
            var mktr = $('#VerilenBelgeSayisi_' + id).val();
            if (mktr == null || mktr == "" || parseInt(mktr) < 1) {
                alert('Verilen miktarı seçiniz!');
                return;
            }
            var ibtID = $('#IstenenBelgeDurumID_' + id).val();
            var ibTipAciklama = $('#BelgeDurumAciklamasi_' + id).val();
            $.ajax({
                url: '@Url.Action("Istenenkaydet", "BelgeTalebi")',
                data: {
                    'id': id,
                    'IslemTipID': ibtID,
                    'IslemTipAciklamasi': ibTipAciklama,
                    'miktar': mktr
                },
                success: function (result) {
                    getDetail(id, false, null);
                    $(".mColor_" + id).each(function (inx, itmx) {
                        $(itmx).attr("style", "color:"+result.Color);
                    });
                    $("#btCapt_" + id).html(result.verilmeBilgi.Caption);
                    $("#bticon_" + id).attr("Class", "");
                    $("#bticon_" + id).addClass(result.ClassName);
                    //$("#td2_" + id).html(result.verilmeBilgi);
                },
                error: function (err) {
                    alert(err.responseText);

                }
            });
        }
    </script>
}
<script type="text/javascript">


    function showDetail(id) {
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled) getDetail(id);
    }
    function getDetail(id) {

        var _panel = $('#btDetay_' + id);
        _pRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("getdetay", "BelgeTalebi")',
            data: { id: id  },
            success: function (result) {
                    $('#cls-' + id).html(result);
                    _pRefresh(_panel, true);
            },
            error: function (err) {
                alert(err.responseText);
                _pRefresh(_panel, true);
            }
        });

    }
    function printTalep(sndrID) {
        // var ids = sndrID.split("_")[1];
        //$('.prntHide_' + ids).css("display", "none");
        setTimeout(function () {
            $(sndrID).printThis({
                debug: false,
                importCSS: true,
                importStyle: true,
                printContainer: false,
                loadCSS: "",
                removeInline: false,
                printDelay: 333,
                pageTitle: "Online Belge Talep",
                header: "",
                formValues: true,
            });
            setTimeout(function () {
                //$('.prntHide_' + ids).css("display", "");
            }, 800)

        }, 250)

    }
</script>



<script type="text/javascript">
    $(function () {
        jQuery('.popovers').popover();
    });
</script>
