@using BiskaUtil
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model  FmYeterlikBasvuruDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kontrolEdilmeyenBasvuruIds = (List<int>)ViewBag.kontrolEdilmeyenBasvuruIds;
    var filteredOgrenciIds = (List<int>)ViewBag.filteredOgrenciIds;
    var filteredDanismanIds = (List<int>)ViewBag.filteredDanismanIds;
    var onayYapmayanKomiteIds = (List<int>)ViewBag.onayYapmayanKomiteIds;
    var onayYapmayanJuriEmails = (List<string>)ViewBag.onayYapmayanJuriEmails;
    var kayitYetki = RoleNames.YeterlikGelenBasvurularKayit.InRoleCurrent(); 
}


<div class="row">
    @using (Html.BeginForm("Index", "YeterlikGelenBasvurular", FormMethod.Post, new { id = "frmGBasvurular" }))
    {
        <div class="col-md-12">
            @Html.Hidden("export", false)
            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-info" id="pnlFltr">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-filter"></i> Filtre İşlemi
                    </h3>
                    <ul class="panel-controls">

                        @if (Model.RowCount > 0)
                        {
                            if (UserIdentity.Current.IsAdmin && kontrolEdilmeyenBasvuruIds.Any())
                            {

                                <li>
                                    <a href="javascript:void(0);" onclick="IslemGormeyenlerOnay()" title="Kontrol Aşamasında Olan Başvuruları Onayla"><i class="fa fa-thumbs-o-up fa-lg"></i></a>
                                    <div id="BbOnayContent" class="hide">
                                        <table class="table" style="width:100%;table-layout:fixed;">
                                            <tr>
                                                <td width="120">Gönderilecek Açıklama</td>
                                                <td>
                                                    <textarea style="max-width:462px; min-height:100px; width:100%;" id="OAciklama"> </textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <script>
                                    function IslemGormeyenlerOnay() {
                                        var kontrolEdilmeyenTalepIds = @Json.Encode(kontrolEdilmeyenBasvuruIds);
                                        Swal.fire({
                                            title: 'Toplu Yeterlik Başvuru Onay İşlemi',
                                            text: "Kontrol aşamasında olan '@kontrolEdilmeyenBasvuruIds.Count' adet başvuruyu onaylamak istiyor musunuz?",
                                            type: 'warning',
                                            icon: "question",
                                            showCancelButton: true,
                                            confirmButtonText: 'Onayla',
                                            confirmButtonColor: "gren",
                                            cancelButtonText: 'Vazgeç',
                                            showLoaderOnConfirm: true,
                                            backdrop: true,
                                            padding: '2em',
                                            backdrop: true,
                                            allowOutsideClick: false,
                                            preConfirm: function () {
                                                $('.swal2-cancel').first().text("Onaylanıyor...");
                                                return new Promise(function (resolve) {
                                                    $.ajax({
                                                        url: '@Url.Action("EnstituTopluOnay", "YeterlikGelenBasvurular")',
                                                        type: 'POST',
                                                        cache: false,
                                                        data: { kontrolEdilmeyenTalepIds },
                                                        success: function (result) {
                                                            $('.swal2-cancel').first().text("Vazgeç");
                                                            swal.fire({
                                                                html: result.message,
                                                                icon: (result.success ? "success" : "error"),
                                                                type: (result.success ? "success" : "error"),
                                                                confirmButtonText: 'tamam',
                                                                padding: '2em'
                                                            })

                                                        }
                                                    });
                                                });
                                            }
                                        });
                                    }
                                    </script>
                                </li>
                            }
                            if (RoleNames.YeterlikBasvuruOnayYetkisi.InRole())
                            {
                                if (filteredOgrenciIds.Any())
                                {
                                    <li>
                                        <a href="javascript:void(0)" onclick="mGonderGB('@string.Join(",",filteredOgrenciIds)',true,false)" title="Listelenen Başvurular için @filteredOgrenciIds.Count Öğrenciye Mail Gönder"><i class="fa fa-envelope" aria-hidden="true"> Ö</i></a>
                                    </li>
                                }
                                if (filteredDanismanIds.Any())
                                {
                                    <li>
                                        <a href="javascript:void(0)" onclick="mGonderGB('@string.Join(",",filteredDanismanIds)',true,false)" title="Listelenen Başvurular için @filteredDanismanIds.Count Danışmana Mail Gönder"><i class="fa fa-envelope" aria-hidden="true"> D</i></a>
                                    </li>
                                }
                                if (onayYapmayanKomiteIds.Any())
                                {
                                    <li>
                                        <a href="javascript:void(0)" onclick="mGonderGB('@string.Join(",",onayYapmayanKomiteIds)',true,false)" title="Listelenen Başvurular için Onay Yapmayan @onayYapmayanKomiteIds.Count  Komite Üyesine Mail Gönder"><i class="fa fa-envelope" aria-hidden="true"> K</i></a>
                                    </li>
                                }
                                if (onayYapmayanJuriEmails.Any())
                                {
                                    <li>
                                        <a href="javascript:void(0)" onclick="mGonderGB('@string.Join(",",onayYapmayanJuriEmails)',true,false)" title="Listelenen Başvurular için Değerlendirme Yapmayan @onayYapmayanJuriEmails.Count Jüri Üyesine Mail Gönder"><i class="fa fa-envelope" aria-hidden="true"> J</i></a>
                                    </li>
                                }

                            }
                            <li>
                                <a href="javascript:void(0);" onclick="$('#export').val('true'); $('#frmGBasvurular').submit(); $('#export').val('false');" title="Listelenen kaydı excel e aktar"><i class="fa fa-download"></i></a>
                            </li>


                        }
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" style="width:100%;table-layout:fixed;">
                        <tr>
                            <td>
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="150">Akademik Dönem</td>
                                            <td>
                                                @Html.DropDownList("YeterlikSurecID", null, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td width="150">Öğrenim Seviyesi</td>
                                            <td>
                                                @Html.DropDownList("OgrenimTipID", null, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                    <tr>
                                        <td width="150">Başvuru Durumu</td>
                                        <td>
                                            @Html.DropDownList("BasvuruDurumID", null, new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding-left: 10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tbody>
                                    <tr>
                                        <td width="150">Anabilim Dalı</td>
                                        <td>
                                            @Html.DropDownList("AnabilimDaliID", null, new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                               
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="padding-left: 10px; vertical-align: top;">
                                <table style="width: 100%; table-layout: fixed;">
                                    <tbody>
                                    <tr>
                                        <td width="150">Aranacak Kelime</td>
                                        <td>

                                            <table style="width: 100%; table-layout: fixed;">
                                                <tbody>
                                                <tr>
                                                    <td><input name="AdSoyad" id="AdSoyad" type="text" value="@Model.AdSoyad" onkeypress="if (event.which == 13) { $('#frmGBasvurular').submit(); }" class="form-control"/></td>
                                                    <td width="110">
                                                        <a href="javascript:void(0);" onclick="$('#frmGBasvurular').submit();" class="btn btn-info" style="width: 110px;"><i class="glyphicon glyphicon-filter"> Filtrele</i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Gelen Başvurular</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" style="width:100%;">
                        <thead>
                            <tr>
                                <th width="75"></th>
                                <th width="40"></th>
                                <th class="sirala" field="AdSoyad">Ad Soyad</th>
                                <th width="80" class="sirala" field="BasvuruTarihi" width="80">B.Tarihi</th>
                                <th>Başvuru Durumu</th>
                                <th width="45"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.RowCount > 0)
                            {

                                var rowIndex = Model.StartRowIndex;
                                foreach (var item in Model.Data)
                                {
                                    rowIndex++;
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@rowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.UniqueID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="ShowDetail('@item.UniqueID')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-down"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <img src="@item.ResimAdi.ToKullaniciResim()" style="width:40px;height:40px;cursor:pointer;" onclick="DetayGor('@item.UserKey')" class="img-circle img-thumbnail">
                                        </td>
                                        <td>
                                            @item.AdSoyad <br /> @item.OgrenciNo
                                        </td>
                                        <td>
                                            @item.BasvuruTarihi
                                        </td>
                                        <td class="yeterlikBasDurum_@item.UniqueID">
                                            @item.ToYeterlikDurum()
                                        </td>
                                        <td>
                                            @if (kayitYetki && !item.IsEnstituOnaylandi.HasValue)
                                            {
                                                <a href="@Url.Action("BasvuruYap", "Yeterlik", new { id = item.UniqueID })"><i style="font-size: 11pt;" class="fa fa-edit tooltips" data-style="blue" data-original-title="Düzelt"></i></a>
                                                <a href="javascript:void(0)" onclick="BasvuruSil(this,'@item.UniqueID','@item.AdSoyad')"><i style="font-size: 11pt;" class="glyphicon glyphicon-trash tooltips" data-style="blue" data-original-title="Sil"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="cls-@item.UniqueID" style="display:none">
                                        <td id="cls-@item.UniqueID" colspan="6" style="padding: 1px 1px 2px 75px;"></td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" style="text-align: center;">
                                        Listelenen Kayıt Yok
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
@if (Model.RowCount > 0 && !kayitYetki && Model.Data.First().TezDanismanID == UserIdentity.Current.Id)
{
    var firstRowUniqueID = Model.Data.First().UniqueID;
    <script>
        setTimeout(function () { ShowDetail('@firstRowUniqueID') }, 200);
    </script>
}
<script>

    function BasvuruSil(sndr, uniqueId, adsoyad) {
        Swal.fire({
            text: adsoyad + " öğrencisine ait Yeterlik başvurusunu silmek istiyor musunuz?",
            type: 'warning',
            icon: "question",
            showCancelButton: true,
            confirmButtonText: 'Yeterlik Başvurusunu Sil',
            confirmButtonColor: "maroon",
            cancelButtonText: 'Vazgeç',
            showLoaderOnConfirm: true,
            backdrop: true,
            padding: '2em',
            backdrop: true,
            allowOutsideClick: false,
            preConfirm: function () {
                $('.swal2-cancel').first().text("Siliniyor...");
                return new Promise(function (resolve) {
                    $.ajax({
                        url: '@Url.Action("Sil", "Yeterlik")',
                        data: {  uniqueId },
                        success: function (result) {
                            if (result.IsSuccess) {
                                $(sndr).parents('tr').first().remove();
                                $(".cls-" + uniqueId).remove();
                            }
                            swal.fire({
                                html: result.messageView,
                                icon: (result.IsSuccess ? "success" : "error"),
                                type: (result.IsSuccess ? "success" : "error"),
                                confirmButtonText: 'tamam',
                                padding: '2em'
                            });
                        }
                    });

                });
            }
        });
    }
    function ShowDetail(id) {  
        var rwID = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled) GetDetail(id);
    }
    function GetDetail(id) {
        var panel = $('#bsvrDet_' + id);
        PanelRefresh(panel, false);
        $.ajax({
            url: '@Url.Action("GetDetail","Yeterlik")',
            data: { id: id },
            success: function (result) {
                $('#cls-' + id).html(result);
                GetBasvuruDurum(id);
                PanelRefresh(panel, true);
            },
            error: function (err) {
                alert(err.responseText);
                PanelRefresh(panel, true);
            }
        });

    }
    function GetBasvuruDurum(id) {
        $.ajax({
            url: '@Url.Action("GetBasvuruDurum", "Yeterlik")',
            data: { id },
            success: function (result) {
                $('.yeterlikBasDurum_' + id).html(result);
            },
            complete: function (err) {
            }
        });
    }

</script> 