@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model IEnumerable<LisansUstuBasvuruSistemi.Utilities.Dtos.MezuniyetSureciYayinKontrolBilgiDto>
@{
    Layout = null;
}

<div class="panel panel-info" style="margin:0px;">
    <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
        <h3 class="panel-title">
            <i class="fa fa-list-alt"></i>Mezuniyet Süreci Tez Şablon Kontrol Verileri
        </h3>
    </div>
    <div class="panel panel-primary" style="margin: 0px; padding: 0px;">
        <div class="panel-body" style="margin: 0px; padding: 0px;">
            <div class="col-md-12" style="text-align: left; height: 345px; overflow: auto;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th class="info" colspan="3" style="text-align:center;">Bu Süreçte Yapılan</th>
                            <th class="warning" colspan="3" style="text-align:center;">Tüm Süreçlerde Yapılan</th>
                        </tr>
                        <tr class="info">
                            <th width="25"></th>
                            <th>Kontrol<br />Sorumlusu</th>
                            <th style="text-align:center;">Toplam<br />Atanan Tez</th>
                            <th style="text-align:center;">Kendine Atanan<br />Tez Kontrolü</th>
                            <th style="text-align:center;">Tüm Tez <br />Kontrolleri</th>
                            <th class="warning" style="text-align:center;">Toplam<br />Atanan Tez</th>
                            <th class="warning" style="text-align:center;">Kendine Atanan<br />Tez Kontrolü</th>
                            <th class="warning" style="text-align:center;">Tüm Tez <br />Kontrolleri</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int rowIndex = 0;
                            foreach (var item in Model)
                            {
                                rowIndex++;
                                <tr>

                                    <td style="width: 30px;">@rowIndex</td>  
                                    <td><span><img src="@item.ResimAdi.ToKullaniciResim()" style="width:30px;height:30px;cursor:pointer;padding:1px;" onclick="DetayGor('@item.UserKey')" class="img-thumbnail">@item.AdSoyad</span> </td>
                                    <td style="text-align:center;">@item.SurecToplamAtanan</td>
                                    <td style="text-align:center;">@item.SurecToplamKendiOnayi</td>
                                    <td style="text-align:center;">@item.SurecToplamOnay</td>
                                    <td class="warning" style="text-align:center;">@item.GenelToplamAtanan</td>
                                    <td class="warning" style="text-align:center;">@item.GenelToplamKendiOnayi</td>
                                    <td class="warning" style="text-align:center;">@item.GenelToplamOnay</td>
                                </tr>
                              
                            }
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>