@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@model MSurecDetay
@{
    Layout = null; 
    var tbName = TabAdiEnum.MezuniyetSureciTn + "-" + Model.MezuniyetSurecID;
}
<style>
    . {
        text-align: right;
        font-weight: bold;
        font-size: 11pt;
        margin: 0px;
        color: black;
    }

    .myValueTdx {
        text-align: left;
        font-weight: bold;
        font-size: 11pt;
        margin: 0px;
        color: black;
    }
</style>
<script>
    function tbChangeSetPage(tabname, Id, tID) {
        tabchangeSet(tabname, tID);
        var thtml = $('#' + tabname + '-' + tID).html().trim();
        if (thtml == "")
            subData(Id, false, null);
    }
</script>
<div class="panel panel-success" style="vertical-align:top;height:95%;" id="pnglDB_@Model.MezuniyetSurecID">
    <div class="panel-body" style="margin: 0px; padding: 0px;">
        <div class="panel panel-default tabs" style="margin-bottom:0px; padding:0px;">
            <ul class="nav nav-tabs MsTabBtn_@Model.MezuniyetSurecID" role="tablist">
                <li class="@(Model.SelectedTabIndex == 1 ? "active" : "") bnt-@tbName-1"><a href="#" onclick="tbChangeSetPage('@tbName','@Model.MezuniyetSurecID',1)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="glyphicon glyphicon-time" ></i> <span class="" style="text-align:right;font-size:9pt;margin:0px;">Süreç</span></a></li>
                <li class="@(Model.SelectedTabIndex == 2 ? "active" : "") bnt-@tbName-2"><a href="#" onclick="tbChangeSetPage('@tbName','@Model.MezuniyetSurecID',2)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-list-alt fa-lg" ></i> <span class="" style="text-align:right;font-size:9pt;margin:0px;">Yönetmelik Bilgileri</span></a></li>
                <li class="@(Model.SelectedTabIndex == 3 ? "active" : "") bnt-@tbName-3"><a href="#" onclick="tbChangeSetPage('@tbName','@Model.MezuniyetSurecID',3)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-file-text-o fa-lg" ></i> <span class="" style="text-align:right;font-size:9pt;margin:0px;">Tez Kontrol Bilgileri</span></a></li>

                <li><a href="javascript:void(0);" onclick="subData('@Model.MezuniyetSurecID');" class="panel-refresh"><span class="fa fa-refresh myValueTdx" ></span></a></li>

            </ul>
            <div class="panel-body tab-content" style="padding:0px;">
                <input type="text" id="SelectedTb-@tbName" style="display:none;" value="@Model.SelectedTabIndex" />
                <div class="tab-pane @(Model.SelectedTabIndex == 1 ? "active" : "") " id="@tbName-1">

                </div>
                <div class="tab-pane @(Model.SelectedTabIndex == 2 ? "active" : "") " id="@tbName-2">

                </div>
                <div class="tab-pane @(Model.SelectedTabIndex == 3 ? "active" : "") " id="@tbName-3">

                </div>
            </div>
        </div>
    </div>
</div>
