@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model MSurecDetay
@{
    Layout = null;
    string color = "color=blue";
    var nowDate = DateTime.Now;
    bool basvuruyaAcik = Model.BaslangicTarihi <= nowDate && Model.BitisTarihi >= nowDate;
    string colorMul = "green";
    string colorSg = "gray";
    string colorUyari = "red";

}
<div class="panel panel-info" style="margin:0px;">
    <div class="panel-heading padding-0" style="padding:0px;margin:0px;">
        <h3 class="panel-title">
            <i class="fa fa-list-alt"></i>Mezuniyet Süreci Bilgisi
        </h3>
    </div>
    <div class="panel panel-primary" style="margin: 0px; padding: 0px;">
        <div class="panel-body" style="margin: 0px; padding: 0px;">
            <div class="col-md-12" style="text-align: left; height: 345px; overflow: auto;">
                <table class="table" style="font-size:9pt;margin:0px;@color">
                    <tr>
                        <td style="text-align:right;" width="230">Enstitü Adı</td>
                        <td width="10">:</td>
                        <td>
                            @Model.EnstituAdi
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">Eğitim Öğretim Yılı</td>
                        <td>:</td>
                        <td style="font-weight:bold;"><span style="color:@(basvuruyaAcik   ? colorMul : colorSg);">@Model.BaslangicYil / @Model.BitisYil @Model.DonemAdi</span></td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">Süreç Tarih Aralığı</td>
                        <td>:</td>
                        <td style="font-weight:bold;">
                            @if (basvuruyaAcik)
                            {
                                <span style="color:@colorMul;">@Model.BaslangicTarihi.ToFormatDateAndTime() / @Model.BitisTarihi.ToFormatDateAndTime() (Aktif)</span>
                            }
                            else
                            {
                                if (Model.BitisTarihi < nowDate)
                                {
                                    <span style="color:@colorSg;">@Model.BaslangicTarihi.ToFormatDateAndTime() / @Model.BitisTarihi.ToFormatDateAndTime() (Pasif)</span>
                                }
                                else if (Model.BaslangicTarihi > nowDate)
                                {
                                    <span style="color:@colorSg;">@Model.BaslangicTarihi.ToFormatDateAndTime() / @Model.BitisTarihi.ToFormatDateAndTime() (Pasif)</span>
                                }

                            }
                        </td>
                    </tr>
                    @foreach (var item in Model.ToplamBasvuruBilgisi.ListB.Where(p => p.ID > -1))
                    {
                        <tr>
                            <td style="text-align:right;">@item.Key</td>
                            <td>:</td>
                            <td>
                                <span style="color:@item.Color;">&nbsp&nbsp<i class="@item.ClassName" style="font-size:11pt;"></i>@item.Key:<b>@item.Toplam</b></span>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="text-align:right;">Süreçte Son Güncelleme Yapan</td>
                        <td>:</td>
                        <td>@Model.IslemYapan [@Model.IslemTarihi.ToFormatDateAndTime()]</td>
                    </tr>
                </table>

                <div class="panel panel-default" style="padding: 0px; margin: 0px;">
                    <div class="panel-heading padding-0">
                        <h4 class="panel-title"><i class="fa fa-pencil"></i> Mezuniyet Başvurusu ve  Süreci için gerekli kriterler</h4>
                    </div>
                    <div class="panel-body padding-0">

                        <table class="table" style="width:100%;table-layout:fixed;">
                            <thead>
                                <tr>
                                    <th>Öğrenim Tipleri</th>
                                    <th style="font-size:7pt;" width="70" title="Öğrencinin mezuniyet başvurusu yapabilmesi için en fazla kaçıncı dönemde olması gerekir.">Dönem K.</th>
                                    <th style="font-size:7pt;" width="80" title="Son dönem kayıt yaptırması gereken ders kodları">K.Y.D.K</th>
                                    <th style="font-size:7pt;" width="40" title="Etik dersi notu belirlenen nottan düşük ise başvuru yapamayacak. (Not kriteri belirlenmezse öğrenci bu kontrole tabi tutulmaz)">Etik <br /> Not</th>
                                    <th style="font-size:7pt;" width="40" title="Seminer dersi notu belirlenen nottan düşük ise başvuru yapamayacak. (Not kriteri belirlenmezse öğrenci bu kontrole tabi tutulmaz)">Smnr <br /> Not</th>
                                    <th style="font-size:7pt;" width="40" title="Tüm dönem toplam kredi kriteri">Min <br /> Kredi</th>
                                    <th style="font-size:7pt;" width="40" title="Genel AGNO kriteri">Min <br /> AGNO</th>
                                    <th style="font-size:7pt;" width="40" title="Genel AKTS kriteri">Min <br /> AKTS</th>
                                    <th style="font-size:7pt;" width="50" title="Mezuniyet başvurusu kabulü için en fazla tek kaynak benzerlik oranı kontrol kriteri (boş bırakılırsa bu veri istenmez).">Tek Kay.<br />Bnz.Orn.</th>
                                    <th style="font-size:7pt;" width="50" title="Mezuniyet Başvuru kabulü için toplam benzerlik oranı kontrol kriteri (boş bırakılırsa bu veri istenmez).">Toplam<br />Bnz.Orn.</th>
                                    <th style="font-size:7pt;" width="50" title="EYK tarihinden sonra sınav talebi en erken kaç gün sonra yapılabilir (Gün)">Snv.Talep<br />Suresi</th>
                                    <th style="font-size:7pt;" width="50" title="EYK tarihinden sonra sınav talebi en geç kaç ay sonra yapılabilir (Ay)">Snv.Talep<br />Suresi</th>
                                    <th style="font-size:7pt;" width="50" title="Tez sınavı uzatma sonrası en geç kaç ay içinde öğrenci tez teslimi yapmalı (Ay)">U.Sonrasi<br />Tez Teslim</th>
                                    <th style="font-size:7pt;" width="50" title="Tez sınavı uzatma sonrası en geç kaç ay içinde sınav alınmalı (Ay)">U.Sonrasi<br />Snv.Talep</th>
                                    <th style="font-size:7pt;" width="50" title="Tez sınavdan başarılı olunduktan sonra tez teslimi en geç kaç ay içinde yapılmalı (Ay)">Tez Teslim<br />Süresi</th>
                                </tr>
                            </thead>
                            <tbody id="Rw_tbody">
                                @foreach (var item in Model.MezuniyetSureciOgrenimTipKriterleris)
                                {

                                    <tr class="rw_bst">
                                        <td>
                                            <div class="form-group">
                                                <input type="text" name="MezuniyetSureciOgrenimTipKriterID" value="@item.MezuniyetSureciOgrenimTipKriterID" class="hide">
                                                <input type="text" name="OgrenimTipID" value="@item.OgrenimTipID" class="hide" />
                                                <input type="text" name="OgrenimTipKod" value="@item.OgrenimTipKod" class="hide" />
                                                @item.OgrenimTipleri.OgrenimTipAdi
                                            </div>
                                        <td>@(item.AktifDonemMaxKriteri+". Dönem")</td>
                                        <td>@item.AktifDonemDersKodKriteri</td>
                                        <td>@item.AktifDonemEtikNotKriteri</td>
                                        <td>@item.AktifDonemSeminerNotKriteri</td>
                                        <td>@item.AktifDonemToplamKrediKriteri</td>
                                        <td>@item.AktifDonemAgnoKriteri </td>
                                        <td>@item.AktifDonemAktsKriteri</td>
                                        <td>@(item.TekKaynakOrani.HasValue?"%"+item.TekKaynakOrani.Value:"Yok")</td>
                                        <td>@(item.ToplamKaynakOrani.HasValue?"%"+item.ToplamKaynakOrani.Value:"Yok")</td>
                                        <td>@item.SinavKacGunSonraAlabilir</td>
                                        <td>@item.SinavEnGecKacAySonraAlabilir</td>
                                        <td>@item.SinavUzatmaOgrenciTaahhutMaxAy</td>
                                        <td>@item.SinavUzatmaSinavAlmaSuresiMaxAy</td>
                                        <td>@item.TezTeslimSuresiAy</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

