@using LisansUstuBasvuruSistemi.Models
@using LisansUstuBasvuruSistemi.Models.FilterModel @using LisansUstuBasvuruSistemi.Utilities.Enums
@model msUrecDetay
@{
    Layout = null;
    var IsDelete = (bool)ViewBag.IsDelete;
    string Id = IsDelete ? Model.MezuniyetSurecID.ToString() + "_cp" : Model.MezuniyetSurecID.ToString();
    string Color = "color=blue";
    var tbName = TabAdlari.MezuniyetSureciTN + "-" + Id;
}
<style>
    .myCaptionTdx {
        text-align: right;
        font-weight: bold;
        font-size: 11pt;
        margin: 0px;
        color: black;
    }

    .myValueTdx {
        text-align: left;
        font-weight: bold;
        font-size: 11pt;
        margin: 0px;
        color: black;
    }
</style>
<script>
    function tbChangeSetPage(tabname, Id, tID) {
        tabchangeSet(tabname, tID);
        var thtml = $('#' + tabname + '-' + tID).html().trim();
        if (thtml == "")
            subData(Id, false, null);
    }
</script>
<div class="panel panel-success" style="vertical-align:top;height:95%;" id="pnglDB_@Model.MezuniyetSurecID">
    <div class="panel-body" style="margin: 0px; padding: 0px;">
        <div class="panel panel-default tabs" style="margin-bottom:0px; padding:0px;">
            <ul class="nav nav-tabs MsTabBtn_@Id" role="tablist">
                <li class="@(Model.SelectedTabIndex == 1 ? "active" : "") bnt-@tbName-1"><a href="#" onclick="tbChangeSetPage('@tbName','@Id',1)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="glyphicon glyphicon-time myCaptionTdx" style="@Color"></i>&nbsp; <span class="myCaptionTdx" style="@Color">Süreç</span></a></li>
                <li class="@(Model.SelectedTabIndex == 2 ? "active" : "") bnt-@tbName-2"><a href="#" onclick="tbChangeSetPage('@tbName','@Id',2)" style="cursor:pointer;" role="tab" data-toggle="tab"> <i class="fa fa-list-alt myCaptionTdx" style="@Color"></i>&nbsp; <span class="myCaptionTdx" style="@Color">Yönetmelik Bilgileri</span></a></li>
                     @if (!IsDelete)
                {
                    <li><a href="javascript:void(0);" onclick="subData('@Id');" class="panel-refresh"><span class="fa fa-refresh myValueTdx" style="@Color"></span></a></li>
                }
            </ul>
            <div class="panel-body tab-content" style="padding:0px;">
                <input type="text" id="SelectedTb-@tbName" style="display:none;" value="@Model.SelectedTabIndex" />
                <div class="tab-pane @(Model.SelectedTabIndex == 1 ? "active" : "") " id="@tbName-1">

                </div>
                <div class="tab-pane @(Model.SelectedTabIndex == 2 ? "active" : "") " id="@tbName-2">

                </div>
              
            </div>
        </div>
    </div>
</div>
 