@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.Helpers
@model KmMezuniyetSureciOgrenimTipModel
@{
    Layout = null;
}

<div class="panel panel-default" style="padding: 0px; margin: 0px;">
    <div class="panel-heading padding-0">
        <h4 class="panel-title"><i class="fa fa-pencil"></i> Mezuniyet Başvurusu ve  Süreci için gerekli kriterler</h4>
    </div>
    <div class="panel-body padding-0">

        <table class="table" style="width:100%;table-layout:fixed;">
            <thead>
                <tr>
                    <th>Öğrenim Tipleri</th>
                    <th width="70" title="Öğrencinin mezuniyet başvurusu yapabilmesi için en fazla kaçıncı dönemde olması gerekir.">Dönem K.</th>
                    <th width="100" title="Son dönem kayıt yaptırması gereken ders kodları">K.Y.D.K</th>
                    <th width="60" title="Etik dersi notu belirlenen nottan düşük ise başvuru yapamayacak. (Not kriteri belirlenmezse öğrenci bu kontrole tabi tutulmaz)">Etik Not</th>
                    <th width="60" title="Seminer dersi notu belirlenen nottan düşük ise başvuru yapamayacak. (Not kriteri belirlenmezse öğrenci bu kontrole tabi tutulmaz)">Smnr Not</th>
                    <th width="60" title="Tüm dönem toplam kredi kriteri">Min Kredi</th>
                    <th width="60" title="Genel AGNO kriteri">Min AGNO</th>
                    <th width="60" title="Genel AKTS kriteri">Min AKTS</th>
                    <th width="40" title="EYK tarihinden sonra sınav talebi en erken kaç gün sonra yapılabilir (Gün)">S.R.G</th>
                    <th width="50" title="Tez sınavı uzatma sonrası en geç kaç gün içinde öğrenci tez teslimi yapmalı (Gün)">U.S.T.T</th>
                    <th width="50" title="Tez sınavı uzatma sonrası en geç kaç gün içinde sınav alınmalı (Gün)">U.S.S.R</th>
                    <th width="40" title="Tez sınavdan başarılı olunduktan sonra tez teslimi en geç kaç gün içinde yapılmalı (Gün)">T.T.S</th>
                </tr>
            </thead>
            <tbody id="Rw_tbody">
                @foreach (var item in Model.OgrenimTipKriterList.OrderBy(t => t.OgrenimTipAdi))
                {

                    <tr class="rw_bst">
                        <td>
                            <div class="form-group">
                                <input type="text" name="MezuniyetSureciOgrenimTipKriterID" value="@item.MezuniyetSureciOgrenimTipKriterID" class="hide">
                                <input type="text" name="OgrenimTipID" value="@item.OgrenimTipID" class="hide" />
                                <input type="text" name="OgrenimTipKod" value="@item.OgrenimTipKod" class="hide" />
                                @item.OgrenimTipAdi
                            </div>
                        <td>
                            <div class="form-group">
                                <select class="form-control" name="AktifDonemMaxKriteri">
                                    @for (int i = 1; i <= 20; i++)
                                    {
                                        <option value="@i" @((i == item.AktifDonemMaxKriteri).ToSelected())>@(i+". Dönem")</option>

                                    }
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group"> 
                                <input type="text" class="form-control" name="AktifDonemDersKodKriteri" value="@item.AktifDonemDersKodKriteri" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" name="AktifDonemEtikNotKriteri">
                                    <option value=""></option>
                                    @foreach (var itemNot in HarfNotuHelper.NotDegerleri)
                                    {
                                        <option @((itemNot == item.AktifDonemEtikNotKriteri).ToSelected())>@itemNot</option>

                                    }
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" name="AktifDonemSeminerNotKriteri">
                                    <option value=""></option>
                                    @foreach (var itemNot in HarfNotuHelper.NotDegerleri)
                                    {
                                        <option @((itemNot == item.AktifDonemSeminerNotKriteri).ToSelected())>@itemNot</option>

                                    }
                                </select>
                            </div>
                        </td> 
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="AktifDonemToplamKrediKriteri" value="@item.AktifDonemToplamKrediKriteri">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="AktifDonemAgnoKriteri" value="@item.AktifDonemAgnoKriteri">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="AktifDonemAktsKriteri" value="@item.AktifDonemAktsKriteri">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="SinavKacGunSonraAlabilir" value="@item.SinavKacGunSonraAlabilir">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="SinavUzatmaOgrenciTaahhutMaxGun" value="@item.SinavUzatmaOgrenciTaahhutMaxGun">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="SinavUzatmaSinavAlmaSuresiMaxGun" value="@item.SinavUzatmaSinavAlmaSuresiMaxGun">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="TezTeslimSuresiGun" value="@item.TezTeslimSuresiGun">
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



