@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model KmMezuniyetSureciOgrenimTipModel
@{
    Layout = null;
}

<div class="panel panel-default" style="padding: 0px; margin: 0px;">
    <div class="panel-heading padding-0">
        <h4 class="panel-title"><i class="fa fa-pencil"></i> Mezuniyet Başvurusu ve  Süreci için gerekli kriterler</h4>
    </div>
    <div class="panel-body padding-0">

        <table class="table" style="width:100%;table-layout:fixed;">
            <thead>
                <tr>
                    <th>Öğrenim Tipleri</th>
                    <th width="120" title="Son dönem kayıt yaptırması gereken ders kodları">K.Y.D.K</th>
                    <th width="60" title="Etik dersi notu belirlenen nottan düşük ise başvuru yapamayacak. (Not kriteri belirlenmezse öğrenci bu kontrole tabi tutulmaz)">Etik Not</th>
                    <th width="60" title="Seminer dersi notu belirlenen nottan düşük ise başvuru yapamayacak. (Not kriteri belirlenmezse öğrenci bu kontrole tabi tutulmaz)">Smnr Not</th>
                    <th width="60" title="Tüm dönem toplam kredi kriteri">Min Kredi</th>
                    <th width="60" title="Genel AGNO kriteri">Min AGNO</th>
                    <th width="60" title="Genel AKTS kriteri">Min AKTS</th>
                    <th width="40" title="EYK tarihinden sonra sınav talebi en geç kaç gün sonra yapılabilir (Gün)">S.R.G</th>
                    <th width="50" title="Tez sınavı uzatma sonrası en geç kaç gün içinde öğrenci tez teslimi yapmalı (Gün)">U.S.T.T</th>
                    <th width="50" title="Tez sınavı uzatma sonrası en geç kaç gün içinde sınav alınmalı (Gün)">U.S.S.R</th>
                    <th width="40" title="Tez sınavdan başarılı olunduktan sonra tez teslimi en geç kaç gün içinde yapılmalı (Gün)">T.T.S</th>
                </tr>
            </thead>
            <tbody id="Rw_tbody">
                @foreach (var item in Model.OgrenimTipKriterList.OrderBy(t => t.OgrenimTipAdi))
                {

                    <tr class="rw_bst">
                        <td>
                            <div class="form-group">
                                <input type="text" name="MezuniyetSureciOgrenimTipKriterID" value="@item.MezuniyetSureciOgrenimTipKriterID" class="hide">
                                <input type="text" name="OgrenimTipID" value="@item.OgrenimTipID" class="hide" />
                                <input type="text" name="OgrenimTipKod" value="@item.OgrenimTipKod" class="hide" />
                                @item.OgrenimTipAdi

                            </div>
                        <td>
                            <div class="form-group">

                                <input type="text" class="form-control" name="MBasvuruSonDonemKaydiKontrolEdilecekDersKodlari" value="@item.MBasvuruSonDonemKaydiKontrolEdilecekDersKodlari" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" name="MBasvuruEtikNotKriteri">
                                    <option value=""></option>
                                    @foreach (var itemNot in YeterlikBus.NotDegerleri)
                                    {
                                        <option @((itemNot == item.MBasvuruEtikNotKriteri).ToSelected())>@itemNot</option>

                                    }
                                </select> 
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" name="MBasvuruSeminerNotKriteri">
                                    <option value=""></option>
                                    @foreach (var itemNot in YeterlikBus.NotDegerleri)
                                    {
                                        <option @((itemNot == item.MBasvuruSeminerNotKriteri).ToSelected())>@itemNot</option>

                                    }
                                </select>  
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="MBasvuruToplamKrediKriteri" value="@item.MBasvuruToplamKrediKriteri">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="MBasvuruAGNOKriteri" value="@item.MBasvuruAGNOKriteri">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="MBasvuruAKTSKriteri" value="@item.MBasvuruAKTSKriteri">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="MBSRTalebiKacGunSonraAlabilir" value="@item.MBSRTalebiKacGunSonraAlabilir">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="MBSinavUzatmaOgrenciTaahhutMaxGun" value="@item.MBSinavUzatmaOgrenciTaahhutMaxGun">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="MBSinavUzatmaSinavAlmaSuresiMaxGun" value="@item.MBSinavUzatmaSinavAlmaSuresiMaxGun">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="MBTezTeslimSuresiGun" value="@item.MBTezTeslimSuresiGun">
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



