@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.MenuAndRoles
@model FmMezuniyetSureci
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var indexModel = (MIndexBilgi)ViewBag.IndexModel;
    var kayit = RoleNames.MezuniyetSureciKayıt.InRoleCurrent();
    var silme = RoleNames.MezuniyetSureciSil.InRoleCurrent();


}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">

            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-danger">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-clock-o"></i>Mezuniyet Süreçleri</h3>
                    <ul class="panel-controls">
                        @if (kayit)
                        {
                            <li><span class="label label-primary label-form"><a style="width:54px;color:white;" href="@Url.Action("Kayit")"><i class="fa fa-plus fa-lg"></i> Yeni Süreç Ekle</a></span></li>
                        }
                        <li><span class="label label-success label-form">Toplam: @indexModel.Toplam</span></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="125"></th>
                                <th>Öğretim Yılı</th>
                                <th width="105" class="sirala" field="BaslangicTarihi">Başlangıç Tar.</th>
                                <th width="105" class="sirala" field="BitisTarihi">Bitiş Tar.</th>
                                <th width="60" class="sirala" field="IsAktif">Durum</th>
                            </tr>

                        </thead>
                        <tbody>
                            @if (Model.RowCount > 0)
                            {
                                int rowIndex = Model.StartRowIndex;
                                foreach (var item in Model.Data)
                                {
                                    bool suanAktif = item.IsAktif && (item.BaslangicTarihi <= DateTime.Now && item.BitisTarihi >= DateTime.Now);
                                    rowIndex++;
                                    <tr class="delrw_@item.MezuniyetSurecID" style="@(suanAktif?"color:green;font-weight:bold;":"")">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width: 30px;">@rowIndex</td>
                                                    <td style="width: 50px;">
                                                        <div class="btn-group">
                                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-cogs"></i></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li role="presentation" class="dropdown-header">İşlemler</li>
                                                                @*<li class="divider" style="padding-top: 0px; margin-top: 4px;"></li>*@

                                                                @if (kayit)
                                                                {
                                                                    <li>
                                                                        <a href="@Url.Action("Kayit")"><i class="fa fa-pencil"></i>Yeni</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="@Url.Action("Kayit", new { id = item.MezuniyetSurecID })"><i class="fa fa-edit"></i>Düzenle</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0)" onclick="GetOtoMailAyarView(@item.MezuniyetSurecID)"><i class="fa fa-cog"></i>Oto Mail Ayarları</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0)" onclick="GetKriterMuafOgrenciler(@item.MezuniyetSurecID)"><i class="fa fa-group"></i>Kriterden Muaf Tutulanlar</a>
                                                                    </li>
                                                                }
                                                                @if (silme)
                                                                {
                                                                    <li>
                                                                        <a href="javascript:void(0)" onclick="SilmeOnay(@item.MezuniyetSurecID)"><i class="fa fa-trash-o"></i>Sil</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow-ana-@item.MezuniyetSurecID" title="Detayı açmak veya kapatmak için tıklayınız." onclick="ShowDetail(@item.MezuniyetSurecID,'ana-')">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-down"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>@item.BaslangicYil / @item.BitisYil @item.DonemAdi @item.SiraNo</td>
                                        <td>
                                            @item.BaslangicTarihi.ToFormatDateAndTime()
                                        </td>
                                        <td>
                                            @item.BitisTarihi.ToFormatDateAndTime()
                                        </td>
                                        <td><span class="badge badge-@(item.IsAktif ? "success" : "danger")">@(item.IsAktif ? "Aktif" : "Pasif")</span></td>


                                    </tr>
                                    <tr class="cls-ana-@item.MezuniyetSurecID delrw_@item.MezuniyetSurecID" style="display:none;">
                                        <td id="cls-ana-@item.MezuniyetSurecID" colspan="5" style="height:350px;vertical-align:top;"></td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" style="text-align: center">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function ShowDetail(id, tip) {
        var rwID = $('#iShow-' + tip + id);
        var cls = 'cls-' + tip + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
        if (unTogled && tip == "ana-") setTimeout(getDetail(id), 400);
    }
    function ShowDetailX(id, tip) {
        var rwID = $('#iShow-' + tip + id);
        var cls = 'cls-' + tip + id;
        var unTogled = ($('.' + cls).css("display") == "none");
        toggleByClass(rwID, cls, unTogled);
    }
    function getDetail(id, sndr) {

        var tbName = "@TabAdiEnum.MezuniyetSureciTn-" + id;
        var tID = GetSelectedTabID(tbName);
        if ($('#SelectedTb-' + tbName).length > 0) {
            subData(id,sndr);
        }
        else {
            $.ajax({
                url: '@Url.Action("GetMsDetail", "MezuniyetSureci")',
                data: { id: id, tbInx: tID },
                async: false,
                success: function (result) {
                        $('#cls-ana-' + id).html(result);
                        subData(id);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        }

    }



    function subData(id) {

        var _panel = $('#pnglDB_' + id);
        var tbName = "@TabAdiEnum.MezuniyetSureciTn-" + id;
        var tID = GetSelectedTabID(tbName);
        PanelRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("GetMsSubData", "MezuniyetSureci")',
            data: { id: id, tbInx: tID  },
            success: function (result) {

                $('#' + tbName + '-' + tID).html(result);
                PanelRefresh(_panel, true);

            },
            error: function (err) {
                alert(err.responseText);
                PanelRefresh(_panel, true);
            }
        });
    }

</script>

<script type="text/javascript">
    function GetOtoMailAyarView(id) {
        $.ajax({
            url: '@Url.Action("GetOtoMailAyarView")',
            data: { id: id },
            async: false,
            success: function (result) {
                bootbox.dialog({
                    message: "<div id='otoMailAyarView'>" + result + "</div>",
                    title: "Mezuniyet Süreci Otomatik Bilgilendirme Mail Gönderim Ayarları",
                    buttons: {
                        danger: {
                            label: "Kapat",
                            className: "btn-primary",
                            callback: function () {
                            }
                        }
                    }
                });
            }
        });
    }
      function GetKriterMuafOgrencilerView(id) {
        var view = "";
          $.ajax({
              url: '@Url.Action("KriterMuafOgrenciler")',
              data: { id: id },
              async: false,
              success: function (result) {
                  view = result;
              }
          });
        return view;
    }
    function GetKriterMuafOgrenciler(id) {
        var view  = GetKriterMuafOgrencilerView(id);
        bootbox.dialog({
            message: "<div id='muafOgrenciContent'>" +  view + "</div>",
            title: "Mezuniyet Süreci Başvuru Kriterinden Muaf Öğrenciler",
            buttons: {
                danger: {
                    label: "Kapat",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });

    }
    function SilmeOnay(id) {
        var btbx = bootbox.dialog({
            message: "<table style='table-layout:fixed;width:100%;'><tr><td style='font-size:14pt;text-align:center;color:maroon;'>Seçilen Mezuniyet Sürecini Silmek İstiyor Musunuz?</td></tr></table>",
            title: "Mezuninet Süreci Silme İşlemi",
            buttons: {
                success: {
                    label: "Mezuniyet Sürecini Sil",
                    className: "btn-danger",
                    callback: function () {
                        sil(id);
                    }
                },
                danger: {
                    label: "Kapat",
                    className: "btn-primary",
                    callback: function () {
                    }
                }
            }
        });
    }
    function sil(id) {
        $.ajax({
            url: '@Url.Action("Sil", "MezuniyetSureci")',
            data: { id: id },
            success: function (result) {
                if (result.IsSuccess) {
                    $(".delrw_" + id).remove();
                }
                showMmMessage(result.Messages, 'Tamam');
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }



     function showDetailSna(id) {
         var sndr = $('#iShow_' + id);
         var cls = 'cls-' + id;
         var unTogled = ($('.' + cls).css("display") == "none");
         toggleByClass(sndr, cls, unTogled);
     }
</script>