@using LisansUstuBasvuruSistemi.Utilities.Dtos
@using BiskaUtil
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@model KmMezuniyetSureci
@{
    var mmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kmMzOtoMail = (List<MezuniyetOtoMailDto>)ViewBag.kmMzOtoMail;
    var isYonetmelikKopyala = (bool?)ViewBag.IsYonetmelikKopyala;
}

<div class="row">
    <form id="FrmMezuniyetSurec" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
        <input type="text" style="display:none;" id="MezuniyetSurecID" name="MezuniyetSurecID" value="@Model.MezuniyetSurecID" />
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-time"></i> Başvuru süreç kaydı</h3>
                    <ul class="panel-controls">
                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Kayit", "MezuniyetSureci", new { id = Model.MezuniyetSurecID })';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>


                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Enstitü</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("EnstituKod", null, new { @class = "form-control", style = "padding:0px;", onchange = "getOtBilgi(this);" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Öğretim Yılı</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("OgretimYili", null, "", new { @class = "form-control", style = "padding:0px;" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Başlangıç / Bitiş Tarihi</label>
                                <div class="col-md-9 col-xs-7">
                                    <table>
                                        <tr>
                                            <td><input class="form-control input-medium" autocomplete="off" size="16" type="text" value="@Model.BaslangicTarihi.ToFormatDateAndTimeInput()" name="BaslangicTarihi" id="BaslangicTarihi"></td>
                                            <td style="width:5px;text-align:center;">/</td>
                                            <td><input class="form-control input-medium" autocomplete="off" size="16" type="text" value="@Model.BitisTarihi.ToFormatDateAndTimeInput()" name="BitisTarihi" id="BitisTarihi"></td>
                                        </tr>
                                    </table>

                                </div>
                            </div> 
                            <div class="form-group">
                                <div class="col-md-12 col-xs-12" id="_otBilgi">
                                    @{Html.RenderPartial("GetOtBilgiM", Model.OgrenimTipModel);}
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Bezcilt Oluşturulurken İstenen Anket</label>
                                <div class="col-md-9 col-xs-7">
                                    @Html.DropDownList("AnketID", null, new { @class = "form-control", style = "padding:0px;" })
                                </div>
                            </div>
                            @if (Model.MezuniyetSurecID > 0)
                            {
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label padding-top-0 padding-bottom-0">Yönetmelik Bilgilerini Kopyala</label>
                                    <div class="col-md-9 col-xs-7 padding-top-0 padding-bottom-0">
                                        <div class="make-switch" data-on-label="Evet" data-off-label="Hayır" data-on="info" data-off="danger">
                                            <input type="checkbox" value="true" name="IsYonetmelikKopyala" class="toggle" @isYonetmelikKopyala.ToChecked() />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label padding-top-0 padding-bottom-0">Durum</label>
                                    <div class="col-md-9 col-xs-7 padding-top-0 padding-bottom-0">
                                        <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="info" data-off="danger">
                                            <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply"></i>Geri Dön</a>
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $(function () {
        $('#BaslangicTarihi').datetimepicker({
            lang: 'tr',
            timepicker: true,
            format: 'Y-m-d H:i'
        });
        $('#BitisTarihi').datetimepicker({
            lang: 'tr',
            timepicker: true,
            format: 'Y-m-d H:i'
        });
         

        var model = '@Html.Raw(Json.Encode(mmMessage))';
        validateControl(model);
    });
    function getOtBilgi(sndr) {
        var _panel = $('#_otBilgi');
        PanelRefresh(_panel, false);
        var sndrVal = $(sndr).val();
        if (sndrVal != null && sndrVal != "") {
            $.ajax({
                url: '@Url.Action("GetOtBilgiM", "MezuniyetSureci")',
                data: { EnstituKod: sndrVal, MezuniyetSurecID: '@Model.MezuniyetSurecID' },
                success: function (result) {
                    $("#_otBilgi").html(result);
                    PanelRefresh(_panel, true);
                },
                error: function (err) {
                    alert(err.responseText);
                    PanelRefresh(_panel, true);
                }
            });
        }
        else {
            $("#_otBilgi").html('');
            PanelRefresh(_panel, true);
        }
    }
</script>
